[2015-09-26 02:02] timabbott opened #1 "Setup Linux builds for various Ubuntu versions in a PPA"
There's already a debian packaging in debian/  in the repo, so this should be a relatively easy project.

[2015-09-26 11:34] kostich opened #2 "Zulip isn't internationalised"
It doesn't seem that the Zulip is internationalised and ready for localisation.

It should be internationalised so it can become best open source solution for Skype-like enterprise communication.

[2015-09-26 11:46] kostich opened #3 "First run dialog can' be closed. Trying to close via icon in a systray activates an empty window."
Fedora 22 Workstation.

I've just tried to run the client, before setting up server. Saw that it asks for a server address at the beggining. Since I didn't had the server setted up, tried to close it. No way to close it in the dialog window. So I tried to close it via the icon in a systray.

When you click the icon in a systray, while the "First Run" dialog is active, will activate an empty main w

[2015-09-26 12:34] kostich opened #4 "LICENSE file is missing"
LICENSE file is missing from the root dir. I guess that the license of the code is the same as for zulip server (Apache v2).

[2015-09-26 20:17] timabbott commented on #2
Definitely an issue; I think most of the work overall to internationalize Zulip will be in the server+webapp, though, not the desktop app wrapper (though there is a bit there).

[2015-09-27 11:06] mastodon opened #5 "Add server URL configuration variable"
I filled out the initial configuration dialog with a bogus URL under OSX. There appears to be no way of changing said URL later under Preferences.

[2015-09-27 19:55] timabbott commented on #5
Yeah that definitely needs to be added to preferences, and should be easy to do.  There are a few workarounds available:

* Run it with e.g. "zulip --site https://zulip.example.com"
* It saves a config file somewhere; I don't have a mac handy so I can't easily check where; @lfranchi can you post that on this thread?

[2015-09-28 11:46] bastianh commented on #5
I found 2 preferences files in
~/Library/Preferences/com.zulip.Zulip.plist
and
~/Library/Preferences/org.zulip.Zulip\ Desktop.plist
but deleting them did not reset the server

[2015-09-28 13:33] mastodon commented on #5
I also dug around in the code and I am not certain that the --site option does anything on the Mac desktop.

[2015-09-28 15:56] lfranchi commented on #5
OK there were some recently introduced issues that I just pushed a fix for. The state of the world is now:

1. `--site <foo>` overrides all other domain options and will load that Zulip domain (and save it for the future)
2. the `Domain` setting in `org.zulip.Zulip Desktop.plist` is used by default
3. If no `Domain` setting exists AND `InstanceDomains` (a list) exists, use the last InstanceDomain

[2015-09-28 15:56] #5 closed

[2015-09-28 15:57] #4 closed

[2015-09-28 16:12] #3 closed

[2015-09-28 16:13] lfranchi commented on #2
Qt has built-in support for translations. The work here is basically around:

1. Wrapping all user-visible strings in `tr()`
2. Doing the work to package localization files during deployment
3. Setting up something like https://www.transifex.com/ to allow users to crowd-source translations and periodically include them in our build / distributions

[2015-09-28 16:34] kostich commented on #2
As a translator on Transifex, I would like to say that the translation process should be done there. Transifex is a very comfy and fast way for translating.

[2015-09-29 04:43] lfranchi commented on #2
Agreed, Transifex would make sense, both for the desktop app and for the zulip web app as well.

[2015-09-29 17:33] phillip-white-sociomantic opened #6 "self signed ssl certs not supported"
I have a Zulip server that uses a self signed ssl cert. I am aware from this post https://groups.google.com/forum/#!topic/zulip-devel/e0PlJrePhYw that self signed certs are not supported. I am using the Windows desktop app from https://zulip.com/dist/apps/win/zulip-latest.exe

Can self signed ssl certs be supported on the native desktop app?

[2015-09-29 17:38] lfranchi commented on #6
This has 2 parts: making it work on linux/windows (QNetworkAccessManager) and OS X (NSUrlRequest).

[2015-09-30 06:41] timabbott commented on #1
I put these in: https://launchpad.net/~tabbott/+archive/ubuntu/zulip-desktop

I'd love to hear any reports of these working; if so I can post them properly.

[2015-09-30 06:42] timabbott commented on #5
@lfranchi have we done a new release with these fixes?

[2015-09-30 06:55] hakanersu commented on #1
It doesnt work for me.After i enter my server address im getting white blank page.

[2015-09-30 06:59] timabbott commented on #1
Does the server have a self-signed certificate?  In that case the problem is #6

[2015-09-30 07:02] hakanersu commented on #1
I guess you are right. I'll fix my certificate issue and try again.

[2015-09-30 08:01] hakanersu commented on #1
After fixing certificate linux app works fine now.

Also windows app works with  ``` --site https://yourzulip.com ``` param but my coworkers don't like just first notification hangs on screen.

[2015-09-30 08:56] phillip-white-sociomantic commented on #1
@hakanersu How did you fix the certificate issue?

[2015-09-30 08:58] hakanersu commented on #1
@phillip-white-sociomantic my certificate wasn't installed correctly so after installed correctly app works fine now.

[2015-09-30 09:46] phillip-white-sociomantic commented on #1
@hakanersu That's strange. I believe i have my cert setup correctly. I use a self signed cert installed with:
openssl genrsa -des3 -passout pass:x -out server.pass.key 1024
openssl rsa -passin pass:x -in server.pass.key -out zulip.key
rm server.pass.key
openssl req -new -key zulip.key -out server.csr
openssl x509 -req -days 365 -in server.csr -signkey zulip.key -out zulip.combined-chain.crt
rm ser

[2015-09-30 10:09] hakanersu commented on #1
@phillip-white-sociomantic Sorry not self signed.

[2015-09-30 16:07] timabbott commented on #1
@phillip-white-sociomantic the app doesn't work with self-signed certs right now; see ticket #6

[2015-09-30 16:47] lfranchi commented on #5
@timabbott Not yet

[2015-09-30 16:57] shane-kearns commented on #6
The sslErrors signal is emitted when certificate verification fails:
http://doc.qt.io/qt-5/qnetworkaccessmanager.html#sslErrors

Whereas QSslConfiguration is the place to add additional CA certificates, for example to trust a company internal CA only for this application.

[2015-09-30 18:52] aedelsten commented on #5
Was the "--site" command line parameter added to the Windows client as it doesn't seem to work on the "zulip-latest.exe" installer from today.

Additionally, where is the server address stored on Windows as I can't see it anywhere.

[2015-09-30 20:26] lfranchi commented on #5
@aedelsten the current build doesn't have the above fix.

On windows I need to check, but it's stored in the registry (I think `HKEY_CURRENT_USER\Software\Zulip` or something like that). You can remove all Zulip entries in the registry and open zulip

[2015-10-01 16:26] aedelsten commented on #5
@lfranchi thanks for that, I found it here: HKEY_CURRENT_USER\Software\Zulip\Zulip Desktop\InstanceDomains\1

[2015-10-01 17:26] Gunni opened #7 "Use DNS SRV records for server location"
When someone registers on https://zulip.example.com/ using the email bob@example.com, he is unable to use the desktop app at the current time.

So I would like to suggest standardizing the following:

DNS SRV records are designed for this kind of thing, i could define a DNS record:

    _zulip._tcp.example.com 3600 IN SRV 0 1 443 zulip.example.com.

In that case, the apps can just query for _zulip

[2015-10-05 17:38] paulolc commented on #6
Maybe a configurable directory where to place those internal CA certificates? Accepting self-signed certs is out of question?

[2015-10-05 17:46] timabbott commented on #6
I think a configurable directory to place internal CA certs would be a pretty reasonable solution.

[2015-10-05 18:05] lfranchi commented on #6
I suspect a configurable directory to place CA certs could be more work than adding a --insecure flag that makes the client ignore ssl cert verification errors.

Less secure as well though :)

[2015-10-05 18:50] lfaraone commented on #1
I'll see if I can't get automatic daily builds up and running on Launchpad this weekend.

[2015-10-05 19:57] timabbott commented on #6
Yeah I think at least for some users, the secure solution is the only option that solves their problem, so I'd rather invest time into that...

[2015-10-06 18:24] nicholasdavidson commented on #6
I've been working on this on and off in my spare time because my employer is investigating using zulip, my current plan of action is to add both a dialogue to allow the user to accept a self-signed certs and a place where certs you've accepted are stored. This should neatly solve both requirements as a ca-cert could be copied into the certs directory directly.

[2015-10-06 18:26] timabbott commented on #6
Cool!  That seems pretty reasonable.

[2015-10-07 05:47] lastmikoi opened #8 "System keyring integration"
Currently Zulip doesn't support fetching and saving a given user's credentials using a system keyring (i.e. gnome-keyring for linux).

It would be nice to have that feature as it would help integrate Zulip into more environments.

[2015-10-07 05:58] lastmikoi opened #9 "Notification system integration"
Under Linux, Zulip notifications are displayed through a notification bubble from the systray icon.

It would be interesting to make Zulip send notifications to an available `notification-daemon` through D-BUS (see https://people.gnome.org/~mccann/docs/notification-spec/notification-spec-latest.html#commands), so that notifications would be integrated into already-existing notification systems (su

[2015-10-07 05:59] lfranchi commented on #6
Great! Happy to review when ready :)

[2015-10-07 13:13] lfaraone commented on #9
Thanks @lastmikoi !

The place to implement this would be [`PlatformInterface.cpp`](https://github.com/zulip/zulip-desktop/blob/master/src/PlatformInterface.cpp#L82); that file is used on Linux environments and currently just does:

[code]

[2015-10-07 13:17] lfaraone commented on #8
The Desktop app currently just stores the session cookie in a cookie jar. See [`cookiejar.cpp`](https://github.com/zulip/zulip-desktop/blob/master/src/cookiejar.cpp).

Perhaps using something like [frankosterfeld/qtkeychain](https://github.com/frankosterfeld/qtkeychain) or [mhogomchungu/lxqt_wallet](https://github.com/mhogomchungu/lxqt_wallet) (if not the GNOME Keyring/KWallet APIs directly) would

[2015-10-07 21:12] pieter opened #10 "App doesn't respect key bindings (OS X)"
When using the app in OS X, keyboard layout set in the OS is not respected.

Steps to reproduce:

* Set keyboard mapping to Dvorak in System Preferences
* Launch Tulip
* Try Command-V (command + physical .), see that nothing happens
* Press command + physical V (Command-k in Dvorak), see that paste works

[2015-10-08 00:13] lfranchi commented on #10
Unfortunately known. Due to bugs in QMacNativeWidget we handle some key events directly, and don't take different layouts into account. See https://github.com/zulip/zulip-desktop/blob/master/src/webview/HWebView_mac.mm#L240

[2015-10-08 20:03] nibbler3465 commented on #5
@lfranchi i was able to get a custom domain with desktop setting the `Domain` string value in `HKEY_CURRENT_USER\SOFTWARE\Zulip\Zulip Desktop\`. It is worth noting that the domain needed to be specified with protocol (ie 'https://customdomain.com', as opposed to 'customdomain.com')

[2015-10-13 12:04] slurdge commented on #6
@nicholasdavidson
hi, I have a patch with an option to have insecure ssl with command line (i use it with my own server), i put it on hold I guess?

[2015-10-13 13:11] nicholasdavidson commented on #6
I am still working on this but I've not had much spare time to finish it off and I don't want to block an improvement that's ready to go.

[2015-10-13 15:25] timabbott commented on #6
@nicholasdavidson If you're not likely to find time to finish it soon, you should feel free to just post your partial branch so other folks can build off of it if they're excited to.

[2015-10-13 16:19] lfranchi commented on #6
@slurdge we can include your insecure command-line switch as well as support the proper custom-ca-certs folder feature. So feel free to open a pull request :)

[2015-10-16 16:04] lfranchi commented on #6
As of issue #12, now `--allow-insecure` works on windows and linux. OS X support still missing.

[2015-10-18 21:47] slurdge commented on #6
@lfranchi Any idea of what is the missing bit for OSX? I don't have it myself, but maybe the patch is simple enough?

[2015-10-19 09:04] heitorlessa opened #14 "Add Custom domain to access instead of zulip.com"
Hi,

 I've just installed Zulip server locally and while trying to use the Desktop App it turns out that it only goes straight to Zulip.com domain.

 Is there currently any way to change that so I can use both App (Mobile/Desktop) to point to my custom Zulip installation?

Thanks

[2015-10-19 09:09] heitorlessa commented on #14
I must say that this is on Windows, on Mac this is easily achieved by using '--site <custom URL>'. Sounds like I'm missing something but I keep getting a blank page on Windows though

[2015-10-19 16:33] bgilbert opened #15 "HiDPI support"
At least on Fedora 22 (GNOME 3.16), the app uses unreadably tiny font sizes on HiDPI displays.

[2015-10-20 07:47] bastianh commented on #14
On mac there is also a notification icon ... are you sure there is no icon in the taskbar on windows?

[2015-10-20 07:59] heitorlessa commented on #14
Hi Bastian,

There is an icon on the Windows Tray but there's nothing much available
apart from notification settings, etc. It would be great if I could specify
which Zulip Site I would like to connect.

Currently, Zulip works just fine with Custom Site for me on Mac (personal)
but it doesn't work on Windows :/

Just to be triple sure, on Mac I pass --site "https://CustomURL" but on
Windows it jus

[2015-10-20 09:35] Bl4ckM commented on #15
+1, @Windows 8.1, X1 Carbon 2014.

[2015-10-20 15:08] WolkoDav commented on #6
Can anybody explain, we build project with latest changes and run with --allow-insecure arg. Unfortunately, we have white screen.

[2015-10-20 15:47] slurdge commented on #6
@WolkoDav that's exactly how it should work. Do you have something in the logs ? What platform are you running on? I tested on both Linux and Windows and it worked with a self-signed certificate.

[2015-10-21 06:39] WolkoDav commented on #6
Platform is Windows 10.
Logs:

    QNetworkReplyImpl::_q_startOperation was called more than once
    qt.network.ssl: QSslSocket: cannot call unresolved function SSLv23_client_method
    qt.network.ssl: QSslSocket: cannot call unresolved function SSL_CTX_new
    qt.network.ssl: QSslSocket: cannot call unresolved function SSL_library_init
    qt.network.ssl: QSslSocket: cannot call unresolved funct

[2015-10-21 10:48] mgrobelin commented on #14
+1 for having --site parameter in Windows App aswell, just how the Linux App behaves

[2015-10-22 08:10] theundefined opened #17 "intermediate certs aren't supported."
I have server which have cert class1 from startssl. It works fine, browser works, server send own certificate and intermediate certificate.

But - zulip-desktop on linux doesn't work with it.
It works when fine when i use --allow-insecure, or when i add intermediate cert for ca-certificates (https://www.startssl.com/certs/sub.class1.server.ca.crt do /etc/ssl/certs, and update-ca-cert to make links

[2015-10-22 19:35] lfaraone commented on #17
Please verify your server is correctly sending the intermediate certificate.

Zulip.com uses an intermediate certificate ("DigiCert SHA2 High Assurance Server CA"), and the client is able to verify the chain correctly.

[2015-10-23 14:55] phillip-white-sociomantic commented on #6
@timabbott Can you possibly include this fix in your ppa version? The build is not working for me, and i would rather have a deb for it anyway.

[2015-10-23 21:39] theundefined commented on #17
sorry, my fault. intermediate certifivate was invalid. now - works fine :-)

[2015-10-23 21:39] #17 closed

[2015-10-23 21:43] timabbott commented on #17
I'm thinking we may want to add an easy way to test on the server side for whether a proper set of intermediate certs is setup so that folks catch this issue while configuring their server...

[2015-10-23 21:43] timabbott commented on #17
I'll open a ticket for that

[2015-10-25 04:45] timabbott commented on #6
@phillip-white-sociomantic I just sent a build of 0.5.1 to the Linux PPA.

[2015-10-25 05:39] wolfen351 commented on #1
@timabbott please will you update the binary in the https://launchpad.net/~tabbott/+archive/ubuntu/zulip-desktop above?

I'm still getting the white screen, even with a proper cert in place. I have read around these parts there is a --allow-insecure and a --site option? It would be really nice to document the command line switches somewhere?

Also does the above build already contain the 2 switche

[2015-10-25 10:38] wolfen351 commented on #14
i can open https://www.yahoo.com on windows using the --site parameter, just not our zulip.(something).com domain

[2015-10-25 10:41] wolfen351 commented on #14
I have read elsewhere that there is an --allow-insecure option, but this seems to have no effect in windows

[2015-10-25 10:59] wolfen351 opened #19 "Please document command line switches for the desktop app somewhere?"
Well the title says it all really.. Please document command line switches for the desktop app somewhere?

I *think* these switches exist:

* --site https://www.sitename.com     - this opens the client app using the site specified
* --debug                                           - This outputs debug info (unconfirmed)
* --allow-insecure                              - May allow bad certs to be ig

[2015-10-25 16:28] timabbott commented on #19
Probably the right solution here is to add a `--help` option that documents these.

[2015-10-25 16:35] timabbott commented on #1
Yeah @wolfen351  I actually just uploaded 0.5.1 to my zulip-desktop PPA yesterday.

[2015-10-26 03:53] decker502 opened #20 "problem with make_msvc_package.bat"
Hi,
      Script can't find ```call c:\Qt\qt_env.bat``` when I use ```make_msvc_package.bat``` to build a Zulip Desktop release with MSVC. What do I missed?  thanks.

[2015-10-26 15:42] lfaraone commented on #20
Can you post the full console output of your build attempt?

[2015-10-27 01:28] decker502 commented on #20
@lfaraone output is:

[code]

[2015-10-27 08:13] oemergenc commented on #19
Hey, i am still having trouble in getting the --allow-insecure switch to work. Can anyone post the complete command line switch used on windows to start the application with this flag enabled? I was not able to get any of those switches to be enabled after startup. Usually, i am using a bat file for tasks like this. However, nothing seems to work.

i tried the following command:
<code>
start "" "C

[2015-10-27 10:04] kpervoelzFHG commented on #6
@WolkoDav Did you solve your white screen problem? We are facing the same problem here with a self signed certificate.

The Mac app works just fine with our server but the latest windows app (zulip-latest.exe from today) just shows a white screen after startup. We are using Windows 7.

[2015-10-27 10:34] slurdge commented on #6
@kpervoelzFHG I added a command line switch. Did you try to launch it with a --allow-insecure flag? Just running it as is will not work (and exhibit white screen).

[2015-10-27 10:43] kpervoelzFHG commented on #6
yes, I did. I tried "zulip.exe --allow-insecure" from the command line to start zulip but got

Error: "The certificate is self-signed, and untrusted" "The certificate is self-signed, and untrusted"...

in the log file. Am I using the command line option the right way?

[2015-10-27 10:44] WolkoDav commented on #6
@kpervoelzFHG No, i reinstalled openssl and running client with --allow-insecure. Maybe i'm doing somethink wrong. i'm trying to build this with qt 5 and qt 4 after.

[2015-10-27 10:45] slurdge commented on #6
@WolkoDav good remark. I build with qt5. Maybe the 0.5.1 build is with qt4, which has different semantics for ssl.

[2015-10-27 10:49] WolkoDav commented on #6
@slurdge May be need some specific libraris for that? I'm trying use openssl libs for that, but its still not working...

[2015-10-27 10:52] slurdge commented on #6
@WolkoDav frankly I don't have a clue. For Linux I just build with default libraries fro qt5.

[2015-10-27 11:01] casimirextreme commented on #6
@all: Why not using a free ssl (only class 1 but still) certificate from https://www.startssl.com/ ?

zulip-desktop works without any hicups. The only thing to add is the intermediate certificate on the nginx config.

[2015-10-27 11:47] kpervoelzFHG commented on #6
@casimirextreme Does this work also for internal server (no public domain name). As far as I understand the infos from startssl.com the class 1 certificates can be verified by domain and/or eMail. Do you know if I can use a class 1 certificate which is only validated by my eMail address for my internal zulip server without any problems?

[2015-10-29 11:24] SewmiGitHub commented on #6
We resolved the issue (white screen after startup) by generating a certificate using our Internal CA to which all the domain computers are connected to. Then deleted the certificate and the key in the zulip server and replaced them with the ones generated by our Internal CA and renamed them to zulip.combined-chain.crt and zulip.key. Gave a 'service nginx restart'. Then zulip desktop worked just fi

[2015-10-29 19:31] Fhajad commented on #6
Should the --allow-insecure work on the current Windows build? We're currently just testing Zulip and don't have our own Internal CA.

[2015-10-30 15:38] kpervoelzFHG commented on #6
As far as I can see, the option is supposed to work on the latest windows build (pull request was merged on Oct. 15th and latest windows build is from Oct. 16th) but we couldn't get it running here with a self signed certificate. On windows we are facing the "white screen problem".

[2015-11-02 18:38] lfranchi commented on #20
A caveat here is that the MSVC build process is not super supported (and has never been used to ship one of our binaries -- we still cross-compile from opensuse).

From memory, `qt_env.bat` is a file that sets up PATH and QT_PLUGIN_PATH and QTDIR to point to the correct Qt install. Unfortunately I don't have access to the windows machine that file is on right now so I can't confirm

[2015-11-02 18:40] lfranchi commented on #19
@STRML feel free to open a PR with that commit! Once you sign the CLA i'll happily merge :)

[2015-11-02 19:16] STRML commented on #19
Whoops, didn't realize I opened it on my own repo - will move it.

[2015-11-03 21:10] #19 closed

[2015-11-04 05:35] timabbott commented on #2
Adding a pointer to https://github.com/zulip/zulip/issues/132 since progress on i18n for Zulip is being tracked there.

[2015-11-04 13:01] paddy-garcia opened #22 "Tag 0.5.1?"
Can you create the tag 0.5.1 for new version mentioned in 631b92ea7d8d5f89349f8ff225d367115df375b3 ?

[2015-11-04 23:09] lfranchi commented on #22
Done!

[2015-11-04 23:09] #22 closed

[2015-11-08 09:30] smewp commented on #6
I'm using a comodo positive SSL and have main server, mac client, ios clients running fine with no problem.  However, can't get the windows client beyond white screen, tested on several different windows 10 computers. Installed, reinstalled, several times, no help.  Is there a windows client troubleshooting guide?  Thanks all.

[2015-11-10 12:07] ahhhkah commented on #6
We got the white screen problem as well using client version 0.5.1 and a self signed certificate (flagged with --allow-insecure on Windows 8.1).

[2015-11-10 17:29] excieve commented on #9
I'm not experienced with C++ or Qt but I'd like to give it a try if no one else is working on it.

Utilising `libnotify` is probably undesirable as it brings in several Gtk-world dependencies. The options I can think of is either using Qt's D-Bus classes directly or use `qdbusxml2cpp` utility to generate a proxy class from the XML interface definition and use that.

I've never used either approach

[2015-11-10 19:18] excieve commented on #9
Right, so the generated proxy code looks sane to me but a little bit different for Qt4 and Qt5. Fortunately this can be handled by cmake macros at build time. So unless there are any objections I'll just go on and implement it this way.

[2015-11-11 15:03] phillip-white-sociomantic opened #24 "OSX and Windows pre built installers"
Hi Everyone,

Can someone share their build of the osx and windows client? I'm currently using the deb package from the PPA Tim provided, which is great for Linux. Maybe we can share the os x and windows builds to make things a little easier?

[2015-11-12 09:13] zaafar commented on #6
yes, same while screen problem in windows client (0.5.1) and self signed certificate.

[2015-11-12 21:05] asmartin opened #26 "Detect user activity to update Zulip status"
A native app should have more access to the operating system than a webapp, and could perhaps detect if a user is actively logged into a machine and thus keep their status in Zulip active whenever they are logged in (even if the Zulip window isn't in focus). If the user logs out or the computer is locked, their status in Zulip could be changed to idle. This would allow a user to continue to be act

[2015-11-13 02:31] lfranchi commented on #24
@phillip-white-sociomantic What are you looking for exactly? Are the packages on https://zulip.org/clients.html not what you want?

[2015-11-13 08:25] phillip-white-sociomantic commented on #24
@lfranchi Thanks for the download links. This is v0.51 the ones i was looking for. I am running v1.3.7 of Zulip, and the apps page gives me a download link of https://zulip.com/dist/apps/sso/mac/Zulip-latest.dmg, which is only v0.4. The same for the windows version, i get a link https://zulip.com/dist/apps/sso/win/zulip-latest.exe, which is v0.4.4.

I think we need to update the apps page on the s

[2015-11-13 17:00] lfranchi commented on #24
Ah, i believe you are hitting https://github.com/zulip/zulip/pull/261 which has recently been merged but I don't think is in 1.3.7. Closing this, thanks!

[2015-11-13 17:00] #24 closed

[2015-11-14 09:40] smewp commented on #6
To follow up, in our case I was not trying to use self signed certificate, but still had the white screen issue.

Predictably it turns out I had misconfigured the ssl. Windows client v0.5.1 is working now after combining the .crt and .ca-bundle per instructions at below link and then installing it as /etc/ssl/certs/zulip.combined-chain.crt.

https://support.comodo.com/index.php?/Default/Knowledgeb

[2015-11-14 10:14] zaafar commented on #6
I am able to run windows client (0.5.1) using self signed certificate by installing it into the internet explorer. This method is insecure but it works. Following are the steps to add the certificate into internet explorer.
- Run IE in administrator mode
- open your zulip server website on IE and click “Certificate Error” at the right of the address bar
- Click on “Install Certificate...”, then in

[2015-11-16 10:03] ahhhkah commented on #6
Thank you @zaafar.

I managed to install the certificate via certmgr.msc into  “Trusted Root Certification Authorities” and now I am able to use the desktop client.

[2015-11-16 14:51] wallace opened #27 "Autocomplete in Mac and Windows"
I'm experiencing an issue where the autocomplete on my mac os x stops working. A restart of the application resolves it. Another co-worker reports the same issue on Windows. Is there a way for me to provide better information than this general issue? Some type of log file, etc. that I can attach to this issue?

[2015-11-16 14:54] wallace commented on #27
Oops, I see this: https://groups.google.com/forum/#!topic/zulip-announce/aBekPjJp-RE. It looks like our use of LDAP may be the root cause. We'll upgrade and re-open if there's a need. Thanks for an excellent piece of software!

[2015-11-16 14:54] #27 closed

[2015-11-16 15:30] leoluk commented on #7
+1

SRV records would be the right thing to do for the Android app as well.

[2015-11-16 16:44] Fhajad commented on #26
I second this enhancement. This is something that would drastically improve Zulip's feature set to compete more with Skype for Business. It helps to know the instant someone may be away or if they're actively sitting at their computer unlocked.

[2015-11-16 16:54] jab opened #28 "check for updates does not work"
Using version 0.5.0 on OS X 10.10.5.

Please see https://www.youtube.com/watch?v=r1ldXqiphA8 for a demonstration of the bug.

[2015-11-16 16:55] jab opened #29 "tray icon remains visible after unchecking "Show Tray Icon""
Using version 0.5.0 on OS X 10.10.5.

Please see https://www.youtube.com/watch?v=r1ldXqiphA8 for a demonstration of the bug.

[2015-11-16 16:55] jab opened #30 "checkboxes and radio button state changes are almost impossible to see"
Using version 0.5.0 on OS X 10.10.5.

Please see https://www.youtube.com/watch?v=r1ldXqiphA8 for a demonstration of the bug.

[2015-11-17 03:43] lfranchi commented on #29
After you close the dialog, the action takes effect -- can you confirm?

[2015-11-17 03:44] lfranchi commented on #29
(edited title to reflect this)

[2015-11-17 03:46] lfranchi commented on #30
This is due to 10.10's UI changes.

[2015-11-18 02:29] jab commented on #29
confirmed! didn't think to try that. thanks for updating the title ;)

[2015-11-18 02:30] jab opened #31 "include menu item for "Preferences" in the tray menu"

[2015-11-18 02:35] jab opened #32 "offer setting for hiding Zulip from dock / taskbar / app switcher"
a setting for hiding Zulip from the dock/taskbar/app switcher would complement the setting to show an icon in the tray nicely. rather than an additional checkbox, these could be folded together in a dropdown like:

show zulip in the:
dock (taskbar)
menu bar (system tray)
both

[2015-11-18 20:24] Fhajad opened #33 "White Screen after Cert Change"
I was using a self signed certificate until I got our wildcard certificate ordered. I got it installed and working with the web app, but the desktop all is back to a white screen. It was working fine previously with unsecured mode launched, but now doesn't work in either mode with a trusted cert.

[2015-11-19 07:19] #9 closed

[2015-11-19 08:45] Epighue commented on #6
@smewp Tried to follow the comodo article you recommended. Eg code was Example Syntax: cat www_yourdomain_com.crt www_yourdomain_com.ca-bundle > ssl-bundle.crt
Where did you get the .ca-bundle to combine for self signed cert? Thanks. New to this.

[2015-11-19 13:23] Fhajad commented on #6
@Epighue @smewp wasn't using a self signed cert, only thrusted certs have a bundle for their certificate and them intermediate certificates. All the steps for creating a cert automatically are mentioned in the README.prod.md in the first section about "Installing Zulip in production". Just use those lines and it'll be taken care of automatically.

https://github.com/zulip/zulip/blob/master/README.

[2015-11-20 02:59] Fhajad commented on #33
I also tried uninstalling the Zulip program and re-installed but it still kept the domains somewhere despite deleting the Appdata. Still just a white screen.

I then did a fresh install onto my laptop, also a pure white screen.

[2015-11-20 06:19] lfranchi commented on #33
What platform are you on? On mac, you can clear the settings by removing `~/Library/Preferences/*Zulip*`, and on windows it's in the registery under `HKEY_CURRENT_MACHINE\Software\Zulip` i think.

[2015-11-20 13:40] Fhajad commented on #33
I'm using Windows, forgot to mention that bit.

Since it also failed on a fresh unit, I doubt that will fix it but I'll try it out when I get to work.

[2015-11-20 16:30] grohman2 commented on #33
My desktop also has this issue (web version working perfectly). No idea what to do to resolve...

[2015-11-20 16:43] Fhajad commented on #33
@grohman2 Is your cert self signed? Currently the desktop app doesn't support self-signed untrusted certs off hand. Issue #6 has more information on that matter. This issue I went from a self-signed to a trusted cert and have a white screen.

[2015-11-23 13:02] grohman2 commented on #33
@Fhajad Yep, I use self signed cert. Thanks for advice.

[2015-11-23 20:33] smewp commented on #33
@Fhajad I had the same issue with white screen using trusted cert, web app was working in Chrome but the desktop apps not working.

In my case I had misconfigured the SSL by not properly combining the .crt and .ca-bundle into one file and then saving it as /etc/ssl/certs/zulip.combined-chain.crt.  You may want to revisit this to rule it out.

This helped me: https://support.comodo.com/index.php?/D

[2015-11-25 18:03] Fhajad commented on #33
@smewp Yep that was it. Used the proper intermediate cert from Thawte and now good to go! Thank you.

[2015-11-25 18:03] #33 closed

[2015-12-08 02:21] chadrik opened #35 "clicking on a desktop notification does not highlight the corresponding message"
Hi,
We're testing Zulip on Fedora 19 and so far it's working pretty well, but this issue is creating a lot of headaches.  Like the title says, if you click on a desktop notification it brings up the client window, but it does not trigger the app to display and highlight the corresponding message.  This mean that if the message lives in another stream from the currently active one you have to waste

[2015-12-08 04:19] timabbott commented on #35
Yeah this should definitely work.  Can you open a ticket about the webapp keyboard focus issue (if there isn't one already) on the main "zulip" project issue tracker?  I suspect at least the webapp version would probably only take a few lines of code for someone to do...

[2015-12-08 21:08] lfranchi commented on #35
I'm not sure if the alerting of the desktop app has enough hooks to do this properly :-/ Definitely something to investigate. It should be _possible_ somehow though

[2015-12-09 21:02] unrealps opened #36 "RPMs to Fedora 23 and Rawhide"
Hi,
   I made a rpm to install the application Zulip Desktop in Fedora 23 and Rawhide. Instructions to use my repository are in https://copr.fedoraproject.org/coprs/unrealps/zulip-desktop/, if someone is interested.

[2015-12-09 21:05] excieve commented on #36
Hi @unrealps. Just FYI: I've created a COPR repo too some time ago:
https://groups.google.com/d/topic/zulip-devel/DcIvITJF3co/discussion

I couldn't package Qt4 build though, PR #23 should help with this once merged.

[2015-12-09 21:40] chadrik commented on #35
To clarify the webapp focus issue:  it's not about keyboard focus specifically; the root problem is that the window itself is not given focus or brought to the front.   I haven't reported it because I'm not sure whether it is a general problem with chrome notifications, something specific to zulip, or something specific to linux/KDE.  I googled it, and found some Chromium bugs reported on osx that

[2015-12-09 22:13] excieve commented on #35
@chadrik As I understand, it essentially comes the webapp here:
https://github.com/zulip/zulip/blob/master/static/js/notifications.js#L343

So it's looks entirely possible to pass arbitrary data around.

Now, if your main concern is the window focus on Linux — it should actually work on the latest master of zulip-client. The released version doesn't have a native notifications support on Linux. Se

[2015-12-09 22:27] excieve commented on #35
As for focusing on the notified message using the desktop client notifications, this seems to be the key:
https://github.com/zulip/zulip/blob/master/static/js/notifications.js#L319

So in this case, webapp should pass its message ID to bridge's notification function, the client should then pass it all the way through to the concrete implementation, which in turn should listen for the "click" actio

[2015-12-10 00:34] chadrik commented on #35
Here's the line where the server should pass along the message id to the desktop client: https://github.com/zulip/zulip/blob/master/static/js/notifications.js#L343

This is the missing piece.  I have no idea how to do this: I am a javascript novice and I've never worked with `QWebView`.  Anyone have a clue?

[2015-12-10 04:46] lfranchi commented on #35
`window.bridge` is a JS object that contains method calls that end up being executed in the desktop app itself: it's a "bridge" between the JS executing in the browser and the C++ executing on the machine.

HWebView exports these functions, including `desktopNotification`, to the zulip js context so they can be triggered on demand.

[2015-12-10 06:35] chadrik commented on #35
Hey everyone,  thanks for all the feedback.

@excieve, Sorry, I missed your first message before, hence my slightly redundant response.  The code you pointed me to made the purpose of the bridge very clear, and yup, I see that it would be quite easy to modify the bridge and server to send additional data along to the client.

I built the desktop client from master a week or two ago, and there is n

[2015-12-10 09:14] unrealps commented on #36
Thank @excieve for the warning. Since you are already working on a rpm for Fedora I will remove my.

[2015-12-10 09:14] #36 closed

[2015-12-11 03:55] lfranchi commented on #35
It is possible -- in fact you can run arbitrary JS code from C++. Here is how youdo it on the mac and windows/linux:

Qt: https://github.com/zulip/zulip-desktop/blob/master/src/webview/HWebView.cpp#L111
Cocoa: https://github.com/zulip/zulip-desktop/blob/master/src/webview/HWebView_mac.mm#L194

[2015-12-16 19:06] rachkoud commented on #6
Hi, I know that is not secured, but for a test environment, you can trust the self-signed certificate, I was able to run zulip desktop on OS X and Windows with a self-signed certificate.

For OS X : [You can follow these steps](https://www.accuweaver.com/2014/09/19/make-chrome-accept-a-self-signed-certificate-on-osx/)

Fow Windows : [You can follow these steps](http://blogs.technet.com/b/sbs/archi

[2015-12-17 16:03] willow9886 opened #37 "How to enlarge text size in windows client?"
Hello,

I couldn't find any information on adjusting display settings for the windows client. Apologies in advance if this is the wrong place to ask... but how can I make the text larger in the client? It's really small by default and hard to read after a while...

Thanks!

[2015-12-23 16:16] BornToBeRoot opened #38 "Bug in Zulip Client - Right Click in Text Field"
Hello,

if you open the context menu (in the textbox where you can send new messages)

There are two entries with "Direction".

See Screenshot for more details:
Pls see: https://github.com/zulip/zulip/issues/381 (could no copy the Screenshot)

To Reproduce:
Install the latest Windows Client (0.5.1)... I've test it on Windows 7 x64 Pro

Greetings

[2015-12-24 05:56] lfranchi commented on #38
Interesting. I suspect this is a QtWebkit bug.

[2016-01-06 07:40] lethe3000 opened #39 "desktop fail on osx 10.11.1"
When launched desktop from https://zulip.com/dist/apps/mac/Zulip-latest.dmg
only blank window appears.
I use Zulip --debug get logs as below:
[code]
Here is the blank window
![image](https://cloud.githubusercontent.com/assets/776658/12137463/cb39f6e6-b48b-11e5-9ff5-dffd8489b87b.png)

[2016-01-07 18:13] lfranchi commented on #39
Hmm everything looks fine with the app shell launching, but it's not loading the page.

Do you have  a self-hosted Zulip instance? Are you using self-signed SSL certs?

[2016-01-08 09:20] lethe3000 commented on #39
Yes I'm using self-hosted zulip with self-signed SSL certs, and I've tried to remove caches under ~/Library/Caches/com.zulip.Zulip
But it still shows blank, and No login prompt window shows.

[2016-01-08 17:08] lfranchi commented on #39
I think this is issue #6 then. Closing as a duplicate -- check out the long conversation there!

[2016-01-08 17:08] #39 closed

[2016-01-12 12:19] AcidWeb opened #40 "Please update binary tarballs"
I know that Debian/Ubuntu repository is not up yet but it would be nice to have current binary blob here:
https://zulip.com/dist/apps/linux/

[2016-01-13 17:54] lfranchi commented on #40
@lfaraone how did we build it in the past? I can't remember.

[2016-01-18 10:49] excieve opened #41 "White screen with a valid trusted certificate"
After about a week of not opening the application, it launched with a white screen. The server's certificate is not self-signed and is valid. The only thing that changed on the server is zulip update. Launching with "--allow-insecure" works. Also works without any certificate issues in the browser. The OS is Fedora 23.

[2016-01-18 11:02] excieve commented on #41
Sorry, there's apparently a missing chain cert on the server, which some clients don't like. Odd that it did work before though. Closing this.

[2016-01-18 11:02] #41 closed

[2016-01-27 16:42] emerham opened #42 "Latest commit Doesn't Build"
commit 5c2c19cd3f8add65348c2daa01d524aa6ccafa3b does not build on Qt5, setPen is defined incorrectly should be
p.setPen(Qt::SolidLine); on IconRenderer.cpp

[2016-01-27 19:48] #42 closed

[2016-01-28 15:52] Lynngre commented on #14
I can't get the Zulip desktop for Mac to accept a url to the Zulip server.

[2016-01-30 12:23] rominf opened #44 "Prevent running second copy of Zulip"
Just activate opened copy of Zulip.

If you think that the user should be able to launch more than a one copy, just give him a flag like `--multiple-copies`.

[2016-03-23 07:09] AcidWeb opened #45 "Windows build"
Could you provide more detailed information about windows build environment? All my attempts to build it on Windows or cross-compile it on openSUSE fail the same way:

[2016-03-24 03:14] lfranchi commented on #45
Building it on windows is unfortunately unsupported. I got it working _manually_ a couple of years ago (right before we were acquired...) and haven't tried it since then.

Cross-compiling it is tricky but in theory doable.

sounds like it's possibly detecting the wrong version of Qt. Are you building with Qt4 or Qt5?

[2016-03-24 06:38] AcidWeb commented on #45
QT5 - as documentation states.

[2016-03-28 21:26] bnewbold opened #46 "Install directions broken for Debian jessie"
I followed the directions at https://zulip.com/apps/ (Linux tab) on my Debian Jessie (amd64) system, but when I `apt update` I get:

[code]

I'm not sure if the directions are even supposed to work (in which case they should be removed), or if jessie isn't supported, or what. I couldn't find further directions so I ended up here.

I see there is an issue #1 to set up a PPA on launchpad.net, but ov

[2016-03-28 21:30] bnewbold commented on #46
It looks like the packages just aren't built for jessie; `wheezy` and `precise` work.

[2016-03-29 02:49] bnewbold commented on #46
Installing the wheezy package on jessie seems to work for me. I did this by rewriting the `source.list` entry then the usual `apt update && apt install zulip-desktop`.

It would be nice to have either a build for jessie or some indication on the install page that the wheezy package works under jessie, so i'm not closing this issue yet.

Also, cross-referencing a mailing list post which implies tha

[2016-05-14 05:23] timabbott opened #47 "MacOSX can't recover if you enter the wrong domain"
A user entered the wrong domain when first starting zulip. The zulip icon never appears and it's not possible to fix the domain. It appears that the only way to recover is to reinstall.

(Description written by @grahamegrieve in https://github.com/zulip/zulip/issues/791)

[2016-05-14 05:23] timabbott commented on #47
@lfranchi I thought there was something that worked for this problem?

[2016-05-16 17:30] cschom opened #48 "No audio notifications on Windows 7 or 8 desktops"
We cannot seem to get audio notifications from Windows 7 or 8 systems. It works without issue on Windows 10 systems. Has anyone run into this issue or is this a bug?

[2016-05-16 17:31] timabbott commented on #48
Sounds like a new bug to me...

[2016-05-16 17:37] cschom commented on #48
I will build a fresh install and get some logs. I have have reports of 6 people installing it so far and notifications are only working on Windows 10 desktops. The alerts work fine using the browser. I will get more details.

[2016-05-16 17:43] lfranchi commented on #47
Hm yeah that's odd. In any case you should be able to fix this by running

`defaults write 'com.zulip.Zulip Desktop' Domain https://your.zulip.domain` off the top of my head

[2016-05-16 17:45] lfranchi commented on #48
For reference here's the code that runs: https://github.com/zulip/zulip-desktop/blob/master/src/win/PlatformInterface_win.cpp#L139 we call the native Win32 API w/ a wav file we write to disk

[2016-05-16 22:53] cschom commented on #48
I loaded a fresh copy of Windows 8.1 and installed the zulip-desktop (zulip-latest.exe) to test this issue. I was not able to get audio alerts working from this version of Windows. In Windows 10 it works great, no issues. Nobody else has encountered this kind of issue before?

The only thing that I found in the zulip-desktop user APP log is this:
`16:44:41 Debug: WebKit Console Message "Attempting

[2016-05-16 22:54] cschom commented on #48
I have a valid domain cert and valid chain for the cert so not sure why it is complaining. I will try fixing the certs and see if it fixes the issue.

[2016-05-17 19:50] timabbott commented on #47
@grahamegrieve FYI.  Obviously we should still fix the root issue here...

[2016-05-17 23:37] timabbott commented on #48
I don't think those warnings could have anything to do with an issue calling the Win32 API to play the sound...

[2016-06-11 17:53] moebiuseye opened #49 "Unattended (silent) install on windows is impossible."
I would have been happy to be able to silently install zulip on windows using my favorite deployment solution.

I've tried running the latest installer with the `/h` `/help` `/q` `/quiet` `-h` `--help`, etc... to no avail.

I though I'd report this here so that this can be possible in the future.

[2016-06-11 18:07] timabbott commented on #49
Hmm, yeah, thanks for the feedback!  This is definitely helpful data on what would be useful.

[2016-07-18 09:05] alkuzad opened #50 "windows command line options"
Hi

I've tried to use `--allow-insecure` from windows command line but it does not work at all and still I have SSL certificate errors in log.

`D:\Program Files (x86)\Zulip>zulip.exe --allow-insecure`

Is windows version (latest as for today) supporting this kind of options ?

[2016-07-18 17:26] timabbott commented on #50
I believe this option is not supported by the current release build of the windows desktop app.

A potential workaround is to use the experimental new desktop app based on Electron: https://github.com/zulip/zulip-electron

[2016-07-19 06:19] alkuzad commented on #50
@timabbott thanks for clarifications, I do not know electron at all but I managed to do the trick with

[code]
in the index.js

[2016-07-19 06:20] timabbott commented on #50
Cool.  @akashnimare FYI we should document how to do this in the Electron app since @alkuzad figured out how to do it.

[2016-07-19 09:52] akashnimare commented on #50
@alkuzad thanks for working on this. @timabbott let me test it first and then we can document it.

[2016-07-27 16:15] MaximKraev commented on #15
try to compile the app with -DBUILD_WITH_QT5=On

[2016-09-16 13:27] sola12 opened #51 "Virus"
VirusTotal is indicating that the Windows Desktop app setup has a virus:

https://www.virustotal.com/en/file/9abc8d672ec19d84ef77da7d1fb00f5cde30c6201e6f4117b76844e866167a9d/analysis/

Can someone look into this please?

[2016-09-16 13:46] sola12 commented on #51
False positive. I re-scanned and no warnings.

[2016-09-16 13:46] #51 closed

[2016-10-17 11:51] ezeri opened #52 "Pages not loading - Admin - Manage Streams - Settings"
The following pages :
- Administration
- Manage Streams
- Settings

Alll show the loading icon for 10-15 seconds and fail to load, without any message in the terminal.

Using CentOs 6.7

Looked into the latest releases of zulip-desktop, and no modifications have been done that would affect this.

We do not have the problem under Mac though. Only the Linux version.

Cheers,

Belisaire.

![zulip](ht

[2016-10-26 06:33] timabbott commented on #52
Can you try using https://github.com/zulip/zulip-electron?  That's intended to replace this project soon.

[2016-10-26 06:33] timabbott commented on #52
(Sorry for the slow reply!)

[2016-11-07 09:45] ezeri commented on #52
Sorry, was on vacation myself when you answered, so only getting around to this now. I will start tests with electron.

Just before I went on vacation, we encountered another weird problem. With certain artists on certain machines, a signal is passed on to zulip that provokes a crash in Qt5 (Gotten the info through system logs), that have crashed the X server of the machine. Crashing the sesion co

[2016-11-07 09:46] ezeri commented on #52
Sorry, closed by accident. -_-'

[2016-11-07 11:30] ezeri commented on #52
I have worked around the lib problems.

I have a version up and running, even if I had to deactivage the TLS verification for nodejs. The pages "Administration", "Manage Streams" and "Settings" are working on zulip-electron.

I get errors with the notification system though.

[code]

Also, Unlike the zulip-desktop, the app is not running in background. If I close the window, the zulip app is close

[2016-11-08 17:58] akashnimare commented on #52
I think this is the expected behavior on Windows and Linux systems whereas on OSX it will keep running in the background.

[2016-11-08 18:11] timabbott commented on #52
@akashnimare do you think we should change the Linux/Windows behavior (or add an option to let us do this differently)?  I feel like people may want to be able to close the window but then still receive desktop notifications.

Feedback from users on this question would be helpful!

[2016-11-08 18:27] akashnimare commented on #52
@timabbott I think we should not change the default behavior which is closing the app on clicking ❎  button. I could add an extra option somewhere in our menu items (maybe just above **Quit Zulip** menu) which will hide the app window so that users will be able to receive desktop notifications.

[2016-11-08 18:28] timabbott commented on #52
yeah, that's probably reasonable.

[2016-11-10 17:28] ezeri commented on #52
Hello guys,

From my point of view. When you look at Skype, Pidgin, the default behavior is to close the current window of the application and to keep it running in the background, to be able to unclutter your desktop without losing the notification abilities. For me the current behavior of zulip-electron is non-standard for an application that allows you to have this type of notification.

Person

[2016-11-10 17:31] timabbott commented on #52
Yeah, I agree a setting that changes the behavior would be a lot better than the menu item proposal.

[2016-11-10 20:59] akashnimare commented on #52
@ezeri Thanks for the feedback. Moving this discussion to https://github.com/zulip/zulip-electron/issues/84

[2016-11-15 08:57] smaysam opened #53 "how build zulip-desktop with allow-insecure"
Hi, how can i run automatically run zulip at startup with self signed. i think should be bulid  source with allow-insecure.

[2017-03-08 13:47] vbNETonIce opened #54 "Compose box has shrunk in Zulip 1.5.1"
with upgrade to Zulip 1.5.1 the msg box has shrunk

![image](https://cloud.githubusercontent.com/assets/26190934/23706342/15af112a-040e-11e7-9dfd-6d3d032aeb00.png)

[2017-03-08 19:41] timabbott commented on #54
Woah, I guess we're using some CSS not supported on the old QT/webkit desktop app.  @brockwhittaker can you investigate if this is easy to fix?

We're switching to https://github.com/zulip/zulip-electron -- the workaround is to use that...

[2017-03-09 07:46] vbNETonIce commented on #54
I know but electron app needs to be fixed first
https://github.com/zulip/zulip-electron/issues/126

[2017-05-16 07:12] penCsharpener opened #148 "offline Windows installer"
Some antivirus software blocks installers that download stuff. That's what we experienced with the web installer.

Could there also be an offline installer?

Q: Can one just copy the installation folder to other machines and it will still run fine there (bypassing the installer altogether)? Then I would create a 7z executable with the installation directory.

[2017-05-18 18:14] penCsharpener opened #149 "bug in Win 0.5.10: on sys tray quit"
When I right click the system tray icon and then quit I get this error. Sometimes I have to quit twice before it appears. After that the app is unresponsive and can only be killed with task manager.

![JavaScript error occurred in the main process](https://cloud.githubusercontent.com/assets/26190934/26217061/6d352562-3c06-11e7-828f-b5b0a52cb60f.png)

and I have the zulip app as 5 processes (plus o

[2017-05-18 18:15] penCsharpener commented on #149
you have to zoom into the second screenshot - it's very wide

[2017-05-18 19:02] Lplenka commented on #149
I couldn't reproduce such error while running the app from our development repository. App worked fine.
Will verify this in the released app.

btw @vbNETonIce  do you always get this error when you quit app from tray? I mean what's the frequency of such errors?

[2017-05-19 00:15] akashnimare commented on #148
Please download -
* https://github.com/zulip/zulip-electron/releases/download/v0.5.10/zulip-0.5.10-x64.nsis.7z (for 32 bit)
* https://github.com/zulip/zulip-electron/releases/download/v0.5.10/zulip-0.5.10-ia32.nsis.7z (for 64 bit)

[2017-05-19 00:16] timabbott commented on #148
We need to document this properly before we can really close this issue.

-Tim Abbott (mobile)

On May 18, 2017 5:15 PM, "Akash Nimare" <notifications@github.com> wrote:

[2017-05-19 05:31] penCsharpener commented on #149
I'm not closing the app a lot but when I do it via sys tray every time.
Setup Win10 1703 (15063 build number)
JavaRE 8.131 32bit if that matters

[2017-05-19 23:15] akashnimare commented on #148
Documented about installers in https://github.com/zulip/zulip-electron/commit/e35661993d58133b0a7bf35df81325cb4e70e12e.

[2017-05-22 20:10] Shayan-To opened #150 "Cannot connect to server by IP address"
I don't have a domain for my server, but I have valid certificates and Chrome connects to it with no problem. At the first run of the app, when I enter the IP address of my server and click "Connect", it says "Not a valid Zulip server". And I checked developer tools, it even does not send a request to the server. I think the error comes from validation of the domain name of the server. And I could

[2017-05-22 21:41] akashnimare commented on #150
@Shayan-To what IP-address you're trying to connect?

[2017-05-23 12:41] Lplenka commented on #150
Our app doesn't support IP address for now. You can try domain names only.

[2017-05-23 15:35] timabbott commented on #150
We should probably make this possible.

-Tim Abbott (mobile)

On May 23, 2017 5:42 AM, "Lalu Prasad Lenka" <notifications@github.com>
wrote:

[2017-05-23 15:48] Lplenka commented on #150
Yes, definitely we will add this feature. A lot of code has been changed after merging PR [#140](https://github.com/zulip/zulip-electron/pull/140). Hence, a few regression issues should be solved before we can safely introduce a new feature.

So, we will work on this, might take a couple of days.

[2017-05-23 19:32] akashnimare opened #152 "Load icons locally"
For some reason, material icons are not working properly.

![error](https://cloud.githubusercontent.com/assets/2263909/26372630/6dfea62a-3fb3-11e7-8733-91fc4376cc26.png)

Instead of loading it from a CDN, we should download similar icons'png and load it locally.

cc @geeeeeeeeek

[2017-05-25 22:43] akashnimare opened #157 "Improve Internet disconnectivity error page"
someone reported this issue -

![image](https://cloud.githubusercontent.com/assets/2263909/26474317/280d82f4-4165-11e7-808b-42f3e9c7ce8c.png)

[2017-05-25 23:01] timabbott commented on #157
I confirmed he was using master as of monday.

[2017-05-25 23:11] akashnimare commented on #157
The actual cause of this error is that the [function](https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L70) we wrote for checking the internet connectivity and showing the try again dialog is not getting called.

[2017-05-25 23:13] timabbott commented on #157
Did we end up reverting that?  I think the try again dialog isn't helpful; we should either auto-reload or not, as the case may be.

[2017-05-26 16:34] Lplenka commented on #157
I am quite sure PR [#147](https://github.com/zulip/zulip-electron/pull/147) fixed this issue. App used to auto-reload after resuming from sleep.
Have not checked it though after merging PR[#140](https://github.com/zulip/zulip-electron/pull/140). Will verify and try to find a fix. :smile:

[2017-05-26 23:54] jamak opened #158 "Hidden pop-up is focused in background on context switch"
on OSX,  on ⌘-tab switch back into the electron app, a hidden window (I assume the settings pop-up?) is focused. In the browser, when you return to the tab, the home stream is focused. This is as of f6358a0 .

To reproduce:
* open zulip-electron
* switch to another application
* switch back to zulip-electron

[2017-05-28 06:23] akashnimare commented on #158
I'm not able to reproduce this. Can you please make a gif/video of the same?

[2017-05-28 08:32] akashnimare commented on #158
@SimplyAhmazing pushed a fix in https://github.com/zulip/zulip-electron/commit/deafa315dffb10c364556650e6f352c8f5621224. Can you verify if it works for you?

[2017-05-28 09:27] #152 closed, assigned to nobody

[2017-05-28 12:05] jamak commented on #158
Yep, works for me. Nice job, @SimplyAhmazing!

[2017-05-28 13:54] #158 closed, assigned to nobody

[2017-05-29 05:46] timabbott opened #160 "Zulip should stay in the system tray on close on Windows 10"
I got the following report from a user switching from the old desktop app to the new one:

Since this is a regression from the old app that we want to kill, I'm giving this relatively high priority.

[2017-05-29 14:16] Lplenka commented on #157
Found the error, working on it 😁

[2017-05-30 13:27] zhongyi-tong opened #163 "Use local icons for servers"
- Load default icon from local.
 - Download the icon of entered zulip server and load it from there instead of loading from a URL.

[2017-05-30 13:27] zhongyi-tong commented on #163
@zulipbot claim

[2017-05-30 21:30] glyph opened #164 "links sometimes open within Zulip app, should open in desktop browser"
- Operating System:
[code]
- App: version 0.5.10
- Just type a link, like https://google.com/, then click on it
- It opens in a window of the Zulip app (which is possibly a [terrifying security problem](https://github.com/electron/electron/blob/master/docs/api/sandbox-option.md)?) rather than in the selected preferred browser application (in my case, Safari).

[2017-05-30 21:32] glyph commented on #164
Note: right click, "open link" does the right thing. It's just left-clicking that's behaving this way.

[2017-05-31 03:50] timabbott commented on #164
This definitely seems like a priority issue.  Since @akashnimare is travelling, @geeeeeeeeek do you have time to look into this?

[2017-05-31 03:59] zhongyi-tong commented on #164
@Tim Will fix today.

On Wed, May 31, 2017 at 11:50 AM Tim Abbott <notifications@github.com>
wrote:

[2017-05-31 04:13] timabbott commented on #164
Cool.  Probably worth adding a test for this, since it seems like something that's particularly bad to have regress.

[2017-06-01 06:31] latest-release commented on #14
Me am running ubuntu 16.04, but it keeps refusing our custom inhouse installation. with "Not a valid Zulip server"

[2017-06-01 09:14] zhongyi-tong commented on #157
@Lplenka @akashnimare Hey guys, we are running each Zulip domain in a webview. So changing `mainWindow.webContents.on('did-fail-load'...` won't help if contents in the webview failed to load.

I'm starting a new PR to fix this. Besides this listener, we should also watch network connectivity, to reload the app when network is back again.

[2017-06-01 11:38] zhongyi-tong commented on #157
Fixed according to #165 .

[2017-06-01 12:47] zhongyi-tong commented on #164
@glyph Cannot reproduce. The `new-window` listener has properly dealt with this scenario. External links will be open in browser.  Any others have the same problem?

![c](https://cloud.githubusercontent.com/assets/7262715/26680261/4e3e65b4-470b-11e7-9065-a90e7f87dc74.gif)

[2017-06-01 13:59] penCsharpener commented on #149
now that we have 50 people using the app this is turning into a real problem because it happens all the time. The longer Zulip app is running the more processes it creates. lots os people don't know how to kill it with task manager and it's also further down in the list which makes it even harder to see.

If this can be hotfixed I (we) would be much obliged.

[2017-06-01 14:02] penCsharpener commented on #160
This would also solve #149 partly

[2017-06-01 15:33] penCsharpener opened #167 "improvement: Windows taskbar icon notification like Skype"
In windows the sys tray icon is too often hidden at the moment, and the number of unread msgs is tiny.

The legacy had this wonderful number in the taskbar icon. Please add this also in Electron app because in a multi-monitor setup we miss a lot of message due to this.

[2017-06-01 16:01] Lplenka commented on #167
The features of our app will be limited to the capabilities of the upstream [electron](https://github.com/electron/electron). **There is no support to show unread count in the taskbar (also not in the tray) in the upstream [electron](https://github.com/electron/electron)** for now. We have added the functionality to show unread count in the tray.

Since you are facing the problem with the size of

[2017-06-01 16:20] Lplenka commented on #149
This seems to be a serious issue :sweat:
I believe this issue is also related to upstream. I don't find any fault in code.
Couple of issues there, still under discussion.
[https://github.com/electron/electron/issues/2312](https://github.com/electron/electron/issues/2312)
[https://github.com/electron/electron/issues/4781](https://github.com/electron/electron/issues/4781)
[https://github.com/electro

[2017-06-01 16:36] penCsharpener commented on #167
Would it be worth submitting a request issue in the electron repository?
What version of electron is zulip app using right now? Maybe the feature is there in electron but not the version zulip is built on.

there are more limitations with having notifications just in the tray:
on a multi-monitor setup the tray is not duplicated to secondary screen even if your settings say that you want the taskba

[2017-06-01 16:40] timabbott commented on #164
Is it possible the bug is in our last release (0.5.10) but fixed since then?

[2017-06-01 16:50] Lplenka commented on #167
@vbNETonIce  feel free to open issues there.
I also created this issue [https://github.com/electron/electron/issues/9020](https://github.com/electron/electron/issues/9020)

Currently we are using `1.6.8` version of electron. yes we are behind. There were some newer verions released a couple of days ago.

[2017-06-01 16:55] zhongyi-tong commented on #164
I don't think so. That part of code in `main.js` has not been changed since
it was there. Can anybody else reproduce this bug?

On Fri, Jun 2, 2017 at 12:40 AM Tim Abbott <notifications@github.com> wrote:

[2017-06-01 17:32] timabbott commented on #157
I think from a user experience perspective, that sort of popup is annoying; as a user, you either are now on the Internet (and probably want it to automatically reload when it detects the network is back up, with perhaps a "reload" button next to the loading spinner in the screenshot at the start of this issue for manual adjustment) or you aren't (and don't want the popup).

Is that easy to do @ge

[2017-06-01 17:33] timabbott commented on #167
This is probably worth doing some nontrivial investment in creating, after we've fixed the more critical bugs we're aware of.

[2017-06-01 17:43] akashnimare commented on #164
I can't reproduce this error on v0.5.10.

[2017-06-01 18:37] zhongyi-tong commented on #157
@timabbott Yep, agreed. Easy to do so. There needs to be some changes in UI. But I prefer to refactor some code before we move on to this feature. Maybe in this weekend when others are afk? However this PR can be merged as a temporary fix.

There is a good point using an alert at the moment. Since the current code continuously checks after failure, the alert will block the execution of the followi

[2017-06-01 18:48] timabbott commented on #157
that plan sounds reasonable to me.

[2017-06-01 22:56] glyph commented on #164
It's very consistent for me. Are there any diagnostics I could perform?

[2017-06-02 02:54] zhongyi-tong commented on #164
@glyph Could you please leave a link where you downloaded the app? The release page?

[2017-06-02 19:51] akashnimare commented on #164
Have you downloaded the app from release page i.e. [v0.5.10](https://github.com/zulip/zulip-electron/releases/tag/v0.5.10)?

@glyph can you please remove the cached files and try again -

[2017-06-03 15:36] zhongyi-tong commented on #164
@glyph @akashnimare Still cannot reproduce. I tried with a clean install (downloaded from the release page) on macOS 10.12.5. At least we know it's not related to the app version and os version.

Could you please be more specific about where you get the app?

[2017-06-03 15:41] zhongyi-tong commented on #164
Or, to solve the issue, could you please try downloading the app from the release page and re-install it?

[2017-06-04 07:41] zhongyi-tong opened #169 "Fix window hide and quit logic"
![screen shot 2017-06-04 at 3 37 40 pm](https://cloud.githubusercontent.com/assets/7262715/26759800/c297487c-493b-11e7-8f6b-f5592fb2b8ce.png)

App's hide and quit logic was not properly handled. Attempts to call a function in a renderer window that has been closed or released. The bug can be reproduced on macOS 10.12.5, with Zulip-Electron 0.5.10 (a most recent release).

[2017-06-04 07:41] zhongyi-tong commented on #169
@zulipbot

[2017-06-05 18:16] glyph commented on #164
Sitting back down at my work machine this morning, the issue has disappeared.  I can't seem to reproduce it with any sequence or combination of links I was using before.  Not sure if I updated or what, but apparently the issue is gone :).  If I can find some more specific behavior which provokes this I will reopen.

[2017-06-05 18:18] zhongyi-tong commented on #164
Thanks @glyph. Feel free to reopen the issue if you have a clear steps-to-reproduce! 😃

[2017-06-06 15:41] zhongyi-tong commented on #157
As #165 merged, should we close this? It's no longer breaking.

[2017-06-08 08:48] akashnimare commented on #157
Instead of showing the error dialog we should redirect user to an error page, something like slack does -

![screen shot 2017-06-08 at 2 14 30 pm](https://user-images.githubusercontent.com/2263909/26919941-07d9f5da-4c55-11e7-9213-0b69601ac642.png)

![screen shot 2017-06-08 at 2 14 50 pm](https://user-images.githubusercontent.com/2263909/26919953-12159022-4c55-11e7-9e2c-f0cea0d9d346.png)

[2017-06-08 09:47] zhongyi-tong commented on #157
@akashnimare Sounds great. Will do in the next several days.

[2017-06-08 14:40] GervaisdeM opened #170 "No Notifications at all"
Notifications in the electron app have completely stopped appearing. I have verified notification setting in my Zulip preferences and at the OS level and they should be coming through.

They still work from Safari and this is currently, my work-around (Safari is running logged in as well as the electron app).

---
Please include:
- OS: `macOS Sierra 10.12.6 (beta)`
- npm: `v5.0.1`
- node: `v8.0.0`

[2017-06-08 15:48] timabbott commented on #170
@GervaisdeM what version are you running?

[2017-06-08 16:31] GervaisdeM commented on #170
Oops... I saw your comment in Zulip and replied there... here it is again:

I'm using the script that pull down the master branch.
git log output:
[code]

[2017-06-08 16:33] GervaisdeM commented on #170
since running the above, I erased and re-cloned the entire zulip-electron repo to make sure that I didn't have anything strange in the directory. I haven't done anything locally in months ☹️

I'm now running what I know is a clean environment. I'll update here if notifications start working again.

[2017-06-08 16:51] zhongyi-tong commented on #170
@GervaisdeM You mean you minimized the window?

Hope it's not a bug from Electron `WebView`.

[2017-06-08 17:19] GervaisdeM commented on #170
Sorry... didn't mean to close the issue...

I do not minimize the window, I just bring a new app into focus. ie. Put electron into the background.
:(

[2017-06-08 17:25] zhongyi-tong commented on #170
@GervaisdeM Sounds wired. I didn't run into this problem when I am using. I will take a deeper look tomorrow.

[2017-06-08 17:31] GervaisdeM commented on #170
@geeeeeeeeek Let me know if there is anything you need from me that might help debug

[2017-06-09 01:30] akashnimare commented on #170
@geeeeeeeeek this is happening because of the incorrect [user-agent](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/main.js#L71). You need to append webview's default user-agent as well. See here -
https://github.com/zulip/zulip-electron/commit/7f1890d8a17aeff5e351c2ce209f7a0c0d744642#diff-b7ea71851f2bf6f64dbcec17f174a921L137

[2017-06-09 01:35] zhongyi-tong commented on #170
@akashnimare Oops. I didn't find a way to append Zulip's header after web contents loaded.  If this matters, I will hard code the chromium user-agent on the same line.

[2017-06-09 01:37] akashnimare commented on #170
Maybe try -
[code]

[2017-06-09 01:49] zhongyi-tong commented on #170
@akashnimare But then the first bunch of requests (like when load `chat.zulip.org`) will not have this header. Different from `BrowserWindow`, we have to specify the url before insert `WebView` node into the DOM. Is it okay to attach the `user-agent` when `dom-ready`?

[2017-06-09 01:53] akashnimare commented on #170
@geeeeeeeeek This may cause some problems. Let's go with '**did-start-loading**' event then.

[2017-06-09 02:24] akashnimare commented on #170
@geeeeeeeeek pushed a fix in https://github.com/zulip/zulip-electron/commit/57df256a4a1c95e94ebbb3e2ed92cceb0d6de5a3. Can you cross check it?

[2017-06-09 02:41] zhongyi-tong commented on #170
@akashnimare sure.

[2017-06-09 09:04] zhongyi-tong commented on #170
@akashnimare Verified. It works.

[2017-06-09 13:19] GervaisdeM commented on #170
I've pulled down the dev branch and can confirm that notifications are working again. 👍

[2017-06-09 15:24] #170 closed, assigned to nobody

[2017-06-09 15:44] akashnimare commented on #170
@GervaisdeM, @geeeeeeeeek awesome. Thanks for the bug report @GervaisdeM :)

[2017-06-10 10:28] akashnimare commented on #35
@brainwane can you reproduce this now?

[2017-06-10 10:58] akashnimare commented on #1
This feature has been added and will be pushed in next release.

![image](https://user-images.githubusercontent.com/2263909/27002144-f034f8fa-4df6-11e7-802e-6486dfd82b0a.png)

![1f384d62-493a-11e7-9015-0e78dfb03742](https://user-images.githubusercontent.com/2263909/27002206-1ba93a08-4df9-11e7-8d5e-2682dcc6b039.png)

(it's still in early phase and need some refinements)

[2017-06-11 16:02] akashnimare opened #172 "set user-agent properly"

[2017-06-11 16:48] timabbott commented on #172
See #108 for some additional details/discussion.

[2017-06-11 17:05] SimplyAhmazing opened #173 ""Use Beta App""
There should be a drop down menu allowing a user to use the Electron app in a beta mode. This will allow us to release beta versions of the app to a fraction of the user base (those with beta app mode enabled) in order to have them act as a test population for app changes and updates. Partial rollout is the most ideal way to test new features and changes.

[2017-06-11 17:40] timabbott commented on #35
For context, in master we've completely rewritten the relevant UI.

[2017-06-12 09:31] akashnimare commented on #172
Fixed in #174.

[2017-06-12 09:31] #172 closed, assigned to zhongyi-tong

[2017-06-12 09:44] akashnimare commented on #4
@timabbott should we consider closing this issue since we have added the user-agent for electron? Also, [this](https://github.com/zulip/zulip/blob/1ba7d1ec68b73204ec79bcae1439e3852b8644bc/zerver/models.py#L1169) should be **ZulipElectron**.

[2017-06-13 04:42] timabbott commented on #4
I think I removed the User-agent relevant code from the web frontend a while back.

How is the desktop app currently getting access to unread counts data?

[2017-06-13 04:46] zhongyi-tong commented on #4
@timabbott From the title.

[2017-06-13 04:54] timabbott commented on #4
@geeeeeeeeek makes sense.  I think probably we can close this issue, but note that if we want to do richer notifications stuff (e.g. to support doing something different if there are unread PMs), something like window.bridge is probably the way to do it.

Finally, that should be "zulipelectron", note this line: https://github.com/zulip/zulip/blob/1ba7d1ec68b73204ec79bcae1439e3852b8644bc/zerver/mod

[2017-06-13 18:17] keturn opened #176 "Unsupported texture format"
Getting a bunch of this in the console:

[code]

OS X Sierra 10.12.5 (16F73)

[2017-06-13 22:10] akashnimare commented on #176
@keturn I can't reproduce this on OS X Sierra 10.12.5. When do you get these errors? Maybe a driver issue.

[2017-06-14 00:28] keturn commented on #176
I'm afraid I haven't quite figured that out. It's not _all the time_, so there's some precondition for it ... and when it happens, there's roughly a dozen repetitions of that.

I'll let you know if I start to see any pattern.

[2017-06-14 19:05] keturn opened #177 "unread status-menu indicator is not updated"
On OS X, the unread indicator in the menu bar is often incorrect.

Screenshot, where I believe I have no unread messages in non-muted channels, but the indicator says 9:

![zulip-electron-unread-counter](https://user-images.githubusercontent.com/83819/27149740-75448452-50f9-11e7-92a2-54932a7d3fde.png)

The indicator also does not update when I click **Home** to view all messages and scroll to the

[2017-06-15 03:23] zhongyi-tong commented on #177
@zulipbot claim

[2017-06-15 14:26] WPTechnician opened #178 ""Can't connect with the client" errors are confusing when cause is invalid cert chain"
I am running Windows 10 Professional as a client.  When I run the client I am getting the message, "Not a valid Zulip server".  I can log in to Zulip through a browser without issue.  The SSL cert is not self-signed.  I am not sure where to go from here.

Thanks!

---
Please include:
- `Operating System`
- `Clear steps to reproduce the issue`
- `Relevant error messages and/or screenshots`

[2017-06-15 15:49] WPTechnician commented on #178
It was a bad cert chain.  Thanks!

[2017-06-15 21:23] timabbott commented on #178
@akashnimare could we provide a better error message for invalid cert chains that helps the sysadmin debug?

[2017-06-16 09:50] akashnimare commented on #177
Tray icon show's the sum of unread messages presents across all the teams.

![screen shot 2017-06-15 at 2 16 30 pm](https://user-images.githubusercontent.com/2263909/27221480-5c02b1b8-52a6-11e7-812d-773f66961d7d.png)

@geeeeeeeeek this is fixed in #168, right?

[2017-06-16 10:15] akashnimare commented on #178
@timabbott did you mean the message in error dialog?

<img src="https://cloud.githubusercontent.com/assets/13533873/25277023/9dd64266-26ba-11e7-9939-b8f5853495cb.png"/>

[2017-06-16 11:00] zhongyi-tong commented on #177
@akashnimare I think so.

[2017-06-16 13:53] akashnimare commented on #177
@keturn can you reproduce this on latest master?

[2017-06-16 16:22] zhongyi-tong commented on #169
Fixed in `c2e6e96` by @akashnimare . 🎱

[2017-06-16 16:22] #169 closed, assigned to nobody

[2017-06-16 16:32] akashnimare commented on #160
Fixed in https://github.com/zulip/zulip-electron/commit/48ff50634484277faeb7f628179a61a444e04f46. @vbNETonIce can you cross check it?

[2017-06-16 17:16] akashnimare commented on #149
@vbNETonIce this is fixed in https://github.com/zulip/zulip-electron/commit/48ff50634484277faeb7f628179a61a444e04f46. Can you check it again?

[2017-06-16 19:24] timabbott commented on #178
Well it sounds like @WPTechnician got a different error than that.  @WPTechnician can you post a screenshot of what you saw?

[2017-06-16 19:53] WPTechnician commented on #178
It simply said that the entered URL wasn't a valid Zulip server, no other error. The root cause was that my intermediate cert in my bundle was the wrong one. The actual error after tracing was:

Verify return code: 21 (unable to verify the first certificate)

On Jun 16, 2017 3:35 PM, Tim Abbott <notifications@github.com> wrote:

Well it sounds like @WPTechnician<https://github.com/wptechnician> go

[2017-06-17 11:06] penCsharpener commented on #160
I tried with the instruction given before (with npm install) etc. but it didn't work. I won't be able to test for the next 10 days unless maybe you ship an installer.

[2017-06-17 13:09] akashnimare commented on #160
@vbNETonIce no problem then. We'll push a new pre-release in a day or two so you could test it :)

[2017-06-17 13:21] akashnimare commented on #1
This feature has been added in https://github.com/zulip/zulip-electron/commit/68c90434b305e107b5bf1e2858f6a05b63a47f07. Thanks, @geeeeeeeeek 💪

[2017-06-19 07:04] akashnimare commented on #163
- [x] Load default icon from local.
 - [x] Download the icon of entered zulip server and load it from there instead of loading from a URL.

[2017-06-19 14:42] versipellis commented on #5
Does this still work? Both the "--site" command line parameter and the registry key approach don't seem to work anymore.

[2017-06-19 21:33] akashnimare opened #181 "server icon path error [Windows]"
On Windows system, the default server icon is not showing up due to the [path error](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/utils/domain-util.js#L9).

![image](https://user-images.githubusercontent.com/2263909/27306852-ec665870-5564-11e7-8dfd-c4c88a22400b.png)

[2017-06-19 23:02] akashnimare commented on #5
@versipellis we are switching to [zulip-electron](https://github.com/zulip/zulip-electron). Please use it; if possible :)

[2017-06-20 00:01] versipellis commented on #5
Thanks - I've installed it and it runs fine. Symantec throws a WS.1 warning
because it's an unrecognized file in their system, so I've gone ahead and
helped you guys file a dispute ticket as a user for a false positive on it.

On Jun 19, 2017 19:02, "Akash Nimare" <notifications@github.com> wrote:

[2017-06-20 09:18] akashnimare opened #182 "Desktop notification is not working [Windows 10]"

[2017-06-20 09:46] akashnimare opened #183 "MainWindow is not focused on clicking tray context menus"
---
- `Operating System` -

Linux + Windows

- `Clear steps to reproduce the issue`

When you close the main window and click on tray menus such as About, Manage Zulip servers;  Windows does not get focused. Probably we need to send a focus event first.

[2017-06-20 09:50] #183 closed, assigned to nobody

[2017-06-20 14:10] #182 closed, assigned to nobody

[2017-06-20 14:11] akashnimare commented on #182
You need to do some settings in notification center to make it work 🤣

[2017-06-21 03:19] zhongyi-tong commented on #181
@akashnimare Could you take a look at this? I don't have a Windows machine...

[2017-06-21 05:44] versipellis commented on #5
Symantec has approved it and whitelisted the file :)

[2017-06-21 11:08] akashnimare commented on #5
@versipellis awesome, thanks 🤝
Please download the latest release - [v1.0.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.0.0-beta)/[Installer](https://github.com/zulip/zulip-electron/releases/download/v1.0.0-beta/Zulip-Web-Setup-1.0.0-beta.exe) which is properly code signed. You may get a warning from Windows Defender. It is displayed based on the reputation of the certificate. Th

[2017-06-21 11:10] akashnimare commented on #160
@vbNETonIce here is the latest [installer](https://github.com/zulip/zulip-electron/releases/download/v1.0.0-beta/Zulip-Web-Setup-1.0.0-beta.exe).

[2017-06-21 11:14] akashnimare commented on #160
Fixed in [v1.0.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.0.0-beta). Closing, feel free to reopen if still occurs.

[2017-06-21 11:14] #160 closed, assigned to nobody

[2017-06-21 13:55] #157 closed, assigned to zhongyi-tong

[2017-06-21 14:25] akashnimare opened #185 "Error: Cannot find module '../power-monitor'"
A user reported this bug -

The error really could be due to my crumby vm, but here it is:

![image](https://user-images.githubusercontent.com/2263909/27389251-79d85ae4-56bb-11e7-8ece-1856ad9f0653.png)

[2017-06-21 17:38] ehues opened #186 "Can't turn off notification sound on osx"
I can't turn off notification sounds for stream messages. I have audible notifications disabled In my user settings and on the stream settings, but I still get an audio alert when the OSX notification bubble appears.

User settings:
![screen shot 2017-06-21 at 1 31 21 pm](https://user-images.githubusercontent.com/4691994/27397964-25a13624-5686-11e7-954a-73c5281d4895.png)

Stream settings
![screen

[2017-06-21 18:13] versipellis opened #187 "Unable to Minimize to System Tray"
Win 7 Enterprise. There doesn't seem to be an option to minimize to system tray, even with the system tray icon enabled. X'ing out of it closes the app entirely, which is quite different from my expectations coming from Discord and Slack.

[2017-06-21 19:24] akashnimare commented on #185
@GervaisdeM fixed.

[2017-06-21 19:24] #185 closed, assigned to nobody

[2017-06-21 19:28] akashnimare commented on #187
@versipellis What version of zulip you're using? This issue has been fixed in [v1.0.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.0.0-beta).

[2017-06-21 19:46] versipellis commented on #187
Ah, my apologies!

[2017-06-21 19:46] #187 closed, assigned to nobody

[2017-06-21 19:46] akashnimare commented on #187
No worries :)

[2017-06-23 20:49] akashnimare commented on #186
@ehues possible workaround is to turn off the sound from notification center until we fix this -

![image](https://user-images.githubusercontent.com/2263909/27499880-72c62e38-5883-11e7-97be-ce9bc4e6da65.png)

[2017-06-23 21:31] akashnimare opened #188 "close settings bug"
A user reported this -

If you close the settings tab while on a different tab, any tab that isn't the first zulip server, then you get a split view of the first zulip server and the tab that you were on.

![close_settings_bug](https://user-images.githubusercontent.com/2263909/27501178-55c1597e-5889-11e7-8e01-bc3d76b4edfd.gif)

[2017-06-23 23:56] glyph commented on #164
Unfortunately I do not have clear steps to reproduce, but this started happening again.  Nothing I could see in the developer tools.  View -> Reload did not fix the problem, but quitting and re-launching the app did.  Checking the about box I can confirm this is version 0.5.10.

Are there any further diagnostics I can perform the next time this recurs?

[2017-06-24 14:55] ehues commented on #186
Thanks for the workaround.

[2017-06-25 18:22] akashnimare commented on #164
@glyph please download [v1.1.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.1.0-beta).

[2017-06-25 22:35] glyph commented on #164
I've now done so.

[2017-06-26 02:48] akashnimare commented on #164
Is it still occuring?

On Jun 26, 2017 04:05, "Glyph" <notifications@github.com> wrote:

[2017-06-26 17:08] glyph commented on #164
It takes weeks between occurrences; the app has to get into a state where this is happening, it works correctly when it first starts up.  But for now: no, it has not recurred.

[2017-06-26 23:22] timabbott commented on #182
Is that something our users will need to do?  If so, we need to document it...

[2017-06-27 06:15] akashnimare commented on #164
This is kind of mysterious. Please re-open again in future and try to remember the process which caused the bug.

[2017-06-27 06:45] glyph commented on #164
There is no "process". I use the app for a week, sometimes links start opening inside app windows at random.  Once they do nothing fixes it but an app restart.  Nothing in the DOM inspector shows me clearly what's going on with the links; I need some guidance as to what to look for.

[2017-06-27 14:40] zhongyi-tong commented on #188
It happens on my machine.. I will send a fix soon.

[2017-06-27 23:56] timabbott commented on #164
@akashnimare is there an logging we could add to make investigating this easier?

[2017-06-28 15:48] akashnimare commented on #188
Fixed in https://github.com/zulip/zulip-electron/commit/cda8aa3b09ce15da60e1bde176eba641363fdefd.

[2017-06-28 15:48] #188 closed, assigned to nobody

[2017-06-28 15:58] akashnimare commented on #177
This issue has been fixed. Please reopen if this issue still occurs.

[2017-06-28 15:58] #177 closed, assigned to zhongyi-tong

[2017-06-28 16:05] akashnimare commented on #149
Closing until more information is provided.

[2017-06-28 16:05] #149 closed, assigned to Lplenka

[2017-07-01 06:46] akashnimare opened #191 "Multiple tray icons on reload"
![screen shot 2017-07-01 at 12 13 13 pm](https://user-images.githubusercontent.com/2263909/27759797-ee9531ca-5e56-11e7-99e0-2fc4347af26c.png)

[2017-07-01 06:53] #191 closed, assigned to nobody

[2017-07-01 07:11] akashnimare commented on #186
@timabbott On disabling audible notifications the **silent parameter** should be `true`, right?

![screen shot 2017-07-01 at 12 37 27 pm](https://user-images.githubusercontent.com/2263909/27759977-6563f338-5e5a-11e7-9a5c-e6eb0ce1774f.png)

[2017-07-02 18:46] akashnimare opened #192 "Add more options in settings page"
@geeeeeeeeek already added settings framework in - https://github.com/zulip/zulip-electron/commit/47cfe86a06d30bf09754d0f7739e741e9041de52. Few more settings we need to add -
- [x] Show/hide desktop notification
- [ ] <strike>Disable/enable spellchecking</strike>
- [x] Show app unread badge
- [ ] <strike> Show unread count in tray </strike>
- [x] Auto launch
- [x] Play notification sound
- [x] Cle

[2017-07-03 10:47] zhongyi-tong commented on #164
@timabbott I don't think so. We can design a logging system for actions like opening a tab, navigating to a new url, etc. But I'm not sure how much it will help with our debugging.

[2017-07-03 14:26] akashnimare commented on #186
Ohh wait, here is the original logs -

![image](https://user-images.githubusercontent.com/2263909/27796892-3ab08298-6029-11e7-85f5-6667c45aeaaa.png)

There is no silent parameter, we need to send it (via webapp) so that electron can inhirit the sound settings as well.

[2017-07-05 16:56] shane-kearns opened #198 "Add a configuration option for connecting through an HTTP proxy"
Some users want to connect from a machine in one network to a zulip server on another network where direct connections are not possible and all traffic must go via an HTTP proxy.
e.g. client on a corporate network, server on the public internet.

Transparent / intercepting proxies require no configuration on the client, but lots of organizations still use traditional HTTP proxies. The CONNECT meth

[2017-07-05 17:48] akashnimare commented on #198
@shane-kearns thanks for the detailed info. I'll look into it.

[2017-07-06 18:52] akashnimare commented on #186
Added setting for controlling sound for new notification.

![image](https://user-images.githubusercontent.com/2263909/27927636-0ff76d04-62aa-11e7-94a3-b620c8c0d83b.png)

[2017-07-06 18:58] akashnimare commented on #186
@timabbott Is it possible to send the `silent` parameter as well while sending a [new notification](https://github.com/zulip/zulip/blob/9461f490c83c35eecbea6a165bcf9effa85d9703/static/js/notifications.js#L33) through web app?

[2017-07-06 19:00] timabbott commented on #186
@akashnimare can you explain the question a bit more?

[2017-07-07 16:00] akashnimare opened #199 "Desktop notifications not working on Windows 8"

[2017-07-07 16:40] timabbott commented on #2
This was fixed in #141.

[2017-07-07 17:16] timabbott commented on #44
I believe the issue about correct (but not well documented, perhaps) behavior.  In Zulip web (and thus also desktop), we trigger desktop notifications when:
* The settings are enabled
* A new message arrives while either (1) Zulip window is not in focus or (2) the new message would be arriving on-screen.  "off-screen" covers both the case where you're in a different narrow and the case where you'r

[2017-07-07 17:24] timabbott commented on #46
OK, so I think we have two possible designs for this.

1. The app should, when checking if a Zulip server is valid via the `/server_settings` endpoint (or getting `zulip.ogg`), if it receives an HTTP response requesting authorization, just treat that as a "this is a valid server" response.  This is kinda annoying because we want to be able to set an icon when we validate the server
2. Zulip server

[2017-07-07 21:07] ElliotSilver commented on #167
The linked electron issue indicates other apps are generating icons on the fly, which, in the absence of an actual API, seems like a reasonable solution.

This is the primary issue that has been holding me back from switching from the old desktop app to the electron one.

I usually have ~20 or so applications in the task bar, and minimal icons displayed in the notification area (so that I can see

[2017-07-07 21:15] timabbott commented on #167
Increasing the priority on this, since it sounds like it's a blocker to migrating for a number of people.

[2017-07-07 21:19] penCsharpener commented on #167
Thanks Tim, we basically forced everyone to use the electron app but we had many long faces when they didn't have the taskbar notifications anymore from the legacy app. And with multi-monitor setups many still complain about missing msgs. If this can be done it would be a major step forward!

[2017-07-07 23:13] #199 closed, assigned to nobody

[2017-07-10 17:29] timabbott commented on #46
@jwedoff would you be able to track down an answer on this?

[2017-07-10 19:51] penCsharpener opened #203 "enhancement: ability to view /stats, /integrations, /about pages in the app"
would be nice to have those links below show up directly in the app but then we also need a working 'go back' to home button

https://chat.zulip.org/stats
/integrations
/about
pages in the app

[2017-07-10 20:37] timabbott commented on #203
@vbNETonIce can you explain why you would prefer these to be in the app (and are the reasons the same for each)?  For several of these pages, we want them to be visible to Google (and thus there's benefit in them not being part of the app).  We could move some (e.g. /stats) into a modal like the settings UI, but it would offer a bit less space on the screen for the actual content.

[2017-07-10 20:37] timabbott commented on #203
Oh, I see this is a desktop app issue.  I can see why you'd want it to not open a browser window when those are clicked; is that the motivation?

[2017-07-10 20:40] penCsharpener commented on #203
yes, I mean the desktop app. It doesn't quite make sense since it's Zulip server related and the users would probably expect it to appear right in front of them rather than in an entirely different application (ie. browser).

[2017-07-11 17:35] akashnimare commented on #203
@vbNETonIce If you click on `/integrations` it will get open in the app itself, not in the browser and you could always go back using `CommandOrCtrl+[`.

[2017-07-11 20:26] penCsharpener commented on #203
cool, I tried and it worked. So if /stats will open in a popup soon, we can close this issue already...

[2017-07-11 20:28] akashnimare commented on #203
To open it in the app, `/stats` should be hyperlinked somewhere in the webapp just like `/integrations`.

[2017-07-11 21:28] akashnimare commented on #163
Fixed via https://github.com/zulip/zulip-electron/commit/9ab75b980039e501a235117fc0b538b43aa88da4.

[2017-07-11 21:28] #163 closed, assigned to zhongyi-tong

[2017-07-12 19:32] akashnimare commented on #186
Fixed in [v1.2.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.2.0-beta).

[2017-07-12 19:32] #186 closed, assigned to nobody

[2017-07-12 19:37] akashnimare commented on #150
Partially fixed in - [v1.2.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.2.0-beta), will improve it in later.

[2017-07-12 19:37] #150 closed, assigned to nobody

[2017-07-12 20:07] jrowan opened #204 "Viewing /help page from within app is confusing"
When I visited the /help page for keyboard shortcuts within the app, I thought I was trapped for a while and ended up getting out in a very non-intuitive way by clicking log in in the upper right hand corner of that chat page (even though I was already logged in).

Steps to reproduce:

1. hit `?` to open the keyboard shortcuts help modal
2. click the "detailed keyboard shortcuts documentation" lin

[2017-07-12 20:10] jrowan commented on #204
Confirmed that I'm still getting the "log in" button (as the only way to get out) when I click a user documentation link from within the app.  On the web app the page also shows a "log in" button even when I'm logged in in another tab, but it's not as bad for navigation since it's in a separate tab.

[2017-07-12 20:18] timabbott commented on #204
Good find.  @akashnimare this is basically the same issue is the `/apps` page.  I think we might want to invert the approach for the desktop app, by having a whitelist of what pages open inside the app.  A good rule might be this:

* If the URL starts with `/accounts`, `/register`, or `/login` or is the root URL (potentially with a narrow), open it in-app.  Otherwise, open in a browser.

Can you t

[2017-07-12 20:21] akashnimare commented on #204
@timabbott so we need to open the `/help` page in the default browser as well?

[2017-07-12 20:37] timabbott commented on #204
Correct.  But we'll we'll probably over time add many more pages to the Zulip documentation sites, so I think we actually want to have a whitelist for what doesn't get opened in the default browser.

[2017-07-12 20:49] penCsharpener opened #205 "improvement: let users choose into which path they install the app"
This is about the installer.

Currently the app installs automatically into `%programfiles%`. This folder requires elevated rights. Maybe the user or admin prefers a folder without elevated right to perform script-based updates.

Can this be added to the installer or at least a radio button option to install it either there or into `%appdata%\Zulip`?

[2017-07-12 21:13] gnprice opened #207 "Reload/refresh button should have a tooltip"
In the lower left, just above a gear icon, there's a circle-arrow "reload" icon. It's not obvious just what that's supposed to do; if nothing else, it should have a short tooltip.

On clicking it, it appears to reload the webview. That seems like something the user shouldn't have to do -- if they do that and it helps them, whatever issue it was resolving for them was a bug. And at least in a brows

[2017-07-12 21:19] gnprice opened #208 "Add back button"
In a browser, I find hitting alt-left (the keyboard shortcut for the back button) super handy and do it all the time.

We should have a back button (and maybe a forward button? but not sure where to put it), and also the hotkeys alt-left/right to go back and forward. Or Cmd-left/right, or whatever the appropriate thing is per platform.

[2017-07-12 21:20] jrowan commented on #204
What about `/user_uploads`? For mp4 videos I also get stuck and unable to get out, but pictures are working fine/as expected.

[2017-07-12 21:30] gnprice opened #209 "Home view suddenly marks all as read"
I'm on Linux with the 1.2.0 beta, which I just installed a few minutes ago.

I'm not sure exactly what just happened, but here's my best reconstruction:
* I opened the app for the first time. At that time I had maybe a few dozen unread messages, having just sat down after an hour afk.
* I narrowed to the `#electron` stream for discussion, and read and sent a bunch of messages there, navigating bet

[2017-07-12 21:35] penCsharpener opened #210 "selected server highlighting, remove ^ and replace with low contrast Ctrl"
* current look is very Slack-like
* select server highlighted with a change in background colour
* remove ^ and replace with `Ctrl +` because few know that `^` stands for
@timabbott suggest something with a background change

here an attempt to capture that thought
![image](https://user-images.githubusercontent.com/26190934/28140880-8019ae62-675a-11e7-85c1-10a416a7d14f.png)

[2017-07-12 21:36] penCsharpener commented on #210
oops, pressed enter to early
hotkey should not be white but lower contrast colour to stand out less

[2017-07-12 22:08] jrowan opened #211 ""Mandatory" URL and server name fields not enforced"
(Version 1.2.0-beta on Windows 10)

Other than the certificate warning, Zulip isn't trying to stop me (e.g. with a "Error: please enter a valid URL" message) when I try to create a server without a URL (or a server name).

Steps to reproduce:
1. Go to the servers page on settings and click "add a new server"
2. Do not fill in any of the fields, just hit "Save"
3. When the following warning shows u

[2017-07-12 22:47] aero31aero opened #212 "Forced focus regain on reconnecting to the server"
When the user disconnects from the internet and reconnects, the app regains focus, even causing a workspace switch. I believe the reconnection to the server triggers this.

OS: Elementary OS 0.4 (Ubuntu 16.04)
Steps to reproduce: Focus another window. Disable networking. Enable networking. Wait.
Expected incorrect behavior: Zulip Desktop app automatically regains focus.
Expected behavior: Nothing/

[2017-07-12 22:59] timabbott commented on #211
From a flow perspective, we should actually just ask the user for a server URL, and fetch the other fields from that server.

[2017-07-12 23:03] timabbott commented on #210
The more important argument for changing the white bar to a colored region style is that several users didn't realize that the white bar marked the server that's currently open.

One detail we need to think about is whether the hotkey label should be inside the selected color region.

As a sidenote, we probably should show the name of the organization in hover text if you mouse over it.

[2017-07-12 23:04] timabbott commented on #209
Sounds like a scroll being triggered by the app that's buggy.  I'm not sure why the app would be doing scroll actions at all, but seems worth looking through the desktop codebase for any scrolling code that could cause this.  I haven't heard reports of something similar in the Zulip webapp, so it seems likely this is a desktop-specific issue.

[2017-07-12 23:06] timabbott commented on #204
When you say "pictures are working fine/as expected", I assume you mean the lightbox UI works?  That's great, but the lightbox UI doesn't navigate the main URL of the page; it just fetches the external files using JS/HTML within the Zulip web app.  What we're discussing here is the main URL of the page changing through clicking on a link.

[2017-07-12 23:07] aero31aero commented on #212
![issue demonstration](https://user-images.githubusercontent.com/8033238/28143749-e1fd17ca-6784-11e7-843f-510828918a7a.gif)

[2017-07-12 23:07] timabbott commented on #208
Probably worth separating this issues.  `alt+left` and `alt+right` we should be able to dispatch quickly without making any decisions, but some design work needs to be done to figure out where to put the back/forward buttons.

[2017-07-13 00:03] gnprice opened #213 "Constant large CPU use"
I'm running 1.2.0-beta on Linux.

The app is burning a surprising amount of CPU -- when nothing in particular is happening, it's about 35-40% of a core for a `zulip --type=gpu-process` process, and another 25-30% for a `zulip --type=renderer` process. Plus 20-25% for my gnome-shell, which in my experience is usually triggered by a browser tab or some other app doing a lot of work, so that's roughl

[2017-07-13 01:08] gnprice commented on #209
Hmm, that reminds me -- @jhurwitz [mentioned recently](​
https://chat.zulip.org/#narrow/stream/frontend/subject/pointer.20bug/near/246965)
a bug that brought the pointer to the present for him. That one involved
the web, and possibly mobile but probably not because the mobile app
crashed promptly on startup.

Does that qualify as something similar? I think we haven't otherwise had
reports of scrol

[2017-07-13 01:09] gnprice commented on #209
@jhurwitz ^ (sorry, should have learned by now that GitHub's handling of email reply comments is too buggy to attempt anything more than the plainest of text)

[2017-07-13 16:34] akashnimare commented on #211
@jrowan thanks for the bug report. That validation failed due to https://github.com/zulip/zulip-electron/commit/3f93a3346f6d02d3c41fe6af0d56fabb8c940328. Fixed in https://github.com/zulip/zulip-electron/commit/5a2975ca4d40ca6418cbefb0b6fe7eb15cb5e03f.

[2017-07-13 16:34] #211 closed, assigned to nobody

[2017-07-13 16:39] zhongyi-tong commented on #213
Well, it only takes 0.6% of total CPU usage on my mac. Which platform are you using? However, I assume it's an upstream bug from Electron, rather than Zulip...

[2017-07-13 16:40] zhongyi-tong commented on #213
Can you use the JavaScript profiling tools in the DevTools to see what what costs such a huge amount of CPU usage?

[2017-07-13 16:42] akashnimare opened #214 "Fetch server details using zulip api"
![image](https://user-images.githubusercontent.com/2263909/28177191-a3d0fb7c-6817-11e7-9559-530272b0a328.png)

* Make the `Name` field optional and fetch it from the server.

[2017-07-13 16:44] zhongyi-tong commented on #212
Yep, because the app reloads itself when reconnection. I will see if we can do it in the background.

[2017-07-13 17:01] zhongyi-tong commented on #210
Make sense. @vbNETonIce  I will pick a darker color.

@timabbott What do you mean by `selected color region`? I don't quite understand.

[2017-07-13 17:05] zhongyi-tong commented on #209
I don't think there is code to do scrolling in the desktop app. The behavior should be exactly the same as in browser. i.e. as you scroll down the messages, the unread count will decrease; but the app itself will not trigger a scroll.

[2017-07-13 17:09] timabbott commented on #210
Sorry, that was kinda unclear.  "selected color region" was meant to to reference, in @vbNETonIce's second screenshot, the region around the icon for the currently active server (which I referred to as "selected") with a different color.

Thinking about this a bit more, I think it'd probably look ugly to have that the color not be symmetric about the icon, and @vbNETonIce's mockup looks fine, so I

[2017-07-13 18:29] timabbott commented on #164
If the example URL weren't google.com, I could imagine our work on #204 fixing this.  But given that it is, I don't understand how this issue is possible from reading the code.

[2017-07-13 18:32] akashnimare commented on #212
@geeeeeeeeek  I don't think that it's possible to reload the app in the background. If the window is not focused/minimized we could just send a new notification (Instead of reloading).

[2017-07-13 18:34] timabbott commented on #212
We don't need to reload the app, just the window?  Browsers seem perfectly able to do this in the background, so it seems like it should be possible to do it in Electron (though perhaps not easy)

[2017-07-13 22:06] akashnimare commented on #208
@gnprice added `Alt+Left` and `Alt+Right`.

macOS -

![image](https://user-images.githubusercontent.com/2263909/28189163-77c2d354-6842-11e7-940a-e72c51edecd3.png)

Ubuntu -

![image](https://user-images.githubusercontent.com/2263909/28189454-9aae9000-6843-11e7-80c8-7bb479feb485.png)

[2017-07-14 01:30] #205 closed, assigned to nobody

[2017-07-14 01:34] akashnimare commented on #205
@vbNETonIce Fixed. Now user will be able to decide where to install the app.

![install](https://user-images.githubusercontent.com/2263909/28194552-9c319674-6862-11e7-9708-9ea97f7d33f2.PNG)

[2017-07-14 12:23] penCsharpener opened #216 "On activating Window 2 click needed to write into compose box [Linux/Windows]"
when the Zulip desktop app is inactive and I click into the compose box with the mouse then it only activates the Windows. I have to click a second time to get the cursor into the compose box and start typing.

[code]

[2017-07-14 13:49] akashnimare commented on #209
@gnprice let us know if you could reproduce this again.

[2017-07-14 15:10] shane-kearns commented on #216
This also occurs on ubuntu14.04 linux with the 1.2.0-beta

[2017-07-14 16:51] timabbott commented on #209
We have a related bug we're investigating in the webapp; we should probably resolve that and then check back in on this one, if it's the case that the app itself literally never scrolls.

[2017-07-15 00:50] timabbott commented on #203
Yeah, I think we can close this issue.  The plan for #204 should address this as well.

[2017-07-15 00:50] #203 closed, assigned to nobody

[2017-07-15 00:52] timabbott commented on #208
Nice!  We may want to close this and open a new, somewhat lower priority issue for where to put a more visible back button (or are we still waiting on Windows?).

[2017-07-15 02:54] gnprice commented on #208
@akashnimare Sweet! Thanks for the fast action :)

On macOS, will Cmd-left and Cmd-right work, as well as Cmd-[ and Cmd-]? I don't currently have a Mac to try this on, but I used them for years, and I could not have told you that Cmd-[ / Cmd-] were browser shortcuts for back/forward; the shortcuts I used were I'm pretty sure Cmd-left and Cmd-right.

[2017-07-15 16:19] akashnimare commented on #208
Yeah, normally browsers have both the shortcuts available `Cmd-[/Cmd-]` and `Cmd-Left/Cmd-right`. I have changed it to `Cmd-Left/Cmd-Right` since it's the expected shortcuts. @timabbott on windows it works fine.

![shortcut](https://user-images.githubusercontent.com/2263909/28241148-78dfb926-69ac-11e7-96ee-c3555958c1ac.PNG)

[2017-07-15 16:39] akashnimare commented on #216
Does it also happen with trackpad/touchpad click? Can you guys paste a gif/video here. I can't reproduce this on Ubuntu 16.04.

[2017-07-15 18:36] akashnimare commented on #216
Okay, I can reproduce this on Windows.

[2017-07-15 20:51] fragm3 commented on #192
Working on: Show app unread badge

[2017-07-15 21:09] akashnimare commented on #216
So removing the [focus event]( https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L68 ) fixes this problem. @geeeeeeeeek does it break anything? I think we're not handling the focus event properly i.e [here](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/components/webview.js#L98).

[2017-07-15 23:18] akashnimare commented on #181
Tried everything, no luck yet. Windows 😿 .

[2017-07-16 21:40] timabbott commented on #208
Great.  If we can make both versions on Mac work to match browser behavior, that'd be nice, but probably not super important.

[2017-07-17 07:12] fragm3 opened #217 "Error while running dev"
Operating system: Unix

When I run _**npm run dev**_, the following error comes:

<img width="1128" alt="screen shot 2017-07-17 at 12 38 23 pm" src="https://user-images.githubusercontent.com/18073126/28258141-3f44ba44-6aed-11e7-9c41-7e8ef2c71f1a.png">

[2017-07-17 15:40] zhongyi-tong commented on #212
@timabbott @akashnimare @aero31aero With a new implementation, the reload will now be silent and seamless, and will no longer regain focus.

[2017-07-17 16:50] zhongyi-tong commented on #210
![image](https://user-images.githubusercontent.com/7262715/28279406-011d4abc-6ae6-11e7-8200-0d7ae5303ee1.png)

What do you think? @timabbott

I'm still tuning the colors, but do you like the idea?

[2017-07-17 17:58] timabbott commented on #210
I think the idea works.  Though maybe the "option-1" is too bright in the highlighted choice?

@gnprice what are your thoughts?

[2017-07-17 18:15] penCsharpener commented on #210
1) does the Google `G` have transparency (ie. `.png` Icon)?
2) The `^` has been replaced with the Mac command icon. Will it say `Strg` on Windows?

_Sent from my HUAWEI PRA-LX1 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 18:38] timabbott commented on #210
@vbNETonIce re: 2:  it'll show the appropriate key for that platform; which I think is `Ctrl`.

[2017-07-17 19:17] timabbott commented on #217
That `EADDRINUSE` error suggests the problem might be you have some stale processes running?

[2017-07-17 20:44] fragm3 commented on #217
Yup, thanks its working now.

[2017-07-17 22:00] timabbott commented on #217
OK.  We could probably catch EADDRINUSE errors and give a nice error message explaining what's going on and that you probably need to kill an existing copy.  Thoughts?

[2017-07-18 01:22] zhongyi-tong commented on #210
@timabbott I changed `#cee2db` to `#afd2c6`, a little bit darker. I think it won't stand out as much as it did.

@vbNETonIce It's a png but it's not transparent.

![image](https://user-images.githubusercontent.com/7262715/28296390-99b1e566-6b2d-11e7-9bdd-d44a85b3c31c.png)

[2017-07-18 02:17] gnprice commented on #210
That screenshot looks good! I think I would understand that the highlight means that's the currently-selected item.

Showing the "Command-key" glyph on macOS makes sense. Is that style with "⌘ 1", with a space between the "command" glyph and the number, the style you'd find in e.g. a keyboard-shortcut label in a menu? It'd be good to match that style, I think.

On Linux, what I see in for example

[2017-07-18 05:44] zhongyi-tong commented on #210
Yep. It looked wired if the string is too long. Now that the style has been
updated, I will change it to Ctrl+1. 😀
Greg Price <notifications@github.com>于2017年7月18日 周二上午10:17写道：

[2017-07-18 08:23] fragm3 commented on #217
That would be great! I actually installed a fresh setup, don't have that error anymore.

[2017-07-18 09:41] #212 closed, assigned to nobody

[2017-07-18 09:58] akashnimare commented on #208
@timabbott done.

[2017-07-18 14:00] penCsharpener opened #220 "default installation path"
before the #205 Zulip installed itself into `C:\Program Files\Zulip` but now it's `C:\Program Files (x86)\Zulip`
can that be changed back please as most current users have it on the one location already and this will only lead to Zulip being installed twice.

on Win10 you have to install one from the new settings menu (apps and programs) and the other from the old control panel > programs and feat

[2017-07-18 14:01] penCsharpener commented on #220
I meant to say that although the user can now change to path to whatever they wish most people stick with the default.

[2017-07-18 17:27] catxeger opened #222 "Hide/Toggle left sidebar"
(recreated in the correct project, per:  https://github.com/zulip/zulip/issues/5821)

Adding the left-side configuration bar results in the electron 1.2.0 client being exceedingly wide -- and the width can't be adjusted without hiding the user list.

Is it possible to make the width of the user list adjustable (streams also would be nice!), so it's possible to reduce the overall width of the clien

[2017-07-18 17:29] timabbott commented on #222
I think probably the thing we should do here in the electron app is make it possible to hide the organization switcher sidebar when you only have one organization.

[2017-07-18 17:32] akashnimare commented on #222
I'm positive on this.

[2017-07-18 18:32] akashnimare commented on #207
Adding to this I think that reload button is necessary for now. We don't want a situation where a white blank page shows up (due to network issues etc) and the user has no idea what to do at that moment. Mostly a quick reload fixes everything.

Ideally, the app should be able to auto-reload itself. We're trying to figure out those cases when the white page shows up. We'll remove this reload button

[2017-07-18 18:33] akashnimare commented on #207
@gnprice thanks for the suggestions, closing this now.

[2017-07-18 18:33] #207 closed, assigned to nobody

[2017-07-18 20:46] zhongyi-tong commented on #222
Ok Will do. Maybe a floating collapse button will be a good idea.
Akash Nimare <notifications@github.com>于2017年7月19日 周三上午1:33写道：

[2017-07-19 07:16] zhongyi-tong commented on #217
@timabbott @akashnimare I suggest we should close this issue. The behavior is inherited from electron and nodejs and there is nothing we can do about it. It's not feasible to catch the error by `process.on('uncaughtException')` in `main.js` because electron terminates before running that script.

[2017-07-19 15:15] zhongyi-tong commented on #204
@timabbott Maybe we should make a whitelist of open-in-browser urls, rather than a list of in-app urls. It's more consistent with the current behavior. We don't want to unexpectedly redirect (maybe a new url pattern) to browser as user clicks something.

So, as far as I know, the whitelist should include `/help`, `/apps`, `/integrations`, `/api` and `stats`, right?

[2017-07-19 15:23] zhongyi-tong commented on #204
Actually we have a filter now:
![image](https://user-images.githubusercontent.com/7262715/28375079-28f63756-6c6c-11e7-9f07-bc5619132725.png)

We can add `/help`, `/apps` and `stats` here as well.

[2017-07-19 15:40] zhongyi-tong commented on #204
@timabbott @akashnimare

**Update:**
On second thought, why do we need the `isInternal` on `new-window` at the first place? The event will only be triggered when a link tries to open a new tab. We can just follow the original behavior! Is there any reason why we added the `isInternal`? Is it because if we open `Statistics` in browser, the session will be broken?

[2017-07-19 15:53] zhongyi-tong commented on #210
The `Ctrl + 1` shortcut text has been updated.

By the way, @akashnimare came with a silghtly different style, which looks like below:
![image](https://user-images.githubusercontent.com/7262715/28376618-300d34dc-6c70-11e7-919d-8f53b175a323.png)

Which one do you prefer?

[2017-07-19 17:43] #217 closed, assigned to nobody

[2017-07-19 18:34] timabbott commented on #217
Cool, thanks for investigating @geeeeeeeeek!  @fragm3 if you're interested in helping further here, you could add a troubleshooting guide to our docs that mentions this.

[2017-07-19 18:46] timabbott commented on #210
I think I prefer the new style.

[2017-07-19 18:50] timabbott commented on #204
My concern is that we'll keep adding new landing page type content to the Zulip webapp that one might send a link to, and clicking that link in the app shouldn't open it.  That list of URLs will change frequently with time.

We do need to whitelist the login/user registration flow pages, or you won't be able to login :).  But those are essentially all within a nice, consistent, URL namespace start

[2017-07-19 18:50] akashnimare commented on #213
I have to close this since it's an upstream issue and there is not much we can do about it. I hope electron team fixes these performance issues soon.

[2017-07-19 18:57] akashnimare commented on #204
@geeeeeeeeek we need `new-window` event because it's necessary to handle links which contains `target="_blank"`. If we don't handle this event those links will be opened in a new browserwindow.

[2017-07-19 19:01] akashnimare commented on #209
@timabbott is this fixed in webapp? If yes, then we can close this.

[2017-07-19 19:46] akashnimare commented on #176
Please re-open if it happens again.

[2017-07-19 19:46] #176 closed, assigned to nobody

[2017-07-19 21:19] uri opened #224 "No hover info on emojis or reactions"
- `macOS Sierra 10.12.1`
- Add a reaction and hover over it.
- Hover should show who reacted and the emoji name like it does in the browser.

[2017-07-19 21:28] timabbott commented on #224
Interesting, thanks for the report!

[2017-07-19 21:29] timabbott commented on #209
It isn't, but there is a bug in the webapp that's probably this, so maybe it makes sense to just track it there.

[2017-07-19 21:29] #209 closed, assigned to nobody

[2017-07-19 21:31] timabbott commented on #213
I don't think we should close this yet.  At least, it's not clear to me that we've proven it's an upstream issue through profiling (it could easily be some bug on our part), and even if we know it is, we should at least be opening an upstream bug report, and trying to encourage upstream to work on it.

[2017-07-19 21:47] uri commented on #224
This seems to be fixed in the 1.2 beta. Was using v0.5.10

[2017-07-19 21:57] fragm3 commented on #192
Hi, I have implemented Show unread count in tray, should I make a pull request now?

[2017-07-20 00:24] gnprice commented on #209
For clarity of cross-reference: I believe this is zulip/zulip#4720 .

[2017-07-20 02:44] zhongyi-tong commented on #204
@akashnimare Yup, what if we keep `new-window` event but discard `isInternal`? Let all links with `target="_blank"` open in browser?

The only problem I found, is that when `/stats` opens in browser, the session will be lost and will redirect to login page. However, I don't think it should be opened in the app...

![image](https://user-images.githubusercontent.com/7262715/28398108-3c8f87ae-6ccb-11

[2017-07-20 02:45] zhongyi-tong commented on #213
Well, @gnprice can you still reproduce this now?

[2017-07-20 02:47] zhongyi-tong commented on #192
Great! PR is welcome!

On Thu, Jul 20, 2017 at 5:57 AM Shubham Gupta <notifications@github.com>
wrote:

[2017-07-20 05:35] brockwhittaker commented on #210
I think this would look better if the edges of the selected icon didn't extend out to the edge of the sidebar but rather had a margin of ~5px, and had a slightly rounded border.

[2017-07-20 09:32] akashnimare commented on #224
@uri can you reproduce this on v1.2.0-beta?

[2017-07-20 11:07] fragm3 commented on #192
Done with: Show unread count in tray, working on Disable/enable spellchecking and Show app unread badge now

[2017-07-20 12:31] penCsharpener commented on #167
for future reference some electron messengers that have taskbar notifications:
inofficial whatsapp claims to have it: https://github.com/bcalik/Whatsapp-Desktop
official wire: https://github.com/wireapp/wire-desktop (although I have to check it again.

but electron also has some documentation about overlaying the taskbar icon
[overlay icon with image](https://github.com/electron/electron/blob/mast

[2017-07-20 16:40] fragm3 commented on #192
Done with: Show app unread badge, would be moving forward with Disable/enable spellchecking and auto launch option

[2017-07-20 16:46] zhongyi-tong commented on #210
@timabbott @brockwhittaker @akashnimare @gnprice It has been implemented in #219. Feel free to try it out!

![image](https://user-images.githubusercontent.com/7262715/28428953-a66d3a66-6d40-11e7-8da0-e9309ead2a62.png)

![image](https://user-images.githubusercontent.com/7262715/28428959-ab655d00-6d40-11e7-9e3d-c230ae84f5c7.png)

[2017-07-20 18:42] akashnimare commented on #167
@vbNETonIce thanks for above links. I'll look into it :)

[2017-07-20 23:09] brockwhittaker commented on #210
I definitely think it would look clearer if the :active color didn't extend out to the edges.

[2017-07-20 23:10] timabbott commented on #210
Thanks for doing this @geeeeeeeeek.

Brock's suggestion seems like an alternative worth prototyping to see how it looks :)

[2017-07-20 23:13] timabbott commented on #204
Yeah, the session problem is sorta a necessary evil.  We may later move that page to be in-app to resolve that concern, but with the whitelist approach I suggested, that wouldn't require any changes to the desktop app.

[2017-07-21 02:10] akashnimare commented on #167
This feature has been added in https://github.com/zulip/zulip-electron/commit/67dc1e2a11ab7b573776ccaa90656b8051e57124. This is how it looks -
![pasted_image 2](https://user-images.githubusercontent.com/2263909/28446339-c527bd8a-6de7-11e7-8ef5-65e76fc6648c.png)

@vbNETonIce, @ElliotSilver can you verify if it works properly.

[2017-07-21 04:51] penCsharpener commented on #167
you nailed it! Looking great and it's eye catching. Well, I guess it  was a few more lines of code than my 3, haha.
![flash and overlay](https://user-images.githubusercontent.com/26190934/28449543-207b3e5c-6de1-11e7-98e6-702290cc650d.gif)

[2017-07-21 10:11] penCsharpener commented on #220
found a workaround for this
the app installer does add an entry in the registry here:
`HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\18ddfc16-e384-5f72-a0ed-ffefbe17581a`
![REG_SZ](https://user-images.githubusercontent.com/26190934/28459466-dec111a8-6e0d-11e7-9737-9882114df5ed.png)

With a group policy I updated this key to the path above and that's the path the app will now use to install by default. I

[2017-07-21 10:32] akashnimare commented on #167
@vbNETonIce Thanks, I told you it's just a matter of time. @ElliotSilver feel free to migrate to [zulip-electron](github.com/zulip/zulip-electron/releases) :)

[2017-07-21 10:33] #167 closed, assigned to nobody

[2017-07-21 11:00] akashnimare commented on #210
Hmm, that will look like this -

![image](https://user-images.githubusercontent.com/2263909/28460847-8d3c275e-6e31-11e7-806b-344da02a892d.png)

![image](https://user-images.githubusercontent.com/2263909/28460868-abd59998-6e31-11e7-9e5c-aeb7b8b9dae2.png)

this looks better :)

[2017-07-21 11:01] zhongyi-tong commented on #210
Thanks @akashnimare. Vote time :)

[2017-07-21 11:17] akashnimare commented on #210
https://github.com/zulip/zulip-electron/issues/210#issuecomment-316972620 does not look good when it's not active. How about this -

![image](https://user-images.githubusercontent.com/2263909/28461370-f89b3b78-6e33-11e7-8c8f-81d6581a6775.png)

![image](https://user-images.githubusercontent.com/2263909/28461386-07a56d00-6e34-11e7-8fa5-001730e4e7d8.png)

[2017-07-21 11:36] penCsharpener commented on #210
I think I like it more without the round edges and margins. With the current design you are more vulnerable to shape clashes. With the Zulip server icon it might work but the other one which is square it clashes. There are more changes in colour overall making it more busy than necessary.
Also the selector is only different in brightness. But there is basically a selector around every icon which i

[2017-07-21 13:19] penCsharpener opened #231 "bug: app Window opens beyond screen boundaries"
Had this twice now that Zulip opened on a PC but was not visible. Figured out that window positions where saved that cause the app to start beyond the screen resolution.

- OS: `Windows10`
- reproduce: close Zulip, in `%appdata%\Zulip\config.json` make x more negative than width is positive

for non techy users this could be a killer because even if your uninstall Zulip the appdata folder remains

[2017-07-21 19:29] fragm3 opened #232 "Bug in text formatting"
OS: macOS 10.12.5

When formatting text(italics, bold, etc),  if I click anywhere in the blue highlighted box, the typed message gets deleted.
<img width="939" alt="screen shot 2017-07-22 at 12 58 17 am" src="https://user-images.githubusercontent.com/18073126/28479187-f04db7d0-6e78-11e7-8571-ef1229d2701d.png">
---
Please include:
- `Operating System`
- `Clear steps to reproduce the issue`
- `Relev

[2017-07-21 19:40] timabbott commented on #232
Nice find!  I just reproduced in zulip/zulip without the desktop app, so we should move the issue there.

I think the bug is in this section of `click_handlers.js`:
[code]

@fragm3 you can try print-debugging there to see what's wrong; I think it might be that `.modal` got renamed to `.overlay`...

[2017-07-21 20:03] fragm3 commented on #232
Yeah, got the same issue with the web app. Yeah looking into the issue. Should I create issue in the electron repo?

[2017-07-21 20:04] timabbott commented on #232
Yeah, create an issue in the server/webapp project.  Since the electron app just uses that code from the webapp, there's no point in tracking it here (no reasonable change to the electron codebase will fix it).

[2017-07-21 20:04] #232 closed, assigned to nobody

[2017-07-21 20:06] timabbott commented on #210
Yeah I think it looks better without the rounded corners and margins.

[2017-07-22 14:58] akashnimare commented on #231
I think to handle these types of cases we should not allow negative values of x and y.

[2017-07-22 15:02] akashnimare commented on #231
@vbNETonIce can you pull master and check if it fixes this issue?

[2017-07-24 09:05] penCsharpener commented on #231
Yes, it's fixed but I realised something else now. i've got three screen, the centre one is the main display. The left screen has x: -... where Zulip app runs. This is more convenience really. But now zulip would always start up on my centre rather than left screen.
Is it possible for you to check the maximum screen estate and base the maximum negative x on that.
That would be low priority though.

[2017-07-25 17:52] akashnimare commented on #231
Complicated but possible.

[2017-07-25 18:03] akashnimare commented on #224
Closing it as I can't reproduce this on v0.5.10/v1.2.0-beta.

v0.5.10 -

![image](https://user-images.githubusercontent.com/2263909/28586500-b84fc8ac-7191-11e7-9b6d-9afe4271c8b6.png)

[2017-07-25 18:03] #224 closed, assigned to nobody

[2017-07-25 19:45] akashnimare commented on #216
@geeeeeeeeek ping.

[2017-07-25 22:27] akashnimare commented on #231
Can you pull [restore-window](https://github.com/zulip/zulip-electron/tree/restore-window) and see if it works?

[2017-07-26 08:57] penCsharpener commented on #231
just did, when I move the app to the left screen and close it, it will still open on the centre screen (which is main the screen). It's like before.

[2017-07-26 11:29] penCsharpener commented on #231
ok, sorry... didn't checkout the correct branch. App now restores the last position even on the left screen. But the config.json always shows `x=0`. Is that intended? Do you save the window position somewhere else now?

[2017-07-26 15:29] akashnimare commented on #231
Yeah, it's in `window-state.json`. Can you cross check all the possible cases? I have a doubt that it might not work as intended in certain cases.

[2017-07-26 18:20] akashnimare commented on #210
Added in https://github.com/zulip/zulip-electron/commit/697948c9d899e2d66739f59f6d9e89914235af4b. Thanks everyone for your suggestions 😄

[2017-07-26 18:20] #210 closed, assigned to nobody

[2017-07-26 18:37] #222 closed, assigned to nobody

[2017-07-27 08:16] penCsharpener commented on #231
ok, what I like is that it saves the coordinates now on close. Before it was everytime you move the Window which produces unnecessary I/O on HDDs.
checked different of scenarios with the . `window-state.json`
1) moving the window on any of the three screens and closing it will restore it correctly
a) on the left screen it get:
[code]

b) on centre screen which is main screen:
[code]

c) on right s

[2017-07-27 09:30] akashnimare commented on #231
This is the case I was talking about 😺  When a user removes an external monitor while the app is not running, on next start, the app is positioned off screen.

[2017-07-27 16:09] zhongyi-tong commented on #214
See #236. Finally fixed.

[2017-07-28 09:42] akashnimare commented on #204
Fixed in https://github.com/zulip/zulip-electron/commit/9e4e5e9bfd355c4612e1e24b5b7d39555941d770. From now on, pages like /help, /stats, /api, /integrations etc would get open in the default browser.

[2017-07-28 09:42] #204 closed, assigned to nobody

[2017-07-28 10:10] akashnimare commented on #164
https://github.com/zulip/zulip-electron/commit/9e4e5e9bfd355c4612e1e24b5b7d39555941d770 should fix this issue.

[2017-07-28 20:04] glyph commented on #164
Let me know when there's a new build to test, and I'll be happy to report if it happens again.

[2017-07-30 12:16] akashnimare commented on #181
@geeeeeeeeek the URL in background-image does not work as expected on windows.

[code]

It appends the path of the directory from which it running to the path of server icon which results in the path error. For an example, the end bg-image URL would look like this -

[code]

To fix this, I have implemented the same styling with img tag in [windows-path-issue](https://github.com/zulip/zulip-electro

[2017-07-31 18:28] akashnimare commented on #181
Fixed in https://github.com/zulip/zulip-electron/commit/d8c08c1c5bea67fcdde334143f13452a474e4bd2.

[2017-07-31 18:28] #181 closed, assigned to nobody

[2017-07-31 18:32] #214 closed, assigned to zhongyi-tong

[2017-08-01 17:40] akashnimare commented on #216
It's a known issue, see -
https://github.com/electron/electron/issues/1773
https://github.com/electron/electron/issues/5900

[2017-08-01 17:48] zhongyi-tong commented on #216
@akashnimare yeah, I found the issue. It's Windows specific. But actually, the webview is focused when the app regains focus. I'm finding out how to fix it.

[2017-08-01 17:57] zhongyi-tong commented on #216
With an explicit focus on webview, it works well on macOS and Linux but not on Windows. Removing the explicit focus fixes the issue on Windows but breaks on macOS...

[2017-08-01 18:04] timabbott commented on #216
I guess we can have a conditional by platform?

[2017-08-01 18:05] akashnimare commented on #216
Yeah, that would work. I have tested following solution which works well on all platforms -
[code]

[2017-08-01 20:47] timabbott opened #242 "Performance issue on Linux when closing keyboard shortcuts overlay"
In the app on Linux (current master), I can reliably reproduce hitting `?` working fine, but then hitting then `escape` to close the keyboard shortcuts modal is really slow; it feels like it takes like half a second.

Here's a profile obtained using the developer tools:
![image](https://user-images.githubusercontent.com/2746074/28846203-6e9aa0aa-76bf-11e7-9425-4add03013bf1.png)

Since the issue do

[2017-08-01 20:50] timabbott opened #243 "Settings gear icon in left sidebar appears when you enter the settings page."
On Linux, I encountered this issue, where the gear ended up being added like a server near the top:

![image](https://user-images.githubusercontent.com/2746074/28846401-21f3ae58-76c0-11e7-9008-2a684a1c8ad3.png)

Reproducer:
* Click on the settings gear.  It should highlight the icon at the bottom, not add a duplicate that's highlighted.

[2017-08-01 20:57] timabbott opened #244 "Do another pass of revising the "About" page for the desktop app."
Here's what it currently looks like:

![image](https://user-images.githubusercontent.com/2746074/28846600-e81af384-76c0-11e7-9c24-95c7ef1076f7.png)

@rishig @brockwhittaker we should talk about what should go on this page and make a design.  I think probably 3 segments make sense:
* About Zulip -- probably just a link to zulipchat.com and/or zulipchat.com/about
* About the app -- probably just a n

[2017-08-01 20:58] timabbott commented on #243
I also managed to get this emoji via the "About" item in the taskbar menu.

![image](https://user-images.githubusercontent.com/2746074/28846751-743a5bb6-76c1-11e7-9b96-1a69eb5a766e.png)

[2017-08-01 20:59] timabbott commented on #243
I guess for "About", I think moving it to be a tab under "Settings" would be a good solution for making it more discoverable (and having it not need a left-sidebar switcher menu item).

[2017-08-01 21:01] timabbott opened #245 "No easy way to select a server after hidding the sidebar"
If you hide the server switch sidebar, on the settings page, there's no obvious way to get back to seeing your single Zulip server's UI.  It turns out you can do it with `ctrl-1`, but that's really not obvious.

Some ideas for fixing:
* The "Servers" section of the settings page should let you jump to that server, maybe be clicking on the icon or something.
* We should list the servers you have se

[2017-08-01 21:08] timabbott opened #246 "Make capitalization in menus consistent"
Capitalization is inconsistent in the File/Edit/etc. menus; we should probably be consistently using the "Keyboard shortcuts" style of capitalization that we use throughout the app.  So e.g. "Hard Reload" should become "Hard reload"

[2017-08-01 21:08] timabbott opened #247 "Some menu items on Linux are weird or don't work"
Specifically at least these are broken:
* Keyboard shortcuts / ctrl-K (neither hotkey nor menu does anything)
* "Clear cache" does this ugly thing:

![image](https://user-images.githubusercontent.com/2746074/28846867-e9454d12-76c1-11e7-82b1-dfbb1a634410.png)
does it so something useful as well or is it just weird?
* "Full screen" has no easy way to get out if you went there by clicking the menu it

[2017-08-01 21:09] timabbott commented on #247
(And then open follow-up issues at lower priority for re-adding these elements?)

[2017-08-01 21:14] timabbott opened #248 "Update realm icon and name from server configuration on app startup"
I just tested changing the icon for an organization and then restarting the desktop app, and it still has the original icon from when I connected.  We should make the app check with the servers on startup (and maybe also every 24hr or something?) for `/server_settings`, and adjust the icon and realm name accordingly.

(We still want the caching that we have to have a good experience when opening t

[2017-08-01 21:16] timabbott opened #249 "Weird size flicker when opening the app or an existing Zulip organization"
If you close the app and then re-open it, and then click on a busy organization like chat.zulip.org, there's a brief flicker as it loads the page where the right-side window area is super small, like this:

![image](https://user-images.githubusercontent.com/2746074/28847394-ea1b6f9e-76c3-11e7-9752-5382ce45800c.png)

It'd be awesome to get rid of this, since it doesn't look super good.

[2017-08-01 21:19] timabbott opened #250 "Tray icon should probably include Zulip logo even with unread messages"
I think it could be worth modifying this icon to look more like the Zulip favicons, with the unread count in the corner over a clear Zulip logo:

![image](https://user-images.githubusercontent.com/2746074/28847499-4d5c268e-76c4-11e7-890a-27316ec1dbea.png)

[2017-08-01 21:20] timabbott opened #251 "Focus doesn't work properly on Linux/Windows"
On Ubuntu 16.04, with the master branch, if you alt-tab to the window, you need to click into the window in order for any of our keyboard shortcuts to work, which is pretty annoying.

[2017-08-01 21:31] timabbott opened #253 "ctrl-C on zulip-electron-launcher doesn't close the app on Linux"
When developing, my debug cycle involves frequently rerunning `zulip-electron-launcher`, using ctrl-C to stop it, and then starting it again.  Right now, on Linux, it doesn't actually stop immediately.

It seems worth making it the case that ctrl-C will kill the app so that restarts aren't annoying.

[2017-08-01 21:34] gnprice commented on #251
I've been seeing the same thing today -- on Debian stretch, running GNOME.

[2017-08-01 22:56] akashnimare commented on #253
@timabbott can you check if https://github.com/zulip/zulip-electron/commit/f5e15e3c850b05a34238cac75c308d89f6c8a9ad fixes this issue?

[2017-08-01 22:58] timabbott commented on #253
Confirmed fixed, yay!

[2017-08-01 22:58] #253 closed, assigned to nobody

[2017-08-01 23:20] akashnimare commented on #247
It does work and opens keyboard shortcuts but it's pretty slow (on Linux). On macOs it's pretty smooth.

It clears the session’s HTTP cache and temp files. Not so useful as of now.

I'm thinking to move it to settings page and add few more options in that function like deleting app's settings/configuration etc.

[2017-08-01 23:25] timabbott commented on #247
Oh, I see what's going on.  The hotkey is `Ctrl-k`, not `Ctrl-K` (aka it needs to be lower case), and I was typing `Ctrl-Shift-K`.  I guess that's probably user error, though we could think about spelling it `Ctrl-k`.

Moving "Clear cache" to settings probably makes sense.

[2017-08-02 02:39] zhongyi-tong commented on #251
I didn't reproduce this issue on the master branch.

Steps:
1. Focus on another app (terminal).
2. Alt-tab to Zulip.
3. Ctrl+1 -> Switch to first tab.
4. Ctrl+=/Ctrl+- -> Zoom in/out webview.

![2](https://user-images.githubusercontent.com/7262715/28855248-7c16f85e-7701-11e7-96b4-934cfbbc4127.gif)

[2017-08-02 02:44] gnprice commented on #251
Interesting.

Instead of alt-tab, try mousing over the Zulip app? Or clicking on the
title bar.

For me the issue reproduces on any of mouse over (which I've set my window
manager to cause the window to be focused), click title bar, ​or alt-tab.
Only clicking inside the window succeeds in making the keyboard shortcuts
start working again.

[2017-08-02 02:55] zhongyi-tong commented on #246
Since most of the apps (including system apps) use upper-case initial letters on macOS. We should use that style as well. Fixed in #254.

[2017-08-02 03:02] zhongyi-tong commented on #243
1. The gear in your screenshot is a tab for the corresponding webview. And the gear at the bottom is an action button to open settings. There are three types of functional tabs that will show on the sidebar: Settings, About and Network Diagnose. I think it's okay to keep it for simplicity. If removed, users might be confused how to close a Settings or a Network Diagnose.
![image](https://user-imag

[2017-08-02 03:14] timabbott commented on #243
Hmm, interesting.  I feel like the current UI does feel a bit weird, but given that context, I'm less sure what the right answer is.

[2017-08-02 03:41] zhongyi-tong commented on #243
For reference, Slack uses a pop up modal for these pages instead of a tab.
![1](https://user-images.githubusercontent.com/7262715/28856774-7a3c6a38-770a-11e7-838f-70140d663d5e.gif)

[2017-08-02 15:04] zhongyi-tong commented on #249
Fixed in #256.

`<webview>` runs out of the process, so the asynchronous nature is by design. The laggy resizing bug is described [here](https://bugs.chromium.org/p/chromium/issues/detail?id=639867). It's a bug from Chromium and has not been fixed.

The workaround is to use an exponential ease-in animation to make the opening looks smooth. The time of opening a new tab is increased by 0.7s, which

[2017-08-02 16:32] keturn opened #257 "ChecksumMismatchError on running zulip-electron-launcher.sh"
Sometime around 2017-08-01, zulip-electron-launcher.sh failed to launch (in a zulip-electron checkout that had previously been working).

I think the most relevant part is this:

[code]

more complete log here: [zulip-electron-checksum.txt](https://github.com/zulip/zulip-electron/files/1194577/zulip-electron-checksum.txt)

on OS X 10.12.6 (16G29)

[2017-08-02 16:35] keturn commented on #257
following the advice of @akashnimare, I did `rm -rf node_modules app/node_modules`

when zulip-electron-launcher re-installed everything, things were working again. 👌

[2017-08-02 16:37] akashnimare commented on #257
Thanks, @keturn.

[2017-08-02 16:37] #257 closed, assigned to nobody

[2017-08-02 16:49] zhongyi-tong commented on #242
After some profiling work, I found out that `resize_bottom_whitespace ` took unreasonably long time, which was recalculating layout and rendering. DevTools suggest it might be caused by a forced reflow.
<img width="801" alt="shortcuts2" src="https://user-images.githubusercontent.com/7262715/28884551-e4d7f5a2-7777-11e7-9028-b91bdb2ba898.png">

On contrast, closing a settings overlay won't have such

[2017-08-02 19:00] akashnimare commented on #247
I have added a popup which will highlight the hotkeys on full screen.
- macOS

![image](https://user-images.githubusercontent.com/2263909/28889522-e36d256a-77e1-11e7-805e-46cab3c2070b.png)

[2017-08-02 19:08] akashnimare commented on #249
@timabbott can you reproduce this on master?

[2017-08-02 19:28] akashnimare commented on #247
Electron does not allow setting menu item in lower case. So if we set `CTRL+k`, it will show `CTRL+K`. Btw `Shift` is explicitly mentioned if it's there in shortcut.

[2017-08-04 05:07] zhongyi-tong commented on #245
Click server name to show webview. Done in #262.

Will add servers to the view menu in the next step. Like this:
![](https://chat.zulip.org/user_uploads/2/d1/-xxW104p--zkPBiANo7pVgCg/pasted_image.png)

[2017-08-04 08:08] akashnimare commented on #245
@geeeeeeeeek in `Window` menu :)

[2017-08-04 08:51] akashnimare commented on #247
Closing and merging to #192. `Clear cache` will be added in setting page.

[2017-08-04 08:51] #247 closed, assigned to nobody

[2017-08-04 11:50] FeaRiTail opened #263 "1.2.0 beta: After closing the client on Windows (8.1) it cannot be started again until OS-reboot"
Hi guys,

first of all: Nice client, I really like this one and prefer it compared to the zulip web-interface.

Currently I experience a strange problem when doing the following:
- Start the Zulip-Client as usual
- at some point, quit it (CRTL+Q I think is the shortcut)
- on the process-explorer/task-list I do not see anymore zulip-processes
- then try to start it again

What happens:
The zulip-pr

[2017-08-04 15:27] akashnimare commented on #263
@FeaRiTail hey, thanks for the bug report. I'll look into it.

[2017-08-04 15:57] akashnimare commented on #251
I can't reproduce this either. @timabbott, @gnprice can you check if following steps works on your system -

[2017-08-04 21:28] timabbott opened #264 "Improve "+" button to add a new organization"
When you click the "+" button to add a new organization, it takes you to the right page in settings, but it should also automatically show the "Add server" input and have the focus be in the text box.

(Similarly, the "Add server" button should also put the focus in the input box after you click it).

Tagging this as a priority since some users who were trying out Zulip today seemed fairly annoyed

[2017-08-04 22:14] akashnimare commented on #264
@timabbott pushed a fix in https://github.com/zulip/zulip-electron/commit/caf454590214741455ac535636d8550b15ad79bd. Anything else we should add/change in this?

[2017-08-05 02:46] gnprice commented on #251
​Those steps work fine. Ctrl-= and Ctrl-- successfully zoom the view, but
the webapp's shortcuts (even up/down to move between messages) have no
effect.

[2017-08-05 07:12] akashnimare commented on #251
Okay, I can reproduce this now. I thought you guys were talking about the desktop shortcuts (Ctrl+1, Ctrl+= etc) which work on `Alt+tab`. @geeeeeeeeek try reproducing this using `J` and `K` which does not work when the window loses focus. I confirm that it's caused by https://github.com/zulip/zulip-electron/pull/241. The problem is when you focus other app and get back to Zulip using `Alt + tab` t

[2017-08-05 07:39] akashnimare commented on #251
@geeeeeeeeek we need to find a solution which fixes this as well as #216.

[2017-08-05 09:43] akashnimare commented on #251
Can you guys pull up [window-focus-fix](https://github.com/zulip/zulip-electron/tree/window-focus-fix) and check if this fixes #216 + #251?

Update - Well, it does not work as expected 😭

[2017-08-05 19:06] timabbott commented on #264
This is better, but:
(1) The loading screen animation for opening the settings page is unnecessary and weird.  @geeeeeeeeek is this a regression in your recent work to avoid the partial-page load.
(2) It's weird that we display the "Add server" button option when the dialog to add a server is visible.
(3) It's a little weird that we show a Zulip logo in the icon spot next to the UI for adding a ne

[2017-08-06 01:30] timabbott commented on #243
Is Slack's popup modal a new window, or a modal within the window?  I think if it's a modal within the window, that'd be a good approach for the "add server" UI in the Zulip app, and maybe also for settings in general.

For network errors, I think that actually belongs in the window for a given Zulip server, not in the overall error position.  Because you might be able to reach one server but not

[2017-08-06 02:01] zhongyi-tong commented on #243
Slack's popup is a modal within the window.

I think it's a good idea to implement settings in an app-wise modal, instead of tab-wise (to distinguish from its own settings from Zulip web). It's doable but needs some big changes in the code.

[2017-08-06 02:03] timabbott commented on #243
Yeah, probably not something for this release :)

[2017-08-06 03:54] zhongyi-tong commented on #245
![image](https://user-images.githubusercontent.com/7262715/29000456-d77bd7e6-7a30-11e7-9119-b220f31cecbf.png)

@akashnimare The sub menu is done. But seems that `window` submenu is only displayed on macOS. Do we need to do the same on Linux and Windows?

[2017-08-06 11:30] akashnimare commented on #245
Yeah, we should add the `window` menu on Linux and Windows as well.

[2017-08-06 12:29] #245 closed, assigned to nobody

[2017-08-06 12:30] akashnimare commented on #245
On windows -

![image](https://user-images.githubusercontent.com/2263909/29003260-1368aa18-7ad1-11e7-9e49-eeb05cc58e37.png)

[2017-08-06 12:31] zhongyi-tong commented on #245
Looks great!

[2017-08-06 12:45] akashnimare commented on #263
Just fresh installed `1.2.0-beta` on Windows 8 but couldn't reproduce this. Can you please reinstall it and see if it fixes this problem?

[2017-08-07 05:14] FeaRiTail commented on #263
hi @akashnimare, I did some more tests on my local computer.
I installed the Zulip-Client this was:
- downloaded the ZIP (64bit)
- unzip'ed it to C:\Program Files\Zulip

When doing this, the "restart client" issue is reproducible.
However, I then moved the whole Zulip-Folder to some other place (D:\Work for example) and there,
this restart-issue does not occur anymore.
So to me it seems that maybe

[2017-08-07 20:47] akashnimare commented on #216
Possible workaround for this issue is to switch to app using `Alt+Tab` so that you don't have to click twice on input.

[2017-08-08 16:52] akashnimare commented on #251
I have pushed a fix again. I'm sure it should fix #216 + #251 😞
Can you guys please check again using [window-focus-fix](https://github.com/zulip/zulip-electron/tree/window-focus-fix)?

[2017-08-08 18:12] akashnimare commented on #251
Fixed in https://github.com/zulip/zulip-electron/commit/20feb9bd388d946ce4e6f9478c762ad32de3e27a.

[2017-08-08 18:12] #251 closed, assigned to nobody

[2017-08-08 18:13] akashnimare commented on #216
Fixed in https://github.com/zulip/zulip-electron/commit/20feb9bd388d946ce4e6f9478c762ad32de3e27a.

[2017-08-08 18:13] #216 closed, assigned to nobody

[2017-08-08 19:01] timabbott commented on #251
I verified it's working well for me.  :tada: :rocket:

[2017-08-08 20:13] gnprice commented on #251
Works for me -- thanks @akashnimare !

[2017-08-08 21:16] akashnimare commented on #173
@SimplyAhmazing electron-builder has added the exact feature we were talking about :)

![image](https://user-images.githubusercontent.com/2263909/29094944-d859dcc0-7cac-11e7-8455-0843dc44fc87.png)

[2017-08-09 23:00] akashnimare commented on #173
Added in [v1.3.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.3.0-beta).

[2017-08-09 23:00] #173 closed, assigned to nobody

[2017-08-09 23:01] akashnimare commented on #164
@glyph Here - [v1.3.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.3.0-beta). Re-open if it happens again.

[2017-08-09 23:01] #164 closed, assigned to nobody

[2017-08-09 23:07] akashnimare opened #269 "Get Beta updates setting option not working"
Even after setting the update option to true I'm not able to get the app updates.

Steps to reproduce -
* Download v1.2.0-beta
* Set Get Beta updates to true
* Restart app
* Check logs in `/Users/%USERNAME%/Library/Application Support/Zulip`

[2017-08-10 05:05] zhongyi-tong commented on #264
Fixed in #270.

[2017-08-10 10:24] #264 closed, assigned to akashnimare

[2017-08-10 11:18] zhongyi-tong commented on #248
Working on it.

[2017-08-10 18:16] glyph commented on #164
Thanks! I haven't seen it in a while as it is, but I'll definitely keep an eye out.

[2017-08-13 03:28] anshumanv opened #271 "Use of ES6 Destructuring in index.js"
Can we possibly use ES6 (ES2015) destructuring in [index.js](https://github.com/zulip/zulip-electron/blob/master/app/main/index.js) for :

const ipc = require('electron').ipcMain;

which will prevent requiring electron multiple times as we have already done once at the start, thoughts on this suggestion ?

[2017-08-13 09:05] zhongyi-tong commented on #271
Good idea. We should do so.

[2017-08-13 09:07] anshumanv commented on #271
Thanks for the feedback, @geeeeeeeeek should i send a PR ?

[2017-08-13 12:39] akashnimare commented on #271
@Anshuman-Verma yeah, go ahead!

[2017-08-13 17:45] anshumanv commented on #271
@zulipbot claim

[2017-08-13 22:05] synicalsyntax commented on #271
Command is `@zulipbot claim`  :)

[2017-08-14 05:32] anshumanv commented on #271
Thanks for the guide @synicalsyntax , getting accustomed with zulip community 😄

[2017-08-14 18:40] #271 closed, assigned to nobody

[2017-08-14 18:53] akashnimare commented on #263
@FeaRiTail Could you reproduce this with the latest beta release - [v1.3.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.3.0-beta)? I have tested this again on Win 8.1 but it does work as expected. With 1.3.0-beta you would get an option to choose installation directory by which you can install it wherever you want i.e. other than `C:\Program Files\`.

[2017-08-14 22:20] akashnimare commented on #220
I was playing around with the installation path. This is what I have observed on Windows 8, 64-bit machine -
* The default installation path for v1.3.0-beta is `C:\Program Files\` not `C:\Program Files\x86`.
* If you choose a different installation directory, for an example - `C:\Program Files (x86)\` and have already installed the older version in `C:\Program Files\`, then it will be automaticall

[2017-08-15 10:00] penCsharpener commented on #220
hm, I had a few PCs now where Zulip 1.2.0 wasn't registered. At least it seemed like it in Settings > apps on Windows10. It turned out that those PCs had two versions installed. An older one and 1.2.0
I had to uninstall both of them first and then the (x86) was back again.
But you are right; when I say I had to uninstall both it did uninstall both but one entry remained in Control Panel > Programs

[2017-08-15 11:29] akashnimare commented on #220
I'll check this behavior on Win10 also.

[2017-08-16 15:07] zhongyi-tong commented on #248
Fixed via #273.

[2017-08-16 18:23] #248 closed, assigned to nobody

[2017-08-16 18:24] akashnimare commented on #248
Fixed in https://github.com/zulip/zulip-electron/commit/1a31d2e43188b38e449b4fe62fbb9cd0e932ba3c.

[2017-08-16 18:59] zhongyi-tong commented on #242
I tried to diff the behaviors on each side and here is what I found. After clicking the close button,

In Electron (628ms in total):
 - 252ms to recalculate style
 - 212ms to layout
 - 164ms to update layout tree

In Chrome (55ms in total):
 - 6ms to recalculate style
 - 4ms to layout
 - 45ms to update layout tree

I googled some other cases but still couldn't find an exact cause. Might need an ex

[2017-08-16 19:21] akashnimare commented on #242
628ms is massive. We gotta find out what's going on with Electron.

[2017-08-16 19:23] akashnimare commented on #269
Looks like an upstream issue from electron-builder - https://github.com/electron-userland/electron-builder/issues/1923

[2017-08-18 09:58] akashnimare opened #275 "Setup apt-repo for Debian"

[2017-08-18 10:01] akashnimare opened #276 "Add keyboard shortcuts details to setting page"

[2017-08-18 12:58] zhongyi-tong commented on #276
I wonder why is this necessary? Users can get the shortcuts from the sidebar and they can simply jump to one server by clicking its name in the settings page.

[2017-08-18 14:19] akashnimare commented on #276
Well, I'm talking about app's keyboard shortcuts i.e -
![image](https://user-images.githubusercontent.com/2263909/29462820-41f4b26a-844e-11e7-812d-1d53c60d15ae.png)

![image](https://user-images.githubusercontent.com/2263909/29462925-9212d682-844e-11e7-8a23-aefe98454857.png)

[2017-08-18 14:20] zhongyi-tong commented on #276
Oh, I see.

On Fri, Aug 18, 2017 at 2:19 PM Akash Nimare <notifications@github.com>
wrote:

[2017-08-19 10:49] probonopd opened #277 "[Linux] desktop file is lacking a Categories= entry"
The desktop file is lacking a `Categories=` entry in the `*.desktop` file.

According to the [menu spec](https://standards.freedesktop.org/menu-spec/latest/apa.html),

Hence, please add at least one of the following in the `Categories=` key.

Main Category | Description | Notes
-- | -- | --
AudioVideo | Application for presenting, creating, or processing multimedia (audio/video) |
Audio | An audio

[2017-08-19 15:20] #277 closed, assigned to nobody

[2017-08-19 15:20] akashnimare commented on #277
@probonopd fixed. Thanks for the bug report.

[2017-08-19 15:27] probonopd commented on #277
Thanks @akashnimare :+1: please ping me once the new release is out so that I can add this to AppImageHub.

[2017-08-19 15:27] akashnimare commented on #277
Sure :)

[2017-08-19 19:08] #269 closed, assigned to nobody

[2017-08-20 20:06] zhongyi-tong commented on #198
Done in #278.

[2017-08-21 09:25] akashnimare opened #279 "autoUpdater.quitAndInstall() does not quit + relaunch app"

[2017-08-22 19:27] timabbott commented on #249
The workaround works mostly, though I'm not really a fan of the 0.7s delay.  It might be worth asking on Electron forums about whether there's a better workaround available; other Electron apps like Slack seem to not have this problem...

[2017-08-23 03:59] timabbott commented on #276
Is the point of this feature to make them customizable, or just to list them all in one place?

[2017-08-23 23:26] akashnimare commented on #275
Done here - https://bintray.com/zulip/debian/zulip-electron
Instructions added in - https://github.com/zulip/zulip-electron/commit/949d786f1f1d467484d29d8560edcb5491a0f126

[2017-08-23 23:26] #275 closed, assigned to nobody

[2017-08-23 23:27] akashnimare commented on #276
For now, we just want to list all the shortcuts at one place. Later on, we can work on the customizable part.

[2017-08-24 01:08] timabbott commented on #276
Yeah, listing them all would be nice.

[2017-08-25 12:45] #198 closed, assigned to nobody

[2017-08-25 12:56] #148 closed, assigned to nobody

[2017-08-25 21:48] #279 closed, assigned to nobody

[2017-08-28 21:50] rishig opened #281 "Add a link for creating a new organization on zulipchat.com."
Currently if someone installs the desktop app with the intent to create a new organization, they will get to the "Enter your server url" page and be confused.

It would be great to add a link somewhere on that page that links to zulipchat.com/beta, with the text "Create a new organization on zulipchat.com".

[2017-08-28 21:53] timabbott commented on #281
I think this is a good idea.

[2017-08-28 22:32] akashnimare opened #283 "Add a post install script to add the apt repo in debian installer"
We need to write a post install script to install the apt repo and the signing keys into user's system when installing the Debian package.
 Example - https://github.com/Microsoft/vscode/blob/bfc4e3d780ddbcf8802d9ddc61e3b440af3cae5b/resources/linux/debian/postinst.template#L20

[2017-08-30 10:42] akashnimare commented on #281
Is it okay (although it doesn't look super good) -

![image](https://user-images.githubusercontent.com/2263909/29868654-6f59bb44-8d9d-11e7-8303-89732d6afc12.png)

We need to make some design changes here. Also, there should be a link for "find your team".

![image](https://user-images.githubusercontent.com/2263909/29868781-f6a23dba-8d9d-11e7-9d49-3483d633a751.png)

[2017-08-30 16:55] timabbott commented on #281
You can just link to zulipchat.com/find_account for the "find your team" concept; we already have that feature (though we don't use the word "team").  But we should be clear that it will only find your account on zulipchat.com.

Maybe something like "Using zulipchat.com but don't remember your organization's URL?  Find your zulipchat.com accounts."

relatedly, the text here needs to convey "Create

[2017-08-30 17:30] rishig commented on #281
I think a relatively small, unadorned link with "Create a new organization on zulipchat.com" should be sufficient; I don't think it will be a common flow, and we don't want zulipchat.com to appear too heavily for non-zulipchat.com users.

For find your team .. I'm tempted not to put anything for now? Or have "Find your team" take you to a separate page, that asks for your server URL, and gives zul

[2017-08-30 19:06] akashnimare opened #284 "Add reply option in desktop notification [macOs]"
Something like this -

![image](https://user-images.githubusercontent.com/2263909/29890184-5ea9e0de-8de4-11e7-9b8c-23819ed0ee99.png)

![image](https://user-images.githubusercontent.com/2263909/29890142-341a0ee8-8de4-11e7-95fe-02318220ed4c.png)

![image](https://user-images.githubusercontent.com/2263909/29890049-de29008e-8de3-11e7-87d2-ca8d209186ac.png)

This could be done using - https://github.co

[2017-09-05 22:44] akashnimare commented on #46
@hlieberman this should work in the latest release [v1.4.0](https://github.com/zulip/zulip-electron/releases/tag/v1.4.0). If you're behind a proxy, you can config it using `Setting page > Network`. Please try the latest release and let me know if it works.

[2017-09-06 06:34] penCsharpener opened #286 "enhancement: add shortcut to reset app settings"
The main point of this request is to be able to reset the window state if the app is invisible on a virtual or multi screen setup.

The shortcut would reset x and y both to 0 and then reset the desktop app.

On Windows the shortcut could be used when the app is visible in the task bar but not on the screen.

[2017-09-06 08:26] timabbott commented on #46
@jwedoff can you have someone test this?

[2017-09-06 08:29] akashnimare commented on #286
That make sense.

[2017-09-06 08:31] penCsharpener commented on #286
can be a complicated short cut as it's really for emergency. Idea came to me when I see your reset data PR

[2017-09-06 09:54] akashnimare commented on #286
@vbNETonIce please cross check it.

[2017-09-06 10:33] penCsharpener commented on #286
thanks for adding it so quickly. But there isn't yet a keyboard shortcut to this reset. If you can't see the app window only a keyboard shortcut will help. When clicking the Reset Settings Option though I saw that everything was reloading but the window position stayed the same. What about deleting window-state.json?

[2017-09-06 10:43] akashnimare commented on #286
This does delete the `window-state.json` and reloads the app.

What shortcut should we add?

[2017-09-06 10:47] penCsharpener commented on #286
odd, I had the app opened on the very left screen that has -x coordinates... It should have jumped to the centre screen.

I don't have a preference here. Can we something complicated because most people won't be needing it. You know best which ones you are using / planning on using. Do something with `Ctrl + Alt` maybe.

[2017-09-06 10:57] akashnimare commented on #286
Made some changes. Instead of reloading, it `quit + restart` the app now. It does work on macOs.

[2017-09-07 16:42] mryakan opened #289 "Desktop app tray icon does not show unread msg count anymore"
I was using 0.5 version of the windows desktop app mainly because it showed the unread message count in the taskbar icon. Now it does not show that anymore with the latest version (1.4) which makes the desktop app a bit less useful.
---
Please include:
- `Operating System`: Windows 7
- `Clear steps to reproduce the issue`: Just install the latest 1.4 version of the app
- `Relevant error messages a

[2017-09-07 16:45] penCsharpener commented on #289
Hi Mr Yakan,
using the electron app since 0.5.x days I can say that the current electron app is way better than the old legacy app. Even the taskbar notifications look better now.
Your problem must be something related to Windows 7. It works very well on Win10.

[2017-09-07 17:08] akashnimare commented on #286
Fixed in https://github.com/zulip/zulip-electron/commit/288b1cb3f20fcd433bd3d1f4f689347e13773742. @vbNETonIce thanks for the suggestions  👏

[2017-09-07 17:08] #286 closed, assigned to nobody

[2017-09-07 17:10] akashnimare commented on #289
@mryakan taskbar icon works great on Windows 8/10. I'll check it on Windows 7 as well.

[2017-09-07 19:09] akashnimare commented on #289
@mryakan it works on Windows 7 (64-bit) -

![taskbar_icon](https://user-images.githubusercontent.com/2263909/30180411-6ba0b6ce-942d-11e7-91ea-ccb2e7eddb3c.PNG)

* Please download - [Zulip-Web-Setup-1.4.0](https://github.com/zulip/zulip-electron/releases/download/v1.4.0/Zulip-Web-Setup-1.4.0.exe)
* Make sure the setting option for badges is enable -

![capture](https://user-images.githubusercontent

[2017-09-07 21:47] mryakan commented on #289
That works indeed, but not what I reported. I am talking about the taskbar icon below on the right
![image](https://user-images.githubusercontent.com/22402472/30186665-7f005032-93f4-11e7-91c3-f4464c8cdbd8.png)

It used to show the same info, (well maxed out at 99, but still better than nothing).

[2017-09-07 22:12] akashnimare commented on #289
Ohh, that is tray icon. We stopped that feature since taskbar icon do the same job (also, it doesn't look nice).

[2017-09-07 22:32] mryakan commented on #289
Thanks for the response. It was nice since when you do not have taskbar on auto-hide, you can see if anything is pending even if the app is buried under other windows. Other messaging apps do similar things with the icon changing shape (e.g. addition different color dot if there are unread msgs vs unread mentions). I find that very useful and it would be great if that could be added to the desktop

[2017-09-07 23:50] akashnimare commented on #289
@mryakan since you find it useful, I have re-added that feature. It'll be pushed in next release.

[2017-09-07 23:51] #289 closed, assigned to nobody

[2017-09-08 00:53] mryakan commented on #289
Thanks, much appreciated. That's pretty agile :-).

[2017-09-08 00:57] mryakan opened #291 "Option to minimize to tray"
A useful option that is missing from the windows desktop app is ability to minimize to the tray. This saves precious space in the taskbar and is supported by many messaging apps.

---
Please include:
- `Operating System`: Windows 7
- `Clear steps to reproduce the issue`: N/A
- `Relevant error messages and/or screenshots`: N/A

[2017-09-08 10:33] akashnimare commented on #291
@mryakan you can hide the tray icon using `view >Toggle Tray Icon`-

![image](https://user-images.githubusercontent.com/2263909/30207936-f88efbb4-94ae-11e7-8e8b-0b0f54ce72a7.png)

**Show app icon in system tray**

![image](https://user-images.githubusercontent.com/2263909/30208257-44740168-94b0-11e7-9cfc-6b5b672cb0c0.png)

[2017-09-08 11:14] akashnimare opened #292 "Improve UI/UX of setting page"
* Make setting page better
* Make it responsive

![image](https://user-images.githubusercontent.com/2263909/30209253-d0f37692-94b4-11e7-9403-66b46dc2247b.png)

![image](https://user-images.githubusercontent.com/2263909/30209264-d6424cea-94b4-11e7-84b1-06ea832b6b1c.png)

[2017-09-08 13:58] mryakan commented on #291
Never mind, my mistake. I just realized you have to close the app not minimize it to hide it from the taskbar.
Thank you.

[2017-09-08 14:02] #291 closed, assigned to nobody

[2017-09-08 14:37] cedricium commented on #276
@zulipbot claim

[2017-09-11 14:54] akashnimare commented on #276
Added in https://github.com/zulip/zulip-electron/commit/6dd79b205c788ece1554b73d5cd586c37b898230.

[2017-09-11 14:54] #276 closed, assigned to nobody

[2017-09-11 15:05] akashnimare opened #295 "Add crash reporter using sentry"

[2017-09-12 19:54] #295 closed, assigned to nobody

[2017-09-13 10:00] akashnimare opened #296 "Add setting option to use system proxy settings"

[2017-09-13 10:01] akashnimare commented on #295
FYI, the crash reporter doesn't collect windows crash dump.

[2017-09-13 11:46] unnatii commented on #284
@zulipbot claim

[2017-09-13 13:29] cedricium commented on #281
@zulipbot claim

[2017-09-14 11:27] timabbott commented on #295
Cool, let's open a follow-up issue for Windows?

[2017-09-14 15:38] SimplyAhmazing commented on #295
We're currently investigating backtrace.io and they have a free plan for OSS projects: https://backtrace.io/open-source/

[2017-09-15 15:47] #281 closed, assigned to nobody

[2017-09-15 17:50] grahamegrieve opened #298 "Add desktop notifications indicator in left sidebar"
We need the ability to easily suppress notifications from all chats when presenting - and you don't want to do that on a stream-by-stream.  And there needs to be a visual indicator (e.g. on the icon) so you get reminded to unsuppress when finished

[2017-09-15 17:54] timabbott commented on #298
There's actually a feature recently merged in the desktop app that does exactly this, in the desktop app settings page.  It might have been added since the last release; you can try running from Git to verify...

[2017-09-15 17:58] grahamegrieve commented on #298
is the desktop app = the electron app?

[2017-09-15 17:59] lmckenzi commented on #298
Easy = a button or a simple right-click option.  It shouldn't be necessary to go into settings and a specific menu area.  It needs to be super-easy so you can quickly do it when things start popping up when sharing your screan with others.

[2017-09-15 18:04] timabbott commented on #298
I very much agree with the sentiment.

@lmckenzi do you have a suggestion for where you'd like such a button to be?  We'd certainly be happy to make this more visible.  We can probably use a standard icon for this.

[2017-09-15 18:05] akashnimare commented on #298
@timabbott this is what I was talking about :)
@grahamegrieve you can use the `Show Desktop Notifications` option for this (set it off).

![image](https://user-images.githubusercontent.com/2263909/30496868-621e598e-9a6e-11e7-8c16-2775894f642e.png)

[2017-09-15 18:11] grahamegrieve commented on #298
I have the latest client (1.4.0) and I don't have that setting. I think Lloyd would like it to be a single keystroke, or a setting from the app icon.

[2017-09-15 18:15] lmckenzi commented on #298
If you can afford the real-estate, a small icon top-left right under the menu (and above the icons for the servers you're connected to) that you can just toggle would be ideal - where the icon signifies whether notifications are muted or not.  That gives you both a quick obvious place to click and a visual indicator of your current state.

[2017-09-15 18:19] akashnimare commented on #298
@grahamegrieve got it. This feature is in the latest master and has not pushed to production yet. You'll get it in the next release (1.5.0).

[2017-09-15 18:25] akashnimare commented on #298
@lmckenzi another option is to add it in the menu item. Something like this -

![image](https://user-images.githubusercontent.com/2263909/30497673-53eba1d4-9a71-11e7-91cf-d5b1db461f10.png)

[2017-09-15 18:26] timabbott commented on #298
We should probably spell that "Show Desktop Notifications", but yeah, that's not a bad idea.

[2017-09-15 18:31] lmckenzi commented on #298
That can be ok, but there should be some symbol on the UI that lets you know they're turned off.  (In Skype, there's a 'status' icon that's red when you're in do-not-disturb - which is the sort of thing I'm looking for here.)

[2017-09-15 18:35] lmckenzi opened #299 "When desktop notifications are off, a stream post should not "Activate" Zulip"
This is a request for the Electron Windows client.  I run with the Windows menu bar "hidden".  When an application 'activates', it causes the menu bar to become visible and it won't disappear until you click on the menu bar.  I *want* it to do that when there's a notification, but I don't want it to do that for streams that have notifications turned off or if I've muted all notifications.  You can

[2017-09-15 19:07] grahamegrieve commented on #299
ha. personally, I *like* the current behavior

[2017-09-15 19:16] lmckenzi commented on #299
Then we can make it configurable.  But being interrupted 10-20 times an hour by low-priority threads is not helpful.  As I result I use the web client and I don't get task-bar notifications for anything.

[2017-09-15 20:05] akashnimare commented on #299
@lmckenzi do you mean the flashing taskbar icon -

<img src="https://user-images.githubusercontent.com/26190934/28449543-207b3e5c-6de1-11e7-98e6-702290cc650d.gif"/>

[2017-09-15 20:11] lmckenzi commented on #299
It doesn't flash on my machine, but that may be a difference between whether the task bar is set to auto-hide or not

[2017-09-15 21:03] ManthanoPoly commented on #299
@lmckenzi  which Windows version are you running?

[2017-09-15 21:04] lmckenzi commented on #299
Windows 10

[2017-09-16 10:46] akashnimare commented on #217
Solution for this problem -
* First get the process ID (PID) of the process running on that port (say 30080):
[code]
This will return something like:
[code]
* Kill the PID using -
[code]

[2017-09-19 11:41] #292 closed, assigned to nobody

[2017-09-19 11:51] akashnimare commented on #296
@zulipbot claim.

[2017-09-19 12:37] akashnimare commented on #283
@SimplyAhmazing template - https://github.com/electron-userland/electron-builder/blob/master/packages/electron-builder/templates/linux/after-install.tpl

https://www.electron.build/configuration/deb#DebOptions-afterInstall

https://github.com/electron-userland/electron-builder/issues/2050

[2017-09-19 16:10] unnatii commented on #284
@zulipbot abandon

[2017-09-24 19:54] YJDave opened #303 "Emoji picker not showing correctly"
I am using linux mint and when the screen of zulip desktop application is half of desktop and we select emoji picker, it's not showing correctly.
![emojierror](https://user-images.githubusercontent.com/25907420/30786218-418ac21a-a190-11e7-9b4d-7930768ccc62.gif)

[2017-09-24 20:05] HarshitOnGitHub commented on #303
Thanks for the bug report @YJDave but this is something not related to electron-app. There is already an open issue about this in [zulip/zulip](https://github.com/zulip/zulip) repository: https://github.com/zulip/zulip/issues/6291
So you can safely close this. :)

[2017-09-25 03:23] cedricium opened #304 ""Show Sidebar" toggle option should reflect changes made with keyboard shortcut"
In the Settings page under "General", there is a toggle option for displaying the left sidebar. If the keyboard shortcut is used to toggle the sidebar, the toggle switch in the Settings page should reflect these changes. Below is a demonstration of the sidebar being toggled with the shortcut and via the toggle switch.

![gif](https://im.ezgif.com/tmp/ezgif-1-d0afd91617.gif)

[2017-09-25 07:27] YJDave commented on #303
@HarshitOnGitHub Just so you know, This is demo of zulip desktop client application (not mobile application). So if it's included in #6291 then, let me know, I will close it. :)

[2017-09-25 09:06] ewoutkramer opened #305 "Add "badge" with # of streams with messages"
In my workflow, I have disabled desktop notifications since we have some high-volume streams. Of course, this means I do not know whether anything new has come in.  When I close the desktop app main window, I would love for the tray icon to show whether any new messages have come in in the same way Skype works:  show a number with the number of streams with unread messages.

(this is on Windows 10

[2017-09-25 10:10] HarshitOnGitHub commented on #303
@YJDave Yeah this is covered in [zulip/zulip #6291](https://github.com/zulip/zulip/issues/6291). [zulip/zulip #6291](https://github.com/zulip/zulip/issues/6291) is concerned with the webapp which is what used by our electron-app as well. "mobile screen" in [zulip/zulip #6291](https://github.com/zulip/zulip/issues/6291) actually refers to small screens not mobile-apps which are native applications.

[2017-09-25 12:53] #303 closed, assigned to nobody

[2017-09-25 12:59] timabbott commented on #305
I can see something like this being useful for some workflows.  If we wanted to make that work, we'd need to expose the data from the webapp codebase to the Electron app; it's all there, so shouldn't be hard, but will require some plumbing.

That said, I'm curious: @ewoutkramer have you thought  about muting the high-traffic streams?

[2017-09-26 09:38] ewoutkramer commented on #305
If I understand your suggestion correctly, I should mute all high-traffic streams and re-enable desktop notifications.  That's an improvement - but it won't help me if I was away from the desktop and a message came in.  It would actually improve the features: if you would just count the number of non-muted streams with new messages for display in the badge, I would be totally happy.

Discussing th

[2017-09-26 19:42] timabbott opened #306 "Improve name for link to version page in the menu"
From talking to a user about what version he's using:

[code]

[2017-09-27 01:32] aklap commented on #306
@zulipbot claim

[2017-09-27 12:31] #306 closed, assigned to nobody

[2017-09-27 12:35] akashnimare commented on #304
@cedricium interested in working on this?

[2017-09-27 16:06] cedricium commented on #304
@akashnimare yea, I'll give this a try. @zulipbot claim

[2017-09-27 16:36] aklap commented on #284
@zulipbot claim

[2017-09-29 21:17] timabbott opened #308 "Adding a new organization does not properly use the organization's icon"
I just tested this in `master`, and found 2 bugs with the "new organization" flow:
* When adding a second organization, after you type in the URL and hit enter, we select the first organization, not the new organization, which is pretty confusing (since you don't end up seeing the login page).
* We don't seem to fetch save the organization's icon from /server_settings, either right after the serve

[2017-10-02 11:38] akashnimare commented on #308
It's an old issue, https://github.com/zulip/zulip-electron/pull/238#issuecomment-319778181. We need to handle this event properly.

This is how the current model work -
* When user enters a Zulip server, we fetch server details (server name, icon etc) from the `server_settings` API (if supported), see [this](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/utils/domain-util.js#L

[2017-10-02 16:50] timabbott commented on #308
How are we doing this check?  I've tested with some servers running master that have logos set, and it seems to use the default Zulip icon with some of them.  Sent you the name of a non-public server where I saw this problem.

[2017-10-02 18:06] cedricium commented on #304
@zulipbot abandon

[2017-10-02 18:08] rawatsonali96 commented on #304
@zulipbot claim

[2017-10-02 18:29] timabbott commented on #40
@akashnimare this is now done, right?

[2017-10-02 18:30] timabbott commented on #192
@akashnimare is this done?

[2017-10-02 18:48] akashnimare commented on #192
Yeah, we have added all these settings!

[2017-10-02 18:48] #192 closed, assigned to nobody

[2017-10-02 19:03] akashnimare commented on #40
We need to add few more things in this like an option to reveal logs directory so that user can easily send it to us in case we need it. Also, we need to improve the logging process. Currently it only logs about the autoupdates stuff. We need to add those console errors in the logs as well.

[2017-10-03 21:30] timabbott opened #310 "Handle corrupted domain.json files gracefully"
We got a report of a user having the Zulip desktop app just hang on startup.

It turned out the cause was their `domain.json` file was totally corrupted JSON and didn't open (it was filled with `\0` characters).

We should probably do some combination of the following.
(0) See if we have any bugs that might cause this corruption (e.g. if we open the file for writing before doing a network request

[2017-10-04 18:56] brockwhittaker opened #55 "On CTRL-R, the server switches."
When I'm trying to run my dev server, and I get a screen like this and want to CTRL-R to refresh it, it switches to my other open Zulip server.

![screen shot 2017-10-04 at 11 55 02 am](https://user-images.githubusercontent.com/10321399/31194110-feb7a36e-a8fa-11e7-9e7a-c3f2d8a66c48.png)

[2017-10-04 18:57] akashnimare commented on #55
@brockwhittaker Wrong repo? Here - github.com/zulip/zulip-electron/

[2017-10-04 19:03] timabbott commented on #55
Just renamed this repo to zulip-desktop-legacy.  We might want to rename the other one to zulip-desktop as well.

[2017-10-04 19:03] #55 closed

[2017-10-04 19:24] akashnimare opened #311 "CTRL-R does not reload the current server/view"
`CTRL-R` should reload the current view only.

[2017-10-04 23:52] #311 closed, assigned to nobody

[2017-10-05 20:02] akashnimare commented on #308
Fixed in master. Please cross check.

[2017-10-05 20:35] timabbott commented on #308
Fix confirmed.

[2017-10-06 16:08] zingmars opened #312 "Zulip client (most of the time) won't reconnect after waking from hibernation"
Hello,
As title says, after waking up the computer from hibernation the client won't reconnect to the server automatically - it gives the ["Zulip can't connect"](https://i.imgur.com/H82EoHn.png) screen when you open (or 'Focus') the client. Clicking the "Try now" button will of course work, but you might not think to check it after booting up and might miss a private message or two.

-
Zulip 1.4.0

[2017-10-06 16:50] timabbott commented on #312
@zingmars how long did you wait before clicking the button?  The code we have will automatically try to reconnect  if you're off the Internet, with exponential backoff, so I wonder whether what happened here is that you first went off the Internet, then you hibernated, and so the exponential backoff had already gotten to its peak of "once a minute".

It's possible the issue could be something tota

[2017-10-06 16:54] zingmars commented on #312
I think about 30 minutes? I'm not sure, I never actually timed it.

Is there a way to debug this? I.e. to see how long until it tries to reconnect again? rocket.chat just had a giant message that overlaid the window that said "Reconnecting in ... seconds".

[2017-10-06 17:19] timabbott commented on #312
OK, that definitely is outside the space of plausible with the theories I had.

We probably should open an issue over in zulip/zulip for doing that sort of countdown; it'd be easy enough to do.  But since there's a cap on the timeout, what's happening here is something else.

If you see this again and want to help debug, ping me on chat.zulip.org -- there's some stuff we can do on the JS console t

[2017-10-06 17:20] zingmars commented on #312
Alright, will do.

[2017-10-09 16:29] zingmars commented on #312
Per request - screenshot of the developer's console when the app is in the stuck state -
![image](https://user-images.githubusercontent.com/917126/31348384-2884379e-ad28-11e7-978a-42ef8ee32fdd.png)

[2017-10-09 16:37] timabbott commented on #312
@akashnimare the reason I was confused here is that we have two "Try now" buttons for reconnecting; one for when you're already connected to the server in that session (totally within the webapp code), and this one, totally within the desktop app's code.  It's not obvious to me from the screenshot or directly referenced code why retries aren't working, but hopefully you can figure it out.

As a si

[2017-10-09 22:14] rishig opened #314 "Add option to start the app in the background."
This is useful e.g. if you mainly expect to interact with Zulip when you get desktop notifications.

[2017-10-10 10:04] akashnimare commented on #314
Yeah, I was planning to add this option.

[2017-10-11 11:11] akashnimare opened #315 "Make reloading seamless"
There are few cases when reloading current server via `CTRL+R` doesn't work as expected. Few of them are -
* While adding/removing server

[2017-10-11 11:27] #308 closed, assigned to nobody

[2017-10-13 12:31] epaul13 opened #316 ""Not a valid Zulip server""
I get "Not a valid Zulip server" when I try to set my zulip server.

I use https://zulip.intranet.mycompany URL, which of course work in my browser. My server has certificates I've generated with my own CA. I've installed those CA certificate in my OS certificates. Could you give me directions to get more precise logs to try to address this problem ?

    Eric.
					-
					Zulip 1.5.0
					Electro

[2017-10-13 15:15] epaul13 commented on #316
Debugging a bit:

"UNABLE_TO_GET_ISSUER_CERT_LOCALLY"

"Error: unable to get local issuer certificate
at TLSSocket.<anonymous> (_tls_wrap.js:1085:38)
at emitNone (events.js:86:13)
at TLSSocket.emit (events.js:185:7)
at TLSSocket._finishInit (_tls_wrap.js:603:8)
at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:433:38)"

If I "patch" the code manually I can start Zulip. Do you know where I can put or co

[2017-10-13 17:25] glyph opened #317 "⌘1 sometimes stops working in other apps"
---
Please include:
- `Operating System`:
[code]
- `Clear steps to reproduce the issue`:
    Run the application for a while.  Eventually, the ⌘1 hotkey starts getting captured regardless of where my keyboard focus is until I restart the application.

I am only logged in to one Zulip, but if I select settings, ⌘Tab away, and then hit ⌘1 in another app when in this state, I can see it switch back t

[2017-10-13 19:06] akashnimare commented on #316
Hey @epaul13,  what do you mean by this?

[2017-10-13 21:29] bnewbold commented on #46
The current install directions (https://zulipchat.com/help/desktop-app-install-guide#linux) worked today on debian stretch (stable).

[2017-10-13 21:29] #46 closed

[2017-10-13 22:27] timabbott commented on #46
The current app is an entirely different project; I'm going to disable issues on this legacy project, since it's no longer under development.

[2017-10-14 22:40] adambirds opened #318 "The add button doesn't work when adding a new server."
The add button doesn't work when adding a new server on the windows app.

OS is Windows 10.

[code]

[2017-10-14 23:02] cedricium commented on #318
Hey @adambirds, just to clarify: are you talking about the '+' button in the sidebar or the 'Create a new organization' link found in Settings under the 'General' category?

[2017-10-14 23:07] adambirds commented on #318
Hi @cedricium The add button in the image below is the issue.

![image](https://user-images.githubusercontent.com/13500254/31580038-ab13722a-b13c-11e7-9c1b-194d3a883797.png)

[2017-10-14 23:15] cedricium commented on #318
Gotcha. I have a Win10 machine, I'll go ahead and look into this for you.

[2017-10-14 23:31] adambirds commented on #318
Here is the Win10 version build number in case it makes a difference:
![image](https://user-images.githubusercontent.com/13500254/31580170-1c6c4bba-b140-11e7-90c4-08a2a213c88a.png)

[2017-10-16 05:42] adambirds commented on #318
@cedricium any look on this yet?

[2017-10-16 05:52] cedricium commented on #318
@adambirds sorry about that, will debug right now. And just to try to reproduce the issue correctly, how did you download the app?

[2017-10-16 05:59] adambirds commented on #318
@cedricium I downloaded it from zulipchat.com on the website there.

[2017-10-16 06:22] cedricium commented on #318
@adambirds unfortunately I wasn't able to reproduce the issue. If you haven't already tried uninstalling then installing the app, I would say try going to `Settings > General > Reset App Data` then restart the app. Try adding the server again and if that doesn't work, then go ahead and uninstall then install the app.

@akashnimare maybe you can try reproducing. My system settings are:
[code]
I tri

[2017-10-16 08:57] epaul13 commented on #316
@akashnimare :

Well, I used dev tools to edit `app.asar/renderer/js/utils/domain-utils.js`, and bypass the check that fails, ie replace line 123 by `} else if (1 && certsError.indexOf(error.toString()) >= 0) {`. Then, I get the "Do you trust certificate" dialog and zulip work.

Eric.

[2017-10-16 15:47] akashnimare commented on #318
@adambirds please try again. I can add your server.

![image](https://user-images.githubusercontent.com/2263909/31621468-67a6f9cc-b2b7-11e7-813b-a8f95544f154.png)

[2017-10-16 16:15] timabbott commented on #318
It seems unlikely to me that whatever @adambirds is experiencing won't affect other users.

@adambirds can you check the Developer tools when you're experiencing it not working?  I'm wondering if there's an exception there that might give a clue as to what's happening here.

[2017-10-16 16:23] akashnimare commented on #318
I was not able to add this server yesterday (no errors in console) but as of now it's working fine. I'm guessing the error has more to do with the server configurations.

[2017-10-16 19:50] adambirds commented on #318
@timabbott @akashnimare works fine for me now, and no errors in Dev tools. Possibly my server maybe, it was having a few issues yesterday, so possibly that. Tested on a few different clients this time and seems fine.

[2017-10-16 20:18] akashnimare commented on #318
Closing. Feel free to reopen if this happens again.

[2017-10-16 20:18] #318 closed, assigned to nobody

[2017-10-17 05:12] Be-ing opened #319 "dark GUI theme"
It would be nice if there was an option for a dark GUI so I don't have to stare at so much white light emanating from my screen. @synicalsyntax has made some [hacks using Stylish](https://chat.zulip.org/#narrow/stream/new.20members/subject/dark.20theme.3F/near/299379) in browser, but AFAIK that's not possible in the Electron app.

I don't think a full featured theme system with user defined themes

[2017-10-17 05:15] timabbott commented on #319
@Be-ing thanks for the feedback!  I think we should move this issue to the zulip/zulip project, since it makes sense to make them in the webapp code shared with the desktop app, not in the desktop app itself.

[2017-10-17 05:19] Be-ing commented on #319
I was unclear about the relationships between the different code repositories, but yeah that makes sense @timabbott. I'm closing this in favor of https://github.com/zulip/zulip/issues/267

[2017-10-17 05:19] #319 closed, assigned to nobody

[2017-10-17 05:34] timabbott commented on #318
@akashnimare do we provide feedback when the server gives a 500 error or isn't reachable when trying to add it?  I feel like this is something where the actual problem here is we need a little loading indicator + error message display "we could not connect to this server" for this UI widget; I imagine if we'd had that, I suspect @adambirds would have been confident the problem wasn't a bug in the

[2017-10-17 05:41] adambirds commented on #318
Yeah, some feedback on if it could connect to the server would be great! At least then you know to take a look at the log files on both the client and server to see why it couldn't connect.

[2017-10-17 05:45] timabbott commented on #318
Cool. @akashnimare should we make a new issue for doing that to help keep things clean?

[2017-10-17 16:00] akashnimare commented on #319
We can easily implement this in electron app.

[2017-10-17 19:49] akashnimare commented on #317
@glyph can you define **sometimes** here? Does it happen all the time or in any specific case like when you switch to other apps using ⌘Tab?

[2017-10-17 22:03] waozixyz opened #320 "Logo does not show up in the sidebar"
Operating System: Manjaro

Steps to reproduce:
download the latest appimage, login to an organization with a logo, the sidebar logo does not update and still displays the zulip logo

![screen](https://user-images.githubusercontent.com/31371807/31691843-c2b96f12-b397-11e7-8474-63859435077d.jpg)

[2017-10-17 22:11] akashnimare commented on #320
@spaceywolfi can you please tell me what org server you're trying?

[2017-10-17 22:17] waozixyz commented on #320
im using https://ascadia.zulipchat.com

[2017-10-17 22:24] akashnimare commented on #320
Hmm, I can see your server logo in left sidebar on macOS -

![image](https://user-images.githubusercontent.com/2263909/31692557-d8a3e634-b3b7-11e7-9b87-7cf03fc321dd.png)

Can you delete and re-add your server and see if it works.

[2017-10-17 22:30] timabbott commented on #320
@spaceywolfi what version of the app are you using?  This was broken in v1.4.0 and fixed in v1.5.0, I think.

[2017-10-17 23:03] waozixyz commented on #320
@timabbott I think you must be right. I am using Zulip-1.4.0-x86_64.AppImage since that is the latest appimage i was able to download from the [zulipchat.com](https://zulipchat.com/) website

[2017-10-17 23:25] timabbott commented on #320
Ahh, that would do it; @akashnimare I think bumping the hardcoded version on zulipchat.com is missing from our "desktop release" checklist.

[2017-10-17 23:42] akashnimare commented on #320
I do remember. I'm working on a solution which will automatically fetch the current latest release from GitHub; that way we won't need to update the version manually on` /apps` page every time.
Demo - http://akashnimare.in/electron/

[2017-10-18 04:57] timabbott commented on #319
@akashnimare I'm sure we can, but I'd rather implement it in the webapp, since then it'll be available to users on web as well.

[2017-10-18 16:19] akashnimare commented on #320
@spaceywolfi you can download the latest release from GitHub release page -
https://github.com/zulip/zulip-electron/releases/latest
https://github.com/zulip/zulip-electron/releases/download/v1.5.0/Zulip-1.5.0-x86_64.AppImage

[2017-10-18 16:19] #320 closed, assigned to nobody

[2017-10-18 16:23] timabbott commented on #320
(I updated the link from zulipchat.com)

@akashnimare does the fact he was still on 1.4.0 suggest that auto-update isn't working on Linux?

[2017-10-18 17:58] akashnimare commented on #320
As of now, we don't support auto-updates for AppImage.

[2017-10-18 18:03] timabbott commented on #320
OK, cool, let's make sure we have an open issue to track that.

[2017-10-18 18:04] akashnimare opened #321 "Auto-updates for AppImage format"

[2017-10-19 10:15] penCsharpener opened #324 "notifications: option to count 1 per PM or stream"
For Windows task bar icon
I had some people 'complaining' that they see ie. 21 unread msgs on the task bar icon when it was 20 in a public stream and 1 private message. What actually many here prefer is just showing 2 instead, 1 unread private msg/conversation and 1 unread stream.
Or another example: I have 43 unread msgs:
* 32 PM in **6 different** conversations and
* 11 in **4 different** stream

[2017-10-19 10:16] penCsharpener commented on #324
sorry, copied only the mockup layer above...
![image](https://user-images.githubusercontent.com/26190934/31766233-4713d5a6-b4c7-11e7-9c17-712fb6a2c965.png)

[2017-10-20 19:07] cedricium commented on #317
@zulipbot claim

[2017-10-20 19:18] cedricium commented on #317
Hey @glyph, I'm going to be trying to fix this issue. In addition to defining what sometimes means, is there a specific application (when you <kbd>Cmd</kbd><kbd>Tab</kbd>) you're using that you see this issue happen with or is it multiple applications? I'm attempting to reproduce and haven't been able to so far. Thanks!

[2017-10-20 19:26] timabbott commented on #317
@cedricium it seems likely the other application is irrelevant, and that the problem is that we're in some circumstance failing to unregister the hotkey from the OS...

[2017-10-20 19:42] cedricium commented on #317
@timabbott that makes sense. I'm having trouble reproducing, am I understanding the issue correctly:

 1. In Zulip app, open the Settings page. Settings page is the active window.
 2. Switch to another application using <kbd>Cmd</kbd><kbd>Tab</kbd>. Different application is now focused.
 3. Use the <kbd>Cmd</kbd><kbd>1</kbd> shortcut in different application.
 4. Focus the Zulip app - active windo

[2017-10-20 20:09] akashnimare commented on #317
I'm guessing this is what @glyph experiencing -
* Open Zulip app, add a server
* Open setting page
* CMD+1 should switch to the first added server (this is expected)
* Now open other app, for an example Chrome
* Press CMD+1, which should open the first tab of Chrome but instead it focuses on Zulip app and opens the first server.

I can't reproduce the last step. I'm not sure if we have to unregist

[2017-10-20 20:20] akashnimare commented on #316
@epaul13 pushed a fix. This should work now.

[2017-10-20 20:20] #316 closed, assigned to nobody

[2017-10-21 14:51] akashnimare commented on #324
Currently, the taskbar icon shows the sum of all unread messages. Electron doesn't allow to show two badges in taskbar icon.

[2017-10-23 09:03] epaul13 commented on #316
I downloaded the current git and start the dev version. Now when I set my server, I correctly get the "Do you trust certificate" dialog box. It works, thank you.

By the way do you know how to configure zulip with my CA certificate to avoid this dialog box ? On an intranet it's common to have a certificate signed by own CA. I tried to set the CA certificate in th OS (ubuntu) to no avail.

Anyway,

[2017-10-23 22:11] timabbott commented on #316
@epaul13 I think probably we should move that to a new issue.  I'd like us to have well-documented instructions for doing that, but it's sorta its own project that will probably separate require work for Mac/Linux/Windows.

[2017-10-24 12:24] akashnimare commented on #178
More detailed message has been added in master.

[2017-10-24 12:24] #178 closed, assigned to nobody

[2017-10-24 12:30] akashnimare commented on #316
@epaul13 this is #126. Currently, we don't validate custom/own signed certs in desktop app.

[2017-10-24 16:17] epaul13 commented on #316
Ok. Thanks again.

[2017-10-24 18:44] cedricium commented on #317
I still haven't been able to reproduce this issue, and looking at the code where the keyboard shortcuts for switching between servers gets set, I don't see anything that explicitly stands out which would cause this issue 😕

[2017-10-26 17:23] timabbott opened #325 "Add certificate related issues in troubleshooting guide"
Someone just reported that they were getting the "Not a valid Zulip server" errors when trying to use it on Windows 7.  I suspect the issue they need a proxy to access the Internet, and didn't realized they needed to set this up.

I think we should expand the "Not a valid Zulip server" error message to something more user-friendly that will help them debug.  The simplest version would be just to c

[2017-10-27 08:10] alexandrul commented on #325
Is there a troubleshooting guide?

I have installed a zulip server on a local VM (with network in bridged mode), I can use it in the browser, however the desktop app still can't connect to it.

In devtools there are no error messages in the console tab, nor any activity in the network tab.

On the same machine I'm using  VS Code just fine.

[2017-10-27 08:51] alexandrul commented on #325
The workaround specified in #25 works in my case for the internal server.

For external servers I had to define the `http_proxy` and `https_proxy` env vars, since the proxy settings defined in the application were ignored.

[2017-10-27 16:26] timabbott commented on #325
@alexandrul glad to hear you got it working.  @akashnimare I think we should probably worth working on both debugging this and adding a "network troubleshooting" guide, maybe in the /help/ site, that we can point users to.

[2017-10-31 16:20] akashnimare commented on #317
@glyph can you help us reproducing this issue. We've both tried to reproduce and read the code, and don't see how we can investigate further without more info 😕

[2017-11-01 12:33] akashnimare commented on #325
Yeah, we can put the network troubleshooting section in our [troubleshooting guide](https://github.com/zulip/zulip-electron/blob/master/troubleshooting.md). Also, we need to move it to `/help/` site.

[2017-11-01 14:04] alexandrul commented on #325
Is it possible to also show the actual error when failing to connect instead of a check list with possible causes?

E.g.: connectivity failures (check URL and/or proxy settings), certificate validation issues, and so on.

[2017-11-01 15:13] akashnimare commented on #325
We already show an error dialog if there is certificate validation issue.

[2017-11-01 15:40] alexandrul commented on #325
In my case, in both cases (internal server & external server) I have received only the "Not a valid Zulip server" message.

Only by chance I was able to find the `NODE_TLS_REJECT_UNAUTHORIZED` workaround and start using the desktop client.

[2017-11-01 19:18] akashnimare commented on #263
Closing due to inactivity. Also, I can't reproduce this either. @FeaRiTail please download the latest stable release from https://zulipchat.com/apps. Feel free to reopen if it still happens on latest release.

[2017-11-01 19:18] #263 closed, assigned to nobody

[2017-11-02 10:35] akashnimare commented on #317
@vbNETonIce can you reproduce this issue on Windows?

[2017-11-02 10:46] penCsharpener commented on #317
no, never ran into this but I also don't really add new servers anymore (if that is relevant to the issues - just skimmed over this)

[2017-11-02 10:52] akashnimare commented on #317
Hmm, thanks.

Yeah, it's irrelevant. It could happen when you have only one server as well (since <kbd>CTRL+1/⌘1</kbd> gets assigned).

[2017-11-02 18:40] #299 closed, assigned to nobody

[2017-11-02 18:42] akashnimare commented on #299
@lmckenzi this is fixed in https://github.com/zulip/zulip-electron/commit/e6dbff995b42851684e26b64657954ed237154a7. Now you can control whether you want flashing of taskbar icon or not.

![image](https://user-images.githubusercontent.com/2263909/32344081-9ff0257a-c02b-11e7-8644-0407020e6bd9.png)

[2017-11-02 19:55] Andy3142 opened #328 "Can't log out under File menu or with CTRL-L"
Is this really the place to post newbie end user help requests ...? If not my apologies and where do I go; if so, it's very futuristic!
I just installed Zulip to test it. I can't log out with File>Log Out or with CTRL-L. I do it over and over, nothing happens. But I log out as expected with Settings Icon > Log out.  Then I log back in, fail to log out via File and CTRL-L, succeed again via Setting

[2017-11-02 20:10] akashnimare commented on #328
@Andy3142 Okay, so I can't reproduce this on Windows 10. Have you downloaded the app from https://zulipchat.com/apps? Also, can you paste the console logs `View > Toggle DevTools for Active Tab > Console`

[2017-11-02 20:54] Andy3142 commented on #328
@akashnimare Yes, that's where I got the app. I hate to say this, but should something HAPPEN when I do View > Toggle DevTools for Active Tab  ? - because nothing happens at all. If I do View > Toggle DevTools for Zulip App, then I get a tools windows, but not for the Active Tab.
Two thoughts. One, when I installed the app I was logged in on the web; could that have confused the installation? Also

[2017-11-02 21:25] cedricium commented on #328
@Andy3142 the `Toggle DevTools for Active Tab` creates a separate window from the Zulip app, by any chance did you miss it (hidden behind the Zulip app window or on another monitor maybe)?

AFAIK, being logged in to the browser should not affect the desktop app download/installation.

[2017-11-03 12:34] Andy3142 commented on #328
@Cedricum When I do ctrl-shift-I I get an immediately visible pane, when I do ctrl-shift-U, nothing happens at all.

[2017-11-03 13:47] Andy3142 commented on #328
I uninstalled and re-installed and most problems have ended. File > logout works, and the floating windows for tab tools appears OK. So that was a corrupt installation. However, there is still a floating circular blob, which looks like a "processing, please wait" icon, stuck to the tab. I guess this is probably corrupt data (my data persisted through the unistall), so please could someone tell me