[2016-06-17 22:43] timabbott opened #1 "Add nice support for being logged into multiple Zulip servers at the same time"

[2016-06-17 22:44] timabbott opened #2 "Add command-line options for using self-signed certificates"
This is useful when using the desktop app against a testing Zulip server.

[2016-06-17 22:44] timabbott opened #3 "Add Debian installer to a PPA"

[2016-06-17 22:47] timabbott opened #4 "Add support for the desktop app's `window.bridge` API"
Checking `window.bridge` is how code in the existing Zulip webapp checks for whether it is running inside the desktop app (as opposed to inside the main webapp).  We should review the `window.bridge` related code in the webapp to decide whether all of those cases make sense for the Electron app, and implement an appropriate interface to make use of those hooks.

[2016-06-17 22:47] timabbott opened #5 "Add integrations with native notifications (e.g. dock bouncing)"
This is probably the main feature of the existing desktop app.

[2016-06-17 22:50] timabbott opened #6 "Add a test suite for the app and setup in Travis CI"
It looks like this might be a reasonable framework: http://electron.atom.io/spectron/

[2016-06-17 23:26] anotherboojum opened #8 "No titlebar in OSX"
I'm on OSX 10.11.3.   There is no titlebar on top of the window, so I can't move the window around, except by resizing it.    The colored dots are on top of the inside of the window content, on top of the "zulip" image in the top left.

<img width="235" alt="screen shot 2016-06-17 at 7 15 29 pm" src="https://cloud.githubusercontent.com/assets/20006524/16167309/64e7d528-34c1-11e6-859e-33db158c8968.

[2016-06-18 02:28] anotherboojum opened #9 "OSX: clicking links open Electron mini-window"
Clicking on a link in a zulip message opens an smaller window in Electron as a browser, rather than opening in my default browser.

[2016-06-18 17:40] jjst commented on #9
Can confirm this happens on Ubuntu as well.

[2016-06-18 17:50] jjst opened #10 "Zulip doesn't remember login credentials"
I have to re-enter my login credentials (email/password) each time I launch the app.

Platform: Ubuntu 16.04

[2016-06-18 18:36] akashnimare commented on #9
@jjst @anotherboojum Thanks for reporting this. I have fixed it. Please check it again.

[2016-06-18 18:36] #9 closed

[2016-06-18 18:39] akashnimare commented on #10
@jist I have yet to implement this.

[2016-06-18 19:44] akashnimare commented on #3
@timabbott This could be easily done. Once our app is stable we will build it for all the platform.

[2016-06-19 00:02] jjst commented on #9
Yup, works for me!

[2016-06-20 14:43] jjst opened #11 "Internal zulip links should be opened in-app"
I think there is one exception to #9 where we want to open links in-app rather than in an external browser window: for zulip internal links, e.g. when linking to another stream.

For example, clicking on https://zulip.com/#narrow/stream/test-bot/subject/rsvpbot from the electron app will open a new tab in my browser, but I think it should update the current view of the zulip electron app instead.

[2016-06-20 18:31] timabbott commented on #11
yeah, I agree that's probably how this should work.

[2016-06-20 20:55] akashnimare commented on #8
@anotherboojum Can you check it again? I have fixed it.

[2016-06-20 21:54] anotherboojum commented on #8
Yup, there's a title bar and I can move it around.  Yay!

(I can't log in, though, so I kind of preferred the previous version, but that's probably a separate issue)

[2016-06-20 21:55] anotherboojum opened #12 "osx: it doesn't accept my username/password combination."
Also, "forgot your password?" doesn't send me email.
I don't think I have forgotten my password, though, because it still works for standard desktop zulip.

[2016-06-20 22:08] akashnimare commented on #12
Can you check it again? It's fixed.

[2016-06-20 22:08] #12 closed

[2016-06-20 22:34] akashnimare commented on #8
Please check it again. It's fixed. This app is in very early stage. It'll get better.

[2016-06-20 22:34] #8 closed

[2016-06-20 23:02] anotherboojum commented on #12
Yup, fixed.

[2016-06-21 00:47] akashnimare commented on #11
@jjst @timabbott Fixed it. Can you guys confirm it? You will have to **npm install** before running app.

[2016-06-21 01:05] akashnimare commented on #10
@jjst I can't reproduce this. I am running it on Ubuntu 14.04. I entered my login credentials only once when I first launched app. After that it will automatically saved credentials in local storage (same as web version). Let me know if you are still having this problem.

[2016-06-21 02:01] timabbott commented on #10
@akashnimare could this have been during the brief period when #12 was present (i.e. it was pointing at a different server by default)?  That would certainly have been experienced as, in part, needing to re-enter login credentials.

[2016-06-21 02:31] akashnimare commented on #10
I don't think this is the reason behind this. The behaviour of app is same as loading that targetUrl in chrome.

@jjst Follow this steps and let me know what happens -

[2016-06-21 14:04] jjst commented on #11
Just tested it, I can confirm it now opens the links in-app.

[2016-06-24 17:08] jjst opened #13 "Attachments should open in-browser"
Looks like I found an exception to the exception in #11 :smile:

When opening an attachment, e.g. an image, in the zulip electron app, it opens in-app, and then there's no way to go back to the chat window. I have to close/reopen the app.

Maybe only links to streams/topics ought to open in-app?

[2016-06-24 17:09] timabbott commented on #13
I think the correct rule is probably something about /# links open in-app, but not other things hosted on the site.

[2016-06-24 18:26] akashnimare commented on #13
I am using ubuntu 14.04 and all the attachments are opened in a default browser.
Have a look -

![attachments](https://cloud.githubusercontent.com/assets/2263909/16346797/d71ba34a-3a66-11e6-89b4-6fe3a68419fd.gif)

I think it should work this way only. @timabbott What do you think? @jjst can you upload a gif of your problem here?

[2016-06-24 18:28] timabbott commented on #13
Yeah that video looks pretty reasonable to me.

[2016-06-24 18:28] akashnimare commented on #13
May be there is bug on OSX when opening this kind of links.

[2016-06-24 19:35] jjst commented on #13
For the life of me I can't reproduce the issue anymore. I don't know what changed! The exact same scenario I used and tested on this morning now. I guess you can close, I'll reopen with a proper screencast if I stumble on the issue again. Sorry for the trouble!

(FWIW I'm on Ubuntu as well, 16.04)

[2016-06-24 19:42] akashnimare commented on #13
No worries :smile_cat:. I am updating the repo daily so please keep your local zulip-electron repo sync :smiley:.

[2016-06-24 19:42] #13 closed

[2016-06-24 19:44] akashnimare commented on #10
@jjst Is this resolved?

[2016-06-24 20:13] jjst commented on #10
Reproduced the issue on 33fb06c. I followed your instructions and when setting the targetUrl to github's, I can login, relaunch the app and I'm still logged in. But when I revert back to "zulip.com/login", I get logged off when restarting the app.

[2016-06-24 20:18] akashnimare commented on #10
Can you check this with latest code? It shouldn't behave like this.

[2016-06-24 20:37] akashnimare commented on #10
I am not having this problem when using domain https://zulip.tabbott.net (Using email/pass).
I don't have login credentials for https://zulip.com/login so I can't reproduce this either.

[2016-07-02 07:45] kritkaran94 commented on #6
@timabbott Can I take up this issue?

[2016-07-02 07:50] kritkaran94 commented on #6
@akashnimare Does it work for a mac ?

[2016-07-02 10:10] akashnimare commented on #6
Yes, you can work on this.

It should work. Although I haven't tested it with latest code.

[2016-07-02 10:11] kritkaran94 commented on #6
@akashnimare All I get is a blank white screen as shown above.

[2016-07-02 10:13] akashnimare commented on #6
Okay. Let me check then.

[2016-07-02 10:18] kritkaran94 commented on #6
Thanks for that

[2016-07-03 14:48] akashnimare commented on #6
@kritkaran94 Fixed it. Can you check it again?

[2016-07-03 14:56] kritkaran94 commented on #6
@akashnimare I will do that and get back to you.

[2016-07-03 15:08] kritkaran94 commented on #6
Firstly, I get this screen
![screen shot 2016-07-03 at 8 37 21 pm](https://cloud.githubusercontent.com/assets/10063868/16546113/0193b33a-415e-11e6-979c-6d944638a772.png)
later if I enter zulip.example.com I get a blank white screen.

[2016-07-03 15:13] akashnimare commented on #6
@kritkaran94  **zulip.example.com** is just a placeholder. Try using zulip.com

[2016-07-03 15:14] kritkaran94 commented on #6
It works!! Thanks for that. Now, I will work on the tests.

[2016-07-03 15:15] akashnimare commented on #6
For this you will have to either remove domain.json and npm start or you could use change domain options from tray menu.

[2016-07-03 15:18] kritkaran94 commented on #6
Ah.. I have one problem while registering
![screen shot 2016-07-03 at 8 47 08 pm](https://cloud.githubusercontent.com/assets/10063868/16546158/69cead32-415f-11e6-9f47-126e243c8a48.png)

[2016-07-03 18:32] akashnimare commented on #6
@kritkaran94 You can use **zulip.tabbott.net** for testing.

[2016-07-03 18:35] akashnimare opened #14 "Tray icon is not showing up on OS X"

[2016-07-03 20:49] akashnimare commented on #14
Fixed it.

[2016-07-03 20:49] #14 closed

[2016-07-04 04:56] kritkaran94 commented on #6
@akashnimare I will try that.

[2016-07-06 03:25] jjst opened #15 "Right-click on stream/topic name to copy its URL"
On the web version of zulip, when using it in a browser it's possible to right-click on a stream or topic name and then use the browser's context menu to copy its URL and share it. As far as I know there is no equivalent way to perform this action in the electron app, as there is no context menu displayed when right-clicking on stream/topics.

[2016-07-06 12:59] akashnimare commented on #10
I can't reproduced this so closing until more information is given.

[2016-07-06 12:59] #10 closed

[2016-07-06 13:08] akashnimare commented on #15
Thanks for opening this issue. There is no default context menu option in electron. This feature is in my to-do list.

[2016-07-06 16:31] akashnimare commented on #15
We could use this https://github.com/sindresorhus/electron-context-menu

[2016-07-06 18:45] jjst commented on #10
@akashnimare Apologies for the lack of feedback, my bad :-(

I'm trying to see if it still happens on the latest code, but I'm now seeing a blank window when launching the app. I'll open a separate ticket.

[2016-07-06 18:50] akashnimare commented on #10
Pull the latest code and remove domain.json and then npm start.

[2016-07-06 18:52] jjst commented on #10
Thanks, I actually just did it the bulldozer way and did a fresh git clone and it works. I can also confirm that I'm not experiencing the login credentials anymore, I restarted the app multiple times and am still logged in!

[2016-07-06 18:55] akashnimare commented on #10
Awesome :boom: Finally :smiley:

[2016-07-06 21:16] akashnimare commented on #5
@timabbott It's working. Could you please cross check it?

[2016-07-06 21:17] timabbott commented on #5
Cool, I think this is really several cases to check:
* [ ] Linux
* [ ] OSX
* [ ] Windows
I'll test Linux shortly.

[2016-07-06 21:23] timabbott commented on #5
Works on Linux!  One downside of the native Linux notifications is they don't seem to be clickable if you want to jump to that message like the default Chrome ones are; idunno if there's anything we can do about that but seems worth investigating...

[2016-07-06 21:29] akashnimare commented on #5
Works on OSX too. Not sure about Windows. I'll have a look if we can make them clickable or not.

[2016-07-06 22:33] akashnimare commented on #15
@jjst It's fixed. I have added a very basic version of context menu.

[2016-07-06 22:33] #15 closed

[2016-07-13 05:19] kritkaran94 commented on #6
@akashnimare I am working on adding a test suite. Facing some issues though, I would update you on the same in a few days.

[2016-07-13 09:50] akashnimare commented on #6
@kritkaran94 Cool.

[2016-07-16 21:00] jjst commented on #11
I think this regressed. I'm using fa4172281d824253ad2e2391a7dc1ef69910e0ed and internal links open in-browser while external links open in-app.

[2016-07-16 21:09] akashnimare commented on #11
@jjst are you still having this issue? all Internal zulip links should be open in app and external one should be open in browser.

[2016-07-16 21:43] akashnimare commented on #11
@jjst got it. It's not working as expected. I don't know what went wrong from [33fb06c](https://github.com/zulip/zulip-electron/tree/33fb06c5c5eb76ec91268e09d810da2c9ef8b460)  to [fa41722](https://github.com/zulip/zulip-electron/commit/fa4172281d824253ad2e2391a7dc1ef69910e0ed). Could you debug this?

[2016-07-16 22:20] akashnimare commented on #11
@jjst now it's working properly :smiley_cat:.

[2016-07-16 22:52] akashnimare commented on #11
Internal links works fine but now external links are also opening in app.

[2016-07-19 07:29] alkuzad opened #16 "Add desktop notifications support on Windows 7"
According to electron documentation Notification api does not work on Windows7, it has to use Tray baloon api.

Is it possible to implement baloon notifications ? It would most propably require work also on standard website.

[2016-07-19 11:18] alkuzad commented on #11
links to sites opens in app instead of browser/new tab so I can not follow them

[2016-07-19 11:22] akashnimare commented on #11
@alkuzad external links are still opening in app. I am working on this.

[2016-07-22 14:38] akashnimare commented on #16
@alkuzad As of now only native notifications works in our app. I think we could implement balloon notifications for Windows7.

[2016-07-24 21:35] akashnimare commented on #11
@jjst @alkuzad hopefully it should work now. Can you guys test it?

[2016-07-24 22:20] jjst commented on #11
Can confirm it behaves as it should now. Also I'm loving your use of emojis in :octocat: commit messages! :grinning:

[2016-07-24 22:46] akashnimare commented on #11
@jjst finally :stuck_out_tongue:, emojis are great way to show your current state of mind :neckbeard: .

[2016-07-24 22:46] #11 closed

[2016-07-25 14:52] jjst opened #17 "`A javascript error occured in the main process` when clicking on internal link"
I got the following error when clicking on an internal link to another stream, with an error window popping up telling me "A JavaScript error occurred in the main process":

[code]

[2016-07-25 15:29] jjst commented on #17
Not restricted to internal links, I just had the same issue on a vanilla URL.

[2016-07-25 17:57] mohdalam opened #18 "Installation Issue"
while installing zulip on Ubuntu 16.04 i get error below is the npm-debug.log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs', '/usr/bin/npm', 'start' ]
2 info using npm@2.15.8
3 info using node@v4.4.7
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart Zulip-desktop@0.0.1
6 info start Zulip-desktop@0.0.1
7 verbose unsafe-perm in lifecycle true
8 info Z

[2016-07-25 18:10] mohdalam commented on #18
solved

[2016-07-25 20:15] #18 closed

[2016-07-25 20:16] mohdalam commented on #18
problem fixed

[2016-07-25 20:38] akashnimare commented on #17
@jjst could you test it now?

[2016-07-25 20:43] akashnimare commented on #18
@mohdalam btw what was the issue? You need to use a greater version of `npm^3.3.5` and `node^4`.

[2016-07-25 21:22] akashnimare commented on #6
@kritkaran94 any updates :smile: ?

[2016-07-25 22:17] akashnimare opened #19 "Remove node-dialogs"
Dialogs are not very useful. Use some kind of popup/modal instead.

[2016-07-26 09:04] alkuzad commented on #11
@akashnimare works, thanks for this

[2016-07-26 15:08] jjst commented on #17
I haven't seen the issue when testing with the latest build.

[2016-07-26 15:08] #17 closed

[2016-07-26 15:10] jjst opened #21 ""(more topics)" link does not display any topic"
The "(more topics)" link displayed below the most recent topics of a stream in the stream view on the left doesn't work: clicking on it brings you to an empty list of topics.

[2016-07-26 20:46] akashnimare commented on #21
I thinks it's working as expected.
<img src="http://im2.ezgif.com/tmp/ezgif-3241674614.gif">

[2016-07-26 20:56] akashnimare opened #22 "Add unread notifications counts in tray icon"

[2016-07-27 03:21] timabbott opened #23 "Doesn't support hotkey ctrl-R to reload browser"

[2016-07-27 11:42] akashnimare commented on #23
@timabbott Fixed it. Can you test it against latest build. You'll have to update node modules dependency as well.

[2016-07-27 18:44] timabbott commented on #23
Works!

[2016-07-27 18:44] #23 closed

[2016-07-27 19:51] GervaisdeM opened #24 "Menu icon"
I'm running macOS Sierra, so take this feedback with a grain of salt.

Minor critique: the Z icon in the macOS menu bar is a too big and looks out of place.

[2016-07-27 19:54] GervaisdeM commented on #24
![screen shot 2016-07-27 at 4 53 44 pm](https://cloud.githubusercontent.com/assets/963514/17190062/c97f9822-541a-11e6-9112-5a889c53c269.png)

[2016-07-27 19:55] timabbott commented on #24
Nice, yeah, we should definitely shrink that :)

[2016-07-27 20:20] timapril opened #25 "Add support for custom/self signed certificate authority"
zulip-electron returns the error of "Not valid url" when trying to access a zulip install that uses a CA chain that is not in the default trust store. One of the installs that I have uses a certificate that is not signed by a globally trusted CA.

The current error that I am getting (when I modify main.js to log the response in the check url callback) is

[2016-07-27 20:24] brainwane opened #26 "dependency: need to install nodejs-legacy on Ubuntu/Debian systems"
I'm on Linux Mint 17 which is based on Ubuntu 14.04. I ran the installation steps (along the way I had to install npm, even though I'd thought I already had it installed):

[code]

I got this error:

[code]

I read `/usr/share/doc/nodejs/README.Debian` but I'm not sure whether there's anything *I* can do:

[code]

[2016-07-27 20:25] brainwane commented on #26
I can copy and paste my install log from installing npm if that helps.

[2016-07-27 20:31] brainwane commented on #26
Duh. I used apt to install npm but then after doing so I didn't go back and actually run `npm install`! Now I've done so and all is well.

[2016-07-27 20:35] timabbott commented on #26
We should document the need to install `nodejs-legacy` on Ubuntu/Debian systems.

[2016-07-27 20:35] brainwane opened #27 "add request module in app dependency"
I ran the installation instructions and finally executed `npm start`. Result in the terminal:
[code]

The app then launched but I don't see any information in the home screen -- it's completely blank -- and I don't see (in the dropdown menus) any obvious way to choose a realm.

![zulip-electron-app-screenshot](https://cloud.githubusercontent.com/assets/842790/17191455/f8e7ae22-5417-11e6-8478-5497c

[2016-07-27 20:36] brainwane commented on #27
![better-zulip-electron-screenshot](https://cloud.githubusercontent.com/assets/842790/17191525/426c4a8a-5418-11e6-9bec-656bbe7bd274.png)

[2016-07-27 20:37] GervaisdeM opened #28 "Window size and position between launches"
Electron always opens centered on screen and with what must be a default window size.

I like to make my window smaller with "Display user list on left side in narrow windows." and push it into the upper right of my screen. It does not save my settings between launches.

[2016-07-27 20:52] GervaisdeM opened #30 "Check Spelling While Typing."
*Check Spelling While Typing* doesn't underline misspelled words in Zulip Client.
This also never worked in the legacy client, but I thought it worth mentioning.

macOS Sierra

See no red squiggly lines:
![screen shot 2016-07-27 at 5 50 51 pm](https://cloud.githubusercontent.com/assets/963514/17191940/ce21f336-5422-11e6-8dec-763e3f5d22cd.png)

[2016-07-27 21:50] #26 closed

[2016-07-27 21:53] akashnimare commented on #30
@GervaisdeM this feature is definitely in our roadmap.

[2016-07-27 21:57] akashnimare commented on #27
@brainwane strange. Do you see any errors in console  (i.e. inspect element in app)? There must be something.

[2016-07-27 22:01] akashnimare commented on #28
@GervaisdeM We are not saving the last window settings/state anywhere. I think we should save it somewhere. I'm working on this.

[2016-07-27 22:01] brainwane commented on #27
I opened up the developer tools in the app and opened up the console:

[2016-07-27 22:04] brainwane commented on #27
[code]

[2016-07-27 22:11] akashnimare commented on #27
Did you `npm install` correctly? App is not able to import request module. You can fix it by `npm install --save request`.

[2016-07-27 23:04] kritkaran94 commented on #6
Not yet @akashnimare. Will try to make progress soon.

[2016-07-27 23:06] akashnimare commented on #6
@kritkaran94 Cool.

[2016-07-27 23:44] GervaisdeM opened #31 "Toggle - Verbage"
It's unclear what "Toggle" does in the Zulip menu. IMO, this should be reworded as "Toggle Window"

macOS

[2016-07-27 23:54] kchen commented on #27
I encountered this issue today when I tried zulip-electron for the first time as well (on Ubuntu Trusty).  I did run "npm install".

[2016-07-27 23:56] GervaisdeM opened #32 "Close Zulip window JavaScript error"
macOS Sierra

If I close the main Zulip window, there is no way to reopen it.

If I select "Toggle," I get the following error:
<img width="401" alt="screen shot 2016-07-27 at 8 50 09 pm" src="https://cloud.githubusercontent.com/assets/963514/17196537/db3d9b60-543b-11e6-8859-ac2f73e24e85.png">

If I select "Change Zulip Server," the blue window with the add button opens. If I enter the URL to my s

[2016-07-27 23:59] akashnimare commented on #27
@brainwane @kchen I think we need to add request module in app dependency.

[2016-07-28 00:23] brainwane commented on #27
@akashnimare I ran `npm install --save request` and then `npm start` and the application started up in a way that I think is correct (I see "Enter the URL for your Zulip server" and a textbox and an "OK" button). So I think that is indeed the issue.

In case you're curious what happened when I told npm to install the request module:

[code]

[2016-07-28 00:27] akashnimare commented on #27
@brainwane Cool. Let's update the dependency then :smile_cat:

[2016-07-28 00:33] GervaisdeM commented on #32
I installed the git, nodejs on Windows 10 to test. App looks a bit better on Windows. The above error can't occur because the application closes when the window is closed.

[2016-07-28 00:52] brainwane opened #33 "Help menu options should include Zulip link & version"
The options in the Help menu currently all go to general Electron help pages on the web. I suggest we add an item that links specifically to https://github.com/zulip/zulip-electron and potentially also an item linking to http://zulip.org/ . It would also be great if it were easily possible for the user to get at the Zulip-electron app version number from somewhere in the Help menu.

[2016-07-28 00:58] akashnimare commented on #33
We are using the default menu items provided by electron. Needs to be changed.

[2016-07-28 01:11] akashnimare commented on #32
@GervaisdeM thanks for opening this. There are some electron apis which doesn't work seamlessly on every platform. Applications gets close on window and linux when you click close button but on mac it shows different behaviour.

[2016-07-28 01:17] akashnimare commented on #31
@timabbott Do we really need this button (Toggel)? @GervaisdeM is it useful?

[2016-07-28 01:21] akashnimare commented on #24
App is using png image for icon. On mac it should use .icns. Need to change it [here](https://github.com/zulip/zulip-electron/blob/master/app/main/tray.js#L20).

[2016-07-28 01:23] GervaisdeM commented on #31
I won't use it. I can't speak for all users. I suppose some folks might want to be able to open and close the Zulip window without logging out or hiding the window in some other way.

This may be present in the Electron version because it can be done in the older legacy desktop client.

[2016-07-28 03:36] timabbott opened #34 "/apps (and similar documentation pages) should probably load in browser, not in-app"
Or if we do load them in-app, we should at least provide a back button sort of thing to get back :)

(I tried alt-leftarrow, but it doesn't do anything).

[2016-07-28 11:47] GervaisdeM commented on #34
The "Zulip" icon/name in the upper left reloads the standard window. It's not super intuitive if you have not already clicked it 100 times to return "Home," but it does work. Adding a tool tip to that link might be part of the solution.

[2016-07-28 16:56] brainwane opened #35 "Document how to switch realms"
After I initially install the app and tell it what realm I want it to connect to, I don't see any explanation within the app (or the README) telling me how I would switch realms if I wanted to. Is the current answer that I should manually edit `domain.json`? If so, let's put that in the README, at least until we add a UI for it (the File menu would be a good place to do that).

[2016-07-28 18:20] brainwane commented on #35
(Manually editing `domain.json` does seem to work.)

[2016-07-28 21:49] akashnimare commented on #34
I think it's good idea to load app related stuffs in app only. We could change it. As of now there is no way to get back in app. Maybe I need to add a back button or a keyboard shortcut for this.

[2016-07-28 22:06] akashnimare commented on #35
You can use tray menu `Change Zulip server` for this.

![image](https://cloud.githubusercontent.com/assets/2263909/17231087/7cc3b346-553d-11e6-90f0-858e4a65d2e4.png)

[2016-07-28 22:08] timabbott commented on #35
It might make sense to also put that option in the window's menus, as well, to maximize discoverability (speaking of which, I think those are currently all default links to Electron docs)

[2016-07-28 22:10] akashnimare commented on #35
Yeah, we could do that.

[2016-07-28 23:32] timabbott commented on #31
I think with a better name like "Show/Hide Window" (with the appropriate one visible depending on the state), this is probably a feature some folks will use, but I don't think it's a high-value feature.

[2016-07-29 04:36] akashnimare commented on #28
@GervaisdeM I have added this feature. Let me know if it's working properly. It might not work as expected on OSX.

[2016-07-29 04:37] akashnimare commented on #31
I rarely use it. Let me remove it then.

[2016-07-29 05:26] akashnimare commented on #34
@timabbott I am adding a keyboard shortcut to go back. What should be preferable command for this?

or something else?

[2016-07-29 12:50] GervaisdeM commented on #28
@akashnimare
👍
Works great!

[2016-07-29 14:25] akashnimare commented on #28
Yayy :tada:

[2016-07-29 14:25] #28 closed

[2016-07-29 14:27] #27 closed

[2016-07-29 14:48] #31 closed

[2016-07-29 18:24] kchen opened #36 "Problems with entering Zulip server name"
I just launched zulip-electron, and am attempting to enter the name of my Zulip server.  After entering it, I get "Not valid url", and if I click the OK button there, the window goes blank.  The error message appears to be because of #25, but the window should not go blank.  Since the app asks for a server name and not a url, the error message should probably also mention the server name instead o

[2016-07-29 19:26] hlieberman opened #37 "Backspace key doesn't work"
In the "Enter a Server URL Box", the backspace key doesn't work.  Delete, however, does.

This is probably some stupid X11 related nonsense.

[2016-07-29 20:45] akashnimare commented on #37
@hlieberman I think it got mixed up with [this](https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L136). Backspace key is not working since it's registered for going back functionality. I'll have to change it.

[2016-07-29 20:53] akashnimare commented on #36
@kchen thanks for opening this. I am not handling the callback function properly i.e when user enters a invalid url. I am working on a new homepage that will completely solve this issue.

[2016-07-29 21:39] akashnimare commented on #34
@timabbott I think `Alt+leftarrow` is a right choice. For some reason it's not working so as of now I have added `cmdorctrl+leftarrow` to go back. I'll change it later.

[2016-07-30 02:50] timabbott commented on #34
Yeah, alt+leftarrow is what I'm used to.

[2016-07-30 18:56] rwbarton commented on #36
The backspace thing is #37; try the delete key instead for now.

[2016-07-30 22:10] akashnimare commented on #37
@hlieberman fixed.

[2016-07-30 22:18] #37 closed

[2016-07-31 22:24] akashnimare commented on #30
Added very basic version of spell checker. Currently it doesn't show any suggestions for misspelled word.
![image](https://cloud.githubusercontent.com/assets/2263909/17279781/44ba8a14-579b-11e6-8268-ad22729e05ce.png)

[2016-08-02 17:21] akashnimare opened #38 "Add zooming shortcut"

[2016-08-02 18:09] brainwane commented on #35
I'd love it if this were also in a menu in the window! I did not think at all of checking the icon in the system tray.

[2016-08-02 18:34] brainwane commented on #38
This will help accessibility for people with visual disabilities.

[2016-08-02 18:36] brainwane opened #39 "Integrate chrome extensions"
Users might like to log into their Zulip realms using passwords from their password managers (which are sometimes cloud-based and sometimes desktop-based). Can we make an Electron app aware of password managers and use them when possible?

[2016-08-03 00:06] timabbott opened #40 "Have a nice process for collecting exceptions when desktop app encounters errors"
We should have a nice documented process for when a user experiences something weird in the app, for them to submit any tracebacks that might have happened (even if they launched the app not from a terminal).  Probably this means we want to log the output from the app to a file somewhere reasonable on each platform, so we can tell users "can you send us foo.log"?

[2016-08-03 00:08] timabbott opened #41 "investigate localstorage situation"
This is a question which could turn into an issue -- does the electron app have local storage enabled?  We use it for handling a few code paths in Zulip (generally around cases like if you have a partially-composed message and then reload), and it'd be good to understand if we should expect that work in the new desktop app.

[2016-08-03 01:34] akashnimare commented on #40
[CrashReporter](https://github.com/electron/electron/blob/master/docs/api/crash-reporter.md) is what we need.

[2016-08-03 01:50] akashnimare commented on #30
@GervaisdeM Can you test it out?

[2016-08-03 02:08] GervaisdeM commented on #30
Hi @akashnimare

I'm sorry... I should have commented earlier. I launch my copy of the client with a small script that looks like this:

[code]

I've been using the version with spell checking since you added it and it works great. As you mentioned above, it shows all the spelling errors without being able to make suggestions. Love what you have done so far. 👍

[2016-08-03 03:46] timabbott commented on #41
The main test case is to connect to a development server, ctrl-C the server, and then try to send a message.  The message will fail to send (in particular, no timestamp will show up, which means the message has only been echoed locally and hasn't been received by the server).  Then start the server again, and reload the browser -- the message you tried to send should be automatically transmitted (

[2016-08-03 12:53] akashnimare commented on #30
@GervaisdeM Thanks 🚀

[2016-08-03 12:53] #30 closed

[2016-08-03 12:55] akashnimare opened #42 "Show suggestions for spell checking in context menu"
The way chrome shows.

[2016-08-03 13:03] akashnimare commented on #39
I'm not sure how to add this but brave browser is doing it [here](https://github.com/brave/browser-laptop/blob/e19913e44050826b6113736015979b33ac138529/app/extensions/brave/content/scripts/passwordManager.js) so I think it's possible to implement.

[2016-08-03 13:46] GervaisdeM opened #43 "Notifications - count"
The notifications often report the wrong number on new messages.

For example, a message comes in and I read it.
Then two more messages come in and Electron/Zulip tells me that there are three messages. I read those.
Then another message comes in and notification reads: 4 messages.

I communicate a lot with a "two word per message chatter"

* if you
* take my
* meaning

So it may be just that they

[2016-08-03 13:47] GervaisdeM opened #44 "Notifications when Electron/Zulip in foreground."
I still get notifications from the Desktop app when I am currently using it. IMO, notifications should be muted while the app is in the foreground.
- macOS Sierra

[2016-08-03 13:53] akashnimare commented on #43
Do you get the same behaviour on web (in browser)? You are getting the default behaviour of native notifications since I have not done anything with notifications yet.

[2016-08-03 13:53] GervaisdeM commented on #43
I'm not sure... I will try to check this.

[2016-08-03 13:56] akashnimare commented on #44
I have not touched the notifications feature yet. We could change it according to our need once we implement notifications feature using [node-notifier](https://www.npmjs.com/package/node-notifier) or with some module.

[2016-08-04 08:53] akashnimare commented on #38
@brainwane shortcuts `(cmdOrctrl+plus/minus/0)` added. Test it please.

[2016-08-04 08:55] #38 closed

[2016-08-04 09:15] akashnimare commented on #24
@GervaisdeM I have added a new tray icon which is little smaller than the last one. Let me know if it looks good.

[2016-08-04 12:17] GervaisdeM commented on #24
Looks great!
![screen shot 2016-08-04 at 9 16 52 am](https://cloud.githubusercontent.com/assets/963514/17401483/4e9cf590-5a24-11e6-8df2-601f85ab01ce.png)

[2016-08-04 16:53] #24 closed

[2016-08-04 16:56] akashnimare commented on #44
It's possible to mute notifications when app is in foreground. Here is good read -
https://github.com/electron/electron/issues/5983

[2016-08-04 17:00] akashnimare commented on #21
Closing until more info given.

[2016-08-04 17:00] #21 closed

[2016-08-04 17:08] akashnimare commented on #16
@alkuzad we could use [node-notifier](https://www.npmjs.com/package/node-notifier).

[2016-08-04 18:51] jjst commented on #21
Yeah, it's working in some cases and not in others -- maybe I was mistaken and there weren't anymore topics. I'll reopen when/if I find more info.

[2016-08-04 18:57] akashnimare commented on #21
Sometimes I get the same behaviour on web(browser) as well. I think this might be issue with Zulip  not the app.

[2016-08-04 18:58] timabbott commented on #21
A bug of this form is very likely to be a Zulip webapp bug that we should track in the zulip/zulip project; I don't see a mechanism for the desktop app to cause that.

[2016-08-04 19:01] akashnimare commented on #21
Yes, I think the problem with the Zulip webapp. Although I am not able to reproduce it. It occurs very rarely.

[2016-08-04 22:47] akashnimare commented on #34
Added 👍 .

[2016-08-04 22:47] #34 closed

[2016-08-05 08:23] alkuzad commented on #16
@akashnimare but as current code relies on the web code it is not doable right ? The web code should then use wrapper over Notification create to send event so electron can catch it.

[2016-08-05 19:41] akashnimare commented on #16
If native notifications works on win7 then we could easily wrap it around electron.

[2016-08-05 20:53] akashnimare commented on #22
Added for osx. It looks like this.
![screen shot 2016-08-06 at 2 22 18 am](https://cloud.githubusercontent.com/assets/2263909/17450230/c6106572-5b7c-11e6-9634-5167254c9b2d.png)

[2016-08-06 20:02] akashnimare commented on #33
@brainwane updated. Test it please.

[2016-08-06 20:05] akashnimare commented on #35
@timabbott menu updated. Is there anything else I should include in window's menu?

[2016-08-06 20:09] #33 closed

[2016-08-06 20:20] akashnimare commented on #32
@GervaisdeM are you still having this issue? Could you tell me the steps to reproduce it?

[2016-08-06 20:25] akashnimare commented on #43
I have cross checked it on chrome. It's the default behaviour. Closing since it's not an issue of app.

[2016-08-06 20:25] #43 closed

[2016-08-08 18:13] hlieberman opened #46 "Inappropriate "Not a Zulip Server" error with locked-down hosts"
When attempting to connect to a Zulip server that requires authentication to access any content, not just the dynamic endpoints, the client inappropriately interprets a request for authentication as an error at app/renderer/js/main.js@18 and app/renderer/js/pref.js@26.

This function should be extracted out into one place and extended.

[2016-08-08 20:14] akashnimare commented on #46
Btw what server address you'r trying. Could you give me testing server address?

[2016-08-08 22:57] timabbott commented on #43
@GervaisdeM how are you reading the messages in this case?  Zulip's behavior is to only mark messages as read in the case that the user focuses the Zulip window, not just if you read them as they flow by in the desktop notifications (for example).  I'd like to understand if this is behaving as expected; if not, we should open an issue in the main Zulip server project.

[2016-08-08 23:01] timabbott commented on #35
@akashnimare There's something wrong with some of the menus where there are blank spaces:

![image](https://cloud.githubusercontent.com/assets/2746074/17499239/034e5222-5d81-11e6-8791-b2f0adf6c062.png)

I might also put the "About" page in the "File" menu (which I'd rename to "Zulip desktop"); I think "View" is a fine menu name (and "Edit" we should get rid of unless we have things to put it in).

[2016-08-08 23:21] GervaisdeM commented on #43
Hmmm. I believe that I was reading the messages in the Electron client with it in the foreground. I haven't seen it since. I see that the issue is closed. Perhaps it should just be left closed and if I see the behaviour again. I'll make a better description in a new issue.

[2016-08-09 09:33] GervaisdeM commented on #32
@akashnimare Yes. This problem still exists. My original issue was the "Toggle" option in the Zulip menu... Now that this has been removed, the issue still exists and can be triggered with the reload menu item.

On macOS you can trigger it by:

1. Closing the main with the standard "red dot" in the upper left.
<img width="390" alt="screen shot 2016-08-09 at 6 30 51 am" src="https://cloud.githubuse

[2016-08-09 11:23] akashnimare commented on #32
@GervaisdeM fixed. Could you test it now?

[2016-08-09 12:40] GervaisdeM commented on #32
@akashnimare

1. Close the main window
2. Select "reload" from the menu
3. Nothing happens at all.
4. Select "Change Zulip Server"
5. Type in server address and click "Add"
6. 💣

![screen shot 2016-08-09 at 9 37 32 am](https://cloud.githubusercontent.com/assets/963514/17516532/3b029bc6-5e15-11e6-9a1e-c931a3edac2c.png)

[2016-08-09 13:36] akashnimare commented on #32
I have pushed a temporary fixed for now. You won't get those errors now. Following actions are not available when the window is closed on OSX -

I don't think it's good idea to show these menus when the main window is destroyed. @GervaisdeM what do you think? Although this could change in future.

[2016-08-09 14:24] GervaisdeM commented on #32
@akashnimare
I think anything is better than a crash, but IMO it's odd to leave an application running that has a bunch of menu items that seem to simply not work. Can the application simply close out (like it does on Windows)? If not and this is the only easy way forward, then 👍

I can however still make it crash...

1. Close main window
2. Try menu options... The only one that works is "About"
3

[2016-08-09 14:59] akashnimare commented on #32
Awesome debugging 😃 .  The problem is I'm not able to get the main window once it's destroyed/closed.

[2016-08-09 19:28] GervaisdeM commented on #43
@akashnimare
@timabbott

Hey Guys... I managed to grab a screen snapshot of this. It's not a huge deal, but since it was happening, I snapped a picture.

You can see that Electron is in the foreground. I am at the bottom of the message window. Messages are coming in quickly. The message count is off. I have replied to her and there is one more message below my reply... It says, "14 message from Ga

[2016-08-10 05:12] timabbott opened #47 "clicking on a pasted screenshot is hard to recover from"
If you click on a screenshot, it loads in-app rather than in a browser, and then you get stuck with no way to go back.

[2016-08-10 17:05] akashnimare commented on #47
Did you try using `Alt + left_Arrow` which is the standard shortcut to go back. It works on OS X. I have not tested it on linux yet. Also as we have discussed here https://github.com/zulip/zulip-electron/issues/34 - all the links which belongs to the current zulip server (for example zulip.tabbott.net) will be opened in app only and rest will be opened in browser.

[2016-08-10 17:27] timabbott commented on #47
Yes, I tried that, and it didn't work on Linux.

[2016-08-10 17:29] timabbott commented on #47
Maybe the right fix for this is that we should set the links in the webapp for clicking on an uploaded image to open it in a new tab -- seems like that might be the actual core problem here (though there's also alt-leftarrow not working on Linux problem).

[2016-08-10 17:49] akashnimare commented on #47
Personally I think opening images in new tab breaks the flow. UX wise we should open image/media in the same tab with some kind of lightbox/popup just like Quora/telegram/slack does.
<img src="http://im2.ezgif.com/tmp/ezgif-1781578894.gif"/>

[2016-08-10 21:51] akashnimare commented on #47
@timabbott just tested it on linux. For some reason Alt+leftarrow doesn't work on linux (in electron). So probably I have to remap it with something else.

[2016-08-10 22:05] akashnimare commented on #35
Menu looks fine on ubuntu 14.04.

![menu_228060938056499333](https://cloud.githubusercontent.com/assets/2263909/17572765/f128a5e4-5f73-11e6-810f-b67ecaff60d6.gif)

[2016-08-10 22:06] timabbott commented on #35
Cool, I'm on Ubuntu 16.04

[2016-08-11 19:36] brainwane commented on #38
Yup, it works. Thanks!

[2016-08-11 19:38] brainwane opened #48 "Include zooming options in View menu"
As a followup to #38: the View menu should include:

Zoom In Ctrl++
Zoom Out Ctrl+-
Original magnification Ctrl+0

[2016-08-11 19:42] brainwane commented on #33
@akashnimare I would prefer for the text to more clearly indicate that this is the version number of the desktop app, not of the underlying Zulip core.

[2016-08-11 19:50] akashnimare commented on #33
@brainwane so what could we use here? ex

[2016-08-11 19:52] brainwane commented on #33
@akashnimare I bet @timabbott has branding decisions to make for the long run, about how we brand/name the desktop app. But for right now, I like your suggestion.

[2016-08-11 19:57] timabbott commented on #33
Maybe call it "Zulip Electron Desktop" for now, and we'll drop the "Electron" once we've made this the default desktop app.

[2016-08-11 21:13] brainwane commented on #35
@akashnimare the dialog box that pops up when I select "Change Zulip server" from the File menu does successfully let me switch realms -- yay! But it doesn't have a border so it looks less polished than the desktop app's main window, the CSS doesn't match the  and the icon for it in the taskbar does not have an icon.

![zulip-borderless-window-screenshot](https://cloud.githubusercontent.com/assets

[2016-08-11 21:23] akashnimare commented on #35
@brainwane thanks for reporting this. I'm into other things for few days. I'll get back to this issue later 🏃 .

[2016-08-12 00:36] hlieberman commented on #46
I can't, unfortunately, because it's behind a firewall.  However, to test, add a requirement for HTTP basic authentication to the entire Zulip vhost, and then point zulip-electron at it.

[2016-08-12 00:40] timabbott commented on #46
@akashnimare maybe the right solution is that if we get an HTTP response indicating a request for authorization when trying to verify the zulip server, we assume the server is OK and proceed to trying to login?

[2016-08-13 17:52] akashnimare commented on #48
Will it be useful? We have already implemented keyboard shortcuts for zooming feature. We can document it somewhere.

[2016-08-13 17:56] brainwane commented on #48
@akashnimare Yes, it's useful. Accessibility best practices in browsers and in desktop applications in general say that if something's possible to do via a keyboard shortcut, it should also be discoverable via the dropdown menus. And I myself am much more likely to first look at the options available to me via the dropdown menus, and to expect that zooming options would be listed there under View.

[2016-08-13 18:14] brainwane commented on #48
If there's a specific reason to avoid adding this to the View menu, I'm open to hearing it. But desktop applications that support zooming (browsers, LibreOffice, Thunderbird, etc.) usually include a Zoom item in their View menu or someplace similar (for instance, it's [an expected option in the Window menu for Apple applications](https://developer.apple.com/library/mac/documentation/UserExperience

[2016-08-13 18:34] akashnimare commented on #48
Cool then let's add it 👍 .

[2016-08-14 16:51] jedahan opened #50 "Error opening Zulip darwin build"
#### Summary

Zulip doesn't open when bundled as an application on osx.

#### Steps to reproduce

On OSX 10.10, create a new npm script in package.json:
`"build-osx": "electron-packager . --out=dist --platform=darwin --arch=x64 --
  app-version=$npm_package_version --asar --overwrite"`

then run `npm run-script build-osx`

one that finishes, `open dist/Zulip-darwin-x64/Zulip.app`

#### Expected be

[2016-08-14 22:17] freyley opened #52 "App should be titled Zulip, have Zulip logo"
---

#### Summary

Currently the app runs with the name Electron and the Electron logo.

#### Steps to reproduce

Open the app on Mac OS X using the `npm start` command.

[2016-08-15 15:19] joelburget opened #54 "Add option to not display unread messages"
---

#### Summary

I find the unread notifier (red circle with a number inside) a little noisy based on its current configuration -- I'd prefer to turn it off of change the number to only count my private messages and @-mentions.

#### Steps to reproduce

Running OS X, I receive messages in a channel I don't really care about and get an unread notifier.

[2016-08-15 15:22] timabbott commented on #54
@joelburget would you like that behavior in the webapp as well?  If so, we could probably just make this as a setting in the webapp (and the electron app would inherit that functionality).

[2016-08-15 15:25] joelburget commented on #54
I don't think I'm shown the number of unread messages in the webapp, but I
imagine if I did see a count there I'd like it to go away.

On Mon, Aug 15, 2016 at 11:22 AM Tim Abbott <notifications@github.com>
wrote:

[2016-08-15 18:27] freyley opened #55 "Getting audible notifications on every message, with audible notifications turned off"
#### Summary

I'm getting beeps on every single message I receive, even though I have audible notifications turned off on both the global level and on each individual channel.

#### Steps to reproduce

Please include:

I'm running master on Mac OS X 10.10

[2016-08-15 19:00] timabbott commented on #55
That definitely seems like a bug.

[2016-08-15 20:21] brockwhittaker commented on #36
I also encountered this bug.

[2016-08-15 22:45] timabbott commented on #54
Yeah, the webapp shows the total unread count in the favicon.

[2016-08-17 15:25] timabbott opened #56 "Jumping words in compose box on Mac"
I got a bug report from a user about "not being able to move alone the line one word at a time with cmd+left/right on Mac".  I tested and this works correctly on Linux, so it's probably a Mac-specific issue.

[2016-08-22 22:10] akashnimare commented on #52
This is the problem with Electron itself. App name and logo works fine in win and linux but in osx you will have to build .dmg or .app to show it. It will be automatically fixed on build.

[2016-08-22 22:10] #52 closed

[2016-08-22 22:18] akashnimare commented on #56
I think it's happening because of this
https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L176

[2016-08-22 22:38] akashnimare commented on #55
I just tested it on ubuntu 14.04 and it works as expected. I think in OS X `system preferences `setting is overriding our app settings. @freyley for a temporary fix you can disable it via system preferences.

![image](https://cloud.githubusercontent.com/assets/2263909/17874086/17d0e0c2-68e7-11e6-97b5-0b6112ec26ad.png)

[2016-08-22 22:46] akashnimare commented on #54
@joelburget yes it's bit noisy. @timabbott Could we implement this in web app settings (receive notifications only for mentions/private messages etc)?

[2016-08-22 22:48] timabbott commented on #54
Yeah, you can open an issue in the webapp for having the favicon count only include @-mentions/PMs (if I'm not mistaken, this is a different setting from whether to receive desktop notifications, which we already have settings for).

[2016-08-22 22:53] akashnimare commented on #54
@timabbott yes, this is different from desktop notifications settings. Just FYI I am fetching the badge [counts](https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L57-L66) from the title of page.

[2016-08-23 00:29] freyley commented on #55
@akashnimare any idea why you have an Electron section of Notifications and I don't? I'm just running `npm start` and I wonder if maybe I need to package and install the zulip app to get that? I've been googling, but haven't found anything.

[2016-08-23 00:43] akashnimare commented on #55
@freyley Don't no why it's not showing up in your system. It should automatically comes with electron itself.

[2016-08-23 20:56] GervaisdeM opened #59 "Electron crashing"
---

#### Summary

Crash

#### Steps to reproduce

- Electron opens off screen (location from my larger monitor, maybe). When I drag it to center of my laptop, Electron crashes

- macOS Sierra
- brew installed
  - node --version v6.3.1
  - npm --version 3.10.3

<img width="928" alt="screen shot 2016-08-23 at 5 48 49 pm" src="https://cloud.githubusercontent.com/assets/963514/17909347/81cb5318-695a-

[2016-08-23 20:58] akashnimare commented on #59
@GervaisdeM I was just looking into this issue. Window is not able to restore it's position when moved/resize etc.

[2016-08-23 21:02] GervaisdeM commented on #59
@akashnimare Let me know if there is anything I can do to test.  :-)

[2016-08-23 21:55] akashnimare commented on #59
@GervaisdeM fixed. Can can test it?

[2016-08-23 21:57] GervaisdeM commented on #59
@akashnimare Already on it. 😄

👍 No more errors.

[2016-08-23 21:58] akashnimare commented on #59
Cool 🎆 .

[2016-08-23 21:58] #59 closed

[2016-08-23 22:08] akashnimare commented on #56
Fixed.

[2016-08-23 22:08] #56 closed

[2016-08-23 22:56] akashnimare commented on #47
@timabbott Added new shortcuts
[code]

[2016-08-23 22:56] #47 closed

[2016-08-23 23:16] akashnimare commented on #48
@brainwane Added zooming options in Menu.

[2016-08-23 23:16] #48 closed

[2016-08-24 00:36] timabbott commented on #47
OK, do we also need to implement a lightbox sort of feature in the webapp to fully solve this problem?  I think we should address this as completely as possible since it was the main complaint we got about the electron app when we had a bunch of people trying it last week.

(Also, are those shortcuts documented somewhere?)

[2016-08-24 00:42] akashnimare commented on #47
This is completely a different issue. We don't need to implement lightbox to resolve this.
I have documented few shortcuts in Readme -  https://github.com/zulip/zulip-electron#features

[2016-08-24 00:42] timabbott commented on #47
Cool, that'll do for now but maybe we want to add a little "keyboard shortcuts" menu item eventually :)

[2016-08-24 00:43] akashnimare commented on #47
Yes, we'll add it once we have more items to show.

[2016-08-30 00:00] akashnimare commented on #19
Fixed in [fa130c9](https://github.com/zulip/zulip-electron/commit/fa130c9d69742bb2e38565262f9d240891b8b2b3).

[2016-08-30 00:00] #19 closed

[2016-08-30 00:02] akashnimare commented on #36
@brockwhittaker @kchen fixed. Can you guys test it?

[2016-08-30 00:02] #36 closed

[2016-08-30 00:08] kchen commented on #36
Looks good to me. Thanks!  (I previously entered a valid Zulip server, so I only tested this with the "Change zulip server" functionality, since I don't know how to wipe that state.)

It'd be useful if the Esc button closed the box, but the X close button is an obvious alternative to that.

[2016-08-30 00:37] akashnimare commented on #36
@kchen Esc support added 🚀 .

[2016-08-30 13:36] akashnimare commented on #55
@freyley can you test it latest build?

[2016-08-30 18:31] freyley commented on #55
It hasn't beeped at me yet!

:)

On Tue, Aug 30, 2016 at 6:36 AM, Akash Nimare <notifications@github.com>
wrote:

[2016-08-30 18:45] akashnimare commented on #55
Haha it won't 😄 .

[2016-08-30 18:45] #55 closed

[2016-08-31 04:49] akashnimare commented on #50
@jedahan localStorage is good for small db based app. I am guessing in long run we'll have to handle more data and will be needing a good db framework. As of now node-json-db looks good. We might switch to [nedb](https://github.com/louischatriot/nedb) since it's built for electron only. Btw The above error occurred because of wrong file path given to node-json-db. It's fixed here -
https://github.

[2016-08-31 04:50] akashnimare commented on #50
Since build script and node-json-db error fixed we won't need #51.

[2016-08-31 04:50] #50 closed

[2016-09-01 00:07] akashnimare commented on #32
@GervaisdeM Please test it now.

[2016-09-01 00:30] GervaisdeM commented on #32
@akashnimare works great now. I can select "Change Zulip server" from the "Z" menu and it opens the correct window, makes the connection to the server and reloads... very nice.
😄 👍

[2016-09-01 02:27] GervaisdeM opened #65 "Typo in "Not a Valid Zulip Server""
<img width="397" alt="screen shot 2016-08-31 at 11 21 28 pm" src="https://cloud.githubusercontent.com/assets/963514/18153224/64826a84-6fd2-11e6-8e65-0bcc32a5fe85.png">
---
Please include:
- macOS X Sierra
- put in invalid server

[2016-09-01 14:22] GervaisdeM opened #66 "Can't edit sent message"
---

- macOS Sierra
- Steps to reproduce:
  - Send message:
  - Try to edit it
  - The message/edit window is greyed out and cursor changes to 🚫 (but also grey)
  - Can't edit, but can click `Save` or `Cancel`

This happens with Electron (latest master) and Zulip 0.0.1-Alpha client.

![screen shot 2016-09-01 at 11 15 13 am](https://cloud.githubusercontent.com/assets/963514/18170812/10ba0f24-7036-1

[2016-09-01 23:24] GervaisdeM commented on #66
Apparently, this is due to a new feature in Zulip 1.4.0.
It's not a bug at all.

Sorry, this issue should be closed,

[2016-09-01 23:32] GervaisdeM opened #67 "Twitter-bot images not loading, but only in client."
I upgraded Zulip to 1.4.0 and now twitter-bot delivered messages are not displaying images, but only in the client.

- macOS Sierra
- Zulip-server 1.4.0

Electron Client:
<img width="672" alt="screen shot 2016-09-01 at 8 29 45 pm" src="https://cloud.githubusercontent.com/assets/963514/18187799/1da0003e-7083-11e6-943c-6e36a6be94fc.png">

Web Browser:
<img width="902" alt="screen shot 2016-09-01 at

[2016-09-06 21:05] timabbott commented on #66
Closing, thanks @GervaisdeM!  I opened https://github.com/zulip/zulip/issues/1761 for the root issue here (that the app doesn't make it clear that you can't edit the message).

[2016-09-06 21:05] #66 closed

[2016-09-06 21:06] timabbott commented on #67
@akashnimare we can setup the Zulip twitter integration on zulip.tabbott.net to make it easy to reproduce this if you like...

[2016-09-06 23:04] akashnimare commented on #65
@GervaisdeM Thanks. Fixed.

[2016-09-06 23:04] #65 closed

[2016-09-06 23:05] akashnimare commented on #54
Merging it here https://github.com/zulip/zulip/issues/1736.

[2016-09-06 23:05] #54 closed

[2016-09-06 23:07] akashnimare commented on #67
@timabbott yes, please.

[2016-09-06 23:21] akashnimare commented on #32
@GervaisdeM It works as expected now. Reopen if you face any issue with this 🐎 .

[2016-09-06 23:21] #32 closed

[2016-09-07 03:31] freyley opened #68 "Open image in default browser"
---
Please include:
- `Operating System`
Running Zulip-Electron (latest master) on Mac OS X

- `Clear steps to reproduce the issue`

Have someone upload an image into Zulip. Click on the image until it opens in Zulip-Electron.

- `Relevant error messages and/or screenshots`

No error messages. The image takes over the window. There's no back, or other navigation, even in the right-click menu, so y

[2016-09-07 09:14] akashnimare commented on #68
You can go back using `Command + [` as mentioned here -
https://github.com/zulip/zulip-electron#features

[2016-09-07 14:18] mgrabow1 commented on #25
Also interested in this feature. My company has it's own CA and the top-level certificate is a self-signed one. That's probably why I keep getting "Not a valid Zulip server". Web and desktp versions are working fine.

[2016-09-08 18:50] timabbott commented on #67
OK, setup done! :)

[2016-09-08 21:12] akashnimare commented on #67
@GervaisdeM could you reproduce this on [zulip.tabbott.net](zulip.tabbott.net) ?

[2016-09-08 22:31] timabbott commented on #68
@akashnimare I think we should try to solve the issue that clicking on an uploaded image does a wrong thing in the first place.  Even if we later want to move to a lightbox style approach, I think for now we should make the app open images in-browser.

What do you think?

[2016-09-08 22:32] timabbott commented on #68
(Empirically this seems to be the most common issue people encounter using the app)

[2016-09-08 23:06] akashnimare commented on #68
@timabbott here is the logic I'm using https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L198. Now to open image in browser I'll have to manually check if clicked link/url contains .png/.jpg etc.

[2016-09-08 23:24] timabbott commented on #68
Hmm, I'm not sure that's true -- I think the rest of the URL is different for image files.

[2016-09-09 03:10] akashnimare commented on #67
Fixed in [34a62e2](https://github.com/zulip/zulip-electron/commit/34a62e2d10ce0c369e5f043e20e6fc4d71dbdfc7).

[2016-09-09 03:10] #67 closed

[2016-09-09 14:53] timabbott commented on #67
@akashnimare I think we shouldn't be disabling the web security option -- that's important to protecting users of the app from potential attacks.  Why did you feel you needed to disable it?  Based on http://electron.atom.io/docs/api/browser-window/, it seems to me that maybe what you wanted to do was just enable allowDisplayingInsecureContent?

[2016-09-09 22:59] akashnimare commented on #67
@timabbott I didn't thought about this. Enabling `allowDisplayingInsecureContent` option will also work.

[2016-09-09 23:01] akashnimare commented on #68
@timabbott can you test it now? Let me know if this is what you want.

[2016-09-09 23:25] freyley commented on #68
Worked correctly for me on master today.

On Fri, Sep 9, 2016 at 4:02 PM, Akash Nimare <notifications@github.com>
wrote:

[2016-09-09 23:55] timabbott commented on #67
Great!

[2016-09-10 01:12] #68 closed

[2016-09-10 02:38] akashnimare commented on #6
@timabbott I have added some test suites.
**xo** checks for linting errors and **mocha+spectron** checks whether app is opened properly or not.

[2016-09-10 02:42] akashnimare commented on #4
I am not sure what `window.bridge` does. Is it related to [spectron](http://electron.atom.io/spectron/). Also see https://github.com/zulip/zulip-electron/issues/6#issuecomment-246083381.

[2016-09-10 03:17] timabbott commented on #6
Nice!  I activated Travis CI for this repo; you may need to push code for it to actually run a build though.

[2016-09-10 03:24] timabbott commented on #4
`window.bridge` was used in the Zulip webapp to trigger special behavior for the legacy Zulip desktop app in the webapp's code.  For example, it sets the user-agent equivalent ("client") in compose.js to identify that a user is using the desktop app rather than the webapp, and a bunch of stuff related to native notifications.  You can grep for it in the Zulip main server repository to see:

[code]

[2016-09-11 13:35] akashnimare commented on #6
Added CI for windows on appveyor. Check it out here -
https://ci.appveyor.com/project/akashnimare/zulip-electron/branch/master

[2016-09-11 13:36] #6 closed

[2016-09-11 14:21] steele commented on #25
I have the same issue - I used the following workaround, but note that it effective removes the security provided by TLS and so I strongly recommend that it should only be used if you are on a very trusted network.

(Use _set_ instead of _export_ on Windows)

Once logged in, I now appear to no longer require the environment variable be set when starting the application.

@akashnimare I can take a

[2016-09-11 21:59] akashnimare commented on #46
Merging it here https://github.com/zulip/zulip-electron/issues/25

[2016-09-11 22:11] akashnimare commented on #25
@steele I'm not able to reproduce this issue yet. I'm setting up Zulip locally to see what's going on with self-signed ca. As for as I know to resolve this we need to import these certificates. To get better idea you can go through these threads -

https://github.com/electron/electron/issues/1956
https://github.com/electron/electron/issues/6222
https://github.com/electron/electron/blob/master/docs

[2016-09-11 22:52] akashnimare opened #74 "Add auto-update support [Windows]"
Available options -
https://www.npmjs.com/package/electron-updater
https://github.com/ArekSredzki/electron-release-server

More info -
https://github.com/electron/electron/blob/master/docs/api/auto-updater.md

[2016-09-21 22:25] sahildua2305 commented on #3
@akashnimare I can help with this. Are we ready to package for debian?

[2016-09-21 23:56] akashnimare commented on #3
@sahildua2305 all the installers are ready. I'm holding this because of https://github.com/zulip/zulip-electron/issues/74 😭 . I'll be pushing all the packaging/building scripts to the main repo, once **auto-update** feature is added.

[2016-09-21 23:57] timabbott commented on #3
@akashnimare for Debian packages with a PPA, there's an existing automatic update setup (namely apt), so I don't think we need to delay putting these in a PPA on account of auto-update.  We have I have an existing Launchpad organization for the Zulip project that we can use for this.

[2016-09-22 00:23] akashnimare commented on #3
@timabbott for auto-updating, we have two options here -

1.  Add deb to PPA as you suggested (linux-only)
2. Use Electron way - which is  [electron-builder](https://github.com/electron-userland/electron-builder) or [electron-update](https://github.com/evolvelabs/electron-update) (cross-platform)

I'm trying to implement the second one. This works kind of smooth and cross-platform. It shows a popu

[2016-09-22 16:16] timabbott commented on #3
Cool, @akashnimare I think you could focus on the Electron way and @sahildua2305 could focus on building a Debian packaging (basically just writing a proper debian/ directory).  I have a lot of experience doing Debian packaging (used to maintain over 100 packages) so I'm happy to review the debian packaging work.

[2016-09-22 21:29] sahildua2305 commented on #3
@akashnimare So the debian packaging is already done and I need to format that into a proper debian/ directory to make it ready for PPA. Is that right?

[2016-09-26 21:33] akashnimare commented on #3
@sahildua2305 I got this 👍 .

[2016-09-29 06:08] slurdge commented on #74
Seems like electron-update is in maintenance only mode.

However electron-builder does have auto-update support. So it may be a better option for packaging&updating.

[2016-09-29 17:54] akashnimare commented on #74
@slurdge yes, electron-builder seems to be a better option.

[2016-10-11 14:09] brainwane opened #77 "npm run dev gives error: gulp not found"
I'm running Linux Mint 17 'Qiana' (based on Ubuntu 14.04). I pulled the latest code from master and ran `npm run dev` and got the following error message:

[code]

I already have npm and nodejs-legacy installed:

[code]

I believe I do not have `gulp` installed:

[code]

Should I just use `npm` to install `gulp`? And what should we do to fix this for new users in the future?

[2016-10-11 14:15] brainwane opened #78 "can't connect to localhost:9991 via electron app"
I have a development version of the Zulip web app running at http://localhost:9991/ . I can access it in my regular desktop browser (Firefox). When I try to access it via the Electron app, the "checking..." spinner spins but never connects nor errors out. I've also tried http://zulip.zulipdev.com:9991/ and I've tried localhost:9991 . Same (lack of) result.

I'm running Linux Mint 17 'Qiana' (based

[2016-10-11 17:20] akashnimare commented on #77
@brainwane running `npm install` should fix this issue.

[2016-10-11 17:22] akashnimare commented on #78
@brainwane yeah it's a known issue. I'm working on that.

[2016-10-13 00:42] akashnimare commented on #77
@brainwane let me know if it worked.

[2016-10-13 00:59] GervaisdeM commented on #77
I run a little script to start electron/zulip that looks like this:

[code]

I never have any issue and it updates dependancies for me every time I launch the electron client.

[2016-10-13 01:04] akashnimare commented on #77
@GervaisdeM awesome script 🏆 .

[2016-10-24 05:39] antifuchs opened #81 "OS X: Error launching when built with `--asar`"
On OS X, running the output of the default `npm run build:osx` results in a Zulip.app that starts up to this error message, and refuses to continue:

[code]

If I adjust the build command line to drop the `--asar` flag, Zulip starts correctly:

`./node_modules/.bin/electron-packager . --out=dist --app-version=$npm_package_version --prune --icon=app/resources/Icon.icns --overwrite --platform=darwin

[2016-10-24 05:51] antifuchs commented on #81
A-ha! So an `asar list app.asar` reveals that the en-US dictionary is included, but it lives under a different file name: https://gist.github.com/antifuchs/053004619431e83498bc469cbbedbd6e#file-asar-list-app-asar-L6202 - it's `.zip`, not `.dic`.

I am not sure what's exactly happening but it looks like something is trying to auto-expand that dictionary zip file, and trying to write the expanded .d

[2016-10-24 10:48] akashnimare commented on #81
@antifuchs I just tested `npm run build:osx` and it's working fine for me. There are no errors while running Zulip.app. Could you please try this on master -
[code]

[2016-10-24 14:00] mgrabow1 commented on #16
Windows 8.1 - also no desktop notifications for new messages. Only audible.

[2016-10-24 15:26] antifuchs commented on #81
I should have mentioned that I did this before reporting... no use - on dda491938ec833842a82f1d8abf844de7cd36bc7, I still get this error box. Here's the dependency tree output in a gist: https://gist.github.com/antifuchs/4eea83815bd3bf58f7919d711daa0d57

[2016-10-24 19:55] akashnimare commented on #81
@antifuchs yeah, I just did `rm -rf node_modules && npm install` myself and able to reproduce this error. It's an issue with electron-packager's asar api. For now I'm dropping --asar flag to fix this but we should be able to find out the actual reason behind this.

[2016-10-24 21:42] akashnimare commented on #81
I think it's caused by this [commit](https://github.com/jfmdev/simple-spellchecker/commit/361266b2c7cb000eee306cb204e8b3014c3a04a1) of simple-spellchecker. I have downgraded it's version to 0.9.0 which is working. Can you check it now? You will have to run `rm -rf node_modules && npm install` on master.

[2016-10-26 20:10] brainwane commented on #77
Yes, running `npm install` fixes the problem. Feel free to keep this issue open for now, and then close it when you merge @GervaisdeM's fix. Thanks!

[2016-11-02 19:53] brainwane opened #82 "Build an efficient process for testing and releasing new versions of the desktop apps"
This is a TODO from https://zulip.readthedocs.io/en/latest/roadmap.html that Tim included in the Zulip roadmap when he first published it in 27b8e8b294e3c43566dea724d059ef32af16a8f3 .

[2016-11-06 11:15] akashnimare commented on #82
@brainwane Sorry for the late reply as I was on a little vacation 😄 .
I have not done much work on testing but releasing new versions ie auto updates etc will be covered in our first stable release.

[2016-11-06 14:14] akashnimare commented on #81
@antifuchs fixed in [9f70068 ](https://github.com/zulip/zulip-electron/commit/1a63839f6d9b142c73df8bf8a9aac07ca22192dc). Thanks @antifuchs  🙌 .

[2016-11-06 14:14] #81 closed

[2016-11-06 23:31] akashnimare commented on #3
Progress is happening here: [electron-builder](https://github.com/zulip/zulip-electron/tree/electron-builder).

[2016-11-08 18:20] #77 closed

[2016-11-08 18:35] akashnimare commented on #77
Fixed in #80. Thanks @brainwane & @GervaisdeM for this 🚀 .

[2016-11-10 20:58] akashnimare opened #84 "Keep app running in background on closing the main window"

[2016-11-11 08:46] ezeri opened #85 "libnotify errors Centos 6.7"
Copying info from  zulip/zulip-desktop#52

I get errors with the notification system though.

[code]

We are currently using Centos 6.7 with libnotify.x86_64 0.5.0-1.el6

Any ideas would be welcome.

Cheers,

Belisaire.

[2016-11-11 18:48] timabbott commented on #85
Hmm, it may be worth Googling for those errors + "electron" to see if that's a known electron bug with a recommended solution...

[2016-11-13 19:34] akashnimare commented on #85
@ezeri I don't see such errors on Ubuntu 14.04. Maybe it's distro-specific 🤔 . I'll see what I can do to resolve this.

[2016-11-14 08:58] ezeri commented on #85
@akashnimare Can you check what version of libnotify you are using ?

We are on 0.5.0, and the latest is 0.7.7, but the 0.7+ versions require gnome3 and we use gnome2. I am afraid this is a backward compatibility issue. I tried updating our version, but am having great difficulties finding a version of libnotify that is buildable on gnome2 of any version after the 0.5.0.

Would you be able to test

[2016-11-17 18:47] timabbott commented on #46
It sounds like this may have regressed.

[2016-11-17 18:47] timabbott commented on #46
We should probably add a test for this condition when we fix it...

[2016-11-17 20:35] akashnimare commented on #46
The logic behind **zulip server checking** works quite well in most of the cases but there are few exceptions such as https://github.com/zulip/zulip-electron/issues/25, localhost etc where it fails. We should definitely write some tests to check those conditions.

[2016-11-18 07:17] akashnimare opened #87 "Native notifications are not working in Linux"
---
Please include:
- `Operating System` - Ubuntu 16.04

[2016-11-18 07:20] akashnimare commented on #87
Maybe because of https://github.com/zulip/zulip-electron/commit/71637d8e9289ab6b9d03e6b4e3b5f595aa874724 🤔

[2016-11-18 08:29] akashnimare commented on #87
Updated electron to the latest version and notifications seem to be working as expected 🎉  @timabbott could you please cross-test it?

[2016-11-18 13:39] GervaisdeM opened #88 "javascript error when electron has been left running and try to right-click"
In the latest version of master branch. If you leave Electron running, sleep your computer (ie. carry it home) when electron reloads, it is throwing an error when you right click on a anything. If you quit Electron and relaunch it, everything is fine again.

Screen snapshots attached.

---
Please include:
- `macOS Sierra`
- `Leave zulip-electron running, sleep computer, right click misspelled word

[2016-11-18 22:20] akashnimare commented on #85
@ezeri could you test this error on latest build https://github.com/zulip/zulip-electron/commit/bd6616e065738a97b1226420542e046ae04d9bc3?

I'm on Ubuntu 16.04 (Unity) and using libnotify - 0.7.6.

I can't :(. Maybe someone in our community can test it.

Btw Is it possible for you guys to use Ubuntu MATE? It's an updated and maintained version of GNOME 2, with an official 16.04 release as well.

[2016-11-19 10:24] akashnimare commented on #3
This feature is added in the latest build i.e. [v0.5.1](https://github.com/zulip/zulip-electron) 😄 .

[2016-11-19 10:31] akashnimare commented on #87
✔  Working as expected.

[2016-11-19 10:31] #87 closed

[2016-11-27 05:24] akashnimare opened #89 "Add an option to clear the cache from menu items"
Here is the api to do it -
https://github.com/electron/electron/blob/master/docs/api/session.md#sesclearcachecallback

[2016-11-30 22:48] timabbott opened #90 "Icon is oddly pixelated on Linux"
Here's a screenshot: ![image](https://cloud.githubusercontent.com/assets/2746074/20774607/f0224250-b70b-11e6-8076-42d53f352116.png)

[2016-11-30 23:25] zbreit18 opened #91 "Unable to Get to the Login Screen on OS X"
***OS:*** OS X El Capitan (V. 10.11.6)

Here are all the steps I took to get this bug. It could be an error on my part, but I just wanted to post it here in case it isn't.

1) The first step I took to run the electron app was forking and cloning the `zulip-electron` repo on github.
2) Next, I cd’d into the directory and ran `npm install` followed by `npm start`. There didn’t seem to be any errors

[2016-12-01 17:51] timabbott commented on #88
Interesting, I think I saw the same error on Linux yesterday where I closed the Electron window and then was using ctrl-R to search in my terminal history - I couldn't quite get a reproduction though.

Definitely seems like this is a priority issue.

[2016-12-11 13:53] akashnimare commented on #91
@zbreit18 hey, sorry for the late response as I was busy in exams.
BTW I have never encountered such errors. Could you please follow these steps -
* update node to v6.3.1 + npm to 3.10.3
* rm -rf node_modules && rm -rf app/node_modules
* npm install
* npm start
Let me know if it works.

[2016-12-11 14:30] akashnimare commented on #90
Fixed in https://github.com/zulip/zulip-electron/commit/8410769fdd107946e6b351b589ab828a40ac38b9

[2016-12-11 14:30] #90 closed

[2016-12-11 14:51] zbreit18 commented on #91
Wow, I'm surprised fixing it was as simple as that. Looks like I was using the wrong version of node. Thanks for the help 👍.

[2016-12-11 14:51] #91 closed

[2016-12-11 14:53] akashnimare commented on #91
@zbreit18 happy to help 😀

[2016-12-11 19:59] timabbott commented on #91
@akashnimare do you think we should include in the installation instructions documentation on getting the right version of node?

Also, do the bundled versions of the app come with a node install to handle this?

[2016-12-12 13:22] akashnimare commented on #91
@timabbott updated installation instructions.

yes 😄

[2016-12-13 21:42] akashnimare commented on #88
@GervaisdeM the error you are getting is because of the spellchecker event. I have pushed a fix, let me know if it works 😅

@timabbott I have seen that error once but I'm not able to reproduce it now 😄
Maybe it's caused by the local keyboard shortcuts i.e. [this](https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L173). These shortcuts are registered once the app is open. Probab

[2016-12-13 22:28] timabbott commented on #88
I can't reproduce it directly but it happens a few times a day when I have the app open, so I can determine whether something fixed it.  It would be really good to make sure we fix this in a way that it's not going to regress, since this is a pretty bad failure mode.

[2016-12-14 20:34] akashnimare commented on #88
@timabbott I have pushed a fix in https://github.com/zulip/zulip-electron/commit/61dfcfc3b110a6cc12a11a1d1ccf471728551d68. Let me know if you get this error again.

[2016-12-14 20:38] timabbott commented on #88
OK I'll run the latest version for the next couple days and post here if I see the issue again.

[2016-12-15 17:30] timabbott commented on #88
I had it running all day and haven't seen this, so I think it is indeed fixed.

[2016-12-15 17:30] #88 closed

[2016-12-15 17:31] timabbott commented on #40
Just to add some context on this, the Zulip webapp already has a javascript error reporter framework called `blueslip` that probably works for any JS errors that happen in the actual Zulip webapp code; we probably still want something for electron tracebacks though.

[2016-12-15 20:18] akashnimare commented on #40
Progress is going on in [crash-reporter](https://github.com/zulip/zulip-electron/tree/crash-report) branch.

[2016-12-15 20:34] akashnimare commented on #74
This feature has been added in macOs.

[2016-12-15 20:36] akashnimare commented on #42
Added 🚀

[2016-12-15 20:36] #42 closed

[2016-12-15 22:33] #84 closed

[2016-12-15 22:39] #22 closed

[2016-12-15 22:40] akashnimare commented on #85
@ezeri any update on this?

[2016-12-21 06:30] akashnimare commented on #5
As of now desktop notifications are working on the following platforms -
1. Windows 10
2. OSX (tested on OS X EL Capitan Version 10.11.6)
3. Linux (tested on Ubuntu 14.04/16.04)

[2016-12-21 06:33] #5 closed

[2016-12-21 06:33] akashnimare commented on #5
Merging into #16

[2016-12-21 06:39] akashnimare commented on #16
Here are the few things we need to work on -
* Make the native notifications clickable on linux + windows
* Add windows 7 + 8 support

[2016-12-21 06:41] akashnimare commented on #85
Closing until more info given.

[2016-12-21 06:41] #85 closed

[2016-12-21 06:42] akashnimare commented on #44
@GervaisdeM Could you please test it again?

[2016-12-21 13:53] GervaisdeM commented on #44
I'm running the latest master branch. I'll keep an eye out for this.

[2016-12-24 23:52] akashnimare commented on #74
Windows automatic updates added in new beta release - [Beta-v0.5.3](https://github.com/zulip/zulip-electron/releases/tag/v0.5.3)

[2016-12-24 23:52] #74 closed

[2016-12-24 23:56] #3 closed

[2016-12-25 00:06] akashnimare commented on #4
@timabbott I'm trying to find the way to implement this in our electron app 🤔

[2016-12-31 12:08] akashnimare opened #95 "Can not find module 'debug/browser'"
Something is broken and I'm not able to figure it out 😭

![image](https://cloud.githubusercontent.com/assets/2263909/21577415/af9f0434-cf7f-11e6-817f-bbc88a7b6657.png)

Because of above error preload script can't be injected and hence spellchecker won't work 😢

[2016-12-31 16:17] akashnimare commented on #95
So the problem is in spellchecker module. Updating it to its latest version solved the above issue on macOS.

[2016-12-31 16:50] akashnimare commented on #95
🎆  fixed in https://github.com/zulip/zulip-electron/commit/975a6ab8bf4d2f0b276ce1a29e82dd594600b411

[2016-12-31 16:50] #95 closed

[2017-01-01 07:51] jajodiaraghav commented on #89
Will submit a PR soon.

[2017-01-03 09:35] antifuchs opened #98 "Open context menu on touch events"
I run Zulip electron on the mac, and have noticed recently that when I click links to external pages (not images), the electron app opens a chrome-less window that doesn't let me open the page in a browser.

Steps to reproduce:
1. Post the link `https://example.com` on a zulip instance
2. Click that link
=> A window inside zulip-electron pops up

Expected result: my browser should open a new tab.

[2017-01-03 09:48] akashnimare commented on #98
@antifuchs thanks for opening this. It's https://github.com/zulip/zulip-electron/issues/11 again 😭
I'll send a fix.

[2017-01-03 10:03] akashnimare commented on #98
@acrefoot which version of zulip-electron are you using? Could you please try it on latest master?

It's there in the latest release. See -

![image](https://cloud.githubusercontent.com/assets/2263909/21604350/b7d1c7f4-d1c8-11e6-8cf1-509766d33c25.png)

[2017-01-03 10:11] antifuchs commented on #98
Oh dang, I wasn't on a release when repo'ing this: I reported against eac2b92cb671fba290ef4865bba4c03033edc077.

The latest HEAD (531973194c4e8c018079e8a068b25800232c997b) now does open links in a new browser tab, but I am not able to open the context menu: I only have a touchpad available, and neither two-finger-tapping (as configured system-wide) nor control-clicking opens a context menu for me.

[2017-01-03 10:21] akashnimare commented on #98
@antifuchs ohh, I haven't consider the touchpad case yet 😆
I'll be adding this in next release.

[2017-01-07 11:37] #89 closed

[2017-01-12 21:57] matthewalbani opened #99 "all links open in a zulip window"
opening any link creates a new zulip window. If this is intended an option to disable would be nice. From earlier release notes it seems like external links are meant to open in the default browser.
-
Zulip 0.5.4
Electron 1.4.7
darwin x64 15.6.0

<img width="1440" alt="screen shot 2017-01-12 at 1 56 41 pm" src="https://cloud.githubusercontent.com/assets/7443459/21909967/03fc06dc-d8cf-11e6-8445-785

[2017-01-12 21:59] matthewalbani commented on #99
seems related to https://github.com/zulip/zulip-electron/issues/9 but its closed

[2017-01-12 22:07] timabbott commented on #99
@akashnimare when we fix this, it may make sense to add a test suite for exactly when things should open new windows.

[2017-01-13 18:27] anirudhjain75 opened #100 "chat.zulip.org not set as default"
- `Operating System`
Ubuntu 14.04
- `Clear steps to reproduce the issue`
Run the electron app and click on `connect` without typing anything on the link box
- `Expected outcome`
It must connect to Zulip development chat i.e. chat.zulip.org by default
- `Relevant error messages and/or screenshots`
![screen shot 2017-01-13 at 11 36 46 pm](https://cloud.githubusercontent.com/assets/14249589/21940784/

[2017-01-13 22:06] timabbott commented on #100
@anirudhjain75 why should it connect to chat.zulip.org by default?  The vast majority of Zulip users do are not part of the Zulip development community and do not use chat.zulip.org.

(I think we probably do want to remove or change the placeholder to be more clear).

[2017-01-13 22:14] anirudhjain75 commented on #100
Yeah it would be better to remove `chat.zulip.com` from the view and make it something like `enter the server URL`

[2017-01-13 23:16] derAnfaenger opened #101 "Zulip Electron not connecting, clash with Zulip Qt?"
#### Info

* OS: Windows 10
* I also have the Qt version of Zulip installed, which might be causing these issues.

#### Reproduction
1. Download the latest beta version of Zulip Electron for Windows:  [0.5.4](https://github.com/zulip/zulip-electron/releases/tag/v0.5.4)
2. When the "connect to server" page pops up, enter chat.zulip.org.

#### Problems

* Upon clicking "connect", the text in the add

[2017-01-14 16:48] akashnimare commented on #101
@derAnfaenger thanks for reporting this. Let me see if I could reproduce this on Windows machine.

[2017-01-14 17:06] akashnimare commented on #100
@anirudhjain75 it's just an example. I think the placeholder is fine although we could change the title from `Login to Zulip Server` to `Enter your Zulip host/server URL` to make it more clear.
@timabbott what do you think?

[2017-01-14 17:14] akashnimare commented on #99
@timabbott yeah, we definitely need to write some test suite for this 😭

[2017-01-14 17:41] anirudhjain75 commented on #100
I guess that would be better, but what about the confusion caused due to chat.zulip.org

[2017-01-14 17:42] akashnimare commented on #99
@matthewalbani are you using the latest [release](https://github.com/zulip/zulip-electron/releases/tag/v0.5.4)? I can't reproduce this on https://github.com/zulip/zulip-electron/commit/5f027820f405ae8fecffe2b5962e3ecfa4701c80.

[2017-01-16 20:16] matthewalbani commented on #99
hrm its not doing it for me any more either....

[2017-01-16 20:16] #99 closed

[2017-01-17 04:56] timabbott commented on #100
@akashnimare I think changing the title to perhaps "Enter your Zulip server login URL" is definitely helpful (Slack users the term "login URL" which I think is helpful for this context).  I would also consider changing the placeholder to "E.g. chat.zulip.org" to make clear that entering nothing will not connect to chat.zulip.org (since that is a common pattern inthis sort of input field).

[2017-01-17 04:57] timabbott commented on #100
@borisyankov @neerajwahi we should probably use the same text in the "enter the server" login prompt on the mobile app as here; what do you think the right choice is?

[2017-01-17 05:12] borisyankov commented on #100
Placeholders should not look like real data.
On Web you can have labels, on mobile the trend is to have the label as placeholder.
In that case the placeholder should be 'Server URL' and not a valid server URL.

The shorter and still clear the text is, the better.

'Zulip Server' is ambiguous. 'Server Address' or 'Server URL' is clear.

[2017-01-19 05:19] neerajwahi commented on #100
I agree that we should avoid placeholders that look like real data (because it's easily confused with a default value).

I think we could just write 'URL' as the placeholder. If the title is 'Login to Zulip Server' that should be pretty obvious and discoverable. We should make sure it's fairly forgiving though (and automatically prepend 'https://' if omitted, for example)

[2017-01-20 10:22] akashnimare commented on #100
@timabbott going with `Enter your Zulip Server URL` for the title. For placeholder, I think `demo.zulip.chat` or just `Server URL` would be fine. @neerajwahi 'https://' is automatically added to URL :)

[2017-01-20 10:28] akashnimare commented on #99
@matthewalbani I'm curious - why did you get this error, were you using the older version of zulip-electron?

[2017-01-20 15:05] matthewalbani commented on #99
I'm not really sure. I think it went away after a restart though.

[2017-01-20 15:07] matthewalbani commented on #99
I think it went away after a restart. I had not restarted since s itching to that version, but I have no evidence that's what actually fixes it.

[2017-01-20 21:36] akashnimare commented on #101
Related issues -
* https://github.com/electron-userland/electron-builder/issues/1101
* https://github.com/Squirrel/Squirrel.Windows/issues/892

[2017-01-24 18:05] akashnimare commented on #101
@derAnfaenger do you see any errors in developer console (View>Toggle Developer Tools> Console)?

[2017-01-25 18:51] akashnimare opened #103 "Use NSIS instead of Squirrel.Windows"
Squirrel.Windows is so buggy and broken. We are using it just to make auto-update work on windows. We'll probably need to re-write auto-update mechanism so that it works with NSIS target as well.

[2017-01-27 05:56] akashnimare commented on #101
Fixing it here - https://github.com/zulip/zulip-electron/tree/nsis
track this issue - https://github.com/electron-userland/electron-builder/issues/1171

[2017-01-27 06:26] akashnimare commented on #103
Merging into #101

[2017-01-27 06:26] #103 closed

[2017-01-27 06:31] akashnimare commented on #101
@derAnfaenger hey, could you help me on this issue? I don't have access to windows 10 so I'll be needing someone who could cross test the fix 😭

[2017-01-27 10:51] derAnfaenger commented on #101
@akashnimare sure! I guess I have to build the latest Zulip Electron version in order to verify it?

[2017-01-28 07:55] akashnimare commented on #101
@derAnfaenger yeah. Could you run `npm install` on [master](https://github.com/zulip/zulip-electron) and report for any build errors?

[2017-01-28 17:04] derAnfaenger commented on #101
I'm getting this error:
[code]
Here is the `npm-debug.log` file (added `.txt` to the filename for github to support its upload):

[npm-debug.log.txt](https://github.com/zulip/zulip-electron/files/737019/npm-debug.log.txt)

[2017-01-30 04:39] akashnimare commented on #101
You have to use Python 2.7.X since Python 3 is not supported by [node-gyp](https://github.com/nodejs/node-gyp). Just use python 2 and set it's path :)

[2017-02-02 05:16] akashnimare commented on #101
For node-gyp related build error, please follow the mentioned instructions - https://github.com/nodejs/node-gyp

[2017-02-02 20:55] timabbott opened #104 "Add an option to hide the tray icon"
I've gotten feedback from a few users that they would appreciate the ability to disable the Mac OS menu bar item for Zulip to keep it uncluttered.

[2017-02-05 21:18] akashnimare opened #106 "Unsubscribe keyboard shortcuts if window is hidden/closed"
Here - https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L184

[2017-02-07 13:10] akashnimare commented on #100
Fixed in https://github.com/zulip/zulip-electron/commit/063799a05396ff90317ae00b43e5eb5145abcb96.

[2017-02-07 13:10] #100 closed

[2017-02-08 11:13] akashnimare commented on #101
Fixed in latest beta [release](https://github.com/zulip/zulip-electron/releases/tag/v0.5.7).
@derAnfaenger thanks for reporting this bug.

[2017-02-08 11:13] #101 closed

[2017-02-08 17:13] timabbott commented on #101
@derAnfaenger it'd be great if you can confirm the fix after installing the new release when you get a chance.

[2017-02-09 10:18] akashnimare opened #107 "Windows installer size is too big"
It's because the installer contains both the arch (ia32+x64). This will be fixed by electron-builder.

[2017-02-11 15:34] derAnfaenger commented on #101
@timabbott just downloaded the beta release exe, works now! Thanks for fixing this :)

[2017-02-14 14:03] mgrabow1 commented on #16
I'm waiting and waiting... ;)
I've just made a major upgrade do 1.5.1 and sadly some features (like administration, settings and stream settings) don't work in native Windows client (also message textarea became very small).
I regularly check the electron version, but lack of desktop notofication (on W7 and W8 - most computer in our organization) is really a major drawback :/

[2017-02-15 06:25] timabbott commented on #16
Yeah that seems pretty poor; @akashnimare how hard would it be to make this work on W7/W8?

[2017-02-15 09:16] akashnimare commented on #16
@timabbott it's hard since Electron does not support desktop notifications on windows 7. I guess we have to wait until they fix this issue. @mgrabow1 @alkuzad you can also track it here -
https://github.com/electron/electron/issues/262
https://github.com/electron/electron/issues/8384

@mgrabow1 sorry for not working on this feature. Our primary focus is to make a stable windows app first with some

[2017-02-15 09:22] akashnimare commented on #107
Fixed in [v0.5.8](https://github.com/zulip/zulip-electron/releases/tag/v0.5.8) 🚀

[2017-02-15 09:22] #107 closed

[2017-02-15 09:25] akashnimare commented on #44
@GervaisdeM can you check it again and see if it's fixed 🤔

[2017-02-15 13:26] GervaisdeM commented on #44
Hey @akashnimare

It's still happening... You can see in the screenshot below that Electron is in the frontmost app and that I am still getting notifications for messages. I've read and replied to some of them, but the notification says "4 messages from Gail..."

![screen shot 2017-02-15 at 9 20 06 am](https://cloud.githubusercontent.com/assets/963514/22976274/76795f10-f360-11e6-87f3-a505f9a7d966.

[2017-02-15 16:17] timabbott commented on #107
Nice! :)

[2017-02-15 16:18] timabbott commented on #16
Yeah, I agree that it's unlikely Electron will fix this soon.  As a stopgap if those libraries are hard to setup, we could at least make sure the browser-style web notifications work on those platforms.

[2017-02-16 08:37] mgrabow1 commented on #16
Thanks for your replies. Some people in my organization (including myself) started using web-based client (for now), but some sceptics are hard to convince that our great IM-replacement doesn't notfiy about new messages ;)
A follow up question - is this notification thing also connected to not changing zulip-electron tray icon after receiving messages? The native client's icon "blinks" with the nu

[2017-02-16 10:49] alkuzad commented on #16
@akashnimare made comment here: https://github.com/electron/electron/issues/262#issuecomment-280297669

[2017-02-16 18:01] akashnimare commented on #16
@alkuzad cool. I think [electron-toaster](https://github.com/s-a/electron-toaster) + [electron-notification-shim](https://github.com/seriema/electron-notification-shim) could resolve this issue.
Last time I checked electron-notification-shim, it used to create double notifications. I'll have to figure out how to delete the native notifications first and then implement notifications using this modu

[2017-02-16 18:09] akashnimare commented on #44
@GervaisdeM thanks for the update, I'll check it out.

[2017-02-16 21:15] timabbott opened #108 "Set User-Agent and message sending client as ZulipElectron/version"
We need to change two things:

(1) We should set the User-Agent string for HTTP requests made from the electron app to be e.g. ZulipElectron/0.7.2, so that server-side code can identify the app

(2) This block in static/js/compose.js in the webapp needs to have code for detecting if we're in the electron app and reporting itself as ZulipElectron.

[code]

[2017-02-17 09:23] alkuzad commented on #16
@akashnimare I personally like zulip more as it has a lot cleaner interface, more compact which is better for bigger companies. But RC is easy to setup with ready docker containers where Zulip warns everywhere that stepping outside Vagrant (which is dead cause real working VM managers costs lots of money and docker works on every modern linux for free) will be painful.

Stepping outside Ubuntu is

[2017-02-17 10:19] akashnimare commented on #16
@alkuzad thanks, we'll take a note on this. cc @timabbott @showell

[2017-02-17 10:32] akashnimare commented on #108
@timabbott I have added 'ZulipElectron/0.5.8' as a user-agent. Can you cross-test it? BTW here is the default user-agent -
`"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Zulip/0.5.7 Chrome/53.0.2785.143 Electron/1.4.7 Safari/537.36"`

[2017-02-17 11:04] akashnimare commented on #16
@mgrabow1 could you please open a new issue for this? Unread counts support is added in OSX only.

![image](https://cloud.githubusercontent.com/assets/2263909/23063107/d4af23a6-f52e-11e6-851a-aad514f9c307.png)

As of now, Electron does not support it but I think there might be other ways to achieve the same.

[2017-02-17 19:13] timabbott commented on #108
Looking at 34bb55cb9f805921d40f4ca4c30dd5282affc9cc, we should try to make sure it gets updated in every release; one strategy is to have a version.js file that everything else can read, and then have a "build a release" script that writes to that file in addition to doing the git tag, etc., to make sure we always do it.

I think it's fine to include the other details (it'll at least indicate Mac

[2017-02-17 21:17] timabbott commented on #108
I confirmed the User-Agent is appearing properly on the server; as I noted you may still

I'll take care of part 2; just figured out what we need to do.

[2017-02-17 23:42] timabbott commented on #108
OK, the Zulip server should now do the right thing.  We'll be able to tell if we succeeded based on whether chat.zulip.org/stats starts showing ZulipElectron usage.

I'm going to leave this open for doign the "append at front" approach for adjusting the user-agent string rather than just truncating it to ZulipElectron.

[2017-02-18 09:57] akashnimare commented on #108
Fixed here https://github.com/zulip/zulip-electron/commit/34bb55cb9f805921d40f4ca4c30dd5282affc9cc. Now it will be like ZulipElectron + Current app version + OS details (linux/darwin/win32). Useragent for current verison on Mac - `ZulipElectron/0.5.8_darwin`. @timabbott anything to add/remove ?

[2017-02-18 10:01] akashnimare commented on #4
Will be fixed in #108

[2017-02-18 10:56] akashnimare opened #109 "Fix travis errors [linux]"
https://travis-ci.org/zulip/zulip-electron

[2017-02-18 11:37] akashnimare commented on #109
Testing against a static file instead of a webview fixes this problem 🎉

![image](https://cloud.githubusercontent.com/assets/2263909/23092969/772edaa4-f5fc-11e6-9629-20bbe3bbb71b.png)

[2017-02-18 11:37] #109 closed

[2017-02-18 14:26] mgrabow1 opened #110 "Unread counts on tray icon on Windows"
Zulip-electron does not show unread counts in tray (on tray icon) on Windows (7+).

I think it should :) - just like the old windows native client. (as a complement to Windows notifications).

[2017-02-18 14:26] mgrabow1 commented on #16
@akashnimare sure, no problem.

Reported as #110

[2017-02-19 03:19] timabbott commented on #108
Usually one spells OS details after a space, e.g. `ZulipElectron/0.5.8 darwin`  Could be worth providing additional details on OS like what version though -- e.g. Windows 7 and Windows 10 are pretty different...

[2017-02-20 19:50] akashnimare commented on #108
Current status -

**Windows 7** -
`ZulipElectron/0.5.8 Windows 7
`

**Windows 10** -
`ZulipElectron/0.5.8 Windows 10`

**Mac** -
`ZulipElectron/0.5.8 Mac
`

**Linux** -
`ZulipElectron/0.5.8 Linux`

[2017-02-20 19:56] timabbott commented on #108
Cool.  Would consider adding OS X version (and Linux version details) as well when we get a chance, but those are less urgent so could be put in a follow-up issue.

Thanks @akashnimare!

[2017-02-21 11:38] vedantrathore commented on #41
@timabbott @akashnimare I would like to work on this, any hints?

[2017-02-23 14:16] GervaisdeM commented on #44
This may or may not be related to what you are trying to sort out, but now I am not getting the OS notifications at all and I am getting the *built-in* type. I only notice them when the app is in the foreground.

<img width="944" alt="screen shot 2017-02-22 at 9 32 42 pm" src="https://cloud.githubusercontent.com/assets/963514/23262452/2074c31e-f9b1-11e6-9c21-92919568083f.png">

[2017-02-23 18:30] akashnimare commented on #44
@GervaisdeM I confirm this bug. Let me see what's wrong.

[2017-02-23 18:33] akashnimare opened #111 "Desktop notifications stopped working"
---
Please include:

All

[2017-02-23 19:50] akashnimare commented on #111
It's because of the new user-agent we have added in #108

[2017-02-23 20:01] akashnimare commented on #111
I think it's nesseccary to add the default user-agent i.e.- `"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Zulip/0.5.8 Chrome/53.0.2785.143 Electron/1.4.7 Safari/537.36"` in our new user agent which is - `ZulipElectron/0.5.8 Mac` to make desktop notifications work properly.

[2017-02-23 20:31] timabbott commented on #111
OK.  Why don't we try `ZulipElectron/0.5.8 Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Zulip/0.5.8 Chrome/53.0.2785.143 Electron/1.4.7 Safari/537.36` as the User-Agent?  (i.e. just appending the Zulip thing at the beginning)?

[2017-02-23 20:55] akashnimare commented on #111
@timabbott ahaa, I have already tried it and it works pretty well. So the new user agent would be -
`ZulipElectron/0.5.8 Mac Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Zulip/0.5.8 Chrome/53.0.2785.143 Electron/1.4.7 Safari/537.36`

[2017-02-23 20:57] timabbott commented on #111
That sounds great.

[2017-02-23 21:07] akashnimare commented on #44
@GervaisdeM can you check it again? Notifications should work now 😅

[2017-02-24 01:27] GervaisdeM commented on #44
@akashnimare notifications are back.  👍

[2017-02-24 04:43] chiragjn opened #112 "Wrong "Keyboard shortcuts" shortcut action opens administrator settings for anyone"
---
Please include:

- `Operating System`
OSX Yosemite 10.10.5
- `Clear steps to reproduce the issue`

1. Launch the electron app
2. Press <kbd>command</kbd> + <kbd>K</kbd> This should launch Keyboard Shortcuts modal, but instead launches Settings modal with Administrator tab
- `Relevant error messages and/or screenshots`

![screen shot 2017-02-24 at 10 09 47](https://cloud.githubusercontent.com/a

[2017-02-24 09:05] #112 closed

[2017-02-24 09:08] akashnimare commented on #111
Fixed in https://github.com/zulip/zulip-electron/commit/bfc03c7e959384da982376b881f336d2e40449ac.

[2017-02-24 09:08] #111 closed

[2017-02-24 09:09] akashnimare commented on #44
@GervaisdeM nice. Thanks for reporting it.

[2017-02-24 09:31] chiragjn commented on #44
So , I have been spamming myself from another account for a while now. This is what I think:

Notifications received in the foreground makes sense when received message is not in current stream/ focus. This works as expected.

Zulip's notifications.js would send notification for any unread messages, which means even if the app is in foreground and message is received in focused stream but stays un

[2017-02-24 20:47] singh1114 opened #114 "No error message when internet is not working"
---
Please include:
- `Operating System:` Ubuntu 16.04

- `Clear steps to reproduce the issue:`
When we get disconnected to the internet and click on login button it opens up a blank page without showing any error and when we are again connected to the internet, we have to click on reload for the app to show something again.

- `Relevant error messages and/or screenshots`

[2017-02-26 10:22] jajodiaraghav commented on #106
@akashnimare Is that different from https://github.com/zulip/zulip-electron/blob/master/app/main/index.js#L181?
How can we approach this one?

[2017-02-26 10:31] singh1114 commented on #114
Even when the app starts it shows a blank screen. A good user experience would be to add a message that tells the user that the messages are being fetched from the server.

[2017-02-26 10:52] akashnimare commented on #114
It's a known issue. Probably we should first check the internet connection through window.navigator.onLine or something and then proceed further.

[2017-02-26 10:53] jajodiaraghav commented on #114
Claiming

[2017-02-26 10:55] akashnimare commented on #114
@jajodiaraghav do you want to work on this?

[2017-02-26 10:57] jajodiaraghav commented on #114
Yes. Will submit a PR soon!

[2017-02-26 10:58] akashnimare commented on #114
Awesome. Let me know if you need any help.

[2017-02-26 11:57] singh1114 commented on #114
This might be helpful.
@akashnimare, @jajodiaraghav
https://www.npmjs.com/package/is-online

[2017-02-26 20:37] timabbott commented on #114
@jajodiaraghav you can use `@zulipbot  claim` to claim an issue.

[2017-03-02 10:06] #114 closed

[2017-03-02 10:53] akashnimare opened #116 "Show an error message when the input server URL is null"

[2017-03-02 11:11] akashnimare commented on #106
@jajodiaraghav I forgot to close this. It's already fixed 😄

[2017-03-02 11:11] #106 closed

[2017-03-02 12:05] #116 closed

[2017-03-03 18:45] Lplenka commented on #78
@zulipbot claim , I have solved this issue , the switching b/w localhost & online servers also working fine...i am ready for a PR

[2017-03-04 09:59] Lplenka commented on #78
@akashnimare @timabbott  any comments ? IHope this fix helps

[2017-03-04 13:53] akashnimare commented on #78
WAIT on please! I'll see, once I get the chance.

On Mar 4, 2017 15:29, "Lalu Prasad Lenka" <notifications@github.com> wrote:

[2017-03-04 13:56] Lplenka commented on #78
Yes sure ! I was just curious about feedback , so that i could work further if needed.

[2017-03-04 15:43] geeeeeeeeek opened #120 "Error launching app using dev mode"
**Observation:**
- `Operating System`: macOS 10.12.1 (16B2555)
- `Clear steps to reproduce the issue`: `npm run dev`
- `npm version`: 4.1.2
- `node version`: v7.7.1
- `electron version`: v1.6.1
- `Relevant error messages and/or screenshots`:
![image](https://cloud.githubusercontent.com/assets/7262715/23579990/fd720fe0-0133-11e7-8101-ca74139b4495.png)

**Solution:**
According to an existed solution

[2017-03-04 16:11] geeeeeeeeek commented on #98
@antifuchs I cannot reproduce it on my Mac. Urls work well with tapping and control clicking.

@akashnimare Has this been fixed, and shall we close it?

[2017-03-04 16:58] geeeeeeeeek commented on #104
I've sent a PR to toggle the tray icon.

![screen shot 2017-03-05 at 12 53 01 am](https://cloud.githubusercontent.com/assets/7262715/23580520/8c411cde-013e-11e7-9f77-ce2ef7429191.png)

However, in the future, I think we should have a centralized Preference pane to collect all these settings. So that users won't bother to repeat these actions as they restart the app.

[2017-03-04 17:16] geeeeeeeeek commented on #82
What kind of tests are you looking for? Since our app is directly fetched from the web, there is only few things we can test on Electron, like testing if each menu item works.

[2017-03-04 19:28] timabbott commented on #82
Yeah I think the things I'd have automated tests for are:
* Areas we've had a lot of bugs, e.g. the handling of the server URL entered on the first screen would be a good candidate for this
* That the various menu items work
* Basic testing of any dependencies we've had trouble with.

And then maybe part 2 of this (which probably deserves its own issue) is that we should have a beta channel in the

[2017-03-04 19:44] timabbott commented on #104
Yeah, agreed, a centralized preference pane is a good model.

@geeeeeeeeek have you checked out the old/legacy desktop app that was written in QT/webkit available from https://chat.zulip.org/apps/?  It had a few menu items, which may be useful context for you in thinking about this.

[2017-03-05 00:36] geeeeeeeeek commented on #104
Didn't know there were a legacy app. I will look into that. But we are going to do the Preferences pane, there better be a ux designed.

[2017-03-05 03:34] timabbott commented on #3
@zulipbot claim
(testing)

[2017-03-05 03:35] timabbott commented on #3
@zulipbot claim (testing again)

[2017-03-05 03:36] timabbott commented on #3
success.

[2017-03-05 08:18] geeeeeeeeek commented on #104
@timabbott Electron does not provide a way to integrate a native Preference pane. We need to write a local web app (or web page) to do that. Maybe in another PR. I would suggest adding the option to the menu for now.

<img width="519" alt="screen shot 2017-03-05 at 4 14 16 pm" src="https://cloud.githubusercontent.com/assets/7262715/23585663/d2179604-01be-11e7-8911-c7c38fb1f091.png">

[2017-03-06 09:00] #78 closed

[2017-03-06 09:04] akashnimare commented on #120
@geeeeeeeeek thanks for reporting this bug.

[2017-03-06 09:04] #120 closed

[2017-03-06 09:38] akashnimare commented on #104
Make sense. Merged #122

[2017-03-06 09:38] #104 closed

[2017-03-06 09:54] akashnimare commented on #98
@geeeeeeeeek let's just wait and see if @antifuchs could reproduce this again.

[2017-03-06 10:02] akashnimare commented on #78
Fixed. Thanks @Lplenka 😄

[2017-03-06 10:05] akashnimare commented on #82
@timabbott specially **Spellchecker**.

[2017-03-06 10:09] Lplenka commented on #78
Thanks! @akashnimare  happy to contribute 😄 Will work on other issues

[2017-03-06 15:49] geeeeeeeeek commented on #82
I'll try to write a plan. And see what we can do on testing.

[2017-03-06 15:55] geeeeeeeeek commented on #1
@timabbott Claimed. I had the same idea for my `electronic-wechat`. This won't be easy to do and will take some time. Hope to get it done before 21 March.

[2017-03-06 17:53] akashnimare commented on #1
@geeeeeeeeek basically we want to add something like this -
<img src="https://raw.githubusercontent.com/Thomas101/wmail/master/.github/screenshot.png"/>
https://github.com/Thomas101/wmail
Let me know if you need any help in this.

[2017-03-06 18:14] akashnimare opened #123 "Add a webpage/popup for desktop app settings"
A dedicated webpage/popup would be great for all the settings. Something like -

<img src="https://thomas101.github.io/wmail/images/settings_1.png"/>
cc @timabbott @geeeeeeeeek

[2017-03-06 18:16] akashnimare commented on #104
Moving this discussion to https://github.com/zulip/zulip-electron/issues/123

[2017-03-06 18:48] Lplenka opened #124 "Server Errors(HTTP 5XX) not handled in UI"
Since today(06/03/2017) we witnessed the server(chat.zulip.org) was down
Currently in electron app there is no support to display 5XX HTTP status code i.e. server errors , so if server is down  currently it just shows a clueless blank screen.After around a minute this is shown
![screenshot from 2017-03-06 23-23-57](https://cloud.githubusercontent.com/assets/13533873/23624134/aba9250c-02ca-11e7-8fd

[2017-03-06 23:34] timabbott commented on #124
I think that's actually just what the website did as well at the time; this is what happens when a server is completely off the Internet unexpectedly.

[2017-03-07 01:47] Lplenka commented on #124
@timabbott  yes you are right , but in electron app this screen appears literally after a minute ,while in browser you can see the loading icon spinning , they atleast know something is wrong server side , but in electron app user is completely clueless for that span of time , I think we should add support in UI to handle this because our ultimate aim is a rich user experience by proper error hand

[2017-03-07 03:07] geeeeeeeeek commented on #123
Got it.

[2017-03-07 03:08] geeeeeeeeek commented on #1
Understand. Will have a try on the weekend.

[2017-03-07 05:04] timabbott commented on #124
Ahh, I see what you mean; yeah we should have some sort of loading indicator ...

[2017-03-07 05:30] Lplenka commented on #124
@timabbott I think we can handle this error by keeping a check on server response status code (especially 5XX errors)and adding a loading indicator.

I would like to work on this

@zulipbot claim

[2017-03-07 18:51] timabbott commented on #41
@vedantrathore sorry for the slow reply; there's now an easier way to test, which is to see whether the new drafts feature available on chat.zulip.org works.

[2017-03-07 18:52] timabbott commented on #35
I guess we should look into the Linux Mint tray icon issue here at some point?

[2017-03-08 13:45] vbNETonIce opened #125 "javascript error when moving app window"
---
Please include:
- `Operating System`
Windows 10 1604,
Electron desktop app 0.5.8,
Java 8 Update 121 installed

- `Clear steps to reproduce the issue`
click left and hold the window bar to move the window, move it for
- `Relevant error messages and/or screenshots`
![image](https://cloud.githubusercontent.com/assets/26190934/23706224/97fcfc56-040d-11e7-959d-2857f87790fe.png)

[2017-03-08 13:53] geeeeeeeeek commented on #125
Does it occur every time you do so? It looks like an upstream (electron) related bug to me. If it's clearly reproducible, I may dig into it on a Windows machine.

[2017-03-08 13:54] penCsharpener opened #126 "Add validation for custom/self-signed certificates"
Zulip 1.5.1 running on Ubuntu 16.04.2 in hyper-V
the ubuntu machine is called zulip with a self-signed certificate
the settings.py has as external_host = 'zulip'
we only use it internally without access from the outside of the LAN
in the browser https://zulip works or https://localipaddress
in the electron app however this doesn't work (nor with the IP)
![image](https://cloud.githubusercontent.com

[2017-03-08 13:57] vbNETonIce commented on #125
yes, it happens constantly. In fact it has never really works in the two weeks I wanted to try it.
The app is usable but only if you can live with the msg popping up whenever you want to move the window (with three screens this is challenging even for patient people ;-)

[2017-03-08 14:09] Lplenka commented on #126
@vbNETonIce  Can you give a screenshot of opening this "https://zulip" server in your browser , i wanted to know if this server you want to access is accessible in your browser or not. https in localhost is quite unlikely

[2017-03-08 14:13] vbNETonIce commented on #126
yes, it is accessible. I'm on a Win10 machine and use zulip that runs on the hyper-v VM with Ubuntu. It works in all browsers and also in the legacy app but not in the electron app.
![2017-03-08_15-12-15_chrome](https://cloud.githubusercontent.com/assets/26190934/23707218/d78911b2-0411-11e7-9b43-b46c0750bc1a.png)

[2017-03-08 14:38] Lplenka commented on #126
First thing-
Make sure your server is running locally when you are tyring to access it in elctron (i.e make sure it is running in your browser at the same time when you are accessing it in electron).

Second-
Please check if this file "zulip.ogg" exists in your server root directory in the following path
root_directory_of_your_server/static/audio/zulip.ogg

[2017-03-08 14:59] vbNETonIce commented on #126
sorry. I'm not sure where to look for the file
/root/static doesn't exist
/home/zulip/deployment/current doesn't show a path static either

[2017-03-08 15:12] Lplenka commented on #126
@vbNETonIce  open your zulip(server) folder in ur VM  and press `Ctl+ F` , in the search bar type `zulip.ogg` and tell the path in which it exists.

It must exist somewhere in that server folder , I am pretty sure

[2017-03-08 15:14] vbNETonIce commented on #126
Ctrl + F doesn't seem to work (I tried Kitty and VM Connection of Hyper-V)

[2017-03-08 15:16] vbNETonIce commented on #126
ah, locate did the trick
deployment/date and time/prod-static/serve/audio/zulip.ogg

[2017-03-08 15:27] Lplenka commented on #126
Great! @vbNETonIce
It will be easy to fix this
Hopefully you start your server in your terminal at `home/zulip/deployment` path , if not tell me the folder(or path) you `cd` to your terminal where you start your server

[2017-03-08 15:29] vbNETonIce commented on #126
I use the path from the zulip documentation
`/home/zulip/deployments/current/scripts/restart-server`

[2017-03-08 15:32] Lplenka commented on #126
Okay ! Thanks for informing
will fix this and ask for a PR
@zulipbot claim

[2017-03-08 16:31] Lplenka commented on #126
@vbNETonIce
so you have two `zulip.ogg` file

1-/home/zulip/deployment/date and time/prod-static/serve/audio/zulip.ogg
2-/home/zulip/prod-static/serve/audio/zulip.ogg

am i right?
Also,
In your terminal find in which you have run the server find this line
`==> default: Setting up mount entries for shared folders...
    default: /srv/zulip => Path
`
![serve](https://cloud.githubusercontent.com/asse

[2017-03-09 09:14] vbNETonIce commented on #126
strangely enough I have three `zulip.ogg` files now
[code]
but I don't understand your screenshot.
`/srv` has these folders in it
[code]

[2017-03-09 09:19] Lplenka commented on #126
@vbNETonIce  i wanted to know where your server points when you access `https://zulip` in your browser

Sadly I am facing some problem in installing the production server ,not able to reproduce this issue, hence asking you details

check after turning on the server if `https:zulip/prod-static/audo/zulip.ogg` opens or not (i.e you will hear an audio)

[2017-03-09 09:22] timabbott commented on #126
I think you actually want to test `https://zulip/static/audio/zulip.ogg` since Zulip rewrites the URLs.

[2017-03-09 09:25] vbNETonIce commented on #126
that, Tim's link worked. It's the drum-like sound when a msg comes in

[2017-03-09 09:26] Lplenka commented on #126
@vbNETonIce
`https://zulip/static/audio/zulip.ogg`
if this gives a drum-like sound then app should work because it's in the code

[2017-03-09 09:29] vbNETonIce commented on #126
nope, not working in version 0.5.8

[2017-03-09 09:47] sumedh123 opened #127 "Suggestion : Add a loader( kind of ) thing untill the things come up at the start of app."
---
Please include:
- `Operating System`
- `Clear steps to reproduce the issue`
- `Relevant error messages and/or screenshots`

When the app starts, nothing comes up untill the things are loaded. A loader will be good to indicate to improve UI/UX.

[2017-03-09 09:51] #127 closed

[2017-03-09 12:26] vbNETonIce commented on #125
here is something. check out [zulip chat on issue 126](https://chat.zulip.org/#narrow/stream/electron.20issues/topic/zulip-electron.20.2F.20Issue.20.23126.20internal.20server.20URL.20not.20suppo.2E.2E.2E)
got it somehow working as 0.5.8 but when I had the git-master 1.4.15 running the java error happened as well

[2017-03-10 07:20] akashnimare commented on #126
It's not working because of `self-signed certificate` and we currently don't support this. It's #2, #25. This feature will be added soon....

[2017-03-10 07:26] Lplenka commented on #126
@akashnimare Got it , I thought path of 'zulip.ogg' is creating problem.

[2017-03-10 07:53] akashnimare commented on #125
@geeeeeeeeek do you have access to windows 10 machine? Let me know if you can reproduce this.

[2017-03-10 13:24] Lplenka commented on #124
@akashnimare @timabbott a loader page is possible till the main window completely loads but
 I think it will need two windows one main window that will be hidden loading the web page server and the loader window will be visible till the main window loads compeletly.

[2017-03-16 18:03] Lplenka commented on #110
@akashnimare  @timabbott  I think the unread counts doesn't appear in tray icon of our electron app in none of the  OS not only windows

[2017-03-16 18:14] Lplenka commented on #110
@zulipbot claim

[2017-03-17 09:11] Lplenka commented on #126
I am working on it 😄

[2017-03-17 15:29] Lplenka commented on #124
@akashnimare  I have added a function which checks for server status code every time some one connects  or switches to a new server. If the server status is 5XX user gets the error dialog box informing about error, so he/she doesn't have to see a clueless white screen.

I think this much fixes this issue.
Any further suggestions are welcome

[2017-03-17 16:59] gautamchitnis commented on #123
Is anyone working on this issue currently?

[2017-03-17 17:52] Lplenka commented on #123
@gautamchitnis probably no one is working because it's not claimed yet and no comments since 11 days, you can claim it. Have a look at (this)[https://github.com/zulip/zulipbot/blob/master/README.md].

[2017-03-18 14:22] gautamchitnis commented on #123
@zulipbot claim

[2017-03-18 14:30] gautamchitnis commented on #123
I have setup a dev env and have claimed this issue. If I cannot come up with a solution in a day or so, I'll abandon the issue straight away.

[2017-03-20 07:01] #124 closed

[2017-03-21 08:30] geeeeeeeeek commented on #1
Update: There will a few changes to our current architecture.

1. [Front-End] For now we use `new-domain` to open a new window for one Zulip server. To support multiple servers, we will open a single-instance browser window (like the screenshot attached before). This should be a local webpage which contains a `WebView`. Each time the user switch to a new server, the webview will be redirected to a

[2017-03-21 08:47] Lplenka commented on #1
@geeeeeeeeek I wanted to work on this feature as a part of my GSoC Project. It would be nice if you could be here to guide me for this task during GSoC.

[2017-03-21 11:54] geeeeeeeeek commented on #1
@Lplenka Sure. I am working on the basic functionalities and sure there will be much to improve after.

[2017-03-21 12:13] Lplenka commented on #1
Thank you @geeeeeeeeek

[2017-03-21 16:54] gautamchitnis commented on #123
@zulipbot abandon

[2017-03-22 17:02] apollonian11 commented on #123
@zulipbot claim

[2017-03-23 05:09] Lplenka commented on #126
Will come back to this after completely solving another issue.
@zulipbot abandon

[2017-03-23 10:31] akashnimare commented on #41
✅  Confirming that local storage works in app.

![image](https://cloud.githubusercontent.com/assets/2263909/24243609/aec3d876-0fe1-11e7-8256-bad5b095e51d.png)

[2017-03-23 10:31] #41 closed

[2017-03-23 14:28] apollonian11 commented on #123
Currently, gear-icon in top-right corner is the only way to access settings. Will it be a good idea to remove that and add drop-down contents to the menu-bar before making any changes to the existing settings panel?

[2017-03-23 20:24] kazijehangir commented on #125
@zulipbot claim

[2017-03-24 19:16] IsaacChapman opened #132 "Allow disabling swipe gesture on OSX"
I view a lot of code snippets and/or other "wide" content in Zulip, and find its default behavior on OS X of window navigation when I use a two-finger swipe to scroll through content in the current window annoying. Enough so that I created the attached script to remove https://github.com/zulip/zulip-electron/blob/master/app/main/preload.js#L13-L14 from my local app when/if my local Zulip app is up

[2017-03-25 01:26] timabbott commented on #132
@akashnimare do you think we should make this a setting, or just remove that code for everyone?

[2017-03-25 14:06] akashnimare commented on #132
This is an experimental feature for macOS; if nobody seems to use it we could just remove it for now.

[2017-03-25 18:28] Lplenka commented on #110
I am working on it

[2017-03-26 02:07] synicalsyntax commented on #110
Hello @Lplenka, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something else

[2017-03-26 02:07] synicalsyntax commented on #123
Hello @apollonian11, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-26 02:07] synicalsyntax commented on #125
Hello @kazijehangir, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something

[2017-03-28 06:54] kazijehangir commented on #125
@zulipbot abandon

[2017-03-30 06:18] syncopated opened #133 "Build failing on OS X 10.12.4"
---
I'm able to run the app successfully via `npm start` but running `npm run dist` to build a .dmg fails.

OS: OS X 10.12.4
node.js version: 6.10.1
npm version: 3.10.10

Steps to reproduce:

1. clone repo
2. run `npm install`
3. run `npm run dist`

npm-debug.log:
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'run', 'dist' ]
2 info using npm@3.10.

[2017-03-30 20:33] #133 closed

[2017-03-30 20:35] akashnimare commented on #133
@syncopated thanks for opening this issue :)
I have pushed a fix, could you please try again on master?

[2017-03-30 20:51] syncopated commented on #133
@akashnimare your fix worked. I ran `npm run dist` and it built the .dmg successfully. Thanks!

[2017-03-30 20:52] akashnimare commented on #133
Yayyyy 🎉

[2017-03-31 16:17] Lplenka commented on #125
Just installed app in windows,I witnessed the same error now. The app freezes completely. Looking for the error now.

[2017-04-01 17:33] akashnimare commented on #125
I'm not able to reproduce this bug on my windows 10 machine. This issue is related with some kind of permission issue (since we're creating a file in user's directory).

[2017-04-01 17:34] akashnimare commented on #125
@Lplenka do you see above error on `npm start` ?

[2017-04-01 17:37] akashnimare commented on #132
Okay, removing this experimental feature for now. Will make it optional once we have the centralized preference settings .

[2017-04-01 17:38] Lplenka commented on #125
No not on `npm start`.
Rather when the config object is changed in main process.
It is caused because of the way we are storing data in system i.e. `configstore` npm package.

Like on resize or moving the window, we are actually changing the config data in `.config` folder of windows.Which is not permitted there.

[2017-04-01 18:01] akashnimare commented on #125
I have pushed a fix. @Lplenka, @vbNETonIce could you please cross verify if it works?

[2017-04-01 18:02] Lplenka commented on #125
Will have a look as soon as possible.

[2017-04-01 18:24] #132 closed

[2017-04-02 04:33] Lplenka commented on #125
@akashnimare  App working fine now 👍

[2017-04-03 19:19] akashnimare commented on #125
Closing. Feel free to reopen if still occurs.

[2017-04-03 19:19] #125 closed

[2017-04-03 19:36] akashnimare commented on #16
Windows 7 notification will be implemented once this PR gets merged

https://github.com/electron/brightray/pull/279 🙇

[2017-04-04 19:22] brainwane opened #135 "Change install instructions: Ubuntu/Debian users shouldn't install nodejs-legacy"
I'm on Linux Mint 18 ("Sarah") (based on Ubuntu Xenial). I installed `nodejs-legacy` per the README instructions, through my usual package manager. When I run `nodejs --version` I see I'm on v4.2.6. We require node >= v6.3.1. We need to give people instructions for installing Node.js & npm that won't give them old versions of Node.

[2017-04-04 19:23] timabbott commented on #135
Yeah, we should just recommend using nvm (or really, script using it) as part of the installer.

There's some code in `tools/install-node` in zulip.git we may be able to reuse.

Almost nobody has a modern node/npm shipped with their distro.

[2017-04-05 14:22] akashnimare commented on #135
I have just pointed to nvm repo to install nodejs. Is it good enough or we should write it in details like-

For the most recent LTS (the 6.x.x branch), use:
[code]
The PPA will be added to your configuration and your local package cache will be updated automatically. After running the setup script from nodesource, you can install the Node.js package :
[code]

[2017-04-05 20:01] timabbott commented on #135
I think we should update the installation instructions (or provide a script) that Just Works, so that installing is super easy for folks who want to test out the development version.

I'm not sold on the PPA approach, though, since users might be relying on a specific version of the system node, whereas with NVM, we can avoid disrupting users' existing setup.

[2017-04-09 04:26] Lplenka commented on #126
@akashnimare I just removed the part of the code in `domain.js` that checked the presence of `zulip.ogg` in static folder.

[code]

And our app opened the `https://localhost` production server.

![screenshot](https://cloud.githubusercontent.com/assets/13533873/24834687/8fc77140-1d0a-11e7-8f2e-c9546c0ec303.png)

Can you please try to replicate this in your system?

[2017-04-12 03:44] akashnimare commented on #126
Do you see `zulip.ogg` file at `https://localhost/static/audio/zulip.ogg` ?

[2017-04-12 03:56] Lplenka commented on #126
Now I checked if I can access the `zulip.ogg` file in the browser or not.
It is accessible.

![zulipogg](https://cloud.githubusercontent.com/assets/13533873/24940626/dd7bba28-1f61-11e7-82de-bf7824ac9c15.png)

[2017-04-12 04:09] Lplenka commented on #126
Got it, The request we send to check the presence of `zulip.ogg` fails because of certificate error.
If we don't check the presence of `zulip.ogg` the app loads the server somehow and everything works well after that but also throws a certificate error in the terminal :thinking: .

[2017-04-12 05:41] timabbott commented on #126
I think we should just make the logic conditional on the nature of the failure.  If zulip.ogg 404s, or DNS doesn't resolve, that means it's clearly not a Zulip server.  If we get some other form of issue, such as a certificate error, we presumably want to present the certificate error to the user, so they can decide if they still want to connect.

[2017-04-12 06:33] Lplenka commented on #126
Seems like the best solution, Will work on this

[2017-04-13 19:25] brockwhittaker opened #138 "Remove unecessary lint rules and fix errors."
There are currently 25 errors in production:

[code]

Some of these like the:

[code]

and

[code]

Are reasonable to fix. I think it should not enforce:

[code]

Since there are a multitude of reasons why comments should not be capitalized in the start (e.g. starting lowercase pronoun, method, variable, etc.)

[2017-04-13 23:04] akashnimare commented on #138
These errors popped up recently since `xo` got updated and enforced few new rules.
https://github.com/sindresorhus/xo/releases/tag/v0.18.0

[2017-04-13 23:11] timabbott commented on #138
Are we not pinning versions of dependencies and upgrading manually?  That's usually a good way to avoid things randomly breaking like this.

[2017-04-13 23:15] akashnimare commented on #138
For app's dependencies, I'm using the exact known working version for all the modules. I guess I have to do the same for devDependencies as well.

[2017-04-13 23:34] akashnimare commented on #138
Fixed in https://github.com/zulip/zulip-electron/commit/d9b1d45e0e49238e3a21a4a62675a7200e68ad22.

[2017-04-13 23:34] #138 closed

[2017-04-17 18:56] #110 closed

[2017-04-17 23:29] akashnimare commented on #126
I have pushed a fix. @Lplenka can you test it? As of now, I don't have access to Linux machine so I can't verify this.

[2017-04-18 02:11] Lplenka commented on #126
@akashnimare will verify as soon as I get time amidst exams :sweat_smile:

[2017-04-18 14:43] Lplenka commented on #126
Currently, I am getting this error in my Ubuntu 16.04.2  VM :confused: which was not there earlier.

![error](https://cloud.githubusercontent.com/assets/13533873/25136518/df07074c-2472-11e7-9b4f-2723fac3d132.png)

I am not getting this error in my Linux Mint though.

[2017-04-19 23:46] akashnimare opened #139 "Error: Module version mismatch. Expected 48, got 50"
We are using few native node modules so you might get above error while running `npm install` or `npm start`. Here are few solutions you should try to fix it -

## Solution - 1
* Remove node_modules directory completely
  * `rm -rf node_modules && rm -rf app/node_modules`
* Please ensure that you don't use sudo.
* npm cache clean
* npm install

## Solution 2

[2017-04-19 23:46] #139 closed

[2017-04-19 23:51] akashnimare commented on #126
@Lplenka please see #139

[2017-04-20 18:31] Lplenka commented on #126
Thanks! It worked.

This fix doesn't work because in `domain.js` `zulip.ogg` check fails because of certificate error. The URL is not sent to Main process from `domain.js` until `zulip.ogg` check is successful. So we have to deal with the error there too.

I will work on this issue :smile: . Have some ideas that can successfully solve this.
@zulipbot claim

[2017-04-21 14:22] akashnimare commented on #25
Moving this to #126

[2017-04-21 14:22] #25 closed

[2017-04-21 16:49] Lplenka commented on #1
@timabbott  @akashnimare
 This issue is first phase of GSoC proposal. Forgot to gave a link to my proposal prototype earlier here.
[https://github.com/Lplenka/zulip-electron/tree/Multiple_Server](https://github.com/Lplenka/zulip-electron/tree/Multiple_Server)
Will work on this issue more thoroughly and improve minute UI and backend requirements in summer.

[2017-04-24 22:38] fedeisas opened #142 "Private messages with many participants *breaks* UI"
Hi there! I'm using Zulip 0.5.2 on OSX. Someone created two Private Messages with 20+ participants each and now I can't scroll to see the rest of my private messages.

I think the easiest solution is to trim the number of characters in the private messages.

**The red boxes are my private messages.**

![image](https://cloud.githubusercontent.com/assets/251675/25361569/f3cf10e4-291c-11e7-92e7-ca8c6

[2017-04-24 23:15] timabbott commented on #142
This is a duplicate of https://github.com/zulip/zulip/issues/1991

[2017-04-24 23:15] #142 closed

[2017-04-26 00:04] timabbott opened #143 "Improve handling of coming back online with the desktop app"
With the webapp, there are rare cases where we end up reloading automatically and ending up in a broken app state (see zulip/zulip#4423).  The webapp code around this is in `static/js/reload.js`.

However, with the desktop app, we can do a better trigger off of coming back online.

See https://github.com/zulip/zulip/issues/4423#issuecomment-295125662 for some helpful commentary  from @glyph on how

[2017-04-26 06:10] Lplenka commented on #143
I went through the comments in issue[zulip/zulip#4423](https://github.com/zulip/zulip/issues/4423) . Seems like we can improve on this issue.

Currently Scenario-
 1-When I come online after laptop was in sleep, I see this which is beautifully handled in webapp.

![connectivity_error](https://cloud.githubusercontent.com/assets/13533873/25420034/b6bb1cd6-2a73-11e7-9919-48aaca8fa5f9.jpg)

2-If no in

[2017-04-27 18:48] akashnimare commented on #143
Current situation -
* When there is no internet connection standard error will be shown just like the webapp -

![image](https://cloud.githubusercontent.com/assets/2263909/25498822/0e5c1128-2ba7-11e7-897a-0976fc08db6f.png)

If you reload the window, desktop app will throw an error -

![image](https://cloud.githubusercontent.com/assets/2263909/25498926/596c872e-2ba7-11e7-959f-19b161a4fce9.png)

Jus

[2017-04-27 18:59] Lplenka commented on #143
Okay, understood. Looking for possible APIs to handle this. :smile:

[2017-04-27 21:21] Lplenka commented on #2
@akashnimare  I think this issue is also solved in PR [#141](https://github.com/zulip/zulip-electron/pull/141)

[2017-04-27 21:28] akashnimare commented on #126
Self-signed/custom certificate support has been added in https://github.com/zulip/zulip-electron/commit/3dade768a750a9d0c08763ec6d9f347040f6807f + PR #141 . If possible could you guys verify if it works? Just pull the latest master :smile:
cc @vbNETonIce, @timapril, @steele, @mgrabow1
#### Note - Support for selecting appropriate certificate from keychain will be added soon (just like chrome).

[2017-04-28 17:09] timabbott opened #145 "Provide reliable script for installing in development."
I got this error today when trying to build the Electron app today on Ubuntu Xenial with node 6.6.0.  Was fixable for me via `apt-get install libxkbfile-dev`, but that's not in our install instructions.

[code]

[2017-05-01 19:02] Lplenka commented on #145
@timabbott  I think you missed this in the installation instructions, see the dependencies for Ubuntu.
[https://github.com/zulip/zulip-electron#prerequisites](https://github.com/zulip/zulip-electron#prerequisites).

There is one missing instruction for windows. Will add that asap. :smile:

[2017-05-01 19:23] timabbott commented on #145
Ahh, yeah, I think we should probably scriptify the instructions so they're a bit more bullet-proof.  Ideally, there should be a single command you need to run after changing branches to get the latest dependencies and code.

(As a sidenote, I don't think it totally makes sense to separate the deps between the `apt` ones and the `npm install` ones in the instructions; I think that's why I missed t

[2017-05-01 19:26] Lplenka commented on #145
@timabbott yes, I am going for PR after adding instruction about Windows. That instruction is must need for Windows or else it never works. You can suggest me the changes then and we will finalize installation instructions in that PR.

[2017-05-03 10:18] Lplenka commented on #143
Found an API we can use here, [power-moniter] (https://github.com/electron/electron/blob/master/docs/api/power-monitor.md) will help us to handle sleep and resume events.
Will work on this.

@zulipbot claim

[2017-05-05 09:38] vbNETonIce commented on #126
I can confirm that it does. Thanks a lot for your work!

[2017-05-16 07:12] vbNETonIce opened #148 "offline Windows installer"
Some antivirus software blocks installers that download stuff. That's what we experienced with the web installer.

Could there also be an offline installer?

Q: Can one just copy the installation folder to other machines and it will still run fine there (bypassing the installer altogether)? Then I would create a 7z executable with the installation directory.

[2017-05-18 18:14] vbNETonIce opened #149 "bug in Win 0.5.10: on sys tray quit"
When I right click the system tray icon and then quit I get this error. Sometimes I have to quit twice before it appears. After that the app is unresponsive and can only be killed with task manager.

![JavaScript error occurred in the main process](https://cloud.githubusercontent.com/assets/26190934/26217061/6d352562-3c06-11e7-828f-b5b0a52cb60f.png)

and I have the zulip app as 5 processes (plus o

[2017-05-22 20:10] Shayan-To opened #150 "Cannot connect to server by IP address"
I don't have a domain for my server, but I have valid certificates and Chrome connects to it with no problem. At the first run of the app, when I enter the IP address of my server and click "Connect", it says "Not a valid Zulip server". And I checked developer tools, it even does not send a request to the server. I think the error comes from validation of the domain name of the server. And I could

[2017-05-23 19:32] akashnimare opened #152 "Load icons locally"
For some reason, material icons are not working properly.

![error](https://cloud.githubusercontent.com/assets/2263909/26372630/6dfea62a-3fb3-11e7-8733-91fc4376cc26.png)

Instead of loading it from a CDN, we should download similar icons'png and load it locally.

cc @geeeeeeeeek

[2017-05-25 22:43] akashnimare opened #157 "Improve Internet disconnectivity error page"
someone reported this issue -

![image](https://cloud.githubusercontent.com/assets/2263909/26474317/280d82f4-4165-11e7-808b-42f3e9c7ce8c.png)

[2017-05-26 23:54] jamak opened #158 "Hidden pop-up is focused in background on context switch"
on OSX,  on ⌘-tab switch back into the electron app, a hidden window (I assume the settings pop-up?) is focused. In the browser, when you return to the tab, the home stream is focused. This is as of f6358a0 .

To reproduce:
* open zulip-electron
* switch to another application
* switch back to zulip-electron

[2017-05-28 09:27] #152 closed

[2017-05-28 13:54] #158 closed

[2017-05-29 05:46] timabbott opened #160 "Zulip should stay in the system tray on close on Windows 10"
I got the following report from a user switching from the old desktop app to the new one:

Since this is a regression from the old app that we want to kill, I'm giving this relatively high priority.

[2017-05-30 13:27] geeeeeeeeek opened #163 "Use local icons for servers"
- Load default icon from local.
 - Download the icon of entered zulip server and load it from there instead of loading from a URL.

[2017-05-30 21:30] glyph opened #164 "links sometimes open within Zulip app, should open in desktop browser"
- Operating System:
[code]
- App: version 0.5.10
- Just type a link, like https://google.com/, then click on it
- It opens in a window of the Zulip app (which is possibly a [terrifying security problem](https://github.com/electron/electron/blob/master/docs/api/sandbox-option.md)?) rather than in the selected preferred browser application (in my case, Safari).

[2017-06-01 15:33] vbNETonIce opened #167 "improvement: Windows taskbar icon notification like Skype"
In windows the sys tray icon is too often hidden at the moment, and the number of unread msgs is tiny.

The legacy had this wonderful number in the taskbar icon. Please add this also in Electron app because in a multi-monitor setup we miss a lot of message due to this.

[2017-06-04 07:41] geeeeeeeeek opened #169 "Fix window hide and quit logic"
![screen shot 2017-06-04 at 3 37 40 pm](https://cloud.githubusercontent.com/assets/7262715/26759800/c297487c-493b-11e7-8f6b-f5592fb2b8ce.png)

App's hide and quit logic was not properly handled. Attempts to call a function in a renderer window that has been closed or released. The bug can be reproduced on macOS 10.12.5, with Zulip-Electron 0.5.10 (a most recent release).

[2017-06-08 14:40] GervaisdeM opened #170 "No Notifications at all"
Notifications in the electron app have completely stopped appearing. I have verified notification setting in my Zulip preferences and at the OS level and they should be coming through.

They still work from Safari and this is currently, my work-around (Safari is running logged in as well as the electron app).

---
Please include:
- OS: `macOS Sierra 10.12.6 (beta)`
- npm: `v5.0.1`
- node: `v8.0.0`

[2017-06-09 15:24] #170 closed

[2017-06-10 10:21] #143 closed

[2017-06-10 10:34] #16 closed

[2017-06-11 16:02] akashnimare opened #172 "set user-agent properly"

[2017-06-11 16:48] #108 closed

[2017-06-11 17:05] SimplyAhmazing opened #173 ""Use Beta App""
There should be a drop down menu allowing a user to use the Electron app in a beta mode. This will allow us to release beta versions of the app to a fraction of the user base (those with beta app mode enabled) in order to have them act as a test population for app changes and updates. Partial rollout is the most ideal way to test new features and changes.

[2017-06-11 17:08] #35 closed

[2017-06-12 09:31] #172 closed

[2017-06-13 04:54] #4 closed

[2017-06-13 18:17] keturn opened #176 "Unsupported texture format"
Getting a bunch of this in the console:

[code]

OS X Sierra 10.12.5 (16F73)

[2017-06-14 19:05] keturn opened #177 "unread status-menu indicator is not updated"
On OS X, the unread indicator in the menu bar is often incorrect.

Screenshot, where I believe I have no unread messages in non-muted channels, but the indicator says 9:

![zulip-electron-unread-counter](https://user-images.githubusercontent.com/83819/27149740-75448452-50f9-11e7-92a2-54932a7d3fde.png)

The indicator also does not update when I click **Home** to view all messages and scroll to the

[2017-06-15 14:26] WPTechnician opened #178 ""Can't connect with the client" errors are confusing when cause is invalid cert chain"
I am running Windows 10 Professional as a client.  When I run the client I am getting the message, "Not a valid Zulip server".  I can log in to Zulip through a browser without issue.  The SSL cert is not self-signed.  I am not sure where to go from here.

Thanks!

---
Please include:
- `Operating System`
- `Clear steps to reproduce the issue`
- `Relevant error messages and/or screenshots`

[2017-06-16 16:22] #169 closed

[2017-06-17 13:12] #135 closed

[2017-06-17 13:21] #1 closed

[2017-06-19 21:33] akashnimare opened #181 "server icon path error [Windows]"
On Windows system, the default server icon is not showing up due to the [path error](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/utils/domain-util.js#L9).

![image](https://user-images.githubusercontent.com/2263909/27306852-ec665870-5564-11e7-8dfd-c4c88a22400b.png)

[2017-06-20 09:18] akashnimare opened #182 "Desktop notification is not working [Windows 10]"

[2017-06-20 09:46] akashnimare opened #183 "MainWindow is not focused on clicking tray context menus"
---
- `Operating System` -

Linux + Windows

- `Clear steps to reproduce the issue`

When you close the main window and click on tray menus such as About, Manage Zulip servers;  Windows does not get focused. Probably we need to send a focus event first.

[2017-06-20 09:50] #183 closed

[2017-06-20 14:10] #182 closed

[2017-06-21 11:14] #160 closed

[2017-06-21 13:55] #157 closed

[2017-06-21 14:25] akashnimare opened #185 "Error: Cannot find module '../power-monitor'"
A user reported this bug -

The error really could be due to my crumby vm, but here it is:

![image](https://user-images.githubusercontent.com/2263909/27389251-79d85ae4-56bb-11e7-8ece-1856ad9f0653.png)

[2017-06-21 17:38] ehues opened #186 "Can't turn off notification sound on osx"
I can't turn off notification sounds for stream messages. I have audible notifications disabled In my user settings and on the stream settings, but I still get an audio alert when the OSX notification bubble appears.

User settings:
![screen shot 2017-06-21 at 1 31 21 pm](https://user-images.githubusercontent.com/4691994/27397964-25a13624-5686-11e7-954a-73c5281d4895.png)

Stream settings
![screen

[2017-06-21 18:13] versipellis opened #187 "Unable to Minimize to System Tray"
Win 7 Enterprise. There doesn't seem to be an option to minimize to system tray, even with the system tray icon enabled. X'ing out of it closes the app entirely, which is quite different from my expectations coming from Discord and Slack.

[2017-06-21 19:24] #185 closed

[2017-06-21 19:46] #187 closed

[2017-06-23 21:31] akashnimare opened #188 "close settings bug"
A user reported this -

If you close the settings tab while on a different tab, any tab that isn't the first zulip server, then you get a split view of the first zulip server and the tab that you were on.

![close_settings_bug](https://user-images.githubusercontent.com/2263909/27501178-55c1597e-5889-11e7-8e01-bc3d76b4edfd.gif)

[2017-06-28 15:48] #188 closed

[2017-06-28 15:58] #177 closed

[2017-06-28 16:05] #149 closed

[2017-07-01 06:46] akashnimare opened #191 "Multiple tray icons on reload"
![screen shot 2017-07-01 at 12 13 13 pm](https://user-images.githubusercontent.com/2263909/27759797-ee9531ca-5e56-11e7-99e0-2fc4347af26c.png)

[2017-07-01 06:53] #191 closed

[2017-07-02 18:46] akashnimare opened #192 "Add more options in settings page"
@geeeeeeeeek already added settings framework in - https://github.com/zulip/zulip-electron/commit/47cfe86a06d30bf09754d0f7739e741e9041de52. Few more settings we need to add -
- [x] Show/hide desktop notification
- [ ] <strike>Disable/enable spellchecking</strike>
- [x] Show app unread badge
- [ ] <strike> Show unread count in tray </strike>
- [x] Auto launch
- [x] Play notification sound
- [x] Cle

[2017-07-04 15:32] #123 closed

[2017-07-05 16:56] shane-kearns opened #198 "Add a configuration option for connecting through an HTTP proxy"
Some users want to connect from a machine in one network to a zulip server on another network where direct connections are not possible and all traffic must go via an HTTP proxy.
e.g. client on a corporate network, server on the public internet.

Transparent / intercepting proxies require no configuration on the client, but lots of organizations still use traditional HTTP proxies. The CONNECT meth

[2017-07-07 16:00] akashnimare opened #199 "Desktop notifications not working on Windows 8"

[2017-07-07 16:40] #2 closed

[2017-07-07 16:43] #98 closed

[2017-07-07 17:16] #44 closed

[2017-07-07 23:13] #199 closed

[2017-07-10 19:51] vbNETonIce opened #203 "enhancement: ability to view /stats, /integrations, /about pages in the app"
would be nice to have those links below show up directly in the app but then we also need a working 'go back' to home button

https://chat.zulip.org/stats
/integrations
/about
pages in the app

[2017-07-11 21:28] #163 closed

[2017-07-12 19:32] #186 closed

[2017-07-12 19:37] #150 closed

[2017-07-12 20:07] jrowan opened #204 "Viewing /help page from within app is confusing"
When I visited the /help page for keyboard shortcuts within the app, I thought I was trapped for a while and ended up getting out in a very non-intuitive way by clicking log in in the upper right hand corner of that chat page (even though I was already logged in).

Steps to reproduce:

1. hit `?` to open the keyboard shortcuts help modal
2. click the "detailed keyboard shortcuts documentation" lin

[2017-07-12 20:49] vbNETonIce opened #205 "improvement: let users choose into which path they install the app"
This is about the installer.

Currently the app installs automatically into `%programfiles%`. This folder requires elevated rights. Maybe the user or admin prefers a folder without elevated right to perform script-based updates.

Can this be added to the installer or at least a radio button option to install it either there or into `%appdata%\Zulip`?

[2017-07-12 21:13] gnprice opened #207 "Reload/refresh button should have a tooltip"
In the lower left, just above a gear icon, there's a circle-arrow "reload" icon. It's not obvious just what that's supposed to do; if nothing else, it should have a short tooltip.

On clicking it, it appears to reload the webview. That seems like something the user shouldn't have to do -- if they do that and it helps them, whatever issue it was resolving for them was a bug. And at least in a brows

[2017-07-12 21:19] gnprice opened #208 "Add back button"
In a browser, I find hitting alt-left (the keyboard shortcut for the back button) super handy and do it all the time.

We should have a back button (and maybe a forward button? but not sure where to put it), and also the hotkeys alt-left/right to go back and forward. Or Cmd-left/right, or whatever the appropriate thing is per platform.

[2017-07-12 21:30] gnprice opened #209 "Home view suddenly marks all as read"
I'm on Linux with the 1.2.0 beta, which I just installed a few minutes ago.

I'm not sure exactly what just happened, but here's my best reconstruction:
* I opened the app for the first time. At that time I had maybe a few dozen unread messages, having just sat down after an hour afk.
* I narrowed to the `#electron` stream for discussion, and read and sent a bunch of messages there, navigating bet

[2017-07-12 21:35] vbNETonIce opened #210 "selected server highlighting, remove ^ and replace with low contrast Ctrl"
* current look is very Slack-like
* select server highlighted with a change in background colour
* remove ^ and replace with `Ctrl +` because few know that `^` stands for
@timabbott suggest something with a background change

here an attempt to capture that thought
![image](https://user-images.githubusercontent.com/26190934/28140880-8019ae62-675a-11e7-85c1-10a416a7d14f.png)

[2017-07-12 22:08] jrowan opened #211 ""Mandatory" URL and server name fields not enforced"
(Version 1.2.0-beta on Windows 10)

Other than the certificate warning, Zulip isn't trying to stop me (e.g. with a "Error: please enter a valid URL" message) when I try to create a server without a URL (or a server name).

Steps to reproduce:
1. Go to the servers page on settings and click "add a new server"
2. Do not fill in any of the fields, just hit "Save"
3. When the following warning shows u

[2017-07-12 22:47] aero31aero opened #212 "Forced focus regain on reconnecting to the server"
When the user disconnects from the internet and reconnects, the app regains focus, even causing a workspace switch. I believe the reconnection to the server triggers this.

OS: Elementary OS 0.4 (Ubuntu 16.04)
Steps to reproduce: Focus another window. Disable networking. Enable networking. Wait.
Expected incorrect behavior: Zulip Desktop app automatically regains focus.
Expected behavior: Nothing/

[2017-07-13 00:03] gnprice opened #213 "Constant large CPU use"
I'm running 1.2.0-beta on Linux.

The app is burning a surprising amount of CPU -- when nothing in particular is happening, it's about 35-40% of a core for a `zulip --type=gpu-process` process, and another 25-30% for a `zulip --type=renderer` process. Plus 20-25% for my gnome-shell, which in my experience is usually triggered by a browser tab or some other app doing a lot of work, so that's roughl

[2017-07-13 16:34] #211 closed

[2017-07-13 16:42] akashnimare opened #214 "Fetch server details using zulip api"
![image](https://user-images.githubusercontent.com/2263909/28177191-a3d0fb7c-6817-11e7-9559-530272b0a328.png)

* Make the `Name` field optional and fetch it from the server.

[2017-07-14 01:30] #205 closed

[2017-07-14 12:23] vbNETonIce opened #216 "On activating Window 2 click needed to write into compose box [Linux/Windows]"
when the Zulip desktop app is inactive and I click into the compose box with the mouse then it only activates the Windows. I have to click a second time to get the cursor into the compose box and start typing.

[code]

[2017-07-15 00:50] #203 closed

[2017-07-17 07:12] fragm3 opened #217 "Error while running dev"
Operating system: Unix

When I run _**npm run dev**_, the following error comes:

<img width="1128" alt="screen shot 2017-07-17 at 12 38 23 pm" src="https://user-images.githubusercontent.com/18073126/28258141-3f44ba44-6aed-11e7-9c41-7e8ef2c71f1a.png">

[2017-07-18 09:41] #212 closed

[2017-07-18 14:00] vbNETonIce opened #220 "default installation path"
before the #205 Zulip installed itself into `C:\Program Files\Zulip` but now it's `C:\Program Files (x86)\Zulip`
can that be changed back please as most current users have it on the one location already and this will only lead to Zulip being installed twice.

on Win10 you have to install one from the new settings menu (apps and programs) and the other from the old control panel > programs and feat

[2017-07-18 17:27] catxeger opened #222 "Hide/Toggle left sidebar"
(recreated in the correct project, per:  https://github.com/zulip/zulip/issues/5821)

Adding the left-side configuration bar results in the electron 1.2.0 client being exceedingly wide -- and the width can't be adjusted without hiding the user list.

Is it possible to make the width of the user list adjustable (streams also would be nice!), so it's possible to reduce the overall width of the clien

[2017-07-18 18:33] #207 closed

[2017-07-19 17:43] #217 closed

[2017-07-19 19:46] #176 closed

[2017-07-19 21:19] uri opened #224 "No hover info on emojis or reactions"
- `macOS Sierra 10.12.1`
- Add a reaction and hover over it.
- Hover should show who reacted and the emoji name like it does in the browser.

[2017-07-19 21:29] #209 closed

[2017-07-21 10:33] #167 closed

[2017-07-21 13:19] penCsharpener opened #231 "bug: app Window opens beyond screen boundaries"
Had this twice now that Zulip opened on a PC but was not visible. Figured out that window positions where saved that cause the app to start beyond the screen resolution.

- OS: `Windows10`
- reproduce: close Zulip, in `%appdata%\Zulip\config.json` make x more negative than width is positive

for non techy users this could be a killer because even if your uninstall Zulip the appdata folder remains

[2017-07-21 19:29] fragm3 opened #232 "Bug in text formatting"
OS: macOS 10.12.5

When formatting text(italics, bold, etc),  if I click anywhere in the blue highlighted box, the typed message gets deleted.
<img width="939" alt="screen shot 2017-07-22 at 12 58 17 am" src="https://user-images.githubusercontent.com/18073126/28479187-f04db7d0-6e78-11e7-8571-ef1229d2701d.png">
---
Please include:
- `Operating System`
- `Clear steps to reproduce the issue`
- `Relev

[2017-07-21 20:04] #232 closed

[2017-07-22 19:04] vbNETonIce commented on #231
will do but I won't be able tuntil Monday. I'll let you know then.

[2017-07-25 18:03] #224 closed

[2017-07-26 18:20] #210 closed

[2017-07-26 18:37] #222 closed

[2017-07-28 09:42] #204 closed

[2017-07-31 18:28] #181 closed

[2017-07-31 18:32] #214 closed

[2017-08-01 20:47] timabbott opened #242 "Performance issue on Linux when closing keyboard shortcuts overlay"
In the app on Linux (current master), I can reliably reproduce hitting `?` working fine, but then hitting then `escape` to close the keyboard shortcuts modal is really slow; it feels like it takes like half a second.

Here's a profile obtained using the developer tools:
![image](https://user-images.githubusercontent.com/2746074/28846203-6e9aa0aa-76bf-11e7-9425-4add03013bf1.png)

Since the issue do

[2017-08-01 20:50] timabbott opened #243 "Settings gear icon in left sidebar appears when you enter the settings page."
On Linux, I encountered this issue, where the gear ended up being added like a server near the top:

![image](https://user-images.githubusercontent.com/2746074/28846401-21f3ae58-76c0-11e7-9008-2a684a1c8ad3.png)

Reproducer:
* Click on the settings gear.  It should highlight the icon at the bottom, not add a duplicate that's highlighted.

[2017-08-01 20:57] timabbott opened #244 "Do another pass of revising the "About" page for the desktop app."
Here's what it currently looks like:

![image](https://user-images.githubusercontent.com/2746074/28846600-e81af384-76c0-11e7-9c24-95c7ef1076f7.png)

@rishig @brockwhittaker we should talk about what should go on this page and make a design.  I think probably 3 segments make sense:
* About Zulip -- probably just a link to zulipchat.com and/or zulipchat.com/about
* About the app -- probably just a n

[2017-08-01 21:01] timabbott opened #245 "No easy way to select a server after hidding the sidebar"
If you hide the server switch sidebar, on the settings page, there's no obvious way to get back to seeing your single Zulip server's UI.  It turns out you can do it with `ctrl-1`, but that's really not obvious.

Some ideas for fixing:
* The "Servers" section of the settings page should let you jump to that server, maybe be clicking on the icon or something.
* We should list the servers you have se

[2017-08-01 21:08] timabbott opened #246 "Make capitalization in menus consistent"
Capitalization is inconsistent in the File/Edit/etc. menus; we should probably be consistently using the "Keyboard shortcuts" style of capitalization that we use throughout the app.  So e.g. "Hard Reload" should become "Hard reload"

[2017-08-01 21:08] timabbott opened #247 "Some menu items on Linux are weird or don't work"
Specifically at least these are broken:
* Keyboard shortcuts / ctrl-K (neither hotkey nor menu does anything)
* "Clear cache" does this ugly thing:

![image](https://user-images.githubusercontent.com/2746074/28846867-e9454d12-76c1-11e7-82b1-dfbb1a634410.png)
does it so something useful as well or is it just weird?
* "Full screen" has no easy way to get out if you went there by clicking the menu it

[2017-08-01 21:14] timabbott opened #248 "Update realm icon and name from server configuration on app startup"
I just tested changing the icon for an organization and then restarting the desktop app, and it still has the original icon from when I connected.  We should make the app check with the servers on startup (and maybe also every 24hr or something?) for `/server_settings`, and adjust the icon and realm name accordingly.

(We still want the caching that we have to have a good experience when opening t

[2017-08-01 21:16] timabbott opened #249 "Weird size flicker when opening the app or an existing Zulip organization"
If you close the app and then re-open it, and then click on a busy organization like chat.zulip.org, there's a brief flicker as it loads the page where the right-side window area is super small, like this:

![image](https://user-images.githubusercontent.com/2746074/28847394-ea1b6f9e-76c3-11e7-9752-5382ce45800c.png)

It'd be awesome to get rid of this, since it doesn't look super good.

[2017-08-01 21:19] timabbott opened #250 "Linux tray icon should probably include Zulip logo even with unread messages"
I think it could be worth modifying this icon to look more like the Zulip favicons, with the unread count in the corner over a clear Zulip logo:

![image](https://user-images.githubusercontent.com/2746074/28847499-4d5c268e-76c4-11e7-890a-27316ec1dbea.png)

[2017-08-01 21:20] timabbott opened #251 "Focus doesn't work properly on Linux/Windows"
On Ubuntu 16.04, with the master branch, if you alt-tab to the window, you need to click into the window in order for any of our keyboard shortcuts to work, which is pretty annoying.

[2017-08-01 21:31] timabbott opened #253 "ctrl-C on zulip-electron-launcher doesn't close the app on Linux"
When developing, my debug cycle involves frequently rerunning `zulip-electron-launcher`, using ctrl-C to stop it, and then starting it again.  Right now, on Linux, it doesn't actually stop immediately.

It seems worth making it the case that ctrl-C will kill the app so that restarts aren't annoying.

[2017-08-01 21:36] gnprice commented on #251
I've been seeing the same thing today -- on Debian stretch, running GNOME.

[2017-08-01 22:58] #253 closed

[2017-08-02 16:32] keturn opened #257 "ChecksumMismatchError on running zulip-electron-launcher.sh"
Sometime around 2017-08-01, zulip-electron-launcher.sh failed to launch (in a zulip-electron checkout that had previously been working).

I think the most relevant part is this:

[code]

more complete log here: [zulip-electron-checksum.txt](https://github.com/zulip/zulip-electron/files/1194577/zulip-electron-checksum.txt)

on OS X 10.12.6 (16G29)

[2017-08-02 16:37] #257 closed

[2017-08-04 08:51] #247 closed

[2017-08-04 11:50] FeaRiTail opened #263 "1.2.0 beta: After closing the client on Windows (8.1) it cannot be started again until OS-reboot"
Hi guys,

first of all: Nice client, I really like this one and prefer it compared to the zulip web-interface.

Currently I experience a strange problem when doing the following:
- Start the Zulip-Client as usual
- at some point, quit it (CRTL+Q I think is the shortcut)
- on the process-explorer/task-list I do not see anymore zulip-processes
- then try to start it again

What happens:
The zulip-pr

[2017-08-04 21:28] timabbott opened #264 "Improve "+" button to add a new organization"
When you click the "+" button to add a new organization, it takes you to the right page in settings, but it should also automatically show the "Add server" input and have the focus be in the text box.

(Similarly, the "Add server" button should also put the focus in the input box after you click it).

Tagging this as a priority since some users who were trying out Zulip today seemed fairly annoyed

[2017-08-06 12:29] #245 closed

[2017-08-08 18:12] #251 closed

[2017-08-08 18:13] #216 closed

[2017-08-09 23:01] #164 closed

[2017-08-09 23:07] akashnimare opened #269 "Get Beta updates setting option not working"
Even after setting the update option to true I'm not able to get the app updates.

Steps to reproduce -
* Download v1.2.0-beta
* Set Get Beta updates to true
* Restart app
* Check logs in `/Users/%USERNAME%/Library/Application Support/Zulip`

[2017-08-10 10:24] #264 closed

[2017-08-13 03:28] Anshuman-Verma opened #271 "Use of ES6 Destructuring in index.js"
Can we possibly use ES6 (ES2015) destructuring in [index.js](https://github.com/zulip/zulip-electron/blob/master/app/main/index.js) for :

const ipc = require('electron').ipcMain;

which will prevent requiring electron multiple times as we have already done once at the start, thoughts on this suggestion ?

[2017-08-14 18:40] #271 closed

[2017-08-16 18:23] #248 closed

[2017-08-18 09:58] akashnimare opened #275 "Setup apt-repo for Debian"

[2017-08-18 10:01] akashnimare opened #276 "Add keyboard shortcuts details to setting page"

[2017-08-19 10:49] probonopd opened #277 "[Linux] desktop file is lacking a Categories= entry"
The desktop file is lacking a `Categories=` entry in the `*.desktop` file.

According to the [menu spec](https://standards.freedesktop.org/menu-spec/latest/apa.html),

Hence, please add at least one of the following in the `Categories=` key.

Main Category | Description | Notes
-- | -- | --
AudioVideo | Application for presenting, creating, or processing multimedia (audio/video) |
Audio | An audio

[2017-08-19 15:20] #277 closed

[2017-08-19 19:08] #269 closed

[2017-08-21 09:25] akashnimare opened #279 "autoUpdater.quitAndInstall() does not quit + relaunch app"

[2017-08-23 23:26] #275 closed

[2017-08-25 12:45] #198 closed

[2017-08-25 12:56] #148 closed

[2017-08-25 21:48] #279 closed

[2017-08-28 21:50] rishig opened #281 "Add a link for creating a new organization on zulipchat.com."
Currently if someone installs the desktop app with the intent to create a new organization, they will get to the "Enter your server url" page and be confused.

It would be great to add a link somewhere on that page that links to zulipchat.com/beta, with the text "Create a new organization on zulipchat.com".

[2017-08-28 22:32] akashnimare opened #283 "Add a post install script to add the apt repo in debian installer"
We need to write a post install script to install the apt repo and the signing keys into user's system when installing the Debian package.
 Example - https://github.com/Microsoft/vscode/blob/bfc4e3d780ddbcf8802d9ddc61e3b440af3cae5b/resources/linux/debian/postinst.template#L20

[2017-08-30 19:06] akashnimare opened #284 "Add reply option in desktop notification [macOs]"
Something like this -

![image](https://user-images.githubusercontent.com/2263909/29890184-5ea9e0de-8de4-11e7-9b8c-23819ed0ee99.png)

![image](https://user-images.githubusercontent.com/2263909/29890142-341a0ee8-8de4-11e7-95fe-02318220ed4c.png)

![image](https://user-images.githubusercontent.com/2263909/29890049-de29008e-8de3-11e7-87d2-ca8d209186ac.png)

This could be done using - https://github.co

[2017-09-06 06:34] vbNETonIce opened #286 "enhancement: add shortcut to reset app settings"
The main point of this request is to be able to reset the window state if the app is invisible on a virtual or multi screen setup.

The shortcut would reset x and y both to 0 and then reset the desktop app.

On Windows the shortcut could be used when the app is visible in the task bar but not on the screen.

[2017-09-07 16:42] mryakan opened #289 "Desktop app tray icon does not show unread msg count anymore"
I was using 0.5 version of the windows desktop app mainly because it showed the unread message count in the taskbar icon. Now it does not show that anymore with the latest version (1.4) which makes the desktop app a bit less useful.
---
Please include:
- `Operating System`: Windows 7
- `Clear steps to reproduce the issue`: Just install the latest 1.4 version of the app
- `Relevant error messages a

[2017-09-07 17:08] #286 closed

[2017-09-07 23:51] #289 closed

[2017-09-08 00:57] mryakan opened #291 "Option to minimize to tray"
A useful option that is missing from the windows desktop app is ability to minimize to the tray. This saves precious space in the taskbar and is supported by many messaging apps.

---
Please include:
- `Operating System`: Windows 7
- `Clear steps to reproduce the issue`: N/A
- `Relevant error messages and/or screenshots`: N/A

[2017-09-08 11:14] akashnimare opened #292 "Improve UI/UX of setting page"
* Make setting page better
* Make it responsive

![image](https://user-images.githubusercontent.com/2263909/30209253-d0f37692-94b4-11e7-9403-66b46dc2247b.png)

![image](https://user-images.githubusercontent.com/2263909/30209264-d6424cea-94b4-11e7-84b1-06ea832b6b1c.png)

[2017-09-08 14:02] #291 closed

[2017-09-11 14:47] akashnimare commented on #292
LGTM. Few changes -
* Buttons could use some paddings. Decrease the height a bit.

![image](https://user-images.githubusercontent.com/2263909/30279882-033021ae-972c-11e7-9996-d6c9c0afb443.png)

![image](https://user-images.githubusercontent.com/2263909/30279892-090d88dc-972c-11e7-9b88-f05ec25c0514.png)

Something like this -

![image](https://user-images.githubusercontent.com/2263909/30279874-f9cc

[2017-09-11 14:54] #276 closed

[2017-09-11 15:05] akashnimare opened #295 "Add crash reporter using sentry"

[2017-09-12 19:54] #295 closed

[2017-09-13 10:00] akashnimare opened #296 "Add setting option to use system proxy settings"

[2017-09-15 15:47] #281 closed

[2017-09-15 17:50] grahamegrieve opened #298 "Add desktop notifications indicator in left sidebar"
We need the ability to easily suppress notifications from all chats when presenting - and you don't want to do that on a stream-by-stream.  And there needs to be a visual indicator (e.g. on the icon) so you get reminded to unsuppress when finished

[2017-09-15 18:35] lmckenzi opened #299 "When desktop notifications are off, a stream post should not "Activate" Zulip"
This is a request for the Electron Windows client.  I run with the Windows menu bar "hidden".  When an application 'activates', it causes the menu bar to become visible and it won't disappear until you click on the menu bar.  I *want* it to do that when there's a notification, but I don't want it to do that for streams that have notifications turned off or if I've muted all notifications.  You can

[2017-09-19 11:41] #292 closed

[2017-09-24 19:54] YJDave opened #303 "Emoji picker not showing correctly"
I am using linux mint and when the screen of zulip desktop application is half of desktop and we select emoji picker, it's not showing correctly.
![emojierror](https://user-images.githubusercontent.com/25907420/30786218-418ac21a-a190-11e7-9b4d-7930768ccc62.gif)

[2017-09-25 03:23] cedricium opened #304 ""Show Sidebar" toggle option should reflect changes made with keyboard shortcut"
In the Settings page under "General", there is a toggle option for displaying the left sidebar. If the keyboard shortcut is used to toggle the sidebar, the toggle switch in the Settings page should reflect these changes. Below is a demonstration of the sidebar being toggled with the shortcut and via the toggle switch.

![gif](https://im.ezgif.com/tmp/ezgif-1-d0afd91617.gif)

[2017-09-25 09:06] ewoutkramer opened #305 "Add "badge" with # of streams with messages"
In my workflow, I have disabled desktop notifications since we have some high-volume streams. Of course, this means I do not know whether anything new has come in.  When I close the desktop app main window, I would love for the tray icon to show whether any new messages have come in in the same way Skype works:  show a number with the number of streams with unread messages.

(this is on Windows 10

[2017-09-25 12:53] #303 closed

[2017-09-26 19:42] timabbott opened #306 "Improve name for link to version page in the menu"
From talking to a user about what version he's using:

[code]

[2017-09-27 12:31] #306 closed

[2017-09-29 21:17] timabbott opened #308 "Adding a new organization does not properly use the organization's icon"
I just tested this in `master`, and found 2 bugs with the "new organization" flow:
* When adding a second organization, after you type in the URL and hit enter, we select the first organization, not the new organization, which is pretty confusing (since you don't end up seeing the login page).
* We don't seem to fetch save the organization's icon from /server_settings, either right after the serve

[2017-10-02 18:48] #192 closed

[2017-10-03 21:30] timabbott opened #310 "Handle corrupted domain.json files gracefully"
We got a report of a user having the Zulip desktop app just hang on startup.

It turned out the cause was their `domain.json` file was totally corrupted JSON and didn't open (it was filled with `\0` characters).

We should probably do some combination of the following.
(0) See if we have any bugs that might cause this corruption (e.g. if we open the file for writing before doing a network request

[2017-10-04 19:24] akashnimare opened #311 "CTRL-R does not reload the current server/view"
`CTRL-R` should reload the current view only.

[2017-10-04 23:52] #311 closed

[2017-10-06 16:08] zingmars opened #312 "Zulip client (most of the time) won't reconnect after waking from hibernation"
Hello,
As title says, after waking up the computer from hibernation the client won't reconnect to the server automatically - it gives the ["Zulip can't connect"](https://i.imgur.com/H82EoHn.png) screen when you open (or 'Focus') the client. Clicking the "Try now" button will of course work, but you might not think to check it after booting up and might miss a private message or two.

-
Zulip 1.4.0

[2017-10-09 22:14] rishig opened #314 "Add option to start the app in the background."
This is useful e.g. if you mainly expect to interact with Zulip when you get desktop notifications.

[2017-10-11 11:11] akashnimare opened #315 "Make reloading seamless"
There are few cases when reloading current server via `CTRL+R` doesn't work as expected. Few of them are -
* While adding/removing server

[2017-10-11 11:27] #308 closed

[2017-10-13 12:31] epaul13 opened #316 ""Not a valid Zulip server""
I get "Not a valid Zulip server" when I try to set my zulip server.

I use https://zulip.intranet.mycompany URL, which of course work in my browser. My server has certificates I've generated with my own CA. I've installed those CA certificate in my OS certificates. Could you give me directions to get more precise logs to try to address this problem ?

    Eric.
					-
					Zulip 1.5.0
					Electro

[2017-10-13 17:25] glyph opened #317 "⌘1 sometimes stops working in other apps"
---
Please include:
- `Operating System`:
[code]
- `Clear steps to reproduce the issue`:
    Run the application for a while.  Eventually, the ⌘1 hotkey starts getting captured regardless of where my keyboard focus is until I restart the application.

I am only logged in to one Zulip, but if I select settings, ⌘Tab away, and then hit ⌘1 in another app when in this state, I can see it switch back t

[2017-10-14 22:40] adambirds opened #318 "The add button doesn't work when adding a new server."
The add button doesn't work when adding a new server on the windows app.

OS is Windows 10.

[code]

[2017-10-16 20:18] #318 closed

[2017-10-17 05:12] Be-ing opened #319 "dark GUI theme"
It would be nice if there was an option for a dark GUI so I don't have to stare at so much white light emanating from my screen. @synicalsyntax has made some [hacks using Stylish](https://chat.zulip.org/#narrow/stream/new.20members/subject/dark.20theme.3F/near/299379) in browser, but AFAIK that's not possible in the Electron app.

I don't think a full featured theme system with user defined themes

[2017-10-17 05:19] #319 closed

[2017-10-17 22:03] spaceywolfi opened #320 "Logo does not show up in the sidebar"
Operating System: Manjaro

Steps to reproduce:
download the latest appimage, login to an organization with a logo, the sidebar logo does not update and still displays the zulip logo

![screen](https://user-images.githubusercontent.com/31371807/31691843-c2b96f12-b397-11e7-8474-63859435077d.jpg)

[2017-10-18 16:19] #320 closed

[2017-10-18 18:04] akashnimare opened #321 "Auto-updates for AppImage format"

[2017-10-19 10:15] vbNETonIce opened #324 "notifications: option to count 1 per PM or stream"
For Windows task bar icon
I had some people 'complaining' that they see ie. 21 unread msgs on the task bar icon when it was 20 in a public stream and 1 private message. What actually many here prefer is just showing 2 instead, 1 unread private msg/conversation and 1 unread stream.
Or another example: I have 43 unread msgs:
* 32 PM in **6 different** conversations and
* 11 in **4 different** stream

[2017-10-20 20:20] #316 closed

[2017-10-24 12:24] #178 closed

[2017-10-26 17:23] timabbott opened #325 "Add certificate related issues in troubleshooting guide"
Someone just reported that they were getting the "Not a valid Zulip server" errors when trying to use it on Windows 7.  I suspect the issue they need a proxy to access the Internet, and didn't realized they needed to set this up.

I think we should expand the "Not a valid Zulip server" error message to something more user-friendly that will help them debug.  The simplest version would be just to c

[2017-11-01 19:18] #263 closed

[2017-11-02 18:40] #299 closed

[2017-11-02 19:55] Andy3142 opened #328 "Can't log out under File menu or with CTRL-L"
Is this really the place to post newbie end user help requests ...? If not my apologies and where do I go; if so, it's very futuristic!
I just installed Zulip to test it. I can't log out with File>Log Out or with CTRL-L. I do it over and over, nothing happens. But I log out as expected with Settings Icon > Log out.  Then I log back in, fail to log out via File and CTRL-L, succeed again via Setting

[2017-11-04 14:50] PaulMorris opened #329 "Switching between servers with window menu and keyboard"
I had two zulip servers set up in the app and at first I could switch between them as expected.  Then, after a few days of use, the items in the window menu to switch between them stopped working, and also the ctrl+1 and ctrl+2 keyboard commands.  Switching between them by clicking the icons in the sidebar still worked (although I had the sidebar hidden before I encountered the problem).  Restarti

[2017-11-07 18:47] shidarin opened #330 "OSX Zulip icon low res"
The zulip icon on OSX laptops with retina (high dpi) screens does not match the system dpi.

<img width="95" alt="screen shot 2017-11-07 at 10 46 27 am" src="https://user-images.githubusercontent.com/5846610/32511548-ee8f64ea-c3a8-11e7-9afc-5b490cbb0114.png">

[2017-11-08 06:57] #330 closed

[2017-11-08 08:59] akashnimare opened #331 "Write dev tools log to a file"

[2017-11-09 08:28] vbNETonIce opened #332 "Min. Window width dependent on zoom level"
OS: Windows
Behaviour: the desktop client has a minimum Window width which is 👍
However I would like it even thinner and that could work if I zoom out Zulip.
Could the minimum width be reduced if the user zooms out?

PS: I could use Skype almost like a side bar but for Zulip Desktop to work that way it would need to be a little narrower.

[2017-11-13 03:59] JoeJasinski opened #334 "osx: no way to disable Zulip from starting on Login"
After installing Zulip Desktop 0.5.2 on Mac OSX 10.13.1 (and prior versions), the application starts automatically on login.  A zulip icon appears as a menu in the top menu bar in OSX.  This menu offers no means to disable auto-start on login.  I'm having difficulty determining where this application launches and how I can disable it from doing so automatically.  No entry appears in the "LoginItem

[2017-11-13 19:58] #334 closed

[2017-11-16 21:07] #317 closed

[2017-11-16 21:15] #321 closed

[2017-11-16 21:31] #315 closed

[2017-11-17 09:29] #220 closed

[2017-11-17 13:43] sroy8091 opened #336 "Fail to connect message is not properly spaced."
I am using Ubuntu 17.04. Failing to connect message has incorrect spacing.
Steps to reproduce:-
Open Zulip desktop and try to connect with an invalid Zulip server
Here is a snapshot:-
![screenshot from 2017-11-17 09-38-09](https://user-images.githubusercontent.com/10785074/32950157-659218ec-cbcb-11e7-9c2a-8ebfc25053fb.png)

[2017-11-21 15:38] #336 closed

[2017-11-22 01:25] twestberg opened #339 "Zulip desktop on Mac grabs Cmd-R keys"
On a Macbook Pro running 10.13.1 (17B48), after some time (I don't know when, or why) I noticed that my Cmd-R keys (attempting to reply to email, or refresh a browser window, or jump to a method definition in Sublime Text) are only refreshing the Zulip window, no matter what	window has the focus and menubar. Quitting and restarting Zulip desktop fixed it, at least temporarily. Three other people a

[2017-11-22 01:42] rishig opened #340 "design: Improve "Add Server" page for new users."
I think the "Add server" page is currently a bit confusing for new users.

Some suggestions:
 - [X] Replace the "Enter the URL of your .." placeholder text with
A line above the input area: "Login or registration URL for your Zulip organization"
Placeholder text: "https://example.zulipchat.com/login"

(on our end, we should then accept the URL whether it ends in nothing, `/`, `/login`, or `/regist

[2017-11-22 14:19] akashnimare opened #341 "Improve development guide"
We have this [guide](https://github.com/zulip/zulip-electron/blob/master/development.md) but it's not detailed. It would be great to have a detailed guide on how to install the dev env on various OS Windows/macOS/Linux which will include the instructions, screenshots, troubleshooting etc.

[2017-11-24 20:16] #339 closed

[2017-11-24 20:16] #329 closed

[2017-11-24 20:17] #328 closed

[2017-11-25 01:36] yesthatguy opened #342 "Can't get out of custom emoji image shadowbox"
I added a custom emoji and decided I wanted to change the image. I clicked on the image (the bold letters "ev" here):
<img width="1135" alt="screen shot 2017-11-24 at 11 49 27 am" src="https://user-images.githubusercontent.com/10944164/33226236-c0923c94-d14e-11e7-99f8-d949c5cb6b4f.png">

And was presented with the image in a shadowbox:
<img width="1137" alt="screen shot 2017-11-24 at 11 48 39 am"

[2017-11-25 17:44] #342 closed

[2017-11-27 21:37] fleytman opened #343 "The text from the input field disappears if you click in an empty area"
The text from the input field disappears if you click in an empty area.

Steps:

1. Input text on input field
2. Press in an empty area or switch to another channel

**Expected Result:** The text in the input field does **not** disappear. On web version
**Actual result:** Text from the input field **disappears**

The web version works as expected.

![field_bug](https://user-images.githubuserconten

[2017-11-27 23:04] #343 closed

[2017-11-30 06:34] #39 closed

[2017-11-30 23:11] cPhost commented on #341
@akashnimare would it be fine it you require have to `require('console')` in order to log to devtools

[2017-12-01 17:55] YJDave opened #344 "zoom in/out doesn't work for both Ctr -/+ keys"
Short keys used for zoom in/out are
Linux/Windows - **CTRL+** for zoom in, **CTRL-** for zoom out

zoom in/out should work for both `-`/`+` keys of keyboard(in case keyboard have two keys for `-`/`+`).
They have different key code as they are different keys(ex. for `-` 109 and 189), so we have to set event for both key codes.

More discussion about this issue [here](https://chat.zulip.org/#narrow/

[2017-12-03 19:43] #331 closed

[2017-12-04 09:25] #244 closed

[2017-12-04 09:50] #332 closed

[2017-12-04 11:32] akashnimare opened #348 "Default settings not initializing properly"
A user reported [this](https://twitter.com/theycallmemorty/status/935213789636677632) -

After digging a bit I have found that the [function](https://github.com/zulip/zulip-electron/blob/9144c2630ddeb3e81bd9f1c1c511fdad01380af8/app/renderer/js/pages/preference/preference.js#L45) which init the default settings don't get called if user doesn't visit setting page.

[2017-12-04 11:49] #348 closed

[2017-12-05 13:12] #283 closed

[2017-12-19 22:19] satbalus opened #354 "Unable to add valid Zulip server to desktop client."
1.  Servers
2. Type https://internalserver name and add
Actual result: shows error as invalid server even though same url works in browser.
					-
					Zulip 1.7.0
					Electron 1.6.15
					win32 x64 10.0.16299

[2017-12-20 18:15] akashnimare opened #356 "broken server icon"
![image](https://user-images.githubusercontent.com/2263909/34221907-9576afcc-e5df-11e7-9270-bced6b9bfb12.png)

This happens when you reload the app and our backend fails to download the org icon from the server. In this type of cases we should set the default icon.

[2017-12-25 18:13] #356 closed

[2017-12-25 20:35] akashnimare opened #358 "Focus app on clicking the desktop notification"
We should focus the app(if it's minimize/hidden) when user clicks on the notification.

[2017-12-25 21:27] akashnimare opened #359 "Change default org icon"
I think rather than setting the default icon as Zulip icon, we should set the "initial letter" as the default icon, something like the Slack does -

<img src="https://chat.zulip.org/user_uploads/2/9d/fXiB6z02OaA5n-GKf8luKpCY/pasted_image.png">

This will be applicable to those orgs who don't the `realm_icon`. We can get the "initial letter" from `realm_name` ex. [here](https://zulip.sagemath.org/a

[2017-12-26 19:38] #358 closed

[2017-12-27 15:36] #304 closed

[2017-12-27 15:44] akashnimare opened #364 "Set up git-lint for better commit style."
---
Please include:
- `Operating System`
- `Clear steps to reproduce the issue`
- `Relevant error messages and/or screenshots`

[2017-12-29 07:07] #314 closed

[2017-12-29 08:54] akashnimare opened #368 "Improve gule-dev script"
Currently, it does not do much. Few things we should add in this -
* Watch for all the JS/CSS/HTML changes in main and renderer process and then auto-reload app on changes
* Watch for linter also, this could be done using [nodemon](https://github.com/remy/nodemon)

[2017-12-30 15:58] cPhost opened #369 "Don't allow non-zulip servers to be entered."
---

- **Operating System**:
  - [X] Windows
  - [X] Linux/Ubutnu
  - [X] macOS

- **Clear steps to reproduce the issue**:
Enter a slack-server

[2018-01-03 10:52] ViRu-ThE-ViRuS opened #371 "App Crash: Restarted server without restarting the app."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
---
The app slowed down and crashed on me when I was running a dev instance (no local changes). When I restarted the server (without closing the desktop app), it gave me this message (in the screenshot).
- **Clear steps to reproduce the issue**:
This crash happened to me once when I was just looking for bugs. I haven't

[2018-01-03 12:55] #371 closed

[2018-01-03 21:28] grahamegrieve opened #372 "Sidebar message count not updated if you get too far behind"
I started Zulip electron app. I have 3 servers on my sidebar. One I was up to date in, one I was 40 messages behind in, and it showed 40 behind. The other (chat.zulip.org) I was 1000+ behind, but I had not gone to that server. In the side bar, it shows just like the server where I am up to date. Once I visit the page and click on the dialog to catch up or not, then the count will be correct for wh

[2018-01-05 14:48] ADMarian opened #373 "Windows app not working - stuck on loading"
Freshly installed the app and it's stuck. It's looping on refresh and it doesn't allow me to do anything. I tried looking for the logs in order to provide possible in-depth details, but I can't find those either.

![zulip](https://user-images.githubusercontent.com/34919672/34613785-ba2e9f82-f237-11e7-8dab-6f22239a17a8.png)

Zulip 1.7.0
Electron 1.6.15
win32 x64 10.0.15063

[2018-01-05 15:27] #373 closed

[2018-01-06 07:23] Be-ing opened #374 "option to turn off smooth scrolling"
I feel that Chromium's smooth scrolling feature is annoying and makes the interface feel sluggish. It would be nice if that could be turned off in the Electron app.

[2018-01-06 18:46] #369 closed

[2018-01-09 19:27] akashnimare opened #376 "Improve /help section for desktop app"
There is a help section for desktop app - https://zulipchat.com/help/desktop-app-install-guide
Here are the few things we could add there -
* Deskop app settings -
  - This will contain the info about various app settings like "Show Desktop Notifications", Mute, Proxy setting etc
* A troubleshooting section
* Tips for Zulip on Windows
  - Tips about taskbar icon, auto-update etc
* Tips for Zulip o

[2018-01-10 10:27] akashnimare opened #377 "Add custom sound for incoming notifications"
We should give an option to let users choose what sound they want to hear when getting a new notification.

<img src="https://chat.zulip.org/user_uploads/2/58/nZn3m1AMLgbAuoUtnSi9XPz_/pasted_image.png"/>

<img src="https://chat.zulip.org/user_uploads/2/89/VlL5-R__D-N8P3ZvE3RewCYQ/pasted_image.png"/>

Demo sounds - https://github.com/wavebox/waveboxapp/tree/master/assets/audio

- [ ] macOS
- [ ] Wi

[2018-01-10 11:46] akashnimare opened #378 "Mute notification setting option not working properly"
It looks like app's "Mute all Sounds from Zulip" is not working as expected. The reason behind this could be webview's sound which is taking over the notification's silent parameter.

[2018-01-10 11:48] akashnimare opened #379 "Add support for 32-bit debian installer"
Currently, we only support 64-bit deb installer. This could be easily done using electron-builder's `arch` option.

[2018-01-10 19:16] mahak-bagha commented on #376
@zulipbot claim

[2018-01-10 19:28] mahak-bagha commented on #376
@zulipbot claim

[2018-01-10 19:43] #377 closed

[2018-01-11 13:16] #378 closed

[2018-01-11 13:20] akashnimare opened #381 "Clicking on notification should focus the same tab."
Clicking on a desktop notification should focus on the server that generated the notification.

This would be fixed in #355.

[2018-01-13 18:34] #284 closed

[2018-01-13 18:50] #381 closed

[2018-01-16 04:14] foongws opened #384 "Video Chat Button Missing"
According to the web site screenshot, there supposed to be a video chat button under the chat box. But my fresh installation, cant find the video chat button.
Not much article in the document mention about this video chat.
Can you help ?
---

- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubutnu
  - [x] macOS
- **Clear steps to reproduce the issue**:
Click on a contact, under the chat box ,

[2018-01-16 19:38] akashnimare opened #386 "appId is not defined when app is packaged"
Looks like there are some path issues when importing the appId from `package.json`. Following helper function fails on packaging -
[code]

[2018-01-16 20:25] #386 closed

[2018-01-17 02:30] #354 closed

[2018-01-18 16:41] xAzzzu opened #389 "German Translation for Topic is misspelled"
The Button "New Topic" is labeled "Neues Them" in german it should be "Neues Thema".
![new_topic](https://user-images.githubusercontent.com/20838039/35109468-bf05d144-fc76-11e7-8826-788e1c43b3dc.PNG)

[2018-01-18 16:45] #384 closed

[2018-01-18 17:47] #389 closed

[2018-01-19 14:35] #379 closed

[2018-01-21 07:28] abhigyank commented on #208
I think the back button can go on the sidebar, above the icons.
![screenshot from 2018-01-21 12-56-10](https://user-images.githubusercontent.com/20434085/35191824-ac217886-feaa-11e7-96b6-0594ae5c3ba9.png)
In the above picture, I would say above the Zulip icon. What do you guys think?

[2018-01-21 14:33] cPhost opened #391 "Adds bots mention support to reply option."
Currently in reply option we handle stream and user mention just fine but not bots mention since they are not in the DOM. To do this you have to make a request to `/users` endpoint and filter out bots using `is_bots` property. It should be done in `app/renderer/js/notification/helpers.js`

[2018-01-21 14:33] cPhost commented on #391
@zulipbot label enhancement

[2018-01-21 20:19] akashnimare opened #392 "Add inline reply support [Windows]"
Inline reply support could be add using [electron-windows-notifications](https://github.com/felixrieseberg/electron-windows-notifications).

[2018-01-22 13:29] akashnimare opened #393 "Error on toggling the left sidebar using keyboard shortcut"
The error came from #362. Repro using -
* Delete all servers
* Open add new server page
* CMD+S
* Check console -

[code]

[2018-01-22 17:08] #393 closed

[2018-01-22 18:59] #368 closed

[2018-01-25 10:01] abhigyank commented on #391
@zulipbot claim.

[2018-01-29 11:09] akashnimare opened #396 "Add a loading indicator when user clicks on new server button"
We need to show a loading indicator or change the text of "Add" button to "Adding..." when user clicks on  **Add** button.

![image](https://user-images.githubusercontent.com/2263909/35507450-d3db9442-0512-11e8-8eca-934d8a1fa461.png)

[2018-01-29 11:29] akashnimare opened #397 "Add scripts from zulip/tools/"
There are few scripts in [zulip/tools](https://github.com/zulip/zulip/tree/master/tools) which we can reuse here. Few of them are -
* [fetch-pull-request](https://github.com/zulip/zulip/blob/master/tools/fetch-pull-request)
* fetch-rebase-pull-request

[2018-01-29 12:54] akashnimare opened #398 "Send a notification when a new update available [Debian]"
This could be done easily using the `update-available` event of [autoupdater](https://www.electron.build/auto-update) but we need to first check whether it's supported by electron-updater or not.

[2018-01-29 18:23] #396 closed

[2018-01-30 19:56] #391 closed

[2018-02-02 20:24] akashnimare opened #405 "Add a menu item to reveal application logs"

[2018-02-02 20:35] #405 closed

[2018-02-02 20:37] akashnimare opened #406 "Build artifacts using CI"
macOS/Linux - Travis
Windows - AppVeyor

[2018-02-03 10:42] akashnimare opened #407 "i18n support"

[2018-02-09 11:41] akashnimare opened #409 "docs: update /help/zulip-on-windows section"
We need to update [this](https://zulipchat.com/help/zulip-on-windows) help section. Few things we can include there-
- [ ] Detailed info of following setting options -

     * Show app icon in system tray
     * Show app unread badge
     * Flash taskbar on new message
     * Desktop notification/Mute setting

* Add other useful sections..

[2018-02-09 12:50] #397 closed

[2018-02-12 12:03] jainaman224 opened #410 "Multiple tray icons"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
In View submenu, click `Toggle Tray Icon` multiple times. It will generate more than 1 tray icon for same app.
- **Relevant error messages and/or screenshots**:
![screenshot from 2018-02-12 17-27-12](https://user-images.githubusercontent.com/13117482/36096067-bf58b046-101a-11e8

[2018-02-12 20:42] akashnimare opened #412 "If app is hidden then don't show app window on resuming from hibernation"
We need to take care of this case. Don't show app window - If the app is hidden or minimized initially and the system resumes from hibernation.

[2018-02-13 20:05] abhigyank opened #414 "isDev returns true in npm start"
- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Start the app using `npm start`. All checks for `isDev` returns `true`.
- **Relevant error messages and/or screenshots**:
`isDev` check, used for checking whether app is running in Development environment, returns `true` even when starting the app through `npm start`. It should retu

[2018-02-13 20:12] #414 closed

[2018-02-14 08:31] #208 closed

[2018-02-14 18:45] akashnimare opened #416 "Last active tab is broken"
App doesn't open the last active server properly.

[2018-02-15 11:54] akashnimare opened #418 "design: Do not create a new instance of setting tab."
On clicking the `+` and `Setting` icon we should not create a new instance of "setting icon" instead we should activate and focus the bottom setting icon.

![image](https://user-images.githubusercontent.com/2263909/36255426-fb983e4e-1274-11e8-9ec6-33810bb0feef.png)

[2018-02-17 02:23] glyph opened #419 "control-b boldfaces text rather than moves the cursor on macOS"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubutnu
  - [x] macOS
- **Clear steps to reproduce the issue**:

Type <kbd>Ctrl</kbd><kbd>B</kbd> in the text field.

Expected behavior:

- The cursor moves left one characer.

Actual behavior:

- The cursor is surrounded by `**` characters on either side.

When you hit this key combination on a mac, the correct native text-widget behavior

[2018-02-17 15:58] #419 closed

[2018-02-18 12:22] #416 closed

[2018-02-18 14:32] cPhost opened #421 "Only show the back button if it needed"
Right now clicking on the go-back button sometimes does nothing so we can hide the button when not in need you can check of you can go back on an active webview by `webview.canGoBack()`.

This is a followup of #413, @abhigyank can you do this?

[2018-02-18 14:34] cPhost commented on #421
@zulipbot label "Priority: Medium", "Type: Enhancement"

[2018-02-19 08:17] S2606 commented on #409
Can I work on this??

[2018-02-20 15:25] anurag1018 opened #425 "Organization name does not update on the sidebar"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubutnu
  - [x] macOS
![zulipelectronbug](https://user-images.githubusercontent.com/17769227/36432456-40a80dac-1680-11e8-9a6b-3e5320c0cc2e.gif)

Upon changing the Organization's name and icon, they are not instantly updated on the sidebar. I tried logging out and back in but still the bug persists.
The only way to get the name and icon upda

[2018-02-22 11:25] #398 closed

[2018-02-22 19:23] #421 closed

[2018-02-23 13:33] #418 closed

[2018-02-25 05:16] abhigyank opened #427 "server-settings: Create new organisation link overlapping existing servers."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Add three or more servers. Go to **Servers** in **Settings**, the "Or create a new organisation on zulipchat.com" link overlaps with existing server cards. See screenshot below.
- **Relevant error messages and/or screenshots**:
![screenshot from 2018-02-25 10-40-15](https://use

[2018-02-26 11:59] #427 closed

[2018-02-27 18:23] abhigyank opened #430 "Loading indicator while navigating in webview"
Add some kind of indicator of loading when we move from one page to another in a webview.
Example: When one logs in (especially through third party auth) or logs out, add an indication that the request for logging in or logging out has taken place and that the next webpage is loading.

This can be added just like a browser like Chrome shows loading indicator by changing the reload button when a pa

[2018-02-28 20:03] akashnimare opened #432 "Add an option to add custom css"
We should add an option to let the user choose the custom CSS file from their system and then inject it into the app. This option would be useful for users who don't like the certain design and want to override the default styling.

[2018-03-01 13:25] #432 closed

[2018-03-02 07:23] #243 closed

[2018-03-06 12:17] #412 closed

[2018-03-09 09:05] #249 closed

[2018-03-10 12:07] abhigyank opened #440 "Reinstall script does not work in windows"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
`reinstall` script in `package.json` is `./tools/reinstall-node-modules` and running npm reinstall does not work and throws an error `'.' is not recognized as an internal or external command,
operable program or batch file.` . This is suited for Linux/Mac not for Windows.

[2018-03-12 07:58] akashnimare opened #442 "Auto updater doesn't install updates on some Windows machine"
Looks like auto-updater is not installing the auto-updates. It's an upstream bug.

[2018-03-13 21:03] akashnimare opened #443 "Add Snap support [Linux]"

[2018-03-13 21:04] akashnimare opened #444 "Can't run app from terminal [Ubuntu]"

[2018-03-14 17:32] jainaman224 opened #445 "Change icon on mention."
---

- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubutnu
  - [x] macOS

- **Clear steps to reproduce the issue**:
Get mentioned by anyone. See the taskbar icon and org icon.

- **Suggestions**:
We can change color of icon to red like slack shows the `red dot` on mention. Similarly, for org icon in left sidebar.

[2018-03-14 18:11] #340 closed

[2018-03-15 04:39] BlinfoldKing opened #447 "Dockerized the development environment"
i think we could add a Dockerized option for developement where everyone would have the same environment regardless of the OS

[2018-03-16 17:51] akashnimare opened #448 "App settings are not working correctly"
This is the regression in the master, not sure when this was introduced.

The settings (Desktop notifications, silent etc) are changing automatically if you change it and then switch back to a server.

![dnd](https://user-images.githubusercontent.com/2263909/37529660-b316396e-295d-11e8-9874-f16c15d704d5.gif)

Repro steps -
* Go to setting page set `Show desktop Notification` to `ON`
* Switch to ad

[2018-03-16 21:36] #448 closed

[2018-03-19 10:03] #447 closed

[2018-03-19 15:16] #444 closed

[2018-03-19 20:38] robgev opened #450 "Login Screen: Pressing buttons while Zulip tries to connect will fire the events after the loading is finished."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:

On the first step, specify the company name and while the first button says "Connecting" press the "Create Organization" button.

[2018-03-22 08:17] akashnimare opened #453 "security: prevent remote code execution."
Looks like you can drag and drop any link to the app and it will get open. Using that event anyone can execute a remote code and might do bad things.

[2018-03-22 17:43] timabbott opened #456 "Tweaks to the "Organizations" settings page"
* ~~We should have a link to "Add organization", in case users don't see the `+` icon; probably at the bottom is fine.~~ (Decided not to do this)
* ~~It's not great that the hover CSS moves the row (e.g. the "Disconnect" button jumps)~~
* ~~I think we want the "Disconnect" button to be at the far right, so that longer organization URLs don't mess up the table~~:

![image](https://user-images.githu