[2019-08-11 04:06] rhythm-sharma commented on #406
@akashnimare Is anyone working on it?

[2019-08-13 20:48] akashnimare commented on #406
No, feel free to work on this.

On Sun, 11 Aug 2019 at 9:36 AM, Rhythm Sharma <notifications@github.com>
wrote:

[2019-08-14 02:43] rhythm-sharma commented on #406
I'm reading some articles on it, will discuss implementation asap

[2019-08-14 15:15] rhythm-sharma commented on #406
@akashnimare,  I've created [electron-travis-ci](https://github.com/rrhythmsharma/electron-travis-ci) for the experiment but I am facing some errors in the testing process so I'll try to update with the result. Initially, I have been trying to build an installer for macOS and Linux.

[2019-08-14 19:05] #641 closed, assigned to nobody

[2019-08-16 18:28] akashnimare commented on #623
@Xerus2000 first two setting options have been added in the webapp. Checkout - https://github.com/zulip/zulip-desktop/pull/626

[2019-08-26 08:02] zingmars opened #813 "The app should check whether it's actually loading Zulip"
- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS

Easier for me to just show you:
![image](https://user-images.githubusercontent.com/917126/63675140-cd2f0500-c7f0-11e9-9f26-674832a8bc52.png)

Basically what happened here was that Riot got pushed to the URL that once held a Zulip instance. Now instead of giving an error that it's not connected to Zulip, the Zulip app is ru

[2019-08-26 12:32] akashnimare commented on #813
@zingmars ahh, that is a bummer. BTW, is that Zulip instance public so that I can test it? What version are you on? We recently pushed [v4.0.0](https://github.com/zulip/zulip-desktop/releases) where we have updated our validation logic for a Zulip server and I'm hoping it should cover your case as well.

[2019-08-26 12:38] zingmars commented on #813
That Zulip instance is behind a firewall now, sorry. It should be trivial to test it by setting up a Zulip instance, connecting to it using the client then making the web server serve literally any other app to that address.

Version is Zulip v4.0.0. To be fair, as a user all I need to do is to remove this server and connect to the new URL, but it's quite funny seeing it like this. I'm going to ke

[2019-08-26 13:00] akashnimare commented on #813
Cool, removing and readding the server should fix this issue. @kanishk98, @vsvipul are we validating/checking already added servers on app load?

[2019-08-26 17:02] kanishk98 commented on #813
Yeah, we call `updateSavedServer()`, which calls `checkDomain()` - the problem is we only have a `then` block, not a `catch` block. So even though our server validation logic would detect that Riot isn't a real Zulip server, the app doesn't know what to do with that info.

I'll just send in a PR to fix that. Thanks for pointing this out, @zingmars!

[2019-08-28 08:42] #551 closed, assigned to nobody

[2019-08-29 00:36] timabbott opened #817 "Set User-Agent when making requests to /server_settings"
Our server logs contain a bunch of entries like this:

`/api/v1/server_settings (unauth via Unspecified)`

("Unspecified" means no `User-Agent` header was set in the HTTP request)

Checking what those clients later requested, it's clear that the cause is ZulipElectron not setting that header.  I assume this bug is still in master, but if not, we should fix it... longer-term, we will likely require

[2019-08-29 05:24] kanishk98 commented on #817
I had a look, and it seems that we are setting the header, but the value of the `User-Agent` when validating the server (while adding a domain or on app load, to check for updates to the server icon) is `null` and we only set that to a legitimate `User-Agent` in `webview.ts`.

I think there should be some entries in the server logs with actual user agents too.

Regardless, I'd like to fix this. @z

[2019-08-30 15:33] akashnimare commented on #807
@sebastianelsner does it work with the latest version i.e. v4.0.0?

[2019-08-30 15:44] akashnimare commented on #790
I don't think we could provide this feature. Mainly, because the title and the logo is the identity of the Zulip official desktop app. However, you could put your icon in the https://github.com/zulip/zulip-desktop/tree/master/build directory and build your own version.

[2019-08-30 15:44] #790 closed, assigned to nobody

[2019-08-30 15:51] akashnimare commented on #787
This could be improved. Let me check. @kanishk98 I have updated the icon for Linux. Build the app locally and see if it looks good.

[2019-08-30 16:24] akashnimare commented on #740
@ngoldbaum can you test if v4.0.0 works?

[2019-08-30 18:55] akashnimare commented on #787
This is how it looks on my system and it looks okayish to me.

![image](https://user-images.githubusercontent.com/2263909/64044951-bb00ee00-cb85-11e9-9b25-99cd3f01eb97.png)

@schrej from too large do you mean the `Z` is large and misplaced? And if this is the case then we need to change the logo a bit i.e. make the `z` a bit smaller. cc @rishig

[2019-08-30 21:31] timabbott commented on #787
Do we actually need to change the image, or just specify a different scaling?

[2019-08-31 10:11] akashnimare commented on #787
Not sure, gotta check it. I'm using the 512x512 image which is the recommended for icon from Electron's side.

[2019-08-31 23:12] rishig commented on #787
In Akash's image our logo does look larger than the one for Chrome and Telegram.
I think the relative size and placement of the Z is ok.

[2019-09-01 11:21] muskankhedia commented on #798
@akashnimare, I was looking for this issue, and I came up with the same bug. The gif below describes the complete working:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/36980003/64075659-9d906900-ccd8-11e9-804c-729b2d95ef7c.gif)

[2019-09-01 11:32] muskankhedia commented on #798
@akashnimare, I think [PR #723](https://github.com/zulip/zulip-desktop/pull/723) solves in problem somehow. Further, Can I work on this issue?

[2019-09-01 19:12] akashnimare commented on #798
@muskankhedia I think #819 might fix this. Can you reproduce the issue on master?

[2019-09-01 19:34] muskankhedia commented on #798
@akashnimare The gif I had mentioned before is produced in the master branch code of the repository itself and it still exists. The problem I have figured out is on connecting to the internet connection, the page is getting auto-reload, but as the active page is no-network page, it is reloading that page instead of navigating to any other organization page.

[2019-09-01 19:41] akashnimare commented on #798
@muskankhedia can you please check back again on master?

[2019-09-01 19:57] akashnimare commented on #798
Okay, okay got it. I think this used to work as expected, don't know what's wrong. @kanishk98 might have something on this. @muskankhedia feel free to look into this. #723 could fix this.

[2019-09-01 20:50] muskankhedia commented on #798
@akashnimare yaa sure... I tried it again in master branch and the bug is reproduced the same way as earlier.

[2019-09-02 09:16] kanishk98 commented on #798
Thanks for the mention! I think this is a problem with the `is-online` package (#819 just fixes the Try Now button). I'd started work on #723 because another user had a similar issue, so we'd chosen to remove `is-online` module entirely and just rely on a simple request for the server's favicon. Regardless, I think #723 does solve this (at least it does on my end). It'll be great if others can tes

[2019-09-03 09:24] sebastianelsner commented on #807
I completely deleted my .conf/Zulip settings and now its working with version 3 and upwards. Must have been a cache issue.

[2019-09-03 09:24] #807 closed, assigned to nobody

[2019-09-03 10:41] akashnimare commented on #807
Oh, nice. Thanks, @sebastianelsner.

[2019-09-03 13:50] akashnimare opened #820 "Windows: Notification shown even on lock screen"
A user reported -

My friend also has the same issue, also in Windows 10

[2019-09-03 14:47] priyank-p commented on #820
There a windows setting, "Show notification on the lock screen", to control this behavior. It in Settings > Notifications & Actions (search Notification in search bar of settings app).

Screenshot (Setting highlighted in red box):
![image](https://user-images.githubusercontent.com/23620441/64183559-0f32f900-ce38-11e9-82d2-ee05fe85ce53.png)

[2019-09-03 14:52] akashnimare commented on #820
Yeah, though the user says -

[2019-09-03 14:58] priyank-p commented on #820
OK, we might be able to detect the if the screen is locked by using [electron-notification-state](https://github.com/felixrieseberg/electron-notification-state) but it might be tricky to stop the notification since they are from the webapp side.

[2019-09-03 17:52] timabbott commented on #820
We should look at how other Electron app do this; it might be that there's something cleaner one can do than just checking if the screen is locked.

[2019-09-08 20:49] muskankhedia commented on #540
@zulipbot claim

[2019-09-09 13:17] ngoldbaum commented on #740
Yay it works, thank you so much for fixing this.

[2019-09-09 13:17] #740 closed, assigned to nobody

[2019-09-11 11:05] akashnimare commented on #740
Awesome!

[2019-09-11 11:09] #817 closed, assigned to kanishk98

[2019-09-12 09:43] marco-m commented on #678
@akashnimare for my understanding: is this ticket closed because the feature is present (if yes, any documentation about it?) or some some other reasons? Thanks.

[2019-09-12 18:33] akashnimare commented on #798
@muskankhedia can you test if #723 fixes this issue?

[2019-09-12 19:00] akashnimare commented on #678
@marco-m, @rvansa we have added a new setting in the webapp (Settings > Notifications > Unread count summary) by which you can configure whatever you want to include in left sidebar in the desktop app. Current options are -
* All messages
* Private messages + mentions
* None

![image](https://user-images.githubusercontent.com/2263909/64812510-fc998c00-d5bc-11e9-9ae6-9b1d6381efe6.png)

[2019-09-12 19:08] muskankhedia commented on #798
@akashnimare, Yes, I tested the pull request in my system(presently using fedora 30) and it solves the issue [#798](https://github.com/zulip/zulip-desktop/issues/798). Now the Zulip server reconnects after getting online and also the new tab displaying the message "Network Error" gets deleted.

[2019-09-12 19:48] marco-m commented on #678
thanks!

[2019-09-12 20:19] akashnimare commented on #798
Awesome, thanks.

[2019-09-24 12:52] #591 closed, assigned to nobody

[2019-09-24 13:00] akashnimare commented on #312
Fixed in - https://github.com/zulip/zulip-desktop/commit/d4b96632571149df28159c08acaa2f204afa5a05

[2019-09-24 13:00] #312 closed, assigned to nobody

[2019-09-25 07:28] GertBurger opened #823 "Dragging the scollbar all the way down results in upwards scrolling"
- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
1. View all streams (or select a stream with a large history)
2. Scroll up a bunch of pages
3. Click and drag the scrollbar all the way down and hold it.
4. Note that it jumps to the top and then proceeds to load older messages instead of newer ones.
- **Expectation**:
App should co

[2019-09-25 10:21] akashnimare commented on #823
@timabbott this should be transferred to zulip/zulip.

[2019-09-26 19:13] aryyya opened #825 "Add option for a colorless menu bar icon"
On macOS it is more usual for menu bar icons to not have color.

Could Zulip add an option to display a colorless icon?

---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS
- **Relevant error messages and/or screenshots**:

![Example](https://user-images.githubusercontent.com/29365565/65717726-df51cc80-e056-11e9-9cb7-6364c9bfaf49.png)

[2019-09-26 19:18] akashnimare commented on #825
@aryyya is this common for all the mac apps? I have checked most of the apps are colourless.

[2019-09-26 19:21] aryyya commented on #825
In my experience the vast majority of macOS apps conform to this convention. Right now Zulip is the only app on my system that has a menu bar icon with color.

[2019-09-26 22:58] aryyya commented on #787
It definitely sticks out.

![Example](https://user-images.githubusercontent.com/29365565/65730358-59de1480-e076-11e9-9890-69a4ce445150.png)

The name should be changed from Zulip to Jupiter 🤣

[2019-09-27 16:24] saurabhkanswal opened #826 "please update electron blog link on contribution.md"
contribute.md->contribute->https://jlord.dev/blog/essential-electron
link not working please update this.

[2019-09-27 17:29] akashnimare commented on #825
This is how it will look -

![image](https://user-images.githubusercontent.com/2263909/65789176-63e93b80-e17a-11e9-9186-133e2893af06.png)

<img width="1440" alt="Screenshot 2019-09-27 at 10 59 22 PM" src="https://user-images.githubusercontent.com/2263909/65789216-7f544680-e17a-11e9-8055-425cedca22a2.png">

[2019-09-27 17:32] #826 closed, assigned to nobody

[2019-09-27 17:33] akashnimare commented on #826
@saurabhkanswal updated. Thanks for the report!

[2019-09-27 19:00] saurabhkanswal commented on #506
@zulipbot claim

[2019-09-27 19:18] saurabhkanswal commented on #506
@rrhythmsharma are you working on this issue? if yes let me know, i will un-assign myself. sorry i didn't saw your comment.

[2019-09-27 19:28] rhythm-sharma commented on #506
@saurabhkanswal,  No I am not working on it, Discuss this with Akash nimare before start working on this here https://chat.zulip.org , I don't  think so community currently want this change,  try some other issues :)

[2019-09-27 20:16] akashnimare commented on #506
@saurabhkanswal I can help you in finding the right issues to work on. Let me know if you're interested.

[2019-09-27 20:31] aryyya commented on #825
In your screenshot it looks a lot less sharp than the icons beside it, will the final version be higher res?

[2019-09-27 21:10] akashnimare commented on #825
Yup, it should be sharper I think but I'm having a bit hard time getting to the high res version.

[2019-09-28 12:14] #540 closed, assigned to muskankhedia

[2019-09-29 05:10] saurabhkanswal commented on #506
@akashnimare sure, i love to work with new issue.

[2019-10-11 20:17] akashnimare commented on #798
Closing since it's fixed.

[2019-10-11 20:17] #798 closed, assigned to nobody

[2019-10-18 05:38] NickMos opened #832 "Problem with connection to a Zulip server "Not a valid Zulip server""
---

- **Operating System**:
  - [+] Linux/Ubuntu
- **Clear steps to reproduce the issue**:
We have a Zulip server 2.0.5-0 version. Connection using browser is working fine but adding a new organization to the desktop Zulip client comes with an error that it is not a Zulip server.
Zulip is running in HTTP mode behind the proxy. The proxy makes SSL termination and HTTP to HTTPS redirection (HTTP 30

[2019-10-18 07:17] NickMos commented on #832
Also tested with different versions
3.0.0 - connects
3.1.0 - does not

and got the error from debug menu
"UNABLE_TO_VERIFY_LEAF_SIGNATURE"

[2019-10-18 08:52] NickMos commented on #832
My bad. I found the issue. I was using a cert with an incomplete chain. After I put a full chain cert everything is working fine with 4.0.0.

[2019-10-18 08:52] #832 closed, assigned to nobody

[2019-10-18 09:01] NickMos commented on #832
@akashnimare I only could suggest adding somewhere in the documentation about full chain cert. That it must be full chain complete. Because `(4) the server has a valid certificate` could be confused sometime when you see that cert is valid in a browser.

[2019-10-20 00:44] aryyya commented on #825
How can I offer assistance?

[2019-10-20 01:52] timabbott commented on #832
I think the right approach is we should have a link to our general SSL troubleshooting guide, which aims to cover a lot of issues like this:
https://zulip.readthedocs.io/en/stable/production/ssl-certificates.html

@akashnimare what do you think?

[2019-10-23 07:31] hi-ko opened #833 "Support formated text in tray notification"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
send zulip messe containing markdown/html formating which is relevant for the content. e.g.
ticket [\[#1234\]]() status changed: ~~new~~ **work in progress**
- **Relevant error messages and/or screenshots**:
tray notfication shows only plain text which is hard to understand in

[2019-10-24 09:12] kanishk98 commented on #833
Hi @hi-ko! Thanks for raising this issue. This would be great to have, but I'm not sure if this kind of formatting is possible in notifications. Can you give me some examples of apps that have this feature?

[2019-10-24 09:19] kanishk98 commented on #820
Is there a simple way to add an Electron app to the list of notification senders in the settings app so the user can use those Windows settings to turn such notifications on/off?

[2019-10-24 17:13] akashnimare commented on #820
Okay, I think we'll be needing more info from user to fix this. Since if the `Show notifications on the lock screen` is on then the Zulip app should not show the notification.

[2019-10-24 17:31] akashnimare commented on #833
I doubt if markdown is being supported in the notification reply, would love to know if some app has this feature.

[2019-10-24 17:36] akashnimare commented on #832
@timabbott just to be clear, we should be adding the following links in the error dialog, right? i.e. somewhere here -

![image](https://user-images.githubusercontent.com/2263909/67510618-e64e1800-f6b2-11e9-92bd-90272dc1b2a4.png)

[2019-10-24 17:52] akashnimare commented on #825
@aryyya would you be able to make the tray image colourless keeping the size same?
https://github.com/zulip/zulip-desktop/blob/master/app/resources/tray/trayosx%404x.png

[2019-10-24 19:58] timabbott commented on #832
Yep, that's correct.

[2019-10-25 02:58] stuartwdouglas opened #835 "Ability to increase notification visibility for recent topics"
It would be great if there was a way to increase the urgency of notifications for topics I have been recently active in.

Something like it is treated the same as an @mention if there is activity in a topic that I have posted too in the last 30m. We have a very active zulip instance which means there is a lot of noise, so if I am having a conversation I can't rely on notifications as most of them

[2019-10-25 07:08] moeenio commented on #813
The funniest with this is that you can browse literally any page modifying the `domains.json` file.
And notifications will work.

[2019-10-25 07:20] moeenio opened #836 "Showing "real" context menus right-clicking streams/topics/messages"
The right-click context menu on topics, messages, and streams only show Copy/Open. I think it should show the menu you can get clicking the arrow on the stream/message/topic (with a copy option added).

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS
- **Clear steps to reproduce the issue**: Right click any message, stream or topic.
- **Relevant error messages and/or scr

[2019-10-25 14:13] ghost opened #838 "Investigate PWA Support"
I see that Zulip Desktop 4.0.0 is still using Electron 3 (it looks like Zulip Desktop support for Electron 5 is coming) and that Chrome now has [Progressive Web Apps](https://developers.google.com/web/progressive-web-apps); would it be possible to support Progressive Web Apps for Zulip Desktop to provide similar system integration but reduce the overhead of using Electron?

[2019-10-25 15:17] akashnimare commented on #838
I think PWA and the desktop app are two separate things, right? For PWA, we gotta improve our webapp first. For that, you can report the same here -
https://github.com/zulip/zulip

[2019-10-25 15:41] akashnimare commented on #813
I'll go ahead and close this since we have already fixed this issue.

This won't work in the latest master. I'll push a new release soon so that you can test the same :)

[2019-10-25 15:41] #813 closed, assigned to nobody

[2019-10-25 15:43] akashnimare commented on #832
Done!

[2019-10-25 19:19] akashnimare commented on #833
@priyank-p do you think it's doable?

[2019-10-25 19:54] hi-ko commented on #833
Hi @kanishk98,
I've seen apps showing tray notifications containing links and basic formating but I don't know if there is one based on Electron. I'll also do some research ...

[2019-10-25 22:03] akashnimare commented on #833
@hi-ko I think if you find this in any app, let us know!

[2019-10-29 13:24] ghost commented on #838
I created [this issue](https://github.com/zulip/zulip/issues/13337) there to request support from the webapp, thanks!

[2019-10-29 13:24] #838 closed, assigned to nobody

[2019-10-29 17:26] nikomatsakis opened #839 "cannot zoom out in windows app"
I accidentally zoomed in much too far on https://rust-lang.zulipchat.com/, which I am viewing in the Windows App. Unfortunately, pressing `Ctrl+-` doesn't make the make the text size any smaller. Selecting Zoom Out from the menu also has no effect. Selecting "Zoom to actual size" (`Ctrl+0`) also does nothing. Removing the organization and adding it back again also had no effect; the text remained

[2019-10-29 18:11] nikomatsakis commented on #839
OK, sorry this is so unhelpful. I wound up doing a Factory Reset, which (after some killing of processes), did allow me to zoom back out again.

[2019-10-29 23:18] #839 closed, assigned to nobody

[2019-10-29 23:19] timabbott commented on #839
Transferring issue to the desktop repo in case anyone else reproduces this.

[2019-11-18 08:59] santherics opened #842 "Click on desktop notification doesn't open the message in the app"
Ubuntu 16.04 64bit + Unity
Zulip app 4.0.1 installed from the repo

When the notication appears and I click (once or twice, doesn't matter) on it, the app doesn't maximize and doesn't show the message.

[2019-11-18 09:07] akashnimare commented on #842
Yeah, as far as I know, this is not supported in the electron so will have to wait until they provide this feature. can you investigate more on this @muskankhedia?

[2019-11-18 10:51] santherics commented on #842
This feature works on Ubuntu 18.04 and Mate Desktop

[2019-11-18 13:57] akashnimare commented on #842
@santherics yeah, it's platform limitations.

[2019-11-25 16:02] j0hannesr0th opened #844 "manual update required?"
Everyone in our company has the Windows client with version 2.3.82 installed.
![grafik](https://user-images.githubusercontent.com/36242595/69556535-27349780-0fa5-11ea-9455-16df514cdea6.png)

Today I saw that 4.0.3 is already out but we're stuck on 2.3.82.

Is the updater broken in our version? Should we wait or do a manual upgrade?

---

- **Operating System**:
  - [x] Windows

[2019-11-26 10:28] akashnimare commented on #844
@hmr-it-jr hey, I have yet to upload the files for Windows Zulip app v4.0.3. But I think v2.3.82 is too old and you might need to do the manual upgrade here.
https://zulipchat.com/apps

[2019-11-26 10:45] #844 closed, assigned to nobody

[2019-11-28 01:43] devurandom commented on #620
I see this in my systray when Zulip has unread messages: ![Screenshot_20191128_023723](https://user-images.githubusercontent.com/63082/69770137-1d1ebe80-1188-11ea-9062-fd3ccefe2c93.png)
Is that the same bug, or shall I open a separate report?

Fedora 31, KDE Plasma 5.16.5, KDE Frameworks 5.61.0, Qt 5.12.5.

[2019-11-28 09:28] akashnimare commented on #620
@devurandom the image is too small. Can you please post another screenshot/gif etc?

[2019-11-28 12:49] fdcds commented on #620
@akashnimare The icon is very small on the screen too, so no idea how to enlargen it...

It shows a white rectangle with rounded corners, with the bottom right corner cut off. In the middle of the rectangle is a grey triangle with an white exclamation mark in the middle.

[2019-11-28 15:05] akashnimare commented on #620
Hmm, looks like it's broken for some reasons.

[2019-11-28 22:02] devurandom commented on #620
I also had a look with my Gentoo Linux machine with KDE Plasma 5.17.3, KDE Frameworks 5.64.0, Qt 5.13.2 and the issue is the same.

[2019-11-29 21:19] bdon commented on #787
https://github.com/zulip/zulip-desktop/pull/845

[2019-12-02 18:23] timabbott commented on #620
Is it possible we're just not registering the icon in the right way for KDE?

[2019-12-03 05:54] akashnimare commented on #620
I don't have the KDE so it's hard to debug the root cause but as far as I know, this could be the platform-limitation from electron's side. They usually don't cover all the distros. For example, the badge api only works in Ubuntu 16+( with unity launcher).

[2019-12-03 09:50] fdcds commented on #620
The Zulip logo displays fine as long as Zulip has no internet connection. Once it has a connection, the logo changes to the one described in https://github.com/zulip/zulip-desktop/issues/620#issuecomment-559307696 and https://github.com/zulip/zulip-desktop/issues/620#issuecomment-559482623. I assume it is related to when it displays the unread message count.

A little bit confusing: I remember tha

[2019-12-04 23:24] dronmaxman opened #846 "Shortcuts work only in english keyboard layer"
---

- **Operating System**:
macOS Catalina 10.15.1
- **Clear steps to reproduce the issue**:
I'm from Ukrain and use two and more keyboad layers. When I swich to Russian language shortcuts stop working.
- **Relevant error messages and/or screenshots**:
No any errors, just not working.

[2019-12-05 16:25] becken opened #848 "Rendering artifacts on Linux"
I tested Zulip-4.0.0-x86_64.AppImage on Linux 4.19 with X.Org 1.18.3 for a very short period before noticing severe rendering artifacts on text as well as images.

The application produces effects like in the below screenshot quite frequently. Tested with the chat.zulip.org server.

---
- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issu

[2019-12-06 08:19] akashnimare commented on #848
This is bad. Let me cross-check this on my system.

[2019-12-07 04:09] Balint134 commented on #464
Hi, any news on this? Google published their new policy back in April https://security.googleblog.com/2019/04/better-protection-against-man-in-middle.html
According to this, they are now blocking all embedded browsers resulting in Google auth being broken when done from the desktop app.

For example I'm seeing the following when trying to log in using Google:
<img width="1095" alt="Screen Shot 201

[2019-12-07 08:55] kanishk98 commented on #737
@akashnimare I think this problem was addressed in #761, right? I haven't seen reports of a similar issue since then.

[2019-12-07 08:56] kanishk98 commented on #694
Tackled and fixed in #723. Thanks for the help, everyone. :)

[2019-12-07 08:56] #694 closed, assigned to nobody

[2019-12-07 09:02] kanishk98 commented on #846
Hello @dronmaxman! Thanks a lot for raising the issue.

I'm sorry, but I can't really understand your problem. I'm not sure what keyboard layers are - do you intend to say keyboard layouts instead?

Does this mean that when you switch languages for the app, shortcuts don't work for you?

I'm sorry if these questions are a bit simplistic - I'm new to working with international users, and haven't re

[2019-12-07 09:04] kanishk98 commented on #836
Hmm, I think this is a good idea. We should be able to do this.
@akashnimare it'll be great if you can let us know what you think - I'd like to make sure we're not disrupting a commonly used interface here.

[2019-12-07 09:06] kanishk98 commented on #835
This is a pretty cool suggestion. Thanks @stuartwdouglas!

I'm not sure if this is something that should be implemented entirely in the desktop app, though. If we were to put this in the web app instead and then simply pull the notifications from there as usual, that might be a better solution.
Would that solve your issue?

[2019-12-07 09:09] kanishk98 commented on #825
@akashnimare I'd love to help out here. Can you tell me how you got that colourless icon in the first place? Maybe I can go from there.

[2019-12-07 15:26] moeenio commented on #836
We can keep the arrow button, and have the right-click as an addition

[2019-12-07 17:23] akashnimare commented on #464
@Balint134 thanks for reporting this, I didn't know that Google is blocking it. Let me see what we can do here.

cc @kanishk98

[2019-12-07 17:24] akashnimare commented on #737
Yeah, I think we are good here.

[2019-12-07 17:24] #737 closed, assigned to nobody

[2019-12-07 18:17] akashnimare commented on #835
@timabbott I think we should do this in the web-app?

[2019-12-07 21:20] omry opened #849 ""GitHub no longer support your web browser" in desktop app"
It is no longer possible to authenticate with GitHub in the desktop app.
See screenshot.
A solution can be to update the user agent sent to GitHub.

![image](https://user-images.githubusercontent.com/376455/70380685-13b5f480-18f4-11ea-99b9-fde465e8c373.png)

[2019-12-08 06:53] stuartwdouglas commented on #835
That makes sense, I was not really sure about the internals, I use the desktop app so I made an assumption that it was the place to file the issue.

[2019-12-09 00:18] timabbott commented on #849
@omry just to confirm, what desktop app version are you using?

@akashnimare we need to prioritize investigating this ASAP -- since I'm not aware of a mechanism that someone would get this without it breaking GitHub social auth for everyone using the desktop app.

[2019-12-09 00:19] timabbott commented on #835
Yeah, there's an open webapp issue for this; in any case work on this is certainly planned.  I think https://github.com/zulip/zulip/issues/12309 is the best place to follow.

[2019-12-09 00:19] #835 closed, assigned to nobody

[2019-12-09 00:20] timabbott commented on #464
@akashnimare this is likely something that requires an Electron upgrade.  I think we need to focus on shipping up an Electron upgrade (which probably means making our next release be more or less only upgrading Electron).

[2019-12-09 00:29] omry commented on #849
I am using v4.0.0, this seems to be the latest version.

[2019-12-09 08:22] akashnimare commented on #849
Will fix the issue by this week.

[2019-12-11 09:56] parthi2929 opened #851 "Zulip not starting up in Windows"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Simply install latesst version v4.0.0, ensure in settings startup at login enabled  and restart
- **Relevant error messages and/or screenshots**:
The zulip app is not started on startup (not on main desktop nor in system tray)

[2019-12-11 10:21] akashnimare commented on #851
@parthi2929 have you turned on the following setting-

![image](https://user-images.githubusercontent.com/2263909/70613058-0bc8be00-1c2e-11ea-81cd-7139f4d44c6a.png)

[2019-12-12 07:41] parthi2929 commented on #851
yes, of course. These are set by default as well.

[2019-12-12 07:43] akashnimare commented on #851
Okay. Let me check. Are you on Windows 10? Can you tell me the build version etc?

[2019-12-12 07:45] parthi2929 commented on #851
yes, please check below.

![image](https://user-images.githubusercontent.com/11896263/70692483-76870180-1ce1-11ea-916b-e4bc838fdc66.png)

[2019-12-13 05:51] parthi2929 commented on #851
any update?

[2019-12-14 09:23] akashnimare commented on #851
@parthi2929 tested this on my machine, works as expected. Can you toggle the startup setting again and see if it works?

[2019-12-14 09:25] akashnimare commented on #851
Can you check if it's registered properly -

[code]

[2019-12-14 13:32] devurandom commented on #620
Correction: Disabling "Show app unread badge" in the settings has no impact.

Addition: When I disable "Show app icon in system tray" and then re-enable it, I get a green circle with "99+" inside. This is independent of the "Show app unread badge" setting.

[2019-12-17 15:40] sulian commented on #851
Same problem here (**Windows 10 Pro 1903 18362.535**), and no entry in registry.
Need to add manual entry by `shell:startup`

[2019-12-17 19:24] akashnimare commented on #851
@vsvipul, @kanishk98 can you guys reproduce this?

[2019-12-20 06:19] parthi2929 commented on #851
This is what my Run area in registry looks like

![image](https://user-images.githubusercontent.com/11896263/71234394-a60bbe80-231e-11ea-9ac9-eb8a8734fc5d.png)

Should we add Zulip here? If so, how and what?

[2019-12-25 09:34] texport opened #855 "Change language desktop app"
Hello.

I am using the Windows 10 operating system and the latest current version of Zulip. The fact is that I can’t find a language change in the application, I suspect that the application is taking information from the operating system. I could use the default language, but it is not readable. Please tell me how to change the language in the desktop version without changing the language in the

[2019-12-29 02:43] omry commented on #849
Any update?

[2019-12-29 09:43] akashnimare commented on #849
@omry we are working on this - https://github.com/zulip/zulip-desktop/pull/854

[2019-12-31 15:41] parthi2929 commented on #851
Hello? Please update as we intend to use this in our company.

[2019-12-31 18:11] akashnimare commented on #851
@parthi2929 I'll test this on some other windows machines as well since it's working for me as expected.

we are currently using our own mechanism for auto-start. I'll dig deeper into this and if our mechanism doesn't work we'll go with the official electron API but we'll definitely fix this one way or another.

[2020-01-01 05:29] parthi2929 commented on #851
Thank you @akashnimare  In mean time, can we have any work around? Like tweaking registry with a manual addition etc?

[2020-01-02 09:54] akashnimare commented on #851
@parthi2929 you can add `zulip` manually to the registry and it should work. Just right-click in that area and add a new key + add the value (i.e. the path of the zulip app).

Here are the full-steps -

https://cl.ly/354fcad9ac19

Let me know if it works.

[2020-01-10 13:19] vsvipul commented on #836
I think this won't technically me possible inside the webview. How do you plan to make it work @kanishk98  ?

[2020-01-10 13:21] moeenio commented on #836
I believe we can use an `contextmenu` event listener to show the current dropdown

[2020-01-10 18:20] vsvipul commented on #851
@parthi2929 Can you test this and see if works for your system ? https://github.com/zulip/zulip-desktop/pull/859

[2020-01-11 12:00] parthi2929 commented on #851
@vsvipul I did not try as @akashnimare suggestion worked. Hope this fix is included (path was different, not Program Files) as we would need this to be automatic for all team members.

Actual path:
[code]

[2020-01-11 18:34] akashnimare commented on #851
Awesome. I'll update you once we push a proper fix for the same.

[2020-01-11 19:10] vsvipul commented on #836
@locness3  Yes, but how do you plan to capture on which element the user has right clicked?

[2020-01-11 19:24] vsvipul commented on #727
@zulipbot claim

[2020-01-11 19:34] vsvipul commented on #855
@texport  Why do you say that the default os language is not readable?

[2020-01-12 16:23] moeenio commented on #836
well, with event.target

[2020-01-12 16:53] vsvipul commented on #836
@locness3 Maybe it can work, I am willing to work on this if this is really required and will improve UX. @akashnimare  thoughts?

[2020-01-12 16:56] som23ya commented on #409
@zulipbot claim --force

[2020-01-12 19:02] vsvipul commented on #825
![trayosx@4xwhiytetrue](https://user-images.githubusercontent.com/21038781/72224063-1fa07080-359c-11ea-8754-2e9725e9021f.png)
@akashnimare  can you try out this icon on mac and see how it looks?

[2020-01-12 19:58] vsvipul opened #860 "Fix Todo typescript issues."
Several Todos were left during the typescript migrations which need to fixed now. These can be found by searching for "TODO: TypeScript" in the repository.

Fix these.

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
- **Relevant error messages and/or screenshots**:

[2020-01-13 04:46] akashnimare commented on #836
We have the same behaviour as the Chrome I think. I really doubt that we need to update our current behaviour. @timabbott should we proceed in this direction? I'm happy with the current implementation which is getting those options when clicked on arrow. And I don't think folks will expect a right-click there.

[2020-01-13 04:52] akashnimare commented on #825
Let me check.

[2020-01-13 05:35] akashnimare commented on #825
@vsvipul thanks, that looks good. @aryyya this is how it looks in the dark theme -

![image](https://user-images.githubusercontent.com/2263909/72234674-21961e00-35f4-11ea-85e5-3006236f9d83.png)

For the light theme, we need to use the current one only since colourless is not visible there.

[2020-01-13 13:10] vsvipul commented on #846
Similar issue - https://github.com/microsoft/vscode/issues/24057
They create custom keyboard mappings to solve this.

[2020-01-14 00:24] timabbott commented on #836
Yeah, I don't think it makes sense to move away from browser default behavior in this one place.

[2020-01-14 13:21] vsvipul opened #862 "Improve reconnect error page."
The visual appearance of the reconnect error page we see when there are problems with the internet connection can be significantly improved.

![Screenshot from 2020-01-14 18-48-18](https://user-images.githubusercontent.com/21038781/72347682-aec59980-36fe-11ea-97ce-0109505f2c5f.png)

- **Clear steps to reproduce the issue**:
Start the app without an internet connection

[2020-01-14 15:12] akashnimare commented on #836
Make sense. We can revisit this later once we get more feedback on this.

[2020-01-14 15:12] #836 closed, assigned to nobody

[2020-01-14 18:40] moeenio commented on #836
Well, we could do this on the web version as well

[2020-01-17 09:30] thesmallstar commented on #862
can I work on this?

[2020-01-21 11:13] vsvipul commented on #862
@thesmallstar Yes, why not? Work on it, make a PR. Also, attach a screenshot showing what changes you made.

[2020-01-21 18:33] som23ya commented on #862
@zulipbot claim --force

[2020-01-21 18:34] som23ya commented on #862
Hey! can i contribute to this?

[2020-01-24 09:26] akashnimare commented on #846
@vsvipul is there anything we could do about this?

[2020-01-26 10:48] jshreyans commented on #860
Hi @vsvipul. I'm new to Zulip-desktop and would love to start contributing here. Can I take up this issue?

[2020-01-27 02:45] parthi2929 commented on #851
Any update? It would be tedious for us to fix register in each and ever zulip team member PC.

[2020-01-27 07:22] akashnimare commented on #851
@parthi2929 yeah, we have pushed a fix in https://github.com/zulip/zulip-desktop/pull/859. Just need to test the same on Windows.

[2020-01-27 07:23] akashnimare commented on #860
@jshreyans hey, feel free to take this up. More info -

https://github.com/zulip/zulip-desktop/blob/1da6e5d51d3c2a56d72e943ce5ebead28140e493/README.md

https://github.com/zulip/zulip-desktop/blob/b76f01349a07ee18f50b83d0ca18e834f34005fa/CONTRIBUTING.md

[2020-01-28 05:55] jshreyans commented on #860
Thanks a lot. I'll send a PR as soon as possible.

[2020-01-28 06:56] #851 closed, assigned to akashnimare

[2020-01-28 13:04] parthi2929 commented on #851
@akashnimare great, I could not find when its planned. It could be available already in any beta?

[2020-01-28 18:37] akashnimare commented on #851
@parthi2929 I'll update here once we ship this to prod.

[2020-01-30 09:18] akashnimare commented on #825
@aryyya we are still using the colour icon for the light theme -

![image](https://user-images.githubusercontent.com/2263909/73435892-85984080-436f-11ea-9ded-c111a4c02d54.png)

For the dark theme -
![image](https://user-images.githubusercontent.com/2263909/73435907-8e891200-436f-11ea-9eff-d4b888a4ba02.png)

[2020-02-01 05:41] parthi2929 opened #865 "Show only stream specific users on right panel"
---

- **Operating System**:
  - [x ] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
In any stream, you could see all users on right side bar. I would like to see only those that are subscribed to the stream I have opened. I could not find this option anywhere in settings.
- **Relevant error messages and/or screenshots**:

[2020-02-03 03:12] timabbott commented on #865
There's an open effort to add such a setting in the appropriate project: https://github.com/zulip/zulip/pull/12846

[2020-02-03 03:12] #865 closed, assigned to nobody

[2020-02-03 04:41] parthi2929 commented on #865
@timabbott the screenshots link asks to register.. could we expect this fix in next release?

[2020-02-03 05:40] timabbott commented on #865
It'll be in an upcoming webapp update; we don't have a timeline for it at this time.

[2020-02-04 22:45] chrisbobbe opened #866 "Undo not working in compose box on macOS"
EDIT: Observed only on macOS so far. Seems not to affect Linux; untested on Windows.

I (on Zulip desktop 4.0.0) and another member of the Recurse Center noticed that undo isn't working in the compose box on macOS, either from the Edit menu or by using command-Z. Immediately after typing some text, if you try to undo, your input doesn't change at all.

I'm not sure if this is a bug, or a feature t

[2020-02-04 22:56] ngoldbaum commented on #866
seems to work fine on linux

[2020-02-04 23:15] ngoldbaum commented on #866
(I'm using 4.0.1 though, maybe you want to update your client?)

[2020-02-04 23:24] chrisbobbe commented on #866
Hmm, I'm not sure how you got 4.0.1, as it isn't on the releases list (https://github.com/zulip/zulip-desktop/releases) -- but I just tested on the 4.0.2 pre-release on Mac and undo is still not working. :)

[2020-02-05 15:34] akashnimare commented on #866
Just tested this, I can confirm this issue.

[2020-02-05 16:11] #825 closed, assigned to nobody

[2020-02-14 10:21] XAMPPRocky opened #869 "Rendering artifacts in stream setting screen on macOS 10.15"
Every time I open the stream settings screen I get the exact same artifacting that makes using that screen completely unusable. I've tried this across restarts of both the app and OS.

- **Operating System**:
 macOS (10.15.2 (19C57))
- **Clear steps to reproduce the issue**:
- Click on the stream setting screen.

### Screenshot
<img width="1421" alt="Screenshot 2020-02-14 at 11 22 16" src="https:/

[2020-02-16 09:25] XAMPPRocky commented on #869
Another one I encountered was when I selected the email address the whole section disappeared.
<img width="1205" alt="Screenshot 2020-02-16 at 10 22 33" src="https://user-images.githubusercontent.com/4464295/74602187-6f47ef80-50a6-11ea-833c-2a09566474a8.png">

[2020-02-16 10:41] eXtrem0us opened #870 "Multiple instances by reopening Zulip"
---

- **Operating System**:
  - [ ] Linux/Debian - Mate Desktop
- **Clear steps to reproduce the issue**:
Installing Zulip Desktop through snap
- **Relevant error messages and/or screenshots**:
When the Zulip Desktop App is openned, by reopening Zulip, another instance of application is created.

![image](https://user-images.githubusercontent.com/7892702/74603144-aed20400-50c5-11ea-8e4f-11e3899d5

[2020-02-16 16:58] akashnimare commented on #870
This is the first time I'm seeing this error on prod. Let me check if I can reproduce this on my system.

[2020-02-16 17:00] akashnimare commented on #869
@XAMPPRocky hey, thanks for reporting this. Can you reproduce the same thing in the browser?

[2020-02-16 17:17] XAMPPRocky commented on #869
@akashnimare I just tested on Safari, and did not have these issues.

[2020-02-23 04:19] akashnimare commented on #869
@XAMPPRocky I can't reproduce this. Can you please tell us the details of your system (RAM etc)?

[2020-02-23 05:35] akshatsachan commented on #860
@zulipbot claim

[2020-02-23 09:23] XAMPPRocky commented on #869
I've included as much system information as possible. @akashnimare I joined another zulip org and tested it there, and there is definite difference between a zulip org with few streams (Loads fast and is somewhat noticeable) to one with a lot of streams (Slow, and looks like above).

### About This Mac
<img width="698" alt="Screenshot 2020-02-23 at 10 13 04" src="https://user-images.githubusercont

[2020-02-23 11:30] akashnimare commented on #869
@XAMPPRocky thanks for the detailed info.

Would it be possible for you to check the Zulip version in both the orgs? You can see the version at `org_url/api/v1/server_settings`. Example -

https://chat.zulip.org/api/v1/server_settings

[2020-02-23 11:50] XAMPPRocky commented on #869
Rust-lang: 2.0.0-4046-g020190241a
Bytecodealliance: 2.0.0-4046-g020190241a

They are both hosted on `zulipchat.com`.

[2020-02-24 04:10] akashnimare commented on #869
@timabbott any idea here?

[2020-02-24 14:58] peterdalydickson commented on #866
I can confirm the issue too, on v4.0.0 of macOS desktop app

[2020-02-24 20:11] timabbott commented on #869
Well, the version display bug for zulipchat.com is something I've fixed for the next production deployment there.  zulipchat.com is all we need to know about server version.

What desktop app version is it?  This sounds like a Chromium bug that will likely only be fixable by upgrading Electron; I'd like to be sure you're on 4.0.x.

[2020-02-24 20:27] XAMPPRocky commented on #869
@timabbott My desktop version is `v2.3.82`, and I have auto updates on.

[2020-02-25 14:35] #849 closed, assigned to nobody

[2020-02-26 06:22] iyashwantsaini commented on #862
@zulipbot claim

[2020-02-26 07:46] iyashwantsaini commented on #862
Can i completely change the UI of the network page?

[2020-02-27 15:00] anirudhsingh20 opened #873 "report an issue (application menu -> help)"
- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubuntu
  - [x] macOS
- **Clear steps to reproduce the issue**:
  1. on application menu click on help
  2. click on report an issue
  3. see modal of report issue

Currently:
![1reportIssue](https://user-images.githubusercontent.com/49402380/75455307-56411780-599f-11ea-8819-18cf31d67800.PNG)

Expected :
![reportIssuefix](https://user-images.git

[2020-02-27 15:00] anirudhsingh20 opened #874 "report an issue (application menu -> help)"
### placeholder text should display more information in report issue.

- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubuntu
  - [x] macOS
- **Clear steps to reproduce the issue**:
  1. on application menu click on help
  2. click on report an issue
  3. see modal of report issue

Currently:
![1reportIssue](https://user-images.githubusercontent.com/49402380/75455307-56411780-599f-11ea-8819-

[2020-02-27 15:01] anirudhsingh20 commented on #874
Can I work on this issue?

[2020-02-28 11:10] XAMPPRocky commented on #869
This is no longer an issue, though the UI does feel sluggish on the `rust-lang` zulip.

[2020-02-28 11:10] #869 closed, assigned to nobody

[2020-02-28 15:34] iyashwantsaini commented on #409
Does the issue still persist ?

[2020-02-28 20:51] timabbott commented on #869
Great.  In the last few days we added a big banner notice for folks running 2.3.82; that version has a bug that prevents it from auto-updating, which is likely why were stuck on it.

[2020-02-29 11:38] abhigyank commented on #874
Same as #873 .

[2020-02-29 11:38] #874 closed, assigned to nobody

[2020-02-29 15:17] iyashwantsaini commented on #870
I faces a similar issue
![Screenshot from 2020-02-29 20-42-52](https://user-images.githubusercontent.com/21121279/75610161-b0bfac80-5b34-11ea-9728-baf61fb3953a.png)

Ubuntu 18

[2020-03-01 06:09] timabbott opened #877 "Auto-reload behavior when connected to an invalid organization is buggy"
You can easily reproduce this as follows:
* Connect to an unavailable organization (e.g. `localhost:10000`, or `localhost:9991` with no development server running).
* Try to go to the settings UI
* After a few seconds, you'll be navigated back to the unavailable organization's page, as part of the app's auto-reconnect retry behavior.

What we should fix:
* The auto-retry behavior shouldn't move th

[2020-03-01 06:50] timabbott opened #878 "Enable promise/prefer-await-to-then linter rule"
We should convert all of our asynchronous code using `.then()` to use `async/await` instead.

We can find the code to change easily by removing the `package.json` configuration we have to disable the  `promise/prefer-await-to-then linter rule` linter rule.

[2020-03-01 06:56] iyashwantsaini commented on #878
@zulipbot claim

[2020-03-01 07:45] adityamudgil2505 commented on #878
@zulipbot claim

[2020-03-02 09:04] schrej opened #880 "Indicate legacy/unmaintaned state on latest zulip-electron release"
We've just noticed the old zulip-electron repository still exists.
The [releases page](https://github.com/zulip/zulip-electron/releases) still contains the last release from that repository and it's marked as "latest release". Since zulip-electron is superseded by zulip-desktop by now, I'd recommend to add a notice telling people to switch to the new client, as it's not that obvious that zulip-ele

[2020-03-02 10:27] adityamudgil2505 commented on #878
@timabbott Do I need to solve this error or ignore it while testing?
`Unexpected negated condition.  no-negated-condition`

[2020-03-02 14:50] manavmehta commented on #623
Do we still have to work on the third setting of "Never Show Badge'' or has it been done on the webapp ?
@akashnimare @timabbott Seems to have been implemented already ?

[2020-03-02 14:57] manavmehta commented on #877
If the organisation doesn't exist then it shouldn't get added in the first place.
I am not sure how anyone would be able to add an unavailable organisation.
@timabbott

[2020-03-02 21:46] timabbott commented on #880
The situation is kind of a mess, and some of the things we'd like to here are not technically possible.  The root cause of this is a bug in v2.3.82's auto-updater software (which is done via a the third-party dependency, `electron-builder`) which made the app crash on startup if a newer version was added to the "releases" page.  that project does claim it's frozen in the "description" at the top,

[2020-03-02 21:52] timabbott commented on #880
I at least marked zulip-electron as a dead repository very clearly on its README page, thanks for the report.  I expect we'll delete the repository soon as well; zulipchat.com logs show that already a significant large majority of clients previously on v2.3.82 have upgraded manually, so whatever negative impact of having that app version crash on startup is rapidly falling.

[2020-03-03 04:26] andersk opened #886 "Remove deprecated request module"
The `request` module is [deprecated](https://www.npmjs.com/package/request). Although it is still used by our indirect dependencies, we should replace our direct uses of it.

[2020-03-03 05:31] akashnimare commented on #886
Damn, just came to know about this. Will have to explore alternatives now.

[2020-03-03 10:23] Bearbobs commented on #886
Moving to something like `axios` or `urlib` can be a good solution

[2020-03-03 11:38] akashnimare commented on #886
Yeah, gotta see if those satisfy our requirements (proxy support etc).

[2020-03-03 12:13] andersk commented on #886
I do feel compelled to ask: given that Electron is, you know, a web browser…do we actually need a separate third-party library to make web requests? Can we just use [`electron.net`](https://www.electronjs.org/docs/api/net)?

[2020-03-03 12:29] Bearbobs commented on #886
`electron.net` is another fork of `request` module, I guess

[2020-03-03 15:51] schrej commented on #880
On the releases page that's not visible. If you switch to releases quickly without reading the description (because why would you when you've been on the repo before), the releases still lists the latest release as "stable". If it's possible to change the description of that release, it would help to add a note there as well that it's not actually the latest version. Unless you delete the whole re

[2020-03-03 16:41] manavmehta commented on #561
@zulipbot claim

[2020-03-03 16:42] manavmehta commented on #548
@zulipbot claim

[2020-03-03 16:48] manavmehta commented on #548
@zulipbot I have already made two PRs that are pending for review. Also I am working on both of the issues.
Please allow me to take this one up too.

[2020-03-03 16:55] abhigyank commented on #548
@manavmehta sure go ahead. I would suggest to build up on PR #617.

[2020-03-03 19:23] andersk commented on #886
I [don’t see](https://github.com/electron/electron/commits/master/lib/browser/api/net.js) any evidence of that. But that wouldn’t matter; the Electron developers will maintain `electron.net` regardless of what happens to any modules it may or may not be a fork of.

[2020-03-03 19:23] timabbott commented on #880
We do this as of Friday.

[2020-03-03 19:25] timabbott commented on #886
Yeah, it seems like switching to `electron.net` makes a lot of sense.

[2020-03-03 19:29] Bearbobs commented on #886
@andersk makes sense, can I please work on migrating `request` to `electron.net`?

[2020-03-04 04:40] #878 closed, assigned to adityamudgil2505

[2020-03-04 05:46] #873 closed, assigned to nobody

[2020-03-04 07:56] akashnimare commented on #886
@Bearbobs can you first check if we can use it in the `renderer` process or not?

[2020-03-04 08:30] adityamudgil2505 commented on #877
When I connect to localhost:10000 it instantly gives me an error.
![Screenshot 2020-03-04 at 1 56 44 PM](https://user-images.githubusercontent.com/25535045/75859536-3044c880-5e20-11ea-8e8e-ae5a1bc72e18.png)
@timabbott Can you elaborate on what we are trying to solve?

[2020-03-04 08:37] Bearbobs commented on #886
on it, will revert back @akashnimare.
Thanks,

[2020-03-04 08:54] adityamudgil2505 commented on #866
@zulipbot claim

[2020-03-04 13:39] adityamudgil2505 commented on #866
@akashnimare Undo and Redo have no effect inside <webview> tag after v1.8.8 for macOS. [Read this](https://github.com/electron/electron/issues/15728)

[2020-03-05 17:14] abhigyank opened #891 "Replace deprecated isDarkMode"
Since we have moved to electron 8, we need to replace deprecated APIs. One of them is [isDarkMode](https://www.electronjs.org/docs/api/system-preferences#systempreferencesisdarkmode-macos-windows-deprecated), it is to be replaced by `shouldUseDarkColors`. We use it for tray icons.

[2020-03-05 18:02] manavmehta commented on #891
@zulipbot claim

[2020-03-07 17:47] adityamudgil2505 commented on #787
@zulipbot claim

[2020-03-07 18:09] adityamudgil2505 commented on #787
@timabbott @akashnimare We are not giving inner padding from all sides of 512x512 zulip logo. Whereas, other logos (example safari, launchpad, finder, etc.) are giving inner padding of 30px from all sides.

![Detailed explaination using Image](https://user-images.githubusercontent.com/25535045/76150120-d3216f00-60cc-11ea-8031-28b8c050ac6d.png)

[2020-03-08 09:25] #891 closed, assigned to manavmehta

[2020-03-09 04:44] vinitS101 opened #895 "Buggy notification"
The code that resets the notification counts does not seem to be working as discussed here - https://chat.zulip.org/#narrow/stream/16-desktop/topic/buggy.20notification/near/827787

The desktop app icon always has a 'phantom' notification even if there are no new messages.

[2020-03-09 19:02] #866 closed, assigned to adityamudgil2505

[2020-03-10 08:26] Bearbobs commented on #886
@akashnimare yes we can use it for the `renderer` process, it's quite straight forward as the request package

[2020-03-10 20:11] adityamudgil2505 commented on #650
@akashnimare @kanishk98 Back is not working when someone goes to setting and then try to go back to the organization. But it works fine inside the organization. I think for the problem in the broken back for setting, we can store the organization into a variable and fetch it when it's required.
[Tested on macOS]

[2020-03-11 07:04] akashnimare commented on #650
@adityamudgil2505 can you open a WIP PR with your fix?

[2020-03-11 18:31] adityamudgil2505 commented on #650
@zulipbot claim

[2020-03-11 19:17] adityamudgil2505 commented on #860
@zulipbot claim

[2020-03-11 20:05] orientor commented on #870
In Ubuntu 18.04 if I disconnect from an organization another instance opens up.
![Screencast-from-Thursday-12-March-2020-01_26_25-IST](https://user-images.githubusercontent.com/13984827/76459397-1c8df900-6402-11ea-92db-b908f4b0e1c5.gif)

[2020-03-11 20:54] timabbott commented on #895
This issue seems really important, just because it produces highly visible incorrect behavior (on Windows only, it sounds like).

[2020-03-11 21:01] Somtozech opened #898 "Add package-lock.json to .gitignore"
The package-lock.json conflicts with the lock files for other package managers that is not npm eg Yarn. Removing the package-lock.json from the repo and adding it to .gitignore solves this conflict issue

[2020-03-11 21:13] Somtozech commented on #533
@zulipbot claim

[2020-03-11 21:39] Somtozech commented on #533
@abhigyank can i work on this issue?. There seem to be some PR's that solve the issue already

[2020-03-11 22:33] Somtozech commented on #886
Anyone working on this already?

[2020-03-12 00:56] Bearbobs commented on #886
@Somtozech me

[2020-03-12 06:41] andersk opened #899 "Open an upstream Electron issue for macOS undo/redo bug"
The undo/redo issue #866, worked around by #890, appears to be an upstream Electron issue. @adityamudgil2505 provided a reference to electron/electron#15728, but that was reported against Electron 3 and closed as need-info. Someone who has a Mac and can reproduce this issue in a currently supported Electron version should provide upstream with the needed information and either get that bug reopene

[2020-03-12 16:21] abhigyank commented on #533
The PR already seems to solve this issue, which I think is still redundant. I'd suggest not working on this issue.

[2020-03-12 19:45] abhigyank commented on #855
@timabbott should we support this?
It could be a simple setting and can be easiliy added I suppose.

[2020-03-17 20:23] manavmehta commented on #855
@zulipbot claim

[2020-03-18 04:51] Cybernisk commented on #899
I can confirm the issue, on v4.0.3 of macOS v10.11.6 desktop app, cmd+z not working. Should I provide any additional information?

[2020-03-18 08:06] andersk commented on #899
@Cybernisk We need to confirm this *in a currently supported Electron version* (so not Zulip Desktop v4.0.3, which uses Electron 3), and ideally produce a minimal test case (so not Zulip Desktop at all, since that isn’t minimal). The goal is to provide an actionable bug report to the Electron developers so they can fix it.

[2020-03-18 08:32] akashnimare commented on #899
@adityamudgil2505 are you up for this? I know that you have tested the app against v8 and it still doesn't work and we have to report the same.

[2020-03-18 08:41] adityamudgil2505 commented on #899
@akashnimare  Yes, this issue still exists in the latest version of electron v8.1.1 on macOS Catalina. I agree with @andersk to report a bug to Electron developers.

[2020-03-18 09:17] adityamudgil2505 commented on #786
@akashnimare @timabbott @vsvipul  Can we provide a feature of some **predefine CSS theme** (as shown in the gif) so that the user can choose his favourite one and along with custom CSS theme which he/she can upload.
And currently, custom CSS theme is not stored inside the application, somehow if the user deletes some files which by mistake includes custom css theme which he/she uses in the desktop

[2020-03-18 09:42] Bearbobs commented on #886
@akashnimare @timabbott
https://chat.zulip.org/#narrow/stream/16-desktop/topic/GSoC-2020/near/833454

[2020-03-18 12:11] akashnimare commented on #786
We can add this if it adds value.

[2020-03-18 12:15] andersk commented on #899
@adityamudgil2505 Can you go ahead and do that, then? When you’re done, leave a link to the new Electron issue here so the rest of us can follow it. Thanks!

[2020-03-18 12:17] adityamudgil2505 commented on #899
@andersk Sure, I will create an Issue.

[2020-03-18 13:40] adityamudgil2505 commented on #899
@andersk Issue Link
Undo/Redo has no effect inside webview  https://github.com/electron/electron/issues/22744

[2020-03-18 13:43] adityamudgil2505 commented on #786
@akashnimare It will be easy for the user to customize there UI without adding a CSS script.

[2020-03-18 19:48] adityamudgil2505 commented on #364
@akashnimare I wish to work on this. Can I start working on this?

[2020-03-18 21:04] adityamudgil2505 commented on #406
@akashnimare I wish to work on this issue.
I have some query regarding this issue:

1. Does the release is regular release or a draft release?
2. On which branch does the deployment for the release branch should run?

[2020-03-19 09:03] akashnimare commented on #406
1. Draft
2. All I think

So basically we want to set this up in a way that if someone opens a PR, will get all the installers (for inspiration, check out other electron apps) for that particular PR so we don't need to invest time in building/testing the installers.

[2020-03-19 09:22] adityamudgil2505 commented on #406
@zulipbot claim

[2020-03-19 15:41] priyank-p commented on #406
@adityamudgil2505 I suggest you look into github action for doing this.

[2020-03-19 19:50] MasonProtter opened #900 "Use system default dictionary"
- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS

I'm Canadian and default to a Canadian dictionary on my system but in the desktop app, if I write something like 'coloured' it shows up as a typo with no clear way to change the dictionary

![Screen Shot 2020-03-19 at 1 49 42 PM](https://user-images.githubusercontent.com/29157027/77108852-8ef56f00-69e8-11ea-93a9-7530645e58

[2020-03-20 12:46] abhigyank commented on #900
Hi @MasonProtter , The dictionary that is currently being used is based on the language chosen on by user account for the organization.
In Zulip (web or browser), please go to Settings -> Display Settings and change "Default Language". I see that Canadian English is not there, but British English is there (which I presume is almost similar, please forgive my ignorance).
Please try this out and let

[2020-03-21 04:19] MasonProtter commented on #900
Thank you, this resolves my issue well enough!

[2020-03-21 04:19] #900 closed, assigned to nobody

[2020-03-21 06:43] manavmehta commented on #855
@vsvipul If I'm getting it right, while I was testing, I found some of the translations/language scripts were not quite visually appealing and thus rendering them unreadable, some words are longer in some languages than in English (eg Deutsch, Malayalam) and some (like Russian, Macedonian) have inadequate spacing making the end user uncomfortable. So @texport might want to change Zulip to English

[2020-03-23 15:11] dxps commented on #319
Any status about it, please?
I see indeed that website has a dark mode option, and the desktop client has a "Add custom CSS" option, but I couldn't find (at least not yet) any official CSS about it.

Update: I just noticed that enabling the dark mode on the website made also the Zulip Desktop (v4.0.3 at the time of this writing) going dark. Cool enough! 👍

[2020-03-23 22:43] andersk opened #903 "“Factory Reset” and “Reset App Data” use two completely separate code paths"
The **Tools → Factory Reset** menu option and the **Settings → General → Reset App Data** button use two completely separate code paths that do slightly different things. We should remove one of them or unify the two to use the same code.

[2020-03-23 22:45] andersk commented on #898
`package-lock.json` is important for reproducibility and should not be ignored. Using `npm` and `yarn` on the same package is generally not supported; we use `npm` for this one.

[2020-03-23 22:45] #898 closed, assigned to nobody

[2020-03-23 22:54] andersk commented on #213
Could this have been due to the bouncing question mark hotspot animation, which we recently fixed to be more resource friendly (zulip/zulip#13760)?

[2020-03-23 22:59] andersk commented on #464
This was fixed in `master` by #863 and will be part of the next release.

[2020-03-24 09:37] akashnimare commented on #213
This could be one of the reasons for sure. Now that we have upgraded electron to v8, it would be interesting to see the CPU usage.

[2020-03-24 11:50] adityamudgil2505 commented on #903
@andersk I think both types of reset is important. For better use of reset, we can migrate the **Factory Reset** in menu option to **Settings → General → Reset App Data**, so users can easily understand which reset option is useful for them.

[2020-03-24 16:48] timabbott commented on #213
It's more likely to have been some other browser bug, but in any case it's
likely long since fixed and we should close this.

-Tim Abbott (mobile)

On Tue, Mar 24, 2020, 02:37 Akash Nimare <notifications@github.com> wrote:

[2020-03-25 00:53] varkor opened #904 "Left side bar does not update organization icon without restarting"
In the Zulip Electron app, if an organisation icon changes while the application is open, it will not be refreshed in the left side bar. It seems to be necessary to restart the application to refresh the icons.

[2020-03-25 04:31] timabbott commented on #904
There's definitely code that's supposed to do this; we should investigate.

[2020-03-25 07:22] akashnimare commented on #904
I remember we did take care of this in past. @vsvipul @kanishk98 @abhigyank do you guys recall this?

[2020-03-25 07:36] imagemlt opened #905 "where's your Hackerone project"
I'd like to report a security isue, and found that you claimed having a Hackerone bug bounty program, but I can't find anything abount Zulip on hackerone. so How can I report this to you?

[2020-03-25 08:12] abhigyank commented on #904
I remember we fixed this.
On the desktop it was this commit - https://github.com/zulip/zulip-desktop/commit/124a842bbd1a1ba3e881d9f5a6218c9aebbe80a1
And on the webapp we have this here - https://github.com/zulip/zulip/blob/79380175f9440ecfe47df67f4fc9a948e15ffa02/static/js/server_events_dispatch.js#L174

Probably it has broken somewhere, it isn't working for me I checked.

[2020-03-25 08:14] manavmehta commented on #904
@zulipbot claim

[2020-03-25 08:20] manavmehta commented on #904
@akashnimare @abhigyank
electron-bridge #D516 has this implemented.
I would like to have a look where it gets broken

[2020-03-25 08:22] abhigyank commented on #532
Since this is solved in https://github.com/zulip/zulip/pull/12003, closing.

[2020-03-25 08:22] #532 closed, assigned to nobody

[2020-03-25 09:36] manavmehta commented on #904
Investigated and found out that this issue is only occuring in presently 4.0.3 production
Both 4.1.0 beta dev, prod are working flawlessly for me
@akashnimare @abhigyank @timabbott  can you look and confirm ?

[2020-03-25 09:47] #213 closed, assigned to nobody

[2020-03-25 09:50] abhigyank commented on #904
@manavmehta  yes , I checked on the latest release (v4.0.3) on that it doesn't work, not sure why.
On the latest master and its distribution works fine.
I think some previous commit broke it for current release.

[2020-03-25 11:25] akashnimare commented on #904
We are good as long as it's working on master since we'll push a release from there only. But curious to know which commit broke this.

[2020-03-25 13:13] abhigyank commented on #905
@timabbott Please look into this.

[2020-03-25 13:14] abhigyank commented on #904
Let's see in the new release, which should be soon.

[2020-03-25 14:50] Dbone29 opened #906 "Zulip Kerberos Authentification"
---

- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubuntu
  - [x] macOS
- **Clear steps to reproduce the issue**:
Zulip Server with Apache SSO and Kerberos

We are running a Zulip Server for our university and we have the requirement to use Kerberos/LDAP. Everything works just fine except all desktop clients.
Is it possible to integrate kerberos support into the clients?
Thanks!

[2020-03-25 22:41] timabbott commented on #905
@imagemlt our HackerOne program isn't public yet.  Can you contact security@zulipchat.com?  That's our documented security contact.  Or you can send us your HackerOne username and we can invite you to our program.

[2020-03-25 22:41] #905 closed, assigned to nobody

[2020-03-26 02:50] timabbott commented on #906
@Dbone29 thanks for the report!  I think our planned approach for this is to delegate to the browser; we now do this for Google/GitHub/GitLab authentication (it's a very recent change, requiring pre-release versions of both the desktop app and server).

You can use pinned browser tabs as a workaround until that's ready.

One thing I don't know off the top of my head is whether things are hooked up

[2020-03-26 08:23] Dbone29 commented on #906
Yes, I'm using the ZulipRemoteUserBackend.

[2020-03-26 11:16] mateuszmandera commented on #906
@timabbott https://github.com/zulip/zulip/commit/eea68ce92d6299e30dd94151fd6cea591cbee271 added support for the flow with automated tests, and the desktop app doesn't care about the details of the auth steps that happen in the browser, so I'm pretty sure it'll work fine. I can try to test manually too, once I get my production installation working again.

[2020-03-27 13:17] alice-kaanta opened #907 "Zulip 4.0.3 desktop client for MacOS is a constantly reloading disaster I cannot use (also the 5.0.0 update)(still happening, help???)"
To replicate:
1) Read the alarming banner over your Zulip desktop client that announces the old version has security bugs.
2) Install the newest client (4.0.3) on your MacOS machine, as per standard practices.
3) Open your Zulip desktop client and start using Zulip as per usual.
4a) Expected result: Everything works.
4b) Actual result: Zulip "reloads" every 3-5 seconds, which means I can literally

[2020-03-27 13:47] timabbott commented on #907
@alice-kaanta well, the alarming banner is correct, but the reloading is certainly not expected.  Can you try watching in the browser console (Ctrl+Shift+U, or "Toggle Devtools for Active Tab" to see what (if any) error you're seeing?

(Feel free to contact support@zulipchat.com if you need to provide private details).

[2020-03-27 14:30] timabbott commented on #907
(I should mention you can always use the webapp as a workaround while we figure out what's wrong)

[2020-03-27 19:18] MasonProtter commented on #839
This happens for me in MacOS on the desktop app. The zoom in menu button does not work, but the zoom out button and the zoom in /out keyboard shortcuts do work.

I have a screen recording of it happening but Github won't let me upload a video. If you want the video, just suggest a place I can upload it and I'll do so.

[2020-03-27 21:04] MasonProtter opened #908 "More granular zoom options"
It'd be good if the desktop app had more granular control over zoom levels. The jump for me on MacOS between the default zoom and the next level is too big a jump. Maybe we need something like a 1.25x zoom level?

[2020-03-28 18:09] abhigyank commented on #908
The current zoom is of 0.1 at every level. That is goes 1x -> 1.1x -> 1.2x and so on.
https://github.com/zulip/zulip-desktop/blob/82a7f97ca6c65eee34cf0062cc116fed9970374a/app/renderer/js/components/webview.ts#L233

[2020-03-28 18:10] abhigyank commented on #907
@manavmehta @akashnimare  Can you replicate this on prod version in your Mac?

[2020-03-28 18:43] manavmehta commented on #907
I'm afraid I can't reproduce it. It's working perfectly for me in prod (as well as dev).
Can this be of one some user specific bugs ?
I have a similar (not-every-mac-reproducible bug : https://chat.zulip.org/#narrow/stream/9-issues/topic/zoom.20out.20issue)

[2020-03-28 23:42] MasonProtter commented on #908
Ah, yeah fair enough. Maybe incrementing by `.05` then?  I just find this jump a bit too big and want somewhere in-between them (and I've heard similar sentiments from others in our workspace).

[2020-03-29 19:17] adityamudgil2505 commented on #907
I can't reproduce this issue in macOS Catalina (10.15) in Zulip-Desktop Version (4.0.3).

[2020-03-30 11:06] aminya commented on #374
I have the same problem on Win 10 in the desktop app.

[2020-03-31 03:24] punchagan opened #910 "Tray Icon disappears on Screen Lock & Unlock"
- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS

I'm on Ubuntu Focal (GNOME Shell 3.36.0).

When running the desktop app on the latest master, the tray icon seems to disappear when I lock my screen and unlock it. Hard reloading the app seems to restore it. CZO discussion [here](https://chat.zulip.org/#narrow/stream/16-desktop/topic/Tray.20icon).

[2020-03-31 04:15] andersk commented on #910
This seems to be an upstream problem that affects all applications, so there probably isn’t anything we can do. See ubuntu/gnome-shell-extension-appindicator#75.

[2020-03-31 12:57] abhigyank commented on #908
@timabbott Should we do this?

[2020-03-31 13:39] manavmehta opened #911 "Zoom out and Actual Size don't seem to work on some systems"
**Operating System**: macOS Catalina 10.15.2

 **Clear steps to reproduce the issue**:
Zoom in a few times and then try to zoom out. You **might** not be able to (works well on some systems).
(Works on some organizations and not on others)

Discussion on CZO : https://chat.zulip.org/#narrow/stream/16-desktop/topic/zoom.20out.20issue

Upstream issue : https://github.com/electron/electron/issues/206

[2020-03-31 13:41] manavmehta commented on #908
@abhigyank if we're gonna support this, please do tell me as I am looking into #911  and this can be added

[2020-03-31 23:59] timabbott commented on #908
I think it makes sense to emulate the zoom levels available in a normal browser; people are generally pretty happy with that?

[2020-04-01 07:02] andersk commented on #464
The fix failed to work in the AppImage for Linux as implemented. Therefore, the security team made a decision to revert it temporarily to avoid blocking the v5.0.0 security release. We’ll be discussing the right way to move forward on this in the coming days.

[2020-04-01 08:26] fauust commented on #910
Same here, tray icon has just gone

OS: Debian Buster
Window manager: i3wm + polybar

[2020-04-01 08:36] fauust opened #912 "The SUID sandbox helper binary was found"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS

OS: Debian Buster
Window Manager: i3wm + polybar

- **Clear steps to reproduce the issue**:

Upgrade from 4.0.3 to 5.0:

[code]

- **Relevant error messages and/or screenshots**:

Start zulip from the terminal:

[code]

Resolved by:
[code]

[2020-04-01 13:57] varkor opened #914 "Clicking on Zulip icon in macOS dock makes the window disappear"
I just upgraded to Zulip v5.0.0 on macOS Sierra and now the window toggles between visible and invisible every time I click on its icon in the dock. Presumably this is a bug instead of a "feature", but it is very frustrating. (This was very confusing at first, when I tried switching to it by clicking on the icon, it wouldn't be there.)

[2020-04-01 15:10] fritzhardy commented on #914
Also on MacOS Catalina 10.15.3.

[2020-04-01 16:22] manavmehta commented on #561
@zulipbot PR #896 has been made and is under review

[2020-04-01 21:15] andersk opened #915 "Remove uses of the electron.remote module"
The Electron security documentation recommends [disabling the `remote` module](https://www.electronjs.org/docs/tutorial/security#15-disable-the-remote-module) for improved sandboxing, and it also has a number of [performance and reliability problems](https://medium.com/@nornagon/electrons-remote-module-considered-harmful-70d69500f31). We should stop using it. This may require some rethinking of ho

[2020-04-01 22:20] andersk commented on #912
Indeed, it seems our custom `afterInstall` script overrides the `electron-builder` default, which would otherwise run `chmod 4755 '/opt/Zulip/chrome-sandbox' || true`.

This isn’t a problem on Ubuntu kernels, which enable unprivileged `CLONE_NEWUSER`, avoiding the need for the setuid sandbox. But Debian kernels carry a custom patch to disable unprivileged `CLONE_NEWUSER` by default; it can be reen

[2020-04-02 04:08] akashnimare commented on #914
I see. This was added in [here](https://github.com/zulip/zulip-desktop/commit/9490265a03f22ada300ff13aadbef368058eddda). If it's not useful we'll remove this feature. More info on this [here](https://chat.zulip.org/#narrow/stream/16-desktop/topic/macos.20app.20not.20displaying.20any.20windows).

[2020-04-02 07:37] fauust commented on #912
Thanks @andersk!

[2020-04-02 08:03] abhigyank commented on #908
Chrome does 1x-> 1.1x->  1.25x ->1.5x.
Comparatively we are already much more granular.

[2020-04-02 09:21] fauust commented on #910
Any chance that this could be related to https://github.com/electron/electron/issues/21445?
See also https://github.com/keybase/client/issues/23347.

[2020-04-02 10:16] varkor commented on #914
@akashnimare: this is a really confusing behaviour — I couldn't understand why Zulip was frequently disappearing. If you switch apps by clicking on the icon, half the time Zulip won't be there when you try to switch to it. It took me a while to figure out what was happening. I'm positive this is causing consternation for others too. I think this needs to be reverted and backported to a minor versi

[2020-04-02 12:49] imolein commented on #910
Same here, tray icon is gone since I updated the desktop app to version 5.0.0.

OS: Xubuntu 18.04.3
WM: XFCE

[2020-04-02 14:02] cognusion commented on #914
I've heard from 3 mac users at our site that this is confusing.

[2020-04-02 15:09] manavmehta commented on #904
@varkor Zulip v5.0.0 has been released.
Can you check if it is still there for you?

[2020-04-02 19:22] dotenorio commented on #910
I solved this with this code:

[code]

You can see more about this in my repo https://github.com/dotenorio/clipboard-manager-electron/ on `lib/create_window.js` line `350`

[2020-04-02 19:37] timabbott commented on #914
I'm not familiar with the details of how this works, but we've gotten a lot of complaints about this (here and elsewhere), which makes me think we should either revert or rework this to work how users expect.

[2020-04-02 19:54] varkor commented on #914
If you absolutely wanted to keep this behaviour in some form, it could be acceptable to toggle the visibility of Zulip if Zulip is currently the topmost window, in the current space *and* focused. This would make it much more obvious what was going on. However, I personally don't see why this behaviour is desirable in the first place (you can already hide applications with Command-H and clicking-t

[2020-04-02 21:21] virtuaris commented on #914
This behaviour is at least annoying. In daily work it simply means i always have to click the dock icon twice to get the Zulip window and that for 10k times (exaggerated of course). This is the only application which behaves that way. Just my 5ct.

[2020-04-03 06:24] akashnimare commented on #914
@varkor this is what I'm planning -

* Remove the toggle behaviour which triggers after clicking on the dock icon
* Do not hide window on clicking dock (just show it if it's hidden)

Is that correct?

[2020-04-03 06:34] peterdalydickson opened #917 "When viewing an image, 'Download' does not work as expected"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS
- **Clear steps to reproduce the issue**:
  1. click on an image to view it;
  2. click the **Download** button, in top right corner
- **Relevant error messages and/or screenshots**:
The image loads full screen inside Zulip, but it doesn't download. You have to click the **Go Back** icon to recover.

[2020-04-03 07:19] akashnimare commented on #914
`Pushed` some changes -

<img src="https://cl.ly/8bd033e45ae3/download/Screen%20Recording%202020-04-03%20at%2012.46%20PM.gif">

[2020-04-03 11:30] varkor commented on #914
@akashnimare: this looks good to me :)

[2020-04-03 11:32] varkor commented on #904
@manavmehta: I'm not able to test it right now (I only spotted this when someone else changed an icon before), but I'm happy for the issue to be closed if this appears to be fixed for others! (I'll test it myself when I get an opportunity.)

[2020-04-03 11:46] akashnimare commented on #917
This works well for me -
https://cl.ly/7c9705203d0d

[2020-04-03 15:46] imolein commented on #910
As described in comment https://github.com/electron/electron/issues/21445#issuecomment-565061274 I can confirm it is working with `xfce4-statusnotifier-plugin` in Xubuntu 18.04

[2020-04-03 16:36] edpeper opened #918 "TODO"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
- **Relevant error messages and/or screenshots**:

[2020-04-03 16:36] #918 closed, assigned to nobody

[2020-04-03 17:16] manavmehta commented on #855
@zulipbot I have made a PR which is under review

[2020-04-03 18:32] timabbott commented on #917
@peterdalydickson what version do you have?  Make sure it's the latest 5.0.0.

[2020-04-05 07:03] akashnimare commented on #907
@alice-kaanta are you able to reproduce this frequently? Also, is your internet connection stable? Let us know if you have special configuration for the internet.

[2020-04-06 06:36] ChrisPea opened #920 "How to set loglevel in Windows app in production? Problems with Certificate."
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
after importing chained pem file (PKCS7) for our server, zulip app won't connect telling the server does not appear to be a valid zulip server.
- **Relevant error messages and/or screenshots**:

[2020-04-06 10:36] akashnimare commented on #920
Check out the logs folder -
[code]

[2020-04-06 17:27] devurandom commented on #910
On KDE Plasma, using the Flatpak, I never see any tray icon at all on these two systems (i.e. not even right after start of the application, which is a problem if `startMinimized=true` in `~/.config/Zulip/config/settings.json`):
[code]
[code]

See-Also: https://github.com/flathub/org.zulip.Zulip/issues/18

[2020-04-06 23:00] andersk opened #921 "User-Agent is incorrectly cached in settings.json, with stale value remembered on upgrades"
We seem to be saving and restoring (part of) the User-Agent in `settings.json`, leading to self-contradictory user-agents like

`ZulipElectron/5.0.0 Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Zulip/4.0.3 Chrome/66.0.3359.181 Electron/3.1.10 Safari/537.36`

(Note the `ZulipElectron/5.0.0` and `Zulip/4.0.3`.)

This setting seems to have been added in #818.

[2020-04-07 04:45] akashnimare commented on #921
The main reason I think is when the app is freshly installed there is no user-agent and we need to have this while adding the servers from the setting page, #817 should contain more info. But I think it's worth revisiting the implementation of this.

[2020-04-07 05:42] andersk commented on #921
I don’t understand. There “is no User-Agent”, so the solution is…to store the User-Agent to disk?

[2020-04-07 08:29] ChrisPea commented on #920
thnx for replay. i know where to find the logs, but how can i turn loglevel up?

[2020-04-07 08:34] ChrisPea opened #923 "Config to make Windows App portable? Don't save under AppData/Roaming"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Is it possible to change the path to profile? i want to build a preconfigured client without the effort to make an install script. Is there any possibility without changing the sourcecode?
- **Relevant error messages and/or screenshots**:

[2020-04-07 09:36] kanunnikau commented on #914
I have just discovered (due to this Zulip bug) that there is Alt+Click in macOS. It does exactly the thing that was intended here - to toggle visibility of current app. Try to play with Alt+Clicking on Zulip - it will jump between showing Zulip and your previously opened app. If you had a lot of apps opened and not minimised there will be a lot of clicking, apps flashing, and then you will arrive

[2020-04-07 14:46] #914 closed, assigned to nobody

[2020-04-07 14:47] akashnimare commented on #914
We have fixed this in master. Will push a new release soon which will contain the fix. Thanks, everyone!

[2020-04-07 14:55] akashnimare commented on #923
Do you want to change the installation path for the app programmatically, right?

[2020-04-07 15:10] ChrisPea commented on #923
no, i just want to configure the profil path in a propertiefile near the executeable to use the non-installation-edition like a portable edition.

now i am using a workaround with a symbolic link from user/appdata/roaming/zulip to a folder i can give to others, so i can provide a preconfigured zulip profil to my colleagues

[2020-04-07 16:11] toph-allen commented on #914
Just came here to post this — thanks for fixing this!

[2020-04-07 22:56] timabbott commented on #921
Yeah, that doesn't make any sense to me.  The parts of the User-Agent above that aren't this bit from disk come from the browser.

Yes, we do need to set User-Agent header when making that HTTP request, but what does that have to do with what's stored on disk?

[2020-04-07 22:59] timabbott commented on #907
Another question that might shed some light on the problem: @alice-kaanta do you get any error in the web console using Zulip Chrome in that organization?

[2020-04-08 01:19] stuartbryson commented on #914
Just came here to post this as well.

If it's helpful, I was going to make reference to the Apple Human Interface guidelines as well:

As far as I can tell, the dock icon is currently configured to toggle visibility of the Zulip application. If Zulip is visible, clicking on the dock icon will hide Zulip. If Zulip is hidden, clicking on the dock icon will show it. More jarringly, if Zulip is visibl

[2020-04-08 09:33] ckojeder opened #925 "macOS dock icon bounces until private messages or mentions have been read"
On macOS the dock icon bounces indefinitely when you get a private message / mention unless you explicitly open the application window and navigate to private messages / mentions which caused the notification.

In my opinion it should only bounce once for a message / mention (or at least stop bouncing once you switch to Zulip and not require users to actually navigate to the private messages / men

[2020-04-08 12:31] manavmehta commented on #925
@akashnimare As, the work has been initiated in #733 and [#12222](https://github.com/zulip/zulip/pull/12222), are we waiting for some other feature that this one depends on? As [#12222](https://github.com/zulip/zulip/pull/12222) already implements the same in electron bridge

[2020-04-08 13:02] abhigyank commented on #923
@ChrisPea I understand you're trying to deploy to a lot of user. While the profile path right now is not configurable, you can check out the [Enterprise Deployment](https://github.com/zulip/zulip-desktop/blob/master/docs/Enterprise.md) configuration, if it addresses your issues.

[2020-04-08 13:06] abhigyank opened #926 "Update Issue Template"
Our current issue template is in `.github/ISSUE_TEMPLATE.md`, but Github has updated to a new issue [template builder](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates#issue-templates). We should also include the version of the app the user is using in the template. So this is a good chance to update both the things at once.

[2020-04-08 13:23] abhigyank commented on #926
We could have three types of issues to create -
* Bug Report - When one is experiencing a problem
* Feature Request - an idea or enhancement for this project
* Something else - Empty issue template

[2020-04-08 17:24] alice-kaanta commented on #907
This is happening every time I open the Zulip desktop application, right up to 2 minutes ago.  My internet is fine (I've got a broadband connection in a Boston suburb and have had no problems with my many, many meetings at home).  The browser version (I use Chrome) is fine (aside from being one tab in a cast of thousands)

[2020-04-09 00:14] #912 closed, assigned to nobody

[2020-04-10 04:13] kiran commented on #917
I can reproduce with:
- `General -> Advanced -> Ask where to save file before downloading` off
- on 5.0.0

Here's a not-great screen recording:
![image_download](https://user-images.githubusercontent.com/1088852/78961570-c8307480-7aa6-11ea-937c-8c7423472c6e.gif)

I suspect https://github.com/zulip/zulip-desktop/commit/a03f569af9c260a931cd71e5c3e489dfbc7a13e2

[2020-04-10 05:50] akashnimare commented on #917
@kiran @peterdalydickson are you folks on the latest version i.e. v5.0.0? Also, curious on the macOS version. I'm getting the "save to location" dialog on clicking the `download` button.

[2020-04-10 06:15] kiran commented on #917
@akashnimare yes, I'm on Zulip v5.0.0. You can also see the version number in the GIF above.

I just re-downloaded the Zulip desktop app & reinstalled it, and can still reproduce this behavior.

I'm on macOS Catalina 10.15.4 (19E266).

The image opens within Zulip both with the "Ask where to save file" setting on and off.

[2020-04-10 14:54] abhigyank commented on #921
I think it makes sense to use `session.fromPartition('webview:persistsession').getUserAgent()` every time userAgent is required. We could store this to the disk at startup everytime and read from disk when it is required during that run-time in renderer process.
Currently the value for this is - `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Zulip/5.0.0 Chrome/80.0.3987.15

[2020-04-10 18:11] andersk commented on #921
There is no reason to store the User-Agent to disk at all, ever. I don’t understand what problem you think that is solving.

[2020-04-10 18:16] abhigyank commented on #921
There is ideally no reason to do it. Since `session` is a main process object, I suppose it would be better to access it in the beginning of the app run and store it which can be read from the renderer process. Otherwise we would need to read the UserAgent of session in renderer process using remote. Both ways we ensure correct User Agent.

[2020-04-10 19:13] andersk commented on #921
If we’re trying to avoid `remote` (#915), the right alternative is `ipcRenderer`. If we’re trying to avoid doing the IPC multiple times, store it in a variable in memory. There’s still no reason to store it to disk.

[2020-04-10 19:18] abhigyank commented on #921
I am not sure but I don't suppose we can access main process variables from renderer. Is storing on the disk a bad approach?

[2020-04-10 19:30] andersk commented on #921
Yes. Storing it to disk is a bad approach.

Cons:
* The disk is much less efficient than memory—up to hundreds of thousands of times slower.
* Repeatedly writing to a solid-state disk wears it out slowly over time.
* Without properly synchronizing the disk accesses (using IPC!), we might read stale values.

Pros:
* None.
* Absolutely none at all.
* Why was this even an option that was considered?

[2020-04-11 06:16] akashnimare commented on #917
Interesting. @manavmehta  can you reproduce this issue?

[2020-04-11 06:20] akashnimare commented on #921
If we can get the User-agent from the "session" in the renderer process we don't need to save anything.

[2020-04-11 07:32] abhigyank commented on #921
Yeah, so we can do one thing to avoid `remote` and multiple `ipc` calls -
In `dom-load` in main process, send the value of userAgent to renderer process, and received that in `system-util` and set the value of userAgent to a variable in it which can be resued as and when required. So this would be a variable in memory of renderer. I think should work @andersk .

[2020-04-12 14:06] akashnimare commented on #921
@manavmehta can you open a WIP PR with your fix?

[2020-04-12 20:02] stavros3006 opened #930 "Dock icon on macOS unresponsive on the first click"
OS: macOS Catalina 10.15.4
Zulip v5.0.0

After the last update the dock icon does absolutely nothing when I click it for a first time. Normally it should bring the Zulip window into focus and on top of other windows. There is like a failed attempt at it doing it as the window shows up for less than a second but dissapears. I have to click the icon a second time for it to finally work.

So annoying

[2020-04-12 21:45] andersk commented on #848
In Zulip Desktop 5.0.0 we’ve updated to a much newer version of Electron and Chromium. Do you still see this issue?

[2020-04-13 04:27] akashnimare commented on #930
@stavros3006 can you check the status of "Always start Minimized" setting option?

[2020-04-13 10:36] stavros3006 commented on #930
I didn't mean the first time as first time when I fire up the app. But while working in something else and I want to get Zulip into focus, on the first click of the icon it does nothing, and I have to cick it again for it to work. This was not an issue before the update to 5.0.0.

I always keep "Always start Minimized" to off.

[2020-04-13 11:59] mihalybaci opened #931 "Trouble installing Zulip on Linux Debian Variant"
I had some trouble installing the Zulip v5.0.0 on MX Linux, which is an OS based on Debian 10.3. When I attempting to install via the AppImage or the .deb package, the launcher failed silently, and I would get this error from the CLI:

`$ zulip
[8323:0413/074040.034666:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run with

[2020-04-13 16:56] alice-kaanta commented on #907
I got logged out, and I attempted to log in again (via Google SSO), but am unable to do so because of the constant reloading.  😞

[2020-04-14 02:06] Alan-Solitar commented on #930
OS: macOS Catalina 10.15.4
Zulip v5.0.0

I can confirm that this is happening for me as well, in addition to other other zulip users that I know.

After upgrading to zulip 5, zulip doesn't come up unless I click on it twice.  The same behavior occurs when I try to use the app switcher -- i.e., I have to perform the action twice.

[2020-04-14 04:59] TAM360 commented on #860
Hey, @vsvipul  can I start working on this issue?

[2020-04-14 05:27] s1m0n0 commented on #930
OS: macOS 10.14.6
Zulip v5.0.0
For me it feels like, the first click on the tasklist icon minimices Zulip completely, a second click brings it back to front as it should on the first click. The window seems to get into front for a bit of a second and then hides. And i have the "start minimised" option turned off. Multiple persons in my company report the same behaviour on MacOS

[2020-04-14 05:46] akashnimare commented on #930
Is this the same as https://github.com/zulip/zulip-desktop/issues/914? If yes, we have fixed this issue and soon publish a new release.

[2020-04-14 05:48] akashnimare commented on #931
Looks similar to https://github.com/zulip/zulip-desktop/issues/912. We have fixed this issue, will push a new release soon.

[2020-04-14 05:48] #931 closed, assigned to nobody

[2020-04-14 06:04] s1m0n0 commented on #930
Yes, should be a duplicate of #914 ... as per default resolved issues are hidden, stavros3006 might have overlooked it, same as me.

[2020-04-14 06:42] stavros3006 commented on #930
Yeah, I totally did. @akashnimare feel free to treat it as duplicate entry.

Eagerly waiting for the update, the current behavior is frustrating as hell. :)

[2020-04-14 08:20] manavmehta commented on #904
@akashnimare should it be closed ?

[2020-04-14 11:16] adhalanay opened #932 "Problem with file browser on Linux"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
When trying to attach a file, or save one from a message, the file browser does look like this
- **Relevant error messages and/or screenshots**:
![Screenshot from 2020-04-14 14-07-08](https://user-images.githubusercontent.com/6691504/79218748-9d08a500-7e59-11ea-9552-cfcfc8e486a

[2020-04-14 14:50] #787 closed, assigned to nobody

[2020-04-14 14:54] akashnimare commented on #930
Awesome! I'll update you folks, once we push a new release.

[2020-04-14 14:54] #930 closed, assigned to nobody

[2020-04-14 14:57] akashnimare commented on #904
@manavmehta any particular commit which broke this?

[2020-04-14 14:58] akashnimare commented on #932
Damn, this looks bad. @adhalanay is this frequent?

[2020-04-14 15:47] adhalanay commented on #932
@akashnimare Always. When I start from a terminal I got these messages (those from node repeated several times):

`(node:83275) Electron: Loading non-context-aware native module in renderer: '/snap/zulip/27/resources/app.asar.unpacked/node_modules/@felixrieseberg/spellchecker/build/Release/spellchecker.node'. This is deprecated, see https://github.com/electron/electron/issues/18397.`

`Gtk-Message

[2020-04-14 16:32] toph-allen commented on #930
I hope you push the release soon — at least to the beta channel. 😅

[2020-04-15 12:25] abhigyank commented on #904
Ok so I investigated, this issue has been fixed in this commit https://github.com/zulip/zulip-desktop/commit/fc2b80c36a2ff11cecf5bce40b8eb22edda388aa, so everything works fine. The commit which broke it is written in the above commit.
@varkor Please update to latest v5.0.0 and it should be working.
@akashnimare we can close this.

[2020-04-15 17:48] akashnimare commented on #904
Awesome. Thanks, everyone!

[2020-04-15 17:48] #904 closed, assigned to manavmehta

[2020-04-16 05:16] peterdalydickson commented on #917
This setting is off.

The issue only started after upgrade to 5.0.0.

I'm on macOS Catlina 10.15.3.

https://www.loom.com/share/609d7837449846e1ad72c84993f9a628

[2020-04-16 06:06] akashnimare commented on #917
I see. @peterdalydickson, @kiran can you please tell us what version of Zulip server you folks are using?

`your_zulip_server/api/v1/server_settings` and check out the "zulip_version".

[2020-04-16 07:04] peterdalydickson commented on #917
We're on zulipchat.com

*Peter Daly-Dickson*
**

-

Signature powered by ( https://www.signitic.fr/ )

Sent via Superhuman iOS ( https://sprh.mn/?vip=peter@macanta.org )

On Thu, Apr 16 2020 at 7:06 am, Akash Nimare < notifications@github.com > wrote:

[2020-04-16 12:03] manavmehta commented on #917
@akashnimare Nope. It works well for me. See the attached gif
![Download](https://user-images.githubusercontent.com/31139861/79452802-5c9a5a00-8006-11ea-9edf-4b7e6e0ef88e.gif)
P.S. 10fps alert! Just wait, the download dialogue will appear in the gif.
The file is downloaded in the directory.

Also @peterdalydickson

As of now, that is necessary. ie. if the download is successful, user has to go bac

[2020-04-17 08:25] adhalanay commented on #932
If zulip is installed via apt the bug is no longer present. Also the GTk-Message is gone. So the problem seems to affect only the snap version.

[2020-04-18 06:28] akashnimare commented on #231
@penCsharpener hey, did you have this issue in last few months? The app restores the position correctly on my macOS (one external monitor).

[2020-04-18 06:29] akashnimare commented on #28
@GervaisdeM just wanted to cross-check if you faced this issue recently?

[2020-04-18 13:50] Somtozech commented on #877
@zulipbot claim

[2020-04-18 13:54] Somtozech commented on #877
@zulipbot claim

[2020-04-18 13:59] Somtozech commented on #877
@timabbott am trying to claim the issue. When I try to accept the invitation I get the error ```Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account```. A screenshot is attached
<img width="958" alt="invite issues" src="https://user-images.githubusercontent.com/32250849/79639700-32bb7180-8185-11ea-940

[2020-04-19 18:08] swetaj6 opened #934 "Issue with download and open while viewing image"
**Operating System**
Windows
Linux
MacOS

**Steps to reproduce:**
Click on image to view it.
Click on Open or download.

Relevant error messages and/or screenshots:
The image loads full screen inside Zulip, but it doesn't download when we click to download. Similarly, the image doesn't load full screen but downloads when we click open.

[2020-04-19 18:46] manavmehta commented on #934
@swetaj6 please check #917 and let us know how similar and dissimilar behavior you're seeing :)

[2020-04-19 23:01] swetaj6 commented on #934
@manavmehta it is kind of similar but with the extension that open and download is working exactly opposite.

[2020-04-20 05:11] akashnimare commented on #934
@swetaj6 can you post a gif or something of the issue please?

[2020-04-20 14:29] swetaj6 commented on #934
@akashnimare
![Zulip-download-and-open-issue](https://user-images.githubusercontent.com/52969740/79763224-6c0cf200-82e9-11ea-96a2-c86375ecc675.gif)

[2020-04-20 17:30] fauust commented on #910
Hi!
Since 5.0.0 was released (19 days ago) the tray icon is completely missing. If my understanding is correct this is not directly related to zulip but to electron https://github.com/electron/electron/issues/21445.

I have tried to revert to 4.0.3 version but this seems to be impossible, I have also looked for beta releases following https://zulipchat.com/help/desktop-app-install-guide#install-a-

[2020-04-20 17:32] fauust commented on #910
Side note: my issue is not exactly this one (tray icon is totally missing), should I open a new issue?

[2020-04-20 19:21] alice-kaanta commented on #907
Same as above.

[2020-04-21 05:26] akashnimare commented on #910
@fauust please file a new bug with detailed info (Linux distro, app installer type etc).

[2020-04-21 05:28] akashnimare commented on #934
@swetaj6 we have narrow down the root cause of this issue will push a fix soon. @andersk this is another case where open and download button behaving exactly opposite.

[2020-04-21 05:42] devurandom commented on #910
@fauust Please link it here afterwards, since I am having the exact same issue.

See-Also: https://github.com/zulip/zulip-desktop/issues/910#issuecomment-609930694
See-Also: https://github.com/flathub/org.zulip.Zulip/issues/18

[2020-04-21 07:57] fauust opened #936 "Tray icon is missing since v5.0.0 (Linux)"
---
Hi! Since I upgraded to version 5.0.0 the tray icon is missing from systray.

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS

WM: i3 version 4.18 + polybar 3.4.2
OS: Debian Buster (amd64)

- **Clear steps to reproduce the issue**:
Install latest Zulip desktop version from zulip repository (because of #912, I am not able to test with the Appimage version).

- **Relev

[2020-04-21 07:57] fauust commented on #910
@akashnimare done https://github.com/zulip/zulip-desktop/issues/936

[2020-04-21 07:59] akashnimare commented on #936
@fauust did you install the app using our deb installer from the release page?

[2020-04-21 08:01] fauust commented on #936
From https://zulipchat.com/help/desktop-app-install-guide
[code]

[2020-04-21 08:25] devurandom commented on #936
I can confirm this behaviour for the Flatpak on multiple systems:

[2020-04-22 04:50] andreas-bulling opened #937 "Two clicks required to bring application window in front on MacOS"
Hi,

on MacOS (10.14.4 in my case) with desktop app 5.0.0 I have to click the zulip icon in the tray **twice** to bring the application window in front. Only one click should be required.

[2020-04-22 05:16] manavmehta commented on #937
Hey @andreas-bulling
This issue is actually addressed in #914 & #930
Fixed in #919 we will be pushing a release real soon.

Would be great if you could confirm your's is the same as the above two
Also if you want, you can build zulip-desktop from source as the latest master has it fixed :)

[2020-04-22 07:14] andreas-bulling commented on #937
I'll wait for the new release then and report back if (not) this issue has been fixed. Thanks for your quick reply!

[2020-04-22 12:38] #855 closed, assigned to nobody

[2020-04-23 06:51] abhigyank commented on #936
Hi @fauust @devurandom Chromium has changed how it shows tray icon, probably uses StatusNotifier tray icons now. [This comment](https://github.com/electron/electron/issues/21445#issuecomment-565710027) has the fix for some OSes, you can check other threads to support your OS if you can fine. If your OS doesn't support StatusNotifier tray, you might want to place an issue in that OS's tracker.
@aka

[2020-04-23 06:56] abhigyank commented on #936
@fauust For polybar, I found the upstream tracker here - https://github.com/polybar/polybar/issues/2010 , they haven't added support yet, but seems to be planning on doing it :)

[2020-04-23 07:02] abhigyank commented on #936
@akashnimare I am putting a list up of StatusNotifier tray icons support status from different threads I found, so that it is easier for us to link -

 * `KDE`: supported out-from-the-box.

 * `Xfce`: supported (`xfce4-statusnotifier-plugin` needs to be installed and then respective widget added to the panel). There is also https://gitlab.com/vala-panel-project/xfce4-sntray-plugin working plugin,

[2020-04-23 07:05] abhigyank commented on #937
Closing since fixed.

[2020-04-23 07:05] #937 closed, assigned to nobody

[2020-04-23 09:17] fauust commented on #936
@abhigyank, thanks for pointing me the snixembed project, that seems to work for the moment, see https://github.com/polybar/polybar/issues/2010#issuecomment-618284256.

[2020-04-23 14:21] curusarn opened #940 "Zulip icon is stretched in Gnome"
---

- **Operating System**:
  - [ ] Windows
  - [X] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
1) Install zulip-desktop from AUR
E.g. `yay -S zulip-desktop` (select default source zulip-desktop)

2) Launch Zulip

- **Relevant error messages and/or screenshots**:

Stretched Zulip icon:
![Screenshot from 2020-04-23 16-11-37](https://user-images.githubusercontent.com/101327

[2020-04-23 21:31] becken commented on #848
With the 5.0.0 AppImage, I no longer see any such artifacts. 👍

[2020-04-23 21:31] #848 closed, assigned to nobody

[2020-04-24 06:20] akashnimare commented on #936
@abhigyank awesome, we should document this somewhere (maybe in **limitations** section). cc @manavmehta

[2020-04-24 07:12] abhigyank commented on #940
Which Gnome version are you on? Gnome 3.34-3.36 are known to have tray icon stretch issue maybe, I have seen one people report v3.36.1 fixes it for them. Can you update? [Link](https://www.reddit.com/r/gnome/comments/fxdshp/dropbox_status_icon_try_to_stretch_to_full_height/)

[2020-04-24 07:27] devurandom commented on #936
I am not sure I understand. Wayland environments do not support the X11 XEMBED extension for obvious reasons and never did. There is only SNI (Status Notifier Item) on Wayland. Swaybar supports it, but does not display a Zulip icon. Waybar also supports it and also does not display a Zulip icon. Other Flatpak applications' SNI (e.g. `com.borgbase.Vorta`) display their icons fine, without using `xe

[2020-04-24 07:56] abhigyank commented on #936
@devurandom It is not not really a problem with Electron or Zulip. There isn't anything either can do here. If SNI support is present, I'd assume tray should work. I have read it works out of the box for KDE DE. You could create an upstream issue at Swaybar and Waybar. I did find a thread (probably on Arch) where people have reported that electron apps like Signal, Riot too don't have tray icon on

[2020-04-24 08:10] abhigyank commented on #910
@punchagan A chromium bug was created for this
https://bugs.chromium.org/p/chromium/issues/detail?id=1042098 .
There is also a Gnome level issue at https://github.com/ubuntu/gnome-shell-extension-appindicator/issues/220

I guess we have to wait for this to be fixed upstream. Till then one may build out of the hack of #922 if necessary.

[2020-04-24 13:03] curusarn commented on #940
I'm already on the 3.36.1

I don't know if icon cache in Gnome could still hold icons from older versions. I did a quick Google search and tried to refresh Gnome icon cache but it did not fix the issue.

[2020-04-24 13:09] curusarn commented on #940
The linked issue is not what I'm experiencing. The linked issue is about icon stretched in tray in "KStatusNotifierItem / AppIndicator Suport" extension.

My issue is stretched icon in the default Gnome status bar (top left corner of the screen).
See screenshot:
![Screenshot from 2020-04-24 15-07-12](https://user-images.githubusercontent.com/10132717/80215866-7a3a7580-863d-11ea-9b22-2d5a115d53a5.p

[2020-04-24 13:39] curusarn commented on #940
The issue persists even when I disable all Gnome extensions.

[2020-04-25 07:52] devurandom commented on #936
Is Zulip using a build of Electron that includes this change? https://github.com/electron/electron/pull/21904

I will try with KDE Plasma once I'm back on the computer running it.

There do not seem to be any open ATM:
* Swaybar: https://github.com/swaywm/sway/issues?q=is%3Aissue+electron
* Waybar: https://github.com/Alexays/Waybar/issues?q=is%3Aissue+electron

Will open a report once I am back on

[2020-04-26 20:39] #921 closed, assigned to nobody

[2020-04-28 14:29] vchuravy commented on #786
More and easier UI customization would be good! Especially font-size and selecting between a less and more dense layout as well as selecting color-scheme. I find Zulip a lot more tiring for my eyes.

[2020-04-28 14:41] akashnimare commented on #786
@timabbott do you think we should add this as an experiment? It doesn't hurt to add a few predefined themes.

[2020-04-28 16:01] rhusar commented on #914
Thanks for the fix/behavior revert. Given this type of issue is hit many times a day (I am actually considering using zulip in a browser tab in the meantime) is there any ETA on 5.0.1 release or a pre-release at least?

[2020-04-28 18:48] akashnimare commented on #914
@rhusar we are in the middle of pushing a new release `v5.1.0`. It should be up in a day :)

[2020-04-28 19:25] rhusar commented on #914
@akashnimare Perfection! Thanks a lot.

[2020-04-28 20:58] timabbott commented on #786
I don't think there's a coherent way for us to add maintainable CSS themes from inside the desktop app codebase.  We have a "night theme" feature in the webapp, and it requires 700 lines of CSS despite significant effort towards refactoring things to limit how much CSS is needed there.  And we need to change that CSS often in a fashion that's atomic with design changes in the webapp for it to not

[2020-04-28 20:58] #786 closed, assigned to nobody

[2020-04-28 21:18] downright-ux commented on #917
Tested with V5.0.0 desktop on windows 10 and mintOS 19.04. Both have the same issue when selecting download its unable to get back to the chat, unless you select back in browser or hard reload on client.
I then tested with v4.0.3 desktop and the download screen works correctly.

[2020-04-29 07:48] catalin-hritcu commented on #911
I'm having zoom out problems very often with Zulip. Is there any workaround when it stops working?

I'm on Manjaro Linux (xfce).

[2020-04-29 07:58] manavmehta commented on #911
@catalin-hritcu We will be looking into this shortly. Till then you can use [this](https://chat.zulip.org/#narrow/stream/16-desktop/topic/zoom.20out.20issue/near/844538) hacky way to get back.
Let us know if you face an issue in this :)

[2020-04-29 08:05] catalin-hritcu commented on #911
Zapping `per_host_zoom_level` here `~/.config/Zulip/Partitions/webviewsession/Preferences` worked indeed as a workaround. Thanks a lot.

[2020-04-29 21:22] gnprice opened #946 "Images look rotated, because EXIF orientation is ignored"
See zulip/zulip#8177 for copious details and background, and in particular https://github.com/zulip/zulip/issues/8177#issuecomment-621214727 for a recent repro. This is a longstanding cause of annoyance for people posting photos on Zulip, depending on what device they use to take the photo.

As described at https://github.com/zulip/zulip/issues/8177#issuecomment-621468621 , this Web-wide issue is

[2020-04-29 22:13] toph-allen commented on #914
Thanks — I’m so glad to have this working as expected again :)

[2020-04-30 05:50] j0hannesr0th opened #947 "Single click on a file to download opens download dialog twice"
If I want to download a file the download dialog opens twice. The first dialog points to my Windows Downloads folder - the second dialog points to my Desktop. Both dialogs are open immidiately and placed directly behind each other (see screenshot).

Ahhh I see there is already a PR. #913 maybe this PR should get a higher priority since it's really annoying if you download a lot of files. Since the

[2020-04-30 06:09] radeknh commented on #506
I also see this issue important. What about inverting the colors, to stay with the original colors?
![tray icon](https://user-images.githubusercontent.com/7963686/80677841-f6a7db00-8ab9-11ea-82b5-a8fc95067ece.png)
And I think that the information that "there is at least one new message" is much more important than "how many new messages are there".

[2020-04-30 09:57] manavmehta commented on #947
cc @akashnimare @abhigyank May we finalize the PR?

[2020-04-30 12:02] rnicholas opened #948 "Help center link incorrect in 5.1.0"
The URL associated with the Zulip "Help Center" seems to have lost some information between 5.0.0 and 5.1.0 on macOS.
---
- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [X] macOS
- **Clear steps to reproduce the issue**: Click the "Help Center" link in the "Help" menu.
- **Relevant error messages and/or screenshots**: Incorrectly sends browser to non-existent "/help" instead of "

[2020-04-30 15:09] abhigyank commented on #946
We are currently on the latest Electron (v8.2.3), which ships Chromium 80. Chromium has been bumped to 83 for Electron v9 releases. So we should get it when the stable Electron 9 is released.

[2020-04-30 18:33] akashnimare commented on #948
@rnicholas this works well for me. On https://python.zulipchat.com it opens up - https://python.zulipchat.com/help.

[2020-04-30 18:36] akashnimare commented on #855
This feature has been added in the latest release v5.1.0 - https://zulipchat.com/apps/

[2020-04-30 18:37] akashnimare commented on #937
@andreas-bulling just released v5.1.0 which contains the fix for the same -

https://zulipchat.com/apps/

[2020-04-30 18:39] akashnimare commented on #914
Update - we just pushed [v5.1.0](https://zulipchat.com/apps/) which has the fix for this issue, the app should be able to auto-update itself :)

[2020-04-30 18:52] timabbott commented on #946
That's scheduled for May 19, so not too far in the future.
 https://www.electronjs.org/docs/tutorial/electron-timelines

[2020-04-30 19:03] timabbott commented on #506
I think inverting the colors is pretty confusing.

I agree we should fix this; the current Windows tray approach of replacing our branding with a number is confusing; we could just go with a red dot over it if we don't have space to show a number.

[2020-04-30 19:07] rhusar commented on #914
@akashnimare Just updated, dock behavior works as expected (again!).

[2020-04-30 19:11] rnicholas commented on #948
Good catch. It appears that you must have one of the organizations activated in the sidebar for this to work correctly. If you click "Help Center" while the "About Zulip" (version info) page is in view, the link fails.

Why do we have a separate help URL for each organization? Is this for privately hosted instances? Perhaps when the "about" screen is displayed, this could either default to https:/

[2020-04-30 19:26] abhigyank commented on #947
Yeah, #913 solves it. @akashnimare can you look into merging it?

[2020-04-30 19:40] andreas-bulling commented on #937
Saw it, thanks!

[2020-04-30 19:42] timabbott commented on #948
Yeah, privately hosted instances may have different versions of Zulip with different documentation.  But that's already reachable via the "Help" section option in the in-webapp menu; and I think the help for the desktop app in general should go to the global, most up-to-date content.

So I think we should just hardcode `https://zulipchat.com/help/`.

[2020-05-01 08:17] akashnimare commented on #947
Looks good. Left a comment there.

[2020-05-01 12:25] #947 closed, assigned to nobody

[2020-05-01 20:51] akashnimare opened #949 "Add an option to close the issue reporting modal"
Just received this from a user:

![image](https://user-images.githubusercontent.com/2263909/80840602-481bab80-8c1b-11ea-8065-9cdffb91ca65.png)

The modal will be closed if you click on the outside container but we should add "X" or something to make it clear.

[2020-05-01 20:52] akashnimare commented on #949
cc @priyank-p since we are using "SendFeedback" under the hood.

[2020-05-02 06:33] abhigyank commented on #949
We could just add a "cancel" button or something similar near the report issue button, if it's easier to implement.

[2020-05-02 10:58] manavmehta commented on #949
@akashnimare Plus, pressing escape key doesn't close it which is pretty intuitional (the operation)
We have to add that too

[2020-05-02 14:47] #948 closed, assigned to nobody

[2020-05-04 17:17] PawBud commented on #949
I am sorry, I am a new contributor so can we just post a PR that fixes the aforementioned problem or is it that @akashnimare is working on it & simply asking for some help?

[2020-05-04 17:20] abhigyank commented on #949
@PawBud you can go ahead and create a PR for fixing this.

[2020-05-04 17:25] PawBud commented on #949
thanks a lot for replying so fast; I'll surely ask here if I need any help with it :) @abhigyank

[2020-05-05 05:09] punchagan commented on #910
I think it is worth doing the hackish fix.

[2020-05-05 22:04] timabbott commented on #464
We've now finished this properly via #943.  It requires Zulip Server 2.2 (i.e. master right now, but will be released hopefully soon); the desktop app change will be in our next desktop release (but also isn't required; the part that's required is the server change.  The desktop app side change just makes the UX a little nicer).

[2020-05-05 22:04] #464 closed, assigned to nobody

[2020-05-07 04:41] aminya opened #955 "Zulip desktop - laggy and sluggish scrolling"
- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:

Zulip is very sluggish and laggy in scrolling. This doesn't exist in the web version (Firefox).

[2020-05-08 12:10] Dreyk007 opened #956 "Alt+Shifts opens upper menu instead of switching keyboard layout"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu (KDE Neon, based on Ubuntu 18.04)
  - [ ] macOS
- **Clear steps to reproduce the issue**:
1.Run application
2.Choose any chat or stream by clicking on it
3.Put cursor to message entry window
4.Press Alt+Shift
- **Relevant error messages and/or screenshots**:
https://github.com/zulip/zulip-desktop/issues/528
https://github.com/electr

[2020-05-08 18:20] alice-kaanta commented on #907
Seems to be fixed in the most recent update, thank you, Zulip team!

[2020-05-08 18:20] #907 closed, assigned to nobody

[2020-05-08 21:50] timabbott commented on #907
Glad to hear it!  I doubt we did anything specific here -- likely a Chromium bug fixed upstream that we happened to get for free when we upgraded that.  We appreciate the follow-up; I hate having weird bugs like this pending.

[2020-05-08 21:51] timabbott commented on #955
Can you try the webapp in Chrome and see if that's the same scrolling performance for you?

[2020-05-09 08:35] aminya commented on #955
It works without any issues in web browsers. I tested using Edge Chromium and Firefox.

[2020-05-10 05:17] abhigyank commented on #860
Closing as its completed in a series of commits recently.

[2020-05-10 05:17] #860 closed, assigned to nobody

[2020-05-10 05:27] abhigyank commented on #623
Feature added in Webapp - Settings-> Notifications -> Unread count summary (appears in desktop sidebar and browser tab) .

Closing.

[2020-05-10 05:27] #623 closed, assigned to nobody

[2020-05-10 05:39] #492 closed, assigned to nobody

[2020-05-10 05:40] abhigyank commented on #492
A new issue can be created if not working with newer versions as well.

[2020-05-10 05:40] #533 closed, assigned to nobody

[2020-05-10 17:24] yorickvP commented on #464
Why not just set the oauth redirect to a temporary server at localhost?!

[2020-05-12 05:39] akashnimare commented on #949
@PawBud let me know if you are up for this :)

[2020-05-12 05:47] akashnimare commented on #925
@ckojeder did you try "Bounce dock on new private message" setting? -

![image](https://user-images.githubusercontent.com/2263909/81642930-2a7fea80-9442-11ea-8cdf-4febbf10300d.png)

[2020-05-12 05:51] akashnimare commented on #956
I remember we did fix this but looks like it's back due to recent updates in the electron. We'll wait for upstream to fix this (will also look if we can make it work temporarily). Seems like all the electron-based apps having this issue.

[2020-05-12 05:55] akashnimare commented on #934
Merging into #917. Please track the updates there.

[2020-05-12 05:55] #934 closed, assigned to nobody

[2020-05-12 05:58] akashnimare commented on #932
@adhalanay can you repro this on the latest version which is v5.2.0?

https://snapcraft.io/zulip

[2020-05-12 06:17] akashnimare commented on #920
@ChrisPea sorry but I don't quite understand what you're asking for. Can you please elaborate a bit?

[2020-05-12 06:29] adhalanay commented on #932
Sorry,  the problem is still there.

On Tue, 12 May 2020 at 08:58, Akash Nimare <notifications@github.com> wrote:

[2020-05-12 06:33] andersk commented on #917
For the record, this is a server frontend bug, not a desktop bug. It happens to be masked in Chrome, but you can see the same thing happen in Firefox.

[2020-05-12 11:19] samyakgaur commented on #926
hey, can i work on this issue ?

[2020-05-12 11:22] abhigyank commented on #926
Definitely, go ahead.

[2020-05-12 12:29] samyakgaur commented on #926
I have created a PR #960, Please check

[2020-05-12 15:33] PawBud commented on #949
yes thank you @akashnimare  I think I'll be able to resolve the issue; I hope you can help me with my doubts if I get stuck anywhere :)

[2020-05-12 15:38] PawBud commented on #949
@zulipbot claim

[2020-05-12 15:47] PawBud commented on #949
@priyank-p I read the docs for [https://github.com/electron-elements/send-feedback](url) & I also read this doc [https://github.com/electron-elements/send-feedback/blob/master/docs/customizing.md](url). It seems that it doesn't say anything about "adding a  button". Does that mean that in the `send-feedback` element I can't add a button? If It's possible then can you pls guide me to a blog or a do

[2020-05-12 15:53] PawBud commented on #949
Funny enough, I did try something like this and obviously it didn't work
![code](https://user-images.githubusercontent.com/48093317/81720488-1c5eb800-949c-11ea-821e-0613eaed6c69.png)

[2020-05-12 17:07] priyank-p commented on #949
@PawBud send-feedback project isn't designed to have a close button. The custom element was not designed to be used as a modal but we use it as a modal in this project and we should have been careful about the implication of that decision on the UX when we did so.

To answer your question about how this issue can be solved. Let's add a button in the send-feedback project and I will do a release an

[2020-05-12 17:10] PawBud commented on #949
I won’t mind adding the button in the electron element 🙂. I shall help you add it then. Also, Thanks for the solution

Here is the [PR](https://github.com/electron-elements/send-feedback/pull/63)

[2020-05-13 05:53] timabbott commented on #464
Running a local webserver has its own security model complications; is there a reason one would prefer that to the implementation we've merged?  It's certainly more complexity.

[2020-05-13 05:54] timabbott commented on #955
Interesting.  We should test with the version of Chromium that powers Electron 8; it's possible this is just an upstream Chromium performance issue that will be fixed when we move to Electron 9 in a few weeks.

[2020-05-13 07:51] ckojeder commented on #925
Yes, I did! This disables the bouncing animation completely but that's not what I'd like to see :).

Usually I think macOS messaging applications bounce the dock icon once if a notification is triggered and then stop.

In the Zulip desktop app the icon bounces indefinitely until all notifications have been cleared in the application - even switching to the application is not enough. You really hav

[2020-05-14 20:13] alexmv opened #963 "Adding a new organization overflows with narrow windows"
See attached image.

---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS

- **Clear steps to reproduce the issue**:

Make the window narrower than about 1800 pixels.

- **Relevant error messages and/or screenshots**:

<img width="685" alt="Screen Shot 2020-05-14 at 1 06 28 PM" src="https://user-images.githubusercontent.com/28347/81980852-3acfcb00-95e4-11ea-8893-609790ef

[2020-05-15 05:44] abhigyank commented on #963
Oh this looks very bad!

[2020-05-15 06:12] akashnimare commented on #963
Is this a regression? I remember it used to be responsive when we added this.

[2020-05-15 06:35] samyakgaur commented on #963
@zulipbot claim. guys can you please guide me as to which particular file is creating this responsive issue i would love to solve it.

[2020-05-15 06:40] akashnimare commented on #963
@samyakgaur this one -
https://github.com/zulip/zulip-desktop/blob/b0da718bfcae9307c074f864f56d20d567621c5d/app/renderer/css/main.css

A quick way to find which file needs to be updated is search for the relevant term you see in that screen and search it in the GitHub, this is how you navigate in any codebase :)

[2020-05-19 09:36] captn3m0 commented on #917
I'm facing a similar issue, where if I click download, the image opens in the whole window, and there is no button for me to go back. Pressing <kbd>Esc</kbd> does nothing, and I have to quit (Ctrl+Q) and start Zulip again.

[2020-05-19 16:34] #949 closed, assigned to PawBud

[2020-05-20 08:40] manavmehta commented on #917
The left sidebar has a back button (just above settings) that may serve till this issue is fixed

[2020-05-20 16:24] #903 closed, assigned to nobody

[2020-05-21 05:27] PawBud commented on #886
Any updates on this @Bearbobs?

[2020-05-21 05:27] PawBud commented on #886
Is this issue claimed?

[2020-05-24 18:53] akashnimare commented on #911
@manavmehta can you tell me on which orgs it doesn't work? All good on CZO.

[2020-05-24 20:00] catalin-hritcu commented on #911
Here is the org for which I'm having problems: https://fstar.zulipchat.com

[2020-05-25 08:17] manavmehta commented on #911
@akashnimare Actually, it's not about some particular org. It doesn't work for me on CZO. But works perfectly for kamandprompt.zulipchat.com.
Perhaps it works on last org.

[2020-05-25 14:38] manavmehta opened #968 "Replace deprecated webview.getWebContents()"
** To be done after #967 is merged. It also uses the deprecated method

- **Clear steps to reproduce the issue**:
Go to console to find:

[2020-05-26 11:28] volo-zyko opened #969 "Application doesn't start at Windows startup"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Enable "Start app at login" in Settings and reboot Windows.

[2020-05-26 17:30] abhigyank commented on #910
Electron is restoring to the original way of implementation for tray icon, so that should fix this issue for us. https://github.com/electron/electron/pull/23674

[2020-05-26 21:37] mtzguido commented on #839
This is happening to me too in Linux on v5.2.0. `Ctrl -` does nothing, `Ctrl +` does zoom in but then I can't go back. `Ctrl 0` and `Ctrl )` which I've seen suggested, or the mouse wheel, also don't do anything.

Please add a way to tweak zoom from the settings, perhaps under display settings, to have a way out.

[2020-05-27 07:49] akashnimare commented on #839
@mtzguido please check #911.

[2020-05-27 07:49] akashnimare commented on #911
For me, if you add two orgs, it only works on the first one.

[2020-05-27 07:53] #963 closed, assigned to samyakgaur

[2020-05-27 08:01] akashnimare commented on #899
Looks like they fixed this issue in upstream - https://github.com/electron/electron/pull/22911

[2020-05-27 08:04] #648 closed, assigned to nobody

[2020-05-27 08:05] akashnimare commented on #504
@manavmehta let's look into this once we are done with the basic context-menu.

[2020-05-27 08:10] akashnimare commented on #851
@parthi2929 does this work for you in the latest release which is v5.2.0?

https://zulipchat.com/apps

[2020-05-27 08:11] akashnimare commented on #969
@volo-zyko we did fix this issue in #851, will have to check if it's a regression. Make sure you are on the latest release - https://zulipchat.com/apps.

[2020-05-27 10:34] manavmehta commented on #504
@akashnimare Sure. I think we can do this using the Menu API itself ([see here](https://www.electronjs.org/docs/api/menu#notes-on-macos-application-menu)) before merging.

[2020-05-27 10:40] manavmehta commented on #911
@akashnimare probably we should look into it, right after context menu? Seems really important.
The main issue being it shoes different behaviors on different systems, smh

[2020-05-27 22:33] volo-zyko commented on #969
Could it be that "Start app at login" setting isn't correctly handled during application's installation? It's just my guess.

It was enabled after installation and I didn't change it but the application didn't start at logon. However, once I turned it off and turned on I can see there is a Zulip-related key in `HKCU\SOFTWARE\Microsoft\Windows\CurrentVersion\Run` section. Unfortunately, I'm not 100

[2020-05-28 11:20] parthi2929 commented on #851
yes, after I update it seems to be working, (but also I did not try removing the reg edit, so not sure if the zulip during startup is due to new update or the reg fix)

[2020-05-29 20:18] akashnimare commented on #968
This and the shell API needs to be updated if we are planning to upgrade to v9.

[2020-05-29 20:23] akashnimare commented on #908
Agreed. I think it's already pretty granular, shouldn't go lower than this. We can revisit this if we get more feedback related to the zoom level.

[2020-05-29 20:23] #908 closed, assigned to nobody

[2020-05-29 20:25] akashnimare commented on #906
@mateuszmandera is this being taken care of?

[2020-05-29 20:27] akashnimare commented on #940
@curusarn are you still seeing this on the latest release which is [v5.2.0](https://zulipchat.com/apps)?

[2020-05-30 21:38] guillona opened #970 "Option to Add Root CA"
Hello,

I'd like to request an option to easily import a root certificate into the desktop application.  I have installed Zulip into an intranet environment where we have our own root certificates, but it is not clear how to add a new root CA into the desktop application.

Thanks!

[2020-05-31 12:03] curusarn commented on #940
The issue persists in v5.2.0:
![Screenshot from 2020-05-31 14-02-32](https://user-images.githubusercontent.com/10132717/83351803-645c5680-a347-11ea-9959-72e76bf8537d.png)

[2020-05-31 14:22] mateuszmandera commented on #906
This no longer works the way it used to since https://github.com/zulip/zulip/commit/40c80029034eea896e18de8add9db51ea7b8aa75

I think a server-side fix will be most appropriate here, I'll try to figure something out.

[2020-06-01 08:53] abhigyank commented on #970
Hey @guillona , can you try https://zulipchat.com/help/custom-certificates#desktop ?

[2020-06-01 13:12] guillona commented on #970
Hi @abhigyank, I have indeed tried this and it did not work.  I tried with the root certificate, and the certificate of the zulip server itself.

The documentation discusses a self-signed certificate, and my use case is different: I have a signed certificate, but not from a globally known CA, so I need to provide a new trusted root.

Thanks!

[2020-06-02 08:10] abhigyank commented on #969
@akashnimare https://chat.zulip.org/#narrow/stream/16-desktop/topic/BUG.3A.20Start.20app.20at.20Login.20don't.20work

We should have that setting off by default, I guess.

[2020-06-02 08:14] abhigyank commented on #917
@timabbott Should we move this to the webapp?

[2020-06-02 08:17] abhigyank commented on #880
Can we close this issue? We do show the warning now and the app doesn't work on older versions.

[2020-06-02 08:21] abhigyank commented on #695
@akashnimare  Hadn't a report on this since a long time, can we close this?

[2020-06-02 08:23] abhigyank commented on #584
Closing since not reproduced in  a long time and we move repository to address this issue after v2.3.82.

[2020-06-02 08:23] #584 closed, assigned to nobody

[2020-06-02 08:38] schrej commented on #880
The zulip-electron repository should still be archived in my opinion.

[2020-06-02 10:59] captn3m0 commented on #917
Realized now that I have the left sidebar hidden, so as a workaround - <kbd>Ctrl+Shift+S</kbd> to show the sidebar, and then going back works.

[2020-06-02 19:57] timabbott commented on #880
Yes, agreed, I just took care of that.  Our analytics show essentially no clients are still running the v2.3.82 version, thanks for the reminder!

[2020-06-02 19:57] #880 closed, assigned to nobody

[2020-06-02 19:58] timabbott commented on #695
Yes, we fixed an issue that was confirmed to cause this, and haven't had new reports since that fix was released.

[2020-06-02 19:58] #695 closed, assigned to nobody

[2020-06-02 19:59] timabbott commented on #906
This was fixed by zulip/zulip#15163.

[2020-06-02 19:59] #906 closed, assigned to nobody

[2020-06-02 19:59] timabbott commented on #906
@Dbone29 I recommend upgrading your server to master to get this fix.

[2020-06-09 07:53] akashnimare commented on #504
@dennissieben adding this in the next release.

[2020-06-13 07:29] #911 closed, assigned to nobody

[2020-06-14 14:35] jcharaoui opened #976 "RemoteUser authentication not working"
Attempting to connect to a Zulip organization using the RemoteUser SSO backend yields a 401 page in the desktop app on Debian 10. The server-side auth backend is correctly set up, since logging in using a web browser or mobile app works fine.

[2020-06-14 23:00] timabbott commented on #976
I think this might be a server bug; we fixed something with that description in master a few weeks ago.  Try upgrading to master?  It's a good time to do it, we're in the last effort before the 2.2 release.

[2020-06-16 15:11] akashnimare commented on #969
Fixed in https://github.com/zulip/zulip-desktop/pull/972.

[2020-06-16 15:11] #969 closed, assigned to nobody

[2020-06-16 18:50] #926 closed, assigned to nobody

[2020-06-18 00:45] Avi-D-coder commented on #662
Same issue (no right click or spellcheck) with flatpak on Arch Linux.

[2020-06-18 12:44] #504 closed, assigned to nobody

[2020-06-18 13:06] manavmehta commented on #662
@swallitsch @Avi-D-coder can you test on the latest master?
We jushed pushed some changes which can resolve this. :)

[2020-06-18 13:08] Avi-D-coder commented on #662
Unfortunately I can't, since I don't have flatpak build tools set up.

[2020-06-18 13:46] manavmehta opened #978 "UX: The font size of spellchecker should be smaller"
**Describe the issue**
The `#note` div should be having a smaller font size than the current one for better UX. See the screenshots.

**To Reproduce**
Go to Settings -> General and see below `Enable Spellchecker` option

**Screenshots**
macOS
![mac](https://user-images.githubusercontent.com/31139861/85027772-e8ac3780-b197-11ea-8e4e-ce1482812617.png)

Ubuntu & Windows
![ubuntu](https://user-images.

[2020-06-18 13:50] manavmehta opened #979 "Ubuntu, WIndows: Trailing and leading separators should not be persistent"
**Describe the bug**
The separators in context menu on non-macs are persistent. macOS handles them itself but Windows and ubuntu don't.
`visible` attribute of [menuItem](https://www.electronjs.org/docs/api/menu-item) does not work with `type: separator` and electron's native `role`.

**Screenshots**
Ubuntu ❌
![ubuntu](https://user-images.githubusercontent.com/31139861/85028820-307f8e80-b199-11ea-9

[2020-06-18 18:05] ghost commented on #662
Sorry, I'm not setup to build node packages :(

[2020-06-18 18:37] akashnimare commented on #662
@swallitsch no issues, we'll soon push a new release.

[2020-06-20 20:43] ratijas opened #982 "[Linux/KDE] Zulip icon is pixelated in task switcher"
**Describe the bug**

Zulip icon looks all low-res and pixelated in task switcher (`Alt+Tab`), while other apps can perfectly scale up to 128 px and more.

**To Reproduce**

Run Zulip. Press Tab while holding Alt.

**Expected behavior**

Hi-res/vector image would be nice.

**Screenshots**

![image](https://user-images.githubusercontent.com/6737986/85211241-da088080-b34f-11ea-88cd-28e7f842e82d.png)

[2020-06-21 12:26] sebastianelsner opened #983 "WebSocket Certificate Error with self signed certificate"
Hallo, I am running a Zulip Server 2.1.2 on Ubuntu 18.04 with self-signed certificates in a usually air-gapped environment. The certs were created by Zulip while installing. Wanting to update the server and desktop app (running on CentOS 7 and Windows 10), I now need to provide the app with the cert. This works up to a point where I can log in, but periodically a "Certificate Error" for the WebSoc

[2020-06-21 19:14] jcharaoui commented on #976
I'll check again once 2.2 is released.

[2020-06-23 09:06] abhigyank commented on #983
@timabbott Any idea from where websocket cert error could come from?

We don't typically allow servers with cert security issue, i.e. you'd need to add the certificate to the app. And as you have done that I suppose you can access the server in general (apart from this occasional error) ?

[2020-06-23 09:10] abhigyank commented on #970
Which OS are you on? @guillona

[2020-06-23 21:48] timabbott commented on #983
@sebastianelsner have you read
https://zulip.readthedocs.io/en/latest/production/ssl-certificates.html#self-signed-certificate

and made sure your SSL setup gets a good report from ssllabs.com?  The desktop app is stricter about problems with certificates than most browsers will ignore.

[2020-06-24 11:10] sebastianelsner commented on #983
@timabbott I checked the docs and this is how we setup the server. We are in an off-line (non-internet) environment, so instead of ssllabs I tested with an offline tool called sslyze (https://github.com/nabla-c0d3/sslyze) and the output seems good. Although I am not 100% sure at which port to point the scanner. Is it  443 for the websockets as well?

[2020-06-24 20:48] timabbott commented on #983
My recommendation is actually that you upgrade to the latest Zulip master; we've removed all use of websockets in production (and are close to releasing our next major release) and I expect that'll solve your problem.

(We'll be releasing an -rc1 in the next couple days).

[2020-06-25 07:49] abhigyank commented on #936
@devurandom Can you try in the latest release? Electron has reverted to the older way, so it should work as before.

[2020-06-25 07:50] abhigyank commented on #910
@punchagan Can you test on the latest release? Electron has restored to the original way of implementation so this should be fixed in the older release.

[2020-06-25 07:57] sebastianelsner commented on #983
Thank you for the advice, I will wait for the new release, test this on a clone and report back.

[2020-06-25 08:05] fauust commented on #936
Hi @abhigyank!
I can confirm that latest version is working, [snixembed](https://git.sr.ht/~steef/snixembed) is no more needed.

[2020-06-25 08:07] fauust commented on #910
Latest version working again, see https://github.com/zulip/zulip-desktop/issues/936#issuecomment-649344282

My setup:
- debian 10
- i3wm
- polybar

[2020-06-25 09:30] akashnimare commented on #936
Alright. Closing this now. Thanks, everyone.

[2020-06-25 09:30] #936 closed, assigned to nobody

[2020-06-25 09:31] akashnimare commented on #662
@swallitsch @Avi-D-coder can you reproduce this issue on the latest release which is v5.3.0?
Also, check if spellchecker works as expected.

[2020-06-25 09:33] akashnimare commented on #749
Merging this into #662 as both are connected.

[2020-06-25 09:33] #749 closed, assigned to nobody

[2020-06-25 11:38] devurandom commented on #936
Using KDE Plasma 5.19.2 (`xembedsniproxy` is running) and Flatpak 1.6.3 with Zulip 5.2.0, I do not see a tray icon. Permissions are at their defaults:
[code]

[2020-06-25 11:48] abhigyank commented on #936
@devurandom  please try on Zulip 5.3.0 .

[2020-06-25 12:07] alexanderglueck opened #986 "Copy email address no longer in context menu"
**Describe the bug**
It used to be possible to right-click an email address without selecting text and use the context menu item "Copy Email Address" to copy the email. After upgrading to v5.3.0 the context menu no longer displays this option.

**To Reproduce**
Right click on an email address on pre 5.3.0 system and on 5.3.0.

**Expected behavior**

**Screenshots**
Context menu after upgrading to

[2020-06-25 13:39] abhigyank commented on #986
We did an update of our context menu in this release, so this is quite possible. @manavmehta  Can you look into this?

[2020-06-25 13:44] guillona commented on #970
Hi, this is on Ubuntu 18.04.4 LTS.

[2020-06-25 13:45] manavmehta commented on #986
Sure the option can be added. We'll try to push it in the next release :)

[2020-06-25 14:32] samyakgaur commented on #978
@manavmehta please could you help me with the file name where this div is mentioned i was unable to find it.

[2020-06-25 15:04] manavmehta commented on #978
@samyakgaur The div was added in #967
A good way in general would be to [grep](https://www.gnu.org/savannah-checkouts/gnu/grep/manual/grep.html) the div.

[2020-06-25 17:07] ghost commented on #662
Latest release (4.3.0) isn't working for unfortunately:

[1] 65374 trace trap (core dumped) ./Zulip-5.3.0-x86_64.AppImage

Probably due to me still being on Centox 7.4/7.5 Linux v2.3.82

[2020-06-25 17:15] abhigyank commented on #662
Could you remove the v2.3.82 and try installing? We have long deprecared v2.3.82, and updates don't roll out to this version anymore. We did fix the SUID sandbox issue on debian in our previos release.

[2020-06-25 17:26] samyakgaur commented on #978
I had made a really stupid mistake. I didnt notice my fork was behind the master. That is the reason i was unable to find it.

[2020-06-25 17:40] ghost commented on #662
Sorry that was a copy paste error- I'm launching Zulip-5.3.0-x86_64.AppImage

[2020-06-25 17:49] abhigyank commented on #662
@andersk We did fix this issue, could you look at it?

[2020-06-25 18:15] Avi-D-coder commented on #662
The update is not on flathub yet

[2020-06-26 02:12] punchagan commented on #910
I see the icon now, but I don't see the correct icon. I see ellipsis being shown instead of the Zulip logo. :see_no_evil:

![image](https://user-images.githubusercontent.com/315678/85813318-80092000-b780-11ea-8078-a28f7e3ca2c8.png)

[2020-06-26 08:36] pskopek commented on #936
Zulip 5.3.0 works fine on Fedora 31 using GNOME and Topicons Plus.

[2020-06-26 09:09] juergenhemelt opened #988 "ignoreCerts setting not working"
Setting in config/domain.json does not work anymore in v5.3.0 I get a net::ERR_CERT_AUTHORITY_INVALID for the websocket-URL wss://...

[2020-06-26 10:48] abhigyank commented on #988
#983 related.

[2020-06-26 10:50] abhigyank commented on #988
We have actually removed ignore certs option in the latest release. https://github.com/zulip/zulip-desktop/commit/d661895545783dcf62e1ec184521c7784654cf8c

[2020-06-26 11:39] SashLi commented on #988
Same here, added certificate but get error because of wss URL. Is there any way to bring back the "old" ignore certs option. That was running more smoothly. One other thing if noticed: You cannot use the root certifcate of a CA, it always need the server certificate itself.

[2020-06-26 11:49] abhigyank commented on #988
If you have already added the server - you can add root CAs as respected by Chromium  - https://sites.google.com/a/chromium.org/dev/Home/chromium-security/root-ca-policy -
Microsoft Windows: [Microsoft Root Certificate Program](https://aka.ms/rootcert).
Apple OS X: [Apple Root Certificate Program](http://www.apple.com/certificateauthority/ca_program.html)
Linux - Chrome Certificate Store.

@anders

[2020-06-26 12:04] #988 closed, assigned to nobody

[2020-06-26 16:03] GertBurger opened #991 "Right click context menu closes instantly v5.3.0"
**Describe the bug**
Right click context menu closes instantly in message editor

**To Reproduce**
Right click in message editor

**Expected behavior**
Context menu should stay open

**Screenshots**
![Peek 2020-06-26 17-58](https://user-images.githubusercontent.com/23653/85877200-136d4000-b7d7-11ea-8a2e-584ff4794372.gif)

**Desktop (please complete the following information):**
 - Operating System

[2020-06-26 20:57] #986 closed, assigned to manavmehta

[2020-06-26 21:08] #979 closed, assigned to nobody

[2020-06-27 04:46] abhigyank commented on #983
Fixed in https://github.com/zulip/zulip-desktop/commit/6c37e30233b1066c244d9b1e36dca5e350b75407 .

[2020-06-27 04:46] #983 closed, assigned to nobody

[2020-06-27 04:47] abhigyank commented on #991
@punchagan Do you see this when you install using `snap` ?

[2020-06-27 06:13] punchagan commented on #991
Yes, I can reproduce this

[2020-06-27 09:32] abhigyank commented on #991
Okay, I can reproduce this after installing through `snap`. Works correctly in deb and AppImage.

I can reproduce in the server webview (not consistently though, works sometimes), but not in other parts of the app like settings or add new server. I find this very weird.

[2020-06-27 09:38] abhigyank commented on #991
@GertBurger  @punchagan  Does restarting the app make it go away? I restarted my app (installed via snap) and unable to reproduce anymore.

[2020-06-27 09:59] punchagan commented on #991
Yeah, that happened for me too.

[2020-06-27 10:40] GertBurger commented on #991
That works, the context menu looks a bit odd but its functional.

Ta for your time on such a minor issue...

[2020-06-27 10:42] abhigyank commented on #991
Yes! It's fixed in the master, will be there in the next release.

[2020-06-28 15:48] abhigyank commented on #915
Electron has released a separate [remote](https://github.com/electron/remote) module, which is a replacement for the built-in remote module in Electron. It does still recommend to use `ipc` methods instead, in its readme. So what do you propose would be good for us to do here?

[2020-06-28 15:52] manavmehta commented on #915
@abhigyank from what I can comprehend, it is still available to use but not recommended. IPC primitives (`ipcRenderer` and `ipcMain`) are.
Earlier, it was supposed to be moved to userland.

[2020-06-28 20:52] timabbott commented on #915
I would guess they're moving it to a separate module so that they can delete it from `electron` core because a lot of use of it can result in security problems.  Since use of this module doesn't seem important to the design of Zulip, we should just figure out how to remove use of it from the codebase.

[2020-06-29 07:33] #910 closed, assigned to nobody

[2020-06-29 07:39] punchagan commented on #910
This was when I was running from source. The `snap` shows the icon correctly. Just adding a note for completeness.

[2020-06-30 11:07] janLo commented on #970
We have the same problem in a intranet environment. The solution was to add the root-certificate to chromium or use the certutil (see https://chromium.googlesource.com/chromium/src.git/+/master/docs/linux/cert_management.md) to fill the shared nssdb of the user.
This behavior started with the version 5.2 of the client. Confirmed on Ubuntu and Debian.

[2020-06-30 21:41] #978 closed, assigned to nobody

[2020-06-30 21:49] akashnimare commented on #932
@adhalanay can you reproduce this in the [v5.3.0](https://snapcraft.io/zulip)?

[2020-07-01 05:41] adhalanay commented on #932
Yes. Same thing.

[2020-07-01 12:03] akashnimare commented on #932
@manavmehta can you open an upstream issue? I'm sure there is not much we can do here.

[2020-07-01 12:18] manavmehta commented on #932
Similar upstream issue [12423](https://github.com/electron/electron/issues/12423), pointed out by @akashnimare
cc @adhalanay

[2020-07-03 14:56] PawBud commented on #982
What did others say about this in the dev chat?

[2020-07-05 17:43] andersk commented on #968
This was fixed in e97ab2e6dd98ddb04cdabb61e477ff4292b1f44d as part of #984.

[2020-07-05 17:43] #968 closed, assigned to manavmehta

[2020-07-07 07:56] digitalethics opened #995 "Bigger font size by default"
I know that we can zoom in and out but this isn't very welcoming for newcomers and significantly limits wider Zulip adoption among non-technical communities. The easiest fix would be to introduce a **bigger font size by default**. A more sophisticated solution would be to **automatically adjust font size** based on the user's desktop resolution. I'm not sure if the latter is possible technically o

[2020-07-08 17:06] abhigyank commented on #995
@timabbott Should this go to the Web-App?

[2020-07-08 19:57] timabbott commented on #995
Yes but making the font size larger is already an open priority issue, tracked e.g. at https://github.com/zulip/zulip/pull/9769

(It's old but one of the top planned priorities after the 3.0 release next week).

[2020-07-08 19:57] #995 closed, assigned to nobody

[2020-07-13 19:03] LeSeulArtichaut opened #997 "Message composition menu pops up when clicking on reactions"
**Describe the bug**
When clicking on a reaction, either to add or remove it, the message composition menu pops up just like if you clicked on the message itself.

**To Reproduce**
Add a reaction on any message, then remove it by clicking on the reaction's icon.

**Expected behavior**
The message composition menu should not pop up. This is the behaviour of previous Zulip versions.

**Desktop (plea

[2020-07-13 21:10] manavmehta commented on #997
@LeSeulArtichaut can you provide some gif or video?
cc @akashnimare @abhigyank

Edit: Reproducible - never thought of this behavior, thanks for pointing out.

[2020-07-13 22:20] LeSeulArtichaut commented on #997
Here's a GIF on the desktop client (Electron) :
![zulip-desktop997](https://user-images.githubusercontent.com/38361244/87358684-9d066700-c566-11ea-9407-e360304b5d24.gif)

However I can also reproduce this bug in the browser, both in Brave and Firefox.

[2020-07-14 09:03] abhigyank commented on #997
Fixed in https://github.com/zulip/zulip/pull/15783 .

[2020-07-14 09:03] #997 closed, assigned to nobody

[2020-07-14 10:20] #886 closed, assigned to manavmehta

[2020-07-17 15:41] crodriguez1a commented on #213
@andersk The tour animation did seem to be the culprit.

[2020-07-21 20:20] strifel opened #1003 "New Zulip Icon looks "wrong" in MacOS Dock"
**Describe the bug**
The new Zulip Icon seems to bigger than other Icons in the Dock.

**To Reproduce**
0. Use MacOS
1. Download Zulip
2. Open Zulip

**Expected behavior**
The Zulip Icon should have the same Size as other round Icons in the Dock.
Maybe there should even be a white boarder like on the other circular Icons.

**Screenshots**
![ZulipIconSize](https://user-images.githubusercontent.com/

[2020-07-22 08:15] schrej commented on #1003
same as before 😄 #787

[2020-07-22 14:17] shaderecker opened #1004 "Old Tray icon color displayed when receiving notification"
**Describe the bug**

When I receive a notification the new blue tray icon switches to the old green tray icon with the number on it.

**To Reproduce**

1. Have no notifications
2. Receive a notification

**Expected behavior**

The icon should stay blue I guess.

**Screenshots**

Without a notification:
![image](https://user-images.githubusercontent.com/16366556/88186640-be85e380-cc35-11ea-9c03-37

[2020-07-22 16:28] mbreskovec opened #1005 "Tray icon on Plasma shows menu on click"
**Describe the bug**
Click with the left mouse button on Zulip system tray icon will show menu like on click with the right mouse button, instead of opening Zulip window.

**To Reproduce**
Install Zulip 5.3.0 or higher from Ubuntu DEB package and run it.

**Expected behavior**
Click with the left mouse button on Zulip system tray icon will open Zulip window.

**Screenshots**

![zulip-tray-icon-pla

[2020-07-22 17:41] abhigyank commented on #1005
I think this is intended behavior? Slack, Microsoft Teams have the same behavior - Click once on the tray icon and then click again to open.

[2020-07-22 17:43] abhigyank commented on #1004
Yeah I had thought about this. I suppose Zulip has not moved from its green colour scheme to a blue colour scheme yet on a global level, so I an not sure if this should change.
Thoughts @timabbott ?

[2020-07-22 17:46] mbreskovec commented on #1005
Maybe it is, but it is very uncomfortable, and should be changed for Zulip, if it is possible.

[2020-07-22 17:50] abhigyank commented on #970
We have permanently moved our app to make use of root-certificate as on Chromium like @janLo suggested. This will be in the latest v5.4.0 releases. Possibly remove support for the cert store inside the app from next release.
Docs - https://chat.zulip.org/help/custom-certificates#desktop

@guillona  if this fixes your issue, we can close this.

[2020-07-22 17:54] abhigyank commented on #986
@alexanderglueck Please check the new release, it should have this feature back! :)

[2020-07-22 17:57] abhigyank commented on #1005
I personally think if possible it could be good to have it directly open the app.

[2020-07-22 19:01] timabbott commented on #1004
We should definitely change this to either (1) the blue/purple color scheme or (2) the new logo with a red dot in the corner (which would I think would be more consistent with how other apps request attention in this context?).  I've always thought the number in a circle thing to be weird.

@andersk thoughts?

[2020-07-24 10:17] alexanderglueck commented on #986
Just tested the new release and it works again. Thanks!

[2020-07-26 06:44] jhellerstedt commented on #665
I had the same problem again after getting upgrading server to 3.0 (desktop app version 5.3); I did a Factory Reset combined with manually deleting the directory:
/Users/<user>/Library/Application\ Support/Zulip

And then I was successfully able to re-add the organisation.

[2020-07-26 19:42] #1003 closed, assigned to nobody

[2020-07-28 03:39] #970 closed, assigned to nobody

[2020-07-30 07:25] fubsan commented on #932
Reproducible with 5.4.0 on arch using snap package, the tray icon context menu is affected additionally to the file browser.

[2020-07-30 21:52] markrco opened #1009 "macOS "unread messages" dock badge no longer differentiates private messages"
### Describe the bug
On MacOS: when an unread private message exists, the dock badge shows the total unread message count instead of showing the red dot unread PM notification.

### Background
zulip-desktop v1.5.0 --2017-10-11 included the enhancement: “Red dot over dock icon for PM [macOS]”

[app.dock.setBadge('●')](https://github.com/zulip/zulip-desktop/blob/69141b5395132ad21b3af83d07f6d91bb3b58

[2020-07-31 19:25] dylnuge opened #1010 "[Windows] Context menu immediately closes on right click"
**Describe the bug**
On Windows, right clicking opens a context menu which then quickly closes. Sometimes it closes too quickly for the interaction to be visible, other times you can make out the shadow of the context menu quickly being drawn and removed from the screen, especially when right clicking many times in quick succession.

**To Reproduce**
1. Right click anywhere (a misspelled word, som

[2020-07-31 22:47] dylnuge commented on #1010
~~I upgraded to v5.4.0 and that seems to have fixed the issue.~~ For what it's worth, the [download link on this page](https://zulipchat.com/apps/windows) is still going to the v5.3.0 download making it unclear there's a newer version

[2020-08-01 03:17] dylnuge commented on #1010
Issue persists in v5.4.0 but is not present on startup, and restarting the app solves the problem. I'll update here if I find a consistent repro beyond just "run it for a while."

[2020-08-05 19:10] timabbott commented on #1010
(Just noting that it's now 5.4.0 on the download page).

[2020-08-06 00:17] jtagcat opened #1012 "add organization: url: attempt to autocomplete with zulipchat.com"
**Problem Description**
![image](https://user-images.githubusercontent.com/38327267/89475793-7c51bb80-d778-11ea-8fec-684b56c4b019.png)

Expected: overnode.zulipchat.org

**Proposed Solution**
If the entered string does:
 - match the organization url conditions (Subdomain can only have lowercase letters, numbers, and dashes.)
   - (including) doesn't start with a protocol (https://overnode should s

[2020-08-12 06:04] xendk opened #1015 "Back/forward mouse buttons"
**Describe the bug**
Forward/back buttons on mouse doesn't work.

**To Reproduce**
Buttons have no effect.

**Expected behavior**
The same as using alt+left/right-arrow.

**Desktop (please complete the following information):**
 - Operating System:
Ubuntu 20.04.1x64
 - Zulip Desktop Version:
5.4.0

**Additional context**

Tim pointed out that this might be relevant:
https://github.com/electron/ele

[2020-08-12 13:09] PawBud commented on #877
![2020-08-12-18-35-00](https://user-images.githubusercontent.com/48093317/90018649-e2839480-dcca-11ea-8bc8-8c697b2b7cbd.gif)
I would love to work on this bug, but I am not really able to reproduce it. Am I doing something wrong?

Version: v5.4.1-beta, (this is **NOT** the development version).
OS:- Ubuntu 20.04 LTS (Focal Fossa)

[2020-08-12 13:57] PhotoNomad0 opened #1016 "crashes in MacOS"
**Describe the bug**
A few of our MacOS Catalina users that are running the Zulip desktop are seeing frequent crashes in the app. But only the MacOS users. After a while the window just has the toolbar with the rest of the window just grey (screenshot below). When I click on the reload icon, the desktop app closes.

**To Reproduce**
Just open the app and leave it running.  Notifications are turned

[2020-08-12 17:37] manavmehta commented on #1016
For the record: Upstream issue - [electron/24920](https://github.com/electron/electron/issues/24920)

[2020-08-13 23:47] timabbott commented on #877
That reproduction attempt doesn't look right -- you need to connect to multiple organizations successfully (say chat.zulip.org and your development server), and then shut down your development server and try starting the app.

[2020-08-17 08:55] lasseborly opened #1021 "Large file uploads fails."
**Describe the bug**
When I try to upload a file that is larger than ~1mb the upload progress bar finishes but the text input field never shows the uploaded file. It's just stuck on "Uploading..."

**To Reproduce**
Upload a file that is larger than ~1mb.

**Expected behavior**
The "Uploading..." disappears and the markdown formatted link to the file appears.

**Screenshots**
![image](https://user-

[2020-08-19 18:06] blyme opened #1023 "Multiple usernames in right menu maintains hover state"
**Description**
When I tab into the app - different, multiple, usernames will maintain the hover state. It seems to happen whenenver the app has been idle for ~5 minutes.

**Expected behavior**
When I tab into the app, no usernames will have the hover effect.

**Operating system**
macOS 11.0.1 (Big Sur)
Zulip version: 5.5.0

![image-1612357435889](https://user-images.githubusercontent.com/68547893

[2020-08-26 23:59] timabbott commented on #1021
@lasseborly do you have a good network connection to the Zulip server you're using?  If not this could be the request timing out.

[2020-08-27 10:38] NemchinovSergey commented on #956
I faced with the issue on Zulip v5.4.2 and Postman v7.30.1
My workaround on Linux: https://github.com/electron/electron/issues/22213#issuecomment-681831167

[2020-09-06 09:10] nathanielvirgo opened #1028 ""Loading..." on Mac app"
I use the Zulip app on a Mac. I leave it open all the time and check it periodically. However, after some time, it always eventually starts showing the message

[code]

The message does not go away. The word "reload" is highlighted as a link, but clicking it does nothing. Right-clicking doesn't give an option to reload the page.

I've just realised while writing this bug report that I can press CM

[2020-09-06 14:41] Gittenburg commented on #1028
@timabbott can you move the issue to https://github.com/zulip/zulip-desktop?

[2020-09-08 17:32] aryanshridhar commented on #506
Looks like a good project ! Taking this issue :)

[2020-09-09 12:58] aryanshridhar commented on #506
Hey , @akashnimare ,  Should this be done for only Windows or others Operating Systems too .

[2020-09-10 17:55] ElliotSilver opened #1026 "Add dismiss/close button for MacOS notifications"
**Problem Description**
The current desktop notifications appear, and stay for several seconds before sliding away. During this time, the chat message is displayed on the screen, and the notification "tile" blocks access to any screen content under the tile. I have no way to dismiss the tile early.

**Proposed Solution**
As well as the current "reply" button, please add a "dismiss" (or close) butt

[2020-09-14 05:57] fubsan commented on #932
Reproducible on 5.4.3 on arch using snap package.

[2020-09-14 18:01] timabbott commented on #1028
Transferred.

[2020-09-15 09:53] Thomas-lhuillier commented on #1016
Not sure it's very helpful but here is the console error raised when this bug occurs.

![Screenshot 2020-09-15 at 11 52 00](https://user-images.githubusercontent.com/22258569/93195939-14649c80-f74a-11ea-965d-e5faaa30b6fb.png)

[2020-09-16 00:16] timabbott commented on #1016
@Thomas-lhuillier thanks, that's likely quite helpful.

Can you confirm you're seeing this with the latest 5.4.3 release?

[2020-09-16 00:17] timabbott commented on #1016
(I believe this was likely fixed in 5.4.2).

[2020-09-16 07:56] Thomas-lhuillier commented on #1016
Unfortunately I experience this bug on both v5.4.2 and v5.4.3.

One thing I noted: it seems to happen when receiving private messages.

[2020-09-16 20:06] PhotoNomad0 commented on #1016
I am also still seeing in v5.4.3.  Forgot that this was an electron app.  I do see the same error message in the screenshot above.

[2020-09-17 10:37] #506 closed, assigned to nobody

[2020-09-17 15:18] sipshowpeers commented on #1016
I am also still seeing this in 5.4.3, MacOS 10.15.6.
I can consistently reproduce this when I am private messaged by one particular person in our organization.
This is on a self-hosted Zulip server.
I would like to help but I don't know what information I can provide (and whether it's safe to share publicly!)

[2020-09-17 23:36] timabbott commented on #1016
If you can capture the exception from the developer tools (available in the app's menus), that'd be very helpful.

[2020-09-18 13:30] sipshowpeers commented on #1016
I hope this is helpful! Please let me know if there's further information I can share.

This is immediately after receiving a private message causing my screen to go gray (or grey):

[code]

It appears to be the same that @Thomas-lhuillier showed.  Is there more info I can share?

<img width="801" alt="zulip" src="https://user-images.githubusercontent.com/977103/93603074-811da800-f991-11ea-9ab6-f7

[2020-09-22 13:57] JulianGro commented on #1012
The android app already does this. Just FYI.

[2020-09-22 17:35] JulianGro opened #1031 "Ctrl + (+) and Ctrl + (-) are missing form Keyboard shortcuts menu"
**Describe the bug**
`Ctrl` + `+` and `Ctrl` + `-` are missing form Keyboard shortcuts menu in the bottom right.

**Expected behavior**
It should tell you about these important shortcuts.

**Desktop (please complete the following information):**
 - Operating System:  Linux Mint 19.3 (Ubuntu 18.04.3)
 - Zulip Desktop Version: 5.4.0

**Additional context**
Zulip is pretty small by standard. A lot of

[2020-09-22 22:52] timabbott commented on #1012
Thanks for the feedback!  Yeah, I'd like to see this changed in the desktop app as well.  We should be smart about the UX details around this though -- we want to make it very clear what URL users will be connecting to if they submit the form.  One possible option would be to have two text boxes, with the top one being `https://_____.zulipchat.com`.

(I don't think the Android app's exact implemen

[2020-09-22 22:56] timabbott commented on #1016
@manavmehta @akashnimare can you try to investigate this exception?

[2020-09-22 22:56] timabbott commented on #1016
I'm guessing this is a notifications library issue is some sort, and we should probably start with doing a build with Electron 10 to see if it's resolved upstream like the previous iteration was.

[2020-09-23 07:31] akashnimare commented on #1012
It make sense to autocomplete the url in the mobile app but in the desktop app, we should try to keep it as simple as possible. Don't need to add too much autocompletion and all. I think having two views (Self-hosted, zulipchat.com) would make sense here.

[2020-09-23 07:33] akashnimare commented on #1031
Does this shortcut work for you -

![image](https://user-images.githubusercontent.com/2263909/93981086-1c04f080-fd9d-11ea-92c9-a328c4cf9808.png)

[2020-09-23 07:55] akashnimare commented on #1026
@manavmehta I think https://github.com/zulip/zulip-desktop/pull/1022/ fixes this, right?

[2020-09-23 08:44] JulianGro commented on #1031
That is something I have missed. I cannot press `Ctrl` + `=`, as `=` is not a dedicated button on a QWERTZ keyboard.

[2020-09-23 09:42] jtagcat commented on #1012
UX? One box, if the current text input matches the conditions, show `<input placeholder=".zulipchat.com">`-like thing, grey text at the right of the text input.

[2020-09-23 22:26] timabbott commented on #1012
Yeah, I think that's better.  We can assume `https` unless the URL starts with `http://` (support for which is mainly for testing with the development environment).

[2020-09-24 08:25] abhigyank commented on #1012
I think some selfhosted folks could have something like `http://zulip` defined for their internal network. In those cases it would break for them. The solution for that would be to have two input boxes. Perrsonally I feel it maybe confusing/bad UX.

[2020-09-24 08:27] abhigyank commented on #946
We are on Electron 9 now. Maybe we could close this?

[2020-09-24 09:37] jtagcat commented on #1012
As I mentioned before:
hosted → https://hosted.zulipchat.com
http://hosted → http://hosted
https://hosted → https://hosted

With http, you would need to type `http://` anyways, as we can default to `https://`. I don't see the problem here.
Adding the gray `.zulipchat.com` appended when no protocol is found, and the instance name is compatible with the naming rules makes it even more clear?

How is

[2020-09-28 10:46] thompsonab opened #1033 "Windows: Clicking notification "restores" app window if it was docked in the display"
**Describe the bug**
On Windows, clicking on a desktop notification activates the app and moves it out of its current position if it's docked to the side or corner of a display

**To Reproduce**

1. Dock the app to the left or right side of a display by pressing Windows+left arrow or Windows+right arrow
    1. Alternatively, click/drag the title bar to either side until the docking animation appea

[2020-09-28 18:24] timabbott commented on #1012
Yeah, @jtagcat's comment reflects what I had in mind; I believe that's the algorithm the mobile app uses at a high level.

@gnprice FYI.

[2020-09-28 19:09] timabbott commented on #946
Yep, done!  Thanks for the follow-up @abhigyank!

[2020-09-28 19:09] #946 closed, assigned to nobody

[2020-09-29 18:54] amahoneyLIT opened #1034 "When narrowing to a specific topic, "unread messages" is 1k+, goes away changing narrow"
**Describe the bug**
I have a specific topic where if I click the topic name to narrow to it, the "unread messages" in the left panel goes from no unread messages to red "1K+" and the tray icon also says something in small font, hovering over says "155391 messages". When I click to a different stream or topic the unread messages jumps back to zero.

**To Reproduce**
I'm not sure how to reproduce.

[2020-10-02 12:40] Reinis commented on #982
The same issue for Gnome desktop.

Arch Linux, aur/zulip-desktop-5.4.3-1

Also, it would be nice if the tray icon were monochromatic (with a colored dot for unread messages at most) like the rest of them in gnome desktop.
![image](https://user-images.githubusercontent.com/1250117/94923726-feced100-04c4-11eb-802b-263de6bc0907.png)

[2020-10-06 13:30] shlevy opened #1035 "Blank screen on application launch"
**Describe the bug**

I've just installed zulip for the first time using my distro's package manager. When I launch it the screen is blank.
**To Reproduce**

I can get it by running zulip
**Expected behavior**

Some sort of user interface appears
**Desktop (please complete the following information):**
 - Operating System: NixOS 20.09

 - Zulip Desktop Version: 5.4.3

**Additional context**

I am

[2020-10-06 18:12] shlevy commented on #1035
This was a bug in my distro's sandboxing, sorry for the noise.

[2020-10-06 19:03] timabbott commented on #1035
@shlevy thanks for the follow-up.  It'd be great if you can post details on what the bug was, since it may help other users encountering the same bug on NixOS.

[2020-10-06 19:03] #1035 closed, assigned to nobody

[2020-10-06 19:14] shlevy commented on #1035
https://github.com/NixOS/nixpkgs/pull/97264#issuecomment-704454645

[2020-10-07 07:59] simolev opened #1036 "Spellchecker cannot be disabled"
**Describe the bug**
Even after `Settings` `->` `General` `->` `Enable spellchecker (requires restart)` is set to OFF, words are underlined in red while typing (if not in the selected dictionaries). Restarting the app and restarting Windows do not seem to help.

**To Reproduce**
Set to OFF the switch for `Settings` `->` `General` `->` `Enable spellchecker (requires restart)`. Type a few words not

[2020-10-07 21:31] leather-s commented on #1016
Any action on this? I too have been experiencing this for the last month. I dont even use the desktop app anymore because it crashes so frequently.

[2020-10-08 19:22] PhotoNomad0 commented on #1016
The best solution we have found is for Mac users to install the older v5.2.0 of desktop app and turn off auto updates.

[2020-10-08 19:35] abhigyank commented on #1036
I can't reproduce on Linux, I am on the latest version though.
Can you try it in v5.4.0? If it still fails, could you share the output of  `%APPDATA%/Zulip/config/settings.json` in particularly thr value of `"enableSpellchecker"` key?

[2020-10-09 10:03] simolev commented on #1036
`"enableSpellchecker": false,` It seems the bug was not there on the older v5.4.0.

[2020-10-09 17:09] jahazieldom opened #1103 "File browser text not display properly on desktop application (Fedora)"
Hello everyone, in the desktop application the file browser does not work correctly and is practically unusable. I am using version 5.4.3 of the desktop application (AppImage) in Fedora 31.

Screenshot of the problem:
![image](https://user-images.githubusercontent.com/3392725/95611751-20750e80-0a17-11eb-9f37-a3ebc2c4bc2f.png)

[2020-10-19 07:42] simolev commented on #1031
Contrary to what the menu says, zooming in for me is `Ctrl` + `+` and not `Ctrl` + `=`.
Windows 6.1.7601, Zulip Desktop v5.4.3, Italian keyboard layout.

When using the EN-US keyboard layout, `Ctrl` + `=` zooms in, but does so by two steps instead of one; this is both visually noticeable as it happens in two steps, and can easily be checked: pressing `Ctrl` + `-` *twice* is needed to go back to wh

[2020-10-20 14:24] kannan4k commented on #1016
I've faced the same problem with v5.2.0 & v5.3.0.
Here is the error message

![image](https://user-images.githubusercontent.com/142576/96599967-148a2600-130e-11eb-8e38-b6b2174c8e26.png)

[2020-10-22 18:09] thompsonab commented on #1033
Can anyone else reproduce this? It happens every single time I click on a desktop notification, which I do almost every time I receive one.

[2020-10-25 08:04] abhi14nexu commented on #862
The reconnect error page still looks the same at this time. Can I work on this issue?

[2020-10-26 07:26] abhi14nexu commented on #862
@zulipbot claim

[2020-10-27 21:11] timabbott opened #1037 "Strip whitespace in the desktop app when inputting the server URL"
https://chat.zulip.org/#narrow/stream/137-feedback/topic/.22Add.20organization.22.20weirdness/near/1048966 has context, but we should strip leading and trailing whitespace to avoid various common mistakes from slowing down users.

This should be a great first issue for someone new to the project.

[2020-10-29 05:29] dhruvshah0803 commented on #1037
Hey i am new to open source development and want to work on this can you please assign me this.

[2020-10-29 05:52] dhruvshah0803 commented on #409
@zulipbot claim

[2020-10-29 13:38] bhayward93 opened #1038 "Issues right clicking images (Ubuntu / i3wm)"
### The expected behavior (or what is wrong).
Right click menu flickers most of the time; when downloading an image it usually flickers on and off making the menu inaccessible.

I have seen some strange issues with tiling window managers in the past so it could well be that it is something to do with my OS - but this specific issue I've never seen happen before. Note it does not happen in other El

[2020-11-03 07:47] abhi14nexu commented on #1037
I would really like to work on this issue.

[2020-11-03 07:47] abhi14nexu commented on #1037
@zulipbot claim

[2020-11-03 07:48] abhi14nexu commented on #1037
@zulipbot claim

[2020-11-13 12:38] MaxXxaM commented on #1016
The same issue with v5.4.3 after update MacOS Big Sur. It happens at different times, usually after the application has been minimized.
![Снимок экрана 2020-11-13 в 15 36 18](https://user-images.githubusercontent.com/1263590/99073034-30f44800-25c6-11eb-8c94-d7e72f3eb1f3.png)
![Снимок экрана 2020-11-13 в 15 36 56](https://user-images.githubusercontent.com/1263590/99073037-3487cf00-25c6-11eb-9eec-06

[2020-11-13 16:57] tourvi commented on #1016
Same here. Just upgraded to Big Sur, and just started getting this problem. v5.4.3. Usually happens when receiving a private message.

[2020-11-13 18:56] manavmehta commented on #1016
@akashnimare  Sorry for being AFK for too long. I don't think it is a macOS bug now. As Big Sur is a big change, they must have tested the reported bugs, which again, 'might' have included the cause of this. Nor does the error pointed out by @sipshowpeers seem to be 'directly' coming from our codebase but some electron-ish library/API we use.

[2020-11-13 18:58] manavmehta commented on #1016
Update: I am one of the people who saw this bug very very rarely.
Just witnessed this on Big Sur - Prod always. Never Dev.
![Grey](https://user-images.githubusercontent.com/31139861/99110381-5312b800-2610-11eb-9f58-3fd69fab76e3.png)

[2020-11-13 20:09] manavmehta commented on #1016
I believe this error is originating from [here](https://github.com/electron/electron/blob/master/lib/renderer/web-view/guest-view-internal.ts#L21) - WebView.
One solution I can think of is completing #1018

There have been recent discussions on [upstream thread](https://github.com/electron/electron/issues/20750).

[2020-11-15 14:48] aryanshridhar commented on #1037
Taking this issue since <code>@zulipbot claim</code> doesn't seems to be working .

[2020-11-15 15:01] ashok-arora commented on #409
@dhruvshah0803 Are you still working on this issue?

[2020-11-15 15:02] ashok-arora opened #1040 "Update installation wiki"
**Problem Description**
The current installation guide [how-to-install.md](https://github.com/zulip/zulip-desktop/blob/master/how-to-install.md) is quite out-of-date in the Linux section.

**Proposed Solution**
 As an Arch User, I can confirm the presence of Zulip in AUR which receives updates periodically hence manual installation should be avoided.

Also, there is a snap package at [snap/zulip](

[2020-11-16 04:04] #1037 closed, assigned to nobody

[2020-11-17 08:33] hankhero commented on #1016
We have several users in our organisation that experience this problem ONLY after updatating to MacOs Big Sur.

[2020-11-17 08:38] frammling commented on #1016
Same issue after updating to MacOs Big Sur. Zulip version 5.4.3
<img width="793" alt="Снимок экрана 2020-11-17 в 14 58 14" src="https://user-images.githubusercontent.com/2013048/99387721-86419980-28e5-11eb-8804-4fbc32cac875.png">

[2020-11-18 07:36] andersk commented on #1016
Can someone figure out, either via a debugger or by patching `console.log` statements into Electron, what `eventKey` is when [this `WEB_VIEW_EVENTS[eventKey].forEach` expression](https://github.com/electron/electron/blob/v9.3.0/lib/renderer/web-view/guest-view-internal.ts#L55) is undefined?

I have a [wild guess](https://github.com/electron/electron/pull/25697#discussion_r525875930)… This would ex

[2020-11-18 17:40] TheNetworkIsDown opened #1042 "High resource usage with authenticating proxy"
**Describe the bug**
Zulip Desktop loops while attempting to access sentry.io (automatic updates?) when the authenticating proxy returns a 407 (Authentication Required). Zulip Desktop tries time and time again and CPU and memory usage of Zulip goes through the roof.

**To Reproduce**
Have an authenticating proxy configured in the OS. Wait.

**Expected behavior**
Ask for username and password when

[2020-11-18 22:11] khalilfazal commented on #1010
Issue is still present in v5.4.3 and restarting temporarily resolves the issue.

[2020-11-19 07:27] l4ty4k commented on #1016
Same here. I only started experiencing this bug after updating to Big Sur.

[2020-11-20 19:33] andersk commented on #1016
We’ve received a trace from a user that seemingly matches this to CharlieHess/node-mac-notifier#33.

[2020-11-21 01:26] octogonz commented on #895
I think I encountered the same issue.  See [#desktop topic](https://chat.zulip.org/#narrow/stream/16-desktop/topic/Incorrect.20notification.20count.20for.20Windows.20app.3F/near/1067747).

[2020-11-23 18:01] ghost opened #1044 "Zulip desktop on MacOS Big Sur shows gray screen when new message arrives"
**Describe the bug**
When a new message arrives on Zulip Desktop the screen goes gray. Refresh is needed to render page.

**To Reproduce**
Install Zulip Desktop on Big Sur and see problem

**Expected behavior**
Updated screen without need for refresh

**Screenshots**
![image](https://user-images.githubusercontent.com/74922956/99997973-37e93a80-2dbe-11eb-8feb-1b10ea1602e0.png)

**Desktop (please co

[2020-11-24 02:33] andersk commented on #1044
Duplicate of #1016.

[2020-11-24 02:33] #1044 closed, assigned to nobody

[2020-11-25 09:56] DenizThatMenace opened #1045 "Wide code-blocks are missing horizontal scroll bars"
**Describe the bug**
Wide code-blocks in messages are missing horizontal scroll bars.
Currently, if one wants to see the missing parts, one has to mark the text of the code-block and move the mouse to right.

**To Reproduce**
Send a message with a code-block that is wider than the width of the displayed message.

**Expected behavior**
I expect horizontal scroll bars for code-blocks that are wider

[2020-11-26 18:28] parallelo3301 commented on #1016
Adding another one. Like @timabbott & @andersk noticed, this may definitely be a problem with the notifications. The app crashes for my colleagues when I send them a PM.

This line may be a lead:
`Granted permissions request for notifications from null`

I also tried to navigate them to Settings -> Notifications -> Send test notification and the app crashed then.

![obrazek](https://user-images.gi

[2020-11-27 10:39] luckow commented on #1016
I get the same issue with grey-screen-of-death multiple times a day - but only after upgrading to OSX Big Sur. v5.4.3 of the Desktop app.

Seems to be happing randomly - sometimes multiple times within a minute. Sometimes when I write a message, sometimes it just happens when the app has been out-of-focus for some time. Other times hours go by without problems.

When I press the refresh button it

[2020-11-27 12:54] GervaisdeM commented on #1016
I just thought I would chime in and say that this is happening to me also. I thought it might have been an issue with my under powered self hosted Zulip server, but then I found this thread. I have only two active users on my server. My logs are likely very lean. If there is something that you would like tested and have logs sent your way, let me know. I'm also on chat.zulip.org if that helps.

I

[2020-12-01 11:47] Gambitboy commented on #1016
My entire team and I have been getting this crash on v5.4.3 and a few before, way before the Big Sur OSX update. Only happens on the macOS app, the browser version is fine. Crashes on every notification popup.

[2020-12-02 17:50] andersk commented on #1016
We believe this has been resolved by removing `node-mac-notifier` (#1046) in 5.5.0, just released. Can anyone confirm?

[2020-12-02 17:53] rhusar commented on #1016
@andersk I can confirm after couple of hours of using master branch that I no longer get the 'gray screen of death'. Thanks for the fix!

[2020-12-02 18:15] tourvi commented on #1016
Works for me, too, using v5.5.0

[2020-12-02 18:20] andersk commented on #1016
Great, thanks all. Closing as fixed. If anyone does see this again with v5.5.0, please let us know.

[2020-12-02 18:20] #1016 closed, assigned to nobody

[2020-12-03 03:35] andersk commented on #1045
The scrollbars are there in both screenshots if you look closely. All you’re seeing is the Chrome/Electron styling vs. Firefox styling; Chrome supports scrollbar styling, while Firefox does not.

https://github.com/zulip/zulip/blob/5dc348916605ee56ab75ee289cd331d4581690bd/static/styles/rendered_markdown.css#L536-L556

[2020-12-03 03:35] #1045 closed, assigned to nobody

[2020-12-03 03:37] andersk commented on #1026
We removed `node-mac-notifier` in 5.5.0 (#1046). Is this still an issue?

[2020-12-03 03:41] andersk commented on #955
The app used Electron 8.2.5 (Chromium 80.0.3987.165) when this was reported, and we’re now up to Electron 11.0.3 (Chromium 87.0.4280.67). Is this still an issue?

[2020-12-03 09:26] DenizThatMenace commented on #1045
@andersk Thanks, you are right. However, I realized that I did not only get fooled by the colors but also by the mouse pointer.

In Firefox the mouse pointer is always the hand shown in the second image. Only if it hovers above the scrollbars it turns into an arrow. In the Zulip Desktop App and in Chrome the mouse pointer does not change into an arrow and always stays as the hand.

However, this i

[2020-12-03 10:50] lukasztuszynski commented on #1016
Works for me as well (so far ;) )

[2020-12-03 15:40] kenemar opened #1049 "Does Zulip desktop app block unsafe ports?"
I realize this is nonstandard, but I'm experimenting with running a Zulip server on port 143 (imap) because I want it to be accessible to computers behind a firewall that blocks 80/443 but allows email traffic.
I made the edits in settings.py and zulip.conf on the server to change the port to 143. After allowing the "unsafe port" in firefox, i can access the server by adding ":143" to the URL and

[2020-12-03 20:20] ElliotSilver commented on #1026
This looks like it's been addressed. Thanks.

[2020-12-03 22:37] kenemar commented on #1049
Hey I was doing some more testing and got this working by adding the `--explicitly-allowed-ports=143` flag to the shortcut for the Zulip desktop app. Apparently works the same as Google Chrome for allowing "unsafe" ports.

[2020-12-03 22:37] #1049 closed, assigned to nobody

[2020-12-03 23:13] #1026 closed, assigned to nobody

[2020-12-04 00:45] #899 closed, assigned to nobody

[2020-12-04 04:30] Gambitboy commented on #1016
Can also confirm it works. Thanks guys.

[2020-12-04 07:30] luckow commented on #1016
Same for me. Has been working flawlessly since the upgrade to 5.5.0. 🚀 Much appreciated 🙏

[2020-12-04 09:05] rhusar commented on #1016
Just for the record, hopefully the grey screen wasn't just replaced by white screen I found in Zulip this morning after nightly suspend and morning resume. This time however it was solvable by #+R, so a different issue.

![image](https://user-images.githubusercontent.com/765506/101143682-8517a880-3617-11eb-8ebb-3013c24b55c9.png)

[2020-12-04 22:46] andersk commented on #1016
@rhusar Yeah, that’s almost certainly different. If it happens to you again, file a new issue and include any errors you might find in Tools → Toggle DevTools for Zulip App → Console and/or Tools → Toggle DevTools for Active Tab → Console.

[2020-12-07 09:19] shaderecker commented on #1004
This was tackled in the latest update (v5.5.0). Fixed in #1025
![image](https://user-images.githubusercontent.com/16366556/101327888-9eb32d00-386f-11eb-81c5-7878ceaeb040.png)

[2020-12-07 09:19] #1004 closed, assigned to nobody

[2020-12-08 13:12] kannan4k commented on #1016
Worked for me! Thank you folks 🎉

[2020-12-13 05:49] crlf0710 opened #1051 "A special mode that cache assets locally as much as possible."
Sometimes I'm using this application in traffic billing network. So i wonder if there could a special mode that cache the web assets as much as possible locally, and only redownload them if absolutely required.

[2020-12-14 02:08] timabbott commented on #1051
Can you explain more what precisely you mean?  Zulip already does employ standard caching that should result in the JS/CSS/etc. assets not being redownloaded except if the server is updated.

[2020-12-14 02:11] timabbott commented on #1042
Sentry is for error reporting, not automatic update; I think we have a setting to disable that feature, which may resolve this for you.

That said, we should investigate this since it should be fixable.

[2020-12-15 04:03] crlf0710 commented on #1051
Sure! In reality i do have observed many redownloads. I think some of them are related to server updates, some of them are related to browser proxy settings changes(not very certain in this case).

Actually what i want is this: If i'm using a traffic billing network(through a proxy), and the assets needs a redownload. I want to be able to choose that i don't want to download them now and quit the

[2020-12-17 22:13] timabbott commented on #1051
Can you point to another app that has such a feature that we could study?

On Mon, Dec 14, 2020 at 8:03 PM Charles Lew <notifications@github.com>
wrote:

[2020-12-18 02:19] timabbott opened #1053 "Deduplicate documentation for desktop app installations"
We have 4 documents on how to install the desktop app:
* https://zulip.com/apps
* https://zulip.com/help/desktop-app-install-guide (HTML for production, most visually polished)
* https://github.com/zulip/zulip-desktop/blob/master/how-to-install.md (production)
* https://github.com/zulip/zulip-desktop/blob/master/development.md (development)

I think ideally we'd eliminate `how-to-install.md` by me

[2020-12-18 03:23] andersk commented on #1051
Do you have any details on what and/or how much is being redownloaded?

If you’re in streams with a lot of images, zulip/zulip#13088 could explain your redownloads.

If you’re in organizations with many thousands of users (like chat.zulip.org), it’s a known issue that we send quite a bit more data on initial page load than we probably need to: https://chat.zulip.org/#narrow/stream/3-backend/topic/

[2020-12-18 15:06] Signior-X commented on #1053
@timabbott I am currently getting started with zulip desktop. Should I try setting one for production and on the way working on this issue, improving the guide?

[2020-12-21 09:09] Signior-X commented on #1012
Are you still working on this? @aryanshridhar
or should I take it forward.

[2020-12-21 10:15] aryanshridhar commented on #1012
Hey @Signior-X  , I have already added the necessary changes within #1043 . Would be great if you could address something which I accidentally left out .

[2020-12-24 08:57] akashnimare commented on #1036
@simolev is this still reproducible on the latest version?

[2020-12-24 10:18] simolev commented on #1036
Happy to report the issue seems to not be there anymore on Zulip Desktop v5.5.0 (Window 10 and 7).
I'm going to close this :-)

[2020-12-24 10:18] #1036 closed, assigned to nobody

[2020-12-24 19:28] hackerkid commented on #1103
@abhigyank @akashnimare FYI.

[2020-12-27 09:46] kaldonia commented on #1028
I can reproduce this exact same behaviour on my Macbook Air 2020 with M1 chip running macOS 11.1. I observed this only, when the Mac was in sleep mode. I assume, it may be related to a timed-out network connection, which does not get a wake-up trigger to reconnect.

The reload link does not work as well, but this may be a different issue.

[2020-12-28 15:08] Signior-X commented on #1053
I actually installed and read both the docs for installing the desktop app on windows and ubuntu. I found that the links and information present in [how-to-install.md](https://github.com/zulip/zulip-desktop/blob/master/how-to-install.md) are all present in [desktop-install-guide](https://zulip.com/help/desktop-app-install-guide)
In case of macOS and windows, it was almost same.

In case of linux O

[2020-12-28 15:37] Signior-X commented on #940
I tried from the source to reproduce on ubuntu with gnome shell, but couldn't reproduce. It's weird, the icon is perfect on my gnome system, may be the difference of Arch linux and ubuntu.

[2020-12-30 16:04] tarun8718 opened #1054 "Placeholder moves outside the Input bar at settings."
**Describe the bug**
Placeholder moves outside the Input bar at settings.

**To Reproduce**

1. Run Zulip-desktop locally
2. Open Settings

**Expected behavior**

Placeholder should be within the bounds.

**Screenshots**

![Screenshot from 2020-12-30 21-01-52](https://user-images.githubusercontent.com/40015660/103365639-876e0500-4ae6-11eb-9764-13df3f8c0b1c.png)

 - Operating System:
Ubuntu 18.04 x

[2021-01-03 00:54] vanclute opened #1066 "Windows Desktop App won't remember window position"
I run multiple displays, and keep all my social stuff on one particular screen, sized just the way I want them. But Zulip refuses to remember where I had it from one launch to the next. It always pops up on my primary display instead, and I have to reposition/scale it every time.

[2021-01-06 13:18] tarun8718 opened #1057 "Toggle Tray Icon not working in Ubuntu"
**Describe the bug**
When I click on  `Toggle Tray icon` : The existing tray icon is not deleted but a new tray icon is created.

**To Reproduce**
1) Open Zulip Desktop app
2) Go to settings
3) Click on the `Show app icon in system tray` option
or
1. Open Zulip Desktop app
2. Go to view (menu bar)
3. Click on `Toggle Tray Icon`

**Screenshots**

![Screenshot from 2021-01-06 16-20-14](https://user-

[2021-01-08 06:19] tarun8718 commented on #1053
Hey, @timabbott I have linked a [PR](https://github.com/zulip/zulip/pull/16981) for this issue can you please review it?

[2021-01-08 06:36] tarun8718 opened #1060 "Ctrl + = Zooms in by two steps instead of one."
**Describe the bug**

`Ctrl` + `=` Zooms in by two steps instead of one. This can be checked as we need to press `Ctrl` + `-` **twice** in order to go back to the actual(default) size of window.

**To Reproduce**

1) Open Zulip Desktop App
2) Press  `Ctrl` + `=`  or `Ctrl` + `+`

**Desktop (please complete the following information):**
 - Operating System: Ubuntu 18.04 x64

 - Zulip Desktop Versio

[2021-01-10 20:51] laMudri opened #1061 "Skewed tray icon"
**Describe the bug**
The following image is a screenshot of the tray icon when I have 43 unread messages: ![2021-01-09-223607_31x26_scrot](https://user-images.githubusercontent.com/5139265/104110605-2a860200-52d1-11eb-91fa-a0362612115b.png). The number is still visible, but very distorted.

**To Reproduce**
Have unread messages with Zulip open.

**Expected behavior**
A legible count of unread mess

[2021-01-12 05:29] skshamagarwal commented on #1031
@akashnimare can you assign this issue to me.

[2021-01-12 07:02] GertBurger commented on #991
This is still a problem in 5.5.0

[2021-01-12 14:15] skshamagarwal commented on #1060
#1063 **Issue fixed**

[2021-01-12 14:16] skshamagarwal commented on #1031
#1063 **Issue fixed - ready for review**

[2021-01-14 04:26] skshamagarwal opened #1067 "Deleted"

[2021-01-14 04:31] #1067 closed, assigned to nobody

[2021-01-14 05:51] jalajcodes commented on #1061
I can't seem to reproduce it on Windows 10, maybe its specific to your OS

[2021-01-14 07:13] tarun8718 opened #1068 "Dropdown detaches from input on scroll"
**Describe the bug**

The Dropdown of input "Spellchecker Languages" gets detached from the input on scroll.

**To Reproduce**

- Open Zulip Desktop App
- Open settings
- Click on Enter Language input corresponding to the label **Spellchecker Languages**
- Scroll up/down on the active window.

**Screenshots**

![Screenshot from 2021-01-14 12-32-25](https://user-images.githubusercontent.com/4001566

[2021-01-15 05:10] jalajcodes commented on #1068
I'd like to work on it...

[2021-01-16 02:50] gauravpandit91 opened #1069 "Complete distortion of Zulip app icon on a monitor connected to a macbook pro"
**Describe the bug**
I connect Macbook Pro running macOS Catalina (10.15.7) to a Samsung monitor C27F390 (27-inch (1920 x 1080)) using HDMI. When the display is switched to the Samsung monitor and I use the Finder to locate Zulip app in Applications folder, the Zulip icon looks completely distorted. I can't even recognize what is actually being displayed. However, on the Retina Display (13.3-inch

[2021-01-16 02:58] jalajcodes commented on #1068
@tarun8718 should I start or wait for it to be assigned to me?

[2021-01-19 06:09] rht opened #1070 "Migrate Windows CI from Appveyor to GitHub Actions"
We'd want to have fewer CI platforms to keep track of.
See also https://chat.zulip.org/#narrow/stream/16-desktop/topic/appveyor.20ci.

[2021-01-19 08:11] ganpa3 commented on #1070
@zulipbot claim

[2021-01-19 09:07] ganpa3 commented on #1070
Much of the work is done in this PR:
https://github.com/zulip/zulip-desktop/pull/901

[2021-01-19 11:58] rht commented on #1070
@ganpa3 that PR is for app installer. The test procedure on appveyor.yml is different. You can still work on it.

[2021-01-19 12:02] rht commented on #1070
Oh, actually, that PR includes `npm run test` on `windows-latest`.

[2021-01-19 13:54] rutvi18 commented on #409
@zulipbot claim

[2021-01-26 20:51] timabbott commented on #955
I think we close this as likely resolved by the Chromium upgrade given that Chromium worked for the user and we're now running Chromium newer than the report.

[2021-01-26 20:51] #955 closed, assigned to nobody

[2021-01-26 21:17] timabbott commented on #1070
Sounds like we should rebase/clean up #901, which seems to have been unfinished; I don't think the author has been active recently so someone else should take it up.

[2021-01-27 14:14] hollov opened #1071 "Copy entire message by selecting it with triple click (Windows)"
**Problem Description**
When I select the whole message with triple click and copy it, the name of the user who sent that message AND the next message with user name are also copied to the clipboard
It's quite cumbersome to copy eg. file paths this way; always have to select the text with LMB drag-select.

**Proposed Solution**
Please make it copy just the message itself.

[2021-01-28 08:02] andreasoc opened #1092 "Windows size is lost on reboot"
After the latest updates it seems to me, the Window size of Zulip, at reboot, is lost and therefore every time you have to reset to full screen, and if you had it on the second monitor, put it back on the second monitor.
thanks

[2021-01-28 15:23] hollov opened #1072 "Mark as unread"
Ability to mark messages as unread

[2021-02-02 14:50] moki1202 commented on #409
@zulipbot claim

[2021-02-03 18:44] chris-m-taylor commented on #1092
Could you post a few screenshots that show the issue?

[2021-02-04 08:28] andreasoc commented on #1092
Sure!
this is my favorite size, full screen.
![vmrc_MMwCXcxSaP](https://user-images.githubusercontent.com/2852354/106865024-e537d300-66ca-11eb-903c-a9c07333d6b9.png)

2. Restart the PC and this is the video after restart, Zulip return to the default size.

https://user-images.githubusercontent.com/2852354/106865105-05679200-66cb-11eb-8fdb-c34780c65c64.mp4

3. This is another PC with the same probl

[2021-02-04 21:52] lukem1 commented on #1092
Hey @andreasoc, sounds like you are describing an issue with the Zulip desktop client, you should open this issue in the [zulip-desktop](https://github.com/zulip/zulip-desktop) repository.

[2021-02-05 17:16] ganpa3 commented on #1070
@zulipbot claim

[2021-02-05 17:16] ganpa3 commented on #1070
@zulipbot add "help wanted"

[2021-02-05 17:16] ganpa3 commented on #1070
@zulipbot claim

[2021-02-06 09:41] ganpa3 commented on #406
@zulipbot claim

[2021-02-10 17:07] ganpa3 commented on #1070
@rht Would you please review the PR https://github.com/zulip/zulip-desktop/pull/1074 related to this issue?

[2021-02-11 17:35] drunlade commented on #1060
@a-saksham
Issue still exists. Zooming in is single step, zooming out goes two steps.

[2021-02-14 16:48] imrefazekas opened #1076 "native Apple M1 release?"
Dear Team,

If the project is moved to Electron v11, it is possible to release an ARM version of the desktop app. To support Apple silicon platforms.
When could we expect such version?

Thanks!

[2021-02-14 19:14] sanfords opened #1077 "Stuck in preferences"
The Mac desktop client is great, thank you!

1. Open Mac desktop client.
2. Select "Desktop Settings" from the "Zulip" menu in the menubar (or type command-, )
3. There doesn't seem to be a way out of this screen.
4. Quit and restart application to make settings go away.

Thank you.

[2021-02-16 23:31] #1060 closed, assigned to nobody

[2021-02-18 05:01] timabbott commented on #1076
Thanks for the question!  We don't have a timeline yet, but we're looking into it.  Do you have an Apple M1 already?  If so, you can try building from source.

[2021-02-18 10:10] michel-steuwer commented on #1076
I have an M1 and can report that I successfully build it from source without any modifications resulting in an Apple silicon native process.

[code]
just worked

[2021-02-18 10:16] imrefazekas commented on #1076
Yes it builds and it runs, thanks!

[2021-02-18 18:12] timabbott commented on #1076
Thanks for the confirmation!  I'm going to reopen this to track the work of including an M1 binary in our releases.

[2021-02-19 03:44] oceanlvr commented on #932
We get some problem in our APP. https://github.com/emqx/MQTTX/issues/506

[2021-02-19 23:00] rmbellovin opened #1079 "desktop client clears organizations on restart"
I am running the zulip desktop client on ubuntu 20.04, and sometimes (but not always) the client clears the organizations I've joined if I restart it, and I have to re-add each of them.  Is there a way to stop this from happening?

[2021-02-20 18:56] yasiruRathnayaka97 commented on #1068
This is may be an issue of tagify. Can see the same detachment issue in tagify examples (link: https://yaireo.github.io/tagify/)

[2021-02-20 19:09] yasiruRathnayaka97 commented on #1054
This error yet present in the version 5.6.0.

[2021-02-23 23:23] Ethanol6 commented on #1077
I just started using Zulip and I found this very confusing as well. The method I used was to "hard reload" from the "view" menu.

There is a simpler way.
* Just click on your organization icon in the left hand side bar.

[2021-02-23 23:56] sanfords commented on #1077
The hard reload works.  Thanks!

Unfortunately I have no "Organization Icon" in the left hand sidebar when the preferences are opened from command-,.