[2017-11-03 18:25] akashnimare commented on #328
@Andy3142 can you remove `C:\Users\[name]\AppData\Roaming\Zulip` directory and start app again?

[2017-11-03 19:03] cedricium commented on #328
@akashnimare sounds like this might relate to #310? Before @Andy3142 removes the directory, should we investigate further?

[2017-11-03 19:13] akashnimare commented on #310
@geeeeeeeeek is it possible that reloading the DB while updating the saved server causing this issue. Do we really need to reload db here -
https://github.com/zulip/zulip-electron/blob/0a1866abb58a1bba4200e790161eb357b39ac3e9/app/renderer/js/utils/domain-util.js#L49
https://github.com/zulip/zulip-electron/blob/0a1866abb58a1bba4200e790161eb357b39ac3e9/app/renderer/js/utils/domain-util.js#L218
https

[2017-11-03 19:18] akashnimare commented on #328
Hmm, I don't think it's #310 since he can run the server and logout using the setting gear icon (In #310 app doesn't load at all it only show the loading icon).

But let's see what's his `domain.json` looks like. @Andy3142 can you please paste the content of `C:\Users\[name]\AppData\Roaming\Zulip\domain.json` before doing https://github.com/zulip/zulip-electron/issues/328#issuecomment-341788275.

[2017-11-04 14:50] PaulMorris opened #329 "Switching between servers with window menu and keyboard"
I had two zulip servers set up in the app and at first I could switch between them as expected.  Then, after a few days of use, the items in the window menu to switch between them stopped working, and also the ctrl+1 and ctrl+2 keyboard commands.  Switching between them by clicking the icons in the sidebar still worked (although I had the sidebar hidden before I encountered the problem).  Restarti

[2017-11-05 19:29] akashnimare commented on #320
Demo - http://akashnimare.in/electron/

@timabbott I have tried few solutions which basically fetches the latest release of our app from GitHub api but I think that will unnecessarily increase one more http request (which will make /apps page slow) so it's better to update the latest version manually 😅

[2017-11-07 15:40] Andy3142 commented on #328
Here's the json file and a screen snip of the funny pulsating icon.  While I do now get the "Dev tools for tab" tab, the Console tab within that is void, so I don't see how to upload the log as requested above.  Console tab says at the top

`Socket connected [transport=websocket]  webpack:///./static/js/blueslip.js`

but apart from that the pane is empty. I assumed there must be a way to upload th

[2017-11-07 15:55] akashnimare commented on #328
Okay, this looks good. Can you also paste the console logs of app? You can find it in  `Menu > View Toggle DevTools for Active Tab` and then `developer tools > console tab`.

![image](https://user-images.githubusercontent.com/2263909/32502882-e3e8189e-c401-11e7-9ac2-de57e1755bd2.png)

[2017-11-07 16:45] Andy3142 commented on #328
@akashnimare View Dev Tools for Zulip App > Console is also 100% blank.
Just for my curiousity, is there not some way to send the entire Dev Tools output as some kind of xml file or something like that?

[2017-11-07 18:13] akashnimare commented on #328
As of now, nope!

[2017-11-07 18:47] shidarin opened #330 "OSX Zulip icon low res"
The zulip icon on OSX laptops with retina (high dpi) screens does not match the system dpi.

<img width="95" alt="screen shot 2017-11-07 at 10 46 27 am" src="https://user-images.githubusercontent.com/5846610/32511548-ee8f64ea-c3a8-11e7-9afc-5b490cbb0114.png">

[2017-11-07 18:53] akashnimare commented on #330
Yes, the current icon is of 16x16 px. On retina display it should be 32x32 px.

[2017-11-08 06:57] #330 closed, assigned to nobody

[2017-11-08 06:59] akashnimare commented on #330
@shidarin Added high res tray icons https://github.com/zulip/zulip-electron/commit/9853e9226c0cea78cff96d2cc7751e71b513436a.

[2017-11-08 08:57] akashnimare commented on #328
I think it's good idea to write dev tools logs for active tab and zulip tab in a file.

[2017-11-08 08:59] akashnimare opened #331 "Write dev tools log to a file"

[2017-11-09 02:31] glyph commented on #317
I am also noticing this with <kbd>⌘R</kbd> now, and it seems to happen almost every day now, which means part of my web-dev workflow is to quit zulip 3 or 4 times per day.

Anything I can do to make this more reproducible?

[2017-11-09 02:31] glyph commented on #317
My OS is now
[code]
so not fixed by Apple :)

[2017-11-09 02:35] glyph commented on #317
I am not sure what the exact race condition is here, but https://www.npmjs.com/package/electron-localshortcut looks like a *horrible* hack that seems like a magnet for exactly this kind of bug. It is not appropriate for a mac app to register global hotkeys just to avoid populating the menu bar.  Please just put the stuff into a menu like the human interface guidelines recommend, and this global re

[2017-11-09 03:05] cedricium commented on #317
Hey @glyph, can verify the steps taken to reproduce this? Or if it's not always reproducible, just outline what happens when you use <kbd>⌘</kbd><kbd>1</kbd> / <kbd>⌘</kbd><kbd>R</kbd>. I didn't understand your original comment about when you opened this issue.

Would love to help get this fixed!

[2017-11-09 08:28] penCsharpener opened #332 "Min. Window width dependent on zoom level"
OS: Windows
Behaviour: the desktop client has a minimum Window width which is 👍
However I would like it even thinner and that could work if I zoom out Zulip.
Could the minimum width be reduced if the user zooms out?

PS: I could use Skype almost like a side bar but for Zulip Desktop to work that way it would need to be a little narrower.

[2017-11-11 01:33] timabbott commented on #317
@akashnimare what do you think about replacing that library?  I am partial to @glyph's argument here.

[2017-11-11 14:49] akashnimare commented on #328
@Andy3142 is the app working fine? Are you able to logout using `CTRL+L` ?

[2017-11-12 20:25] glyph commented on #317
@cedricium I just launch Zulip and wait for it to steal my hotkeys ;).  What happens when I press <kbd>⌘1</kbd> with Zulip in the background is that it does exactly what <kbd>⌘1</kbd> does with Zulip in the foreground, whatever that would be.

[2017-11-13 03:59] JoeJasinski opened #334 "osx: no way to disable Zulip from starting on Login"
After installing Zulip Desktop 0.5.2 on Mac OSX 10.13.1 (and prior versions), the application starts automatically on login.  A zulip icon appears as a menu in the top menu bar in OSX.  This menu offers no means to disable auto-start on login.  I'm having difficulty determining where this application launches and how I can disable it from doing so automatically.  No entry appears in the "LoginItem

[2017-11-13 09:43] akashnimare commented on #334
@JoeJasinski are you sure that you're using `v0.5.2`? The current stable version is v1.5.0. In the latest release there is a setting option to disable/enable this feature.

![image](https://user-images.githubusercontent.com/2263909/32719054-07c0016e-c885-11e7-9fc1-67a721575665.png)

 Download it from - https://zulipchat.com/apps

[2017-11-13 13:10] akashnimare commented on #317
I know `electron-localshortcut` has created problems in past but I guess we fixed most of the issues. I updated my macOS from `10.12` to `10.13` but couldn't repro this hotkey bug. @glyph
just to make sure that we're on same page can you confirm that you're using the latest version which is `v1.5.0` via clicking on  `Menu > About Zulip` -

![image](https://user-images.githubusercontent.com/2263909

[2017-11-13 15:06] Andy3142 commented on #328
@akashnimare  The situation is as per my post of 6 days ago: following the reinstall, the app works fine including CTRL-L, so the problem was a corrupt install. HOWEVER there is still a circular, slowly-pulsating blue circle stuck to the screen, per previous image file.  I strongly assume this circle is a bug. View > devtools for app > console is blank. Until today, devtools for tab > console has

[2017-11-13 15:48] akashnimare commented on #328
@Andy3142 Okay, do a clean install and let me know if everything works as expected.

[2017-11-13 17:41] Andy3142 commented on #328
No good, the problem persists.  I deleted Users>[me]>appdata>roaming>Zulip, restarted, downloaded again, re-installed, entered my domain, and still get the floating pulsating blue circle. I did that whole procedure a second time (well, I didn't download yet again) and still get the maddening pulsating circle. It appears in slightly different randomish points on the screen and it appears in every s

[2017-11-13 17:53] akashnimare commented on #328
Can you please upload a gif/screenshots of the issue so that I can see what's going on!

[2017-11-13 18:07] Andy3142 commented on #328
I already did, but here are 2 more.
![2-capture](https://user-images.githubusercontent.com/33326823/32740994-a8ee5196-c89c-11e7-8b16-63b6d9d7481e.PNG)
![1-capture](https://user-images.githubusercontent.com/33326823/32740995-a90ea9be-c89c-11e7-95b9-9082e22a3641.PNG)

I can't record a gif easily but a second, lighter blue, circle expands out from this one until it's about double the diameter, then v

[2017-11-13 18:39] glyph commented on #317
Yes, I'm using 1.5.0.

[2017-11-13 18:41] akashnimare commented on #328
I'm sure this is not coming form desktop app. @rishig, @timabbott any idea from where it's coming?

[2017-11-13 18:48] glyph commented on #317
Only on your computer, apparently ;-).

The way electron-localshortcut works is *fundamentally* a bad idea.  Calling APIs like this for no reason is the sort of thing that gets you banned from the mac app store, flagged as malware, etc.  Global hotkeys should only be mapped if you are clearly calling this out to the user as global.

To help track this down, in case it's an interaction with somethi

[2017-11-13 18:56] Andy3142 commented on #328
Forgive me being naive,  but could this be corrupt user data caused by the original corrupt install?

[2017-11-13 18:57] akashnimare commented on #328
I don't think so. BTW do you see this issue in web app?

[2017-11-13 19:58] timabbott commented on #334
@JoeJasinski how did you end up with 0.5.2?  That version is super old and actually a completely different app implementation.  Try uninstalling the old app and downloading 1.5.0 from https://zulipchat.com/apps/.

(I'm closing this issue since it doesn't apply to this project; it applies to the old zulip-desktop-legacy project, so there's nothing we can do to address it here)

[2017-11-13 19:58] #334 closed, assigned to nobody

[2017-11-13 20:17] Andy3142 commented on #328
I'm attempting to log in to the web app but apparently I can't just simply log in; when I click "login" on zulipchat,com > login, I get taken to this page:   https://zulipchat.com/accounts/find/
where I enter my email and and am now waiting a long time for a login email. If this is correct behaviour then I am simply waiting for an email, these took many hours to arrive when I set up the account or

[2017-11-14 01:10] timabbott commented on #328
OK, so there's a few things going on here:
* The login link on the zulipchat.com homepage is a bug, fixed here: https://github.com/zulip/zulip/commit/a86968cd44d931c76dfecd0426825b580b47598a
* zulipchat.com doesn't host any Zulip organizations, though e.g. subdomain.zulipchat.com does.  The "Find account" thing will work if your account is part of a subdomain.zulipchat.com organization.  Perhaps t

[2017-11-14 13:46] Andy3142 commented on #328
(1) @timabbott  as far as I can see the login bug is not fixed, it is a bug - I try to login and I get sent to the "find" page - surely that is an active bug?
(2) @akashnimare, I logged in on the web and the blog is still there.  So, you can log in as me if you like and you too should see it:
email islam@livenowlovenowhealnow.co.uk , p/w demo-1234

[2017-11-14 15:48] akashnimare commented on #328
@Andy3142 what Zulip server address you're trying to connect to?

[2017-11-14 16:04] olbrich commented on #317
I see this pretty consistently with iTerm in particular.  Switching to Zulip (or quitting it) releases the cmd-1 key back to the system.   I can consistently get this to happen when I switch spaces.

[2017-11-14 16:11] akashnimare commented on #317
Okay, so we need to remove `electron-localshortcut` library which is the root cause of this issue. I'm looking for ways to implement same shortcuts without the use of this module which should fix this issue.

[2017-11-14 16:45] akashnimare commented on #317
I have pushed a fix in [remove-electron-localshortcut](https://github.com/zulip/zulip-electron/tree/remove-electron-localshortcut). I have removed `electron-localshortcut` dependency and now using electron's default [globalShortcut](https://github.com/electron/electron/blob/master/docs/api/global-shortcut.md) api to register the shortcuts. Can somebody cross check if it works as expected?

[2017-11-14 17:53] timabbott commented on #328
For (1), I'd just made the change in the codebase; it hasn't been deployed to production yet.  After the change, that page won't have a login link anymore (that's the bug).

[2017-11-14 19:37] Andy3142 commented on #328
@akashnimare Sorry, should have said: oshouk.zulipchat.com

[2017-11-14 19:49] akashnimare commented on #328
![image](https://user-images.githubusercontent.com/2263909/32801095-0ef2d768-c9a2-11e7-8709-7b5ee81ca094.png)

![image](https://user-images.githubusercontent.com/2263909/32801148-3c2dc936-c9a2-11e7-9f37-1db0d170bd25.png)

Well, those popups are shown when you first visit the server. It's a feature not a bug. They just help you to understand the features of Zulip. You just have to press `got it` an

[2017-11-14 21:33] JoeJasinski commented on #334
Thank you @timabbott and @akashnimare. I'll try with a newer version.

[2017-11-14 22:14] glyph commented on #317
The problem with localshortcut is that it *uses* globalShortcut.  If anything this would be worse.

[2017-11-14 22:21] akashnimare commented on #317
@glyph I have completely removed `electron-localshortcut` and `globalShortcut`. Now we only rely on menu for shortcuts - https://github.com/zulip/zulip-electron/commit/bcb8ffb55f7ef28c2b56bfee07322d1357f76458.

[2017-11-15 11:45] Andy3142 commented on #328
I get it that the square popups are a feature. It's not obvious that the purpose of the blob is to lead to an optional popup. Are you therefore also saying the funny pulsating blob with its irregular position, to-me irritating rhythm, inconsistent response to scrolling, and with the appearance of being a "please wait, processing in progress" rather than a "click here for option information" icon i

[2017-11-15 23:40] timabbott commented on #328
Thanks for your feedback @Andy3142!  The sort of pulsing indicator is a common way do suggest you click on something in a modern tutorial.

That said, @brockwhittaker @rishig FYI; the feedback on the tutorial is something I hadn't heard before.

I think we should return discussion on issue to be about the actual desktop app problem (something to do with `ctrl-L`?).

[2017-11-16 15:24] akashnimare commented on #328
@Andy3142 are you able to logout using `CTRL-L` from desktop app?

[2017-11-16 19:15] akashnimare commented on #317
Just released [1.6.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.6.0-beta). @glyph, @olbrich please update app (via selecting `Get beta updates` from setting option or download manually through this [link](https://github.com/zulip/zulip-electron/releases/download/v1.6.0-beta/Zulip-1.6.0-beta.dmg)) and see if it fixes this issue.

[2017-11-16 19:22] glyph commented on #317
@akashnimare Fantastic. Thank you so much for the fix - and for fixing it the Right Way!

I got the auto-update notification and installed it, and despite using it for longer than the average time where this would trigger, with all my usual apps running, I have not had my hot keys get grabbed.  Seems to be working great!

It's hard to be *totally* sure since I don't know what I did that would reli

[2017-11-16 20:31] olbrich commented on #317
seems good so far, I can switch spaces without issue.

[2017-11-16 21:07] akashnimare commented on #317
Awesome. Glad we hunt down the root cause of this issue. @olbrich, @glyph thanks a lot for helping us in debugging  ❤️   Feel free to re-open if it happens again.

[2017-11-16 21:07] #317 closed, assigned to nobody

[2017-11-16 21:13] akashnimare commented on #329
@PaulMorris I think this is related to #317. We have pushed a fix in new beta release - [1.6.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.6.0-beta). Please update your app (via selecting `Get beta updates` from setting option or download manually through this [link](https://github.com/zulip/zulip-electron/releases/download/v1.6.0-beta/Zulip-Web-Setup-1.6.0-beta.exe)) and see if

[2017-11-16 21:15] akashnimare commented on #321
Added in [1.6.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.6.0-beta).

[2017-11-16 21:15] #321 closed, assigned to nobody

[2017-11-16 21:19] akashnimare commented on #325
@alexandrul https://github.com/zulip/zulip-electron/issues/325#issuecomment-341144399 and https://github.com/zulip/zulip-electron/issues/325#issuecomment-341115133 will be fixed once #126 is done.

[2017-11-16 21:23] akashnimare commented on #332
It will make sense to make app thinner if you zoom out. Let me see if it's doable.

[2017-11-16 21:31] akashnimare commented on #315
Fixed in https://github.com/zulip/zulip-electron/commit/77094596a53c60547ed5794a52c7df9c3bcf399b and pushed to [1.6.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v1.6.0-beta).

[2017-11-16 21:31] #315 closed, assigned to nobody

[2017-11-16 21:35] akashnimare commented on #314
Progress is going on in [hidden-on-startup](https://github.com/zulip/zulip-electron/tree/hidden-on-startup) branch.

[2017-11-16 21:42] akashnimare commented on #220
@vbNETonIce should we close this issue?

[2017-11-16 21:45] akashnimare commented on #244
@rishig can you please give me the content so that I can just copy paste there 😄

[2017-11-16 22:00] alexandrul commented on #325
Thank you for the good news.

[2017-11-17 09:29] penCsharpener commented on #220
yes, go for it.

[2017-11-17 09:29] #220 closed, assigned to nobody

[2017-11-17 12:08] akashnimare commented on #332
So what I'm planning to do here is that If a user Zooms out then we'll set the `minWidth` to 300 px. @vbNETonIce make sense?

[2017-11-17 13:43] sroy8091 opened #336 "Fail to connect message is not properly spaced."
I am using Ubuntu 17.04. Failing to connect message has incorrect spacing.
Steps to reproduce:-
Open Zulip desktop and try to connect with an invalid Zulip server
Here is a snapshot:-
![screenshot from 2017-11-17 09-38-09](https://user-images.githubusercontent.com/10785074/32950157-659218ec-cbcb-11e7-9c2a-8ebfc25053fb.png)

[2017-11-17 16:31] akashnimare commented on #336
@sroy8091 interested in working on this?

[2017-11-17 16:32] akashnimare commented on #332
The other option is to just set the default `minWidth` to 300px.

[2017-11-18 08:30] sroy8091 commented on #336
yes @akashnimare

[2017-11-18 16:53] akashnimare commented on #336
@sroy8091 please claim the issue by commenting `@zulipbot claim`.

[2017-11-18 20:04] sroy8091 commented on #336
@zulipbot claim

[2017-11-20 04:19] rishig commented on #244
What do other apps do here? It's possible About pages have fallen out of favor; I can't find spotify's in their desktop app, and chrome's is buried two layers deep and just looks like
![image](https://user-images.githubusercontent.com/890911/33002059-9fc6a22a-cd66-11e7-8705-c94a97c680d4.png)

[2017-11-20 04:40] timabbott commented on #244
I would consider looking at apps that are more similar in purpose like Nylas or Slack.

[2017-11-21 15:38] #336 closed, assigned to nobody

[2017-11-22 01:25] twestberg opened #339 "Zulip desktop on Mac grabs Cmd-R keys"
On a Macbook Pro running 10.13.1 (17B48), after some time (I don't know when, or why) I noticed that my Cmd-R keys (attempting to reply to email, or refresh a browser window, or jump to a method definition in Sublime Text) are only refreshing the Zulip window, no matter what	window has the focus and menubar. Quitting and restarting Zulip desktop fixed it, at least temporarily. Three other people a

[2017-11-22 01:28] timabbott commented on #339
@twestberg try upgrading to the 1.6.0-beta; this should be fixed there.

[2017-11-22 01:29] timabbott commented on #339
@akashnimare we may want hurry along releasing 1.6 to production since this bug is pretty annoying -- let's make a plan tomorrow.

[2017-11-22 01:42] rishig opened #340 "design: Improve "Add Server" page for new users."
I think the "Add server" page is currently a bit confusing for new users.

Some suggestions:
 - [X] Replace the "Enter the URL of your .." placeholder text with
A line above the input area: "Login or registration URL for your Zulip organization"
Placeholder text: "https://example.zulipchat.com/login"

(on our end, we should then accept the URL whether it ends in nothing, `/`, `/login`, or `/regist

[2017-11-22 08:05] akashnimare commented on #339
@timabbott yeah, I thought the same. Preparing for the release 🚀

[2017-11-22 09:04] akashnimare commented on #340
Done.

Done.

A line above the input area: "Login or registration URL for your Zulip organization"
Placeholder text: "https://example.zulipchat.com/login"

I think the title **Enter URL of your Zulip organization** is good enough.
For placeholder - `example.zulipchat.com`

![image](https://user-images.githubusercontent.com/2263909/33118472-ff6a78b4-cf91-11e7-9c3e-63255d7a2e04.png)

[2017-11-22 14:19] akashnimare opened #341 "Improve development guide"
We have this [guide](https://github.com/zulip/zulip-electron/blob/master/development.md) but it's not detailed. It would be great to have a detailed guide on how to install the dev env on various OS Windows/macOS/Linux which will include the instructions, screenshots, troubleshooting etc.

[2017-11-22 15:24] rishig commented on #340
Thanks!
A few notes:
* Regardless of the final language, I think the "Enter URL .." instructions should be inside the white box, so it's clear it applies to that box, and isn't a title of the page as a whole
* The "Add your first server .." text should go up top, where "Enter URL .." is now

* I don't think most people will know what a server is. How about the following text?
"Register or login to

[2017-11-24 20:16] akashnimare commented on #339
@twestberg this is fixed. Please upgrade to [1.7.0](https://github.com/zulip/zulip-electron/releases/tag/v1.7.0).

[2017-11-24 20:16] #339 closed, assigned to nobody

[2017-11-24 20:16] akashnimare commented on #329
@PaulMorris this is fixed. Please upgrade to [1.7.0](https://github.com/zulip/zulip-electron/releases/tag/v1.7.0).

[2017-11-24 20:16] #329 closed, assigned to nobody

[2017-11-24 20:17] akashnimare commented on #328
Closing due to inactivity. Please re-open if it happens on [1.7.0](https://github.com/zulip/zulip-electron/releases/tag/v1.7.0).

[2017-11-24 20:17] #328 closed, assigned to nobody

[2017-11-25 01:36] yesthatguy opened #342 "Can't get out of custom emoji image shadowbox"
I added a custom emoji and decided I wanted to change the image. I clicked on the image (the bold letters "ev" here):
<img width="1135" alt="screen shot 2017-11-24 at 11 49 27 am" src="https://user-images.githubusercontent.com/10944164/33226236-c0923c94-d14e-11e7-99f8-d949c5cb6b4f.png">

And was presented with the image in a shadowbox:
<img width="1137" alt="screen shot 2017-11-24 at 11 48 39 am"

[2017-11-25 10:39] akashnimare commented on #342
You can use `CMD+Left` and `CMD+Right` to go back and forward.

[2017-11-25 17:38] timabbott commented on #342
That workaround should work.  @akashnimare I think possibly the bug here is just a webapp issue that we're missing `target=_blank` on the custom emoji links...

[2017-11-25 17:44] #342 closed, assigned to nobody

[2017-11-27 21:37] fleytman opened #343 "The text from the input field disappears if you click in an empty area"
The text from the input field disappears if you click in an empty area.

Steps:

1. Input text on input field
2. Press in an empty area or switch to another channel

**Expected Result:** The text in the input field does **not** disappear. On web version
**Actual result:** Text from the input field **disappears**

The web version works as expected.

![field_bug](https://user-images.githubuserconten

[2017-11-27 22:10] timabbott commented on #343
@fleytman thanks for reporting!  I'd be surprised if this were an electron app bug, and not a test procedure difference.

I'd like to make sure you're testing correctly: In Zulip, clicking an area that isn't a link or anything special will close the compose box (and save the content as a draft), while switching narrows should not close the compose box; is that what you're seeing?

[2017-11-27 22:23] fleytman commented on #343
@timabbott,

**Zulip electron windows**
1) I click on empty area and compose box close, and message no in draft
2) I click on empty area and compose box close, and message no in draft

**Zulip firefox (57, 64bit)**
1)  I click on empty area and compose box no close
2) I click on empty area and compose box no close,
See https://github.com/zulip/zulip-electron/files/1507698/field_bug.zip

**New test

[2017-11-27 22:24] fleytman commented on #343
I want save my message if i miss-click

[2017-11-27 22:48] timabbott commented on #343
@fleytman have you tried using the `d` hotkey or the "drafts" button at the bottom of the screen?

[2017-11-27 22:50] fleytman commented on #343
@timabbott, I did not know about this feature. Thank you very much for your help!

[2017-11-27 22:54] fleytman commented on #343
Retest on firefox without extension, is similar to an electron, IE and chrome

[2017-11-27 22:57] fleytman commented on #343
But it seems to me that it's a bad idea to nullify the field and not everyone will get into the manual to find out about the feature with drafts.
When I'm writing a long message and I lose it, I'm very angry.

[2017-11-27 23:00] timabbott commented on #343
Agreed.  A few thoughts on what we should actually do here:
(1) We should have a little notice that the message was saved as a draft when we save a draft; it'd be a simple code change and make this much more discoverable.
(2) Did you find an issue with clicking links to renarrow closing the compose box?  It shouldn't.

I think both types of issues actually belong on https://github.com/zulip/zulip

[2017-11-27 23:02] fleytman commented on #343
I agree

[2017-11-27 23:04] timabbott commented on #343
OK, I'll take care of that.

[2017-11-27 23:04] #343 closed, assigned to nobody

[2017-11-27 23:07] timabbott commented on #343
See https://github.com/zulip/zulip/issues/7539

[2017-11-28 03:11] PaulMorris commented on #329
Thanks!  I will upgrade.

[2017-11-30 02:10] priyank-p commented on #39
@brainwane @akashnimare there is a way to add extensions to chrome app but with some caveats:
  * They do not show up in the app
  * They were meant to be used internally be electron app like for example react-dev-tools for devlopment.
Although password are saved like local chrome browsers we do not need to implement one altleast i dont think so.

ping @hackerkid i think this should not be in the

[2017-11-30 02:33] hackerkid commented on #39
hmm. @akashnimare handed me this over as task for GCI. He is away for a few days I think. @timabbott thoughts on this?

[2017-11-30 06:34] timabbott commented on #39
Yeah, this doesn't really seem in-scope for GCI (seems like a lot of work).  It's also not clear to me that this is a reasonable feature for us to build regardless.

So I'm going to close this as wontfix; @hackerkid can you remove the GCI task when you get a chance?

Thanks @cPhost for posting about this :)

[2017-11-30 14:37] hackerkid commented on #39
Task deleted. Thanks again @cPhost for reporting this. :)

[2017-12-01 17:55] YJDave opened #344 "zoom in/out doesn't work for both Ctr -/+ keys"
Short keys used for zoom in/out are
Linux/Windows - **CTRL+** for zoom in, **CTRL-** for zoom out

zoom in/out should work for both `-`/`+` keys of keyboard(in case keyboard have two keys for `-`/`+`).
They have different key code as they are different keys(ex. for `-` 109 and 189), so we have to set event for both key codes.

More discussion about this issue [here](https://chat.zulip.org/#narrow/

[2017-12-01 18:11] akashnimare commented on #344
Look at the code for zoom functionality - [here](https://github.com/zulip/zulip-electron/blob/master/app/main/menu.js#L65). Electron doesn't support numpad hotkeys -
https://github.com/electron/electron/issues/3332. Ideally, this should be fixed in electron. Can you submit the same issue there?

[2017-12-01 18:27] akashnimare commented on #344
To fix this here, we need to listen for `keydown` event in [preload.js](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/preload.js). I have a macOS keyboard so can't work on this.

[2017-12-01 18:31] YJDave commented on #344
Submitted as [electron/electron#11310](https://github.com/electron/electron/issues/11310) in electron.

[2017-12-02 22:52] priyank-p commented on #331
@zulipbot claim.

[2017-12-03 01:22] priyank-p commented on #244
@zulipbot claim.

[2017-12-03 19:43] #331 closed, assigned to nobody

[2017-12-03 22:58] priyank-p commented on #283
@zulipbot claim.

[2017-12-04 09:25] akashnimare commented on #244
Added in #346.

[2017-12-04 09:25] #244 closed, assigned to nobody

[2017-12-04 09:50] #332 closed, assigned to nobody

[2017-12-04 09:50] akashnimare commented on #332
Set the `minWidth` to 300px and `minHeight` to 400px.

[2017-12-04 11:32] akashnimare opened #348 "Default settings not initializing properly"
A user reported [this](https://twitter.com/theycallmemorty/status/935213789636677632) -

After digging a bit I have found that the [function](https://github.com/zulip/zulip-electron/blob/9144c2630ddeb3e81bd9f1c1c511fdad01380af8/app/renderer/js/pages/preference/preference.js#L45) which init the default settings don't get called if user doesn't visit setting page.

[2017-12-04 11:49] #348 closed, assigned to nobody

[2017-12-04 20:58] gnprice commented on #340
We've heard feedback from users who really like Zulip once they get going but find the process of adding an organization in the desktop app very confusing -- so this will be super useful to fix.

[2017-12-05 11:54] akashnimare commented on #340
Agreed, that page is bit confusing for normal user. I'm working on couple of mockups, will update here!

[2017-12-05 13:12] #283 closed, assigned to nobody

[2017-12-05 13:47] priyank-p commented on #213
This is probably because of memory leaks and to confirm exactly we need to use devtools `Head Snapshot` or `Allocation Timelines` under `Profiles` tab. if not it should be upstream bug.

[2017-12-05 13:48] priyank-p commented on #213
More info on how to identify memory leaks here https://developers.google.com/web/tools/chrome-devtools/memory-problems/

[2017-12-06 23:12] rishig commented on #340
Just to clarify, I think the simple fixes I proposed should be enough.

[2017-12-10 21:41] penCsharpener commented on #213
It's not just a affecting the CPU. With Win10 16299 I have a constant GPU usage of 8-10% on a Nvidia GeForce GTX 1050
![Nvidia GeForce GTX 1050](https://user-images.githubusercontent.com/26190934/33809697-4278c7d8-ddfb-11e7-8fd1-4c2df5ad29cd.png)

[2017-12-10 22:21] penCsharpener commented on #213
As for suspecting upstream (all when idle):
Github Desktop has no CPU or GPU activity whatsoever.
Visual Studio Code around 0% CPU usage.
Whatsapp Desktop: no CPU or GPU when minimised, 0-2 % when Window is visible.
Wire Desktop: 0%
Signal Desktop: mostly tending towards 0%

After watching these apps for 15 minutes I would guess that it might be related to how active the content is that is display

[2017-12-11 09:43] akashnimare commented on #213
@penCsharpener thanks for digging into this. All the apps you have mentioned are using electron v1.7.9 which is the latest release. I have updated the same and will release a beta. Let's see if it makes a difference.

[2017-12-11 10:33] akashnimare commented on #340
Made few changes -

![image](https://user-images.githubusercontent.com/2263909/33826363-ba52d1d8-de8a-11e7-94c9-945d90d1bf10.png)

![image](https://user-images.githubusercontent.com/2263909/33826978-bacd7b84-de8c-11e7-9e37-c1c7b2c18397.png)

[2017-12-12 04:01] rishig commented on #340
Awesome, thanks! Minor things, to make it consistent with the web product:
* We don't capitalize organization, so "Zulip organization" rather than "Zulip Organization"
* We don't use verb-based descriptions for form fields. So "URL of Zulip organization" rather than "Enter URL .."
* For the placeholder: `acme.zulipchat.com or chat.acme.com`, since many (most, actually) users aren't on zulipchat.co

[2017-12-12 14:02] penCsharpener commented on #213
I have to add that on an Intel Core i5 7xxx I only have 0.2-0.6%  but at times even 0%. Haven't tested yet on my old quad core. I guess that newer processors handle Zulips load more efficiently than my old machine (8 years nearly).

[2017-12-13 07:16] penCsharpener commented on #213
for the record: my old machine has an `Intel Core i5 CPU 760 @ 2.80GHz` in 45nm which might be a contributing factor that it's such a relatively high CPU load.

[2017-12-14 11:22] akashnimare commented on #310
Short term solution - If `domain.json` or `setting.json` gets corrupted for some reason then re-create both the files so that users don't get the hanging app window.

Long term solution - Find the root cause of why the files are getting corrupted and fix that.

[2017-12-14 11:26] akashnimare commented on #277
@probonopd feel free to add the app to AppImageHub.

Off-topic - is it possible to remove/delete the app data ones user uninstall/delete app's AppImage file?

[2017-12-18 11:24] penCsharpener commented on #213
update: running latest version of zulip-electron master and I'm seeing 10-12% CPU load and ~14% GPU load all the time - that's on the new machine!! So updating to electron 1.7.9 hasn't really helped.
I noticed that there were some custom gif emojis on the page. After navigating to a PM without any the CPU load when down to 4-5%, GPU 9-10%.
gifs seem to be a contributing factor.

[2017-12-18 12:06] akashnimare commented on #213
Interesting. Can you share the data of CPU and GPU load when there is no org added?

[2017-12-18 12:08] penCsharpener commented on #213
with no org and just a blank zulip-electron I still see 4.6% CPU, 10-12% GPU.

[2017-12-18 12:36] priyank-p commented on #213
If the result of this is specific module or heavy computation we can move it into a web worker but it has its own limitation specially with electron. You can't access dom at all it just for computation. Once the task is done it can send the result back to browser script.

[2017-12-19 18:47] priyank-p commented on #312
We can now log stuff with timestamps here are simple instruction to do so.
[code]

[2017-12-19 18:54] zingmars commented on #312
I assume this isn't present in 1.7.0? Console says it cannot find the module.

[2017-12-19 18:56] akashnimare commented on #312
@zingmars can you paste the content of console so that we can debug?

[2017-12-19 18:57] zingmars commented on #312
[code]
(module.js:472)

[2017-12-19 19:08] priyank-p commented on #312
Oh yes, it present it master.

[2017-12-19 19:45] akashnimare commented on #312
@zingmars Okay. Are you logged in into a Zulip server? Does it automatically reconnects when you disconnect and then connects to internet? Basically there are two cases -

a) When the machine is disconnected from internet
b) When you `Resume` Windows from sleep or something

In both the cases app should be able to auto-reload itself.

[2017-12-19 22:19] satbalus opened #354 "Unable to add valid Zulip server to desktop client."
1.  Servers
2. Type https://internalserver name and add
Actual result: shows error as invalid server even though same url works in browser.
					-
					Zulip 1.7.0
					Electron 1.6.15
					win32 x64 10.0.16299

[2017-12-20 06:57] zingmars commented on #312
My ability to test this properly rn is a bit limited as I'm on a vacation, but I can try testing it a bit on my laptop.

Yes, I'm logged in and when I disconnect from internet it shows the following message - https://i.imgur.com/zQeG764.png. Reconnecting will reload the page. However, I noticed that if you connect to the internet and it has no connectivity (i.e. the wi-fi has a in-browser login pa

[2017-12-20 10:45] penCsharpener commented on #213
another important clue (wonder why I didn't notice before):
when you minimise the desktop app to the taskbar the CPU and GPU load drop to 0% unless you get a message etc. So the whole work is caused by updating the UI.

[2017-12-20 10:58] akashnimare commented on #354
@satbalus hey, thanks for reporting this. I'll be needing your help in debugging this. Can you do the following things-
* try to add your internalserver
* Go to `Menu > View > Toggle Devtools for Zulip App` and there you will see a `console` tab; paste the content of that tab here

![image](https://user-images.githubusercontent.com/2263909/34203811-660d0a5c-e5a2-11e7-9082-2b0436ed2fe6.png)

* Do t

[2017-12-20 11:03] akashnimare commented on #312
@penCsharpener can you try to reproduce this when you get time?

[2017-12-20 11:30] akashnimare commented on #213
I guess it's the same for any electron apps i.e. 0% load on minimising the app.

[2017-12-20 18:15] akashnimare opened #356 "broken server icon"
![image](https://user-images.githubusercontent.com/2263909/34221907-9576afcc-e5df-11e7-9270-bced6b9bfb12.png)

This happens when you reload the app and our backend fails to download the org icon from the server. In this type of cases we should set the default icon.

[2017-12-21 01:12] priyank-p commented on #356
@zulipbot claim.

[2017-12-25 03:40] sunrez commented on #213
I am using the Zulip desktop app 1.70 connecting to chat.zulip.org with no other Zulip connections and I am seeing similarly high-CPU utilization.  Host OS is MacOSX Mavericks 10.9.6, Core i7 quad-core Macbook-2016 .

<img width="1450" alt="zulip_desktop" src="https://user-images.githubusercontent.com/17105174/34332164-192fef48-e8f3-11e7-9301-06e81ab5a428.png">

[2017-12-25 03:51] sunrez commented on #213
Minimizing the desktop app (at least on OSX) does reduce the CPU load ; but it's still quite high:

<img width="1438" alt="minimized_zulip" src="https://user-images.githubusercontent.com/17105174/34332325-0eb7fa2c-e8f5-11e7-9195-f65d2520d203.png">

[2017-12-25 11:11] akashnimare commented on #213
@sunrez It shouldn't be that high at least on a minimise state . On macOS High Sierra 10.13.2 Beta -

![image](https://user-images.githubusercontent.com/2263909/34338779-d844a542-e991-11e7-8569-a2006d48b3fc.png)

Can you do the following -
* Open Activity monitor
* Search Zulip
* Minimize Zulip app
* Wait for 2-3 mins
* Paste a screenshot?

[2017-12-25 18:13] #356 closed, assigned to nobody

[2017-12-25 19:02] akashnimare commented on #310
Made some changes in error handling of corrupted config files. From now on, if the config files (settings.json, domain.json) gets corrupted for some reason then we re-initialize those files that way user won't get hanging app window. For an example if the domain.json gets corrupted -
* First we're showing the error dialog -

![image](https://user-images.githubusercontent.com/2263909/34342361-dbaab

[2017-12-25 20:35] akashnimare opened #358 "Focus app on clicking the desktop notification"
We should focus the app(if it's minimize/hidden) when user clicks on the notification.

[2017-12-25 21:27] akashnimare opened #359 "Change default org icon"
I think rather than setting the default icon as Zulip icon, we should set the "initial letter" as the default icon, something like the Slack does -

<img src="https://chat.zulip.org/user_uploads/2/9d/fXiB6z02OaA5n-GKf8luKpCY/pasted_image.png">

This will be applicable to those orgs who don't the `realm_icon`. We can get the "initial letter" from `realm_name` ex. [here](https://zulip.sagemath.org/a

[2017-12-25 23:05] priyank-p commented on #358
@zulipbot claim.

[2017-12-26 19:38] #358 closed, assigned to nobody

[2017-12-26 20:25] priyank-p commented on #304
@zulipbot claim.

[2017-12-27 15:36] #304 closed, assigned to nobody

[2017-12-27 15:44] akashnimare opened #364 "Set up git-lint for better commit style."
We should set up git-lint here with same configurations as [Zulip](https://github.com/zulip/zulip/search?utf8=%E2%9C%93&q=gitlint&type=) has.

[2017-12-29 07:07] #314 closed, assigned to nobody

[2017-12-29 07:09] akashnimare commented on #314
@rishig added in master.

[2017-12-29 08:54] akashnimare opened #368 "Improve gule-dev script"
Currently, it does not do much. Few things we should add in this -
* Watch for all the JS/CSS/HTML changes in main and renderer process and then auto-reload app on changes
* Watch for linter also, this could be done using [nodemon](https://github.com/remy/nodemon)

[2017-12-30 15:58] priyank-p opened #369 "Don't allow non-zulip servers to be entered."
---

- **Operating System**:
  - [X] Windows
  - [X] Linux/Ubutnu
  - [X] macOS

- **Clear steps to reproduce the issue**:
Enter a slack-server

[2017-12-30 17:28] priyank-p commented on #369
Found out why, Slack servers send out statusCode `403` which for some reason does not count as error for request module thereof allowed access

[2017-12-30 18:09] priyank-p commented on #369
@zulipbot claim.

[2018-01-03 10:52] ViRu-ThE-ViRuS opened #371 "App Crash: Restarted server without restarting the app."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
---
The app slowed down and crashed on me when I was running a dev instance (no local changes). When I restarted the server (without closing the desktop app), it gave me this message (in the screenshot).
- **Clear steps to reproduce the issue**:
This crash happened to me once when I was just looking for bugs. I haven't

[2018-01-03 12:24] priyank-p commented on #371
That's the zulip server crashing..., This is zulip issue so you should open issue in zulip/zulip.
Are you using local devlopment server?

[2018-01-03 12:35] ViRu-ThE-ViRuS commented on #371
The server did not crash. I just restarted it. The application froze and gave me this error. I could open the server in the brower when this happened. Yes I am using a local dev server.

[2018-01-03 12:50] priyank-p commented on #371
@ViRu-ThE-ViRuS hat what zulip does it displays the errors of zulip in a model like this, what we call `blueslip` to fix you probably updated a js file or something. If not update to latest master `git pull upstream master --rebase`. I think if you click the `x` button it should fix it nonetheless.

[2018-01-03 12:51] priyank-p commented on #371
And if you can repro this again we need to open an issue on zulip, because you just found a bug 👍

[2018-01-03 12:55] ViRu-ThE-ViRuS commented on #371
Thanks for your response. Will open if I can reproduce it. Closing for now. :-).
 Tho I must say that it was updated to latest master and not modified by me.

[2018-01-03 12:55] #371 closed, assigned to nobody

[2018-01-03 16:17] priyank-p commented on #368
We have task for reloading renderer process but it does not work for me can somebody else confirm?

I can see the popup running `reload:renderer` but no actual reloading.

[2018-01-03 21:28] grahamegrieve opened #372 "Sidebar message count not updated if you get too far behind"
I started Zulip electron app. I have 3 servers on my sidebar. One I was up to date in, one I was 40 messages behind in, and it showed 40 behind. The other (chat.zulip.org) I was 1000+ behind, but I had not gone to that server. In the side bar, it shows just like the server where I am up to date. Once I visit the page and click on the dialog to catch up or not, then the count will be correct for wh

[2018-01-05 14:48] ADMarian opened #373 "Windows app not working - stuck on loading"
Freshly installed the app and it's stuck. It's looping on refresh and it doesn't allow me to do anything. I tried looking for the logs in order to provide possible in-depth details, but I can't find those either.

![zulip](https://user-images.githubusercontent.com/34919672/34613785-ba2e9f82-f237-11e7-8dab-6f22239a17a8.png)

Zulip 1.7.0
Electron 1.6.15
win32 x64 10.0.15063

[2018-01-05 14:54] akashnimare commented on #373
@ADMarian hey, can you paste the console logs of app? You can find it in  `Menu > View Toggle DevTools for Active Tab` and then `developer tools > console tab`.

![image](https://user-images.githubusercontent.com/2263909/32502882-e3e8189e-c401-11e7-9ac2-de57e1755bd2.png)

[2018-01-05 15:05] ADMarian commented on #373
Hi @akashnimare - couldn't open the ``` DevTools for Active Tab ```. Instead, I'll paste the error from the ``` DevTools for Zulip App ```

[code]

![zulip_error](https://user-images.githubusercontent.com/34919672/34614507-60d1310e-f23a-11e7-9dcb-74d8edbaf44d.png)

[2018-01-05 15:15] akashnimare commented on #372
@**Grahame Grieve** this is the intentional behaviour. On a technical note, we extract unread counts from webpage title using electron api. Our unread counts depend on the title of the page. So when you have 1k+ unread messages in a server you get the "Welcome back.." dialog first and then depending on your action, the title gets updated followed by the unread counts. From page title, I mean this

[2018-01-05 15:19] akashnimare commented on #373
@ADMarian cool, this is a familiar error. We have recently fixed this bug in master and it'll be pushed in next version. To fix this, please remove `C:\Users\[name]\AppData\Roaming\Zulip\` directory and start the app again. Let me know if it works.

[2018-01-05 15:25] ADMarian commented on #373
@akashnimare - that did the trick, thanks!

[2018-01-05 15:27] #373 closed, assigned to nobody

[2018-01-05 15:27] akashnimare commented on #372
@brockwhittaker, @timabbott please see https://github.com/zulip/zulip-electron/issues/372#issuecomment-355578856. Also, is it possible to update the title of the page in bankruptcy condition? I guess this could be fixed in web-app.

[2018-01-05 15:31] akashnimare commented on #373
@ADMarian can you please tell me how you ended up seeing the looping page (steps you followed)? Have you done anything else apart from starting the app? I'm guessing this is the first time you run the app and have not added any Zulip org before.

[2018-01-05 15:37] ADMarian commented on #373
@akashnimare - I have previously installed the app and added an organization. Randomly it stopped working one day. Then I reinstalled the app and the issue kept showing.

When I used the app, I didn't do anything out of the common. Just chatting and adjusted a few preferences like notifications and sounds.

I guess I should have mentioned that earlier. Sorry, my bad!

[2018-01-05 17:30] akashnimare commented on #373
No worries 👍

[2018-01-06 07:23] Be-ing opened #374 "option to turn off smooth scrolling"
I feel that Chromium's smooth scrolling feature is annoying and makes the interface feel sluggish. It would be nice if that could be turned off in the Electron app.

[2018-01-06 17:33] rishig commented on #340
Also just noticed that the "Create an organization text" has fallen below the fold in this screenshot.

[2018-01-06 17:49] akashnimare commented on #340
@rishig that's an outdated screenshot 😅  This is how it looks -

![image](https://user-images.githubusercontent.com/2263909/34642370-e3f5fe0e-f337-11e7-835b-3c458266480a.png)

[2018-01-06 18:46] #369 closed, assigned to nobody

[2018-01-06 18:52] akashnimare commented on #374
@Be-ing hey, do you notice this scrolling issue on chrome?

[2018-01-07 09:38] akashnimare commented on #354
@satbalus ^^.

[2018-01-07 12:26] Be-ing commented on #374
On Chromium, yes.

[2018-01-10 10:27] akashnimare opened #377 "Add custom sound for incoming notifications"
We should give an option to let users choose what sound they want to hear when getting a new notification.

<img src="https://chat.zulip.org/user_uploads/2/58/nZn3m1AMLgbAuoUtnSi9XPz_/pasted_image.png"/>

<img src="https://chat.zulip.org/user_uploads/2/89/VlL5-R__D-N8P3ZvE3RewCYQ/pasted_image.png"/>

Demo sounds - https://github.com/wavebox/waveboxapp/tree/master/assets/audio

- [ ] macOS
- [ ] Wi

[2018-01-10 11:46] akashnimare opened #378 "Mute notification setting option not working properly"
It looks like app's "Mute all Sounds from Zulip" is not working as expected. The reason behind this could be webview's sound which is taking over the notification's silent parameter.

[2018-01-10 11:48] akashnimare opened #379 "Add support for 32-bit debian installer"
Currently, we only support 64-bit deb installer. This could be easily done using electron-builder's `arch` option.

[2018-01-10 12:31] priyank-p commented on #379
Yep, we need to do this asap @zulipbot claim.

[2018-01-10 13:11] akashnimare commented on #379
I have tried to build 32-bit deb from 64-bit machine using -
`"dist": "electron-builder --ia32 --x64"` but the build failed due to keyboard-layout dependency. Since this requires rebuilding native modules we need to install few Linux packages to build it from 64 machine.

[2018-01-10 15:18] priyank-p commented on #378
Claiming issue to avoid confusion @zulipbot claim.

[2018-01-10 19:15] mahak-bagha commented on #377
@zulipbot claim

[2018-01-10 19:27] mahak-bagha commented on #341
@zulipbot claim

[2018-01-10 19:43] akashnimare commented on #377
I have realized that it would be better if we add this setting in web-app so that desktop-app can inherit those sounds as well. This issue should be opened [here](https://github.com/zulip/zulip).

[2018-01-10 19:43] #377 closed, assigned to nobody

[2018-01-10 19:50] akashnimare commented on #377
Opened - https://github.com/zulip/zulip/issues/8051

[2018-01-11 13:16] #378 closed, assigned to nobody

[2018-01-11 13:20] akashnimare opened #381 "Clicking on notification should focus the same tab."
Clicking on a desktop notification should focus on the server that generated the notification.

This would be fixed in #355.

[2018-01-11 20:02] akashnimare commented on #250
There are two methods to achieve this -
* a) Re-use all the favicons from https://github.com/zulip/zulip/tree/master/static/images/favicon and depending upon the unread counts use them in [iconPath](https://github.com/zulip/zulip-electron/blob/231e7fd9c243d752c09783f01b59db8c4b870d5f/app/renderer/js/tray.js#L14).
* b) Currently we [create](https://github.com/zulip/zulip-electron/blob/231e7fd9c243d

[2018-01-11 21:14] priyank-p commented on #250
One more thing to note here that the canvas image cannot be used a Icon for tray, so we will have to use `nativeImage` module provided by electron for sake of ease.

[2018-01-11 21:46] akashnimare commented on #250
@cPhost we do pass this canvas image in `nativeImage` module, see [here](https://github.com/zulip/zulip-electron/blob/231e7fd9c243d752c09783f01b59db8c4b870d5f/app/renderer/js/tray.js#L101).

[2018-01-13 18:34] #284 closed, assigned to nobody

[2018-01-13 18:50] akashnimare commented on #381
Fixed in #355.

[2018-01-13 18:50] #381 closed, assigned to priyank-p

[2018-01-13 19:32] akashnimare commented on #305
@ewoutkramer we have taskbar icon and system tray icon which shows the no. of unread messages even if you disable desktop notification.
- Taskbar icon -

![image](https://user-images.githubusercontent.com/2263909/34909386-c8db5054-f8c5-11e7-84f5-708d897f9e9e.png)

- Tray icon -

![image](https://user-images.githubusercontent.com/2263909/34909398-0b72bed4-f8c6-11e7-82ea-6ab3da3e4e9c.png)

Also, the

[2018-01-15 17:21] ewoutkramer commented on #305
My number of unread messages is practically always 99+ - caused by a few streams that have a huge amount of traffic.  These are not the most important streams to watch however and I read them periodically, but it means that the message count is useless for me and the "new message" setting would not help me either.

Now, a suggestion was to simply mute these high-traffic streams. This is certainly

[2018-01-15 17:49] akashnimare commented on #305
@ewoutkramer if this is your situation then I'm sure the unread count will be useless even if it only shows the no. of unread message count of the top pinned stream (since as you mentioned those streams have heavy traffic i.e. always 99+) 😄

This is not possible with the desktop app and for this, we need to make changes in the web-app. For now, the best option is -
* Mute the streams which are not

[2018-01-15 18:26] priyank-p commented on #305
I might look into this, i think we can use preload script and detect unread count per stream and we can provide setting to display count for specific stream i think but i am not sure.

(Thankfully zulip had already done work, so we don't have to in most cases like Notifications)

[2018-01-15 18:31] akashnimare commented on #305
Yeah, that option is available though not sure how feasible it would be as we'll need to fetch the unread counts every now and then (like every 5 sec or so from pinned streams).

[2018-01-16 04:14] stevenfoong opened #384 "Video Chat Button Missing"
According to the web site screenshot, there supposed to be a video chat button under the chat box. But my fresh installation, cant find the video chat button.
Not much article in the document mention about this video chat.
Can you help ?
---

- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubutnu
  - [x] macOS
- **Clear steps to reproduce the issue**:
Click on a contact, under the chat box ,

[2018-01-16 09:32] ewoutkramer commented on #305
Thanks for looking into this, guys!  I know it won't bring world peace, but would improve my workflow. I'll selectively re-enable notifications for my "top" streams as suggested above.

[2018-01-16 10:36] akashnimare commented on #384
@foongws can you attach a screenshot of the chat box here? I can see the video chat button -

![image](https://user-images.githubusercontent.com/2263909/34984233-4086b438-fad6-11e7-82a2-418bc8249744.png)

[2018-01-16 19:38] akashnimare opened #386 "appId is not defined when app is packaged"
Looks like there are some path issues when importing the appId from `package.json`. Following helper function fails on packaging -
[code]

[2018-01-16 20:11] priyank-p commented on #386
Ah, that because the app.asar is only for `app` directory and `package.json` is not included.

[2018-01-16 20:11] akashnimare commented on #386
Yeah, pushing the old way 😄

[2018-01-16 20:25] #386 closed, assigned to nobody

[2018-01-16 23:46] timabbott commented on #384
The video chat option is relatively new and might not be in the release @foongws is using.

[2018-01-17 00:31] timabbott commented on #340
Looks good!  @rishig it'd be great if you could give some quick feedback.

I think for "Existing organizations", do we need the text box with the URL?  It's not clear to me that editing is common.  If we want to support editing the URL, we could hide it behind clicking a pencil/edit icon, but aside from that.  I was thinking we might just need a single row with the logo, name, and a red trash can

[2018-01-17 02:29] timabbott commented on #310
"organization" is spelled incorrectly as "organisation" in one of the places there.  Also, "readd" isn't a word.

@rishig can you help with the language here?

[2018-01-17 02:30] timabbott commented on #354
Closing due to no reply from reporter in a month.

@satbalus if you get a chance to provide more information, we'd appreciate it.

[2018-01-17 02:30] #354 closed, assigned to nobody

[2018-01-17 02:37] timabbott commented on #372
@akashnimare I think it would be reasonable and not too hard to put something in the title.  But I think it's possible we should spend a bit of time on having a generic way for the desktop app to access webapp data, rather than encoding everything in the title...

[2018-01-17 11:25] priyank-p commented on #310
That's an outdated picture, fixed in latest master. The dialog is now as follows
https://github.com/zulip/zulip-electron/blob/aa8e99b7a629062e5360bbabd3367815ad02073a/app/renderer/js/utils/domain-util.js#L247-L249

[2018-01-17 18:59] brockwhittaker commented on #340
Quick style note on this: the buttons should have the same border radius as the input fields in my opinion.

[2018-01-18 08:57] stevenfoong commented on #384
![screen shot 2018-01-18 at 4 56 25 pm](https://user-images.githubusercontent.com/16485977/35089035-a953b7d6-fc70-11e7-98e6-703d933e033a.png)

mine look like this

[2018-01-18 09:00] stevenfoong commented on #384
@timabbott i am using zulip 1.7.1 on ubuntu

[2018-01-18 10:42] akashnimare commented on #384
@foongws do you know which version of Zulip are you using? As Tim said this feature is pushed recently and might not available in your Zulip version. To know the Zulip version you're using -
https://your-zulip-server/api/v1/server_settings
https://chat.zulip.org/api/v1/server_settings

[2018-01-18 16:23] stevenfoong commented on #384
@akashnimare this is the result:

{"zulip_version":"1.7.1","authentication_methods":{"google":false,"dev":false,"password":true,"email":false,"ldap":true,"github":false},"require_email_format_usernames":false,"result":"success","realm_description":"<p>The coolest place in the universe.<\/p>","msg":"","realm_uri":"https:\/\/www.sige.la","realm_name":"Hello Everyone!","realm_icon":"\/user_avatars\/2

[2018-01-18 16:41] xAzzzu opened #389 "German Translation for Topic is misspelled"
The Button "New Topic" is labeled "Neues Them" in german it should be "Neues Thema".
![new_topic](https://user-images.githubusercontent.com/20838039/35109468-bf05d144-fc76-11e7-8826-788e1c43b3dc.PNG)

[2018-01-18 16:43] timabbott commented on #389
@roberthoenig can you take care of fixing this?  It's not exactly a bug in the electron app, but we should probably just fix it regardless.

[2018-01-18 16:45] timabbott commented on #384
Looking at http://zulip.readthedocs.io/en/latest/overview/changelog.html, the video chat button hasn't been released yet.  It's available on zulipchat.com, and will be available in the next release (1.8) when that comes out.  @foongws if you'd like, you can upgrade to a version from Git to get it on your server before 1.8 is released.

[2018-01-18 16:45] #384 closed, assigned to nobody

[2018-01-18 17:33] roberthoenig commented on #389
Done. @xAzzzu thanks for reporting this!

[2018-01-18 17:47] akashnimare commented on #389
Should be fixed via https://github.com/zulip/zulip/pull/8105.

[2018-01-18 17:47] #389 closed, assigned to nobody

[2018-01-19 05:42] abhigyank commented on #368
Is there any linter currently being used?

Also, I think we can use nodemon for both the features.

[2018-01-19 11:49] priyank-p commented on #368
Yep, we currently have xo.

[2018-01-19 12:40] akashnimare commented on #340
Okay, so I think for input and placeholder this will look good -

<img src="https://d2ffutrenqvap3.cloudfront.net/items/302t1p0K37000y113k1F/Screen%20Recording%202018-01-19%20at%2006.08%20PM.gif?v=ccc6286d"/>

![image](https://user-images.githubusercontent.com/2263909/35151262-ae94d832-fd43-11e7-8df4-a7bcc946e37a.png)

![image](https://user-images.githubusercontent.com/2263909/35151267-b4f31284-fd

[2018-01-19 14:35] akashnimare commented on #379
I don't think we can build the 32-bit installer from a 64-bit machine :/
Anyways I have built the 32 bit Debian and AppImage installer using a 32-bit machine and published the same.

[2018-01-19 14:35] #379 closed, assigned to nobody

[2018-01-19 18:14] rishig commented on #340
hm, I'm not sure any of these are improvements. The nice thing about showing by example rather than using words like "Custom Server" is that almost none of our users know what a server is.

[2018-01-19 18:16] priyank-p commented on #340
Other domain might work instead of custom server

[2018-01-19 19:30] timabbott commented on #340
Yeah, I agree with Rishi that this is more confusing than the previous draft by removing all the text explaining what things are (though the button does look pretty).  If we want to have a "use zulipchat.com" toggle, it might be better to just have that be a checkbox for something much more friendly to less technical users, e.g. "Login URL ends with zulipchat.com"?

[2018-01-20 21:21] dhruvdutt commented on #364
@zulipbot claim.

[2018-01-20 21:22] priyank-p commented on #364
@zulipbot claim

[2018-01-20 21:22] dhruvdutt commented on #364
@akashnimare Can I do this if you haven't started working on it?

[2018-01-20 21:24] priyank-p commented on #364
@dhruvdutt would you mind claiming other task since i already finished it ie.. the pr for this is open sorry but you can try to set it up for CI as, this was our next step.

This is the PR here:  https://github.com/zulip/zulip-electron/pull/367 you need to set it up for CI by testing it out in Travis and Appveyor feel free to open a new issue and claim it.

[2018-01-20 21:27] dhruvdutt commented on #364
@cPhost Cool. No issues. I'll add the CI setup once your [PR](https://github.com/zulip/zulip-electron/pull/367) is merged.

[2018-01-21 07:18] abhigyank commented on #359
@cPhost  is this issue closed? or WIP?

[2018-01-21 14:30] priyank-p commented on #359
WIP Almost done.

[2018-01-21 14:33] priyank-p opened #391 "Adds bots mention support to reply option."
Currently in reply option we handle stream and user mention just fine but not bots mention since they are not in the DOM. To do this you have to make a request to `/users` endpoint and filter out bots using `is_bots` property. It should be done in `app/renderer/js/notification/helpers.js`

[2018-01-21 20:19] akashnimare opened #392 "Add inline reply support [Windows]"
Inline reply support could be add using [electron-windows-notifications](https://github.com/felixrieseberg/electron-windows-notifications).

[2018-01-21 21:32] priyank-p commented on #392
You also need to add use this package [electron-windows-interactive-notifications](https://github.com/felixrieseberg/electron-windows-interactive-notifications) along with `electron-windows-notifications` to have inline reply.

[2018-01-22 08:50] abhigyank commented on #391
I am able to mention bots in reply. Zulipbot and Github Bot were mentioned.
https://chat.zulip.org/#narrow/stream/test.20here/subject/bot.20test/near/458896
Can you say how to can I reproduce the issue?

[2018-01-22 09:06] abhigyank commented on #250
I think we can do the first method, i.e.  Re-use all the favicons from depending on the number of unread messages. If that's ok, I would like to work on this.

[2018-01-22 12:26] priyank-p commented on #250
@abhigyank not really its not that simple ie considering diffrent icon size we have to consider for diffrent os's they look kind of blurry, we are currenly trying to solve it.

[2018-01-22 12:28] priyank-p commented on #391
@abhigyank did you mentioned them using notification reply option as it states in the title?
I am 90% sure this should not have worked since we did not implement it.

[2018-01-22 13:23] akashnimare commented on #250
WIP in - https://github.com/zulip/zulip-electron/pull/385 and [tray-icon](https://github.com/zulip/zulip-electron/tree/tray-icon). We are considering both the options but as Priyank said it's not kind of tricky to make the icon look good on all the platforms.

[2018-01-22 13:29] akashnimare opened #393 "Error on toggling the left sidebar using keyboard shortcut"
The error came from #362. Repro using -
* Delete all servers
* Open add new server page
* CMD+S
* Check console -

[code]

[2018-01-22 13:29] akashnimare commented on #393
@cPhost quick fix?

[2018-01-22 13:37] priyank-p commented on #393
Making a PR in just a bit

[2018-01-22 14:53] abhigyank commented on #391
I mentioned using the reply option on the bottom right of the screen. The one that comes after 'New Private Message. That's the one you're referring to right?

[2018-01-22 15:12] priyank-p commented on #391
Nope, this is the one the reply option (inline reply for notification) we are taking about in this issue
![screen-shot-2018-01-19-at-9 14 42-am](https://user-images.githubusercontent.com/23620441/35227716-c6545446-ff5c-11e7-8c44-bd231af6a0ec.png)

[2018-01-22 16:47] rsarky commented on #391
Is there a particular way to enable inline reply for notification?
I cannot seem to reply to notifications as such. @cPhost

[2018-01-22 16:49] priyank-p commented on #391
@rsarky and others. Once again this feature is only available for Mac in latest release. Support for other os is under development.

[2018-01-22 16:51] rsarky commented on #391
My bad. Did not notice that it is exclusive for mac.

[2018-01-22 17:08] #393 closed, assigned to nobody

[2018-01-22 17:26] rsarky commented on #296
I would like to take this up. Are there any pointers you could give me before starting out. @akashnimare

[2018-01-22 18:59] #368 closed, assigned to nobody

[2018-01-25 10:02] abhigyank commented on #391
@zulipbot claim

[2018-01-25 10:30] abhigyank commented on #391
I am using ```zulip-js``` for fetching the user list from ```users``` endpoint. What configuration for ```zulip-js``` should I use regarding username, apiKey etc? Should I add my personal one in a ```zuliprc``` file and add it in ```.gitignore```?

[2018-01-25 12:35] priyank-p commented on #391
@abhigyank you don't need to use zulip-js for this, you can just request it use `/json/users` endpoint as it states in above. it would return list of all members in top level `members` key and it a array. so you need to get the list that has property `is_bots`.

For example https://chat.zulip.org/json/users.

If any thing seems unclear post it in electron stream.

[2018-01-26 05:41] GrumpyOldTroll commented on #325
Regarding the claim "We already show an error dialog if there is certificate validation issue.":

I'm currently seeing the error message from domain-util.js, line 172 ( https://github.com/zulip/zulip-electron/blob/aa8e99b7a629062e5360bbabd3367815ad02073a/app/renderer/js/utils/domain-util.js#L172 ), but on further investigation it seems that it's only checking for 3 specific error strings, configur

[2018-01-26 16:38] GrumpyOldTroll commented on #325
PS: I discovered today that it worked to manually edit (on Mac) ~/Library/Application\ Support/Zulip/domain.json to contain (instead of "{}"):
{
    "domains": [
        {
            "icon": "../renderer/img/icon.png",
            "url": "https://zulip.example.com/accounts/login/sso/",
            "alias": "https://zulip.example.com/accounts/login/sso/"
        }
    ]
}

After this edit, my app

[2018-01-27 11:51] abhigyank commented on #344
For Linux, Zoom in works at **Ctrl**+**Shift**+**+**, instead of traditional **Ctrl**+**+**. Is it intentional or a bug?

[2018-01-27 15:31] akashnimare commented on #344
@abhigyank good catch. This is an upstream [bug](https://github.com/electron/electron/issues/6731). Pushed a temporary fix in https://github.com/zulip/zulip-electron/commit/1948ba2cc3b052faa51e02a66f9ecb0865371133. So now `Ctrl+` works as expected but it appears as `Ctrl+=` on Linux/Windows.

[2018-01-29 11:09] akashnimare opened #396 "Add a loading indicator when user clicks on new server button"
We need to show a loading indicator or change the text of "Add" button to "Adding..." when user clicks on  **Add** button.

![image](https://user-images.githubusercontent.com/2263909/35507450-d3db9442-0512-11e8-8eca-934d8a1fa461.png)

[2018-01-29 11:29] akashnimare opened #397 "Add scripts from zulip/tools/"
There are few scripts in [zulip/tools](https://github.com/zulip/zulip/tree/master/tools) which we can reuse here. Few of them are -
* [fetch-pull-request](https://github.com/zulip/zulip/blob/master/tools/fetch-pull-request)
* fetch-rebase-pull-request

[2018-01-29 12:54] akashnimare opened #398 "Send a notification when a new update available [Debian]"
This could be done easily using the `update-available` event of [autoupdater](https://www.electron.build/auto-update) but we need to first check whether it's supported by electron-updater or not.

[2018-01-29 13:11] Balaji2198 commented on #397
@zulipbot  claim

[2018-01-29 13:13] priyank-p commented on #397
I'd say there is one more thing to consider here is we also need windows support where which could be done by batch scripts here easily i you can if not i would be making a PR for it.

[2018-01-29 13:13] Balaji2198 commented on #397
:thinking: I haven't claimed any other issues in this repository.

[2018-01-29 13:17] Balaji2198 commented on #397
@cPhost Sure Go ahead!. I am using Linux. So I don't have access to Windows at the moment.

[2018-01-29 13:53] akashnimare commented on #397
@cPhost let's add the `reinstall` script here as well as `rm -rf` doesn't work on Windows.

[2018-01-29 13:56] priyank-p commented on #397
Sure :)

[2018-01-29 14:06] akashnimare commented on #397
cc @lonerz, @synicalsyntax.

[2018-01-29 16:10] abhigyank commented on #396
I am on it.

[2018-01-29 18:23] #396 closed, assigned to nobody

[2018-01-30 17:50] abhigyank commented on #397
@akashnimare What are scripts that are needed to be added?

[2018-01-30 17:52] akashnimare commented on #397
Can you add a reinstall script which basically does -
[code]
but should work on Windows as well.

[2018-01-30 19:56] #391 closed, assigned to nobody

[2018-01-31 06:38] Yogislav commented on #312
Allow me to add to the issue. I never had such problem before (when I was still on version 1.6). I skipped version 1.7 because my colleague said it works poorly. When version 1.8 came out, I installed an update and since then, everytime I come to work in the morning and wake up my machine from hibernation, I have to reconnect Zulip. Tomorrow I'll try to post screenshot with developers console.

Zu

[2018-01-31 10:11] Shivamgera commented on #392
@akashnimare I would like to work on this. Can you please guide me?

[2018-01-31 11:04] akashnimare commented on #392
@Shivamgera logic used for notification lies in `app/renderer/js/notification`. We need to use above modules to have the inline reply support.

[2018-01-31 12:46] abhigyank commented on #397
We can use the [reinstall](https://www.npmjs.com/package/reinstall) package for that. Will work for both windows and linux. What say?

[2018-01-31 13:26] priyank-p commented on #397
@abhigyank this could be easily done using batch script so we don't need to use a npm packages.

[2018-01-31 14:09] akashnimare commented on #397
I'm in favour of having a single small js file which works on all the platform. We are already using the `rimraf` module so we can use it to delete the `node_modules` directory. Something like this would work -
`./tools/reinstall.js`

[code]

package.json

[code]

[2018-02-01 06:34] Yogislav commented on #312
![obraz](https://user-images.githubusercontent.com/11398035/35664409-3b23e6e8-0722-11e8-8875-6bc7723c6804.png)

I would risk saying that maybe it's our intranet crashing everynight, but a) it didn't happen before; b) this error occurs in the morning, when I wake my computer, not in the middle of the night.

[2018-02-01 13:38] akashnimare commented on #398
I had a chat with the developer of electron-builder and he said there is no plan to add this feature in near future so we gotta add this on our own.

Potential solution - Add a script to get the latest release from GitHub and then compare it to the installed version.

[2018-02-01 15:26] timabbott commented on #312
@akashnimare it seems like this issue is worth investing effort into.  Maybe the automatic retry described in that error message isn't working properly in the current version?

[2018-02-01 15:47] akashnimare commented on #312
I have looked into this issue on my VM but for some reason, I don't have the **hibernation** option so can't cross-verify. I'll have access to a real W10 machine next week, will test it then. On macOS, if I put my system to sleep and wakes up, the app successfully auto-reloads and connects to the internet.

@Yogislav Ah, we don't support skipping of release so when a new version comes out, the app

[2018-02-01 15:58] priyank-p commented on #312
I get that console error message when my wifi i connecting, i don't remember if it connects back or not but i can check.

Edit: To this happens when i open my computer up and login, and when i internet i back it reconnects me instantly

[2018-02-01 16:11] zingmars commented on #312
This happens for me on both Linux (Ubuntu 16.04, I use S3 sleep, not hibernation on this machine) and Windows 10 ( I use hibernation on this machine ), so I don't think it's not specifically a hibernation issue (or Windows only). Like I mentioned before I managed to run into this when connecting to a wi-fi with a captive portal (and @cPhost seems to get it when connecting to wifi as well), so it's

[2018-02-01 18:10] abhigyank commented on #398
I'd like to work on this. Where should the script be added?
I am thinking of working on the solution you suggest. With github API we can get the latest release version and compare it with `app.getVersion()` .

[2018-02-02 20:24] akashnimare opened #405 "Add a menu item to reveal application logs"

[2018-02-02 20:35] #405 closed, assigned to nobody

[2018-02-02 20:37] akashnimare opened #406 "Build artifacts using CI"
macOS/Linux - Travis
Windows - AppVeyor

[2018-02-03 10:42] akashnimare opened #407 "i18n support"

[2018-02-03 11:03] akashnimare commented on #398
I think it should be added somewhere in `app/main/`.

[2018-02-06 19:07] zingmars commented on #312
Another interesting behaviour that has been occurring for a while (only on Windows from what I have seen so far) - if Zulip was hidden to tray then after resuming from hibernation the client will pop up (the original issue with the Zulip can't connect message still persists).

[2018-02-08 07:40] abhigyank commented on #398
Isn't auto updates already being done [here](https://github.com/zulip/zulip-electron/blob/master/app/main/autoupdater.js) using `electron-updater`?

[2018-02-08 12:29] priyank-p commented on #398
@abhigyank yep its done there but the real issue is that on debian electron-updater does not work and that way we need you do it use a github api. Does that make sense?

Generally if have other question post them at [#electron](https://chat.zulip.org/#narrow/stream/electron) it work better there, since you can more in detail answer for what you looking for :)

[2018-02-09 06:09] lmckenzi commented on #299
I tested this and unfortunately it doesn't work.  I turned "Flash taskbar on new message", but I still get flashes when new messages arrive.

Also, the functionality isn't really what's desired.  I *want* flashes on new messages, but I only want them when two conditions are met: the new message is on a stream that's set to have it happen (this could layer off desktop notifications or audible notif

[2018-02-09 09:39] akashnimare commented on #312
@zingmars do you want to hide the app when resuming from hibernation and the tray set to be off?

[2018-02-09 09:41] zingmars commented on #312
No, I just want the app to be hidden to tray like it was before I
hibernated the machine.

On Feb 9, 2018 11:39, "Akash Nimare" <notifications@github.com> wrote:

[2018-02-09 11:10] akashnimare commented on #299
@lmckenzi thanks for testing it out. Let's fix the setting option first and then we can improve it later. Can you make sure that you're on v1.8.1? If I disable "Flash taskbar on new message" setting on my Windows 10 then the Zulip taskbar icon doesn't flash on new incoming notification.

[2018-02-09 11:41] akashnimare opened #409 "docs: update /help/zulip-on-windows section"
We need to update [this](https://zulipchat.com/help/zulip-on-windows) help section. Few things we can include there-
- [ ] Detailed info of following setting options -

     * Show app icon in system tray
     * Show app unread badge
     * Flash taskbar on new message
     * Desktop notification/Mute setting

* Add other useful sections..

[2018-02-09 12:50] #397 closed, assigned to nobody

[2018-02-09 15:18] lmckenzi commented on #299
Yes. Running Zulip 1.8.1 on Windows 10 Pro (Build 12699)

[2018-02-12 12:03] jainaman224 opened #410 "Multiple tray icons"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
In View submenu, click `Toggle Tray Icon` multiple times. It will generate more than 1 tray icon for same app.
- **Relevant error messages and/or screenshots**:
![screenshot from 2018-02-12 17-27-12](https://user-images.githubusercontent.com/13117482/36096067-bf58b046-101a-11e8

[2018-02-12 12:13] akashnimare commented on #410
@jainaman224 I can't reproduce this on Ubuntu 16.04 LTS. What version of Ubuntu are you using? Also, do you see any errors in developer tools (Menu > View > Toggle dev tools for Zulip) when this happens?

[2018-02-12 12:18] jainaman224 commented on #410
@akashnimare I am using Ubuntu 17.10. There are no logs in console when I run this.

[2018-02-12 12:20] jainaman224 commented on #410
When I close the latest icon from tray every all are removed, whatever I do on other icons nothing happens.

[2018-02-12 12:21] akashnimare commented on #410
Can you reproduce this when you have unread counts?

[2018-02-12 12:23] akashnimare commented on #410
@abhigyank can you reproduce on your system?

[2018-02-12 12:26] jainaman224 commented on #410
![screenshot from 2018-02-12 17-54-55](https://user-images.githubusercontent.com/13117482/36096822-fca6f2e8-101d-11e8-985f-294c849f9a40.png)

@akashnimare Yes, I am able to produce with unread counts and different unread counts.

[2018-02-12 15:22] abhigyank commented on #410
I had faced this bug probably a month ago, but now not able to replicate it. @jainaman224 Are you on the latest version?

[2018-02-12 15:29] jainaman224 commented on #410
@abhigyank Yes

[2018-02-12 16:24] jainaman224 commented on #298
@akashnimare @abhigyank @timabbott @grahamegrieve Is the placement of notification indicator right?
![screenshot from 2018-02-12 21-51-16](https://user-images.githubusercontent.com/13117482/36107114-1db2b00a-103f-11e8-98fa-f74d09f22ef9.png)

[2018-02-12 16:26] jainaman224 commented on #298
@zulipbot claim.

[2018-02-12 16:43] abhigyank commented on #208
A mockup for the back button position. Looks good? @akashnimare  @timabbott  @gnprice @cPhost
![screenshot from 2018-02-12 22-11-47](https://user-images.githubusercontent.com/20434085/36108076-e68729c8-1041-11e8-8a3d-e0b4f73c1950.png)

[2018-02-12 17:09] lmckenzi commented on #298
The indicator would be the "bell" icon?  And presumably if you click on it, it would change to have a slash on it or something?  I'm fine with the placement.

[2018-02-12 17:19] jainaman224 commented on #298
@lmckenzi I will use https://material.io/icons/#ic_notifications_off for toggle.

[2018-02-12 17:22] lmckenzi commented on #298
Perfect

[2018-02-12 17:40] akashnimare commented on #298
@jainaman224 please see - https://chat.zulip.org/#narrow/stream/electron/topic/DND.20button

[2018-02-12 17:54] akashnimare commented on #208
Personally, I don't think that the back button is necessary. I have not seen a back button in any other chat/electron app. @timabbott what do you think?

[2018-02-12 18:00] timabbott commented on #208
I personally find that I use the arrow key version of the "back" button pretty often for navigation.  I suspect that suggests that folks who use the mouse would find the "back" button useful as well.  I think we should post on #design asking whether folks use the back button in the Zulip webapp (which is generally very well integrated).  If we find they do, we might want to support it in the deskt

[2018-02-12 18:05] abhigyank commented on #208
That is a good thought @timabbott .
I will make a PR which we can merge/close as needed after discussion on #design.

[2018-02-12 20:42] akashnimare opened #412 "If app is hidden then don't show app window on resuming from hibernation"
We need to take care of this case. Don't show app window - If the app is hidden or minimized initially and the system resumes from hibernation.

[2018-02-12 20:43] akashnimare commented on #312
@zingmars opened - https://github.com/zulip/zulip-electron/issues/412.

[2018-02-13 14:07] akashnimare commented on #312
@zingmars, @Yogislav so this is what happening under the hood -
a) Your computer wakes up from sleep/hibernation
b) App reloads
c) Since the computer is not connected to the internet at that time, app shows "Zulip Can't connect page"
d) App reloads again when the internet comes up

[2018-02-13 14:08] zingmars commented on #312
Well, that's what should happen. Seems like d never happens.

On Feb 13, 2018 16:07, "Akash Nimare" <notifications@github.com> wrote:

[2018-02-13 14:29] akashnimare commented on #312
@zingmars which one of the above points is not working for you? Is it the (d) one? I'm guessing app doesn't reload itself even when the internet comes up.

[2018-02-13 14:42] zingmars commented on #312
Well yeah, it gets stuck in the position seen in this screenshot - https://github.com/zulip/zulip-electron/issues/312#issuecomment-335210158

[2018-02-13 14:51] akashnimare commented on #312
Can you ping me on https://chat.zulip.org whenever you get time so I that I can debug this issue?

[2018-02-13 14:52] zingmars commented on #312
Sure, will do.

On Feb 13, 2018 16:51, "Akash Nimare" <notifications@github.com> wrote:

[2018-02-13 17:51] jainaman224 commented on #298
I am working on this. I can't claim issue due to bot bug.

[2018-02-13 20:05] abhigyank opened #414 "isDev returns true in npm start"
- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Start the app using `npm start`. All checks for `isDev` returns `true`.
- **Relevant error messages and/or screenshots**:
`isDev` check, used for checking whether app is running in Development environment, returns `true` even when starting the app through `npm start`. It should retu

[2018-02-13 20:12] akashnimare commented on #414
Whatever script you run, if it's in development mode, `isDev` will return true. Give it a read - https://github.com/sindresorhus/electron-is-dev

[2018-02-13 20:12] #414 closed, assigned to nobody

[2018-02-13 20:33] abhigyank commented on #414
How are we determining if it's in development mode? Shouldn't for `npm start`  `isDev` return 'false'?

[2018-02-14 08:31] #208 closed, assigned to nobody

[2018-02-14 12:25] priyank-p commented on #414
I think you misunderstand what it means when you are running app in development vs production/packaged app.

* The app is not considered development only when its packaged and you open a app.
* Starting manually is considered as development (so anything you do start and app that is not packaged is considered under development.)

[2018-02-14 12:29] akashnimare commented on #414
In electron, this is how we decide whether the app is running in dev or prod -
* Development = If app is runnig from a target directory = `electron .` = `npm start`
* Production = if app is running from a packaged state
More details - https://github.com/electron/electron/issues/7714

[2018-02-14 18:45] akashnimare opened #416 "Last active tab is broken"
App doesn't open the last active server properly.

[2018-02-14 21:27] akashnimare commented on #416
Looks like it broke down after https://github.com/zulip/zulip-electron/commit/bcb8ffb55f7ef28c2b56bfee07322d1357f76458.

[2018-02-15 11:54] akashnimare opened #418 "design: Do not create a new instance of setting tab."
On clicking the `+` and `Setting` icon we should not create a new instance of "setting icon" instead we should activate and focus the bottom setting icon.

![image](https://user-images.githubusercontent.com/2263909/36255426-fb983e4e-1274-11e8-9ec6-33810bb0feef.png)

[2018-02-15 17:02] abhigyank commented on #418
@zulipbot claim

[2018-02-17 02:23] glyph opened #419 "control-b boldfaces text rather than moves the cursor on macOS"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubutnu
  - [x] macOS
- **Clear steps to reproduce the issue**:

Type <kbd>Ctrl</kbd><kbd>B</kbd> in the text field.

Expected behavior:

- The cursor moves left one characer.

Actual behavior:

- The cursor is surrounded by `**` characters on either side.

When you hit this key combination on a mac, the correct native text-widget behavior

[2018-02-17 15:58] akashnimare commented on #419
This is the issue with web app, should be fixed there. @glyph opened as https://github.com/zulip/zulip/issues/8430

[2018-02-17 15:58] #419 closed, assigned to nobody

[2018-02-18 12:22] #416 closed, assigned to nobody

[2018-02-18 14:32] priyank-p opened #421 "Only show the back button if it needed"
Right now clicking on the go-back button sometimes does nothing so we can hide the button when not in need you can check of you can go back on an active webview by `webview.canGoBack()`.

This is a followup of #413, @abhigyank can you do this?

[2018-02-18 15:04] abhigyank commented on #421
Sure, I can take this up.
I think showing and hiding the back button, would not look good from design perspective. Rather I feel, we can change the shade of color of the back button to suggest inactiveness. Like how it is handled in browsers like chrome. What do you think?

[2018-02-18 15:09] priyank-p commented on #421
@abhigyank i do prefer hiding the button than disabling it since the icon is too big so its not working i rather not have it in my way as a user but feel free to get other opinion on it.

[2018-02-18 15:29] abhigyank commented on #421
I get your view. Maybe  open a thread on this in design stream?

[2018-02-19 08:17] S2606 commented on #409
@zulipbot claim.

[2018-02-19 14:30] akashnimare commented on #421
I don' think we need to hide the button, just disabaling the cursor and `0.6` opacity will work.

![image](https://user-images.githubusercontent.com/2263909/36382581-746b229a-15af-11e8-85e3-304bb2767871.png)

[2018-02-19 14:52] priyank-p commented on #421
Do we need it up though and not be functional, specially with a new button about to be added and this button being completely being useless most of the time it just adds to clutter for no reason.

[2018-02-19 15:23] akashnimare commented on #421
I'm 100% sure that this button will be visible most of the time if a user is using the app. We are planning to add a `hide/show` kind of button to deal with the clutter thing. Something like -

<img src="https://d2ffutrenqvap3.cloudfront.net/items/281S2Q381l123N3S0w0e/Screen%20Recording%202018-02-13%20at%2002.39%20AM.gif?v=bca79b43" />

But let's try the first approach i.e. show it only if `webvie

[2018-02-20 15:25] anurag1018 opened #425 "Organization name does not update on the sidebar"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubutnu
  - [x] macOS
![zulipelectronbug](https://user-images.githubusercontent.com/17769227/36432456-40a80dac-1680-11e8-9a6b-3e5320c0cc2e.gif)

Upon changing the Organization's name and icon, they are not instantly updated on the sidebar. I tried logging out and back in but still the bug persists.
The only way to get the name and icon upda

[2018-02-20 15:34] akashnimare commented on #425
Yeah, it takes time to load. You gotta reload app to see the changes. We basically fetch and save the icon URL on the first load/hard reload etc.

[2018-02-20 17:28] timabbott commented on #425
@akashnimare if we had a hook mechanism for webapp code calling into the Electron app, it'd be easy to make this work.  I think we should think about designing something like this.  E.g. the old desktop app had a `window.bridge` defined in the app.  For the Electron app, the webapp code could do e.g.
[code]

inside the handler for the webapp receiving an event update from the server that the organ

[2018-02-21 10:57] akashnimare commented on #419
@glyph this is fixed in https://github.com/zulip/zulip/commit/9dba134c7af3500731cc9013c1a1cf38c19e8788.

[2018-02-21 11:20] akashnimare commented on #409
@S2606 let me know if you need any help.

[2018-02-21 11:21] akashnimare commented on #409
@synicalsyntax looks like something went wrong with `zulipbot`.

[2018-02-21 12:10] akashnimare commented on #425
I agree that we should use this kind of approach to pass the data from webapp to electron app.

[2018-02-22 11:25] #398 closed, assigned to nobody

[2018-02-22 19:23] #421 closed, assigned to nobody

[2018-02-23 13:33] #418 closed, assigned to nobody

[2018-02-23 13:36] akashnimare commented on #249
Looks like the flickering issue is an upstream bug -
https://github.com/electron/electron/issues/8127
https://github.com/atom/atom/issues/15544

[2018-02-23 18:51] timabbott commented on #425
OK.  @akashnimare do you want to try doing the exact interface I described above, and do PRs to this repo and the zulip/zulip one for this feature?  I think it's worth getting this protocol worked out soon, so that we can use it for the next N features.

[2018-02-25 05:05] abhigyank commented on #243
This has been fixed in #422.

[2018-02-25 05:16] abhigyank opened #427 "server-settings: Create new organisation link overlapping existing servers."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Add three or more servers. Go to **Servers** in **Settings**, the "Or create a new organisation on zulipchat.com" link overlaps with existing server cards. See screenshot below.
- **Relevant error messages and/or screenshots**:
![screenshot from 2018-02-25 10-40-15](https://use

[2018-02-25 17:23] divyabaid16 commented on #341
@zulipbot claim

[2018-02-26 05:24] ihsavru commented on #407
Hi, I'd like to work on this issue. Will jQuery i18n library be suitable for this?

[2018-02-26 05:41] abhigyank commented on #407
I think the [`i18n`](https://www.npmjs.com/package/i18n) module would be suitable.

[2018-02-26 08:55] abhigyank commented on #427
@zulipbot claim

[2018-02-26 10:54] akashnimare commented on #340
I was thinking to put the "Create new Org.." link in the add server box.

<img width="1299" alt="zz" src="https://user-images.githubusercontent.com/2263909/36666648-4ec3bcfc-1b11-11e8-8d5a-85fe924bb6b8.png">

[2018-02-26 11:59] #427 closed, assigned to nobody

[2018-02-26 14:47] abhigyank commented on #296
I think we can get the system proxy settings from `main` using [session.resolveProxy](https://github.com/atom/electron/blob/master/docs/api/session.md#sesresolveproxyurl-callback), and then we can update the proxy values using `configUtil`.
@akashnimare What do you think about this approach?

[2018-02-26 20:55] rishig commented on #340
I would consider that change separately from the current discussion, since it is a mostly independent change?

[2018-02-27 07:22] Shivamgera commented on #409
@S2606  Are you still working on this issue or may I try?

[2018-02-27 18:23] abhigyank opened #430 "Loading indicator while navigating in webview"
Add some kind of indicator of loading when we move from one page to another in a webview.
Example: When one logs in (especially through third party auth) or logs out, add an indication that the request for logging in or logging out has taken place and that the next webpage is loading.

This can be added just like a browser like Chrome shows loading indicator by changing the reload button when a pa

[2018-02-27 18:25] abhigyank commented on #430
@zulipbot label "Type: Enhancement"

[2018-02-28 19:19] akashnimare commented on #312
We have made few changes in the latest release v1.8.2. @zingmars, @Yogislav can you guys check if it makes any difference?

[2018-02-28 20:03] akashnimare opened #432 "Add an option to add custom css"
We should add an option to let the user choose the custom CSS file from their system and then inject it into the app. This option would be useful for users who don't like the certain design and want to override the default styling.

[2018-02-28 21:15] akashnimare commented on #407
@ihsavru I'm not sure if we need the jQuery 18n library. I have written a basic i18n framework which works as expected, can you try it out and improve it?
https://github.com/zulip/zulip-electron/tree/i18n

If this doesn't work as expected then let's try the [i18n](https://www.npmjs.com/package/i18n) module.

One thing we need to keep in mind that the locale will depend on user's server language an

[2018-02-28 21:20] timabbott commented on #432
@akashnimare are there examples of features like this in other electron apps?  I think issues like improving the design of the add_realm page is a lot more important than this.  But if it's easy to do following the design of existing tools, it could be OK to add.

[2018-02-28 21:32] akashnimare commented on #432
Yeah, I have seen this feature in a couple of the electron apps, it's an easy feature to implement.

[2018-03-01 13:25] akashnimare commented on #432
Added in https://github.com/zulip/zulip-electron/commit/a90dc0c82fed7fb7a10fb54fadaa3aa91e2f8bbb.

[2018-03-01 13:25] #432 closed, assigned to akashnimare

[2018-03-01 16:53] ihsavru commented on #407
@akashnimare Detecting the server langauge is already implemented I guess? How many languages should we keep? Right now there's english (en) and swedish I suppose(de). Also why is swedish named as 'de', de is for german.
I'll first submit a pr for all the menu items in the required languages, then the individual pages progressively.

[2018-03-02 05:02] abhigyank commented on #392
@zulipbot claim

[2018-03-02 07:23] #243 closed, assigned to nobody

[2018-03-02 13:34] akashnimare commented on #407
Yes, it's stored in `spellcheckerLanguage`.

We need to support following languages but for now, I would just start with English/Deutsch.
![image](https://user-images.githubusercontent.com/2263909/36901014-83070356-1e4b-11e8-9630-4f4a80ffab7d.png)

I was just testing so picked whatever came first 😅

[2018-03-02 15:56] abhigyank commented on #392
@zulipbot abandon

[2018-03-02 16:27] abhigyank commented on #340
I think  "Create new Org.." link in the add server box looks good. The new mockup also looks better than the current one. @akashnimare  @rishig  Should I implement the above mockup?

[2018-03-02 17:26] rishig commented on #340
I think we should first resolve this PR, and then make further improvements after that. Otherwise the discussion gets too messy.

[2018-03-02 17:32] zingmars commented on #412
Seems to be fixed.

[2018-03-02 17:34] zingmars commented on #312
Appears to be working on my end.

[2018-03-03 10:53] abhigyank commented on #340
@rishig  Which PR are you referring to?
I am actually confused as to what work is left on this issue. The main issue description is already resolved. What are we currently trying to implement?

[2018-03-03 16:29] akashnimare commented on #340
@rishig hmm, it's on the same page. This is how it looks currently -

![image](https://user-images.githubusercontent.com/2263909/36936642-f75cbb82-1f2d-11e8-98bf-dcfb1be5c7c9.png)

@abhigyank in short, we still need to improve the design of this page.  I think the mockups I have posted earlier, looks better than the current one but it does need some refactoring. Let's work on the mockup first and

[2018-03-04 16:26] timabbott commented on #340
@akashnimare I like the idea of:

https://github.com/zulip/zulip-electron/issues/340#issuecomment-368463051

What do you think about making "Add new organization" it's own tab in the left-side settings navigation, separate from the list of existing ones?  I think having that add-organization tab look like what you've designed would look really good, and then we can do a separate project of making

[2018-03-04 18:19] rishig commented on #340
Just to clarify, I was actually saying that we should get the UX for this correct first, and then do the visual design second.

For the mockup Tim linked to: I think Zulip (and most modern apps) use text centering sparingly. It makes it hard to extend the page; e.g. I'm not sure how to add Existing organizations to that design. I tihnk it also doesnt' look good to have some things left-justified (

[2018-03-05 06:34] Yogislav commented on #312
@akashnimare I'll check out during this week

[2018-03-05 06:45] jainaman224 commented on #298
@zulipbot claim.

[2018-03-05 11:08] akashnimare commented on #298
I don't know why you can't claim the issue here, even I can't see your name when assigning manually.

[2018-03-05 11:51] jainaman224 commented on #298
You need to send me the invitation to repository manually. Because there was a bug in `bot` when I tried to claim this issue earlier.

[2018-03-05 18:21] timabbott commented on #298
@jainaman224 I added you as a collaborator to the repo.

[2018-03-05 19:33] jainaman224 commented on #298
@zulipbot claim.

[2018-03-05 20:57] akashnimare commented on #340
There are a couple of things we could try here.
For Adding a new server page -
a) Make a dedicated new page for adding a new server, something like this -

![screen shot 2018-03-06 at 2 01 22 am](https://user-images.githubusercontent.com/2263909/36998344-9b12cf86-20e2-11e8-8bf1-fdc3e80e3bf7.png)

^^ we could also show this page in a popup.

For connected organizations -

I should mention that othe

[2018-03-06 12:17] #412 closed, assigned to nobody

[2018-03-06 13:02] akashnimare commented on #340
JFYI, this is how Hipchat deal with the custom server and hosted server -

![image](https://user-images.githubusercontent.com/2263909/37033646-b190fe42-216c-11e8-9f69-168c145004fd.png)

[2018-03-07 06:56] Yogislav commented on #312
@akashnimare Everything seems to be OK. Everyday when I come to work and unlock my computer, zulip is up and running.  So I think we're good.

[2018-03-07 11:13] akashnimare commented on #312
Awesome. Please re-open if this happens again.

[2018-03-09 09:05] #249 closed, assigned to nobody

[2018-03-09 09:05] akashnimare commented on #249
FYI, @timabbott.

[2018-03-09 18:38] timabbott commented on #249
Yay, thanks @akashnimare!

[2018-03-09 22:08] timabbott commented on #372
I think we'll be fixing this using the technique in zulip/zulip#8520.

[2018-03-10 12:07] abhigyank opened #440 "Reinstall script does not work in windows"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
`reinstall` script in `package.json` is `./tools/reinstall-node-modules` and running npm reinstall does not work and throws an error `'.' is not recognized as an internal or external command,
operable program or batch file.` . This is suited for Linux/Mac not for Windows.

[2018-03-10 13:17] Dos98 commented on #392
@zulipbot claim

[2018-03-10 13:36] akashnimare commented on #440
Yeah, this was expected.

[2018-03-10 19:03] priyank-p commented on #440
@abhigyan I need more info here:

What were you using (cmd prompt / powershell)?
Window Version?

(Try removing `.` in the `package.json` if this still does not work try adding `.cmd` at the end.)

[2018-03-11 15:47] blinfoldking commented on #341
@zulipbot claim

[2018-03-11 17:17] abhigyank commented on #440
Powershell is Major 5, Minor 1, Build 14393.
Windows 10.
Adding `.cmd` made it work though.

[2018-03-11 18:43] DhruvThakker commented on #409
@zulipbot claim

[2018-03-11 18:43] DhruvThakker commented on #409
Is this issue still open

[2018-03-11 19:08] DhruvThakker commented on #409
@zulipbot claim --force

[2018-03-12 07:58] akashnimare opened #442 "Auto updater doesn't install updates on some Windows machine"
Looks like auto-updater is not installing the auto-updates. It's an upstream bug.

[2018-03-13 21:03] akashnimare opened #443 "Add Snap support [Linux]"

[2018-03-13 21:04] akashnimare opened #444 "Can't run app from terminal [Ubuntu]"

[2018-03-14 17:32] jainaman224 opened #445 "Change icon on mention."
- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubutnu
  - [x] macOS

- **Clear steps to reproduce the issue**:
Get mentioned by anyone. See the taskbar icon and org icon.

- **Suggestions**:
We can change color of icon to red like slack shows the `red dot` on mention. Similarly, for org icon in left sidebar.

[2018-03-14 18:11] #340 closed, assigned to nobody

[2018-03-15 04:39] blinfoldking opened #447 "Dockerized the development environment"
i think we could add a Dockerized option for developement where everyone would have the same environment regardless of the OS

[2018-03-16 17:51] akashnimare opened #448 "App settings are not working correctly"
This is the regression in the master, not sure when this was introduced.

The settings (Desktop notifications, silent etc) are changing automatically if you change it and then switch back to a server.

![dnd](https://user-images.githubusercontent.com/2263909/37529660-b316396e-295d-11e8-9874-f16c15d704d5.gif)

Repro steps -
* Go to setting page set `Show desktop Notification` to `ON`
* Switch to ad

[2018-03-16 18:22] abhigyank commented on #448
[This](https://github.com/zulip/zulip-electron/commit/f409bb0449a9fdbba81e418a256d0a1da14f5cd4) commit intoduced this bug. It worked as expected before this commit.

[2018-03-16 18:24] akashnimare commented on #448
Yeah, I have also narrowed down to that commit only, it used to work as expected before this.

[2018-03-16 21:36] #448 closed, assigned to nobody

[2018-03-16 23:06] timabbott commented on #425
@cPhost do you want to work on this using the `electron_bridge` approach?

[2018-03-16 23:07] timabbott commented on #359
This seems like something we should do on the backend, since the org icons are also used on e.g. mobile.

[2018-03-17 00:00] priyank-p commented on #359
If we could assign avatars on the backend by default for realms that did not upload an image that would be great (I thought we already do this don't we) -- but this is also when a request for fetching realm icon fails so this also needs to be implemented in electron side of code.

[2018-03-17 00:03] priyank-p commented on #425
I am working on it. I was looking for code on webapp that does this but did get chance to dig more into the codebase.

[2018-03-18 18:23] robgev commented on #445
@zulipbot claim

[2018-03-18 18:34] robgev commented on #445
@zulipbot claim --force

[2018-03-19 09:45] akashnimare commented on #447
@BlinfoldKing I'm not sure if it's a good idea, especially in the cross-platform development. The more platform the app is tested the better it is so it shouldn't be dockerized. We can't provide a single docker image for all the platforms since I don't think it provides any kind of UI. IMO, Docker is better for server-side things.
That being said, if you want to give it a try feel free to do it. M

[2018-03-19 10:03] blinfoldking commented on #447
i see, thanks for your opinion

[2018-03-19 10:03] #447 closed, assigned to nobody

[2018-03-19 11:11] akashnimare commented on #445
We already show the red dot over the dock icon if there is a PM count in macOS.

![image](https://user-images.githubusercontent.com/2263909/37588621-c96b966e-2b88-11e8-954c-8a2190b74667.png)

There is WIP PR #385 which updates the tray icon on PM (same as favicons).

Currently, we don't have a proper method to get the PM count. We have implemented the electron bridge (it passes the data from the w

[2018-03-19 11:52] akashnimare commented on #447
@BlinfoldKing let me know if you're willing to work on #145 which will certainly make the development process better.

[2018-03-19 11:54] blinfoldking commented on #444
is there any screenshot of the log?

[2018-03-19 11:57] akashnimare commented on #444
It's an upstream bug. See the following issues -
https://github.com/electron-userland/electron-builder/issues/2682,
https://github.com/electron-userland/electron-builder/issues/2689

[2018-03-19 14:01] robgev commented on #443
There is a package called electron-installer-snap. Can we just add it and use it? If yes, I can do it :) Here's the link.
https://github.com/electron-userland/electron-installer-snap

[2018-03-19 14:11] abhigyank commented on #443
We currently use `electron-builder` for packaging the app, and I think it also has support for building Snap files.

[2018-03-19 14:15] robgev commented on #443
I will do it today then. Seems to be an easy task.

[2018-03-19 14:15] robgev commented on #443
@zulipbot claim --force

[2018-03-19 14:15] akashnimare commented on #443
Have a look - https://www.electron.build/configuration/snap

[2018-03-19 14:17] robgev commented on #443
Thanks @akashnimare! I will take a look and open a PR ^_^

[2018-03-19 15:16] #444 closed, assigned to nobody

[2018-03-19 20:38] robgev opened #450 "Login Screen: Pressing buttons while Zulip tries to connect will fire the events after the loading is finished."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:

On the first step, specify the company name and while the first button says "Connecting" press the "Create Organization" button.

[2018-03-19 20:47] abhigyank commented on #450
I am unable to reproduce the issue. "Create a new organisation" button on the add organisation page fires up the link in the browser even while the app is "Connecting" to a new server.
![](https://user-images.githubusercontent.com/20434085/37621773-fbd0c50e-2be5-11e8-805f-c03c328d4fee.gif)
Can you post a gif reproducing the issue?

[2018-03-19 20:59] robgev commented on #450
Yes exactly, but isn't it a bug? Shouldn't the buttons be just disabled when you are trying to connect?

[2018-03-20 04:39] akashnimare commented on #450
I don't think anyone would try to click on "Create a new.." button after submitting the server URL 😸  but if you think this could be improved feel free to send a PR which basically disables the click event while the app validates the server.

[2018-03-20 04:44] abhigyank commented on #450
I agree with Akash. However I feel "Create a new" should work even while connecting as both are independent events.

[2018-03-21 18:19] robgev commented on #445
@zulipbot abandon

[2018-03-21 18:21] robgev commented on #440
@zulipbot claim --force

[2018-03-22 07:17] robgev commented on #440
@abhigyank @cPhost should I add a node script? Is it a normal solution?

[2018-03-22 08:17] akashnimare opened #453 "security: prevent remote code execution."
Looks like you can drag and drop any link to the app and it will get open. Using that event anyone can execute a remote code and might do bad things.

[2018-03-22 17:43] timabbott opened #456 "Tweaks to the "Organizations" settings page"
* ~~We should have a link to "Add organization", in case users don't see the `+` icon; probably at the bottom is fine.~~ (Decided not to do this)
* ~~It's not great that the hover CSS moves the row (e.g. the "Disconnect" button jumps)~~
* ~~I think we want the "Disconnect" button to be at the far right, so that longer organization URLs don't mess up the table~~:

![image](https://user-images.githu

[2018-03-22 17:45] timabbott opened #457 "Improvements for in the new "new organization page""
* [x] I think chat.your-organization.com should be zulip.your-organization.com; that's what most people seem to name their servers. I also sort wonder whether we'd be better off with example.zulipchat.com or zulip.example.com for communicating to users, when looking at it.
* [x] The hover behavior for the buttons changes their size, which looks ugly when you interact with them with the mouse.
* [x

[2018-03-22 17:53] #453 closed, assigned to nobody

[2018-03-22 18:27] abhigyank commented on #456
@zulipbot claim

[2018-03-22 18:32] abhigyank commented on #456
@timabbott  The hover CSS moving the row has been long there, however I couldn't replicate the button jumping part, the entire row slides to the right. If you want I can remove the transition of the row altogether.
Can you mention the url for which you tried? It will help me in testing the fix.

[2018-03-22 18:57] timabbott commented on #456
I tried zuliporg.zulipchat.com, but I think anything long will do it, so you can probably make that state with the inspector.

Yeah, I know the entire row slides to the right; I just think it's a poor interface for a thing with buttons you might be trying to click inside the widget -- even if you're unlikely to miss because the motion is small compared to the button size, users generally have a ba

[2018-03-22 20:06] #457 closed, assigned to nobody

[2018-03-22 20:10] timabbott opened #459 "Shortcuts menu should also advertise Zulip webapp's built-in hotkeys"
I think we could just handle this by having a tip-section at the top or bottom of the in-app shortcuts page linking to:

https://zulipchat.com/help/keyboard-shortcuts

And by "tip" I mean something styled nicely lik https://zulipchat.com/help/view-the-markdown-source-of-a-message

[2018-03-22 20:22] akashnimare commented on #456
I think we should just remove the hover effect for now and probably think for a better animation since it moves the whole row.

[2018-03-22 20:37] akashnimare commented on #456
@timabbott I hide that link intentionally since I think the `+` button is pretty visible/big and obvious.
The link is there in the left nav items I just used `display:none` to hide it-

![image](https://user-images.githubusercontent.com/2263909/37796917-6d206afc-2e3e-11e8-9c7c-73e5a80c5a60.png)

IMO we might not need this button but if you want it then we could either add it in the nav item or in

[2018-03-22 21:41] timabbott commented on #456
I guess I was thinking about the new-user situation, but I guess that one doesn't really exist, since presumably we start folks up with the splash screen to add an organization anyway.  So I agree with you; we can ignore that one until we get feedback from a user that they were confused.

[2018-03-22 21:45] akashnimare commented on #456
@abhigyank can you remove that 😅

[2018-03-22 21:56] abhigyank commented on #456
Done!

[2018-03-23 18:34] #440 closed, assigned to nobody

[2018-03-25 07:54] abhigyank opened #463 "Realm icon is not set in sidebar despite the icon existing on server"
The realm icon fallbacks to default icon (Zulip Logo) in the sidebar even when a server icon exists at the required place.
Discussion on developer chat can be found here [here](https://chat.zulip.org/#narrow/stream/31-production-help/subject/electron.20server.20icon).

Two possible causes for this -
* There is path issue in the icon URL which needs to be handled. Refer [here](https://chat.zulip.or

[2018-03-25 12:35] yorickvP opened #464 "Google Login opens in app, not browser (missing existing login, 2fa)"
The expected action on authenticating with google (or github, for that matter), is delegating to a browser (and maybe opening a local server to see the callback url). This way, already-logged-in accounts can be used, as well as 2FA devices like the yubikey.

Currently, it opens the google dialog in the app itself, where there's no guarantee that it's the real google or a fake UI, and users have to

[2018-03-26 08:28] akashnimare commented on #464
We should definitely do something about this. I have to see how the callbacks will work if we open the OAuth link into a default browser or maybe in a new browser window.

[2018-03-26 10:49] akashnimare commented on #463
Not possible since we already format the data using `JSON.parse()` so `\` is removed when we check for `data.realm_icon.startsWith('/')`

[2018-03-26 15:39] #456 closed, assigned to nobody

[2018-03-26 16:28] timabbott commented on #464
Is this something we can actually change?

[2018-03-26 16:57] #443 closed, assigned to nobody

[2018-03-27 02:35] devsumanmdn commented on #464
It looks like we'll need to create some pages(i.e., login page most importantly) to be rendered offline, am I close?

[2018-03-27 09:32] stone212 opened #465 "Enhancement: File Upload Progress Indicator"
---

On Linux/Ubutnu Electron Client, file upload does not show a progress indicator.

- **Clear steps to reproduce the issue**:

Within a stream, upload a file using the paper clip icon.  You will see a blue bar with blue text "Uploading..." but it gives no progress.

(also you cannot send messages while you are waiting)

[2018-03-27 12:02] akashnimare commented on #465
This should go in the webapp. @stone212 can you re-open this issue [here](github.com/zulip/zulip)?

[2018-03-27 12:02] #465 closed, assigned to nobody

[2018-03-27 15:59] #442 closed, assigned to nobody

[2018-03-27 16:00] akashnimare commented on #442
We might want to cross check this once we push a new release.

[2018-03-28 01:29] stone212 commented on #465
@akashnimare  I could but I am not using the webapp.  I am using the electron desktop client and that is where I have this issue.  Also can you re-send the link?  It didn't come through.  Was it the zulip/zulip stream you want the issue posted in?

[2018-03-28 05:56] abhigyank commented on #465
@stone212 The desktop app only renders the webapp in the webview and it is actually the webapp that you are indirectly using.
The link would be https://github.com/zulip/zulip/issues

[2018-03-29 07:45] rvencu opened #466 "The Desktop App keeps crashing by showing 502 Bad Gateway from nginx"
I am keeping the app open at all times. Usually every morning I find it displaying Cannot connect to the server, Try now... and when trying to connect 502 Bad Gateway is returned.
As the app is basically a web client I went to the server and done tons of restarts until I noticed the desktop app is, somehow, the culprit. That happened when the desktop app was crashed and nothing worked (not reload,

[2018-03-29 12:06] akashnimare commented on #466
Ahh, that's bad. Would be great if you can provide following info -
* If your server is public can you provide me with the server URL?
* Do you experience the same issue on chrome?
* Can you paste a screenshot of the error (or the app) when that error occurs?

Currently, we don't handle the 502 gateway error which we need to take care of. @timabbott could this error be caused due to bad server con

[2018-03-29 12:19] rvencu commented on #466
https://chat.dentfix.ro
Yes, at first it happened on Chrome as well. But then I upgraded the RabbitMQ to a recent version and on Chrome it became stable. My Chrome is version 68, I saw the desktop app is built over version 59.
My installation is on Ubuntu Server 16.04 LTS, I heard LTS has some old version of software on repository. If you need I can provide SSH access to the server. I will upload

[2018-03-29 12:21] rvencu commented on #466
BTW, I enabled root SSH access so it will be easy to work on the server but I will need a SSH public key to grant access with certificates.

[2018-03-29 12:29] akashnimare commented on #466
Thanks, that's helpful. I see the server certificate is properly signed and it's highly unlike that the app is causing the issue. If this error happens again can you reproduce the same in the chrome also (at the same time) so that we can make sure that it's only happening in the app and not in the web app. I don't think I'll need the SSH access but I'll let you know.

[2018-03-29 15:08] Valkryst opened #467 "Unreadable Newbie Tips"
Switch to night mode in your browser, then log-in to the dektop app. The desktop app will automatically be in night mode. Next, look at the hints that pop up when you're a new user.

The hints have a white background with light grey text. It's entirely unreadable.

---

Zulip 1.9.0
Electron 1.8.4
linux x64 4.4.0-116-generic

[2018-03-29 15:09] akashnimare commented on #467
@Valkryst can you paste a screenshot?

[2018-03-29 15:12] Valkryst commented on #467
@akashnimare I can, if there's a way to re-enable the tips. I think I've clicked through them all at this point

[2018-03-29 15:19] Valkryst commented on #467
Scratch that. I created a second account, followed the steps again, and reproduced the issue.

Here's a screenshot.
![zulip_062](https://user-images.githubusercontent.com/1524476/38097332-768b318c-334b-11e8-8738-f4dd1a228327.png)

[2018-03-29 15:23] timabbott commented on #466
It sounds like the original 502 was caused by the server being actually down; the problem here was that somehow the desktop app didn't recover once the server was fixed.

[2018-03-29 15:26] timabbott commented on #467
I assume this is actually just a webapp issue, not a desktop app issue.

[2018-03-29 16:00] rvencu commented on #466
Well, I fixed the server like a week ago. In the meanwhile I even upgraded the desktop app to the most recent version. I can try an uninstall then fresh install of the desktop app. Let me first capture the event on video, then I will try that.

[2018-03-29 16:10] rvencu commented on #466
OK, tinkering with developer tools on the app itself I found a lot of 502 messages. I am uploading screenshots here. First is from the App that was online for several hours already (and accumulated 90 of those 502 errors)
![image](https://user-images.githubusercontent.com/287411/38099671-e754ece0-3383-11e8-8c11-189768f29354.png)
The second one if from main Chrome browser that I just opened and kep

[2018-03-29 16:15] rvencu commented on #466
From that screenshot I can see sometimes the failed requests are retried and they succeed
![image](https://user-images.githubusercontent.com/287411/38100262-95ee9a98-3385-11e8-93cd-3b6c9c907f9c.png)

[2018-03-29 16:26] abhigyank commented on #467
@Valkryst Can you create an issue at https://github.com/zulip/zulip/issues ? It is a webapp issue, as the desktop app is a web client.

[2018-03-29 16:29] Valkryst commented on #467
@abhigyank Yup, I've created the issue over there.

https://github.com/zulip/zulip/issues/8868

[2018-03-29 16:50] rvencu commented on #466
I had the patience to read all failed url and they end in event_id=n. Thing is every third event number generated 502 error. Like clockwork. If something bigger happens it might jump then after things calm down every third event fails with 502, for hours and hours.

[2018-03-29 17:20] timabbott commented on #466
I've never seen anything like this before, but the issue is very likely a networking configuration problem (e.g. a buggy `nginx` or load-balancer configuration that is basically load-balancing between 3 hostnames, only 2 of which actually work).

[2018-03-29 17:30] rvencu commented on #466
My setup is nothing special. Just one server for everything, I followed the setup documentation to the letter.
I can find the errors in nginx error log as well
`2018/03/29 20:19:52 [error] 1461#1461: *2702 connect() failed (111: Connection refused) while connecting to upstream, client: 82.76.235.114, server: , request: "GET /json/events?dont_block=false&queue_id=1522220881%3A9&last_event_id=358 HT

[2018-03-29 17:38] rvencu commented on #466
I cannot find any special error in server logs related to the moment when the app/browser does become unresponsive. I will try more perhaps in the morning when I will find the app crashed. I will also leave the main browser on as a test.

[2018-03-29 17:56] timabbott commented on #466
Weird.  Can you do a `pstree -ap zulip` and post the output?

[2018-03-29 18:01] abhigyank commented on #459
What should be the message in the tooltip?
I was thinking "You can view the webapp built-in hotkeys [here](https://zulipchat.com/help/keyboard-shortcuts)".

[2018-03-29 18:03] rvencu commented on #466
I searched many logs under zulip folder. None has another clue. I could only find the pika.adapters.blocking_connection errors that led me to upgrade to latest RabbitMQ. The tornado.log shows only status 200 events.
Here is the output of the pstree command:
`nginx,1458

nginx,1459

nginx,1460

nginx,1461

python3,1794 /home/zulip/deployments/current/manage.py runtornado 127.0.0.1:9993

python3,179

[2018-03-29 18:13] timabbott commented on #459
Maybe something more like "These hotkeys are in addition to <a>Zulip's web keyboard shortcuts</a>"?

We may want to do a bit of editing after seeing what it looks like implemented, so post a screenshot on the PR.

[2018-03-29 19:09] akashnimare commented on #467
Fixed in https://github.com/skunkmb/zulip/commit/382f93189f9c54bb1041ebe612eb4f0646911b61.

[2018-03-29 19:09] #467 closed, assigned to nobody

[2018-03-29 19:14] timabbott commented on #466
OK, so there's only one Tornado process.  This is quite mysterious.  Are you sure you haven't modified the nginx configuration, put Zulip behind a proxy, or anything like that?

[2018-03-29 19:40] rvencu commented on #466
Sure thing no, I only upgraded RabbitMQ. The main browser hit the fan and entered 502 state. I am attaching a short movie about it below
https://screenpresso.com/=DoGWb

[2018-03-29 19:43] rvencu commented on #466
These are new lines in  nginx error log
`2018/03/29 22:36:53 [error] 1459#1459: *3433 connect() failed (111: Connection refused) while connecting to upstream, client: 82.76.235.114, server: , request: "GET /sockjs/info?cb=ju85ie5og3 HTTP/1.1", upstream: "http://[::1]:9993/sockjs/info?cb=ju85ie5og3", host: "chat.dentfix.ro", referrer: "https://chat.dentfix.ro/"
2018/03/29 22:36:54 [error] 1461#1461

[2018-03-29 19:46] rvencu commented on #466
tornado.log says this around the above error logged time:
`2018-03-29 19:36:45.006 INFO [zr] 82.76.235.114   GET     200   5ms (lp: 51.0s) /json/events [1522220881:9/1/heartbeat] (richard.vencu@dentfix.ro via ZulipElectron)
2018-03-29 19:36:49.584 INFO [] Tornado   0.3% busy over the past 59.6 seconds
2018-03-29 19:36:52.821 INFO [zr] 127.0.0.1       GET     200   3ms /api/v1/events [1522220881:12

[2018-03-29 19:46] rvencu commented on #466
Guess tornado.log takes UTC  time while nginx takes local time (UTC+3).
The desktop app is still running well, with 182 502 errors in console now.

[2018-03-29 19:55] rvencu commented on #466
Is there a way to dump the database and try a fresh setup on a clean system then restore it? If so what is the best Ubuntu OS to start with? We can continue debugging though if you like so...

[2018-03-29 23:25] timabbott commented on #466
The other thing to check is what you have in `/etc/hosts`; I could imagine this being caused by weird configuration there.  But I don't have any other ideas for what would cause this weird behavior; it seems surely something weird about your server configuration, but I can't tell what.

For your last question, check out our backups documentation on ReadTheDocs -- that explains how to do what you'r

[2018-03-30 07:51] rvencu commented on #466
127.0.0.1	localhost
91.194.31.43	chat.dentfix.ro	chat

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

Thanks for directions

[2018-03-30 12:52] rvencu commented on #466
I just noticed another thing, the calls to events?... that succeed with status 200 are taking some 52 seconds to do so. Maybe the ones that fail only fail because they cross the 60 seconds barrier?
Edit: it is not that. I put a timer and count only 19 seconds for a failure to appear...

[2018-03-30 18:30] rvencu commented on #466
I installed a fresh server 16.04 LTS, did an apt-get upgrade then installes zulip server and moved the database and secrets over the new server. The move apparently succeded because I could login automatically with zulip-electron client after first server start. Everything was replicated, SSL certificate, hostname and network settings. In less than one hour the client crashed again

Nginx error lo

[2018-03-30 18:35] rvencu commented on #466
supervisorctl status outputs this (while apparently I can use the client):
`process-fts-updates                                             FATAL     Exited too quickly (process log may have details)
zulip-django                                                    RUNNING   pid 32832, uptime 1:07:58
zulip-senders:zulip_events_message_sender-0                     RUNNING   pid 32841, uptime 1:07:57

[2018-03-30 19:31] rvencu commented on #466
After a reboot fts-updates started and is stable. Before it claimed in error log that zulip role does not exists.

The client reconnected and it behaves exactly like before. This is a clean setup on Ubuntu server 16.04 + zulip server 1.7.1 and I did not touch anything except installing openssh-server so I can access it remotely.
![image](https://user-images.githubusercontent.com/287411/38150991-18

[2018-03-30 21:08] timabbott commented on #466
One other possibility I can think of is something wrong with your network.  The `/events` queries are meant to do long-polling (i.e. hold open the request for up to a minute waiting for a response)  If you have a network with an unusual configuration, it could (e.g.) set a very short timeout, like 30s, on the maximum duration of HTTP requests.  That would potentially explain the irregular success

[2018-03-30 21:37] rvencu commented on #466
I have a way to test that, will do a failover to the replicated VM that is located offsite in a different network, even different ISP.

[2018-03-30 21:38] akashnimare commented on #466
@rvencu quick question - you can reproduce this bug in chrome, right?

[2018-03-31 07:11] rvencu commented on #466
Yes. Chrome or Zulip-electron is behaving in same way

[2018-03-31 13:10] rvencu commented on #466
Test 1 failed. I replicated the VM in my home network. Changed networking settings with intranet IP address, also updated /etc/hosts. The on my computer I edited hosts file to point to the intranet IP address for chat.dentfix.ro

I was able to connect properly. The behaviour is the same. I only have one Cisco switch between my computer and the server and of course the Hyper-V 2016 hypervisor archi

[2018-03-31 13:16] rvencu commented on #466
Test 2 failed. I used a remote computer in a third network to connect to the original server visible on internet. Same behaviour, so I ruled out my computer and my computer network.

[2018-04-02 01:00] stone212 opened #469 "Security/UI Issue: Images and Attachments Must Open in Electron"
**Using:** Electron 1.9 for LInux

**To Reproduce:**

When you click on an image or uploaded file link (*not* the image thumbnail) within the Electron Client, electron parses this as a link.  Therefore it tries to open in the Browser.

This is a problem.  There is a reason I am not using my browser to view electron.  Also this is a potential security risk if you are using Electron through a proxy

[2018-04-02 08:25] abhigyank commented on #469
If the image url in ends in an image format like `jpg` it'll indeed open in the app itself. However if it is a non image url it is bound to open in a browser.
Can you share a sample url you're referring to? In case it is an image that doesn't have a image format url, we can address this in the webapp itself to treat that url also as an image.

[2018-04-02 10:42] akashnimare commented on #469
This is the intentional behaviour. We do open files in the app. Instead of clicking on an image link try clicking on the image itself. There you will get the option to download, open link etc.

<img src="https://d2ffutrenqvap3.cloudfront.net/items/0p2o330x3U2C3c0K2t0Q/Screen%20Recording%202018-04-02%20at%2004.10%20PM.gif?v=53d776c9"/>

[2018-04-02 11:57] akashnimare commented on #464
@yorickvP it's secure if you know the server owner. @timabbott I dig into this and found out that almost all of the electron apps have the same procedure for oAuth as we have. We can open the oAuth in the default browser but then I'm not sure how to communicate back to the electron once the oAuth is done. If we implement this feature then this means we gotta do heavy refactoring for oAuth in the w

[2018-04-02 13:29] yorickvP commented on #464
To communicate back: start a server, let the oauth redirect to localhost
(serve a page that closes the window).
The point of oauth is that I don't have to trust the server owner with my
google password. The current flow breaks that, and also has me dig out my
backup google keys because I can't use my yubikey. Seems that all the other
apps are doing it wrong then, as well.

Op ma 2 apr. 2018 om 13:

[2018-04-02 16:45] timabbott commented on #464
@yorickvP you don't need to trust the server owner with your google password in the current flow: the Electron app acts exactly like another browser in this context.  The only difference from your normal browser is that it's a bit less convenient (because the app doesn't have access to your normal browser's cookies).  So if you usually use Chrome, using the Electron app should be like using Firefo

[2018-04-03 04:48] stone212 commented on #469
@akashnimare

I may not share the URL since it is to a private system.  But!

If I click on the *thumbnail* then what happens is what you show in your gif.  However I never thought to do that.  The ticket is for clicking on the *link* so I was clicking on the word "filename.jpg" above the thumbnail.  (I didn't even think of the difference until I saw your gif.)

Please use the example in your gif.

[2018-04-03 04:49] stone212 commented on #469
@akashnimare Unrelated but your example GIF shows a CLI-based zulip client.  I need this in my life.  How do I get it?

[2018-04-03 04:53] stone212 commented on #469
Why?  Any other program (like a browser) will open the file in whatever the system default is for that type of file.  If I have an office document, are you saying that Electron will open it in a browser?  Could you not open it with the system default for office documents, as Firefox would?

[2018-04-03 04:59] stone212 opened #470 "zulip:// URL Scheme for electron"
When I receive a missed message email from my Zulip, I see a link to read the thread.  When I click on it, it opens my browser.

But I view zulip with electron.

Can electron register a new URI scheme (zulip://) on the system it is installed on?

To be really useful you would couple this with a change in the back-end email messages so that there is an option to:

### References
* Mobile issue (has

[2018-04-03 05:11] abhigyank commented on #469
@stone212 A browser would first download such a file (an office document) , and then you'd be able to open it in the system default. In our case we would first open it in a browser and then it'd download the file and open it in the system default.
I don't think a browser would be able to directly download a file without opening the URL.
@akashnimare I think it'd be possible to download a file from

[2018-04-03 05:12] abhigyank commented on #469
@stone212 That is the zulip-terminal. Repository is [here](https://github.com/zulip/zulip-terminal)

[2018-04-03 08:29] akashnimare commented on #470
Interesting request. Quite possible since Slack have this deep linking feature.

[2018-04-03 09:36] akashnimare commented on #469
I agree that opening a link in the default browser may create problems for some reasons (security issue, proxy, the default browser is work client etc).

@stone212 would a solution like this will work for you -

<img src="https://d2ffutrenqvap3.cloudfront.net/items/2M3Z3J1p2U2Q022W322E/Screen%20Recording%202018-04-03%20at%2002.56%20PM.gif?v=dd45488c"/>

If you click on an image then it will open i

[2018-04-03 09:39] akashnimare commented on #469
@abhigyank good news, electron automatically handles this 😄

[2018-04-03 10:25] abhigyank commented on #470
This would an interesting feature to add. I think we can use `app.setAsDefaultProtocolClient())` to set `zulip://`. However it has different implementation ways for different OSes that needs to be looked at.
[Documentation](https://electronjs.org/docs/api/app#appsetasdefaultprotocolclientprotocol-path-args)

[2018-04-03 10:32] abhigyank commented on #469
For clicking on an image we can open in the app itself but in a popup window (part of the app) then no need to use the back button. What do you think @akashnimare @stone212 ?

[2018-04-03 10:34] akashnimare commented on #469
Yeah, we need to find a way to re-use that lightbox if the media type is (png, gif etc).

[2018-04-03 10:41] abhigyank commented on #469
That part can go into the webapp itself. If not we can inject the code to use the lightbox.

[2018-04-03 11:29] akashnimare commented on #470
Few things we need to add to make it work -
* Need to add `open message in the desktop app` button in the missed message email
* Pass the protocol (just need to add the protocol this in the package.json)
* Validate the passed parameter which is basically the server address.

<img src="https://cl.ly/2P0k3B2o211S/download/Screen%20Recording%202018-04-03%20at%2004.02%20PM.gif">

[2018-04-03 16:57] abhigyank commented on #242
This issue seems to be solved due to an electron update. Discussed [here](https://chat.zulip.org/#narrow/stream/16-electron/subject/perf/near/553954)

ping @akashnimare . Close this?

[2018-04-03 16:58] akashnimare commented on #242
Let me first double check this!

[2018-04-04 05:04] stone212 commented on #469
@akashnimare

Does electron respect the electron proxy settings when it handles this?  Because the user is expecting anything that happens through the electron app to use the proxy settings it uses.

[2018-04-04 05:07] akashnimare commented on #469
@stone212 not 100% sure but it should respect the same settings. So if you're successfully running the server within the app then I don't think there will be a problem while downloading attachments.

[2018-04-04 05:13] stone212 commented on #469
@akashnimare

I don't understand what I am seeing in the gif.  But why did Google open?!?  A solution using Google by default would not work.  Why was it necessary to hit "back"?  It is definitely not ideal to have to perform an extra step. but there is a more important point.  You are talking about something different from what this Issue is about.

Yes that is basically what happens now.  This I

[2018-04-04 05:14] stone212 commented on #469
@akashnimare

This is the whole point so if there is a way to make sure that when you click on links, Electron does not open a new application with a separate internet connection (and therefore proxy settings) then that is a solution to this Issue.  If it's necessary to hit the "back" button then fixing that would be a UI improvement but this Issue would be solved.

[2018-04-04 06:37] akashnimare commented on #469
Okay, let me make clear what's happening in the gif (it shows the proposed behaviour)-

a) If you click on a link which is basically an attachment link; could be a pdf, doc, mp4 or anything then you'll get an option to download the same.
b) If you click on a link which contains an image (jpg, png, gif etc) then it will open in the electron itself but you gotta go back using the back button or shor

[2018-04-04 08:01] stone212 commented on #469
@akashnimare

That would solve the security Issue.

That is annoying but it solves the security Issue.

*Forget Images*  We solved that a while back just as you said: by using the thumbnail.  But what about attachments?

[2018-04-04 13:39] akashnimare commented on #469
If you click on an attachment link you'll get an option to download the same.

<img src="https://d2ffutrenqvap3.cloudfront.net/items/1F040a1J351V1Z2w1B3a/Screen%20Recording%202018-04-04%20at%2006.06%20PM.gif"/>

[2018-04-04 14:05] akashnimare commented on #242
`escape_key` event takes 7.7 ms on electron and 7.2 ms on chrome so I think we're good here.

[2018-04-04 14:05] #242 closed, assigned to nobody

[2018-04-04 14:30] akashnimare commented on #466
@gnprice any idea what's going on here?

[2018-04-05 01:57] stone212 commented on #469
@akashnimare Why does Google come up?  Requiring Google is not acceptable.  But if that is just the example you are using (something on the google cloud) then the rest of that movie looks perfect.  How soon can we upgrade?

[2018-04-05 04:14] abhigyank commented on #469
@stone212 Google doesn't come up! That is actually the image itself. The image he demoed on had Google on it 😅

[2018-04-05 05:12] akashnimare commented on #469
@stone212 that is just an image. Are you using the AppImage or Debian installer? If you're using the deb then I can quickly release a new beta.

[2018-04-05 06:07] abhigyank commented on #469
I am working on opening the image link in lighbox.

[2018-04-05 06:14] akashnimare commented on #469
See if we can reuse the webapp lightbox here. We want the same behaviour as when a user clicks on the thumbnail.

[2018-04-05 08:40] rvencu commented on #466
If needed I can export the hyper-v VM and send it over for local debugging.

[2018-04-05 13:28] akashnimare commented on #466
@rvencu hey, can you please repost your problem [here](https://chat.zulip.org/#narrow/stream/31-production-help) so that you can get it fixed asap?

[2018-04-11 22:37] stone212 commented on #469
@akashnimare I see that this is fixed.  That's amazing!  How do I get the new changes?  I'm new to Zulip workflow.

[2018-04-12 09:08] akashnimare commented on #469
@stone212 I'll push a new release this week.

[2018-04-14 09:09] stone212 commented on #469
@akashnimare I do not want to rush you.  I only want to make sure I am not missing something?  I did an upgrade from git master yesterday.  And I run Electron 1.9.0.  Do I need to do something else?  Maybe "wait" is what I need to do?  That is OK if it is true.

[2018-04-14 13:04] akashnimare commented on #469
@stone212 I have to hold the release since I want to fix few more issues before that. I could do a beta release. Are you using the Debian installer or AppImage one?

[2018-04-14 19:38] jainaman224 commented on #298
@zulipbot abandon.
I can't work this week. Sorry, for holding it so long.

[2018-04-16 07:56] stone212 commented on #469
@akashnimare I'm using the AppImage but I could switch to Debian.  But there is no rush and please do not push this forward for me.  I just wanted to understand the workflow to be certain the release was not already out but I was not installing it.  When Electron notifies me that there is a new release I will upgrade to it.  Thank you for your replies and for working on this.  I think this will be

[2018-04-17 10:51] abhigyank commented on #213
@penCsharpener @gnprice @akashnimare Can you give this a try once more?
On Ubuntu 16.04 and Desktop app 1.9.0 I am observing 0% CPU usage on minimising the app and about 1-2% with the app open. This is without any GPU.

[2018-04-17 11:21] penCsharpener commented on #213
I'm on windows. the percentages are also dependent on the number of cores you have (at least in windows task manager). The more cores the less the CPU percentage. Also applies to older vs newer CPUs.

[2018-04-17 11:23] akashnimare commented on #213
Yeah, I think no. of cores heavily affect the performance.

[2018-04-17 11:28] abhigyank commented on #213
@penCsharpener Could be true. I am on 8 cores.
Can you still reproduce this? If yes could you also update with your machine specs? Cause I'd like to investigate this issue.

[2018-04-17 18:02] timabbott commented on #213
@penCsharpener for context, the latest release of the app included an update to the underlying chromium that fixed the performance issues of this form in the app that we could reproduce.  So the question here is whether it also fixed the ones you had.

[2018-04-18 10:39] penCsharpener commented on #213
Using the latest release 2.0 on a Core i5 8600K (6 cores) I still have an average of 2% uages on the CPU and if I just mouse hover over it a little the window it jumps to 15%.

[2018-04-18 11:29] akashnimare opened #474 "installer: Update installation image for DMG installer."
* Rename `Zulip-desktop` to `Zulip`
* Try new design (maybe add Zulip's logo)
<img src="https://github.com/zulip/zulip-electron/blob/master/build/appdmg.png?raw=true"/>

[2018-04-18 16:12] timabbott commented on #213
Does that happen if you hover repeatedly?  We do have an on-focus handler that does some work (e.g. to notify other clients that you're online and update your own presence display), so that test is likely to give the wrong idea for what the general CPU usage is.

[2018-04-18 16:27] penCsharpener commented on #213
yes, you are right. But it appears high anyway but that's the case with almost all software.

[2018-04-19 10:03] abhigyank commented on #213
@timabbott I can observe 4-6% CPU usage on hovering on the already parts. While I can report around 12-14% usage when the app loads/reads messages (i.e. scrolling upwards/downwards **fast** to load Message) and around 7-10% when scrolling (both mouse and keyboard) at a slow/normal speed.  With the app open and no mouse activity, 0-2% usage is observed. These usages seem normal to me as this is the

[2018-04-19 20:50] GrumpyOldTroll opened #476 "Emoji images scrambled"
---
- **Operating System**:
  - [ * ] macOS: Sierra: 10.12.6 (16G1314)
- **Clear steps to reproduce the issue**:
  - unknown. started today, I took no unusual action, and have never seen this before. Persists through restart or refresh
- **Relevant error messages and/or screenshots**:
![screen shot 2018-04-19 at 1 40 16 pm](https://user-images.githubusercontent.com/361578/39017176-6493a44a-43d7-11

[2018-04-19 20:57] timabbott commented on #476
Adding @HarshitOnGitHub to this thread since he may be able to help debug.  But I kinda suspect this is some sort of browser caching bug (since you folks recently upgraded to the release where we moved to the 64x64 emoji sprite sheet).

[2018-04-20 06:41] HarshitOnGitHub commented on #476
I am also sure this is some sort of caching related issue. I get this scrambled view whenever I change some emoji infra code but older spritesheets from the cache gets used. A hard reload always fixes the issue for me.

[2018-04-20 10:27] akashnimare commented on #476
@GrumpyOldTroll does `CMD+SHIFT+R` or restarting the app fix the issue?

[2018-04-20 10:29] akashnimare commented on #469
@stone212 we currently don't support opening up the lightbox for mp4, pdf, doc etc but there is an open issue here - https://github.com/zulip/zulip/issues/9081.

[2018-04-20 11:12] abhigyank commented on #296
@zulipbot claim

[2018-04-20 11:41] abhigyank commented on #474
![appdmg](https://user-images.githubusercontent.com/20434085/39049158-e9fd90a0-44bd-11e8-8253-17206a8af39c.png)
@akashnimare Looks good for PR?

[2018-04-20 11:51] akashnimare commented on #474
The Zulip logo kinda looks odd. Can you reduce the size and paste it here?

[2018-04-20 12:10] abhigyank commented on #474
![image](https://user-images.githubusercontent.com/20434085/39050155-f007f2b6-44c1-11e8-977f-ee56ef9541c0.png)

[2018-04-20 14:27] ghost opened #477 "App bright white flashing and flickering while scrolling"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubutnu
  - [x] macOS Sierra
- **Clear steps to reproduce the issue**:
While scrolling through messages in a stream topic, there's recurrent bright white flashes in a flickering streak across the screen. This does not happen while using Zulip in a browser.
The app is also using a significant amount of CPU usage while open.
- **Relevant erro

[2018-04-20 17:36] zingmars commented on #312
I'm sorry to say that this is back (I don't think I can reopen this).

Video: https://youtu.be/-ef5UlU63oE

[2018-04-20 17:59] akashnimare commented on #477
@eligang can attach a screenshot/gif here?

[2018-04-20 18:07] akashnimare commented on #312
Wow. As for as I remember we haven't made any changes in this since `v1.8.2`. Can you paste the log of developer tools when this disconnect-reconnect thing happens?

[2018-04-20 18:24] zingmars commented on #312
When I lose connectivity (right is system web tools, left is tab tools):
![20180420-211209](https://user-images.githubusercontent.com/917126/39067071-1795d726-44e0-11e8-8029-66e0c34809f7.png)

After reloading the tab (when the cannot connect window opens) - after reconnecting with the VPN interface on there is literally no change, it gets stuck here:
![20180420-211235](https://user-images.githubus

[2018-04-22 05:55] abhigyank commented on #476
@GrumpyOldTroll  You can also try `Reset App Settings` in settings and see if restarting everything afresh works.

[2018-04-23 14:36] ghost commented on #477
@akashnimare here you are. thanks
![zulip bug screen record redact](https://user-images.githubusercontent.com/38563626/39133432-29826fe0-46e2-11e8-9bb2-796bfcac9071.gif)

[2018-04-23 18:21] warsaw commented on #477
I see exactly the same thing with Zulip 1.9.0 on macOS 10.13.4 (High Sierra).

[2018-04-23 19:04] abhigyank commented on #477
@eligang Can you reproduce this flicker in the normal white display(non night mode) too?

[2018-04-23 21:04] stone212 commented on #469
@akashnimare There is no reason to open the lightbox.  Even for the images. That was your suggestion.  My proposed solution was "Electron should allow you to save or open the file, using your system default application for viewing that type of application."

And it needs solving.  There are dozens of files that I am waiting to open when this is fixed.  How did people survive using Zulip this long

[2018-04-23 22:19] warsaw commented on #477
@abhigyank It does not seem to happen for me in the normal (non-night mode) display.

[2018-04-24 08:08] akashnimare commented on #477
Interesting. Never seen this kind of bug, let me try to reproduce this.

[2018-04-24 08:30] akashnimare commented on #477
@eligang, @warsaw I can't reproduce this.

<img src="https://dzwonsemrish7.cloudfront.net/items/2A0n241b0b2q3J0y3W19/Screen%20Recording%202018-04-24%20at%2002.01%20PM.gif?v=0d44d532"/>

Can you folks reproduce this issue on https://chat.zulip.org/ server?

[2018-04-24 17:32] timabbott commented on #477
Howdy @warsaw!  Can you check whether you get the same issue if you do the same scrolling in the Zulip webapp in Chrome?  That'd be helpful for isolating whether it's a webapp or Electron bug.

(Also, are you using the latest 1.9.0 release of the Electron app?  I assume so, since the Python community usage of Zulip is new, but wanted to confirm)

[2018-04-24 20:03] warsaw commented on #477
@timabbott Hi!  I cannot reproduce this with the Zulip webapp in Chrome in night mode.  Only the macOS desktop client in night mode AFAICT.

[2018-04-24 21:16] timabbott commented on #477
Good to know.  This feels like a browser bug (basically in upstream electron).  @akashnimare I think the next thing to try is to download the version of Chromium that Electron is on and reproduce that there?

[2018-04-25 00:49] ghost commented on #477
@timabbott I actually am having some flashy blips in the regular non-night mode of the Zulip Electron app (yes, the 1.9.0 release) on Mac as well, but not nearly as bad or frequently consistent flickering as shown in night mode (although it also might just be less obvious in this scheme). Whether or not it's on the high contrast mode doesn't seem to make a difference either.

[2018-04-25 17:15] akashnimare commented on #477
I think this might be a caching issue. Can you folks clear the application data using the following option from setting page -

![image](https://user-images.githubusercontent.com/2263909/39261474-34c1e54e-48da-11e8-8d57-aed7c3d46f8f.png)

[2018-04-25 17:30] timabbott commented on #477
I don't really see a story for how this would be a caching issue.  But I guess it's pretty hard to come up with a good theory for why this is happening that isn't something weird:
* It doesn't reproduce with Chrome for the same users
* It doesn't reproduce for other users with the desktop app.

[2018-04-25 17:37] warsaw commented on #477
Resetting the app data does not fix the problem for me, although as I'm watching it now, the flashing is more apparent when scrolling quickly.

[2018-04-25 18:01] akashnimare commented on #477
Here is my observation (macOS 10.13.2 High Sierra)
* Works as expected in night mode and normal mode (chat.zulip.org server).
* Same result on python's Zulip server.

@warsaw let me update to macOS 10.13.4 and check if I can reproduce this.

[2018-04-25 20:39] akashnimare commented on #477
Updated to macOS 10.13.5 Beta but no luck reproducing the issue.
This might be related - https://bugs.chromium.org/p/chromium/issues/detail?id=470669

[2018-04-25 23:42] GrumpyOldTroll commented on #476
None of these fixed it. Something else I can try?

[2018-04-26 00:52] timabbott commented on #476
I'm out of plausible ideas for figuring out what might be special about your environment.  But you can try switching emoji styles in "display settings" and see if that helps?

[2018-04-26 15:10] ghost commented on #477
This does sound like a similar problem, but is it related when using the Zulip desktop app in Mac OS? I don't tend to have this issue while using the web app in Chrome (or Safari), so it seems to be specifically something with the macOS app- and I'm only on 10.12.6 Sierra.

[2018-04-27 07:36] abhigyank commented on #476
@GrumpyOldTroll Can you try this ->
* View Menu (on the top) -> `Toggle DevTools For Active Tab`
* In the Developer Tools console, Go to `Applications` Tab.
* On the left sidebard, go to `Clear Storage` .
* Click the `clear site data` button in the main view.

Then you'd need to relogin on the site. See if this works.

[2018-04-27 16:44] shidarin commented on #477
I also have this problem.

https://gfycat.com/charmingpeskychinesecrocodilelizard

OSX 10.12.6
Zulip Desktop App 1.9.0

Not present in the web app.

Occurs on both CZO and our internal Zulip instance (which is on 1.8). I've been having this issue since before the 1.8 upgrade though.

It's very obvious on the dark theme. I've switched to the light theme and *think* I've seen it once or twice. I wil

[2018-04-27 16:48] GrumpyOldTroll commented on #476
That didn't work either, but it was a very interesting view, so I poked around a little after trying it, and I see a likely source of the difference between the browser and the app:

In-browser, https://<our server>/static/generated/emoji/google_sprite.css looks very different from the same url for the app. Specifically, the browser references sheet_google_64.png, and the app references sheet_goog

[2018-04-27 18:23] timabbott commented on #476
Interesting; well that confirms that you're still getting (cached, I assume) CSS from the previous version of Zulip.  The puzzle is why.  Can you try using the developer tools network tab to see how your browser is loading that CSS file (whether it's cached or being downloaded from the server)?

If it's being downloaded from the server, one possibility that this makes me think about is whether you

[2018-04-27 18:24] akashnimare commented on #477
Can you folks reproduce this bug in the latest release which is `v2.0.0` ?

[2018-04-27 18:27] warsaw commented on #477
The macOS version for download is still 1.9.0 and there doesn't seem to be a menu option to download and install a new version.

[2018-04-27 18:42] akashnimare commented on #477
@warsaw the app should auto-update itself in a while. App will show following popup -

![image](https://user-images.githubusercontent.com/2263909/39379412-c3b7074e-4a78-11e8-9e2f-ea328d0750d0.png)

Feel free to comment if it doesn't show this in a while.

[2018-04-27 19:09] timabbott commented on #477
@akashnimare maybe worth opening a separate issue for adding a "check for updates" option on the screen showing the version?  I think that would be a good idea for this sort of test-a-new-release situation.

[2018-04-27 19:12] akashnimare commented on #477
Yeah, I had thought to do so but somehow missed it. Generally, desktop app adds this option in the file menu item -

![image](https://user-images.githubusercontent.com/2263909/39380662-f9e43f90-4a7c-11e8-87cd-8e789fa9a277.png)

[2018-04-27 19:16] akashnimare opened #479 "Add an option to check latest release using menu item"
![image](https://user-images.githubusercontent.com/2263909/39380800-794a1c00-4a7d-11e8-817f-b2f1cb79cc37.png)

On clicking the check for update, app should show a dialog which should contains the latest release version and the one user is currenlty using. We can also put this option in the `About Zulip` page.

[2018-04-27 19:42] GrumpyOldTroll commented on #476
I'm definitely re-fetching the google_sprite.css, I saw a 200 in the network view of developer tools on reload, and the numbers seem not in sync with the number of emoji columns in the sheet, so yeah.

The DNS/unpurged thing occurred to me too, so I checked the IP of somebody who's not experiencing this problem, and it's not as straightforward as cache being out of date on that machine. (Also: I d

[2018-04-28 06:02] abhigyank commented on #479
What should be the working if an update is available?
Or this would just show the latest version and the current version?

[2018-04-28 17:03] ghost commented on #477
I've updated to the 2.0.0 version and no change- still the bright white flashing. I am also on an internal Zulip server instance at our org.

I recall this being the case before the 18.0 app version as well, but it either became worse/ more frequent or just more obviously headache-inducing apparent with the night mode setting, which would otherwise be my preferred view. But it also does happen in

[2018-04-30 22:51] stone212 commented on #469
@akashnimare I downloaded 2.0.0 and images do work as talked about in this thread.  But other files do not.  They are worse than before.  Instead of opening a browser like before, or opening in Electron, clicking on a link (to a .txt or .zip file) does nothing.  No change from clicking.

[2018-04-30 22:56] akashnimare commented on #469
I see, we might have missed these file types. What happens when you click on a pdf/doc attachement link?

[2018-04-30 23:03] stone212 commented on #469
Same thing with a pdf.  I just tested now.  We can only open (in a browser) if we right-click and choose "open"  Do we need to update Zulip server also?

[2018-04-30 23:12] akashnimare commented on #469
Hmm, strange. It should so the following pop-up on clicking a pdf attachment link -

![image](https://user-images.githubusercontent.com/2263909/39454574-d23e49a2-4cf9-11e8-8916-af3b9ca59423.png)

Can you make sure you're on the latest release (`Menu > About Zulip`)?

![image](https://user-images.githubusercontent.com/2263909/39454621-0ccf91de-4cfa-11e8-8c0d-3b98ae6bdccc.png)

[2018-04-30 23:23] stone212 commented on #469
That looks great.  But it doesn't do that for me.  Using the appimage 64 bit on linux.  Also Electron on Mac.  But I do have the update because image links now open like image thumbnails.

[2018-04-30 23:26] akashnimare commented on #469
Hmm, wierd. I get that download popup for pdf/doc/mp4/zip etc. Let me test this on Linux. Meanwhile can you reproduce the same on https://chat.zulip.org (I think we might have change the way we handle uploaded files).

[2018-04-30 23:28] stone212 commented on #469
I'll get an account and test later.

[2018-04-30 23:50] akashnimare commented on #469
@stone212 okay, just found out there are couple of bugs -
* The download functionality we added doesn't work if you add/remove a server
* You might get that download popup after reloading the app

[2018-05-01 00:03] stone212 commented on #469
What does that mean?  I have not added or removed servers in weeks.  But are you saying that I also can't do that in the future?

I reloaded in order to install Electron 2.0.0 (auto-updating is broken) and I reloaded again now.  No change.

[2018-05-01 00:28] stone212 commented on #469
@priyankp10 But I did not add/remove any realms/orgs to Electron and this new feature does not work for me.

[2018-05-01 00:39] #469 closed, assigned to nobody

[2018-05-01 00:44] akashnimare opened #482 "Fix broken loading indicator"
We need to remove the loading indicator once the server is loaded.

<img src="https://chat.zulip.org/user_uploads/2/2d/aVDSO0-ok9_5HJQ9NPcYTd7D/pasted_image.png"/>

[2018-05-01 21:41] GrumpyOldTroll commented on #476
OK, problem has gone away. I think a server-side cache purge finally went through. I'll close.

[2018-05-01 21:41] #476 closed, assigned to nobody

[2018-05-02 21:05] #298 closed, assigned to nobody

[2018-05-03 06:50] reinholdfuereder opened #484 "Tray icon sometimes does not stop claiming that there are unread messages"
Zulip Desktop v1.90

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
  - Unfortunately not clear, because it works often, but not always
  - Upon receiving messages I double click on the tray icon AND on all received messages in the client, but the tray icon keeps showing unread messages
- **Relevant error messages and/or screens

[2018-05-03 12:24] akashnimare commented on #484
@reinholdfuereder can you attach a screenshot/gif of the error?

[2018-05-03 15:15] zingmars commented on #484
I can confirm this on v2.0.0 (it started happening on v1.9.0, but I just ignored it for a while).
![image](https://user-images.githubusercontent.com/917126/39585651-fabb14cc-4efd-11e8-97fc-5c11fad54057.png)

I haven't found a way to clear the message counter yet other than restarting the app either.

[2018-05-03 15:55] akashnimare commented on #484
@zingmars so is this consistent? Does the taskbar icon show correct count (the tray icon and taskbar icon should show the same unread count)?

[2018-05-03 19:59] zingmars commented on #484
The taskbar icon is the Zulip logo. The tray icon is the number.

On Thu, May 3, 2018, 18:56 Akash Nimare <notifications@github.com> wrote:

[2018-05-04 12:27] abhigyank commented on #482
@zulipbot claim

[2018-05-07 19:11] #482 closed, assigned to nobody

[2018-05-07 20:49] shidarin commented on #477
Experienced this issue again today on 2.0 on both CZO and a self hosted instance (both running the 1.8.1-rc) it was on both white and dark themes, but reset itself when I changed apps to start a screen capture. FYI, changing apps does seem to reset it frequently. Hard to capture.

[2018-05-07 20:53] akashnimare commented on #477
@shidarin okay, I'll be releasing a new beta release tomorrow which uses the updated chromium version and I'm hoping this error will be sorted after that.

[2018-05-07 21:25] akashnimare commented on #474
Updated, this is how it looks now -

![image](https://user-images.githubusercontent.com/2263909/39725992-3707f68c-526b-11e8-8baa-888969453698.png)

[2018-05-07 21:25] timabbott commented on #477
Yeah, this certainly feels like a browser bug.

[2018-05-07 21:48] #474 closed, assigned to nobody

[2018-05-09 04:54] abhigyank commented on #477
A new beta [v2.2.0-beta](https://github.com/zulip/zulip-electron/releases/tag/v2.2.0-beta) has been released, this contains an update to the electron version which uses an updated chromium version, which hopefully should solve  this issue. So please give  this beta a try. To upgrade to this version, you need to check the **Get beta updates** option from app settings. Or manually download from  [he

[2018-05-09 09:20] abhigyank commented on #296
@zulipbot yup I am working, there is a PR open that is awaiting review :)

[2018-05-09 14:50] warsaw commented on #477
Indeed.  A quick test with 2.2.0-beta appears to have fixed the problem.  I'll keep an eye on it, but so far so good!  Thanks.

[2018-05-09 14:52] akashnimare commented on #477
@warsaw awesome. @shidarin, @eligang can you folks also confirm if this works for you?

[2018-05-09 17:28] ghost commented on #477
@akashnimare Just updated to the beta version. Yes, this is great- MUCH smoother now when scrolling and the flashing issues seems to be completely resolved (even in night mode)! Thank you :)

[2018-05-09 17:33] akashnimare commented on #477
@eligang good to know. Feel free to reopen the issue if you see something like this in future!

[2018-05-09 17:33] #477 closed, assigned to nobody

[2018-05-09 18:25] shidarin commented on #477
I've also updated to the beta and have also not hit this issue yet.

[2018-05-09 20:36] akashnimare opened #488 "Do not reload app while adding/removing a server"
I think it would be great if we could implement this behaviour. It's bit tricky since we have to reload the db file, activate the last server etc but let's give it a try.
cc @priyankp10, @abhigyank.

[2018-05-09 22:56] akashnimare commented on #466
Closing as not relevant to the electron app (the main issue is in the server configuration).

[2018-05-09 22:56] #466 closed, assigned to nobody

[2018-05-10 06:20] abhigyank commented on #469
@stone212 Can you try the v2.2.0-beta release, you shouldn't face this issue anymore there.

[2018-05-12 02:14] stone212 commented on #469
@abhigyank Ok where do I find beta releases?  I have clicked a few places and probably it is very obvious but I don't see it yet.  Or should I compile from source?  That will work for me but not for the other users so if compiling is necessary (except for a test) we will wait for a released binary.  Anyway I am happy this is fixed.  It will be extremely helpful.

[2018-05-12 08:07] abhigyank commented on #469
@stone212  To upgrade to the beta version, you need to check the *Get beta updates* option from app settings. Or manually download the one for your OS from [here](https://github.com/zulip/zulip-electron/releases/tag/v2.2.0-beta) .

[2018-05-12 18:15] akashnimare commented on #469
@stone212 let us know if the beta option works for you.

![image](https://user-images.githubusercontent.com/2263909/39960322-6fb3011c-563e-11e8-9d5d-a67baa15ec4a.png)

[2018-05-14 04:56] glyph opened #489 "Control-[ stopped working to dismiss the new message entry box?"
The issue is just what it sounds like: <kbd>control</kbd><kbd>[</kbd> used to be a synonym for <kbd>esc</kbd> and now it doesn't seem to be (it does nothing), despite the <kbd>?</kbd> dialog box still saying `Esc, Ctrl + [ | Cancel compose`

This as of v2.2.0-beta.

[2018-05-14 06:53] abhigyank commented on #489
<kbd>Ctrl/Cmd</kbd>+<kbd>[</kbd> is a webapp shortcut and it has not been deprecated so this should work for you. I am unable to reproduce this on both Ubuntu and macOS High Sierra. Can you confirm since when is this not working for you? Could you also possibly try this on the webapp and see if it works or doesn't work for you there?
Also is the `Esc` key working for you?

[2018-05-14 07:20] lablans opened #490 "Message being composed is lost when website reloads"
---

- **Operating System**:
  - [X] Windows
  - [not tested] Linux/Ubuntu
  - [not tested] macOS
- **Clear steps to reproduce the issue**:
  - Write a long message (but don't send it yet)
- **Relevant error messages and/or screenshots**:
  - While you type, the window may be reloaded for some reason.
  - Once the reload is complete, you'll find that the text you entered so far is gone (i.e. messa

[2018-05-14 07:24] abhigyank commented on #490
The message should be stored in drafts. You can use shortcut key `d` to access drafts. Clicking on the message / pressing `Enter` would load the message onto the compose box.

[2018-05-14 11:36] akashnimare commented on #490
This is the expected behaviour, you can find those messages in the drafts.

[2018-05-14 11:36] #490 closed, assigned to nobody

[2018-05-14 13:39] timabbott commented on #489
This is almost certainly a webapp issue.  @glyph I think this might have been accidentally switched to `Cmd + [` as part of adding a new keyboard shortcut that should definitely be `command + K` on Mac and `Ctrl + K` on everything else; which is correct?

[2018-05-14 14:19] lablans commented on #490
Thanks for your replies. But do you really think it's user-friendly to have him/her press a button he/she does not even know about? Wouldn't it make more sense to re-open the latest draft automatically?

[2018-05-14 22:21] stone212 commented on #469
@akashnimare In-app upgrades do not function for Electron (at least not the AppImage version) so I downloaded the file.  Thank you for showing me the location.  I had trouble finding it.

This is a big improvement!  Now when I click on a file in Electron I immediately see a download screen.  I would have preferred an option to view in my system's default application, like Firefox does, to save me

[2018-05-15 09:39] akashnimare commented on #469
@stone212 yeah, I know this will make things a lot easier, will update you if electron decides to add an api for the same.

Can you open a new issue for this? Auto-updates do work for AppImage.

[2018-05-15 11:50] #479 closed, assigned to nobody

[2018-05-15 11:56] akashnimare commented on #484
@zingmars I can't reproduce this issue. The tray icon shows the sum of unread counts of all the added servers so if you have two servers, it shows the sum of both the servers (I'm guessing that 1 count is coming from that other server). Would be great if you can make a gif/video of the issue.

[2018-05-15 12:03] zingmars commented on #484
I only have one server (though technically I'm logged into multiple servers
because the client doesn't clear the cache when I remove a server, but
given that the other server is the official Zulip one, if it kept checking
for new messages on it, it sure as hell would say more than 1 unread
message due to the high amount of messages you guys post).
The problem with making a gif is that it's really

[2018-05-15 15:27] akashnimare opened #491 "Add an option to disable the auto-updates"
This could be useful for users who are not an admin of the machine.

[2018-05-16 01:08] stone212 opened #492 "Linux64 AppImage does not automatically update to v2.0"
---

- **Operating System**:
  - [x] Linux/Ubutnu
- **Clear steps to reproduce the issue**:

- Download Zulip-1.9.0-x86_64.AppImage to /opt
- Make executable
- Create symlink to /usr/bin/zulip
- Use successfully.

Then when version 2.0 came out, you will see a popup window asking you if you want to upgrade.  You say yes.  The popup goes away.  Then later on it comes back and asks you the same ques

[2018-05-16 10:30] #491 closed, assigned to nobody

[2018-05-17 11:41] reinholdfuereder commented on #484
- (I also only had/have one server)
- but much more important: I have NOT experienced the problem anymore since then; and I upgraded to v2.0 right after reporting this issue; and before I had seen it every few days or so (off the top of my head)

[2018-05-20 22:02] #459 closed, assigned to nobody

[2018-05-23 00:44] shidarin opened #497 "Colors muted in 2.2.0 beta"
MacOS Sierra

I was hitting the white flashing bug when I remembered it was fixed in a beta release. I downloaded the beta, installed it, closed and re-opened Zulip to find all the colors are now very desatured or muted. I re-opened 2.0 and compared them, and found this to be true.

It can be subtle, but everything, even the bg color changes.

![colorcompare](https://user-images.githubusercontent.

[2018-05-23 03:48] ababak opened #498 "Can't save/open attached documents on Linux and Mac"
The only way to open attached .doc or .pdf is to drag the link and drop it to browser (and you have to be logged in there).
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [x] macOS
- **Clear steps to reproduce the issue**:
Send a .pdf or .doc file, try to click or right-click (nothing happens). Windows version shows the contextual menu but not Mac or Linux.
- **Relevant erro

[2018-05-23 03:52] abhigyank commented on #498
@ababak This has been merged in the master through #483 which gives an option to download the attached file on clicking it. It is available in the the v2.2.0-beta release. The stable version with this feature should released this week.

[2018-05-23 03:58] ababak commented on #498
Great, thanks.

[2018-05-23 04:46] akashnimare commented on #497
Yeah, it's a known bug in the electron - https://github.com/electron/electron/issues/10732.

[2018-05-23 05:44] #497 closed, assigned to nobody

[2018-05-23 05:45] akashnimare commented on #497
@shidarin I have pushed a temporary fix for this issue, I'll release the new version today which will have this fix.

[2018-05-23 14:40] reinholdfuereder commented on #484
Oh no, the problem just re-occurred:
![grafik](https://user-images.githubusercontent.com/145182/40431673-3078523c-5ea8-11e8-9b23-1f2acca5a6e7.png)

(**Update:** This was still with v2.0; i have only now/subsequently upgraded to v2.3.2)

[2018-05-23 22:22] akashnimare commented on #497
@shidarin new release [v2.3.1](https://github.com/zulip/zulip-electron/releases/tag/v2.3.1) is up. Let me know if this fixes the color issue.

[2018-05-23 22:23] akashnimare commented on #498
@ababak can you check if this works as expected in the latest release [v2.3.1](https://github.com/zulip/zulip-electron/releases/tag/v2.3.1)?

[2018-05-24 08:38] ababak commented on #498
@akashnimare Can't see any improvements on Linux. Clicking or right-clicking on .zip and .pdf files are just ignored. No downloads, no context menus.
Even noticed another bug: when clicking on attached picture filename (not the picture itself) I can't go back with Escape and the only way to exit is pressing 'back' button which reloads everything.

[2018-05-24 11:02] abhigyank commented on #498
The behavior should be clicking on .pdf type of files it should open up a download dialog box, and clicking on the picture filename should show the same behavior as clicking on the picture itself.
I cannot reproduce the the behaviour mentioned by @ababak on Linux in the v2.1.3.

@ababak can you confirm that you on v2.1.3 by clicking on File -> About Zulip ?

[2018-05-24 11:46] ababak commented on #498
Hi @abhigyank,

I was actually on v2, sorry for the confusion. It looks like running the updated version just brought to front the old version that was running in the background.

I can confirm that in v2.1.3 clicking the link opens the download dialog box.

Thank you.

Cheers,
Andriy

[2018-05-24 11:59] akashnimare commented on #498
@ababak good to know.

[2018-05-24 11:59] #498 closed, assigned to nobody

[2018-05-24 15:23] akashnimare commented on #489
Yeah, it's a web app issue. Re-opened here - https://github.com/zulip/zulip/issues/9525.

[2018-05-24 15:23] #489 closed, assigned to nobody

[2018-05-24 22:04] shidarin commented on #497
Does indeed seem to be fixed!

[2018-05-24 22:39] akashnimare commented on #497
Awesome.

[2018-05-29 18:37] akashnimare commented on #374
@Be-ing can you reproduce this? Let me know if you see any changes (I know it's blocked in upstream but just for the verifying this behaviour in v2 of electron).

[2018-06-05 17:49] akashnimare opened #500 "Font rendering on Windows 10"
A user reported -

I know it is a subjective opinion. I only wanted to mention it, perhaps there are more people on the list. Perhaps you should consider a system font.
Best Regards,
App: Zulip 2.3.2
Electron: 2.0.1 (Node v8.9.3)
Operating System: win32 x64 10.0.16299

[2018-06-06 09:10] reinholdfuereder commented on #484
And today again (still with latest version v2.3.2):

![grafik](https://user-images.githubusercontent.com/145182/41028650-2f0e421c-697a-11e8-94e2-50f9078a7bea.png)

[2018-06-06 09:37] akashnimare commented on #484
I have debugged this and couldn't repro the same. Can you folks reproduce this issue with https://chat.zulip.org server? @reinholdfuereder do you see the unread counts in the taskbar icon?

<img src="https://user-images.githubusercontent.com/2263909/34909386-c8db5054-f8c5-11e7-84f5-708d897f9e9e.png"/>

The count on the taskbar icon should match with the tray unread count.

<img src="https://user-i

[2018-06-06 13:04] reinholdfuereder commented on #484
"Interesting" (when testing with a colleague inside our org):
* once the taskbar icon did only flash, but not show the unread count; and likewise did the tray icon not show the unread count
* in a subsequent attempt both showed the right unread count
* however, when I closed Zulip window (so that no taskbar icon is shown), then it also does not show up or flash; only when I click on the tray icon

[2018-06-15 18:10] #296 closed, assigned to nobody

[2018-06-19 08:51] abhigyank opened #503 "Open image-attachements in browser if inline preview unavailable"
The webapp doesn't show inline preview of images if the number of images is greater than a threshold (read 5). In this case the desktop app should open the image in the browser using the url.
Related discussion [here](https://chat.zulip.org/#narrow/stream/16-desktop/subject/Photos.20not.20appearing/near/600462)

[2018-06-20 12:50] #503 closed, assigned to nobody

[2018-06-20 12:54] akashnimare commented on #450
Correct.

[2018-06-20 12:54] #450 closed, assigned to nobody

[2018-06-21 13:01] ghost opened #504 "Please add usage of default context menu on MacOS"
The desktop app currently only shows a basic context menu if you right-click a word:

![screen shot 2018-06-21 at 14 56 11](https://user-images.githubusercontent.com/2435189/41720434-53357eb8-7563-11e8-9842-4e3be1505687.png)

It would be very helpful if the full MacOS context menu would be supported like in this screenshot:

<img width="212" alt="screen shot 2018-06-21 at 14 58 09" src="https://us

[2018-06-22 06:54] akashnimare commented on #504
@dennissieben there is a `service` menu item also which you can use -

![image](https://user-images.githubusercontent.com/2263909/41762054-13c2ca74-7617-11e8-89fd-ee5d8794a6d4.png)

[2018-06-22 07:36] akashnimare commented on #316
This is added in https://github.com/zulip/zulip-electron/commit/0a893c97c720acf76e4247755b4c26f27a1f453e.

[2018-06-22 08:09] ghost commented on #504
Yes but as the context menu is not properly setup it can't access your currently selection at the moment. Otherwise you would see some services in there instead of "No Services Apply" see below:

![screen shot 2018-06-22 at 10 07 45](https://user-images.githubusercontent.com/2435189/41765407-4461d5a2-7604-11e8-8104-4a0ea46e78e6.png)

[2018-06-25 16:44] mynoheart opened #506 "Tray icon when income new messages"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Normal icon and icon when incoming new message not strong different.
For example in Skype when new message in icon bright number and good see that incoming new message. Attached two screenshots for example.
- **Relevant error messages and/or screenshots**:
![screenshot1](https:

[2018-07-05 08:59] vulkman opened #510 "Feature request: macOS Bounce to Alert"
OS: macOS 10.12.6 (16G1408)

Right now Zulip supports integration with Notification Center, which is great, but for users of the fullscreen mode it would be great to also use Bounce to Alert, so you see the icon even when you have another app in fullscreen and are in Do-not-Disturb mode.

[2018-07-05 13:36] akashnimare commented on #510
@vulkman do you mean boucing the dock on new notifications?

<img src="https://dzwonsemrish7.cloudfront.net/items/21381y3r0C3917001C1j/Screen%20Recording%202018-07-05%20at%2007.04%20PM.gif"/>

[2018-07-05 13:37] vulkman commented on #510
Exactly!

[2018-07-09 19:52] j0hannesr0th commented on #484
I experience this sometimes in the mobile app in pms only. I read the pm of a contact and then there is this a badge with one unread message.

My fix is to go to "all messages" because there is a button "mark all messages as read". After I click this the badge is gone.

[2018-07-10 04:31] #510 closed, assigned to nobody

[2018-07-10 05:03] akashnimare commented on #484
I think this might be an issue with the web app where it fails to mark the message unread. Related discussion [here](https://chat.zulip.org/#narrow/stream/9-issues/topic/unread.20state.20discrepancy).

FYI, @borisyankov, @timabbott.

[2018-07-10 06:44] akashnimare commented on #506
I don't know how to make that icon strong since we're dynamically creating the icon using canvas. When you don't have any unread count, we use the standard Zulip logo (that's why it looks good compared to what you see when you have the unread counts). I'll see if we could improve this.

[2018-07-10 06:57] mynoheart commented on #506
I think that better do bright color message count. For example red, as it do Telegram.
![zulip-example](https://user-images.githubusercontent.com/6002083/42494035-b41e5218-8427-11e8-9cff-590aafe294dc.PNG)

[2018-07-15 18:54] akashnimare opened #517 "page_params is not defined"
We are getting this error because on some pages the `page_params`is not there so we gotta add a check for the same.

[2018-07-15 18:58] akashnimare opened #518 "Add Typescript as a type checker in the codebase"
I think we should add the [flow](https://flow.org/en/) to improve the code quality.

[2018-07-17 08:44] pflueg opened #520 "Adding a new organisation must prepend https in order to connect"
When adding a new organisation, the client stucks at "connecting", when you do not prepend the url with "https://".
The client probably tries a non-secure connection first and got a way too big timeout for that.

It would be way more convenient, when the client tries the secure connection first, without forcing the user to prepend the https him- or herself.

---

- **Operating System**:
Ubuntu 18.

[2018-07-17 08:46] abhigyank commented on #520
If the URL is not prepended with https, we manually add https before adding the organization. Such that there is no difference between entering https://chat.zulip.org and only chat.zulip.org

[2018-07-17 08:48] pflueg commented on #520
Ok - but as you can see in the screenshot the client is still stuck when only entering "chat.zulip.org" without "https://"

[2018-07-17 09:23] abhigyank commented on #520
This [piece of code](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/utils/domain-util.js#L299) prepends the https.
@pflueg Are you able to add the server with https://chat.zulip.org and not with only chat.zulip.org?
Are you behind a proxy? This could also be because of the proxy not handling the request properly.
It'd be helpful if you can show what you have in your the conten

[2018-07-18 06:23] abhigyank commented on #517
@zulipbot label "good first issue"

[2018-07-18 20:26] timabbott commented on #517
I'd love to hear more about a reproducer for this; `page_params` will always be there if the page loaded properly...

[2018-07-19 03:49] abhigyank commented on #517
Yes, it is true `page_params` is always present after page has loaded and we use only after the DOM has loaded properly. I believe this error props up when people use 3rd party authentication like Google or Github, because we still try to access `page_params` in that case also, and since these sites do not obviously have it, we get this error.

[2018-07-19 16:53] aashish-ak commented on #517
@zulipbot  claim

[2018-07-19 17:53] aashish-ak commented on #517
@akashnimare can you be specific which pages, so that i can reproduce the same error and work on it.

[2018-07-19 18:03] abhigyank commented on #517
@aashish-ak When you try a 3rd party login, say Google or Github, in the page where you need to enter username of Github etc, in the webview developer console you can see this error.

[2018-07-20 15:33] lukasIO opened #523 "File download not working/no dialog shown"
referring to https://github.com/zulip/zulip-electron/commit/6787b8d5573b1118851a4bb91e1e32fccb12dd2a

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Zulip hosted on private server. Click on file attachment. nothing happens, just a short sound is played. No notification shown and file is not being downloaded.
- **Relevant error m

[2018-07-20 15:35] abhigyank commented on #523
@lukasIO We are aware that this is breaking for some people. Can you let me know if  you are using proxy?

[2018-07-20 15:40] lukasIO commented on #523
If I am using a proxy on my system? No.

[2018-07-21 09:49] aashish-ak commented on #517
@abhigyank  I've squashed the commits :+1:

[2018-07-21 21:14] l00mi opened #524 "Missing "-mac" in Zulip-2.3.3.zip breaks Homebrew install"
Since the 2.3.3 release the name of the mac zip release changed from the format Zulip-2.3.2 **-mac** .zip to Zulip-2.3.3.zip. This breaks the install through homebrew.

---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubutnu
  - [x] macOS
- **Clear steps to reproduce the issue**:
Install with homebrew fails because of changed filename.
- **Relevant error messages and/or screenshots**:
[c

[2018-07-23 08:14] akashnimare commented on #524
@l00mi fixed. Can you try again?

[2018-07-23 08:14] #524 closed, assigned to nobody

[2018-07-23 08:21] l00mi commented on #524
Brew installs again! Thank you.

[2018-07-24 11:40] ygini opened #527 "Enterprise management feature"
**Operating System**:
  - [x] Windows
  - [x] Linux/Ubutnu
  - [x] macOS

**Requested feature**:

Maybe I didn't found it, but it look like Zulip does not support enterprise management scenario.

For all OS and with a method appropriate for each of them, an enterprise configuration profile must be supported.

On macOS it must be MCX based to be compatible with MDM

On Windows it must be GPO or MDM

[2018-07-24 13:34] akashnimare commented on #523
@lukasIO this has been fixed in the new beta release [v2.3.4-beta](https://github.com/zulip/zulip-electron/releases/tag/v2.3.4-beta). You can get it using `App Settings > Get Beta updates`. Let me know if it works.

[2018-07-24 13:36] akashnimare commented on #520
@pflueg the other possible reason could be the slow internet connection. Would be great if you could provide more details on this.

[2018-07-24 13:37] akashnimare commented on #527
@timabbott do you have any idea about this?

[2018-07-24 14:07] lukasIO commented on #523
Fallback to old version works, but the (much desired) open with default-app option doesn't work :\

[2018-07-24 14:09] akashnimare commented on #523
This should work on https://chat.zulip.org. Can you cross check?

[2018-07-24 14:22] lukasIO commented on #523
on https://chat.zulip.org the file download works, but no notification is shown, i hear a sound once the file download has completed, but i dont see any visual indication that the download is started/progressing/finished. also file doesn't open automatically after download. just sits in downloads folder...

[2018-07-24 15:03] abhigyank commented on #523
@lukasIO  On Windows please ensure that the notifications from apps is on in your Windows settings.
![untitled23](https://user-images.githubusercontent.com/20434085/43147483-c44bad3e-8f80-11e8-9c38-20a67439b0cb.png)

[2018-07-24 15:08] lukasIO commented on #523
thanks, indeed it was disabled, but weirdly enough only for zulip.
it would be a lot less confusing to add a download started and progress indication (not via desktop notifications, but rather as a small hint somewhere inside the app) and a "downloaded files" section that gets displayed after clicking a button (preferably over the do not disturb button on the left pane)

[2018-07-24 15:10] lukasIO commented on #523
what could be the reason this approach doesnt work on privately hosted zulip instances?

[2018-07-25 16:48] timabbott commented on #527
Yep!  This is definitely a category of instructions we'll want to provide: Basically how to install the Zulip desktop app on every machine at a company, with some system-level configuration (i.e. stuff in /etc/ in Linux is what he means by "system side file") that can control how the app behaves.  The ideas @ygini mentioned are very much in line with the types of things folks want other products l

[2018-07-26 10:17] winmasta opened #528 "Alt+Shifts opens upper menu but we use that shortcut to switch languages."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu - Mint 18.3
  - [ ] macOS
- **Clear steps to reproduce the issue**:
1.Run application
2.Choose any chat or stream by clicking on it
3.Put cursor to message entry window
4.Press Alt+Shift
- **Relevant error messages and/or screenshots**:
![default](https://user-images.githubusercontent.com/29568484/43256643-8e8c6256-90f7-11e8-9ace-59

[2018-07-26 11:44] abhigyank commented on #528
Hi @winmasta I couldn't reproduce this on Ubuntu 16.04. Zulip doesn't specifically use Alt+Shift to open File Menu i.e. this is not a Zulip level shortcut. I'd assume this is something Mint does by itself. I am not sure if we can explicitly stop this.
Maybe you can check the shortcuts in Mint System Preferences - > Keyboard.

[2018-07-26 11:53] winmasta commented on #528
I have checked all OS shortcuts and didn't find Alt+Shift, moreover I am using Mint for more than 5 years already and never faced with such problem, moreover it affects only Zulip app.

[2018-07-26 12:35] ygini commented on #527
I'm not familiar with Windows side either, but for macOS (and iOS) I know it perfectly well.

On both platform you've NSUserDefault class who's here to look for user's preferences relates to the app (you can use it to save your own user based preferences and load the defaults one).

When managed settings are pushed by the MDM, their are accessible the via this class.

On macOS, the keys you will s

[2018-07-29 20:46] akashnimare commented on #528
@winmasta I can successfully switch the language using the `Alt+Shift` key combination on Ubuntu 16.04. You may find that shortcut in keyboard setting, please [see](https://stackoverflow.com/questions/22384513/how-does-one-add-keyboard-languages-and-switch-between-them-in-linux-mint-16). Also, can you switch language using the same shortcut in other apps?

[2018-07-30 09:41] winmasta commented on #528
@akashnimare Yes I can switch the language anywere but Zulip app. Trying to switch language in Zulip app leads to throwing down upper menu of the app.
![default](https://user-images.githubusercontent.com/29568484/43390031-70f72db6-9417-11e8-9221-82002b575c8a.png)

[2018-07-30 12:43] akashnimare commented on #528
Okay. This looks like an [upstream](https://github.com/electron/electron) issue and for some reason, it doesn't work in the mint os. I'll file an issue there and will look for the potential solution.

[2018-07-30 12:44] winmasta commented on #528
Thanks.

[2018-07-30 17:58] pflueg commented on #520
Hi everyone - thanks alot for the hints. I tried it on different telephone lines and indeed it a slow connection might be the reason. Maybe you can add some status in the button like "connected", "waiting for connection" etc.

I am closing the issue for now, since the functionality is fine

[2018-07-30 17:58] #520 closed, assigned to nobody

[2018-07-31 09:33] ElleNearMello opened #531 "Ditch Electron. Use Winform"
Do us a favor.
Learn to code.

[2018-07-31 09:42] akashnimare commented on #531
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](http://chat.zulip.org/).

[2018-07-31 09:42] #531 closed, assigned to nobody

[2018-07-31 14:08] #523 closed, assigned to nobody

[2018-07-31 14:12] ryandbair opened #532 "Idle time based only on application interaction"
- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubutnu
  - [x] macOS

If a user doesn't interact with the application itself, they are eventually considered idle. The desktop idle time should be used for that instead.

[2018-07-31 14:37] akashnimare commented on #532
Oh yes, this feature is in our roadmap. @timabbott this is the same thing we were talking about?

[2018-07-31 16:42] timabbott commented on #532
Yes, exactly, setting `activity.new_user_input` (we'll need to do an `electron_bridge` thing for this) based on some system-level information about whether the user is idle.  Not possible on browser, but definitely something we should do on the Electron desktop app.

[2018-07-31 19:59] abhigyank commented on #40
Since we have added sentry now for reporting errors (for expected and unexpected exceptions), implemented logger-util in the codebase for logging errors locally and also have an option of zipping all the logs so that user can send it to us easily, I think we can mark this issue as solved and close it.

[2018-07-31 20:21] akashnimare commented on #40
Correct, we have already implemented all the necessary logging things.

[2018-08-01 04:18] architadesai commented on #488
@zulipbot  claim

[2018-08-01 04:26] architadesai commented on #488
@zulipbot claim --force

[2018-08-01 06:09] architadesai commented on #344
So now the shortcuts in Linux/Windows are:
**Ctrl** + **+**/**=**  for **zoom in**
**Ctrl** + **-**/**_** is for **zoom out** and
**Ctrl** + **)**/**0** is for **zoom reset**

[2018-08-01 20:06] abhigyank commented on #518
This is a project with lots of independent pieces to do, so it'd be great for several people to work on at once. I am working on setting up initial flow for the repo and maybe add flow types for a part of the codebase. After which we can then work on completing different parts at a time.

[2018-08-01 20:15] abhigyank commented on #532
There are two levels to this I'd say -
* If the desktop app is open, then all the servers should be shown online irrespective of that server been opened in last 5 mins (or whatever is the idle time) or not. Currently we don't do this and each server is treated just like a browser tab, and is shown as orange in the rest of the servers if some other server is in focus for more than the idle time.
*

[2018-08-01 21:41] timabbott commented on #518
Yeah, this is definitely something where once we have the infrastructure in place, it's easy for several people to collaborate.

[2018-08-02 14:32] #517 closed, assigned to nobody

[2018-08-02 17:41] timabbott commented on #532
Let's start with doing the first -- that will require us to figure out the `electron_bridge` integration to read and set `new_user_input`.  And then we can improve the implementation for the second version once that's working well.

[2018-08-03 07:25] abhigyank opened #533 "Error: Invalid URI "../renderer/img/icon.png""
This error occurs when we try to `saveServerIcon` with `../renderer/img/icon.png` (which is a fallback icon in case we are unable to get the icon while adding the server) as `url` parameter, since we then do  `request` to this file which leads to this error obviously.
I think we can have a check not to do a request to the request if the url is this file. This will reduce this error.

[2018-08-03 07:26] abhigyank commented on #533
@zulipbot  label "good first issue" "Type: Bug"

[2018-08-03 07:29] aashish-ak commented on #533
@zulipbot claim

[2018-08-03 12:32] akashnimare commented on #523
@lukasIO Just an update on this.  The broken download attachment feature in fixed in the latest release v2.3.5. The app should be able to auto-update itself.

Please check it and let me know if it works as expected.

[2018-08-03 19:18] akashnimare opened #534 "Add proxy details in request module while validating server"
If a user has turned on the system/manual proxy settings, we need to send the proxy parameters while validating a server [here](https://github.com/zulip/zulip-electron/blob/781883a898ed30f2ddc95928cbacb945230ab5ed/app/renderer/js/utils/domain-util.js#L132).

[2018-08-06 06:55] lukasIO commented on #523
Thanks, seems to work as expected now! The lack of indication that a download has actually started will probably be very confusing for people new to zulip...

[2018-08-07 08:31] max-maurice opened #536 "Some emoticons not converted to a graphical one"
---

- **Operating System**:
  - [X] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
  * Include `;)`, `:D` or `:P` in a message and send it by pressing Enter.
- **Relevant error messages and/or screenshots**:
  * The displayed message shows the emoticons in plain text, instead of being converted to a graphical emoticon.

[2018-08-07 08:47] max-maurice commented on #536
Edited the issue, sorry. The problem wasn't emoticons being at the end of a message but that some emoticons wouldn't get converted at all.

[2018-08-07 08:56] HarshitOnGitHub commented on #536
@max-maurice Thanks for reporting! This issue actually belongs to [zulip/zulip](https://github.com/zulip/zulip). This is not a bug, we just don't convert these emoticons to emojis right now. We are in process of updating the list of emoticons, so this will get fixed soon. See discussion here:
https://chat.zulip.org/#narrow/stream/3-backend/subject/emoticons/near/623789
For a list of currently supp

[2018-08-07 09:10] max-maurice commented on #536
@HarshitOnGitHub Ok, thank you!

[2018-08-07 09:10] #536 closed, assigned to nobody

[2018-08-07 09:24] Yogislav opened #537 "YouTube videos not playing in app"
Since 2.3.5 update I cannot play youtube videos in zulip. Whenever someone sends something and I click the thumbnail, whole screen turns black (as it usually was) but player is not visible.

---
- **Operating System**:
  - [X] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
1. Send any YouTube video;
2. Click on thumbnail;
3. Stare at black screen;

[2018-08-07 15:49] abhigyank commented on #537
Can reproduce on CZO in Ubuntu. Not reproducible on browser, only on the desktop app.

[2018-08-07 16:51] timabbott commented on #537
This seems likely related to the click handler overriding for uploaded files logic.

[2018-08-07 16:51] timabbott commented on #537
Look for the code around `is_youtube_video` in `static/js/lightbox.js` in the webapp to see how the youtube player is triggered.

[2018-08-08 10:50] akashnimare commented on #537
This used to work until the `v2.3.2`. @abhigyank there is some corner case which we missed.

[2018-08-08 14:05] Yogislav commented on #537
I believe it worked even until further version. It's only after 2.3.5 update that it stopped working for me.

[2018-08-11 05:27] winmasta opened #538 "Double click on tray icon doesn't lead to app window restore."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu Mint 18.3
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Close app window so it folds to tray icon.
Double click on icon and nothing happens.
I can restory window only by clicking on tray icon with right mouse button and then clicking on "Focus" with left mouse button. I believe there should be an ability to restore app win

[2018-08-11 06:29] abhigyank commented on #538
Hello @winmasta Currently this behavior is limited to windows and not supported in other OS. There is an open PR #529, but we aren't sure if electron actually supports it in all environments of Linux.

[2018-08-13 10:08] xruth opened #539 "AppImage segmentation fault"
---

- **Operating System**:
  - [ ] Windows
  - [X] Linux/Antergos 18.7
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Download Zulip-2.3.5-x86_64.AppImage. Run from terminal.
- **Relevant error messages and/or screenshots**:
$ ./Zulip-2.3.5-x86_64.AppImage
Segmentation fault (core dumped)

AppImage of Zulip client does not start. Running from terminal shows segmentation fault.

[2018-08-13 11:29] #537 closed, assigned to nobody

[2018-08-13 11:54] akashnimare commented on #539
@xruth did you make the file executable first using -

[2018-08-13 16:25] timabbott commented on #539
@akashnimare I don't think segmentatin fault is a plausible error for not making it executable.  @xruth is your system an x86_64 system?  (`uname -a` would be helpful)

[2018-08-13 16:25] timabbott commented on #537
@akashnimare how does https://github.com/zulip/zulip-electron/commit/6470f5303ffa58444a4ed30c3f252992012ac2b5 resolve this?

[2018-08-13 16:29] abhigyank commented on #537
@timabbott  7299cd5 broke this for some reason (it works for all commits before this one). It was due to the sentry module breaking it somehow. Updating sentry to the latest version seems to fix this.

[2018-08-13 17:55] timabbott commented on #537
OK, cool; you should definitely be putting that context in the commit message!

[2018-08-14 05:21] stone212 opened #540 "Electron should present Network Settings before connecting first time"
---
Linux.  Using 2.3.5

Install Zulip, join an organization, enter email and password.  Zulip connects.

Instead you should be presented Network options.  Depending on your situation it could be a security problem to connect *without* setting up your proxy first.

[2018-08-14 15:18] akashnimare commented on #539
I can't reproduce this issue on Ubuntu 16.04 (64-bit). @abhigyank can you repro?

[2018-08-14 18:50] timabbott commented on #540
I don't think we want to put a screen in front of "enter organization URL" -- it definitely doesn't make sense to add an extra step for regular users who don't know anything about their network setup, but it could be reasonable to have a small "network settings" option presented on that screen.  @rishig @gnprice what do you think?

[2018-08-14 18:56] akashnimare commented on #540
The other thing we could do here is that includes a link for the network setting page in the error dialog message, so that the user can easily change/update the network settings.

[2018-08-14 18:59] rishig commented on #540
yeah, I agree we should have some way of entering in network settings before connecting, and also that having a link to network settings on that initial page seems pretty good.

(and yeah, having a link in the error message also seems good, while we're fixing this)

[2018-08-14 19:31] stone212 commented on #540
What "error message" are you talking about.  I didn't receive an error message.

Having the network settings option in the initial setup page would be good.  Even a "Do you want to configure your network?" link that brings you to an optional second page could be good.

[2018-08-15 12:27] abhigyank commented on #539
Can't repro @akashnimare . Probably due to the OS **Antergos 18.7**  system.

[2018-08-16 07:18] xruth commented on #539
@akashnimare
Yes I made the file executable first. Just to double check:
[code]

@timabbott
uname -a:
[code]

[2018-08-16 11:06] petergerten commented on #539
probably related to https://github.com/electron/electron/issues/13972

[2018-08-16 11:56] xruth commented on #539
@petergerten
Thanks for the hint. Problem seems to be with glibc. I fixed the problem on my client by installing glibc 2.28-4 from testing branch. Seems like they broke something with electron in v 2.28-1.
[code]
[code]

[2018-08-16 14:28] akashnimare commented on #539
Nice! Closing since it's an upstream issue.

[2018-08-16 14:28] #539 closed, assigned to nobody

[2018-08-17 04:09] abhigyank commented on #425
@zulipbot  claim

[2018-08-17 19:41] ShivangiKakkar commented on #533
@zulipbot claim

[2018-08-18 13:50] punchagan opened #541 "Realms with ' characters in the name aren't displayed correctly"
The `'` character is escaped and displayed as `#39;s`.  See the discussion [here](https://chat.zulip.org/#narrow/stream/16-desktop/subject/unescape.20server.20alias/near/633590)

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
- **Relevant error messages and/or screenshots**:

[2018-08-20 09:01] ghost opened #542 "Add a settiing to change spellchecker language"
Zulip doesn't follow the OS spellchecker language setting on opening, it uses the language set in:
`Settings > Display settings > Default language`

Currently there is only a single 'English' language option, which is US English. If the OS spellchecker language is set to 'British English', then Zulip's spellchecking is different when the application is opened.

If the OS spellchecker language in t

[2018-08-20 18:56] #534 closed, assigned to nobody

[2018-08-22 00:31] rishig opened #543 "Remove help.md from the repo, or link to /help."
Content is now maintained in the /help docs.
https://chat.zulip.org/#narrow/stream/16-desktop/topic/removing.20help.2Emd

[2018-08-23 07:02] #543 closed, assigned to nobody