[2021-02-24 03:17] timabbott commented on #1079
We certainly haven't seen other reports of this; we'd love to investigate.  The organizations are stored in dotfiles in the user's home directory on Linux, though it may depend on how you installed it.  Can you stop by #desktop on chat.zulip.org for more interactive debugging?

How many times has this happened, and which package are you using?  I wonder if what's secretly happening is a bug with t

[2021-02-24 13:37] rmbellovin commented on #1079
I don't have a good estimate for how many times it's happened, unfortunately.  My current version is 5.6 (I followed the instructions to add it to `apt`); my organizations were cleared shortly before I opened this issue, and I think there was an update not long before.

I'm happy to chat at chat.zulip.org.  I can talk for a bit now, and I'm generally on GMT.

[2021-02-24 21:48] timabbott commented on #1077
You can probably also use the "back" button in the bottom-left of the screen, or the Meta+Tab standard keyboard shortcut for "back" for  browsers (Which the Zulip desktop app also supports).

[2021-02-24 22:02] Ethanol6 commented on #1077
That's a good tip for browser use. However, the back button does not work. The only solution I've found, other than a hard reload, is to click on an organisation icon in the left side bar.

I should mention I'm using the appimage on Linux Mint 20.1.

[2021-02-24 22:17] Ethanol6 commented on #1077
![zulip-organizations](https://user-images.githubusercontent.com/67496989/109073237-57d91480-76b3-11eb-90ca-e41fac7a7353.jpg)

You do not see these icons?

[2021-02-24 22:21] sanfords commented on #1077
Here's what I see:

<img width="809" alt="MyPrefs" src="https://user-images.githubusercontent.com/1291701/109073717-041afb00-76b4-11eb-9784-cdaa3307e745.png">

[2021-02-25 05:08] Ethanol6 commented on #1077
Toggle the sidebar on through the "View" menu or Cntrl + Shift + S. You should see the organization icons in the sidebar. While you're at it, try clicking the gear icon in the sidebar or the back arrow right above it. Those options may work as well, though they do not work for me on Linux.

[2021-02-25 05:39] Ethanol6 opened #1082 "Settings window should also have "Night Mode""
**Problem Description**
When the "Night mode" is selected through the menu, the settings window is still a light theme.

**Proposed Solution**
The settings window should have a dark theme as well.

**Describe alternatives you've considered**
Sunglasses :)

**Additional context**
I am running Zulip 5.6.0 Desktop Appimage on Linux Mint 20.1

[2021-02-25 16:14] sanfords commented on #1077
I only have one organization so don't have that open.  In any event, there should probably be a save button or an (x) or something.  :-)

[2021-02-25 20:42] andersk commented on #1079
I believe this was caused by the misguided `postrm` script added in #349. I had already decided that script looked fishy and removed it for 5.6.0 (109795ca3e6b247070712f60bbc62aeaa45deb84). Unfortunately, because `dpkg` runs the `postrm` script from the _old_ version on upgrades, the 5.5.0 → 5.6.0 upgrade was still affected. But this shouldn’t happen in future upgrades.

Thanks for your help debug

[2021-02-25 20:42] #1079 closed, assigned to nobody

[2021-02-26 11:02] chris-fh opened #1083 "App unread badge not working (Mac)"
**Describe the bug**
The unread badge disappears after a while and Zulip does not show unread messages in Dock icon. After moving zulip to trash and reinstalling it it reappears for a day or so.

**Expected behavior**
enabling and disabling the "Show app unread badge" button in Settings -> Appearance should take effect.
Once enabled it should show unread messages in the Dock/Tray icon.

**Desktop

[2021-03-01 23:50] timabbott commented on #1077
Thanks for all the discussion, folks!  The fact that the sidebar is hidden for many single-users is clearly an important part of understanding the problem.  I'm not sure what the right fix is, but I've tagged this with a priority label.

[2021-03-02 11:39] arjunrkaushik commented on #409
@zulipbot claim --force

[2021-03-02 19:24] matthewlswanson commented on #1066
Yes! This frustrates me to no end. My other chat window automatically goes to the correct monitor and position on reboot but I have to drag Zulipchat over and resize it every time I reboot.

[2021-03-03 18:20] pranav2012 commented on #862
@zulipbot claim

[2021-03-07 11:04] #1069 closed, assigned to nobody

[2021-03-08 02:55] ganpa3 commented on #1070
@zulipbot ok

[2021-03-11 19:02] ashishbinu commented on #1054
I would like to work on this issue.

[2021-03-11 19:26] ashishbinu commented on #1054
@zulipbot claim

[2021-03-12 09:47] timabbott commented on #1082
Structurally, the night theme setting is just for the Zulip webapp (aka for a particular organization), and can't be directly read/inherited by the app-level settings page (which are shared by all Zulip organizations).

We also would need to do CSS for the app-level settings to support this, though it's a simple enough site that it's probably not hard.

Do you spend much time in the app-level sett

[2021-03-12 13:14] ashishbinu commented on #1054
The issue is due to the package `@yaireo/tagify` used for input in settings page. This [issue](https://github.com/yairEO/tagify/issues/675) in their repository gives the solution to solve it.

[2021-03-12 13:55] yasiruRathnayaka97 commented on #1054
@ashishbinu I tried similar thing to the second solution few days ago .(the 2nd solution not give expected results. when you select a option the "enter language" placeholder exceed the bound) Does the 1st solution work?

[2021-03-12 14:04] ashishbinu commented on #1054
I added `min-width: 130px;` and it works . The 1st solution gives weird width when typing the language

[2021-03-13 07:38] Ethanol6 commented on #1082
This is kind of a paper cut issue for me. It has a small effect on the user experience but tied in with a couple other issues it is fairly noticeable.

* I do not spend that much time in the app-level settings. However, as per #1077, even with the sidebar visible it is not that easy to figure out how to exit the app-level settings quickly.

* I also find it counter-intuitive that the Night mode se

[2021-03-16 17:22] ashishbinu commented on #1071
@hollov I tried this in linux app image version `5.6.0` and seems to be working fine.

[2021-03-16 18:38] ashishbinu opened #1087 "No spacing between tooltips of organisations."
**Describe the bug**

There is no spacing between tooltip of organisation and the sidebar. While there is padding for the tooltips of the settings, dnd, back, reload button.

**To Reproduce**

1. Open the zulip desktop client.
2. Hover over organisation or add organsation button.

**Expected behavior**

The tooltip should have the some spacing between itself and the sidebar. It should be same as t

[2021-03-16 18:45] ashishbinu commented on #1087
@zulipbot claim

[2021-03-16 19:13] timabbott commented on #1082
Thanks, that feedback is helpful!

[2021-03-17 00:47] Pushpit07 commented on #862
@zulipbot claim

[2021-03-17 15:54] ashishbinu commented on #1087
@zulipbot  add "good first issue"

[2021-03-17 15:55] ashishbinu commented on #1087
@zulipbot claim

[2021-03-18 07:22] sportfloh opened #1089 "Visually distorted message area on macOS"
**Describe the bug**
After waking my Mac from sleep mode and start the Zulieb client again, the message area is completely visually distorted.

**To Reproduce**
Run the Zulip client, quit it, put the Mac to sleep mode, wake it again and start the Zulip client again

**Expected behavior**
A working GUI, no visually distorted message area.

**Screenshots**
![image](https://user-images.githubusercont

[2021-03-18 19:30] timabbott commented on #1089
Yeah, this is very likely a Chromium bug in the version used by the current Electron release we're using.  Might be fixed when we upgrade to Electron 12 -- bugs like this usually are.

[2021-03-20 10:58] nathanielvirgo opened #1090 "Visual corruption / noise"
The Zulip client currently looks like this for me:

<img width="1344" alt="image" src="https://user-images.githubusercontent.com/6964676/111867010-a88f1500-89b4-11eb-85fa-3e188c19649a.png">

This seems to be happening in all of the organisations that I'm subscribed to, but only for some streams and not others. Generally it seems not to happen if the stream only has one or two posts. Sometimes the

[2021-03-20 11:53] nathanielvirgo commented on #1090
I put my computer to sleep and had dinner, and after coming back the problem seems to have completely disappeared for now. So it seems to be intermittent somehow.

[2021-03-21 14:36] nathanielvirgo commented on #1090
The problem is back again now

[2021-03-22 03:19] timabbott commented on #1090
Thanks for the report!  I think we've gotten a report of this before.  This symptom is almost certainly the result of a bug in the upstream version of Chromium used in the app; so it'll likely be fixed in our next release which will upgrade to newer Electron and thus Chromium (almost all of our Chromium bugs are fixed that way).

[2021-03-22 03:20] timabbott commented on #1090
Closing as a duplicate of #1089.

[2021-03-22 03:20] #1090 closed, assigned to nobody

[2021-03-22 06:31] ashishbinu commented on #1087
@zulipbot abandon

[2021-03-22 06:36] ashishbinu commented on #1087
@Ayushsunny If you are interested try to solve the issue. Edit the left value in `main.css` to `#add-server-tooltip,.server-tooltip { left: 60px}`. This will fix the issue.

[2021-03-22 07:04] Ayushsunny commented on #1087
Thank you so much

[2021-03-23 01:20] adambirds commented on #991
I'm also getting these issues, although it is intermittently.

[2021-03-23 01:20] adambirds commented on #991
And for context, not installed via snap and using on Windows 10.

[2021-03-23 06:42] timabbott commented on #1092
I'll migrate the issue.

[2021-03-23 10:30] RajputAmit-17 commented on #1042
![Screenshot (146)](https://user-images.githubusercontent.com/58136917/112132579-c8128180-8bf0-11eb-84c0-e4c9b7d3df9d.png)
Facing High Resource Usage Issue.

[2021-03-23 11:44] TheNetworkIsDown commented on #1042
@Amit-Firewires are you using an authenticating explicit proxy for Internet access? Otherwise you're facing another issue.

[2021-03-24 14:38] yoBoyio commented on #1087
is this issue still open? @zulipbot claim

[2021-03-25 00:13] timabbott commented on #1031
The fix for this issue likely does not involve adding all desktop app shortcuts these to the in-webapp keyboard shortcuts menu; instead, we should probably just add a simple hint in the webapp codebase conditional on `electron_bridge` directing users how to find the desktop app keyboard shortcuts as well.

[2021-03-29 19:23] andersk commented on #325
Closing since certificates work completely differently now (which is to say, they work) and we have documentation at:

https://zulip.readthedocs.io/en/stable/production/ssl-certificates.html
https://zulip.com/help/custom-certificates

[2021-03-29 23:48] alya opened #1096 "Remove no-change translations for Desktop app"
A number of languages have no-change translations for the Desktop app, e.g. "Add Custom Certificates" translated as "Add Custom Certificates", etc. In some cases all Desktop app translations are like this (e.g. Greek), while other languages have a mix of actual translations and no-change translations (e.g. Arabic).

![Screenshot from 2021-03-29 16-45-36](https://user-images.githubusercontent.com/2

[2021-03-30 05:21] #325 closed, assigned to nobody

[2021-04-01 20:17] Elv1zz commented on #1072
That would be a really useful feature!
Alternatively the "Starred messages" category should have a message count badge, so I can star the messages at least and see that I have to come back to them later.

[2021-04-01 21:18] timabbott commented on #1072
Thanks for the feedback!

This is a duplicate of https://github.com/zulip/zulip/issues/2676 -- I encourage you to upvote there.

That said, the "Starred messages" category does have an optional message count badge, in "display settings".  It's probably a mistake that isn't enabled by default for new users -- I'll take care of fixing that now since it's really quick.

[2021-04-01 21:18] #1072 closed, assigned to nobody

[2021-04-03 07:07] #1054 closed, assigned to nobody

[2021-04-05 13:24] ThobyV commented on #1087
Hey can I work on this?

[2021-04-06 13:36] mateuszmandera opened #1099 "MacOS dock icon bounce not working"
According to a user report, the icon stopped bouncing since 5.5.0.

https://chat.zulip.org/#narrow/stream/16-desktop/topic/MacOS.20doc.20icon.20bounce.20expected.20behavior/near/1133801 is the relevant czo discussion

#510 is the original feature request, but it seems more appropriate for me to file this is as a new bug report instead of reopening that one.

[2021-04-08 11:16] exio82 opened #1102 "Occasionally high resource usage and memory saturation"
**Describe the bug**

Sometimes the Zulip process in background use too much CPU and grow up memory usage until saturation of all available RAM.

**To Reproduce**

Not identified steps to reproduce.
In my organization some people reported the problem in the following days:
2021-02-24 : 1 report
2021-03-03 : 3 report
2021-03-24 : 1 report
2021-03-27 : 1 report
2021-04-08 : 1 report
Not everyone hav

[2021-04-08 15:24] timabbott commented on #1102
@exio82 if you see this situation, can you use the "Developer tools" within the app to collect a profile?  The "Performance" tab allows doing so -- it works exactly like Chrome for that purpose: https://developer.chrome.com/docs/devtools/evaluate-performance/.

We've had a few reports like this, but have been unable to reproduce it, and it'd be really useful to know what code is running when you s

[2021-04-09 15:45] sumit-kushwah commented on #488
@zulipbot claim

[2021-04-09 18:42] timabbott commented on #1103
@jahazieldom can you still reproduce this issue with the latest desktop app?

My guess is that this was a chromium bug that was fixed upstream.

[2021-04-10 10:59] tarun8718 opened #1104 "Shortcuts Section: irregularly highlighted shortcuts"
**Describe the bug**

 irregularly highlighted shortcuts

**To Reproduce**
* Open Desktop App
* Open Settings
* Go to Shortcuts Section

**Screenshots**
![Screenshot from 2021-04-10 13-41-50](https://user-images.githubusercontent.com/40015660/114267530-d3034980-9a19-11eb-9944-127543b87496.png)

[2021-04-12 11:10] exio82 commented on #1102
I have a problematic process running right now.

The performance devtools in Zulip Desktop (ctrl+shift+i) show it's idle, so it doesn't help.

Closing the app terminate the main processes hierarchy but not the problematic process, which remains active in background and does not have an associated window.
So I can't use devtools on that process cause there is no window associated to it.

![image](h

[2021-04-12 13:13] piermaz commented on #1102
Same problem here. Win10

[2021-04-12 18:28] nikomatsakis opened #1109 "bad rendering on mac os x app"
I'm not sure if this is the repository for this sort of issue, but I am having a lot of troubles with Zulip's rendering in the OS X desktop app. Here is an example:

![image](https://user-images.githubusercontent.com/155238/114443094-48e2ee80-9b9b-11eb-85d3-d8ddfa65ce4e.png)

It is rendering the app somewhat useless for me. This is a recent development -- I always had problems these, but they were

[2021-04-12 18:41] andersk commented on #1109
Interesting. This is clearly a low-level Chrome or graphics driver bug, but we got a very [similar report](https://chat.zulip.org/#narrow/stream/6-frontend/topic/green.20message.20view/near/1154104) last week, so it would be nice to figure out what’s going on.

[2021-04-12 18:47] nikomatsakis commented on #1109
I was just noting that I actually see similar things in Launchbar, and thus hypothesizing that perhaps it has nothing to do with zulip.

[2021-04-12 18:48] andersk commented on #1109
This may be https://bugs.chromium.org/p/chromium/issues/detail?id=1068170.

[2021-04-13 13:53] AtlasHands commented on #1102
I will try to catch the heap the next time - but I've seen the same issue.  I've downgraded to 5.5.0 and it doesn't appear to happen anymore.

[2021-04-13 21:12] aramirezreyes opened #1108 "[Feature request] Make zulip urls be opened by the zulp app."
I write this regarding the macOS desktop app, although it may also be relevant to other apps.

Some desktop applications are associated to certain urls, for example: If I click on a zoom link, macOS will ask me if I want the zoom desktop app to open the link.

With Zulip, if someone shares a link to a Zulip stream or message, the web browser is directed to said webpage. In my case, I usually have

[2021-04-13 22:27] timabbott commented on #1108
This is a duplicate of https://github.com/zulip/zulip-desktop/issues/470.  I agree this is something we should add soon.

[2021-04-13 22:30] aramirezreyes commented on #1108
Thanks and sorry for the noise. It is indeed duplicated, I just didn't find it because I didn't know the correct terminology.

[2021-04-13 22:30] #1108 closed, assigned to nobody

[2021-04-13 22:47] timabbott commented on #1109
Moved to the right repository for the desktop app, though if folks are seeing this in Chrome as well, it may affect the webapp in Chrome as well.

[2021-04-13 23:22] andersk commented on #1109
The chat\.zulip\.org report was for the webapp in Chrome. The real bug is [apparently](https://bugs.chromium.org/p/chromium/issues/detail?id=1068170#c234) in Apple’s AMD graphics driver.

[2021-04-14 10:24] nikomatsakis commented on #1109
The problem seems to have gone away for now, for whatever reason.

[2021-04-15 04:50] alya opened #1110 "Mac installer has old Zulip logo"
**Describe the bug**

The Mac installer uses the old Zulip logo in the installation instructions.

**Screenshots**

<img width="498" alt="Zulip_5_6_0_and_Zulip_and_Security___Privacy" src="https://user-images.githubusercontent.com/2090066/114815550-3ddeb880-9d6b-11eb-9d74-670ef9b823ac.png">

**Desktop (please complete the following information):**

- Operating System: macOS 10.15.7

- Zulip Deskto

[2021-04-16 03:09] #1104 closed, assigned to nobody

[2021-04-19 06:22] piermaz commented on #1010
Issue still in 5.6.0

[2021-04-20 12:00] evacchi commented on #1069
I can confirm this, have you solved it somehow @gauravpandit91 ?

[2021-04-21 08:12] exio82 commented on #1102
Found a way to reproduce (hopefully):
1. when Zulip is running right click on the icon on the task bar and select "Pin to taskbar"
2. close the app with "X" so it remains active in background
3. start the app using the pinned icon in the taskbar

Repeat steps 2 and 3 many times and maybe some processes remains orhpan in background.

The behaviour of launching Zulip is different between:
- launchin

[2021-04-21 09:04] gauravpandit91 commented on #1069
No, I couldn't solve it. But, since there was no comment on it, I thought that maybe it is not so important, so I closed the issue. @evacchi Please feel free to reopen the issue.

[2021-04-21 16:25] tarun8718 commented on #1110
@andersk I think this can be closed.

[2021-04-21 17:31] andersk commented on #1110
Fixed by #1112.

[2021-04-21 17:31] #1110 closed, assigned to nobody

[2021-04-21 20:22] JacquelineMorrissette commented on #1102
I had the issue happen to me a couple times and I captured a profile using the performance tab today.
[Profile-20210421T161405.txt](https://github.com/zulip/zulip-desktop/files/6353658/Profile-20210421T161405.txt)
I hope this helps!

[2021-04-27 02:08] #1102 closed, assigned to nobody

[2021-04-27 02:17] andersk commented on #1102
Thanks for the helpful reproduction recipe @exio82. I was able to reproduce a bug that could lead to spinning background processes on repeated launches. The bug was actually introduced years ago, but its symptoms may have changed recently. I’ll plan to release this fix as part of 5.7.0 within the coming days.

Obviously we can’t be sure this one bug explains all of these reported problems, so if y

[2021-04-30 12:19] foto-andreas commented on #807
Hi,

it is not working for me with v5.6.0 on Windows. Seems like my css is ignored.

[code]

The same css change works in developer tools. I also tried with deleted Appdata/Roaming/Zulip.

Also my css file is not listed in the sources-tab in the developer tools.

Andreas

[2021-04-30 22:42] andersk commented on #1089
This is a bug in Apple’s AMD graphics driver. Closing as a duplicate of #1109, even though that was reported later, because the details are there.

[2021-04-30 22:42] #1089 closed, assigned to nobody

[2021-04-30 23:22] andersk commented on #807
@foto-andreas Custom CSS applies to the webviews inside zulip-desktop, not zulip-desktop itself.

[2021-05-01 04:21] #1076 closed, assigned to nobody

[2021-05-01 05:51] andersk commented on #1076
We just released Zulip Desktop 5.7.0, including an Apple ARM build: [Zulip-5.7.0-arm64.dmg](https://github.com/zulip/zulip-desktop/releases/download/v5.7.0/Zulip-5.7.0-arm64.dmg).

[2021-05-01 05:51] andersk commented on #1102
We just released Zulip Desktop 5.7.0 including that fix. Please do let us know if this continues to be a problem.

[2021-05-06 16:44] sanfords opened #1113 "Mac client, can't download .pptx file from zulip message"
**Describe the bug**

Unable to download file attachments from the Mac native client.

1. Attach a powerpoint ppxt file to a zulip message.
2. View that message with the native Mac client.
3. Click the link in the message to download the ppxt file.
4. Nothing happens, it just beeps.  This is in the debug console:

'Granted permissions request for notifications from null'

I'm seeing the "downloadF

[2021-05-14 14:12] donmb1 commented on #807
@andersk what does this mean exactly?
I have also uploaded custom CSS but it does not apply at all. what do I miss? what is this feature good for?
thx

[2021-05-17 08:28] simseb opened #1114 "Image link preview doesn't work"
After upgrading both the server and the desktop app (see versions below) i cannot see images/gifs (Giphy) previews anymore:

![Selection_079](https://user-images.githubusercontent.com/36695238/118453027-6f96c680-b6ff-11eb-9441-63b565a60ee3.png)

DevTools show a 404 for these requests:

[code]
Desktop version: 5.7.0 running on Ubuntu 16.04.6 LTS (same on windows 10).

Server running on Ubuntu 20.04

[2021-05-17 13:59] JobLeonard opened #1115 "Request: show a confirmation dialog before being logged out when pressing CTRL+L"
**Problem Description**

I often have the Zulip desktop client open on one monitor, my browser on the other. In browsers CTRL+L shifts focus to the URL bar, allowing one to quickly navigate to a new webpage without having to scroll the cursor.

Sadly, CTRL+L also logs one out of Zulip.

(I'm on Linux, by the way, with KDE Neon as my distro - perhaps these shortcuts are different on other operating

[2021-05-18 07:51] brianharvey commented on #1083
+1.  Zulip 5.7.0, MacOS 10.13.4  (so Apple didn't just break it...)

[2021-05-18 07:56] chris-fh commented on #1083
Turns out I had to (re)enable  > System Preferences > Notifications for Zulip. Somehow it got disabled by an update I assume.

[2021-05-18 07:56] #1083 closed, assigned to nobody

[2021-05-18 07:57] brianharvey commented on #1083
Wait does that make the little dot appear in the menu bar, or does it just make a big rounded rectangle appear up in the corner?

[2021-05-18 08:15] chris-fh commented on #1083
The symbol in the dock gets a red dot that has the number of unread messages enclosed. I am not talking about the menu bar and I have not encountered a big rounded rectangle.

[2021-05-18 08:20] brianharvey commented on #1083
Oh.  I generally keep the dock hidden, and most software that handles asynchronous events and has an icon in the menu bar flags events in that menu bar icon (e.g., Dropbox, Telegram, Adobe Creative Cloud).  Can I reopen this?  Or should I start a new issue report?

[2021-05-18 08:28] chris-fh commented on #1083
Now that I think about it... I do see a rounded rectangle in the upper right corner whenever I get a new message.
Up to you to reopen this, if you think your problem applies...

[2021-05-18 14:59] simseb commented on #1114
With the Docker way of installation, this file is not even included:
[https://github.com/zulip/zulip/blob/12a439b8bd4f5c8f6c54dcb926e48d4d71d81792/puppet/zulip/files/nginx/zulip-include-app.d/camo.conf](https://github.com/zulip/zulip/blob/12a439b8bd4f5c8f6c54dcb926e48d4d71d81792/puppet/zulip/files/nginx/zulip-include-app.d/camo.conf)
and apparently more are missing.
Anyway, i solved it for now by

[2021-05-18 14:59] #1114 closed, assigned to nobody

[2021-05-21 17:34] jerbasco1 commented on #991
I am having this issue intermittently as well. Windows 10 desktop client 5.7.0
Quit and re-open fixes it temporarily for me as well.

[2021-05-21 20:57] EdYSChuang815 opened #1116 "Applications/Zulip.app/Contents/Frameworks/Zulip Helper(Renderer.app) using large memory"
**Describe the bug**

I'm using zulip on MacOS 10.13.1. This afternoon I suddenly got a message from my system arguing I'm running out of memory. After I restarted my computer (Zulip starts automatically), I found out from `htop` that `Applications/Zulip.app/Contents/Frameworks/Zulip Helper(Renderer.app)` is using around 40.6G virtual memory.
(I think it used up all my free space on the SSD hard d

[2021-05-21 21:26] andersk commented on #1116
Virtual address space is just a range of pointers in which memory *could* be allocated; it doesn’t mean that memory *has* been allocated. The range itself uses essentially no storage, neither in memory nor on disk. Chromium reserves a huge amount of virtual address space for its own convenience. This is just how Chromium works and isn’t a problem.

In `htop`, the actual memory usage in RAM is repo

[2021-05-21 21:26] #1116 closed, assigned to nobody

[2021-05-21 21:37] andersk commented on #1115
@akashnimare What was the motivation for adding the `Ctrl`+`L` shortcut? This doesn’t seem like a common operation that needs a keyboard shortcut at all.

[2021-05-23 05:14] foto-andreas commented on #807
Hi, but I think the left column is in a webview not an electron element like the menu.

[2021-05-23 22:16] timabbott commented on #1115
Yeah, I would be tempted to remove that shortcut, especially since we have `Ctrl+Shift+L` for adding a link when composing markdown.

[2021-05-24 06:02] GertBurger commented on #991
Still a problem on Linux with 5.7.0 appimage.

[2021-05-24 18:34] #1115 closed, assigned to nobody

[2021-05-30 05:24] ywwg commented on #932
This affects the version installed via apt as well (5.7.0 amd64 on Ubuntu 21.04)

[2021-05-30 19:56] elopez opened #1119 "Blocking certificate error shown for broken 3rd party thumbnails"
**Describe the bug**

Entering a channel where someone has posted a link with a thumbnail to a site that now has a broken TLS certificate throws an error.

**To Reproduce**

* Post a link (e.g. in March 2020) to a HTTPS site. The site is working correctly. Zulip generates a small "preview" with a title, description and image of the link. Everything works fine now.
* Wait until May 2021 and Zulip 4

[2021-05-30 20:00] elopez commented on #1119
I've also seen this happen on Android, and it is a bit worse on mobile, as the error cannot be dismissed, so the channel is rendered unusable. Probably related: zulip/zulip-mobile#4726, zulip/zulip-mobile#4691

[2021-06-01 19:07] jameshiebert opened #1120 "No rendering after a suspend/wake_up cycle on Linux"
**Describe the bug**

Following a sleep/wake up cycle on my Linux machine on which Zulip is running, Zulip renders only a white background in certain situations.

**To Reproduce**

+ Run Zulip
+ Run a suspend/wake_up cycle (on LInux)
+ Look at the Zulip window and see white

**Expected behavior**

+ One would expect Zulip to render all of the usual UI elements that would normally be present

**Scr

[2021-06-01 22:14] MartinX3 commented on #931
@akashnimare I freshly installed 5.7 and got the same issue.
I used chmod to change the file from
`-rwxr-xr-x`
to
`-rwsr-xr-x`
to fix the issue on Arch Linux

[2021-06-01 22:52] timabbott commented on #931
@MartinX3 can you open a new issue for that?  Arch Linux is a different platform so I don't think it makes sense to have a potentially similar issue with it tracked here.

[2021-06-01 22:56] timabbott commented on #1119
@elopez thanks for the report!  I garee this is a bug; while this error-handling could make sense for certificate errors with the Zulip server one is connecting to, third-party domains should be ignored as per the browser default behavior.

(I notice in the code we have a comment noting a plan to delete parts of the function that displays this error; I'm not sure if that's on the path to fixing th

[2021-06-01 23:01] MartinX3 commented on #931
@timabbott thank you for the response :)

I will if I can reproduce it (but now it's workarounded by manually chmod it)

[2021-06-09 07:43] MartinX3 opened #1122 "Add topic autocompletion to the "Move message" feature"
**Problem Description**

I need to write the exact topic name by myself if I want to move foreign messages to a different topic.

**Proposed Solution**

Autocompletion based on the written text.

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2021-06-09 18:05] andersk commented on #1122
Closing as a duplicate of zulip/zulip#16368.

[2021-06-09 18:05] #1122 closed, assigned to nobody

[2021-06-11 03:14] somya51p commented on #1087
is this issue still open? @zulipbot claim

[2021-06-15 12:38] andreasoc opened #1128 "Unreads messages 'string' in Desktop app UI not exist"
it doesn't seem to me to be translatable in Italian and other languages
![nyS4C9ms7F](https://user-images.githubusercontent.com/2852354/122053710-485b1400-cde7-11eb-87d8-29fc4e925b66.png)
link to discussion in CZO
https://chat.zulip.org/#narrow/stream/58-translation/topic/Unreads.20messages.20'string'

[2021-06-16 08:46] devZer0 commented on #1099
i can confirm that users are affected by this problem. we have reports that the icon stopped bouncing after updating to latest zulip version

[2021-06-22 11:57] EdwardEisenhauer opened #1127 "Wrong rendering of app icon located into launched subfolder on macOS"
**Bug description**

After moving Zulip app icon to the subfolder it looks like the artefacts in #1109. Outside the subfolder it renders properly.

**To Reproduce**

1. Download Zulip app for macOS and install it.
2. Move Zulip icon located in Launchpad to the subfolder.

**Expected behavior**

Zulip icon should render properly inside the subfolder icon.

**Screenshots**
<img width="102" alt="Scre

[2021-06-22 19:21] timabbott commented on #1128
@priyank-p want to investigate this one?

[2021-06-22 20:30] priyank-p commented on #1128
#1123 fixes this.

[2021-06-30 15:30] nooblag commented on #991
I can also confirm the issue on Linux AppImage 5.7.0 on Linux Mint 20. I only get this glitch with chat.zulip.org (Version 5.0-dev-953-g99add14a5f), other Zulip Cloud instances seem okay (Version 5.0-dev-432-ge9ad1d00e4).

[2021-07-02 00:59] andersk commented on #1109
According to the upstream issue, Apple shipped this fix in macOS 11.4 (beta 2, 20F5055c) and 11.5 (beta 4, 20G5052c).

[2021-07-02 00:59] #1109 closed, assigned to nobody

[2021-07-02 13:54] edgarcosta opened #1129 "Weird rendering when waking up from sleep on OSX"
**Describe the bug**

The electron app has some rendering issues with some blocks when waking up from sleep on OSX.
Restarting the app doesn't solve the issue.

**To Reproduce**

I can't reproduce it on demand, but here are the common factors that I have observed:
- waking up from sleep on OSX
- an external monitor,
- scrollable block?
- and some bad luck.

**Expected behavior**

The windows to re

[2021-07-05 06:36] GertBurger commented on #991
For me it occurs on all instances tested so far, our own and the public one. It just takes a while to trigger.

[2021-07-06 16:17] jonas-schievink opened #1131 "Window activates on every system resume"
**Describe the bug**

Every time I turn my computer back on, the Zulip window activates itself and requests focus when it reconnects to the server.

Depending on the system configuration, this may cause Zulip to steal focus from whatever was previously in focus, and may even switch workspaces.

**To Reproduce**

Suspend to RAM, then resume. Might only reproduce on Linux.

**Expected behavior**

Th

[2021-07-06 19:35] jonas-schievink commented on #1131
This also happens when just starting the Zulip app fwiw – the window opens, then shortly afterwards it requests focus.

[2021-07-06 23:44] alya opened #1132 "Spellchecker not working on Mac"
As discussed at length [on CZO](https://chat.zulip.org/#narrow/stream/16-desktop/topic/spellchecker), the spellchecker is no longer working in the Mac desktop app. The following configurations have been tested, and the spellchecker is not functioning on any of them:

* Zulip Desktop 5.7.0, macOS 10.15.7. User reports that the spellchecker was working on 2021-04-22 but no longer does.
* Desktop v5.

[2021-07-13 16:03] timabbott commented on #1129
@edgarcosta can you try upgrading macOS?  In the past, failure modes like this has been traced to bugs in the macOS graphics drivers that have been fixed in more recent macOS releases.

[2021-07-13 16:03] timabbott commented on #1129
See e.g. https://github.com/zulip/zulip-desktop/issues/1109#issuecomment-872639130.

[2021-07-13 17:44] andersk commented on #1129
Closing as duplicate of #1109.

[2021-07-13 17:44] #1129 closed, assigned to nobody

[2021-07-15 23:54] vincentisambart opened #1133 "Incorrect behavior on macOS when closing the window"
**Describe the bug**

- On macOS, closing the window should not change the active app to another app.

**To Reproduce**

- Open Zulip.
- Close the window (for example with Cmd+W).

**Expected behavior**

- The active app should still be Zulip.

**Screenshots**

**Desktop (please complete the following information):**

- Operating System: macOS 11.4
- Zulip Desktop Version: 5.7.0

**Additional cont

[2021-07-20 06:09] alya opened #1134 "Remove CMD/CTRL-L logout shortcut"
**Problem Description**

The desktop app has a CMD/CTRL-L shortcut for logging out. This is quite close to the CMD/CTRL-SHIFT-L shortcut for inserting a named link, making it easy to accidentally log oneself out (which I do with some frequency!).

**Proposed Solution**

The simplest solution is to remove this log out shortcut. In general, one shouldn't need to log out very often, so having users d

[2021-07-20 06:17] andersk commented on #1134
Closing as duplicate of #1115, already fixed in Git by 1d30c83f7aa1c2b55d2bdb26e51fd0211d2a820e.

[2021-07-20 06:17] #1134 closed, assigned to nobody

[2021-07-20 06:53] alya commented on #1134
Oh, oops, sorry I didn't check! I guess @timabbott  forgot that we already had an issue for it when I mentioned it. :)

[2021-07-20 23:49] #1132 closed, assigned to nobody

[2021-07-22 09:51] fhsevenbel opened #1138 "Zulip send message via API formatting problems"
**Describe the bug**
Since the new 5.8.0 update "\n" newlines are not recognized anymore, at least when sending messages via the api.

We posted messages via the `https://zulip_url/api/v1/messages` url to our zulip members
With version 5.7.0 everything worked fine
like this
![image](https://user-images.githubusercontent.com/66937832/126619571-55ce3a13-c49e-4d65-a959-65a31b3dfa0a.png)

But on versi

[2021-07-22 18:14] timabbott commented on #1138
@fabianhintringer this is a somewhat surprising outcome from a desktop client update; can you try testing if the messages format properly when using 5.7.0?  If not, then the explanation is likely a server bug introduced around the same time.

[2021-07-22 23:20] alexmv commented on #1138
It would also help if you show how you're calling curl (be sure to redact any API tokens).  But if you're calling curl directly, that's not going to be affected by the local version of the Zulip Desktop client.

[2021-07-27 14:08] jtconsol commented on #1010
Still present in 5.8.0, and still temporarily fixable by restart.

[2021-07-28 02:52] nooblag commented on #1119
Would commenting this out be a suitable fix, for now?

https://github.com/zulip/zulip-desktop/blob/ceb6417979b9cb94f8f3412f9074157a7355613e/app/main/index.ts#L245-L261

[2021-07-28 09:18] jhpratt opened #1139 "Provide a `.rpm` file for Fedora"
Would it be possible to provide a `.rpm` file for Fedora and possibly publish to the relevant repository? Having a `.appimage` works, but it's not ideal for those of us that prefer to have things fully installed; while AppImageLauncher works, it feels like quite the hack. I have tried the snap installation but it freezes and crashes constantly. The only alternative is to use Zulip on the web, whic

[2021-07-28 19:22] timabbott commented on #1139
Transferred to the desktop repository, since this is an issue for the desktop repository.

I think `electron-builder` supports RPM as a target, so it might not be too hard to do that.

[2021-07-28 19:28] jhpratt commented on #1139
Awesome. Thanks for the transfer, given that I didn't bother to check if other repos existed.

[2021-07-29 08:22] abhigyank commented on #1119
Since we want this certificate errors for the Zulip server  one is coonnecting to, we can put check on the`url` in the above code to throw the error only if its  on the connecting Zulip server and for other third-party domains, ignore by default. I feel that is a suitable approach for this issue.

[2021-07-29 08:54] ali-yahyaoui opened #1141 "Certificate error"
This pop-up is shown when opening some streams on Zulip Desktop.
PS: We have a valid commercial SSL certificate for our domain.
![image](https://user-images.githubusercontent.com/60253677/127462272-cbf3e02e-a3cb-4a10-84fc-6effb6f63346.png)

[2021-07-29 22:35] nooblag commented on #1119
That seems like a great approach.

[2021-08-02 00:50] thompsonab commented on #1033
Closing this issue as I no longer use Zulip

[2021-08-02 00:51] #1033 closed, assigned to nobody

[2021-08-03 20:24] timabbott commented on #1141
@ali-yahyaoui are you seeing this in the desktop app?  The problem is Zulip is trying to load a link preview of another domain that has an invalid certificate, and the desktop app error handling for this doesn't work.

[2021-08-03 20:26] andersk commented on #1141
Closing as duplicate of #1119.

[2021-08-03 20:26] #1141 closed, assigned to nobody

[2021-08-04 08:10] ali-yahyaoui commented on #1141
@timabbott  Yes in Zulip Desktop v5.8.1, Okay thanks well understood.

[2021-08-04 15:39] cmyr opened #1142 "Auto updater failing to update to 5.8.1 on macOS 11.4"
Running macOS 11.4 on an M1/arm mac.

Prompted to update to 5.8.1, the update downloads, and I see the "update and relaunch" button, but it quits the app and doesn't relaunch.

When I look in `~/Library/Application Support/Caches/zulip-updater` I see `Zulip-5.8.1-x64.zip`, which doesn't look right?

... In the process of trying to reproduce it finally seems to have worked? So... I'm not sure. Feel

[2021-08-04 15:40] cmyr commented on #1142
Okay nevermind I just read the release notes for 5.8.1. Thanks again!

[2021-08-04 15:40] #1142 closed, assigned to nobody

[2021-08-09 12:32] nooblag commented on #1119
Can I be of any help in regards to getting us towards a proposed PR? Or org gets this error several times a day from various domains so I'd love to get a fix sorted and deployed as soon as we can manage.

[2021-08-13 09:35] legopin commented on #1119
We also encountered the same issue
This link when posted in zulip org with preview URL causes the certificate error
https://law.moj.gov.tw/LawClass/LawAll.aspx?pcode=L0030013

The website itself actually has a valid certificate, it's the `og:image` header that references a domain without proper certificate

[2021-08-17 17:23] GopalMengi commented on #1087
@zulipbot

[2021-08-17 17:24] GopalMengi commented on #1087
@zulipbot is this issue open ?

[2021-09-02 15:13] JaggerJo opened #1146 "MacOS - show notification count as badge on the Dock item."
**Problem Description**

The only way of noticing that I have unread zulip messages is opening the app.
I'm not always at my desk so the notification sound does not help.

**Proposed Solution**

Show unread notifications as badge on the zulip dock icon.

<img width="46" alt="image" src="https://user-images.githubusercontent.com/13090415/131869598-9c54f042-4ec8-4788-bc73-dd0892efcb6f.png">

**Addit

[2021-09-10 22:55] v3ss0n commented on #907
we have the same problem too. Still reloading randomly.

[2021-09-13 17:19] timabbott commented on #907
@v3ss0n please open a separate issue, since what you're experiencing is almost certainly an unrelated bug with the same symptom.

[2021-09-13 17:49] v3ss0n commented on #907
Thanks a lot @timabbott
https://github.com/zulip/zulip/issues/19727

[2021-09-16 18:18] etanter commented on #548
Hi, is that feature available already? The discussion here is rather old, and I can't find a way to do that (or even in the settings). I'm on the macOS app.
Thanks!

[2021-09-28 20:56] axfelix opened #1149 "Higher CPU usage after resuming from suspend on Mac?"
Hi,

I've noticed that Zulip doesn't seem to be "idling" properly after resuming from suspend on Mac -- background CPU usage goes from near-zero to ~10% and never recovers until quitting the app.

[2021-10-07 06:49] Moilleadoir commented on #936
This option no longer exists in System Settings.

[2021-10-09 01:13] #662 closed, assigned to nobody

[2021-10-09 01:13] #991 closed, assigned to nobody

[2021-10-09 01:13] #1010 closed, assigned to nobody

[2021-10-15 19:07] timabbott commented on #1149
@axfelix the most likely possibility is that you have the open open to a view that contains animated GIFs in the message feed or animated GIF custom emoji (E.g. in a user status in the sidebar); animated GIFs burn CPU by continuously animating.

https://github.com/zulip/zulip/issues/19732 and https://github.com/zulip/zulip/issues/14489 are relevant if that's indeed the situation.

[2021-10-15 19:08] timabbott commented on #548
It is not; the latest work is this stale PR: https://github.com/zulip/zulip-desktop/pull/1059

Contributions are welcome!

[2021-10-19 12:12] SenlinOS opened #1153 "I want to modify the tray icon."
I tried to change the tray icon, but I couldn't find it. (only want the white Z icon)
Where exactly is the tray icon?

Xubuntu 20.04, Zulip APT

Thank you.

![img](https://z3.ax1x.com/2021/10/19/5w70fK.png)

[2021-10-19 22:14] matthewlswanson commented on #1066
Any update on this? Was hoping it would be better in Windows 11 but unfortunately it is not

[2021-10-19 23:33] andersk commented on #1153
https://github.com/zulip/zulip-desktop/tree/main/app/resources/tray

[2021-10-20 02:35] SenlinOS commented on #1153
Thanks for the reply, but there is no such file, it seems to be packaged.
No problem, I hide the tray icon, use the shortcut Ctrl+Q to exit.

[2021-10-20 02:35] #1153 closed, assigned to nobody

[2021-10-20 15:43] Mnemosyn3 opened #1154 "Excessive usage of zoom will cause the zoom feature to "freeze""
After excessive usage of zoom feature (Ctrl + - and Ctrl + +) the feature will not work anymore. Ie. the zoom level can't be changed anymore using the Ctrl + + and Ctrl + -. The command Ctrl + 0 fortunately will restore the default zoom level.

**To Reproduce**
Hold Ctrl + + down for 4 seconds, then hold Ctrl + - down for further 4 seconds. Repeat n times until the zoom level will remain regardles

[2021-10-24 00:37] amative1 opened #1157 "Unread message bug when topic contains numbers in parentheses"
**Describe the bug**

When using the App (both PC and Mac), any topic containing a positive number in parentheses is treated as an unread count.

**To Reproduce**

Create a thread with (10) in the topic title, server icon and app icon display 10 unread messages (even if less than 10 messages exist on the server

**Expected behavior**

Unread message count should not show 10 if topic contains (10)

[2021-10-24 00:39] amative1 commented on #1157
May be linked to #1034 but unsure as no context was mentioned

[2021-10-26 18:32] manavmehta commented on #1157
This is weird. But I am unable to reproduce it in Windows 11 and I no longer have a mac.'
![image](https://user-images.githubusercontent.com/31139861/138939659-f669756c-d18b-48e9-a2ad-33864431d7f3.png)

[2021-10-26 21:58] amative1 commented on #1157
Does it still only show 2 unread when you click on **(10) test 1** to view that thread specifically (it looks as though you're viewing _#test here_ instead

[2021-10-27 07:24] manavmehta commented on #1157
Yes, if I view any opened stream/threads, it shows 2 still. The actual unread count.
@timabbott could you reproduce this?
I'll try reproducing for a custom zulipchat org.

[2021-10-27 19:32] timabbott commented on #1157
I don't have a mac but perhaps @alya can try reproducing on one.

[2021-10-27 19:49] alya commented on #1157
I can't replicate, sorry.

[2021-10-27 22:35] amative1 commented on #1157
More data: I was able to replicate my bug in the Zulip Community server, in the existing (10) test 3 (10) and New Topic (2021) threads from the screenshot above.
<img width="289" alt="Screen Shot 2021-10-27 at 6 30 27 PM" src="https://user-images.githubusercontent.com/14666630/139157073-deef9331-3cd3-46b4-9d2b-6360382f63db.png">
<img width="276" alt="Screen Shot 2021-10-27 at 6 30 21 PM" src="http

[2021-10-27 23:43] #1157 closed, assigned to nobody

[2021-10-28 10:23] Aryan4786 commented on #1087
@zulipbot claim

[2021-10-28 14:50] jtollert commented on #1099
The behavior is happening on 5.5 and 5.8.1 of the Mac client.

[2021-10-28 16:41] timabbott commented on #1157
Thanks for the report @amative1!

[2021-11-05 03:54] octogonz opened #1159 "Embedded image broken in desktop app (but works in mobile app)"
**Describe the bug**

A chat message contains embedded image links.  The Zulip desktop app cannot open these links, but other Zulip apps /can/ open them.

**To Reproduce**

I encountered this in a private message: `https://rushstack.zulipchat.com/#narrow/pm-with/357793,454895-pm/near/260242681`

I'm not sure how this message was authored, but the message source looks like this:

[code]

The links

[2021-11-05 04:27] andersk commented on #1159
Clicking on the image saves it to your Downloads folder. The app should have informed you of this with a notification. Perhaps you are blocking notifications (e.g. with Windows focus assist)? Check if the notification is present in the Windows action center.

This is not a good design, and it will be changed at some point, but that’s how it works currently.

[2021-11-07 14:58] Dishti-Oberai commented on #1087
Is this issue still open? @zulipbot claim

[2021-11-09 11:17] jdenson12 opened #1161 "Zulip does not start following upgrade to Fedora 35 with NVIDIA GPU"
**Describe the bug**

I can't start Zulip following an upgrade to Fedora 35 (was on 33). The following error message is seen in the console:
[code]
It starts fine on my intel GPU laptop, although that is running Wayland.

**To Reproduce**

Fedora 35
NVidia GPU
Running KDE on X11
Try to start Zulip 5.8.1

**Expected behavior**

Zulip should start

**Desktop (please complete the following informatio

[2021-11-12 20:15] byoungb commented on #1161
So the only way I have gotten it to work since upgrading is to run it with the `--no-sandbox` flag, not ideal... but works for now.

[2021-11-12 20:19] byoungb commented on #1139
I would like to second this... since it is an electron app it is as simple as adding it to the build options!...

I have been building my own RPMs by adding `rpm` as a `target` to the `linux` build options in `package.json` and running `npm run dist`

I like the RPM because it handles the desktop files and everything for you which is nicer then having to set that all up manually with the `AppImage

[2021-11-12 20:43] andersk commented on #1139
Not saying we’re opposed to providing an RPM, but in case it helps: you can install [AppImageLauncher](https://github.com/TheAssassin/AppImageLauncher) to get automatic desktop file integration when you open an AppImage.

We also have a Flatpak [on Flathub](https://flathub.org/apps/details/org.zulip.Zulip). (Previously we didn’t officially recommend this because it lagged somewhat behind the relea

[2021-11-13 09:14] jhpratt commented on #1139
I personally use the flatpak version right now. The only issue I've encountered is the lack of a tray icon (right now it's just the default triple dots). If the flatpak is going to be officially recommended as an option, I can close this and just ask that the tray icon be added.

[2021-11-20 02:33] AndrewRayCode commented on #1109
I had a similar issue that persisted until a restart:

<img width="210" alt="Screen Shot 2021-11-19 at 6 32 15 PM" src="https://user-images.githubusercontent.com/79215/142711516-ec4e8295-3c9f-4d10-bc76-55f6b2f46229.png">

<img width="445" alt="Screen Shot 2021-11-19 at 6 32 07 PM" src="https://user-images.githubusercontent.com/79215/142711525-8e94970c-6d51-4868-a291-35a958b814bf.png">

Screenshots

[2021-12-01 11:00] blyme commented on #1146
Hi @JaggerJo

Just came across this issue by coincidence.

It should be possible. Go to *Settings* (bottom left corner) and check *Show app unread badge*
![image](https://user-images.githubusercontent.com/68547893/144222556-fed68ba8-3bd7-4648-834c-362c6c09866e.png)

This is how it is on my machine.
![image](https://user-images.githubusercontent.com/68547893/144222366-f887da1b-921a-436d-98ac-32aa36

[2021-12-02 08:01] dexpl commented on #1139
I'd like to second this as well: please, do it. Not saying I'm strictly against appimage or flatpak but Zulip Desktop is the sole item of software I have to use AppImage or Flatpak for. If building rpm is not very difficult, please provide it.

[2021-12-02 16:58] xeruf commented on #623
@abhigyank how about renaming this to "Unread count badge"? Even though I myself opened this issue back then, I could not find the setting for it until looking here again.

[2021-12-02 18:30] timabbott commented on #623
@xeruf can you bring this up in #desktop on chat.zulip.org?  Comments on closed issues are easy to miss.

[2021-12-03 11:11] xeruf commented on #623
Done: https://chat.zulip.org/#narrow/stream/6-frontend/topic/Rename.20unread.20count.20setting/near/1290697

[2021-12-05 17:40] Dishti-Oberai commented on #862
Hi ,
Can I start working on this issue ?
@zulipbot claim

[2021-12-18 08:19] zordrakk commented on #1087
@zulipbot claim

[2021-12-28 17:01] cizra commented on #991
Is it actually fixed? I'm on 5.8.1 and it still happens.

[2021-12-28 19:38] andersk commented on #991
The fix is in Git `main`; it will be part of the next release.

[2022-01-04 00:20] jahazieldom commented on #1103
With the new version the problem no longer occurs.

[2022-01-04 00:20] #1103 closed, assigned to nobody

[2022-01-04 18:22] mateuszmandera commented on #1119
This should have been fixed by https://github.com/zulip/zulip/pull/20031 and I can no longer reproduce the issue, so I think this can be closed.

@andersk Pinging, since I don't have permissions to close issues in this repo.

[2022-01-06 14:38] ghost opened #1167 "Noticeable delay when clicking on streams in the desktop client but not web browser"
**Describe the bug**

When clicking on the name of a stream that is currently collapsed (not actively being viewed), there is a noticeable delay of 1-2 seconds before the stream is expanded and the topics are visible. This delay does not occur when using Zulip through a web browser.

**To Reproduce**

Using the Zulip desktop client, click on a stream that you aren't currently viewing. Notice the d

[2022-01-15 09:37] SidharajYadav commented on #862
Respect Sir,
I'm Siddharaj Yadav a computer engineering undergraduate, Pursuing TE at D Y Patil College under (Pune University).
I am new to open source contribution but I am well aware of Python,Django,HTML and Git& GitHub. I would to contribute to your organization but could you please tell me how to get started? Gsoc
Hoping to hear from you soon
Regards
Siddharaj Yadav

[2022-01-15 09:39] SidharajYadav commented on #409
Respect Sir,
I'm Siddharaj Yadav a computer engineering undergraduate, Pursuing TE at D Y Patil College under (Pune University).
I am new to open source contribution but I am well aware of Python,Django,HTML and Git& GitHub. I would to contribute to your organization but could you please tell me how to get started? Gsoc
Hoping to hear from you soon
Regards
Siddharaj Yadav

[2022-01-15 09:41] SidharajYadav commented on #1087
Respect Sir,
I'm Siddharaj Yadav a computer engineering undergraduate, Pursuing TE at D Y Patil College under (Pune University).
I am new to open source contribution but I am well aware of Python,Django,HTML and Git& GitHub. I would to contribute to your organization but could you please tell me how to get started? Gsoc
Hoping to hear from you soon
Regards
Siddharaj Yadav

mail- sidharajyadav157@g

[2022-01-15 09:43] SidharajYadav commented on #1012
Respect Sir,
I'm Siddharaj Yadav a computer engineering undergraduate, Pursuing TE at D Y Patil College under (Pune University).
I am new to open source contribution but I am well aware of Python,Django,HTML and Git& GitHub. I would to contribute to your organization but could you please tell me how to get started? Gsoc
Hoping to hear from you soon
Regards
Siddharaj Yadav

mail- sidharajyadav157@g

[2022-01-17 05:04] SidharajYadav commented on #1070
can i contribute

[2022-01-17 05:36] SidharajYadav commented on #1037
Hey i am new to open source development and want to work on this can you please assign me this.

[2022-01-17 05:36] SidharajYadav commented on #1012
Hey i am new to open source development and want to work on this can you please assign me this.

[2022-01-18 18:51] octogonz commented on #1159
I also have this problem with regular file attachments (not images).

[2022-01-18 19:12] octogonz commented on #1159
@andersk Thanks for your explanation!  I confirmed that the files are indeed being downloaded into the Windows "Downloads" folder.

Part of the confusion is that the loud beep sounds like an error.  As far as I can tell it's not one of the default Windows system sounds.  For example, if Zulip played the system sound called "Notification", that would sound more like success instead of failure.

Tha

[2022-01-18 21:55] andersk commented on #1012
@SidharajYadav Start at our documentation about [contributing to Zulip](https://zulip.readthedocs.io/en/latest/overview/contributing.html). Please don’t comment on GitHub issues with unrelated questions.

[2022-01-20 22:24] eMPee584 opened #1168 "libappindicator3-1 not in Debian Bullseye, 5.8.1 .deb not installable"
The recent release of zulip depends on `libappindicator3-1` which seems to be an ubuntu-only package, rendering the package impossible to install on current debian. Maybe the `libayatana-appindicator3-1` package can fit the purpose?

[2022-01-21 09:27] youthpolicy commented on #1119
Edited – sadly my happiness was premature (wrote earlier "happy to confirm that in our setup the error has been fixed with 4.8") but the issue persists, though in private messages only.

<img width="372" alt="Screenshot 2022-01-21 at 11 55 35" src="https://user-images.githubusercontent.com/2648133/150515502-739fc3c6-5d09-43b4-a7c7-bd337e1ceef2.png">

[2022-01-24 19:55] mateuszmandera opened #1169 "Support for mTLS Client Cerificates"
Similarly to the equivalent issue for the mobile app (https://github.com/zulip/zulip-mobile/issues/3195), we might want to implement support for Client Certificates in the desktop app, to support deployments which may require them to connect.

[2022-01-30 17:49] tomoem commented on #1061
Similar problem here. With "Unread count summary" enabled, the tray icon appears like this: ![image](https://user-images.githubusercontent.com/97040890/151710885-a75c7cff-f869-46af-96bc-7f369af88d37.png) and I've only 5 unread messages.

Zulip Desktop v5.8.1 (AppImage)
OS: Manjaro KDE

[2022-02-08 11:22] r0nz-29 commented on #1082
can I work on this issue ?
@zulipbot claim

[2022-02-10 15:37] umataro opened #1171 "allow control of GIF autoplay (e.g. stop after N seconds OR don't autoplay at all)"
**Problem Description**

GIFs consume too many resources. Even on new-ish laptops, a page with 2-3 animated GIFs uses 10-25% of CPU. This is immediately noticeable on battery life and fan noise. Some people also find them distracting/irritating.

**Proposed Solution**

Possible solutions:
* per user setting to < disable | stop after N seconds | enable > gif autoplay
* per organisation setting to <

[2022-02-15 19:40] alya opened #1172 "Visual improvements when left sidebar is scrollable"
**Describe the bug**

When there are enough organizations in the left sidebar to make it scrollable, there are a couple of things that look awkward:

1. The scroll bar overlaps with the unread counts.
2. The amount of space at the top (above the fist org) and the bottom of the scrollable part (above the bell) seems unnecessarily large.

**To Reproduce**

Make left sidebar scrollable.

**Screenshot

[2022-02-17 20:27] timabbott commented on #1171
Yeah, this is a very annoying problem with animated GIFs across the web.  We're working on this issue in the Zulip webapp (and thus implicitly the desktop app as well); it's already been addressed for status emoji.  See e.g. https://github.com/zulip/zulip/issues/13434.

[2022-02-17 20:27] #1171 closed, assigned to nobody

[2022-03-06 08:07] eXtrem0us commented on #1168
According to this [Redit topic](https://www.reddit.com/r/debian/comments/pn1oia/what_happened_to_libappindicator31_in_debian_11/) and this [Debian release note](https://www.debian.org/releases/bullseye/amd64/release-notes/ch-information.en.html#noteworthy-obsolete-packages):

Debian is using **libayatana-appindicator** as the successor of **libappindicator**.

It seems it would affect Ubuntu relea

[2022-03-17 11:36] hbelmiro opened #1185 "Zulip doesn't send desktop notifications on Fedora"
Zulip doesn't send desktop notifications on Fedora.

**To Reproduce**

Receive any message.

**Expected behavior**

A desktop notifications should be sent.

**Desktop (please complete the following information):**

- Operating System: Fedora 35 x64
- Zulip Desktop Version: 5.8.1

[2022-03-25 14:58] roberto-arista opened #1187 "Cannot close the app from full screen mode on macOS"
**Describe the bug**

Hitting the red button (close window) during full screen mode on macOS does not close the app

**To Reproduce**

1. set the app to full screen
2. close the app with the red button

**Expected behavior**

The app should close and exit from full screen mode

**Screencast**

https://user-images.githubusercontent.com/2218712/160145666-223974b1-c032-4e1f-bd0c-618bea287002.mov

**D

[2022-03-30 05:30] supriya-045 commented on #578
@zulipbot claim

[2022-04-02 01:52] andersk commented on #1161
Based on the linked issues, I expect this is fixed by the Electron upgrade in #1178. Let us know if v5.9.0 doesn't fix this.

[2022-04-02 01:52] #1161 closed, assigned to nobody

[2022-04-02 05:30] andersk commented on #1168
The upstream fix (develar/app-builder#53) was pulled in by #1178 for v5.9.0.

[2022-04-02 05:30] #1168 closed, assigned to nobody

[2022-04-02 05:40] andersk commented on #1071
This happens in the server’s web frontend, and is a duplicate of zulip/zulip#18789.

[2022-04-02 05:40] #1071 closed, assigned to nobody

[2022-04-04 11:03] inc-baba opened #1195 "Issue resolved"
Issue resolved

[2022-04-05 07:48] #1195 closed, assigned to nobody

[2022-04-05 07:48] inc-baba commented on #1195
Issue resolved

[2022-04-06 14:06] Pantyhose-X opened #1196 "Group Channel Categories"
**Problem Description**

Each channel is a different space where conversations can take place.

**Proposed Solution**

![session](https://user-images.githubusercontent.com/42504385/161181593-ffde10b8-7ed7-4a1e-83e5-e6bc96320bc8.jpg)

[2022-04-07 02:49] #1196 closed, assigned to nobody

[2022-04-07 19:55] hbelmiro commented on #1185
I found we can define the notification settings for each organization.
Right click on the organization > Notification settings > Notifications > Check Visual and Audio for Desktop

![Screenshot from 2022-04-07 16-48-23](https://user-images.githubusercontent.com/11776454/162285424-8c4bfb68-131b-40dc-a389-ab136a452a6e.png)

![Screenshot from 2022-04-07 16-49-28](https://user-images.githubusercontent

[2022-04-07 19:55] #1185 closed, assigned to nobody

[2022-04-08 10:52] Aa100100 opened #1197 "9"
**Problem Description**

**Proposed Solution**

**Describe alternatives you've considered**

**Additional context**

[2022-04-08 10:52] #1197 closed, assigned to nobody

[2022-04-08 11:32] rmueller83 opened #1198 "Updater does not respect architecture"
On Mac OS 12.3.1 I had Zulip-5.8.1-arm64.dmg installed.
I got an update message and used the integrated mechanism to update to 5.9.0.
Afterwards I had Zulip-5.9.0-x64.dmg installed.
I manually had to download and install Zulip-5.9.0-arm64.dmg to have the version with the previously used architecture.
My colleagues experienced the same.

[2022-04-15 15:03] raquelbryant commented on #409
@zulipbot claim

[2022-04-15 20:15] evinr opened #1202 "Blurry organization icons in the controls container"
**Describe the bug**
Icons in the control container appear out of focus and blurry.
![Screenshot from 2022-04-15 13-17-24](https://user-images.githubusercontent.com/1620062/163627957-37b4f302-c61b-499d-bb3f-e1adcb0f0601.png)

**To Reproduce**
Join an organization that has a custom organization icon. Look at the icons on the left of the screen that allow you to navigate between different organizati

[2022-04-15 20:18] evinr commented on #1202
@zulipbot claim

[2022-04-15 20:24] evinr commented on #1202
https://github.com/zulip/zulip-desktop/pull/1203

[2022-04-15 21:31] suyashrastogi7 commented on #1087
@zulipbot claim

[2022-04-16 08:28] manila commented on #1012
Any chance I could take this a little further? I built off of #1043 and added a UX similar to the one's found in the mobile apps

Here is what it could look like:

![zulip-desktop-autofill](https://user-images.githubusercontent.com/3621543/163668080-6715c9c8-27ab-481d-a33e-a6e64cf7844d.gif)

let me know and I'll make a new PR for this issue

[2022-04-18 20:52] manila commented on #1012
@zulipbot claim

[2022-04-20 07:39] janakmulani opened #1205 "Windows client crashes shortly after starting"
**Describe the bug**

I installed Zulip 5.9.1 on Windows 11. But if I enter URL to my company server and clk Connect or even if I choose from menu Help > About Zulip, it just crashes! There is nothing in the error logs : <User Home>AppData\Roaming\Zulip\Logs\errors.log

**To Reproduce**

1. Install Zulip v 5.9.1 for windows desktop.
2. Start zulip
3. Choose Help > about Zulip from menu
4. Or enter

[2022-04-21 05:38] andersk commented on #1205
This was an upstream Electron bug that we previously reported at electron/electron#33693. It was fixed in Electron today, and we’ve released Zulip Desktop 5.9.2 including this fixed version of Electron.

[2022-04-21 05:38] #1205 closed, assigned to nobody

[2022-04-22 10:49] ghost opened #1208 "Emojis appear blurry"
**Describe the bug**

Since a couple of weeks (probably since I upgraded to 5.9.0), emojis appear blurry on my machine using zulip-desktop, connected to a selfhosted Zulip instance:

![image](https://user-images.githubusercontent.com/62649196/164699557-4a936cd5-aff3-4f9b-8bab-66375f9e30f3.png)

I have the same behaviour when being connected to chat.zulip.org:

![image](https://user-images.githubus

[2022-04-22 22:20] bsureshkrishna opened #1209 "Windows: unable to install 5.9.1 or 5.9.2"
Hi,

Since 5.9.1 (and also for 5.9.2) of Zulip app, trying to run the installer hangs in between with an error message saying "unable to close Zulip" etc.. also happens if done right after restarting, without a Zulip app running. I have tried running the installer directly, and also via the Zulip app, no difference. Also unable to uninstall the existing Zulip 5.9.0, again get the same error..

Thi

[2022-04-22 22:32] bsureshkrishna commented on #1209
OK... could fix by manually deleting Zulip installation folder and then reinstalling.. but looks like, for me, automatic update is broken right now. Thanks !

[2022-04-23 04:22] raquelbryant commented on #1053
@zulipbot claim

[2022-04-24 14:25] raquelbryant commented on #1053
Working on a pull request but having issues passing some checks

[2022-04-25 09:27] Atygor opened #1210 "Zulip on Active Directory working in 5.8.1 and not Working in 5.9.2"
Instead of running as intended for low priviledged users, on the same server, it requires to run as an administrator since the update, but we really don't want to grant them admin rights.

Why is that?

Is there a way to disable Update Notifications? Since in both of current ways Zulip results in being not usable for our specific needs.

[2022-04-26 06:49] dalstede commented on #1210
We're having the same problem. Windows Server 2019 x64 Terminal Services environment and users have no administrative permissions. Working fine with 5.8.1 until yesterday, now after the Update to 5.9.2 the desktop application does not open on login and users don't seem to be able to open the application manually.

Executing as Administrator seems to work but won't help the users. Users also are id

[2022-04-26 06:56] Atygor commented on #1210
What i did, maybe it helps: rollback to 5.8.1 and then edit the Zulip settings.json (in user Appdata) in order to disable Auto-Update. That way it is running and not spaming that insisting Push Notification.
Greetings.

[2022-04-26 07:32] dalstede commented on #1210
Thank you for the follow up. I'll probably have no choice. I checked with the few users that were only and they were either using the web version or a user profile local version in AppData\Local\Programs\Zulip.

[2022-04-27 23:39] andersk commented on #1210
I can’t reproduce this. When testing with a low-privileged user on Windows 10 (member of the Guests group), I have no problems installing 5.9.2 for myself, upgrading 5.8.1 to 5.9.2 for myself, using 5.9.2 if it was installed system-wide by an administrator, or upgrading to 5.9.2 for myself if 5.8.1 was installed system-wide by an administrator. No administrative rights are required.

Can you clari

[2022-04-27 23:59] Atygor commented on #1210
Well we have strongly restricted users, and when I updated it and/or reinstalled it system wide as administrator, only one low privileged user could open up the programm normally, the second to start would not get anything, no start up of the app nore notification why, if I would start the programm on the same low privileged user as admin, filled in uac, I could have it start and then could run mu

[2022-04-28 00:35] andersk commented on #1210
Running the system-wide installation of 5.9.2 from two different users in the Guests group works fine for me.

[2022-04-29 02:47] manila commented on #1012
It looks like this could still be up for discussion so I'll remove myself from this issue. There is likely a better solution for this, and if this continues to remain open I may take another shot at it :)

[2022-04-29 02:48] manila commented on #1012
@zulipbot abandon

[2022-04-29 06:45] Nothorse opened #1214 "5.9.3 will not run on MacOS 12.3.1"
**Describe the bug**

Release 5.9.3 on intel Mac will not start. The Finder pops a message that the app is damaged and needs to be moved to the trash.

**To Reproduce**

Download the dmg and try to install.

**Expected behavior**

I expect it to run.
**Screenshots**

**Desktop (please complete the following information):**

- Operating System:

MacOS 12.3.1 Intel Macbook

- Zulip Desktop Version:

[2022-04-29 07:33] andersk commented on #1214
That sounds bad. I can’t reproduce though.

Can you confirm the SHA-256 hash of the .dmg file you downloaded, just to make sure we’re talking about the same file and that it was downloaded correctly? You can do this in Terminal by running a command like:

[code]

[2022-04-29 07:45] Nothorse commented on #1214
`shasum -a 256 ../web/Zulip-5.9.3-x64.dmg
ac6f1aadc02dfe1ba04193f67f5f081b6f22d2bfde40c18956071e6cec9c390f  ../web/Zulip-5.9.3-x64.dmg`

[2022-04-29 08:00] andersk commented on #1214
Hmm, that’s the correct file.

This is going to sound silly, but have you tried rebooting? (Articles such as [this one](https://osxdaily.com/2019/02/13/fix-app-damaged-cant-be-opened-trash-error-mac/) suggest that may resolve this error in some cases.)

Also check that your system clock and time zone are set correctly—go to https://time.gov and look below the analog clock for a message like “Your

[2022-04-29 08:13] Nothorse commented on #1214
OK, rebooting fixed it.

The ways of MacOS are sometimes very mysterious. Thanks!

[2022-04-29 08:13] #1214 closed, assigned to nobody

[2022-04-30 23:44] ykabusalah commented on #1087
@zulipbot claim Hello, could I please try solving this issue? And if so, would you mind assigning it to me?

[2022-05-02 07:03] dalstede commented on #1210
I don't know if OP also uses a Windows Remote Desktop Services environment but that's where I encountered the Problem. On the RDP Client (Windows 10) I could install 5.9.2 as the Administrator and run it as unprivileged user. In the remote sessions however the unprivileged users could not open Zulip. Per the zulip client settings it was configured to open on startup but it didn't. When users click

[2022-05-04 15:22] Atygor commented on #1210
Yes, indeed we are using Windows Remote desktop, with one centralised install and for each user own appdata config, I think that the users had no access to one of the new files in install folder, if it was already opened in an other instance.

[2022-05-08 07:03] wilbq opened #1215 "Zulip desktop on windows failed adding new organization while self-hosted zulip-server shutdown"
A zulip-desktop was installed on my windows computer, and connected to a self-hosted zulip-server.
It worked well until the zulip-server was shutdown.
Each time after the zulip-desktop start-up, it seems to try connecting to the old zulip-server which already
disappeared.
I can not remove the old organization, and can not add a new one either.
Even a re-installation did not solve the problom.

- O

[2022-05-19 11:39] flaviozluca opened #1217 "Zulip in the taskbar"
Just a note, friends. I've had some strange issues with Zulip in the task bar in Win 11, when I customize the task bar, to make it appear always, for example, I see it twice.
Right now, for example, oddly it appears once with its icon and 1 more time with my Bluetooth icon.

Might wanna check out the software in this area. Could be something just on my side, of course.

See

![image](https://user-

[2022-05-19 11:44] flaviozluca opened #1216 "Feature request: spell checker langs not so clear"
Friends,

A small suggestion. In the app settings, Spellchecker languages is not so friendly, in terms of usability.

One needs to know he has to type English (US) for US English dictionary...

Since the languages are in english, sometimes they differ, from the way theyre written in the native language. Portuguese, for example, there's Portuguese (Brazil) and Portugues, which surely is related to

[2022-05-22 16:26] Skgland commented on #1209
I just had the same problem going from 5.9.0 to 5.9.3 .
Manually deleting the installation folder and its content allowed for the Installation to continue passed the point where it attempts to close Zulip and fails even though it is not running already.

[2022-05-25 07:38] foto-andreas commented on #1215
Workaround: Edit %USER_HOME%\AppData\Roaming\Zulip\config\domain.json and remove the wrong domain. This is a total show stopper for the users!

Also happens on Mac. I think it can be changed under $HOME/Library/AppSupport/Zulip...

Andreas

[2022-05-25 12:01] AndreasBackx opened #1220 "Keeps loading when starting up on login when no internet is available yet"
I start Zulip when I login with [swaywm](https://swaywm.org/), see [my config](https://github.com/AndreasBackx/dotfiles/blob/master/.config/sway/base#L129). Zulip seems to be then forever stuck in the loading spinner animation, not even showing the Zulip logo yet. I would assume that this is because the network hasn't started yet or is being changed and it fails to retry properly. What fixes it, i

[2022-05-26 22:44] alexmv opened #1218 "Previous organization which no longer resolves in DNS shows an empty window at startup"
**Describe the bug**

If the user previously had a working Zulip install at `https://chat.zulip-nonexistant.org/`, but it has since vanished fully form DNS, starting up produces a white window.

The logs do contain:
[code]
...but that is not displayed to the user

**To Reproduce**

1. Log into a real Zulip server.
2. Quit the app.
3. Edit `domain.json` (e.g. in `~/Library/Application Support/Zulip

[2022-05-31 18:05] evinr commented on #1202
Bumping this. Any ideas on how this fix can be accepted?

[2022-06-06 22:56] alya opened #1219 "Open Zulip links in Desktop app (cross-org)"
**Problem Description**

[Reported on CZO](https://chat.zulip.org/#narrow/stream/16-desktop/topic/cross-organization.20links):

**Proposed Solution**

Change the Desktop app's link handling logic to open the link in-app if the user has the organization in their Desktop app.

[2022-06-22 00:23] ehuss opened #1222 "Cannot upgrade macos desktop"
I currently have v5.7.0 installed. When I start the Zulip desktop app, I get a notification that 5.9.3 is available.
<img width="274" alt="image" src="https://user-images.githubusercontent.com/43198/174917180-a5027ee1-56d9-4cf0-889c-4ed19d30dd35.png">
Clicking "Install and Relaunch" causes the desktop app to exit, but it does not restart.
Starting the Desktop app again, it is still on the 5.7.0 ve

[2022-06-22 00:30] andersk commented on #1222
This is known and was fixed in 5.9.3, but the fix only takes effect when upgrading from 5.9.3 or later.

In order to upgrade to 5.9.3, you can click **Install Later**, then **Quit** from the menu bar and re-open the application yourself. This should allow the automatic upgrade to proceed.

Or you can always download the latest version manually from https://zulip.com/apps/.

[2022-06-22 00:30] #1222 closed, assigned to nobody

[2022-06-24 17:13] carefulguy opened #1223 "Windows desktop app always in full screen mode"
**Describe the bug**

The desktop app seems to be in full screen mode since there is no top bar to close / minimize etc, and it covers windows shortcut bar on bottom.

**To Reproduce**
Get desktop app on Windows 10.

**Expected behavior**
Not be in full screen mode.

**Screenshots**

**Desktop (please complete the following information):**

- Operating System:

- Zulip Desktop Version:

**Addition

[2022-06-24 17:16] #1223 closed, assigned to nobody

[2022-06-24 17:24] gadanidis commented on #1208
Also experiencing this on 5.9.3-1; it seems likely to be related to #1202. For me it occurs for almost all images (including user avatars, etc.)

Also note the (yet-to-be-merged) fix for #1202 in #1203. Seems likely a similar fix would work more generally.

[2022-06-28 21:01] DavidCdeB opened #1224 "Tray icon looks strange and doesn't show unread messages"
When I launch Zulip, the tray icon is shown in green (second from the left), looks strange and does not show unread messages:
![notif](https://user-images.githubusercontent.com/18029016/176286369-780bf0ed-d9e4-4e2f-9bec-74c9ebd1918d.png)

Notifications are enabled in Zulip's Settings

GNOME 42.2
Linux version 5.10

Many thanks for your help.

[2022-07-08 15:54] flaviozluca opened #1225 "Reconnection issue on startup"
Friends,

Sorry, I didn't know there was a specific repo for the desktop app, so I had opened the issue here, originally: https://github.com/zulip/zulip/issues/22243

Sometimes Zulip desktop app stalls on startup, keeps trying to load forever. 5.9.3 desktop app on Win 11.

Video attached. Over 30 min later, still it wont reconnect. I close Zulip, reopen it again, it immediatly connects.

https://u

[2022-07-14 17:14] Parth-ops opened #1226 "Highlighting the menu bar options on hover."
**Problem Description**
The menu bar options (File, Edit, View, History, Window, Tools, Help) are not highlighted on hover (mouse-over) making it an ambiguous interaction.
![current](https://user-images.githubusercontent.com/63533466/179042421-b902b077-ccb6-495e-b88a-71e6060801f7.jpg)

**Proposed Solution**

The menu bar options (File, Edit, View, History, Window, Tools, Help) can be highlighted o

[2022-07-25 09:03] oyale opened #1228 "Zulip client doesn't launch on Manjaro - vaapi_wrapper error"
It's likely the bug is not from Zulip, but I'm filling out this bug report just in case anyone could help me.

**Describe the bug**

Zulip (AUR version) client doesn't load. It was working with no problems until today.
When launching from GUI, nothing happens. See below the output from terminal.

**To Reproduce**

Launch Zulip client.

**Expected behavior**

The Zulip client is opened.

**Desktop:

[2022-07-28 06:46] schitzosteve2 commented on #591
Hi @priyank-p ! This was once fixed but since some releases, it‘s not working anymore. This means if we start Zulip with configured proxy before VPN connection is up, Zulip won‘t connect. Only thing that helps is completely restarting the app after VPN connection is established.
Maybe your fix was lost in recent releases?

[2022-08-05 07:16] Parth-ops commented on #1226
@zulipbot add "good first issue"

[2022-08-05 07:16] Parth-ops commented on #1226
@zulipbot claim

[2022-08-05 07:17] Parth-ops commented on #1226
@zulipbot add "help wanted"

[2022-08-05 07:17] Parth-ops commented on #1226
@zulipbot claim

[2022-08-08 10:36] flauschzelle opened #1229 "blank menus and crashes after using menu bar or right click"
**Describe the bug**

When I right-click on anything, or click on any of the items in the menu bar (except 'help'), a blank rectangle without visible menu text is displayed. Shortly after that, the app becomes unresponsive and I have to click "wait" (sometimes more than once) before I can use it again.

**To Reproduce**

Right-click on a link in a message or left-click on an item in the menu bar.

[2022-08-19 11:36] ghost commented on #1229
I had the same problem with Zulip 5.9.3 on Ubuntu 22.04, but *only* if Zulip was installed as a snap package. I remove the snap package, downloaded and installed the AppImage of Zulip 5.9.3 instead, and the problem was gone. It seems like there is an error in the snap package for Ubuntu 22.04. The snap package on an older Ubuntu 20.04 worked fine.

[2022-08-27 05:33] dePoPo commented on #1218
ran into this when moving from a local installation to a zulip cloud account. Additionaly, uninstalling the desktop client on windows does not remove the previous settings, so reinstalling does not help.

Workaround: clearing out %appdata%\roaming\zulip folder (windows client) was needed to trigger a fresh configuration dialog.

[2022-08-29 15:12] namse opened #1232 "Windows taskbar icon notification always flashing on start"
**Problem Description**

When I start up windows, Zulip icon on taskbar always flashing even though there are no new messages.

Personally, this makes me a little nervous. Obviously, I was using my smartphone well until I turned on the computer, so if the icon suddenly flickers, it makes me worry that there are messages I haven't seen.

**Proposed Solution**

No flashing like other apps

[2022-08-31 22:04] cossio commented on #548
I would really like to have this feature as well. Unfortunately it seems that the mentioned PR https://github.com/zulip/zulip-desktop/pull/1059 is stale. Are there updates happening somewhere else?

[2022-09-03 07:02] namse opened #1233 "Prevent Send message during uploading image"
**Problem Description**

If I send a message by pressing enter while uploading an image, a message will be sent during the image upload. The problem is that the image is still being uploaded, so the message `[Uploading image.png…]()` is sent.

**Proposed Solution**

I want you to block sending messages while images are being uploaded.

**Describe alternatives you've considered**

The best thing is

[2022-09-03 08:40] andersk commented on #1233
Duplicate of zulip/zulip#21135.

[2022-09-03 08:40] #1233 closed, assigned to nobody

[2022-09-06 19:10] Alizter opened #1235 "Zulip hanging with white screen"
Hi, I've installed Zulip with nix using
[code]

But I cannot start Zulip at all. When I try to I get the following in the terminal and Zulip opens a blank window:

<details>
<summary> $ zulip --verbose </summary>

[code]

</details>

Nix reports the Zulip version as 5.9.3.

[2022-09-07 07:03] Jellby commented on #1061
Same here. Kubuntu (18.04 & 20.04), Zulip 5.9.3 (snap). See https://chat.zulip.org/#narrow/stream/16-desktop/topic/Tray.20icon.20broken.20on.20KDE

[2022-09-07 17:44] SerGinger opened #1236 "FR - Desktop App Take Focus on Notification"
**Problem Description**

Due to available screen space on a dual monitor solution, users have to choose two of three apps to have full screen and always available: our ERP software, email, Zulip. As ERP is required for daily activities and email will include messages from outside the company (i.e. customers/vendors) Zulip is typically in the background and often times forgotten, particularly if aw

[2022-09-07 19:45] wynandt-sa opened #1237 "The Presence feature on the app does not not function"
Hi all

I am running Zulip in docker. running version 5.5. I have 3 instances of Zulip in docker,

On 2 of them the presence works as intended, Yello, Red, Green and Opaque

In this once instance it is just showing that they have been "last active 2 weeks ago" and does not update as it should.

<img width="46" alt="Screenshot 2022-09-07 at 21 42 35" src="https://user-images.githubusercontent.com/4

[2022-09-07 19:51] wynandt-sa commented on #1237
<img width="365" alt="image" src="https://user-images.githubusercontent.com/45233984/188964657-8c40675b-dd6d-4b01-8199-eb4379f9b830.png">
 This is enabled

[2022-09-11 03:54] bendyarm commented on #1113
~~Also having this problem on Zulip v5.9.3 on macOS Catalina 10.15.7.~~
That was due to user error.  I see now that it downloaded.
Duplicate file numbering is nonstandard, which misled me when I glanced at the downloads.

[2022-09-12 17:48] tjefferson401 commented on #1226
@zulipbot claim

[2022-09-12 17:51] tjefferson401 commented on #1226
@zulipbot unclaim

[2022-09-14 14:14] dedisoft commented on #1210
Hi,
Same here. Each user has Zulip installed on their own profile (app-data).
So they are all rights on folders used by Zulip.
But since 5.9 version, Zulip refuse to start. The program starts and then close without any errors or error on any log file.
How can we enable a debug log at startup ?
Thanks

[2022-09-15 08:17] dedisoft commented on #1210
Hi,

As I see, Zulip Desktop use Electron 18.0.1.

Electron 18.2.2 includes a fix for "crash on Windows when opening apps in multiple, separate user sessions.".

https://www.electronjs.org/releases/stable?version=18&page=2
https://github.com/electron/electron/pull/34161

Perhaps this is the cause of the bug.

Can you try using Electron 18.2.2 ??

Thanks !

Regards,

[2022-09-15 17:58] DavidPyke opened #1238 "Caches don't purge themselves"
**Describe the bug**

I have been using Zulip for the FHIR chat for several years.  The Cache and Code Cache directories had filled to unbeleivable levels (750MB and 50MB respectively).  This has caused the app to slow down massively.  Manually deleting these two directories fixed most of the problem but marking a stream as read is still slow
**To Reproduce**

Just use the desktop app daily for ye

[2022-09-20 09:20] #1226 closed, assigned to nobody

[2022-09-20 09:22] Parth-ops commented on #1226
This issue is related to Electron and not Zulip.
A similar issue could be found here : https://github.com/electron/electron/issues/34939

[2022-09-20 16:06] g-bohvalov opened #1239 "Hardware Acceleration - Setting"
**Problem Description**

Nvidia Hardware Acceleration issue

As of release [5.6.0](https://github.com/zulip/zulip-desktop/tree/v5.6.0), where you have reverted the following changes https://github.com/zulip/zulip-desktop/commit/fb74251a2cfebdb7b4e7992999f093028852d426, Nvidia users started to struggle with that Chromium/Electron + Nvidia Driver issue, which was introduced with the driver release f

[2022-09-21 18:52] LadnerJonas opened #1240 "Move away from electron"
**Problem Description**

Electron has serious security flaws and is also using a high amount of memory

**Proposed Solution**

By using https://tauri.app/, which is like electron but written with rust and way better security. More efficient as well

### Comparison between Tauri and Electron

| Detail                     | Tauri  | Electron             |
| -------------------------- | ------ | ----

[2022-09-21 19:30] andersk commented on #1240
Yep, we’ve been following Tauri development with excitement for the last two years, and switching to it is [planned](https://zulip.readthedocs.io/en/latest/contributing/gsoc.html#electron-desktop-app).

[2022-09-24 07:00] Abastro commented on #1224
Getting the same issues, I wonder if this is because it is installed through snap.
EDIT: Installed through apt, same issues. I inspected using dbus, the icon itself is rendered weirdly.

[2022-09-24 09:36] DavidCdeB commented on #1224
@Abastro

EDIT: Installed through apt, same issues.

Thanks for reporting.
I use an Arch Linux-based distribution, hence these kind of programs are available in Arch Linux's AUR repository, where e.g. Zulip is to be found here: https://aur.archlinux.org/packages/zulip-desktop
I did not manually build, but used the usual automated tool: `yay -S zulip-desktop`

[2022-09-24 09:52] Abastro commented on #1224
Yep, in my case I installed it on ubuntu with zulip's official ppa. It seems universal on linux, at least those which rely on StatusNotifierItem protocol. (I use custom system tray)

[2022-09-24 12:10] vrozkovec commented on #1220
Same behavior for me. Reload nor Hard reload fixes the issue. Need to close and open the app. Using latest 5.9.3 version installed via APT on Linux Mint 20.3

[2022-09-24 15:32] vrozkovec commented on #1225
Related / duplicate of: https://github.com/zulip/zulip-desktop/issues/1220

[2022-09-28 06:57] dedisoft commented on #1210
Hi,

For our internal needs, I've compiled Zulip desktop using these versions of eletron (by modifying package-lock.json file) :

        "electron": "^18.3.14",
        "electron-builder": "^23.5.1",
        "electron-notarize": "^1.2.1",

Zulip desktop now runs fine on our Windows Server 2022 environment.

Regards,

[2022-10-04 15:05] xchemax commented on #1210
Same problem here, 2 users without administrative permissions can't run on the same server with Remote Desktop Services. Tested on Windows 2012 and 2022.

[2022-10-07 00:29] just-max commented on #1202
I have the same issue. Do emojis also look blurry? Also, do you have hardware rendering turned on? In my case, the answer to both is yes. I've also tried the `image-rendering` fix as custom CSS.

Unfortunately, the change with `image-rendering: -webkit-optimize-contrast;` doesn't fully fix the issue. The root cause is apparently a "problem" in Chromium's image scaling algorithms when hardware acce

[2022-10-07 19:22] batistein commented on #1139
I added a PR which adds an rpm target. It's already successfully used by several people for about a month. See: https://github.com/batistein/zulip-desktop/releases

[2022-10-10 08:35] nothingismagick commented on #1240
Amazing. Ping us (the Tauri team) on discord if you run into any issues!

[2022-10-10 15:02] xchemax commented on #1210
I have compiled 5.9.3 with the electron versions indicated by dedisoft and works perfectly. Thanks dedisoft!

[2022-10-13 11:08] hmgaudecker opened #1241 "Zulip Snap App cannot access files outside of /home"
On Ubuntu, I have almost all my files on a disk that is not mounted under `/home`. I cannot drag and drop any files from there into the Zulip app. I cannot change the setting either because the Zulip Snap App seems to be missing the relevant plug (`zulip:removable-media`):

[code]

This page explains it very well: https://askubuntu.com/questions/1228899/how-to-access-files-outside-of-home-in-snap-

[2022-10-13 14:47] nicholsk18 commented on #1202
For my organization making these adjustments for main.css file worked great.
For `.tab .server-tab` I changed the height to be auto, and set the padding to 0.
For `.tab .server-icons` I changed the width to be 100%

Now since not everyone uploads same size images, you could possibly add a max-height to  `.tab .server-tab` selector to limit any issues with longer images. Here is an example of full

[2022-10-13 22:05] just-max commented on #1202
This also affects profile pictures and emojis though, at least in my case.

[2022-10-14 08:10] lukors opened #1242 ""View message source" does nothing"
**Describe the bug**

Pressing the three dot menu and then "view message source" on a message does nothing.

**To Reproduce**

1. Press the three dot menu on a message
2. Press "view message source"

**Expected behavior**

It should show the message's source.

**Screenshots**

[Kazam_screencast_00001.webm](https://user-images.githubusercontent.com/1719884/195800954-78fd11ab-a556-4bf6-bf73-2531379a

[2022-10-14 11:34] nicholsk18 commented on #1202
@just-max for me personally `image-rendering: -webkit-optimize-contrast;` works great. After doing a bit of messing around with CSS I also noticed changing the width of profile photos and emojis to make them clear as well.
[code]
Might not be the ultimate answer, but should be better than having blurry images.

[2022-10-14 11:53] hvisage commented on #1218
Yeah, same trouble macOS ;(
I can't now add, new organizations, neither delete the "faulty" one ;(

[2022-10-20 12:01] erikdstock commented on #1235
I'm not sure this is the same issue, but i have a white screen as well - installed on macOS via download from the website.

[2022-11-03 07:44] cossio opened #1244 "Zulip desktop app keeps logging me out"
Whenever I start the Zulip desktop app after some time without using it (say a couple of weeks) I always have to log back in, to all the sites. Is there a setting I can toggle to make Zulip remember my logged in status?

I am on MacOS.

[2022-11-16 08:18] tmichela opened #1247 "Malformed links crash the client"
**Describe the bug**

Having a malformed hyperlink cause the desktop client to crash.

**To Reproduce**

write a comment with a malformed link and click on it, e.g. `[this is a link](this is not an url)`

**Expected behavior**

no crash

**Desktop (please complete the following information):**

- Operating System: macOS 11.7.1
- Zulip Desktop Version: 5.9.3

[2022-11-17 19:33] alxsimon opened #1248 "Zulip flatpak silently closing/crashing in background"
**Describe the bug**

Bug happens randomly.
When putting zulip in the background, I can initially see the tray icon and it's present in the open apps in the dock.
However sometimes I realize after some time that it has silently closed itself or crashed.
No crashed report is produced. So it closes unexpectedly and silently.

**To Reproduce**

No idea, as it's in the background I don't know what's t

[2022-11-24 13:25] CarloLucibello commented on #547
It seems this feature has been removed, see https://github.com/zulip/zulip-desktop/issues/640, can we reopen the issue?

[2022-11-24 13:29] CarloLucibello commented on #547
Related issue is #664

[2022-11-28 12:38] RobbinPiktiv opened #1250 "Zulip sometimes stop updating for me, so that I don't receive any new messages until I restart the software."
**Describe the bug**
Zulip sometimes stop updating for me, so that I don't receive any new messages until I restart the software. It happens both for me and several of my collegues. My internet connection has been stable when it has happened.

I noticed that when I can see the Z icon in the top of a chat, then there is a blue effect circling the icon. I would assume it means that something is load

[2022-11-29 02:11] alxsimon commented on #1224
Same here, dot icon without unread messages count.
Installed through Flatpak on Fedora 37.
(Zulip is the most-left tray icon)
![image](https://user-images.githubusercontent.com/9567176/204421469-34691007-efb4-4635-8394-315d11c17593.png)