[2018-08-23 13:25] #541 closed, assigned to nobody

[2018-08-24 11:42] Katylar opened #545 "Can't switch organizations (Just one organization is displayed despite switching)"
Hi!

I just recently installed the Windows Desktop app, and immediately encountered an issue. I'm currently a member of 2 different organizations-- one is at "domain.com" and the other is at "sub.domain.com".

I was able to add and sign in to both orgs without issue. The icons/avatars for both orgs appear correctly in the sidebar, and the actual zulip interface showed correctly. But then I get a c

[2018-08-24 11:52] abhigyank commented on #545
This is quite interesting and must be a corner case of some sort. @akashnimare  Can you reproduce this?I'll try reproducing this on linux also.
@Katylar  Is it possible for you to mention the organization urls for testing purpose if they are public?

[2018-08-24 12:05] Katylar commented on #545
Sure. They're brand new, though.

Unfortunately, they're private (they're for internal communications for my company)

For reference, though: vmgnet.work and vividhouse.vmgnet.work.

Video demonstrating the issue: https://gfycat.com/GreedySerpentineFrogmouth

[2018-08-24 12:20] abhigyank commented on #545
@timabbott Do you think this might have something to with sessions or cookies being of the same base domain?

[2018-08-27 05:50] timabbott commented on #545
@abhigyank I think so.  @Katylar Zulip does not recommend hosting organizations at both a root domain and a subdomain of that domain on the same server; the way browsers handle cookies, no user can be logged into both from the same browser.  So you should rename `vmgnet.work` to `foo.vmgnet.work`, and that should resolve the problem.

[2018-08-27 08:41] akashnimare commented on #545
@Katylar can you try above solution and see if this fixes the issue?

[2018-08-27 16:06] Katylar commented on #545
@timabbott, how do I go about renaming the vmgnet.work organization?

I mean, when I was installing and configuring Zulip, the first organization created was at vmgnet.work (I wasn't really given a choice, and the subdomains only became available when I tried to create a 2nd organization).

No worries though. Does this mean if I just avoid using the vmgnet.work 'root' domain's organization and jus

[2018-08-27 18:24] timabbott commented on #545
Avoiding using it would probably work, but if you open a `manage.py shell`, you can rename that realm with the following process:
[code]

and then `/home/zulip/deployments/current/scripts/setup/flush-memcached`.

You might need to clear cookies in the desktop app that had been logged into the vmgnet.work domain as well.

[2018-08-27 18:24] #545 closed, assigned to nobody

[2018-08-27 18:28] akashnimare commented on #542
Okay, got it. I think adding a separate spellchecker language option in the setting would be a good idea here.  Something like this (have a dropdown and let user choose the app + spellchercker language)

![image](https://user-images.githubusercontent.com/2263909/44678078-1a995a80-aa55-11e8-8e47-830cad108c34.png)

[2018-08-27 18:32] akashnimare opened #547 "Add an option to view pdf files in the app"
I think we should add a basic pdf viewer within the desktop app until we fix https://github.com/zulip/zulip/issues/9081.

[2018-08-28 01:26] Katylar commented on #545
Hi @timabbott, I keep getting an error after trying the first line (get_realm):

`bash: syntax error near unexpected token `('`

Am I typing it wrong?

[2018-08-28 05:48] timabbott commented on #545
You need to do 'manage.py shell' first, and then enter the other commands.

On Mon, Aug 27, 2018, 6:26 PM Katylar <notifications@github.com> wrote:

[2018-08-28 11:39] Katylar commented on #545
@timabbott I did what you explained, and also added the new subdomain to my certificates, etc. Now, home.vmgnet.work is working.

Note: When I go to vmgnet.work on my browser, I automatically get redirected home.vmgnet.work

Again, no issues when using my browser, but the desktop app still does the same error.

I've even uninstalled and reinstalled the app (although obviously some stuff was saved

[2018-08-28 12:06] abhigyank commented on #545
@Katylar To reset the app, you can use the `Reset Application Data` option at the bottom of the Settings->General page. That should remove all the cookies.

[2018-08-28 12:32] Katylar commented on #545
@abhigyank, I did as asked, and the app 'reset'. I needed to provide my organizations again, but once more, I wasn't asked for username/passwords (apparently this might be saved somewhere else? Like the Windows Credentials manager?)

At first the home.vmgnet.work wouldn't load (I got that error message that said "if this page persists, do a reload" or something, and so I did a hard-reload. After t

[2018-08-28 12:56] abhigyank commented on #545
That is strange. Just to make sure there is no confusion can you confirm that you have used the correct `Reset Button` as in the image below?

![](https://chat.zulip.org/user_uploads/2/17/_jNMGqyg8d-_m8itjVixIKmc/pasted_image.png)

[2018-08-28 13:30] Katylar commented on #545
@abhigyank Yes, I did.

Please see: https://gfycat.com/MarriedGiantCranefly

[2018-08-28 14:31] akashnimare commented on #545
Okay, I see there is some permission issue going on Windows. Due to this, the app couldn't delete the cache files.

![image](https://user-images.githubusercontent.com/2263909/44729495-969aad80-aafc-11e8-9bf5-53d0b3b6bae9.png)

@Katylar can you try deleting the files manually? You need to delete following folder -

`C:\Users\USERNAME\AppData\Roaming`

[2018-08-28 14:37] Katylar commented on #545
@akashnimare Excellent! Thank you, this seems to have done the trick.

One final question, though: the screencap you posted--is that for your own or were you somehow able to access/sign-in to our organization (not sure about privacy settings).

Thanks!

[2018-08-28 14:39] akashnimare commented on #545
I was using http://chat.zulip.org/ server.

[2018-08-28 18:17] akashnimare opened #548 "Make the org tab list draggable in left sidebar"
We should make the organization list in the left sidebar draggable so that users can reorder the added organizations.

![image](https://user-images.githubusercontent.com/2263909/44741855-fe142580-ab1b-11e8-9693-d2cd7f1d04a2.png)

Something like this -

<img src="https://cl.ly/4cfebba97d93/download/Screen%20Recording%202018-08-28%20at%2011.44%20PM.gif"/>

On a technical level we need to make follow

[2018-08-29 17:49] #547 closed, assigned to akashnimare

[2018-08-30 05:20] Katylar opened #550 "Make Windows App 'Close-to-Tray'"
Hi!

Right now, the app closes-to-tray which is great. My questions is is there any way to make it 'minimize-to-tray' as well?

Windows 10.

Thanks!

[2018-08-30 11:47] akashnimare commented on #550
@Katylar what do you mean by 'minimize-to-tray' here? Can you attach a screenshot of how it would look?

[2018-08-30 11:51] akashnimare commented on #550
There is a "Start Minimized" setting if you want to start the app in the minimize state -

![image](https://user-images.githubusercontent.com/2263909/44849851-0c2b8880-ac79-11e8-8b4e-49330ed910a6.png)

[2018-08-31 12:05] akashnimare opened #551 "bug: Flashing server icons in left sidebar"
When the app starts, there is flashing in the left sidebar in server tabs- this is because we first try to load the all the servers and then focus on the last activated server -

<img src="https://dzwonsemrish7.cloudfront.net/items/2R1V0i2b0i3P0X1g0U1U/Screen%20Recording%202018-08-31%20at%2005.31%20PM.gif?v=a2868147">

I'm imaging the correct flow for this would be -
* First load the last activate

[2018-09-03 07:46] akashnimare opened #554 "Unescape server names in Window menu item"
This is follow up for #541.

[2018-09-03 09:50] #554 closed, assigned to nobody

[2018-09-04 21:36] glyph opened #556 "link to narrow opens in browser, no way to open it in app"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubutnu
  - [x] macOS
- **Clear steps to reproduce the issue**:

- I click on `https://<mydomain>.zulipchat.com/login/#narrow/stream/<stream-id>-<stream>/subject/<topic>/near/<message-id>`
- It opens in my browser, which is not logged in to Zulip, because I use the app
- There's nowhere for me to paste this link in the app, so I just search

[2018-09-05 11:41] akashnimare commented on #556
@glyph Can you reproduce this on https://chat.zulip.org ?

[2018-09-05 11:43] akashnimare commented on #556
BTW, I can't reproduce this on `*.zulipchat.com` server also. Make sure you're on the latest release i.e. [v2.3.6](https://github.com/zulip/zulip-electron/releases/tag/v2.3.6).

[2018-09-05 17:14] jvasile opened #557 "Settings pane does not scroll"
I onboarded 40 new Zulip users at a conference this week.  This issue was reported by one of them, and I'm passing it on.  Thanks!

---

- **Operating System**:
  - [ ] Windows
  - [X] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Navigate to settings, click on notifications.  The right pane does not scroll (there is no visible scroll bar), and some settings are cut off by t

[2018-09-05 17:45] akashnimare commented on #557
@jvasile I can't reproduce this on the latest version of the desktop app.

<img src="https://cl.ly/430896d790a2/download/Screen%20Recording%202018-09-05%20at%2011.13%20PM.gif"/>

Would be great if you can attach a screenshot/gif here. Also, make sure you're using the latest version which is [v2.3.6](https://github.com/zulip/zulip-electron/releases/tag/v2.3.6).

[2018-09-05 18:58] abhigyank commented on #556
@akashnimare  I think glyph means that if someone sends this link to him, he cannot open this link in the app. He doesn't  mean that clicking this link in app opens the browser.

[2018-09-05 21:55] glyph commented on #556
Yep! That is exactly what I meant.

[2018-09-05 21:55] glyph commented on #556
FWIW I am on v2.3.7-beta but this has been an issue for as long as I can remember.

[2018-09-06 05:02] abhigyank commented on #556
@glyph @akashnimare  I think if we implement #470, that'd directly solve this issue.
@glyph Till then a possible workaround is - in the app, send this link as a private message to yourself and then click on the link. This will then open the message. :)

[2018-09-06 18:27] jvasile commented on #557
The user was indeed using the latest version, but shifted to a different device and uninstalled it.  Since it wasn't my report, I'm afraid I can't follow it up further than that.

[2018-09-07 06:04] glyph commented on #556
@abhigyank Thanks, this workaround is really helpful! :)

[2018-09-08 04:35] abhigyank commented on #463
@zulipbot claim

[2018-09-08 11:16] akashnimare commented on #557
Closing since I can't reproduce this on my system. Feel free to reopen if you get more details on this.

[2018-09-08 11:16] #557 closed, assigned to nobody

[2018-09-08 11:19] akashnimare commented on #556
The workaround mentioned above is what we have been using so far.

@glyph so whenever someone sends you this kinda link you want to open them in the Zulip app, right? Do you know how other apps handle this?

[2018-09-08 18:04] glyph commented on #556
on macOS,

1. register a custom URL scheme, as specified in #470
2. add a link to every page on `*.zulipchat.com` that says "open in app"

on iOS,

1. use "universal links" https://developer.apple.com/library/archive/documentation/General/Conceptual/AppSearch/UniversalLinks.html

[2018-09-10 12:00] akashnimare opened #558 "file-attachment: Allow user to download the same file"
Our current flow doesn't allow multiple downloads of the file with the same name but sometimes a user may want to download the file multiple times (in case the content is changed/updated). We should have the same flow as chrome here.

[2018-09-10 12:26] #558 closed, assigned to nobody

[2018-09-11 15:33] #425 closed, assigned to abhigyank

[2018-09-12 09:52] penCsharpener opened #559 "add custom title bar"
This is a feature request.

VSCode has released a custom title bar and right-click menus that also fully support it's dark theme.

This is probably a low priority request but it would look really nice in Zulip-Electron as well, to have a custom title bar that can go dark (together with the night theme of Zulip web app).

It would also go well with the dark sidebar.

[2018-09-12 11:29] akashnimare commented on #559
This is tricky and requires few hacks since electron doesn't provide any api for this. To have the custom titlebar we need to make a frameless window first and then after building the control buttons (close, minimize etc) on our own, we need to handle their events as well.

[2018-09-12 11:38] akashnimare commented on #556
@glyph thanks for the detailed info. I'm merging this issue in the #470.

Yeah, for the starting I think we could just register a protocol so that user can open the zulip app using `zulip://open`.

I think we don't have such links. Can you point me to those?

[2018-09-12 11:38] #556 closed, assigned to nobody

[2018-09-12 14:33] penCsharpener commented on #559
sure, just google this:
[from stackoverflow](https://stackoverflow.com/questions/35660043/how-to-customize-the-window-title-bar-of-an-electron-app#35664860)

This repo might help:
https://github.com/connors/photon

[2018-09-12 14:38] akashnimare commented on #559
CSS is not hard the part here. Handling the custom titlebar and its events are the most tricky thing. Also, we need a solution which works on all the platform, not just macOS.

[2018-09-12 16:10] glyph commented on #556
I just mean the login page that you’d get by visiting a link such as the one in the description needs a zulip:// link on it to make it easy for users to go from browser to app.

[2018-09-13 07:10] baumnkz commented on #528
I'm using Linux Mint 18.3 and Zulib desktop, and I have the same problem.

In other applications have already solved this problem:
https://github.com/RocketChat/Rocket.Chat.Electron/commit/5b684bbd4df4a583ac39a7f96a980da6feeabbe4

https://github.com/ramboxapp/community-edition/pull/432

[2018-09-13 07:20] baumnkz commented on #528
I think, you need to add '&' before menu labels

[2018-09-13 07:24] akashnimare commented on #528
@baumnkz yeah, let me try the mentioned fix. Are you up for debugging this? I can release a quick beta on Linux.

[2018-09-13 07:30] baumnkz commented on #528
@akashnimare yes, I'm ready to debugging

[2018-09-13 07:36] akashnimare commented on #528
Okay, thanks. Are you using the `.deb` installer?

[2018-09-13 07:42] baumnkz commented on #528
Yes, I am

[2018-09-13 07:45] #528 closed, assigned to nobody

[2018-09-13 08:11] akashnimare commented on #528
@baumnkz I have published a new beta release for Linux - v2.3.8-beta. You need to run the following in order to get it (you might need to uninstall the stable version first) -

https://zulipchat.com/help/desktop-app-install-guide#linux-with-apt-ubuntu-or-debian-8

[2018-09-13 08:35] winmasta commented on #528
![default](https://user-images.githubusercontent.com/29568484/45476955-8de7df80-b76a-11e8-96b1-b6e5da5e0757.png)
still problem

[2018-09-13 08:35] baumnkz commented on #528
@akashnimare Great! But now one of menu item is hiding - help menu is not visible

When I press Alt+Shift now opened non-labeled menu:
![help-menu](https://user-images.githubusercontent.com/972908/45476953-8c1e1c00-b76a-11e8-8ae4-f7e6401ad363.png)

[2018-09-13 09:09] akashnimare commented on #528
@baumnkz just fixed it and pushed a new beta. Can you update and check if it works as expected?

[2018-09-13 09:31] baumnkz commented on #528
@akashnimare Great! It works!

[2018-09-13 09:42] akashnimare commented on #528
Awesome, thanks for the help ❤️

[2018-09-15 07:47] akashnimare opened #561 "Add a feature to configure DND mode"
We have a basic DND feature in the left sidebar which activates the DND mode and to deactivate user need to update it manually. It would be great to have something like -

* Enable DND mode for X minutes/hrs/day

and then automatically handles the notification setting after the DND time gets over.

Two things we need to do here -
**a)** UI/UX - I think we can show the time within the tooltip itsel

[2018-09-15 15:13] priyank-p commented on #561
To implement this I have/had a rough plan in mind:

  * First we should create the UX/UI in a new branch or that only shows up in development mode.

  * Then, once we have the UI, we can set up the turn on/off thing per input provided by the user.

  * Lastly, we should save in `JsonDB` the end-time of DND time, so it just a one if statement on the start of the app to turn it off or schedule a tim

[2018-09-15 20:11] lukasIO commented on #561
I know this is the repository for the electron app, but can you clarify why you see DND as an app setting rather than a profile-setting?
Imho it leads to confusion and unwanted behaviour if there is a DND layer above a profile setting.
If I don't want to be disturbed, then I do so in my online status which should then reflect across all apps.

similarly if i want to receive notifications again, I

[2018-09-17 07:29] akashnimare commented on #561
@lukasIO please see the relevant conversations here - https://chat.zulip.org/#narrow/stream/16-desktop/topic/DND.20button

[2018-09-17 07:43] lukasIO commented on #561
Thanks for the link. As it seems the main reasonis this statement by @timabbott

I agree that this is a very good point, which i didn't consider before.
I would still prefer if this kind of status-change would reflect consistently over web, desktop and mobile.
How to communicate over multiple organizations a common state - I have no idea.
An approach to change an additonal notification-status in e

[2018-09-17 09:34] akashnimare commented on #561
For the webapp - https://github.com/zulip/zulip/issues/295

[2018-09-18 05:07] akashnimare opened #562 "Broken image icon in left sidebar"
This happens when the app can't find the realm icon and it shows the broken image for few secs.
As a fallback, we're using the character icon from the realm name but it shows up after the broken image icon. We could do better here.

Possible solutions -
a) Change the way we show the realm icon in the left sidebar. We could first show the character icon on app load and then lazy load the relam icon

[2018-09-18 06:44] akashnimare opened #563 "Auto hide menu bar on Windows/Linux"
It would be great to auto-hide the menu bar on Windows and Linux.

[2018-09-18 14:12] akashnimare commented on #561
For the UI thing, we could show something like this in the tooltip -

![image](https://user-images.githubusercontent.com/2263909/45693412-ad23aa00-bb7a-11e8-9891-3bfabcde48c4.png)

[2018-09-19 05:20] abhigyank commented on #463
@zulipbot  Will try to complete this by this weekend  :)

[2018-09-19 09:39] #563 closed, assigned to akashnimare

[2018-09-19 09:40] #550 closed, assigned to nobody

[2018-09-19 09:42] akashnimare commented on #538
This has been added in https://github.com/zulip/zulip-electron/pull/529.

[2018-09-19 09:42] #538 closed, assigned to nobody

[2018-09-19 09:43] akashnimare commented on #518
I think we have decided to go with typescript.

[2018-09-19 09:47] akashnimare commented on #527
@ygini are there any desktop apps which have this kinda support?

[2018-09-19 10:30] ygini commented on #527
@akashnimare all apps that comply with macOS developer guideline are manageable by default (just using NSUserDefault to store your settings make your app manageable).

And most important apps like Microsoft Office offer dedicated management options nowadays (like AutoFill and AutoAdvance for SAML based authentication).

[2018-09-24 12:39] zingmars commented on #550
I think what he meant was that right now the app will close to tray if you use the close button (the one in the title bar). An alternative to this would be minimising to tray if you press the minimise button, while the exit button would exit the Zulip client completely. As an example, qBittorrent has this -
![image](https://user-images.githubusercontent.com/917126/45952477-d7101d00-c00f-11e8-8986-

[2018-09-24 12:43] zingmars opened #565 "[Feature request] Minimize to tray on startup"
Right now there's a "Always start minimized" option which does just that - it starts the Zulip app in a minimized state, however it still remains in the task bar and can be switched to using alt-tab and has to be closed to tray manually every time it's started (i.e. on system startup). Would it also be possible to get an option that minimizes the app to tray on startup so one doesn't have to do it

[2018-09-24 12:47] akashnimare commented on #550
This behaviour used to exist in the earlier versions of the desktop app but from the feedback we received over the time, users want to have the app in the notification area on clicking the `X`/close button and this is why we changed the flow. We can revisit this if more people are interested in the behaviour you mentioned.

[2018-09-24 22:54] rishig opened #566 "Settings QA:"
Copying from https://chat.zulip.org/#narrow/stream/16-desktop/topic/settings.20qa.
I expect almost all of these will be fast changes, so maybe as first step you can fix or disagree with all the easy ones (e.g. wording changes, quick style fixes), and then we can open new issue(s) with the remaining list.

### Settings
- [ ] In the Settings menus, sometimes the back button is active and works, some

[2018-09-25 07:57] akashnimare commented on #566
This one is the expected behaviour. It only gets activated when it could go backwards. Also, it's disabled for the Setting page.

This is done in the latest release.

![image](https://user-images.githubusercontent.com/2263909/46000705-f453f280-c0c6-11e8-8e8a-c61485635c49.png)

[2018-09-25 16:57] rishig opened #569 "Report issue modal has vestigial scrollbars."
A minor issue, but the scrollbar arrows on the right and bottom sides don't do anything on click:

![image](https://user-images.githubusercontent.com/890911/46029825-500f8300-c0a9-11e8-8986-121b2e05a8cc.png)

[2018-09-26 07:27] akashnimare commented on #569
@priyankp10 does this require changes in your feedback module?

[2018-09-26 08:24] akashnimare commented on #565
I'm bit confused on what you're asking for.

^^ is this what you want? If yes, then you need to use the following settings -

![image](https://user-images.githubusercontent.com/2263909/46066966-511cdf00-c193-11e8-89ff-64abb665760c.png)

[2018-09-26 11:28] priyank-p commented on #569
AFAICT, this is an browser artifact. I think this should be/is only an issue on windows and linux. The arrows should be disabled and they are since they are faded out in the picture since there is nowhere to scroll. In windows and linux they should up even when they are not needed.

I think instead of `overflow: scroll;` which should be used, if we can change it to `overflow: auto` this could be f

[2018-09-26 12:52] akashnimare opened #571 "Update the validation logic for checking the realm"
The validation logic was implemented last year when we didn't have the server api. Now, that we have the proper working api we should update the logic for validating the realm address. Current logic just checks whether the `.ogg` file exists or not on `realm + /static/audio/zulip.ogg'`.

Zulip api we need to use - https://zulipchat.com/api/server-settings

Also, we need to update the error message

[2018-09-26 14:29] zingmars commented on #565
Here's the current behaviour - https://youtu.be/8Mvp0woj9X8. As you can see Zulip opens and minimises to the taskbar, not tray. It can also be seen when alt+tabbing (0:05) since it's minimized to taskbar and not tray.

Here's the behaviour I'm asking for - https://youtu.be/YA5J66fBhTU. As you can see here, the thunderbird tray icon is created and it does not appear in the taskbar at all.

[2018-09-27 14:13] #569 closed, assigned to nobody

[2018-09-27 21:33] timabbott opened #573 "Stop checking for zulip.ogg if error from the server is a 400 "BAD_REQUEST" error"
Right now, there's a really bad user experience if you typo the hostname on zulipchat.com, see https://chat.zulip.org/#narrow/stream/16-desktop/subject/adding.20org.20that.20doesn't.20exist/near/646444.

From https://github.com/zulip/zulip-electron/pull/236#issuecomment-414450918, there's a proposed solution that should work great:

We could definitely fix while keeping backwards-compatibility tha

[2018-09-27 21:34] timabbott commented on #548
`sortable.js` is usually the way to do this sort of reordering.

[2018-09-27 21:36] timabbott opened #574 "Organization icons should be rounded squares, not circles"
This is the format we show avatars and icons everywhere else (e.g. mobile, login page, etc.).  It's important to have an icon be displayed in the same way in all places, since some icons might look bad in some sizes.
And almost every company logo has a nice square option (and few design for a circle), that's the right choice to standardize on.

[2018-09-28 07:38] #574 closed, assigned to nobody

[2018-09-28 15:21] ghost commented on #533
@zulipbot claim

[2018-10-01 12:01] akashnimare commented on #571
Mering into #573.

[2018-10-01 12:01] #571 closed, assigned to nobody

[2018-10-01 12:11] akashnimare commented on #566
I think **Show Desktop Notifications** makes sense here since by default it's turned on and if we choose to rename it like "Block desktop notifications from Zulip" we need to play with the default notification setting also which I don't is a good idea.

  The manual proxy config also seems to do an automatic restart, and possibly Save whether or not you click Save

This is just to make sure the se

[2018-10-02 07:34] abhigyank commented on #566
No, currently it doesn't. Need to quit the app and restart.

It doesn't do a restart. I suppose it does a hard reload on clicking save.

[2018-10-03 13:30] akashnimare opened #577 "About Zulip page no longer works"
Looks like there is some problem while opening the About Zulip page. This might be caused by the #360.

![image](https://user-images.githubusercontent.com/2263909/46413420-8058c080-c73e-11e8-8064-55accb26ba70.png)

[2018-10-03 15:27] akashnimare commented on #577
FYI, @priyankp10

[2018-10-03 16:51] priyank-p commented on #577
I don't think any of the code in #360 could possibly relate to this error, I reverted the commit and verified.

[2018-10-03 21:51] rishig opened #578 "Add URL copy/paster in left sidebar."
Discussion at https://chat.zulip.org/#narrow/stream/16-desktop/subject/access.20to.20urls/near/649032, but the summary is to add something like

![image](https://user-images.githubusercontent.com/890911/46441532-9d2fcc80-c71b-11e8-8b4b-acf2ed358818.png)

To the left sidebar to allow copying and pasting Zulip URLs. (Will need an appropriate icon for it; the circle is just a placeholder).

[2018-10-04 04:30] akashnimare commented on #577
Hmm, the `name` thing is coming from there only 🤔 Any idea what could break this?

[2018-10-04 11:25] priyank-p commented on #577
I have no idea either, I look at the this traceback posted on czo, and it seems like for some reason `this.props` is `undefined` and so some code in `FunctionalTab` and `Tab` class cannot find it. But it also could be some other thing other than `this.props`.

[2018-10-04 21:37] pranshuchittora opened #579 "How to call the network reconnect modal"
---

- **Operating System**:

  - [x] Linux/Ubutnu

- **Clear steps to reproduce the issue**:
When there is no network, this :point_down:  modal pop-up to notify the user.
![screenshot from 2018-10-05 03-02-30](https://user-images.githubusercontent.com/32242596/46504453-9acc9000-c84b-11e8-86e0-5b60bf98099b.png)
I am not able to find the source code of this modal.
Pls help

[2018-10-05 06:06] akashnimare commented on #579
GitHub issues are for feature requests and bug reports, questions about using Electron, codebase related should be directed to the community i.e. http://chat.zulip.org.
(That modal is coming from the webapp https://github.com/zulip/zulip)

[2018-10-05 06:06] #579 closed, assigned to nobody

[2018-10-07 12:16] abhigyank commented on #577
Is it specific to macOS? I cannot reproduce this on Ubuntu on the latest master.. :confused:

[2018-10-07 14:02] akashnimare commented on #577
I can reproduce this on Linux as well. The bug can be seen in the production (for some reason, this is not reproducible in dev) I wonder if Sentry has something to do with this. Can you try to repro this on prod?

[2018-10-08 03:29] ran404 opened #582 "OSX desktop client does not allow custom port to be specified"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubutnu
  - [x] macOS
- **Clear steps to reproduce the issue**:
On the initial "Add a Zulip organisation" page, enter an url with a custom port, e.g:
https://zulip.example.com:11443

Then click "Connect".
A spinner shows up, the app does not load.

The problem appears to be that the the input form strips away the port number. I'm able to lo

[2018-10-08 08:47] akashnimare commented on #582
@abhigyank can you look into it since you have worked on the proxy thing?

[2018-10-08 12:24] abhigyank commented on #577
Yes, I can repro in Production but not in dev. I am pretty certain its a issue with Sentry. I'll try to debug.

@zulipbot label "Priority: High"

[2018-10-08 12:25] abhigyank commented on #577
@zulipbot  label "Priority: High"

[2018-10-08 15:09] abhigyank commented on #577
@akashnimare getsentry/sentry#9874 could be possible reason. Though can you try building the distribution on the current master? I did and couldn't reproduce this on the AppImage. Can you try this and see if it works for you?

[2018-10-08 20:02] rishig opened #583 "Use system highlight color instead of blue."
Chrome, Firefox, and Safari all seem to use the OS's default text highlight color, and we should as well. The current behavior looks pretty bad on stock Ubuntu, which uses orange as the highlight color.

To test on a Mac, I think the setting is System Preferences > General > Highlight Color. I haven't looked into where the setting is on other OSes.

Some discussion at https://chat.zulip.org/#narro

[2018-10-09 08:22] #577 closed, assigned to nobody

[2018-10-09 22:55] timabbott commented on #582
This is a high-priority issue, since it prevents some users from getting the app up and working.

[2018-10-10 05:30] winmasta opened #584 "Zulip app closes unexpectedly on Windows 10"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Start Zulip app on windows 10, wait some seconds (5-30) and app will be closed without any actions from user. Affects 2 of 4 our computers.
- **Relevant error messages and/or screenshots**:
No error messages from Zulip or Windows.

[2018-10-10 08:02] akashnimare commented on #584
@winmasta yeah, I have seen this issue. The main reason behind this is they might have downloaded the `v2.3.7-beta` which was meant to be a pre/beta-release and not stable (I wrongly uploaded the beta installer in the latest release v2.3.8). Can you tell your folks to uninstall the app they are using and download the latest stable release from [here](https://zulipchat.com/apps/windows) and the pro

[2018-10-10 20:15] akashnimare commented on #582
I don't think we strip the port since I can add the `https://chat.zulip.org:443`, the problem seems to be somewhere in the request module. Also, can you provide us the zulip server you're trying to connect to so that I can see what's wrong?

[2018-10-12 03:51] lisasinclair commented on #584
Also experiencing on v2.3.8 on Windows 10.
Attempted reinstall earlier this week and product was stable until this morning.

[2018-10-12 07:18] j0hannesr0th commented on #584
Same here - Zulip closes itself or crashes unexpectedly after a few seconds.

I can confirm @lisasinclair statement. A reinstall worked until this morning.

Now I fully uninstalled Zulip-Electron and reinstalled it again but it doesn't change anything - Zulip doesn't work.

Windows 10: 1803 Build 17134.345
Zulip-Electron: v2.3.82

[2018-10-12 08:05] Mattes1000 commented on #584
It seem that there is a problem with the "auto update" of the app.

I had the 2.3.8 installed and the app crashed after a view seconds.
I downloded the version 2.3.82 and replaced the Folder c:\Program Files\Zulip
Now all works fine.

A few days ago, when the Version 2.3.8 was released, the same error occured.
I had the version 2.3.7beta and the app crashed after a few seconds.

[2018-10-12 08:09] akashnimare commented on #584
@hmr-it-jr, @lisasinclair, @winmasta please update the app to [v2.3.82](https://github.com/zulip/zulip-electron/releases/download/v2.3.82/Zulip-Web-Setup-2.3.82.exe) manually, it should fix the auto-update issues.

[2018-10-12 08:11] lisasinclair commented on #584
I'm already on 2.3.82 and it's still happening :(

[2018-10-12 08:12] j0hannesr0th commented on #584
@akashnimare as I wrote in my previous post I already use the latest version:

The problem is still present.

[2018-10-12 08:24] akashnimare commented on #584
Wierd, I have followed the following steps and the app works fine for me on Windows 10
* Uninstalled Zulip app (I was on v2.3.8)
* Installed the latest version from [this](https://github.com/zulip/zulip-electron/releases/download/v2.3.82/Zulip-Web-Setup-2.3.82.exe) link (v2.3.82)
* Started the app and no issues

![image](https://user-images.githubusercontent.com/2263909/46857272-30f14f00-ce26-11e8

[2018-10-12 08:27] lisasinclair commented on #584
I did the same at the beginning of the week and it worked fine until today. Give it a couple of days and it may fail for you too >.<

Am using zulipchat as the host which may make a difference?

[2018-10-12 08:31] akashnimare commented on #584
@lisasinclair can you repeat the steps again please since we release the `v2.3.82` yesterday only?

No, I don't think so.

[2018-10-12 08:38] lisasinclair commented on #584
Mia Culpa, I got it wrong. Installed 2.3.82 and will see how it goes.
Have a great weekend

[2018-10-12 09:02] akashnimare commented on #584
Yeah, `v2.3.82` (latest stable release) and `v2.3.8` are two different versions.

[2018-10-12 09:25] j0hannesr0th commented on #584
Works for me, thanks a lot!

[2018-10-12 16:45] jevad commented on #584
I had the same problem on Windows 7.  I checked the logs, and it looked like the automatic update sub-system was having issues that were taking out the entire VM.  So I updated to the latest version manually, and that fixed it for a few days.  Then the problem returned, and this time, updating manually did not fix the problem.

However, I did find a workaround:  Turn off auto-update:  As soon as y

[2018-10-13 14:15] akashnimare commented on #584
@jevad is it possible for you to share the logs so that I can see what's wrong? You can send it on `akash[at]zulipchat[dot]com`

[2018-10-17 08:24] akashnimare opened #585 "settings: Change get beta update option on updating enable update setting"
If the `Enable auto updates` option is disabled then we should disable the beta updates option also.
This case is already handled in the backend so even if the beta option is enabled and the auto-update option is disabled, the auto-updates won't work. We just need to make changes in the frontend.

[2018-10-17 08:29] akashnimare commented on #583
We can try to add this using different types of available electron api but ideally, this should be added in the chromium itself. The issue exists in Chrome also - https://github.com/electron/electron/issues/15068

[2018-10-21 20:05] kanishk98 commented on #533
@zulipbot claim

[2018-10-22 08:00] kanishk98 commented on #533
@abhigyank Hi. I'm just starting out with contributing to Zulip, and it'd be great if you could provide me with some directions on how to reproduce the issue on my end.
If it helps, the only organisation I've added so far has been `chat.zulip.org` itself, and I haven't seen any console logs I added to `saveServerIcon` show up.

[2018-10-22 08:17] kanishk98 commented on #409
@akashnimare Hi! I'm new to Zulip and would like to work on this issue, but the link you referenced above says No such article. Does the issue still persist or has it been fixed at some other URL?

[2018-10-22 10:31] kanishk98 commented on #585
@zulipbot claim

[2018-10-22 11:45] kanishk98 commented on #585
Okay, looks like ZulipBot has run into a problem.
Regardless, I've looked into the issue, and I think I've solved the problem. Changed the
`clickHandler()` in `autoUpdateOption()` in `app\renderer\js\pages\preference\general-section.js` to the following block:

[code]
@akashnimare can you please have a look at this solution and tell me if I'm missing something before I submit a PR?

[2018-10-22 16:56] akashnimare commented on #585
GitHub is down right now so the comments are not being shown in the GitHub
(replying through the email). I would suggest playing with the solution locally
and testing if the values are getting updated as expected.

[2018-10-27 12:47] akashnimare opened #587 "preload functions are not defined in the setting page"
![image](https://user-images.githubusercontent.com/2263909/47604090-53808c00-da12-11e8-8314-d45f29763f52.png)

`logout` and `shortcut` function only gets trigger if you're on the zulip server page and if you try to use this shortcuts in the setting page the above error will trigger.

Reproduce using -

* Open setting page
* CMD+L check the console logs

The main reason behind this is that the `pre

[2018-10-27 13:12] abhigyank commented on #533
Hello @kanishk98 , you'd be able to reproduce the error if you add a server like "abhigyank.zulipdev.org". The error occurs due to an invalid image path in of defaultIcon in `domain-util.js` .

[2018-10-27 13:36] akashnimare commented on #587
The ideal solution for this would be disabling these shortcuts on the setting page.

[2018-10-27 17:53] akashnimare commented on #585
Fixed in https://github.com/zulip/zulip-electron/pull/586.

[2018-10-27 17:53] #585 closed, assigned to nobody

[2018-10-27 17:57] akashnimare commented on #583
Filed the bug in chromium - https://bugs.chromium.org/p/chromium/issues/detail?id=896189#c3.

[2018-10-27 18:00] akashnimare commented on #582
@ran404 can you please provide more info on this?

[2018-10-28 04:37] fauust commented on #565
Hi, I confirm that on i3wm the "Always start minimized" option is not working...

So maybe you could add a CLI option, for instance:
[code]

[2018-10-28 09:41] #587 closed, assigned to akashnimare

[2018-10-30 04:12] kanishk98 commented on #533
@abhigyank thanks for the info. I'll get to work and let you know if I have any questions. :)

[2018-11-02 08:38] schrej opened #591 "Online check ignores proxy settings"
Edit: The automatic reload on connection errors is caused by the [online check](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/utils/reconnect-util.js#L34) ignoring proxy settings.

---

It would be a nice addition if the connection error screen would try to reload zulip periodically.

A sane timeout would probably be something like once every minute.
It should do so in the ba

[2018-11-02 08:43] akashnimare commented on #591
@schrej yeah, it's a known issue and we need to improve this network flow. Please see the related discussion [here](https://chat.zulip.org/#narrow/stream/16-desktop/topic/no.20internet).

[2018-11-02 08:47] schrej commented on #591
Yeah, just noticed that the error screen claims that it will retry, but it doesn't. Adapted the title a little ;)

[2018-11-03 09:40] kanishk98 commented on #533
Okay, on the surface, this just seems to be a wrong file path issue. @abhigyank this can be solved simply by replacing `../renderer/img/icon.png` with `../../img/icon.png` for the `saveServerIcon()` method to find the appropriate image.
I'm unsure of whether this is the best way to solve the issue though.

[2018-11-03 09:59] abhigyank commented on #533
Looks correct to me for now.
@akashnimare can you weigh in?

[2018-11-04 06:41] kanishk98 commented on #591
So I followed the discussion referenced by @akashnimare and messed around with the code a bit, and I think the following replacement for the `isOnline()` method should work:
[code]

I was unable to reproduce the issue on my end though, so I thought it best not to submit a PR until further discussion.

[2018-11-04 16:53] akashnimare commented on #591
@kanishk98 hmm, can you test your solution and see if it works?

[2018-11-05 16:05] Elberet opened #592 "Desktop notifications on Windows 10"
I have "installed" Zulip-Electron 2.3.82 by downloading `zulip-2.3.82-x86.nsis.7z` from the releases page and unzipping it to some folder under `%LocalAppData%`; I **can not** use the Microsoft Installer based package since this computer is managed by an AD domain and I do not have administrative privileges or access to a domain account with local admin privileges.

Despite having enabled, disable

[2018-11-06 08:39] abhigyank commented on #592
@akashnimare Related issue - https://github.com/electron/electron/issues/10864#issuecomment-341376682 - it is specific to Win 10 Enterprise Evalution Version 1709 .
Some comments mention using `setAppUserModelId` solves the issue for them.

[2018-11-09 18:23] DouglasDev opened #593 "Snap: app doesn't load on ubuntu 18.04.1"
I installed the app from Ubuntu software center. It doesn't load at all. error message is:
Gtk-Message: Failed to load module "canberra-gtk-module"
Gtk-Message: Failed to load module "canberra-gtk-module"
Failed to generate minidump.Segmentation fault (core dumped)

[2018-11-12 10:51] kanishk98 commented on #392
@zulipbot claim

[2018-11-13 11:12] kanishk98 commented on #533
@abhigyank looks like @zulipbot is flaring up. I'll submit a PR asap regardless; we can fix other things from there.

[2018-11-16 01:17] superbiche opened #594 "SSL Handshake Error"
Whenever I try to use the Desktop client to login to my Zulip instance, I get the "{domain} does not appear to be a valid Zulip server". The Web based application works totally fine.

After debugging, the error seems related to SSL handshake failure.

@gnprice pointed that it could be related to https://github.com/nodejs/node/issues/16196, which it was: `request` is trying to use Node's default EC

[2018-11-16 11:23] jakobkolb commented on #593
Can confirm this.

[2018-11-16 11:45] jakobkolb commented on #593
Apparently, only the Snap available over the Software center is broken. Following the installation instructions from the readme (https://zulipchat.com/help/desktop-app-install-guide) everything worked fine.

[2018-11-16 18:22] timabbott commented on #593
@jakobkolb thanks for the report, that's very helpful!  Tagging this as a top priority.

[2018-11-17 16:09] akashnimare commented on #593
Thanks for the report, let me see what's wrong.

[2018-11-18 14:09] akashnimare commented on #566
@rishig can you re-visit the setting page again and see if the changes are good enough? I think we have covered most of the points from the checklist.

[2018-11-18 14:48] akashnimare commented on #593
@DouglasDev you tried the deb format, right? Just to be clear this is what you have followed -
* Downloaded the deb installer from https://zulipchat.com/apps/linux
* Open the downloaded file in ubuntu software centre + installed it
* Run Zulip and got above error

If yes then can you try installing the deb installer from the terminal using -
[code]

I have tried AppImage + deb installer on Ubuntu

[2018-11-18 16:18] akashnimare commented on #594
@superbiche sorry for the slow reply (just recovering from the surgery I recently had). I went through with that node issue on GH and the discussion on chat.zulip.org and it seems that using the `auto` flag of `ecdhCurve` could fix this issue. Feel free to open a PR with this fix :) Also, is there any quick way to reproduce this issue in the desktop app so that I can cross-verfiy the solution?

[2018-11-18 19:34] superbiche commented on #594
Hey @akashnimare no problem, hope you're gonna quickly and fully recover 👍
I could make a PR, maybe tonight or tomorrow.

To reproduce, you should try connecting to https://zulip.superbiche.co with the desktop app in a few minutes. I'm going to remove `prime256v1` so you can reproduce - and so I'm forced to do the fix PR

[2018-11-18 21:25] superbiche commented on #594
@zulipbot claim

[2018-11-18 21:59] superbiche commented on #594
@akashnimare here it is: #595

[2018-11-18 23:34] superbiche opened #596 "No error when trying to add an instance without organisation"
**What's wrong**
Zulip desktop client doesn't display any error or information when trying to add a Zulip instance without any Organisations in it.

**Steps to reproduce**
* Start a fresh, properly configured Zulip instance. **Do not create any organisation**
* Open the Electron app
* Try to add this instance

**Expected**
Zulip should give a clear, helpful message so the user understands he needs

[2018-11-18 23:43] superbiche commented on #582
@akashnimare I can reproduce this issue with a fresh Zulip instance available on the exact same port, on Mac OS Mojave 10.14.1, but not because of a port issue (see #596).
Test instance is available at https://zulip2.superbiche.co:11443 (no org).

I just created this instance with docker-zulip real quick to try and help fix this issue, but there were no errors related to the port.
To be sure about

[2018-11-19 10:05] akashnimare commented on #596
Yeah, it's a known issue. We'll fix this once we improve our validation logic, see https://github.com/zulip/zulip-electron/issues/573.

[2018-11-19 10:13] superbiche commented on #596
@akashnimare ok, I'm continuing the discussion in #573 for now. Thanks for the link

[2018-11-19 10:23] superbiche commented on #573
@timabbott @akashnimare the validation workflow is actually a bit different if you're adding  idontexist.zulipchat.com than if you add i-exist-but-have-no-org-created.myselfhostedzulip.com

When dealing with a self-hosted instance, `/api/v1/server_settings` **does return a 200 response**, but `realm_icon` doesn't exist and there's no check for that, so the app is stuck *but not in the same way tha

[2018-11-19 10:35] superbiche commented on #596
@akashnimare yeah it's related but I think we shouldn't wait to fix this particular issue in this particular situation, because it makes the self-hosted validation logic more robust while we think about a full refactor handling both zulipchat.com and self-hosted issues.

What do you think?

[2018-11-19 10:42] #594 closed, assigned to nobody

[2018-11-19 12:10] superbiche commented on #591
@akashnimare @kanishk98 I've started playing around with this, using `is-online` only if we're not using a proxy, iterating the domains list to test for the favicon, and return true if one domain responds properly. Will let you know when I'm done

[2018-11-19 12:50] abhigyank commented on #591
^I don't think iterating over a the domain list is a good solution here. For one the number of domains could be many and two that does a lot of unnecessary queries.

[2018-11-19 13:09] superbiche commented on #591
@abhigyank Yes that's right, but I honestly don't see any way to do this behind a proxy that can behave in as many ways as there are sysadmins. Also, by returning `true` early - as soon as a domain is reachable - we avoid making subsequent requests. But you're right, that's far from perfect. WebSockets presence channels may be better.

And it's also a good chance to keep an online/offline flag for

[2018-11-19 13:49] superbiche commented on #591
@abhigyank @akashnimare  ~~I've made a quick implementation here https://github.com/superbiche/zulip-electron/compare/master...superbiche:fix/591-online-check-proxy?expand=1~~
Check out the related PR: #598

This doesn't prevent `is-online` to make mistakes but I'd like to know if it can help people behind a proxy at least, before we reach a consensus on how to deal with this better.

[2018-11-19 17:00] strob opened #597 "OSX "Look Up" is misaligned"
---

- **Operating System**:
  - [x ] macOS
- **Clear steps to reproduce the issue**:

1. "Force Touch" on any word in a chat or right click and select "Look Up"

2. The pop-up displays the correct definition, but the text is weirdly offset and selections get all sorts of out-of-whack

- **Relevant error messages and/or screenshots**:

<img width="441" alt="screen shot 2018-11-19 at 8 59 37 am" sr

[2018-11-20 04:36] abhigyank commented on #591
Regarding the issue itself, I and everyone at my college uses zulip with a proxy, but haven't faced this issue at all. I wonder if the issue is actually something else.

[2018-11-21 13:26] kanishk98 commented on #392
Hello,
I'm sorry to report back saying that I was unable to get the module itself working on my system. I've raised an issue with the maintainer(s) of the [notifications](https://github.com/felixrieseberg/electron-windows-notifications) module, but I won't be able to contribute till I get a response from them. Sorry for the hold-up.

[2018-11-21 13:26] kanishk98 commented on #392
@zulipbot abandon

[2018-11-21 14:36] superbiche commented on #591
@schrej hi, I tried to fix it but could only simulate proxy behavior.
Would you be kind enough to test it locally behind your proxy? The PR is #598 , you'll have to clone my fork and checkout the right branch, if you're ok to do this let me know if you need any help in the process.

Thanks in advance 🙏

[2018-11-21 17:04] caemor commented on #593
I just installed zulip via snap (2.3.82) and still get the same error as above on ubuntu 18.04.
`libcanberra-gtk-module` is installed.

[2018-11-21 17:06] akashnimare commented on #593
Okay, this works great on Ubuntu 16.04. You might need to install some libraries in order to run it..can you paste the exact error here?

[2018-11-21 17:35] caemor commented on #593
It's the same error which DouglasDav posted as the first entry for this issue.

[2018-11-22 15:13] caemor commented on #593
Might be related to https://github.com/electron/electron/issues/13767 and other linked issues there :thinking:

[2018-11-22 15:20] akashnimare commented on #593
The issue looks related to electron-userland/electron-builder#2981

Could you folks try some of the tips in https://askubuntu.com/questions/342202/failed-to-load-module-canberra-gtk-module-but-already-installed and see if it works?

[2018-11-22 15:24] akashnimare commented on #593
No, since we're not using the `powerMonitor` api. The other possible reason could be Sentry.

[2018-11-22 16:09] caemor commented on #593
I already tried all of them but the last one (`sudo apt-get install libcanberra-gtk*`) and they didn't help me.

[2018-11-23 14:53] schrej commented on #591
After a few hours of teaching my notebook how to build electron apps (until I found the `node-build-tools` npm package) I was able to test it:
It works.

But it doesn't always work for my case. When I'm working remotely I use a VPN. It takes some time for the VPN to connect, and sometimes it also fails and reconnects. When this happens, the online/offline events don't get fired apparently.
Current

[2018-11-24 02:41] rishig commented on #566
cool, looks great!

The remaining things that stand out:
* [ ]  Show Desktop Notifications -> Should be "Suppress desktop notifications" or "Block desktop notifications from Zulip" to match "Mute all sounds from Zulip" (that's also a more accurate description of the setting).
I think this one is pretty important, since from the current setting name I think most users would have an incorrect intuit

[2018-11-24 09:57] akashnimare commented on #566
Yeah, we could change the notification wording but this should be done carefully since this could override the notification settings and complicate things. The changes will require -
* Rename the setting [here](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/pages/preference/general-section.js#L50)
* Rename `showNotifications` to maybe `blockNotifications`. Delete the old value

[2018-11-24 10:25] akashnimare commented on #566
We could also rename the `Mute all sounds from Zulip` to `Play notification sound` or something so that it matches with the flow and it would be a bit less complicated I think.

[2018-11-24 11:21] akashnimare commented on #566
@rishig does this look good?
![image](https://user-images.githubusercontent.com/2263909/48967604-1c999800-f009-11e8-8b43-9b3c81991416.png)

[2018-11-26 13:50] akashnimare opened #599 "Add context menu in left sidebar's server tab"
We should show the menu options when the user right clicks on the added zulip servers in the left sidebar. We could add multiple items there but for now, adding a `Delete` option which basically removes that org from the app.

[2018-11-26 13:52] aashish-ak commented on #533
@zulipbot  claim

[2018-11-26 14:52] akashnimare commented on #593
Okay, I can reproduce this error now. I'm still trying to figure out what's wrong with the snap. This works as expected if I build it locally and install it but doesn't work if I download this from the snap store.

[2018-11-26 14:56] akashnimare commented on #597
@strob can you reproduce this in chrome or in some other app?

[2018-11-26 15:04] akashnimare commented on #593
Similar issues -
https://github.com/burtonator/polar-bookshelf/issues/257
https://forum.snapcraft.io/t/apparmor-error-with-org-freedesktop-login1-manager/8164/8

[2018-11-26 23:17] popey commented on #593
@akashnimare left a comment on your [forum thread](https://forum.snapcraft.io/t/snap-fails-to-load-error-minidump-segmentation-fault/8691/4?u=popey).

[2018-11-26 23:26] timabbott commented on #596
I think a PR for this would be great; it seems like a small fix that is useful independent of when we end up doing #573.

[2018-11-26 23:29] timabbott commented on #582
Awesome, thanks @superbiche!  I think given your investigation, we can close this as a likely duplicate of #596, fix that, and then hopefully @ran404 can confirm the fix one we've merged the fix for #596.

[2018-11-26 23:29] #582 closed, assigned to nobody

[2018-11-27 00:55] timabbott commented on #573
I'd love to see this fixed while we're dealing with #596.

[2018-11-27 16:18] strob commented on #597
Chrome and other apps (including other Electron apps) work fine; it seems like there's a [known issue](https://github.com/electron/electron/issues/4772) with Electron, but some Electron projects seem to get it working.

[2018-11-27 16:54] akashnimare opened #600 "Add /find-accounts link on new server page"
More discussion at - https://chat.zulip.org/#narrow/stream/16-desktop/topic/Find.20accounts

[2018-11-27 19:16] superbiche commented on #591
@schrej Sorry I missed your comment. Thanks a lot for testing it, that's really cool!
I also think the mess between the online/offline events and the reconnection utils should be simplified and indeed handled in only one place, in a setInterval probably.
But I'm very afraid that unless we run online tests in a setInterval, we won't be able to tackle the "online not triggered" issue.

This is the b

[2018-11-27 19:17] superbiche commented on #591
@timabbott any point of view about this?

[2018-11-28 09:23] kanishk98 commented on #599
@zulipbot claim

[2018-11-28 09:38] schrej commented on #591
Why not start checking once a tab fails to load and the "you're offline" page is shown as I suggested?

[2018-11-28 09:48] superbiche commented on #591
I'll have a look at that tonight

[2018-11-28 09:54] kanishk98 commented on #599
@akashnimare I picked this up right now, and I was able to get the required context menu. However, when I click on 'Delete', there's no immediately visible action, even though I can confirm that the `removeDomain()` function is getting called. If I kill the app and relaunch it, the organisation is deleted.

Here's what I'm doing in `app/renderer/js/main.js`:

[code]

I checked the code used in `se

[2018-11-29 03:35] pspiller opened #601 "Large numbers of .org.chromium.Chromium.xxxxxx files created under /tmp"
---
The Zulip Electron app creates large numbers of `.org.chromium.Chromium.xxxxxx` files and directories under `/tmp` , to the point where it can fill up a 1GB `/tmp` partition within a day. The files all seem to be the same size (6.4MB). Deleting the files/directories doesn't appear to have any effect on the app, even if they are removed while it's running.

- **Operating System**:
  - [x] Linux

[2018-11-29 12:28] priyank-p commented on #601
It seems to be upstream issue, specifically chromium, there is a open issue ticket for it at https://bugs.chromium.org/p/chromium/issues/detail?id=265642 which seems to fixed upstream.

[2018-11-29 18:44] timabbott commented on #601
Hmm, it sounds like that ticket was fixed upstream 5 years ago -- unlikely to be the exact same bug (though obviously the same symptom).

[2018-11-30 08:53] akashnimare commented on #599
This looks good. Maybe reuse the following function -
[code]
You could also try to reload the app using -
[code]

[2018-11-30 14:40] schrej commented on #231
The issue still exists when using multiple displays. There has been a fix to the upstream library a few days ago that fixes that: https://github.com/mawie81/electron-window-state/releases/tag/v5.0.3
If the dependency gets updated, this issue should be fixed!

[2018-11-30 16:08] #231 closed, assigned to nobody

[2018-11-30 18:26] akashnimare commented on #231
@schrej thanks, pushed a fix. The changes will be added in the next stable release.

[2018-12-01 14:16] kanishk98 commented on #599
@akashnimare works now, thanks. :)
I have another question, though. When the organization is removed and a new one is added, the app does not enter the `forEach` loop referenced in the above comment on first run. I have to restart the app or hit `Ctrl + R` for the loop to work again.

Is this expected behaviour or should I dig deeper in case this is a bug?

[2018-12-01 14:25] abhigyank commented on #500
@akashnimare We could close this now (doesn't seem to be an issue in the latest version),

[2018-12-02 10:28] akashnimare commented on #599
Yeah, reloading is needed in that case. I'm hoping this will be improved in #496.

[2018-12-02 13:47] abhigyank opened #603 "Write requestOptions function to replace request"
Currently we proxy, certificate and ecdhCurve options in a request. This is leading to lot of redundancy in the code and could break parts where any option is missed. As mentioned in https://github.com/zulip/zulip-electron/pull/598#issuecomment-443425383 it is better to write a requestOptions function that takes the domain as input and return the appropriate object according to domain and settings

[2018-12-02 13:50] abhigyank commented on #603
@zulipbot add "Type: Enhancement" "help wanted"

[2018-12-03 21:32] timabbott opened #606 "ctrl-S hotkey isn't documented properly"
Built from master on Linux, I thought the the ctrl+S hotkey wasn't working, but actually you need ctrl+shift+s.  We should update the docs to clarify that (in general, best practice is to indicate capitalization via an explicit shift in hotkey docs, because often similar documentation will unconditionally capitalize key names, similar to how they are displayed on a keyboard)

[2018-12-04 11:10] abhigyank commented on #606
Which docs are you referring to? It is ctrl+shift+S on the keyboard's shortcut list inside the desktop app.

[2018-12-04 22:17] timabbott commented on #606
Oh, I mean this thing:
![image](https://user-images.githubusercontent.com/2746074/49476567-3720fd80-f7cf-11e8-9e5c-4fa3c07db7f9.png)

[2018-12-04 22:18] timabbott opened #607 ""Organizations" page should probably have a direct link to "add a new organization""
It feels weird that the only thing we have at the bottom of this is to upload a custom certificate:

![image](https://user-images.githubusercontent.com/2746074/49476606-5586f900-f7cf-11e8-9bc5-75c11d61b969.png)

[2018-12-05 07:13] #463 closed, assigned to nobody

[2018-12-05 07:27] #500 closed, assigned to nobody

[2018-12-05 08:13] #606 closed, assigned to nobody

[2018-12-05 10:09] akashnimare commented on #607
@rishig @timabbott does something like this work

![image](https://user-images.githubusercontent.com/2263909/49506367-e929f980-f8a3-11e8-812d-ae42771048ed.png)

<img src="https://cl.ly/64ec9dbe091b/download/Screen%20Recording%202018-12-05%20at%2003.40%20PM.gif">

[2018-12-05 10:19] akashnimare commented on #607
![image](https://user-images.githubusercontent.com/2263909/49506887-45414d80-f8a5-11e8-861d-4c303219dc51.png)

[2018-12-05 14:14] #599 closed, assigned to kanishk98

[2018-12-05 16:51] timabbott commented on #607
Yeah, that link mechanism is great.  Though I think we should put "Add a new organization" above "Add Custom Certificates", since it's the more common use case?  We might want to change its structure to be a button rather than a link so that it looks nice in that position.  What might look nicest is to style it like a white bar of similar size to the existing connected organizations, with just "Ad

[2018-12-05 17:00] akashnimare commented on #607
Correct, that would look good.

![image](https://user-images.githubusercontent.com/2263909/49529899-0d55fc80-f8dd-11e8-894e-d7278e01b0a7.png)

[2018-12-05 17:32] #607 closed, assigned to akashnimare

[2018-12-05 18:41] rishig commented on #607
Let's call this "Add an organization"? The "new" makes it feel like you're going to be creating an organization.

[2018-12-05 19:08] timabbott commented on #607
I think "Connect to another organization" would be more consistent with what we call it on the next page.

[2018-12-05 19:17] rishig commented on #607
yeah, sounds good

[2018-12-06 12:45] akashnimare commented on #607
Cool, pushed the changes.

[2018-12-06 12:48] akashnimare commented on #592
I don't think the issue is related to the `setAppUserModelId` since we're already using it [here](https://github.com/zulip/zulip-electron/blob/60d10d88d1a072cabde4ff3390fd7f6241adf210/app/renderer/js/notification/index.js#L13).

[2018-12-07 09:35] abhigyank opened #608 "Context Menu of sidebar doesn't work in letter icon"
A followup issue to #604 .
We fallback to initial letter of the realm in case the icon isn't available, in that case the context menu doesn't work. We should probably include an event listener for context in that case too.

[2018-12-07 09:36] akashnimare commented on #608
Hmm, good catch, we should make sure the context-menu works in every case.

[2018-12-07 09:47] abhigyank commented on #409
After changes in Zulip docs regarding the the desktop application, this issue should now probably be handled in this way -
Add the information listed in the original issue under a "Desktop Notifications" heading in the "Notifications" list in the `/help/` something like `help/desktop-notifications` .
This would be solved in the main Zulip repo, so the should probably go there with a link a to this

[2018-12-07 21:01] kanishk98 commented on #608
@zulipbot claim

[2018-12-08 07:22] kanishk98 commented on #608
I'm assuming this solves the problem:

![image](https://user-images.githubusercontent.com/24617297/49683284-05b67380-fae8-11e8-9da4-b1cdb689098c.png)

I'll send in a PR in a bit (failing some style tests right now). Please let me know if there's any other check I missed out on.

[2018-12-08 11:06] sunitharavi9 commented on #578
@zulipbot claim

[2018-12-08 13:25] abhigyank commented on #608
Looks good to me.

[2018-12-09 06:04] kanishk98 commented on #600
@akashnimare how would you suggest going about this - a `<webview>` that loads in another window or a core Electron solution that just calls the relevant APIs and displays results accordingly? The second is a little more work (I'm not very familiar with the web side of things on Zulip yet), but I'd personally prefer using that.

[2018-12-09 06:48] kanishk98 commented on #548
@zulipbot claim

[2018-12-09 06:49] kanishk98 commented on #548
@timabbott I'm sorry, I don't understand. What do you mean when you say `sortable.js`? I can't find any file by that name in the repo.

[2018-12-09 06:58] abhigyank commented on #548
`sortable.js` is a JavaScript library for reorderable drag-and-drop ( they have a repo on GitHub) . Akash has already done a lot of work on this, you can check out the `org-tab-drop` branch in this repo and then continue from there.

[2018-12-09 18:39] akashnimare commented on #548
@kanishk98 yeah the dragging part is done in the [org-tab-drag](https://github.com/zulip/zulip-electron/commits/org-tab-drag). The remaining part is -
* Update the tooltips
* Update the index of the orgs

[2018-12-13 01:52] priyank-p opened #611 "Set User-Agent when using request"
Currently whenever we using `request` module to add server it does not set `User-Agent` to the zulip server. We should be setting a proper `User-Agent` when sending a request.

The `User-Agent` should be from [`system-util.js`](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/utils/system-util.js#L51) where there is work done previously to have proper `User-Agent`.

Refs: https:

[2018-12-14 14:09] kanishk98 commented on #559
I think this is an interesting idea. I personally like the new title bar on VS Code a lot.
@akashnimare if you're okay with the idea, I can have a look at how Microsoft did that and try implementing one for Zulip over the next few days.

[2018-12-14 14:56] akashnimare commented on #559
@kanishk98 yeah, feel free to work on this (but I would prefer we should first fix the high priority issues)

[2018-12-14 18:34] abhigyank commented on #611
I think this should be done after implementing #603. Can be done before too, but would be much more simple after #603 is closed.

[2018-12-15 15:39] akashnimare commented on #611
Okay, so far @priyank-p and I have tried this but no luck -

[code]

![image](https://user-images.githubusercontent.com/2263909/50044704-b8b93b00-00ad-11e9-8c09-5caca5a7525b.png)

[2018-12-15 16:45] kanishk98 commented on #603
@akashnimare @abhigyank as far as I understand, you want all places where `request()` is used for getting the response object to be replaced by `requestOptions()`, correct?
I believe @superbiche has already worked on a method in https://github.com/zulip/zulip-electron/pull/598/commits/b2fe8ce5040beb88f7885fad4756482d6c450e2f. Do you have any changes in mind for this?

[2018-12-16 11:30] kanishk98 commented on #548
I've been trying to solve the tooltips problem, and I'd like some clarity here:
the `initTabs()` method in `app/renderer/js/main.js` calls `initServer()` using the following code:
[code]
If we're looking to update the server icons, should we also be changing the json file containing domain information?
(Since `DomainUtil.getDomains()` uses that file to pass domains to servers)

[2018-12-16 13:44] akashnimare commented on #548
I think in order to get everything right, we gotta save the index of the domain otherwise it would be difficult to keep track of all the indexes after dragging/reloading etc.

[2018-12-17 07:30] lloydhazlett commented on #601
Happening on both Ubuntu 16.04 and 18.04 using the Zulip Desktop apt repository package. Is there any other information that might help with any investigation? I'd think this would be impacting a larger number of users, surprising there haven't been more reports.

[2018-12-17 07:58] akashnimare commented on #601
Okay, let me file it to the upstream and see if there is any fix for this.

[2018-12-17 08:04] akashnimare commented on #601
https://github.com/electron/electron/issues/16097

[2018-12-17 14:48] akashnimare commented on #603
@kanishk98 yeah, that's what we need to do here.

[2018-12-18 08:36] superbiche commented on #603
@akashnimare @kanishk98 should be able to refactor the PR to include this (and other remarks from the issue it fixes) next week, I won't be working for my clients for a few days :)

[2018-12-18 09:15] abhigyank commented on #603
@superbiche  You could probably create a separate PR for this. Would be easier to keep track of and merge.

[2018-12-18 12:53] akashnimare commented on #611
This fixes the realm icon issue some users are having but I'm not sure if this fixes https://github.com/zulip/zulip/pull/10971 since it stil says (`unauth via ?`)

[2018-12-18 18:21] timabbott commented on #611
@akashnimare just to make sure -- you're running against a latest master Zulip dev server?  Because before roughly #10971, that endpoint always said "unauth via ?"...

[2018-12-18 18:48] akashnimare commented on #611
No, I was a bit behind. On master -

![image](https://user-images.githubusercontent.com/2263909/50175712-8f094980-0323-11e9-82d4-b308570f643c.png)

[2018-12-18 22:39] timabbott commented on #611
OK, great, sorry I should have mentioned that I added support for that logging as part of working on #10971.

[2018-12-18 23:06] sunitharavi9 commented on #578
Working on it.

[2018-12-19 06:53] #611 closed, assigned to nobody

[2018-12-19 06:54] akashnimare commented on #611
Thanks, everyone 🚀

[2018-12-19 08:09] ThePiyushGupta commented on #562
@zulipbot claim

[2018-12-19 12:03] ThePiyushGupta commented on #565
@zulipbot claim

[2018-12-19 12:24] ThePiyushGupta commented on #562
@zulipbot abandon

[2018-12-19 12:24] ThePiyushGupta commented on #565
@zulipbot claim

[2018-12-19 14:08] ThePiyushGupta commented on #565
I have added the basic functionalities .However i would like to know if triggering the "always start minimized" should automatically turn of "start in tray" and vice versa.

[2018-12-19 14:11] zingmars commented on #565
That's how I would prefer it.

Maybe it should check which option is set on startup and act accordingly, so people can toggle it according to their desires.

[2018-12-19 16:49] akashnimare commented on #565
Correct, this should be the expected behaviour.

[2018-12-19 17:46] sunitharavi9 commented on #562
@zulipbot claim

[2018-12-19 20:20] ThePiyushGupta commented on #562
@akashnimare  This issue seems to be specific to your os or machine as I am unable to reproduce it after multiple tries.
The charachter Icon from the realm name appers Instanty without any delay.However it shows the fallback charachter until the application is restarted.
Even with multiple servers it i am unable to reproduce the error .However the only problem is is that it shows the fallback char

[2018-12-20 12:30] ThePiyushGupta opened #614 "Copy link not working ."
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
  Go to a link and right click .You will be presented with a dysfunctional copy option .
- **Relevant error messages and/or screenshots
![screenshot from 2018-12-20 17-47-15](https://user-images.githubusercontent.com/16987573/50284998-d0633b80-0480-11e9-92f9-a74188629cb5.png)

[2018-12-20 12:44] #614 closed, assigned to nobody

[2018-12-21 10:56] akashnimare commented on #565
@zingmars do you think we should always `minimize to tray` if the `always start to minimized` in on?

[2018-12-21 11:05] zingmars commented on #565
Yeah

[2018-12-21 17:43] ThePiyushGupta commented on #540
We can add a link to the add-server page to configure network when the user has no servers .
![screenshot from 2018-12-21 23-09-14](https://user-images.githubusercontent.com/16987573/50355738-aa6b9300-0575-11e9-8d24-5e719cb4f060.png)
Would this be fine?

[2018-12-21 20:12] akashnimare commented on #540
I'm not convinced on putting this link in the front page. Maybe we could add this within the error dialog? @timabbott, @rishig thoughts?

[2018-12-21 21:07] rishig commented on #540
I'm fine with putting a "Change network settings" left-justified, in that font size, on this page.

We do need to show the option somewhere before they add their first organization, right?

[2018-12-22 02:28] stone212 commented on #540
@ThePiyushGupta I like @rishig 's suggestion:

[code]

One small change is I would not write "Change network settings" but "Network and Proxy Settings".

[2018-12-22 08:26] ThePiyushGupta commented on #540
So should I finalize this design?
On hover:
![screenshot from 2018-12-22 13-53-16](https://user-images.githubusercontent.com/16987573/50372243-4090cf00-05f1-11e9-8648-56eec1c27144.png)
else:
![screenshot from 2018-12-22 13-54-50](https://user-images.githubusercontent.com/16987573/50372246-569e8f80-05f1-11e9-8ff1-d07d32d9a9c1.png)

[2018-12-22 08:39] stone212 commented on #540
@ThePiyushGupta I know it's not my decision but since I opened the ticket I will give my opinion.  It bothers me when something you can click on is not underlined and has no other indication it is a link.  Maybe if you don't want to underline it you could do `Network and Proxy Settings >>` to make it more clear.

[2018-12-22 08:40] akashnimare commented on #540
IMO, most users won't need that setting only a few uses these network settings in general so it still makes sense to hide it under the error dialog (I think we can afford to let them add the server > showing that they need to configure the network setting etc).

[2018-12-22 08:41] stone212 commented on #540
@akashnimare

What does this mean?

[2018-12-22 08:43] akashnimare commented on #540
Error dialog -

![image](https://user-images.githubusercontent.com/2263909/50372387-b6963580-05f3-11e9-89e6-56b59fc453ab.png)

[2018-12-22 08:47] stone212 commented on #540
@akashnimare That would not help with this problem.  The problem that this Issue is designed to prevent is the problem of joining and connecting to an organization before you configure a proxy.  Doing that can cause data leaks so it is a security issue to have this option before you get to the point where you are `Connecting...`

[2018-12-22 08:59] stone212 commented on #540
@akashnimare It's not about how many users would use this.  That's like saying "most users won't need a VPN" and it is true but your OS should still allow you to connect to the VPN before sending normal traffic.  This is the same.

[2018-12-22 13:49] #565 closed, assigned to ThePiyushGupta

[2018-12-22 18:59] rishig commented on #540
Let's wait till Tim returns on this.

[2018-12-23 14:10] vsvipul commented on #593
had the same issue.. can confirm this :+1:

[2018-12-23 15:17] akashnimare commented on #593
@popey I actually don’t know if that `yaml` file is being used or not. Can you help me out on this i.e. what should I check/debug in order to get rid of the error?

[2018-12-24 11:08] akashnimare opened #618 "Switching to OS X dark mode makes Zulip just show a black screen"
A user reported

![image](https://user-images.githubusercontent.com/2263909/50398021-64dbdf80-079a-11e9-9580-bb2a4fb30cc9.png)

[2018-12-24 14:47] #618 closed, assigned to nobody

[2018-12-27 11:33] ananyaarun commented on #533
@zulipbot abandon

[2018-12-27 17:45] kanishk98 commented on #548
I'm still on the issue, just been unwell these past few days. The cold's got to me, sorry. I'll get back to work on this tomorrow.

[2018-12-29 10:51] xeruf opened #620 "System tray icon ugly in KDE Plasma"
The icon in the system tray in KDE Plasma has no borders separating the content from the remainder of the system tray, and as soon as there is more than 9 new messages, you can barely see the number.

---
- **Operating System**: KDE Neon
- **Relevant error messages and/or screenshots**:
![tray](https://chat.zulip.org/user_uploads/2/c0/BFmZx7p2vHOur8QjfIYmIA9p/pasted_image.png)

[2018-12-29 12:22] abhigyank commented on #620
This is a known upstream issue. Description and temporary solution described here [vector-im/riot-web/issues/6767 comment](https://github.com/vector-im/riot-web/issues/6767#issuecomment-424538693) .
Most electron apps seems to be effected by this on KDE. The fix has been made to chromium and soon should be in electron in its upcoming releases.
Two possible temporary solutions -
* Remove libappindi

[2018-12-29 14:17] xeruf commented on #620
Ok. Just so you know, the way you linked to the comment did not work, but I found it anyway ;)

[2018-12-29 14:26] abhigyank commented on #620
Sorry my bad. Thanks for letting know. Edited. Let us know if the fixes work for you.

[2018-12-29 16:56] xeruf commented on #620
Adding `XDG_CURRENT_DESKTOP=Unity` to the application starter indeed worked, while libappindicator made absolutely no difference.

[2018-12-30 15:18] #608 closed, assigned to kanishk98

[2019-01-02 08:29] ThePiyushGupta commented on #540
@timabbott thoughts?

[2019-01-02 08:48] kanishk98 commented on #551
@zulipbot claim

[2019-01-02 20:31] timabbott commented on #540
I think https://github.com/zulip/zulip-electron/issues/540#issuecomment-449554833 is a good approach.  I think we might want to shrink the vertical space above/below the `OR` as part of this change, but otherwise I'm pretty happy with that design.

(The pop-up error isn't very attractive, and ideally we'd minimize the extent to which users end up running into that).

[2019-01-03 11:37] rishig commented on #540
Some minor notes:
For styling we don't use underlined links in Zulip, but we can indicate it's a link by:
* Adding something like https://fontawesome.com/v4.7.0/icon/external-link at the end (or whatever the desktop app generally uses in these situations)
* Underline on hover

We also use sentence-case, so "Network and proxy settings"

And agreed with the page maybe needing a bit of a more global

[2019-01-03 18:45] stone212 commented on #540
@rishig

[code]

What about my suggestion of adding `>>` to the end so it reads `Network and Proxy Settings >>` instead of Network and Proxy Settings`.  If it does not have the `>>` then it looksl like you are *on* the Network and Proxy Settings page, or the "Network and Proxy Settings" should be below that text but they are missing.  The `>>` tells you it's on the "next" page.  I guess the FontAw

[2019-01-04 00:26] timabbott commented on #620
Is the `XDG_CURRENT_DESKTOP` thing a workaround we can do for everyone, or will it cause problems for folks using other windowing systems?

[2019-01-04 07:42] xeruf commented on #620
Shouldn't be a problem, since it is just an application parameter. You could even include it in the .desktop starter until the issue is resolved

[2019-01-04 15:07] reimerpeter commented on #584
I had this problem back in October 2018 however a reinstall fixed it.

The problem came back today although I was able to turn off Enable Auto Updates after 3 tries and now Zulip is no longer crashing in 3 seconds.

I can send logs if you tell me where they are in Windows 10.

[2019-01-04 15:36] emmanuelflores-sk commented on #584
Echoing reimperter above, Zulip started crashing on me not long after it's started up. Somewhere between 5 to 30 seconds.

[2019-01-04 16:50] abhigyank commented on #584
@reimerpeter You can access the logs from `Tools->Show App Logs` and mail it to akash[at]zulipchat[dot]com.
It has something to we with the auto updates, since we had released a new update today. For now we have pull the update down so it should work properly.

[2019-01-04 17:44] reimerpeter commented on #584
I found it in Tools, Download App Logs.
I will email it to you.
Thanks!

[2019-01-05 08:29] ThePiyushGupta commented on #540
@akashnimare @rishig Suggest which design should i PR?
![screenshot from 2019-01-05 13-57-20](https://user-images.githubusercontent.com/16987573/50722227-e06e5280-10f1-11e9-81dd-0492deea8f15.png)
![screenshot from 2019-01-05 13-56-12](https://user-images.githubusercontent.com/16987573/50722228-e401d980-10f1-11e9-9641-5134a1f1066a.png)
Personally i feel that the first one is better as it gives the

[2019-01-05 17:50] Swapnilr1 commented on #533
@zulipbot claim

[2019-01-05 19:07] gregzil opened #622 "Internal Server Error"
I am working on Windows 10 ,and specifically the Zulip Desktop v2.3.82,
By going to "Tools"/ "Toggle DevTools for Zulip App", after a while, a Internal server error appeared.
![zulip error](https://user-images.githubusercontent.com/45594372/50728139-ef72f600-112d-11e9-87a4-9b8d05d70709.jpg)

[2019-01-05 23:00] timabbott commented on #540
Do the second one.  "Network and proxy settings" is like 30X less important than the other buttons, and that should be reflected in the visual appearance.

[2019-01-05 23:01] timabbott commented on #622
This is a problem with your server, not with the app.  You should ask the server administrator to look at their error logs to see what's wrong.  (Does this happen consistently when using the developer tools?  It seems possible the timing was just random chance).

[2019-01-05 23:01] #622 closed, assigned to nobody

[2019-01-06 03:47] rishig commented on #540
A few more minor comments:
* The link icon should be smaller and lower. (Or possibly not there at all? I feel like it emphasizes the option too much.)
* There should be more vertical space between "Network and proxy settings" and the Create a new organization button.

Though if Akash has other styling ideas you should just go with that.
Thanks!

[2019-01-06 06:50] akashnimare commented on #540
I think we can get rid of the link icon since it's not that important.

[2019-01-06 17:25] Swapnilr1 commented on #533
@abhigyank Can you tell me how to replicate this issue? Also I see `kanishk98` had made a commit regarding this. Did it not fix the issue? Or was it not merged?

[2019-01-07 08:56] abhigyank commented on #533
Hello @Swapnilr1 I highly doubt kanish98's solution will work here or even the PR of flowkraD.
The issue here is that `defaultIconUrl` is a `file://` protocol link and `request` is able to entertain only `http` or `https`  endpoints. So in this case a different approach is required to fix the issue even after correcting the path in `defaultIconUrl` .
Regarding reproducing this issue, see https://g

[2019-01-07 12:30] xeruf opened #623 "Allow muting organizations"
In Discord, I can simply right click a server and then mute it. This will prevent any badges from showing up from this server, in the server overview and in the tray. This could have three modes, similarly to how Slack handles notifications, or even allow configuring it granularly:
* Show badge for all messages
* Only for DMs, Mentions & keywords
* Never show badge

Zulip discussion: https://chat.

[2019-01-07 13:21] Swapnilr1 commented on #533
@abhigyank So should I sign-up for abhigyank.zulipdev.org and add it to the Electron app, or is there a way to locally load such a server?

[2019-01-07 18:06] abhigyank commented on #533
@Swapnilr1  there is no need to signup on the server. You can simply add it to the electron app in add organization page. That should be sufficient to reproduce the issue I suppose,

[2019-01-07 18:38] timabbott commented on #623
Thanks for the report; I agree this would be a useful feature to add to our new per-organization context menu.

[2019-01-07 18:50] Swapnilr1 commented on #533
@abhigyank After running `npm run dev` and then adding `abhigyank.zulipdev.org` where should I be able to see this error?

[2019-01-07 19:25] ThePiyushGupta commented on #540
I think that this is what satisfies all the above requirements and looks good.
![screenshot from 2019-01-08 00-45-18](https://user-images.githubusercontent.com/16987573/50788492-93e86a00-12df-11e9-86cf-cae008d0f35a.png)

[2019-01-08 01:31] stone212 commented on #540
@ThePiyushGupta `Network and proxy settings` still doesn't make it clear what to do or what it means.  Is it a header for something that should be visible below?  Is it the beginning of a sentence?  What's wrong with:

`Network and Proxy Settings >>`

That has capital letters like a heading and the `>>` tells you you'll be taken somewhere.  Right now it's just sloppy.

[2019-01-08 05:58] akashnimare opened #624 "Reply from notification is broken"
![image](https://user-images.githubusercontent.com/2263909/50812343-6a0f6180-1338-11e9-9c52-00dae93a46b6.png)

This is due to the change in the webapp's codebase.

https://chat.zulip.org/#narrow/stream/9-issues/topic/reply.20from.20notification/near/679802

[2019-01-08 06:02] #624 closed, assigned to nobody

[2019-01-08 06:06] akashnimare commented on #533
@Swapnilr1 in the console tab of developer tools.

![image](https://user-images.githubusercontent.com/2263909/50812640-9081cc80-1339-11e9-9c0a-5bebccbf77d9.png)

[2019-01-08 07:53] kanishk98 commented on #623
I'd love to work on this issue. I saw the discussion on the chat thread, and I think I should first start with the context menu and then add options for muting in the organizations page of preferences as well.

[2019-01-08 08:01] kanishk98 commented on #623
@zulipbot claim

[2019-01-08 12:44] priyank-p commented on #624
For the fix, 3e73511, we also want to make sure we maintain backward compatibility.
So we should have added a check like `const narrowToTopic = narrow.by_subject || narrow.by_topic;`

Also I don't think the upstream change is in any stable release yet for webapp so the fix is actually be breaking.

[2019-01-08 18:50] Swapnilr1 commented on #533
@akashnimare Thanks a lot. Working on it.

[2019-01-09 14:05] snomos commented on #542
Very much supported. Attached is a screen shot showing the result of writing in Norwegian (the suggestions are definitely not Norwegian):

![image](https://user-images.githubusercontent.com/1255285/50904101-1d0ab880-1428-11e9-9fe8-a71abd192015.png)

[2019-01-12 16:17] kanishk98 commented on #551
Have submitted a PR that I think solves the issue. Will improve solution according to suggestions by maintainers.

[2019-01-14 13:59] Swapnilr1 commented on #533
@zulipbot claim

[2019-01-14 19:00] Swapnilr1 commented on #573
@zulipbot claim

[2019-01-14 19:01] Swapnilr1 commented on #573
@timabbott Can I work on this?

[2019-01-14 19:41] abhigyank commented on #573
You can work on this @Swapnilr1 . It is encouraged for new contributors to focus their efforts on at most 1 issue at a time. Since you have already made a PR for your previous issue and no one else is working on this one, you can take this up.

[2019-01-15 09:26] schrej commented on #591
Have you looked at it yet? 😬

[2019-01-16 04:44] tomnieuwland opened #628 "Zulip Segfaults on Launch Ubuntu 18.10"
I've just installed the Zulip desktop client on Ubuntu 18.10, using Snapcraft, and it seems to seg fault when I try to launch it.

---
- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
1. Open terminal
2. Run `zulip`
- **Relevant error messages and/or screenshots**:
[code]

[2019-01-16 05:24] akashnimare commented on #628
Yeah, it's a known issue with the snap installer, see #593. For now, feel free to install the other installers (AppImage, deb etc) - https://zulipchat.com/help/desktop-app-install-guide

[2019-01-16 05:40] tomnieuwland commented on #628
Thank you! Sorry I didn't spot the existing issue :frowning_face:

[2019-01-16 07:42] One111 commented on #593
Same issue.
Ubuntu 18.04.1 LTS

`Gtk-Message: Failed to load module "canberra-gtk-module"
Gtk-Message: Failed to load module "canberra-gtk-module"
Failed to generate minidump.Segmentation fault (core dumped)`

[2019-01-16 08:00] Nikhil-Vats commented on #533
@zulipbot claim

[2019-01-16 08:01] Swapnilr1 commented on #533
@NikhilPhalange I have already fixed this issue and my PR is pending review.

[2019-01-16 14:20] showell commented on #623
There's some discussion here about just doing this for the whole app (i.e. not desktop specific):

https://chat.zulip.org/#narrow/stream/101-design/topic/mute.20organization/near/683125

[2019-01-16 19:30] Nikhil-Vats commented on #533
@zulipbot abandon

[2019-01-17 07:39] abhigyank commented on #359
@akashnimare This is implemented in Priyank's commit and can be closed.

[2019-01-17 08:47] Nikhil-Vats commented on #562
@zulipbot claim

[2019-01-17 15:36] #359 closed, assigned to nobody

[2019-01-20 08:31] Nikhil-Vats commented on #596
Can I work on this @timabbott? Since I have already sent a PR for the previous issue I was working on.

[2019-01-21 09:33] akashnimare commented on #596
@NikhilPhalange feel free to work on this.

[2019-01-21 18:46] punchagan opened #634 "Incorrect Focus after Switching Realms"
Running on the latest master.
When I switch between Realms, I have to click to change focus to the new realm.  To reproduce,

- add two (or more) realms to Zulip electron
- open compose box in the first realms
- switch to the second realm using the short cut key (Ctrl + 2)
- try using navigation shortcuts - n, j, k, etc. Notice that things don't work!
- Click on the "page" to bring it into focus.

[2019-01-22 07:34] akashnimare commented on #634
@priyank-p is this the same bug we fixed last year?

[2019-01-23 04:53] kanishk98 opened #636 "Can't run Travis checks locally [Windows]"
Since the `scripts/` folder only contains `.sh` files, Zulip contributors developing on Windows cannot check their commits for Travis errors before pushing. This slows them down and makes work harder for the maintainers too.

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS

- **Clear steps to reproduce the issue**:
Run `$ npm run travis` from within your Zulip directory

[2019-01-23 04:54] kanishk98 commented on #636
I'd like to work on this issue as well.
@zulipbot claim

[2019-01-23 12:32] priyank-p commented on #634
I can't remember exactly but I think I fixed the focus related thing two times: (1) handling focus changes from the settings tab (2) handling focus correctly for notification feature.

[2019-01-23 12:40] priyank-p commented on #636
@kanishk98 for running tests on Windows CI, you should just try to run `npm test` that will run lint and then you can try and see if `npm run test-e2e` work out of the box for windows.

The current `scripts/travis-build-test.sh` just starts the `xvbf` service that allows running electron test (the e2e tests) on CI, Its not even possible to install on windows and possibly there is no need to.

For

[2019-01-23 12:57] punchagan commented on #634
This issue seems related: https://github.com/electron/electron/issues/15718

[2019-01-23 15:36] kanishk98 commented on #636
@priyank-p thanks a ton for telling me about this.
I agree that if there's already a facility for testing the app using `npm run test-e2e`, there's no need for setting up another build environment on Travis.
I do have some questions (and suggestions) relating to Windows compatibility regarding the `npm test` and `npm run test-e2e` commands, but I suppose those can be taken up in the message boards

[2019-01-23 15:36] #636 closed, assigned to kanishk98

[2019-01-24 09:14] kanishk98 commented on #600
@zulipbot claim

[2019-01-24 11:28] Nikhil-Vats commented on #596
@zulipbot claim

[2019-01-25 09:12] kanishk98 commented on #603
@abhigyank I saw that the referenced PR https://github.com/zulip/zulip-electron/pull/598 has not been merged yet. I'm unsure of how to proceed with this issue, should I hold on till the PR gets merged to master?

[2019-01-25 09:16] kanishk98 commented on #578
@zulipbot claim

[2019-01-25 11:25] punchagan commented on #634
Based on this discussion I found a [work around that I pushed here](https://github.com/punchagan/zulip-electron/commit/ed2046f73dd56eb18fddabdef111c7fee4831d11). Let me know if that looks reasonable to you.  @akashnimare @priyank-p

[2019-01-25 12:35] priyank-p commented on #634
I think the work around is fine given that we call focus after we call blur. I would add a comment and link to issue for that link so we can later take care of it when it gets fixed upstream.

[2019-01-25 13:00] abhigyank commented on #578
@synicalsyntax zulipbot seems to stuck on something here. Could you check?

[2019-01-25 13:55] punchagan commented on #634
Thanks @priyank-p. Opened #639 as a fix.

[2019-01-25 14:09] punchagan opened #640 "Disable PDF viewer"
Can we disable the PDF viewer until it is fixed upstream?  Unless we want to do our own pdf viewer using pdf.js.

Currently, it opens up the dialog to save, and also opens up a new window which is supposed to be the actual viewer, but it doesn't display the PDF.  Having to close the extra window is annoying.

[2019-01-27 10:09] Nikhil-Vats commented on #562
@zulipbot Yes, I have a pending Pull request which needs to be accepted. I have completed the work.

[2019-01-28 10:39] akashnimare commented on #640
@abhigyank would you be interested in this since you added this feature?

[2019-01-28 11:13] abhigyank commented on #640
PDF viewer was added in 6fd9e1be8bb4d1daf524bbcffdb131aa3dcca12e by this, I think for now we can just revert to downloading the PDF?

[2019-01-28 11:37] akashnimare commented on #640
Yeah, correct.

[2019-01-28 15:38] Nikhil-Vats commented on #596
I am not able to understand this issue as soon as I initiate a zulip instance, I am shown this which is okay, I guess. Please see the screenshot attached, this is the page which comes after we add an instance. @superbiche @akashnimare
![screenshot 106](https://user-images.githubusercontent.com/31413407/51846931-a125d100-2340-11e9-8080-de13141cbfd3.png)

Till then I am working on some other issue,

[2019-01-28 15:42] Nikhil-Vats commented on #640
I will be happy to work on it, if it's fine. Just tell me where's the relevant code and how should I approach? I can also explore pdf.js and see if we can add it here because it is a very nice feature and relying on fixing upstream may delay it a lot? @akashnimare @abhigyank

[2019-01-28 16:26] punchagan commented on #640
To look at where the code is, look at the [commit referenced by @abhigyank above](https://github.com/zulip/zulip-electron/commit/6fd9e1be8bb4d1daf524bbcffdb131aa3dcca12e).

[2019-01-29 06:13] akashnimare opened #641 "Provide MSI Installer"
We have got few requests from users who want to have the MSI installer so that the admin can distribute the app easily to multiple machines -

https://www.electron.build/configuration/win#WindowsConfiguration-target

[2019-01-29 11:19] Nikhil-Vats commented on #640
Cool, working on it. Can I use pdf.js to open the files too?

[2019-01-30 12:55] vsvipul commented on #603
@zulipbot claim

[2019-01-31 18:18] vsvipul commented on #641
@akashnimare  do i need to setup the dev environment in windows to work on this ?

[2019-01-31 18:20] vsvipul commented on #640
@zulipbot claim

[2019-02-01 07:11] akashnimare commented on #641
@vsvipul yeah, you need to build the installer on Windows (you can do it on Linux/macOS as well but windows is recommended).

[2019-02-03 14:54] kanishk98 commented on #600
Still working on this issue (waiting for suggestions on implementation, see [this text](https://chat.zulip.org/#narrow/stream/16-desktop/topic/Find.20accounts/near/691499).

[2019-02-05 13:48] kanishk98 commented on #578
Still working. :)

[2019-02-06 19:18] kanishk98 commented on #641
I'd like to work on this issue. @vsvipul are you already on it though?

[2019-02-06 19:46] kanishk98 commented on #470
@zulipbot claim

[2019-02-06 19:55] kanishk98 commented on #430
@zulipbot claim

[2019-02-06 21:15] vsvipul commented on #641
@kanishk98  no, i don't have a windows environment. You can take up this issue. Thanks

[2019-02-07 03:30] irahulcse opened #648 "Not able to install the Zulip Desktop App in Ubuntu 18.04"
After installing the app from the snap package with code(sudo snap zulip). When I am trying to open the app it is not opening and also I am not able to reinstall the app again. Is there is any way of uninstalling the app completely from the system and then reinstall it from cmd. As it had happened to me previously also when the Zulip app was not able to work properly.
The app is showing in the app

[2019-02-07 09:40] kanishk98 commented on #470
This seems to be fairly simple for a macOS implementation. Since the `app.on('open-url')` event getting fired sends the entire URL to the app, things get easy for a proper implementation there.
I can't find any info in the [docs](https://electronjs.org/docs/api/app#appsetasdefaultprotocolclientprotocol-path-args) about Windows or Linux about the same level of functionality though, apart from maybe

[2019-02-07 10:24] kanishk98 opened #645 "App crashes when adding new organisation without internet connection"
---

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS

- **Clear steps to reproduce the issue**:

When I try to add a new server using the + button in the sidebar, the console shows a crash and the webview stays blank. This can cause some confusion on the user's end.

- **Relevant error messages and/or screenshots**:

![image](https://user-images.githubusercontent.com/246

[2019-02-07 10:42] kanishk98 commented on #645
Whoops, looks like the above problem was created because of some work I was doing on the `new-server-form.js` file. I re-tested the functionality with a fresh installation of Zulip and everything works as expected. Closing the issue.

[2019-02-07 10:42] #645 closed, assigned to nobody

[2019-02-07 19:06] timabbott commented on #648
@akashnimare can you investigate?

[2019-02-08 00:30] amahoneyLIT opened #646 "Spellcheck randomly breaks, or possibly unknown language change"
- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
  - Unknown, multiple users in our organization have experienced the issue appear and then resolve itself
- **Relevant error messages and/or screenshots**:
![spellcheck problem](https://user-images.githubusercontent.com/38052592/52451432-d6c27b00-2af3-11e9-801c-fd783b7037ed.png)
![s

[2019-02-08 01:04] timabbott commented on #646
@amahoneyLIT thanks for the report!  If you can figure out a reproducer, that'd be super helpful.

@akashnimare we should debug this, but it's possible we should also add an option in "spellchecker language" of "None" to disable the feature, so there's a workaround (both for bugs like this, which we should hopefully expunge, but also for any other spellchecker issue)

[2019-02-08 11:55] irahulcse commented on #648
@timabbott  I had tried different ways of opening the Zulip desktop in my Ubuntu-18.04. I think that there is some problem regarding the starting of the app in my system.

[2019-02-08 15:32] abhigyank commented on #648
Snap has an issue in Ubuntu 18.04. See #593, #628
You can use the AppImage version. That should work.

P.S. This is a duplicate issue, we can close.

[2019-02-09 08:34] #640 closed, assigned to nobody

[2019-02-09 10:14] akashnimare commented on #646
We do have the option to disable this feature -

![image](https://user-images.githubusercontent.com/2263909/52519432-40bc5b00-2c81-11e9-8a58-d205b4dbeab9.png)

Adding an option to choose the spellchecker language is in our roadmap.

- * Unknown, multiple users in our organization have experienced the issue appear and then resolve itself

Resolve itself thing is weird here since if it's not working

[2019-02-09 10:15] akashnimare commented on #646
@amahoneyLIT can you please tell me which version of the desktop app you folks are using?

[2019-02-09 12:43] vsvipul commented on #562
@zulipbot claim

[2019-02-09 13:20] vsvipul commented on #562
@zulipbot abandon

[2019-02-11 22:47] rishig opened #649 "Add "Copy Zulip URL" to a few places."
For the right click menu on the organization logo, we should add "Copy Zulip URL". We should also add "Copy Zulip URL" to one of the menus at the top (maybe Window?)

For context, one of the goals with this is to teach users what the Zulip URL is.

Some discussion: https://chat.zulip.org/#narrow/stream/16-desktop/topic/Zulip.20URL

[2019-02-12 08:37] punchagan opened #650 "Broken back and forward when exiting settings UI"
Looks like `Alt + Left` and `Alt + Forward` don't work on master. This seems to have been introduced with updating to Electron v3.

[2019-02-12 09:42] matrixise opened #651 "the keyboard shortcuts dialog is not shown when outside of a workspace"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Use the last version of the Electron client 2.3.82

For example, you click on the button "Add Organization" and you can't show the dialog with the keyboard shortcuts with Ctrl+Shift+K or via the "File" menu.

[2019-02-12 10:07] abhigyank commented on #651
The keyboard shortcuts are only relevant when an organization (workspace) is open and in focus and hence can't be shown in other windows. In fact, the Keyboard Shortcut option in File menu should be grayed out in other windows.

[2019-02-12 10:09] abhigyank commented on #650
Seem to be working on for me in the latest master on Ubuntu.

[2019-02-12 10:12] matrixise commented on #651
+1

[2019-02-12 12:38] kanishk98 commented on #650
Doesn't seem to be a problem in the latest master on Windows 10 either. :)
@punchagan what Linux distro are you running?

[2019-02-12 14:00] punchagan commented on #650
Ubuntu 18.10; Gnome Shell. @akashnimare was able to reproduce it on Mac OS as well.

Have you run `npm install` before running `npm start` ?

[2019-02-13 17:49] vsvipul commented on #649
@zulipbot claim

[2019-02-14 09:23] Swapnilr1 commented on #392
@zulipbot claim

[2019-02-14 12:15] kanishk98 commented on #430
While it's easy to handle the logout case, I'm not sure of how to take care of _all_ requests that should prompt a spinner to come up. As indicated [here](https://chat.zulip.org/#narrow/stream/16-desktop/topic/Loading.20indicator/near/695991), we could either just check for GitHub/Google logins by keeping an eye on all network requests being made, or we could define a list of certain operations th

[2019-02-14 14:14] vsvipul commented on #649
@rishig i have made a pr to add the option to sidebar.. how should i go on to add the option to window menu ? please review

[2019-02-14 20:59] kanishk98 commented on #649
I can help here. :)

If you look at `app/main/menu.js`, you'll see that each menu is just a JSON array of objects containing a title, a shortcut, and a click listener.

I tested something out that might help you:
[code]

I added this to the array being returned in `getToolsSubmenu()` method in `menu.js`.

The logic mentioned above would depend on your implementation. Off the top of my head, you co

[2019-02-14 23:18] vsvipul commented on #649
@kanishk98 thank u so much. though i already knew this much. I was just confirming about the logic on how to do so. You can follow the discussion [here](https://chat.zulip.org/#narrow/stream/16-desktop/topic/Zulip.20URL).

[2019-02-15 05:20] kanishk98 commented on #430
I'd also like to add that I'm not sure if a spinner is the best way to show progress here. I think GitHub's approach is one we could borrow here: display some non-invasive progress line at the top of the webview. This would make our work (as listed above) easier as well because we won't have to maintain a list of operations that do _not_ require a progress list (even if it's a message being sent,

[2019-02-15 16:42] rishig commented on #430
I think we do want an infinite loading indicator, rather than a progress bar, since progress bars are often a lot of work to get right.

Just tried this out, and even on pretty good internet I can see that e.g. clicking on "Log in with Google" is slow enough that you're tempted to click again. For buttons like that I think the right solution can be to add a loading indicator in the button itself.

[2019-02-15 16:42] rishig commented on #430
(And agreed with a comment in the czo thread that e.g. putting a loading indicator on the google button sounds like a webapp project.)

[2019-02-18 04:18] kanishk98 commented on #430
Yeah, that'd solve the problem.

Hasn't that already been addressed though? I think @abhigyank's main concern was the login flow, and if this needs to be taken up on the webapp side, then there's not much else for us to do here.

[2019-02-18 04:20] kanishk98 commented on #470
Working.
To keep the maintainers posted, I've been looking into Mattermost's implementation of their mattermost:// scheme, but I've run into a couple of build issues when packaging the app for distribution on my Windows system. Will ask a question on the czo boards if it persists.

[2019-02-18 05:33] stone212 commented on #470
@kanishk98 What about just creating the URI handler/prefix and allowing (requiring) users to add it manually?  Some OS might prompt the user to add it automatically, others would require manual.  It would be ideal if the electron app could detect and register but it's not absolutely necessary.

[2019-02-18 05:34] stone212 commented on #470
@kanishk98 Also you are aware of this information? https://support.shotgunsoftware.com/hc/en-us/articles/219031308-Launching-applications-using-custom-browser-protocols

[2019-02-18 19:49] kanishk98 commented on #470
@stone212 thanks a ton for your help.

I'm lost on what you're saying here. Could you give me an example?

I am, thanks! I checked Electron's repo and they seem to be using the stuff in the referenced link for their implementation of the `setAsDefaultProtocolClient()` method. I don't think this should require significant effort from our side, and we can always change to using electron-builder's fu

[2019-02-19 04:08] vsvipul commented on #641
@zulipbot claim

[2019-02-19 07:28] stone212 commented on #470
@kanishk98

No I can't give an example but what I am saying is that one solution could be that the server sends links to zulip content two ways.  One is a link to the web page and the other starts with `zulip://`.  Then the Electron app knows how to find the data based on the URI that follows.

And the user must manually add the `zulip://` handler to the OS.

The alternative option is to make the

[2019-02-20 06:22] abhigyank commented on #651
@akashnimare This can be closed I guess. It's an expected behaviour.

[2019-02-20 06:25] abhigyank opened #659 "Shortcut for cycling through organizations"
We can add two shortcuts to cycle through organizations. Ctrl+Tab could switch to the next organization in sidebar ( and to the first if currently on the last in list) and Ctrl+Shift+Tab could switch to the previous organization in sidebar ( and to the last if currently on the first in list).
These two options could also be added on the Windows menu.

This would make switching more "simple" on the

[2019-02-20 06:26] abhigyank commented on #659
@zulipbot add "Type: Enhancement"

[2019-02-20 06:27] abhigyank commented on #659
@zulipbot add "Type: Enhancement"

[2019-02-20 09:01] kanishk98 commented on #659
@zulipbot claim

[2019-02-20 09:32] matrixise opened #660 "Indicator for "Do Not Disturb""
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
- **Relevant error messages and/or screenshots**:

In the Electron version, we have the option "Toggle Do Not Disturb", but when we click on this menu item, there is no indicator, because I don't know if I am in mode "Do Not Disturb" or not.

[2019-02-20 09:33] ghost commented on #593
i solved temporally my problem using the Appimage version. I did:

1. Download: [chmod a+x Zulip-x.x.x-x86_64.AppImage](https://zulipchat.com/apps/linux)
2. Change permissions:
`sudo chmod a+x Zulip-x.x.x-x86_64.AppImage`
3. Rename:
`sudo mv Zulip-2.3.82-x86_64.AppImage zulip`
4. And copy to /usr/bin:
`sudo cp zulip  /usr/bin/`

So, just execute on terminal and work for me!

[2019-02-21 10:10] rhythm-sharma commented on #660
I want to claim

[2019-02-22 19:14] glyph opened #661 "use renderer sandbox when it's available"
Progress is being made on running Electron renderers in the Chromium sandbox:

https://github.com/electron/electron/issues/6712

(As of this writing, 6/8 tasks there.)

When this is available, the Zulip desktop app should adopt it to provide defense in depth against browser-based exploits escalating to local RCE.

[2019-02-22 20:54] ghost commented on #527
I'm currently looking for a way to do this on linux (with windows as a lower priority). Is there any (even hacky) way to accomplish even the default organization right now?

[2019-02-22 20:57] ghost opened #662 "No Right Click context menu on centos7 linux"
Centox 7.4/7.5 Linux v2.3.82

Using the app image, there is no right click context menu, so there's no way to copy a stream/topic URL like #15 added.

This is confirmed working in the OSX app.

[2019-02-22 23:47] timabbott commented on #661
Cool, thanks for opening this issue @glyph!

[2019-02-23 05:27] abhigyank commented on #662
This works for me on Ubuntu 16.04, should could be specific to Centos as well.
@swallitsch  We had one such report recently for Windows, but that was fixed by re-installing the client. Maybe you could try re-installing the client once and see if that works for you.

[2019-02-23 05:38] abhigyank commented on #527
@swallitsch A hacky way could be to add the org in config file already and distribute.
In `~/.config/Zulip/config/domain.json` , a default first organization can be manually added in this way -
[code]

[2019-02-23 06:47] kanishk98 commented on #659
@abhigyank I'd like some input on the preferred option to implement shortcuts here. I could write an event listener without using any external library, or I could do what [Electron docs](https://electronjs.org/docs/tutorial/keyboard-shortcuts) suggest and use the Mousetrap library. The latter option would definitely be more readable and require less work going ahead (assuming we're going to contin

[2019-02-23 19:30] vsvipul commented on #603
@zulipbot  i have opened a pr awaiting review :+1:

[2019-02-23 21:01] kanishk98 commented on #659
I tried both approaches mentioned above, but I realized that maintaining window-level control was somewhat tricky and cumbersome, especially when the user was typing into input fields. Electron's `MenuItem` implementation solves those problems, at the cost of adding an extra item in the Window menu up top. I don't think that's a bad idea.

That's the approach I've used in the referenced PR.

[2019-02-23 21:06] kanishk98 commented on #430
@rishig @abhigyank please let me know how to go ahead with solving this problem - it is a pretty disconcerting bug. If you think that there's nothing else to be done on the desktop app, should I abandon the issue here and raise it in the webapp repo?

[2019-02-23 21:25] rishig commented on #430
yeah, that sounds like a good plan. Seems like it shouldn't be a hard fix. Thanks for keeping track of this!

[2019-02-24 05:25] ghost commented on #662
This was reported by multiple users across our org, all using the latest app image.

I just did a fresh install of vanilla Centos7 and Gnome 3 and confirmed that there is no right click context menu using chat.zulip.org.

[2019-02-24 13:44] Swapnilr1 commented on #392
Yes, I am working and I should be able to submit a work-in-progress pull request in 2 days.
EDIT: Ran into some issues, still working.

[2019-02-24 19:01] vsvipul opened #664 "Use pdf.js to open pdf files"
PDFs files currently download onto the system when clicked on .We can used pdf.js to open them instead. A pdf reader was first used but had a bug upstream due to which it had to be disabled.

[2019-02-24 19:01] vsvipul commented on #664
@zulipbot claim

[2019-02-25 04:47] abhigyank commented on #430
I think the putting a loading indicator on the google and other auth buttons could be on the webapp. But I guess the the indication would be limited to the buttons then. What happens when you click on login in the Google Auth page (It feels stuck/hang after entering credentials on Google/Github) ? We can't control that and other pages. Plus there is the logout too (that is not much of a use-case I

[2019-02-25 04:47] abhigyank commented on #662
@akashnimare Can you figure our why is this being caused? I can't seem to find an issue upstream. Maybe due to electron update?

[2019-02-25 09:07] kanishk98 commented on #430
Hmm, I think you're right. I ignored the login flow after the buttons on our webapp.
Okay, I'll read about how browsers identify when to show the loading icon (they don't show one when I send a message here, for example, even though it's a network request), and I'll write that into our sidebar icon.

Thanks for the help!

[2019-02-25 11:19] akashnimare commented on #662
@abhigyank might be related to the broken spellcheck module.

[2019-02-26 23:13] jhellerstedt opened #665 "persistent Page not found (404) error"
I'm running my own server that's been going through some self-induced nginx configuration upheaval; which has since settled down, and zulip is working fine in browser.  However, the (mac) desktop app has a persistent "Page not found (404)" error, even after removing/ re-adding the organisation, and after deleting the app/ re-downloading to install.

I suspect there is some cache'd information some

[2019-02-27 08:34] akashnimare commented on #665
Try using this option from setting options -
![image](https://user-images.githubusercontent.com/2263909/53476507-8c9c3c00-3a98-11e9-8fa5-061de83152f2.png)

[2019-02-27 10:36] jhellerstedt commented on #665
too classic, failed to scroll down far enough, and see that option

I'll just add that I had to also 'Factory Reset' up in Tools, in addition to hitting Reset App Data, but the combination did the trick.

Thanks @akashnimare !

[2019-02-27 10:36] #665 closed, assigned to nobody

[2019-02-27 13:23] akashnimare commented on #665
@jhellerstedt awesome!

[2019-02-27 20:45] vsvipul opened #668 "Go Back button becomes active in settings but doesn't do anything"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS

- **Clear steps to reproduce the issue**:
Open up a zulip org stream. Goto settings. The back button is active but doesn't do anything

- **Relevant error messages and/or screenshots**:
![screenshot from 2019-02-28 02-12-43](https://user-images.githubusercontent.com/21038781/53521644-b25c2c00-3afe-11e9-8e9e-d972aca342

[2019-02-27 20:46] vsvipul commented on #668
@zulipbot add "Type: Bug"

[2019-02-27 20:47] vsvipul commented on #668
@zulipbot claim

[2019-02-27 20:47] vsvipul commented on #668
@akashnimare how should i approach this?

[2019-02-28 09:42] akashnimare commented on #668
As for as I know, we have disabled this button on setting page.

[2019-02-28 10:31] vsvipul commented on #668
@akashnimare i just tested it. It is disabled sometimes and sometimes it is not. How can this be random?

[2019-02-28 10:32] vsvipul commented on #668
@zulipbot add "investigate"

[2019-02-28 19:28] vsvipul commented on #649
@zulipbot I have made a PR which is pending review. Thanks :)

[2019-03-01 08:21] akashnimare commented on #660
@matrixise the DND indicator is there in the left sidebar.

Normal mode -

![image](https://user-images.githubusercontent.com/2263909/53625333-d2880a00-3c28-11e9-9123-514aa716a550.png)

DND mode -

![image](https://user-images.githubusercontent.com/2263909/53625354-de73cc00-3c28-11e9-805a-254148fa93b3.png)

[2019-03-01 08:21] #660 closed, assigned to nobody

[2019-03-01 08:41] karllynnn commented on #312
If i switch between VPN and locate network, zulip will not auto reconnect again

[2019-03-02 14:45] akashnimare commented on #668
Not sure but looks like recent regression this used to work well.

[2019-03-04 07:33] ftribrunn opened #672 "Error by clicking Tools\Check for Updates"
OS Windows

![image](https://user-images.githubusercontent.com/4007655/53717308-0bf28c80-3e58-11e9-890f-0657b7820d0f.png)

![image](https://user-images.githubusercontent.com/4007655/53717099-67704a80-3e57-11e9-961f-139a716f78cf.png)

[2019-03-04 09:25] vsvipul commented on #668
@zulipbot abandon

[2019-03-04 11:22] akashnimare commented on #672
@ftribrunn yes, this is expected; we still have not uploaded the files for Windows. This will be done in a day or two.

[2019-03-04 22:50] priyank-p opened #675 "The initial character we display has wrong first character"
Right now it seems like we are displaying `h` for chat.zulip.org instead of `Z`. The bug here seems to be that we are using the url instead of organization name. The place we get the organization name is the `name` attribute in the `<webview>` element which is passed in from the [`WebView` component](https://github.com/zulip/zulip-electron/blob/master/app/renderer/js/components/webview.js#L36).

[2019-03-05 03:06] abhigyank commented on #675
We do get the name itself and not the url. I think the issue here is that, when we don't the realm_image, we do not get the realm name as well and we then default the organization name to the url which is prefixed with https and hence is shown as h.

[2019-03-05 11:24] rhythm-sharma commented on #675
@zulipbot claim

[2019-03-05 12:14] vsvipul commented on #675
@zulipbot claim

[2019-03-05 16:07] vsvipul commented on #675
@zulipbot abandon

[2019-03-06 03:42] kanishk98 commented on #659
Submitted PR and waiting for review.

[2019-03-06 04:19] abhigyank commented on #675
@zulipbot claim

[2019-03-06 14:24] vsvipul opened #676 "Implement HTML and CSS Linting"
I recently found out that HTML and CSS files are not linted by xo (linter).

I think it would be better if we could use a plugin to lint html files.
If can't find any html plugin with xo, maybe we can use separate linters for HTML and CSS.

- [x] Implement HTML linting
- [x] Implement CSS linting

[2019-03-06 14:24] vsvipul commented on #676
@zulipbot claim

[2019-03-07 12:13] rvansa opened #678 "Add number of mentions to left bar (organizations)"
In addition to total number of unread messages (red ball) in given organization I'd like to see number of mentions. I currently have 5 organizations in Zulip and I want to prioritize handling conversations in which I am mentioned.

Therefore, I propose adding a blue ball below the red one, stating how many times I've been mentioned/number of alert words.

In addition to that, it would be nice to c

[2019-03-07 15:52] sebastianelsner opened #677 "notification via taskbar blinking and/or tray icon blinking"
To prevent users from missing messages, it could be interesting to

- make the Zulip Icon in the tray animated, for example by making the unread messages number blink
- make the Zulip Taskbar Window item blink

I imagine the animated icon could be possible with Electron, but the blinking taskbar item is probably depending on the desktop environment used?

I am on CentOS 7/Gnome 3 here, so this mig

[2019-03-08 05:16] timabbott commented on #678
@rvansa is this a request for the desktop app, or e.g. the favicon for the webapp?  We do have plans to do some additional configurability in both places, but we might want to transfer this issue to the desktop app project.

[2019-03-08 08:17] rvansa commented on #678
@timabbott Yes. My mistake, didn't notice this repo is for server only - please transfer (I don't have the permissions).

[2019-03-11 23:11] Mentalone opened #680 "Organization Avatar not changing"
We are unable to change the Organization Logo.  It stays with either the Z or an H while in the App.

With console up, I do get this every time that I try to upload:

![image](https://user-images.githubusercontent.com/48458920/54164005-9e7ac900-4420-11e9-8285-47a42f8ff12d.png)

[2019-03-12 06:35] timabbott commented on #680
This is a desktop app issue; transferring to the appropriate project.

[2019-03-12 06:41] abhigyank commented on #680
My understanding of why you see a Z or h icon is because of self signed certificates. In case you choose to ignore certificate warnings and proceed in an insecure manner we do not fetch server icon. To fix that you can add the certificate in Settings-> Organization.
Not sure if this is the reason for TypeError.

[2019-03-12 07:54] #678 closed, assigned to nobody

[2019-03-14 00:36] timabbott commented on #680
@abhigyank hmm, is this something we can change?  If the user decides to ignore the cert warning, we should presumably let them proceed with using that server fully...

[2019-03-14 00:36] timabbott commented on #680
(In any case, the TypeError looks like a definite bug in any case)

[2019-03-14 04:59] SankalpSh opened #683 "Ctrl+1 showing up below zulip icon"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
  + After app login
  + Dashboard icon below zulip icon at left showing ```Ctrl+1```
- **Relevant error messages and/or screenshots**:
![Screenshot from 2019-03-14 09-22-12](https://user-images.githubusercontent.com/37926536/54332354-e2014d00-4643-11e9-80a2-d72eec3524b3.png)

[2019-03-14 05:02] SankalpSh commented on #683
I was able to remove that using ```Ctrl+Shift+i``` using dev tools.
Please tell me should i change that and make a pull request.

[2019-03-14 05:10] abhigyank commented on #683
We want it to be shown. It is not an issue here.

[2019-03-14 05:21] abhigyank opened #684 "Allow insecure requests when user chooses to ignore cert warnings"
In certain requests like for fetching realm icons, `request` tries to verifies server certificates and fails when the user has chosen to ignore cert warnings and has not uploaded the cert.
In those cases we should mark that this server verification is ignored and ask `request` to ignore the cert verification by passing that parameter.

[2019-03-14 05:21] SankalpSh commented on #683
@abhigyank So i will close the issue.

[2019-03-14 05:22] abhigyank commented on #680
Created #684

[2019-03-14 05:27] vsvipul commented on #684
@zulipbot claim

[2019-03-14 06:49] #683 closed, assigned to nobody

[2019-03-15 19:33] abhinavsagar opened #686 "Spacing is mismatched on comparing side bar button distance from edge."
---

- **Operating System**:
  - [x] Windows 10 64

- **Clear steps to reproduce the issue**: The spacing in the bounding box of the sidebar button is not giving a good visual effect.
- **Relevant error messages and/or screenshots**: No error

[2019-03-15 19:36] abhinavsagar commented on #686
I have just overcome this problem. Sending the PR.

[2019-03-17 04:36] abhigyank commented on #680
Okay, I figured the `TypeError` cause - There is no server icon display on the left sidebar (due to any issue) and we are using the fallback - show first character of the realm name - and the user updates the server icon in the realm, this causes `electron-bridge` to try and update the server icon on the left sidebar but since it is not there we get this error of undefined of `serverImgs[index].sr

[2019-03-17 17:29] agrawal-d commented on #410
I have observed this bug too.

[2019-03-18 17:48] #684 closed, assigned to vsvipul

[2019-03-18 17:52] vsvipul commented on #680
@Mentalone can you test now by pulling master? It should be fixed now.

[2019-03-18 17:53] vsvipul commented on #676
sorry, i have been busy due to my midsems. i'll continue working from tomorrow. @zulipbot

[2019-03-18 18:02] kanishk98 commented on #430
Opened [a PR](https://github.com/zulip/zulip-electron/pull/674) that should fix this issue.

[2019-03-18 19:10] Mentalone commented on #680
@vsvipul Good for us, we setup the certificate so we now show the logo.  The bad for the sake of testing, is that we can't test this now. Sorry.

We can now see our logo show up after adding the cert.  Thank you for all your help!

[2019-03-19 10:38] abhigyank commented on #680
To solve the TypeError part one will have to create a new element with the new logo in the sidebar.

[2019-03-19 18:24] akashnimare commented on #504
To add this, I think we need to fork [electron-spellcheck](https://github.com/electron-userland/electron-spellchecker) and make changes since this feature is handled by that module.

[2019-03-19 18:29] akashnimare commented on #597
@strob can you name a few?

[2019-03-19 18:54] strob commented on #597
Well, Slack for instance...

<img width="394" alt="Screen Shot 2019-03-19 at 11 53 04 AM" src="https://user-images.githubusercontent.com/208551/54633565-a7c9ee00-4a3d-11e9-87f3-8bbc4d320798.png">

[2019-03-19 19:03] akashnimare commented on #597
This is how it looks on my macOS -
![image](https://user-images.githubusercontent.com/2263909/54634139-8f8eb900-4aa7-11e9-905b-11bee020a2a5.png)

[2019-03-19 19:06] strob commented on #597
Looks like it’s working for you!

I can confirm that Zulip 2.3.82 on macOS 10.14.3 still exhibits “Look Up” offset issues for me.

[2019-03-19 19:10] akashnimare commented on #597
@strob can you please try to update to the beta version which is v2.5.0-beta and see if this works as expected? Follow the steps -
* Turn on get beta updates option from setting
* Restart the app
* You'll get an update popup - choose **install later** and restart.
* Check if the problem still exists.

[2019-03-19 19:18] strob commented on #597
The issue is addressed for me in v2.5.0-beta!

I will say that upgrading to beta was anything but smooth. It took >5 restarts and >10 dialogs. This was the scariest one I saw:

<img width="423" alt="Screen Shot 2019-03-19 at 12 14 04 PM" src="https://user-images.githubusercontent.com/208551/54635314-16f51180-4a41-11e9-8cd9-5553f703bd00.png">

[2019-03-19 19:18] #597 closed, assigned to nobody

[2019-03-19 19:23] akashnimare commented on #597
Good to know this worked. Yeah, the updater thing broke in last stable release which we fixed in the current beta version :)

[2019-03-20 16:46] #659 closed, assigned to nobody

[2019-03-21 16:28] rhythm-sharma commented on #341
@zulipbot claim

[2019-03-23 06:35] kanishk98 commented on #675
@zulipbot claim

[2019-03-24 15:48] kanishk98 commented on #675
Edit: I'd earlier asked for help on reproducing the issue, but I think I got it: the app is not able to get the realm_name without access to the internet and in some cases, the `domain.json` file is not updated with the correct `realm_name`.

To fix this, I've simply taken in the first word following the `https://` part of the server URL and used that as a "trimmed domain" for the app to take the

[2019-03-24 21:56] kanishk98 commented on #566
@rishig can you tell me if this is still an issue on your end? I just checked these out on my system and I seem to be getting expected behaviour. (manual restart in the first case, second case requiring us to click save before saving and then automatically reloading the app)

[2019-03-25 22:49] skewty opened #689 "Menubar text colour illegible -- should respect system theme"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
1. Install Ubuntu 19.04
2. Leave the theme as default `Yaru`
    * The menubar font color seems to be legible if `Yaru-dark` theme is selected.
3. Install Zulip 2.4.0 from PPA
- **Relevant error messages and/or screenshots**:
![Screenshot from 2019-03-25 15-40-56](https://user-

[2019-03-25 22:55] skewty commented on #410
I just installed a fresh Ubuntu 19.04 and have this issue.

[2019-03-26 14:58] akashnimare commented on #689
@vsvipul, @kanishk98 can you folks reproduce this?

[2019-03-26 15:06] kanishk98 commented on #689
Don't have immediate access to a Ubuntu system right now, but will check it out as soon as I can.

[2019-03-26 15:08] vsvipul commented on #689
Has been illegible for me as well, since the beginning.. I am on Ubuntu 18.04 . Though @skewty 's menu bar seems to be more illegible.
![Screenshot from 2019-03-26 20-34-36](https://user-images.githubusercontent.com/21038781/55008415-fc093b00-5006-11e9-8d84-d937ac80f050.png)

[2019-03-26 15:19] kanishk98 commented on #689
Seems like a consistent problem.
If we can figure out a way to change the colouring of the menu bar, I remember checking out [this module](https://www.npmjs.com/package/@jakejarrett/gtk-theme) for use in Zulip on Linux to determine the background colour of the theme and changing colours accordingly. Could this method be useful?

(I don't think Electron offers a native API to change the appearance

[2019-03-26 17:10] akashnimare commented on #689
As far as I know, there is an API available for macOS to detect the theme but sadly no APIs for Linux/Windows. @skewty can you reproduce this issue in other apps which are based on electron?

[2019-03-27 13:36] akashnimare commented on #628
Merging into #593.

[2019-03-27 13:36] #628 closed, assigned to nobody

[2019-03-27 20:58] vsvipul commented on #689
@akashnimare upgrading the electron version to 3.1.6 fixed this for me as shown. Can we bump up the version, should i send in a PR?
![Screenshot from 2019-03-28 02-26-11](https://user-images.githubusercontent.com/21038781/55111775-20e1d900-5101-11e9-90c8-5cdc82123829.png)

P.S. this was fixed [here](https://github.com/electron/electron/issues/15823), and thus requires updating the electron version

[2019-03-29 10:18] akashnimare commented on #689
Okay, good to know this but hold on we have to test lots of stuff before upgrading to a new version of electron and we are also in the middle of a release.

[2019-03-31 08:48] abhigyank opened #691 "Issues with Ctrl+Tab cycling"
Follow up issues of #663

* While on the first server, Ctrl+Shift+Tab doesn't work. Should go to last active webview.
* Open settings, start cycling using Ctrl+Tab - while on settings webview, the settings icon the sidebar is not highlighted. Settings icon should be highlighted.

[2019-03-31 08:49] vsvipul commented on #691
@zulipbot claim

[2019-03-31 09:00] abhigyank commented on #691
On another note, I feel that settings is different webview altogether and should be clubbed with the servers cycling. We should probably limit cycling to only between the servers and not move to the settings view.
@rishig weigh in here?

[2019-03-31 09:26] akashnimare commented on #691
Yes, we should exclude cycling to settings.

[2019-03-31 22:09] kanishk98 opened #694 "Individual screens for showing network error"
---

Currently, if there's a problem with the user's network connection, the app loads another tab with an error message. That leaves some pages blank and others working (if the connection is via proxy or some other corner case), and in general, may cause confusion.

- **Operating System**:
  - [x] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS

- **Suggested solution**:

I think we should show the er

[2019-03-31 22:10] kanishk98 commented on #694
@zulipbot claim

[2019-04-01 03:05] rhythm-sharma commented on #341
@zulipbot I have done the work and waiting for review.

[2019-04-01 07:20] santherics opened #695 "Zulip-electron eats RAM"
zulip/electron eats more than 7GB of RAM after 2 days of inactivity on windws 7 64bit

[2019-04-01 08:45] kanishk98 commented on #695
@santherics that's weird, I've not seen similar behaviour. Can you tell us how much RAM you have on your computer?

[2019-04-01 08:47] santherics commented on #695
16Gb RAM

[2019-04-01 08:55] kanishk98 commented on #695
@zulipbot add "investigate"

[2019-04-01 09:11] vsvipul opened #696 "Message not stored in drafts after quitting"
When we close the app after typing something in the message box, the message is not saved in drafts.

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubutnu
  - [ ] macOS

- **Clear steps to reproduce the issue**:
1. Open up zulip desktop and type a message in the message box.
2. Don't lose focus on the message box and quit the app using Ctrl+Q.
3. The message is not saved in the drafts.

Sa

[2019-04-01 09:20] vsvipul commented on #696
@zulipbot label "Type: Bug"

[2019-04-01 09:28] vsvipul commented on #695
![Screenshot from 2019-04-01 14-55-34](https://user-images.githubusercontent.com/21038781/55317544-5d5d5e00-548e-11e9-8260-ba8a61b9a115.png)
Eats about 5.1% memory (400 MB / 8 GB) for me when the app is idle.

[2019-04-01 09:32] kanishk98 commented on #695
I don't think that says much about the issue. I just read some posts explaining that the app eventually might start hogging memory over time unless the OS puts a lot of pressure on Electron - which is why I asked for the amount of RAM on the OP's system. @santherics can you send us a screenshot of your system's task manager, sorted by memory usage in descending order (assuming Zulip is still takin

[2019-04-01 12:04] #691 closed, assigned to vsvipul

[2019-04-01 12:34] santherics commented on #695
![zulip_eats_ram](https://user-images.githubusercontent.com/45791693/55327772-a6bca600-54ac-11e9-9f46-c7ff6c017d36.png)

[2019-04-01 12:45] abhigyank commented on #695
@santherics, which version of Zulip are you on? There was such a bug about a year ago which was fixed, so it could also be due to Windows 7.

[2019-04-02 06:07] santherics commented on #695
![2019-04-02 12_06_00-Zulip](https://user-images.githubusercontent.com/45791693/55379763-df598f80-553f-11e9-9dbd-424ffe13d384.png)

[2019-04-02 09:40] KirillKhrushkov commented on #695
Hi Team!
We have the same issue. It is a real blocker since Zulip eats a huge amount of memory.  Please help to fix it

[2019-04-02 09:50] kanishk98 commented on #695
@KirillKhrushkov thanks for reaching out.
Do you also have a Windows 7 system like the OP does, and are you also running the same version of Zulip?

@abhigyank once we can reproduce this on our systems, would it be a good idea to periodically check for the process' memory usage and clear the web frame's cache once that usage exceeds a certain threshold?

[2019-04-02 10:41] #603 closed, assigned to nobody

[2019-04-02 11:35] KirillKhrushkov commented on #695
@kanishk98 yes, Windows 7 and the same app version

[2019-04-02 12:04] rhythm-sharma commented on #410
Try to refresh gnome shell, press ALT+F2  write 'r' then hit enter it will refresh gnome shell, It will work for most users though you may encounter [this Gnome shell bug](https://bugs.launchpad.net/ubuntu/+source/mutter/+bug/1796607)

[2019-04-02 17:15] kanishk98 opened #697 "Cursor does not focus in Settings box after soft reload (Ctrl/Cmd + R)"
While on Settings > Organizations, if I reload by pressing Cmd/Ctrl + R, then I'm unable to focus my cursor in the input box.

The problem goes away when I switch apps and come back to Zulip.

- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS

- **Clear steps to reproduce the issue**:

Navigate to Settings > Organizations. Ctrl + R. (Reloading by clicking on the button in

[2019-04-02 18:35] vsvipul commented on #697
@zulipbot claim

[2019-04-02 18:45] akashnimare commented on #697
A similar issue can be seen on the `/login` page as well where the cursor doesn't focus the email field -

![image](https://user-images.githubusercontent.com/2263909/55427816-7278e080-55a5-11e9-960a-a61bd167d5eb.png)

[2019-04-03 06:49] santherics commented on #695
Hi team!
Zulip app has memory leaks every day this week.

[2019-04-03 07:03] kanishk98 commented on #695
Thanks. @santherics @KirillKhrushkov  can you share your JS heap snapshots with us (both for the app (Ctrl + Shift + I to open DevTools) and the active tab (Ctrl + Shift + U))? I think that'll help us isolate a leak.

I'll also post this issue on czo and ask if there's anyone with a Windows 7 machine who can reproduce this problem.

[2019-04-03 07:07] kanishk98 commented on #695
@zulipbot claim

[2019-04-03 08:16] santherics commented on #695
@kanishk98 Should it be a snapshot made at the time of a large memory leak or at any time? The snapshot contains confidential information. How to remove confidential information from snapshot?

[2019-04-03 09:39] krkolek commented on #593
I tried install zulip following the instructions from https://zulipchat.com/help/desktop-app-install-guide and I test all ways to do it:
- apt - works and I can pin app to the favourites
- AppImage - works
- snap - I have the same error as in the first post.

[2019-04-03 11:21] akashnimare commented on #696
I can't reproduce this on my macOS desktop app. I highly doubt the issue has anything to do with the desktop app since I have seen the draft not being saved issue in webapp a couple of time also though can't reproduce this now.

[2019-04-03 13:44] vsvipul commented on #696
@akashnimare i have tested it multiple times and i think it is an existent issue on Ubuntu. @abhigyank can you please test and tell if this is the case for you or not ?

[2019-04-03 19:05] #649 closed, assigned to nobody

[2019-04-03 21:36] kanishk98 commented on #675
Sent a PR to solve the issue. Under discussion.

[2019-04-04 12:09] vsvipul commented on #676
@zulipbot add "Type: Enhancement"

[2019-04-04 12:24] vsvipul commented on #676
@zulipbot claim

[2019-04-04 12:25] santherics opened #701 "man-in-the-middle attacks"
the Zulip desktop app got "intercepted" by a guest wifi landing page.(I see the landing page instead zulip interface in the desktop app)

Does it mean that it is not safe to man-in-the-middle attacks?

[2019-04-04 13:00] abhigyank commented on #701
Not at all. Zulip app uses webviews which are like tabs in a web browser. So if you have a wifi that requires you to login you'd be routed to that login page first in a browser before accessing anything else, same could happen in the desktop app (unless you've already logged in a web browser into the wifi).

[2019-04-04 13:28] akashnimare commented on #701
This is the expected behavior. You'll get the same network page in the other apps also.

[2019-04-04 13:28] #701 closed, assigned to nobody

[2019-04-04 15:05] #697 closed, assigned to vsvipul

[2019-04-04 17:52] akashnimare commented on #464
Ping, @yorickvP.

[2019-04-04 18:39] timabbott commented on #696
The webapp attempts to save the draft content during close using a `beforeunload` event listener.  My guess is that depending how forcibly you quit the app, that code may or may not get to finish running before the app closes, so this autosave method might not be 100% reliable.

[2019-04-04 18:41] timabbott commented on #695
Given past experience, this is very likely an upstream Chromium/Electron issue; should we try posting a beta built off a newer electron to see if that resolves the issue?

[2019-04-05 00:39] sunrez opened #702 "Disable Zulip telemetry? Client connects to domains other than self-hosted server."
All,

I am using the Zulip desktop client on macOS.  I noticed the client tries to connect to the following domains (even without any content pasted in a channel that's related).  Can the code be scrubbed to make sure the client doesn't send data to any place other than the Zulip server it's connected to?

Domains Zulip client has reached out to:

github.com
google.com
sentry.io
tabbott.net
gravat

[2019-04-05 10:04] #634 closed, assigned to nobody

[2019-04-05 10:29] kanishk98 commented on #702
Not sure where this is used, but all the others are present because we're using their tech to handle some tasks (for example, we use sentry.io for error logging).

We can probably intercept requests being sent by the app by using [this Electron API](https://electronjs.org/docs/api/web-request#webrequestonbeforerequestfilter-listener), but I'm not sure if we have appropriate error-handling mechanis

[2019-04-05 10:33] vsvipul commented on #702
Most of the domains you mentioned have one or other use in the functioning of the app.
- github.com
Used to auto-update the application.
- google.com
Used to resolve proxy (get proxy settings from system).
- sentry.io
Used for error logging and reporting to admins.
- tabbott.net
Not sure where this is being used. Maybe @akashnimare can shed some light on this..
- gravatar.com
Not sure about this t

[2019-04-05 10:43] kanishk98 commented on #702
Not sure about this too. Maybe, some dependency we have uses this. Will have to look deeper for this.

This is used to fetch server tab icons. Icons are stored at gravatar.

[2019-04-05 11:30] abhigyank commented on #702
gravatar.com is used by the web app. And probably tabbot.net too.

[2019-04-05 13:33] rhythm-sharma commented on #341
@zulipbot claim

[2019-04-05 20:20] timabbott commented on #702
zulip.tabbott.net is an alternative hostname for chat.zulip.org.  I don't understand why the desktop app would be connecting to that hostname, though, unless it was explicitly requested.

[2019-04-06 08:18] rhythm-sharma commented on #406
@akashnimare  can you provide more information on this

[2019-04-06 20:19] akashnimare commented on #702
No requesting to `tabbott.net` from the desktop app's side so it's mostly coming from the webapp. We might be using it somewhere.

github.com
google.com
sentry.io
tabbott.net
gravatar.com

@sunrez ^^ all these urls are the part of the desktop + web app and we need to request them in order to have xyz features. For an example, we use `github.com` to update the desktop app to a newer version and if

[2019-04-06 20:45] akashnimare commented on #470
@kanishk98 let me know if you need any help here.

[2019-04-06 20:48] akashnimare commented on #506
The current color scheme looks good to me though we could try other font + color combination and make it better.

[2019-04-06 20:51] akashnimare commented on #668
Merging into #650.

[2019-04-06 20:51] #668 closed, assigned to nobody

[2019-04-06 20:59] #651 closed, assigned to nobody

[2019-04-06 21:27] akashnimare commented on #406
Here -
https://docs.travis-ci.com/user/uploading-artifacts/
https://bretahajek.com/2016/11/electron-builder-appveyor-travis-ci-memory-king/
https://www.mokkapps.de/blog/run-automated-electron-app-tests-using-travis-ci/
https://vijayantkatyal.com/blog/electron-updates.html

Inspiration -
https://circleci.com/gh/yuya-oc/desktop/545#artifacts
https://github.com/mattermost/desktop/blob/5abe83b1e620ef6

[2019-04-07 03:23] rhythm-sharma commented on #406
I will definitely work on this :100:

[2019-04-07 12:12] kanishk98 commented on #407
@zulipbot claim

[2019-04-07 12:19] kanishk98 commented on #650
I did, I'm running Electron 4.1.4 and unable to see either the keyboard shortcut failure or the inactivity of the back button from settings.

[2019-04-07 12:25] akashnimare commented on #650
This happens sometime but can't reproduce frequently. @punchagan can you?

[2019-04-07 18:48] punchagan commented on #650
Yeah, it's not reliably reproducible for me either.

[2019-04-07 20:14] kanishk98 commented on #470
Thanks. I just resumed work on this bug, had been busy with some other issues. Looking to solve #578 along with this.

[2019-04-08 03:43] rhythm-sharma commented on #506
@akashnimare  can i work on this to make it red

[2019-04-08 06:31] JEderonn commented on #695
I'm running Zulip client v2.3.82 on Windows 10 and I've experienced this issue twice the latest week. Today, Zulip had consumed 10GB of RAM before I killed it.

[2019-04-08 09:36] santherics commented on #695
@kanishk98 Do you still need the heap dumps? If yes, please tell me, how can I remove confidential information from the dumps.

[2019-04-08 10:05] rhythm-sharma commented on #406
(delete)

[2019-04-08 17:01] kanishk98 commented on #695
I've asked Akash about this issue, he said he'll be handling release of a beta to see if this issue persists.
I'll start logging memory usage of Zulip on my machine and see if I can isolate this to a specific reason.

(Sorry for the delayed response, been busy with my GSoC proposal)

[2019-04-09 08:54] santherics commented on #695
Can we get this beta for testing in our environment?

[2019-04-09 10:40] vsvipul commented on #680
I think this can be closed now. (was a certs problem) . Fixed in #685.

[2019-04-09 13:00] vsvipul commented on #310
Is this fixed? If so, i think, it can be closed.

[2019-04-09 14:18] #680 closed, assigned to nobody

[2019-04-10 06:38] kanishk98 commented on #695
@akashnimare should be able to answer that better. Sorry to see you facing this issue!

[2019-04-10 07:27] santherics commented on #695
@akashnimare Can we get this beta for testing in our environment?

[2019-04-10 07:42] santherics commented on #695
Some users reported the same issue with Firefox 65.0.1(64bit) on Ubuntu 14.04 and  Zulip application on Ubuntu 16.04

[2019-04-10 16:29] akashnimare commented on #310
@vsvipul nope, I still get this error once in a while but not sure how to reproduce.

[2019-04-10 20:11] vsvipul opened #718 "Use symbol instead of symbol name in accelerators in menu items"
We should use the symbol instead of symbol name in accelerators in menu items.
This way, we don't have to worry about i18n.

In particular, show ```Ctrl+,``` instead of ```Ctrl+Comma``` for opening Desktop Settings.

Created as a result of discussion [here](https://github.com/zulip/zulip-electron/pull/715#issuecomment-480642845).

Upstream issue [here](https://github.com/electron/electron/issues/1

[2019-04-10 20:13] vsvipul commented on #718
@zulipbot add "blocked-upstream" "Type: Enhancement" "help wanted"

[2019-04-10 22:57] timabbott commented on #695
@santherics if folks are seeing this in browsers, I'm curious if there's something unusual in the usage pattern that's causing the app to use a lot of memory -- for the users who are affected, do they have some very old unread messages?  E.g. if you click on "All messages" in the left sidebar, how far back in time are those messages?

[2019-04-10 23:17] NickoftheSouth opened #719 "Issue with config files running on Linux"
---

- **Operating System**:
  - [*] Ubuntu (18.10)

- Somehow my configuration files have become corrupt on my Ubuntu installation of Zulip.
Even if I uninstall and re-install I'm getting the same error message and the App fails to open.
This may be a generic Electron issue, but if anyone has any idea how to clear the cache I'd appreciate it.
- **The error message when trying to run Zulip from co

[2019-04-11 08:26] KirillKhrushkov commented on #695
@timabbott in my case there were no unread messages. But if I click "All messages" then I'm far back in time

[2019-04-11 08:29] KirillKhrushkov commented on #695
There is some specific pattern on my side:
We have many users pushed to Zulip user list who has never logged in to Zulip.
And all of them are added to common Stream where communication goes very actively.
Can it be the reason that those "offline" users get digests and that leads to memory leaks for other users?

[2019-04-11 08:35] KirillKhrushkov commented on #695
We also get user avatars from LDAP automatically

[2019-04-11 08:44] kanishk98 commented on #719
Hello Nick! Thanks for letting us know.
@vsvipul has a Linux system, he should be able to help you out here.
It'd also help if you could help us understand why this may have happened. #593 details how Zulip segfaults if downloaded from the Ubuntu Software Center, but the error message there is different.

[2019-04-11 08:46] kanishk98 commented on #694
Working on it. :)

[2019-04-11 09:56] vsvipul commented on #719
You can clear the cache files from ```/home/user/.config/Zulip``` . Although, i don't think this is an error because of config files.

It seems to be a problem with your Fontconfig.
Please try removing and reinstalling fontconfig and report back if it works or not. You can refer to the problem [here](https://bugs.launchpad.net/ubuntu/+source/fontconfig/+bug/1259510).

[2019-04-11 10:32] schrej commented on #591
While I usually don't like pushing on issues, I'd still like to ask if this issue could get picked up again.
Users are missing messages because of this on a regular basis, as they don't necessary want (and shouldn't need) to check if the client has connected properly.

A periodic check, maybe with increasing intervals, is probably the safest option.

[2019-04-11 10:36] kanishk98 commented on #591
@schrej sorry for the problems!
I'll look into this tonight and post back, will have to go through #598 once.

@zulipbot claim

[2019-04-11 10:38] schrej commented on #591
Thanks @kanishk98 !
Let me know if I can help in any way.

I'd also propose to drop the `is-online` package and just try to reach one (or all) of the instances the client tries to connect to instead.
That would also allow the reconnect to work if the server is installed on a local network without any internet access.

[2019-04-11 11:36] schrej opened #720 "Windows: Installer without administrator privileges"
The current installer requires administrative privileges to install Zulip. This is probably because it gets installed to `C:/Program Files`.
This can be an issue on corporate PCs where the user doesn't have admin privileges. A lot of applications (e.g. Chrome, Slack, VS Code) therefore allow to run the installer without admin privileges and install to the user directory instead (somewhere in `~/Ap

[2019-04-11 12:43] vsvipul commented on #720
@zulipbot claim

[2019-04-11 12:54] rhythm-sharma commented on #341
@zulipbot abandon

[2019-04-11 12:54] rhythm-sharma commented on #542
@zulipbot  claim

[2019-04-11 13:31] vsvipul commented on #720
@schrej this was an issue in v2.3.82 because there ```perMachine``` variable was set to true. It is false by default, and should be fixed in current master branch.

Anyway, i've sent a PR to make it more explicit in package.json.

You can try it in v2.5.0-beta by downloading it from [here](https://github.com/zulip/zulip-electron/releases). (I think the files for Windows haven't been uploaded yet.

[2019-04-11 18:28] timabbott commented on #695
Offline users should have no material impact on memory usage.  @KirillKhrushkov can you try hitting the `Home` key when you're in that "All messages" view with no unread messages, and then reload the browser?  There's some legacy logic in Zulip that controls how much message history gets pulled down into the browser's memory that expects folks to advance the pointer in "All messages" occasionally.

[2019-04-11 21:13] kanishk98 commented on #591
Yes, I'm doing that right now. I think the ideal solution to this problem would be that under a strict proxy, some servers would keep running and others would fail to connect. This is where the current `network.html` error screen would be shown and we'd keep retrying with exponential backoff for the failed servers.

I'm facing some issues right now in the webview implementation, will open a WIP PR

[2019-04-12 11:37] akashnimare commented on #720
This issue is a bit complicated. The thing is if we provide this feature then we'll also need to handle the auto-update feature (which is most likely to get corrupted because of the complications on Windows). We are still trying to figure out the right solution for this.

[2019-04-12 11:39] akashnimare commented on #542
@rrhythmsharma let me know if you need any help, most probably we want to have a dropdown for the spellchecker languages.

[2019-04-12 11:46] #344 closed, assigned to nobody

[2019-04-12 12:05] KirillKhrushkov commented on #695
@timabbott This doesn't help unofrtunately..
The memory rises very quickly. At 7 pm it was around 500mb and at 10am it is about 10Gb already.
Memory is back to normal values after "Ctrl + R" in application.

[2019-04-12 13:14] kanishk98 commented on #591
@schrej can you tell me if #723 works as expected in your environment?

[2019-04-12 20:05] kanishk98 commented on #246
This'll need to be reopened after the discussion [here](https://chat.zulip.org/#narrow/stream/16-desktop/topic/Zulip.20URL/near/731843).

[2019-04-13 21:14] rishig commented on #566
Not sure how this got lost -- sorry!
* The vertical spacing for download location looks good
* hm, I'm not on master for the desktop app currently, but could you send a gif of what happens when you click on "use system proxy settings" twice?

[2019-04-14 07:23] kanishk98 commented on #695
This helps - I'm guessing this is either the `webFrame` or the `session` (at least for the desktop app) that's causing memory usage to balloon up.
While the next release of the desktop app should address this issue, I think this is a major problem.
Until that happens, @KirillKhrushkov, I can write a fix to clear cache in a branch on my fork and you can use that to see if the problem persists. (tha

[2019-04-14 18:39] timabbott commented on #695
OK, that's interesting.  This feels like a browser bug.  The next thing to try is I think testing a beta off a newer Electron.

[2019-04-15 08:33] KirillKhrushkov commented on #695
@kanishk98 yes, please share it with me.
Thank you

[2019-04-15 08:34] KirillKhrushkov commented on #695
@timabbott could you please say when you are planning to deploy a release with Electron?

[2019-04-15 08:42] kanishk98 commented on #695
Sure, I'll do that in the evening once my classes get over. :)
In the meantime, please join [our community discussion server](https://chat.zulip.org) so I can discuss your personal logs with you over there in PMs and keep this thread clean.

[2019-04-15 11:36] kanishk98 commented on #246
@zulipbot claim

[2019-04-15 13:20] KirillKhrushkov commented on #695
@kanishk98 thank you a lot!
Sure, my email in Zulip chat is kirillkhrushkov@gmail.com

[2019-04-15 13:31] abhigyank commented on #694
My point of view on this issue is that, individual screen errors are good if the server doesn't loads not when it has already load and network issue is being handled by the webapp. For there are several features the webapp allows access to even when the webapp is not connected. We don't want to lose on those.
I'd prefer a discussion on czo regarding this before moving onto finalising the PR.

[2019-04-15 13:39] kanishk98 commented on #694
That functionality has not been affected. I've attached a screenshot below:

![image](https://user-images.githubusercontent.com/24617297/56137150-cd510580-5fb1-11e9-9f83-5f12a0be9695.png)

This is while running the code from the same PR. Once the server loads into the app, it's the same behaviour as before.

[2019-04-15 17:18] vsvipul commented on #676
@zulipbot Done with CSS, working with HTML :)

[2019-04-16 03:27] stone212 opened #724 "Can not add realm on new server."
---

- **Operating System**:
Debian 9
- **Clear steps to reproduce the issue**:

1. Create new Zulip Server from fresh Ubuntu 18.04 installation.

2. Restore backup like https://zulip.readthedocs.io/en/latest/production/maintain-secure-upgrade.html#backups

3. Do all of the other things that are not mentioned in this doc including create SSL certificate for other realms.

4. Verify that the zulip

[2019-04-16 08:09] kanishk98 commented on #724
People have been [having some problems](https://chat.zulip.org/#narrow/stream/9-issues/topic/Zulip.20Backup.20is.20not.20working) with Zulip Backup, but it's pretty weird that the desktop app messes up on specifically the steps as described above.
@timabbott do you think the two issues are related?

[2019-04-17 17:00] kanishk98 commented on #407
Working on it. :)

[2019-04-17 19:02] priyank-p opened #727 "Improvements to desktop-app logger"
There are couples of thing we will need to take care of for the `Logger` we use throughout the app. The logger is located in `app/renderer/js/utils/logger-util.js`, which does two thing it logs the the message in to browser or console and also writes the log in the file.
- First thing we will want to take care of is removing duplicate logs. For example a log one user reported contained:
[code]
whi

[2019-04-17 19:04] priyank-p commented on #727
@kanishk98 @vsvipul one of you could probably do the second part of limiting log file per certain lines easily. Just split the file read into a array split by newlines are remove the top lines if it exceeds the line size.

[2019-04-17 19:05] kanishk98 commented on #727
Yeah, I think fixing this is pretty important. I'd love to take this up.
@vsvipul let's divide the two points of work between ourselves?

[2019-04-17 19:06] vsvipul commented on #727
ok sure, i would like to take up the second part. Seems interesting. :)

[2019-04-17 20:08] timabbott commented on #724
I suspect this issue is not related.  @stone212 does the server work in a web browser?  If it doesn't, this isn't a desktop app issue, this is a server issue.  If it does, the most likely issue for this error is a cert that is either self-signed or for a different domain than the one being connected to.

As a sidenote, there are a bunch of fixes to the backup tool that will be in a 2.0.3 release l

[2019-04-17 20:45] vsvipul commented on #695
@kanishk98 any updates on this?

[2019-04-18 00:15] kanishk98 commented on #695
Yeah, I've been in touch with Kirill regarding my implementation [here](https://github.com/kanishk98/zulip-electron/tree/high-memory). This is basically a hit-and-miss approach to what works with them. Depending on what we decide fixes the issue, I'll start a discussion on czo about how to include that in the app.

[2019-04-18 01:33] sunrez commented on #702
Hi guys,

First, all of your hard work and contributions is appreciated, really!  I've tried a bunch of other apps (i.e. Mattermost, Rocket.chat) and find the features of Zulip to simply excel.

While I understand that you are using certain modules which rely on these external sites, can you put some option somewhere to enable / disable (i.e. opt-in or opt-out) this behavior?

I self-host Zulip fo

[2019-04-18 05:19] stone212 commented on #724
@timabbott

Yes please see item `4.` above.

The certs are manually installed using LetsEncrypt and I updated the nginx conf file to point to them.  They work correctly in a web browser.

[2019-04-18 05:36] abhigyank commented on #724
Can you check the desktop error logs generating from the Menu Bar?

[2019-04-18 15:14] stone212 commented on #724
@abhigyank Probably I can.  Can you tell me what you are trying to say?

[2019-04-18 18:39] abhigyank commented on #724
@stone212 I am referring to Desktop App error logs that you can gereate from `Help (in the Menu Bar)` -> `Show App Logs`.

[2019-04-18 19:28] vsvipul commented on #727
@kanishk98 As you are already busy with your open PRs and other important issue like URI Scheme and i18n , i would suggest that i take up this issue completely and work on it.

[2019-04-18 19:39] vsvipul commented on #727
@zulipbot claim

[2019-04-19 17:32] kanishk98 commented on #246
@akashnimare I think we can close this issue now. :)

[2019-04-19 17:34] kanishk98 commented on #727
Sure, I guess that's fair - I've been a little swamped lately. Thanks a ton!
Let me know if you need any help.

[2019-04-19 18:55] #246 closed, assigned to kanishk98

[2019-04-22 05:55] timabbott commented on #702
I think that's a reasonable request.  The things we can potentially enable turning off are these:
* github.com: An option to control whether auto-update runs.  I think we already have one for whether to use the beta channel, and I think it's reasonable to offer an option to disable auto-update.
* sentry.io: An option to control whether error reports are sent to the developer would be reasonable an

[2019-04-22 09:54] akashnimare commented on #702
Okay, great. I think we could probably offer users to control the auto-update + sentry reports. @kanishk98, @vsvipul interested in this?

[2019-04-22 10:50] vsvipul commented on #702
@akashnimare definitely interested.. Will look more into it in the evening.. Thanks for the update..

[2019-04-22 11:20] kanishk98 commented on #702
We already allow the user to turn off auto updates, right?
This is what it looks like on my app:

![image](https://user-images.githubusercontent.com/24617297/56498205-528e6a00-651e-11e9-83be-574cd242a04f.png)

Definitely! @vsvipul since you're already looking into it, let me know how I can help.

[2019-04-22 13:13] abhigyank commented on #702
To get the proxy settings we need to pass an url to `resolveProxy` function, now that url can be literally anything. It could well be `http://non-existing.domain` as well and we would be able to retrieve the proxy configuration. We were unsure as to which domain to choose for this case, so we had chosen google.com. If needed we can change it to example.com instead.

If OP is building from source,

[2019-04-22 14:34] vsvipul commented on #702
@zulipbot claim

[2019-04-22 15:03] vsvipul commented on #702
Since we already allow an option to toggle auto-updates (from github.com), i've also made a PR to add an option to toggle Error Reporting (from sentry.io) in #732 .

[2019-04-22 19:05] timabbott commented on #702
I think using example.com would be a better choice for the proxy resolution check, since that's a special reserved domain that will never host an actual domain.

[2019-04-22 19:24] vsvipul commented on #702
@timabbott Will make that change too in the PR.

[2019-04-23 19:14] #676 closed, assigned to vsvipul

[2019-04-24 18:28] vsvipul commented on #364
Why has the corresponding PR not been merged yet @akashnimare @priyank-p ? If something else is required, i wish to work on this. Also, i see the tests for those PR are failing. Why is that ?

[2019-04-28 06:24] kanishk98 commented on #695
Working on this issue. Sent over a non-signed .exe file to @KirillKhrushkov and waiting for their review. Some time was wasted in trying to get them to build the app on their system, but I spoke to Akash about distributing the exe file and uploaded it once I got the green light for that.

[2019-04-28 14:43] akashnimare commented on #593
Just pushed a new beta for Snap. Can you folks test it out?
https://snapcraft.io/zulip

[2019-04-28 15:01] vsvipul commented on #593
@akashnimare All functionality is working fine now. Great to know that the segfault has fixed. It will be great if others test it out too. @caemor  @isasouza-com  @kanishk98 .
You need to test the beta using
[code]

[2019-04-30 10:13] akashnimare commented on #593
This issue has been fixed in the latest beta. Feel free to re-open if this occurs again.

[2019-04-30 10:13] #593 closed, assigned to nobody

[2019-04-30 10:30] abhigyank commented on #593
Any pointers on what change fixed it?

[2019-04-30 10:39] akashnimare commented on #593
I think a combination of - updating electron-builder + https://github.com/zulip/zulip-electron/commit/8a0b047d8f28d55b547e0af14969e3559d86eb92 fixed this issue.

[2019-04-30 10:44] akashnimare commented on #719
@NickoftheSouth let us know if the solutions provided above works for you.

[2019-04-30 10:49] akashnimare commented on #648
@irahulcse the issue has been fixed in the latest beta. Can you install and check if this works for you -
[code]

[2019-04-30 11:47] akashnimare commented on #662
@swallitsch can you reproduce this issue in v2.5.0-beta? Steps -
* Run v2.3.82
* Turn on the beta updates option from setting
* Restart app
* The app should be able to auto-update
* Check if the right click works

[2019-04-30 16:21] akashnimare commented on #695
Related - https://github.com/getsentry/sentry-electron/issues/118

[2019-04-30 18:06] ghost commented on #662
Upgraded to 2.5.0-beta on centos7. Confirmed running 2.5.0-beta.

Right click is still non-functional.

[2019-05-01 16:45] akashnimare commented on #662
@swallitsch okay, does the spellcheck work?

[2019-05-01 16:47] ghost commented on #662
Nope- no red underline or anything.

![image](https://user-images.githubusercontent.com/32879218/57029283-1d58da80-6bf6-11e9-976d-faa7ced36efe.png)

vs web app

![image](https://user-images.githubusercontent.com/32879218/57029294-2a75c980-6bf6-11e9-8ad9-ffe4ccfb8219.png)

[2019-05-01 16:50] akashnimare commented on #662
Looks like the spellchecker module is broken on centos7. Did it work in previous versions (spellchecker + right click)?

[2019-05-01 16:53] ghost commented on #662
Since zulip is an electron app, it was not possible to run in previous versions of centos or rhel.

[2019-05-01 18:52] vsvipul commented on #727
@zulipbot opened a PR awaiting review.

[2019-05-02 13:00] vsvipul commented on #695
@akashnimare This might be fixed by merging PR #732 , and then the OP can test if there is high usage even after turning off error reporting or not. Worth a try, i say. @santherics If you have the dev build setup, can you please try PR #732 and then turn of error reporting in the settings and see if that reduces RAM usage for you ?

[2019-05-03 07:56] rhythm-sharma commented on #696
i can reproduce this on Ubuntu

[2019-05-03 08:51] akashnimare commented on #696
@timabbott is there anything we could do for this in the web app?

[2019-05-04 00:31] timabbott commented on #696
If we can reproduce this, what I'd try is e.g. adding some sort of logging statement statement in that `beforeunload` to see if it's not being called by the browser, or it's being called but failing.  I guess I'm not sure what the right process there is because one is quitting the app.

I would also definitely read through these Google results to see if any of the suggestions there help; a few see

[2019-05-09 18:34] akashnimare opened #737 "Javascrit error in main process"
A user reported -

![image](https://user-images.githubusercontent.com/2263909/57477820-26614000-72b7-11e9-868d-e80d3e6e71eb.png)

https://chat.zulip.org/#narrow/stream/9-issues/topic/JavaScript.20error.20in.20the.20main.20process

[2019-05-11 21:16] #720 closed, assigned to nobody

[2019-05-14 09:23] vsvipul commented on #727
@priyank-p The first requirement of this issue removes the time part from the logs. Do we really want to do that? Isn't that important?

[2019-05-14 09:24] vsvipul commented on #702
@zulipbot opened a PR waiting to be merged.

[2019-05-14 09:28] vsvipul commented on #737
@akashnimare might be a problem with electron, similar issue [here](https://github.com/beakerbrowser/beaker/issues/799) .

[2019-05-14 10:06] vsvipul commented on #341
@zulipbot claim

[2019-05-15 09:30] #702 closed, assigned to vsvipul

[2019-05-15 09:38] akashnimare commented on #737
This bug is basically something that electron does temperamentally.

@vsvipul looks like a similar error which is coming from the electron.

[2019-05-15 14:45] KirillKhrushkov commented on #695
Hello team!
We have localized the problem. Memory leak happens during synchronization of user profiles via Active Directory.
Do you have any ideas on how to fix it?

[2019-05-16 15:58] schrej opened #739 "Proxy handled differently when adding new organization"
- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
I've tested it with v2.5.0-beta as well as v2.3.82.

It's me and my strict proxy environment again.

We encountered a new issue: When adding a new organization the client tries to reach the url to check if it's an actual Zulip instance. This only works only with a specific, open proxy that not everyone has access to within

[2019-05-16 19:53] ngoldbaum opened #740 "Clicking gnome menu bar entry for zulip does not bring app into focus"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:

Click "zulip" in the gnome menu bar entry for the zulip app. I would expect this to bring the zulip window into focus but it does not.

- **Relevant error messages and/or screenshots**:

![Peek 2019-05-16 15-51](https://user-images.githubusercontent.com/3126246/57882834-a97022

[2019-05-16 22:23] timabbott commented on #695
@KirillKhrushkov thanks for the investigation!  That's super interesting and very helpful.  I bet there's something subtle happening along the lines of "when user profiles are synchronized, something makes the browser download every user's avatar" (where the root bug would be that we're not checking if the avatar hasn't changed, or something like that).

Can you try running that synchronization st

[2019-05-17 09:31] kanishk98 commented on #739
@zulipbot claim

[2019-05-17 22:54] priyank-p commented on #727
The time part is somewhat important but you can just combine the timestamps of first and last date time, for example `2/22 1:30 - 2/24 1:21` instead of removing it.

[2019-05-19 15:09] EpicEric opened #741 "Windows client crashes shortly after starting"
- **Operating System**:
  - [x] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
1. Open Zulip on Windows
2. Wait for about half-a-minute
3. Zulip crashes on its own
- **Relevant error messages and/or screenshots**:
I found the following logs on `updates.log`:

[code]

My current version is v2.3.82. Every time I re-open Zulip, the same logs are added to this fil

[2019-05-19 15:23] priyank-p commented on #741
@EpicEric can you also share the `error.log`. This might be related to a similar report we received at https://chat.zulip.org/#narrow/stream/16-desktop/topic/app.20crashing.

[2019-05-19 15:27] kanishk98 commented on #741
@EpicEric this is related to problems we've been facing with our auto-update process.
As a workaround, can you turn off automatic beta updates and tell us if the problem persists?

[2019-05-19 15:28] kanishk98 commented on #740
Yeah, I find this annoying too. :)
I'd be happy to take this up.

@zulipbot claim

[2019-05-19 16:08] akashnimare commented on #740
@kanishk98 this does work in Windows and macOS.

[2019-05-19 17:07] EpicEric commented on #741
@priyank-p Error logs are empty.

@kanishk98 Turning off beta updates prevents the crashes.

[2019-05-19 18:02] kanishk98 commented on #741
Great. We'll be pushing out an update to v3 of the app soon. That'll fix this problem.
I'll let you know here when it's online. You'll need to reinstall the app then.

[2019-05-19 18:03] kanishk98 commented on #740
Yeah, I tested it on both Windows and Linux. Linux (Gnome Desktop) didn't work for me either.

[2019-05-20 10:02] yorickvP commented on #464
@akashnimare https://github.com/electron/electron/issues/3226 closed as wontfix
@timabbott a malicious server owner could edit the zulip server to point to a fake google login page, and you would have no way of knowing. When it opens an external browser, you can see the browser UI (and know it's the real google page) and ideally use your existing google login.

[2019-05-20 17:03] kanishk98 commented on #596
@Nikhil-Vats I think the issue is that when you're setting up a Zulip server, then the install script prints a link that you then visit in your browser to set up the organization.
@superbiche is saying that the desktop app should alert the user when a server without an org is added to the app.
Let us know if you can look into this issue right now. If not, someone else can take it up.

[2019-05-20 21:47] kanishk98 commented on #739
@schrej I've been trying to figure this out but I don't think there's much I can do without your proxy env. :)
Can you log the response status code when the app makes a request to the `.ogg` file?

Specifically, in `domain-util.js` [here](https://github.com/zulip/zulip-desktop/blob/6f74fea0f30e4161a3d3114efb064184bee8df0a/app/renderer/js/utils/domain-util.js#L125),
[code]

I'm guessing that this i

[2019-05-21 09:05] schrej commented on #739
Ok, the issue here seems to be that the proxy that isn't working requires authentication. The working one doesn't.
Unfortunately I'm not 100% sure how the proxy authentication works usually, afaik it uses the Windows login somehow. The difference here might be that for the WebView a full chrome tab is used but for the connectivity check it's nodejs that does the request.
[code]
I'll investigate a

[2019-05-21 10:23] kanishk98 commented on #739
I did some digging and it looks like Atom also suffers from a [similar problem](https://github.com/atom/apm/issues/772), mostly because handling proxy auth in npm is troublesome.

Anyway, based on what worked for other people online, I suggest running:
[code]

It might be easier to place them in `~/.npmrc`, but you get the idea. I'm guessing you'll have to use some combination of the above, depend

[2019-05-21 13:00] schrej commented on #739
Apparently our normal proxies are using [NTLM](https://de.wikipedia.org/wiki/NTLM) for authentication, which is quite common. While the WebView does support it apparently, as chrome does as well, the authentication works fine for already added organizations. Nodejs on the other hand doesn't support it natively and therefore doesn't authenticate against the proxy and gets rejected.

I'm not sure it

[2019-05-21 13:47] kanishk98 commented on #739
Okay, that's pretty helpful. Thanks @schrej!

@akashnimare should be able to answer this better, and I'd be glad to take this up if we do decide on implementing support for NLTM.

Until further discussion, it's best if I abandon the issue.
@zulipbot abandon

[2019-05-21 14:48] akashnimare commented on #739
Not familiar with the NLTM proxy, gotta look into it.

[2019-05-22 08:58] kanishk98 commented on #741
Hey @EpicEric, `zulipchat.com` still has to be updated with the latest version of the app, but you can download the latest release from our GitHub page as well [here](https://github.com/zulip/zulip-desktop/releases/download/v3.0.0/Zulip-Web-Setup-3.0.0.exe).

Do let us know if you have any problems. Your settings and added organisations will remain unchanged.

[2019-05-22 11:56] KirillKhrushkov commented on #695
@timabbott I don't see image downloads in Console during User Profiles sync.
Here is a screen:
![zulip_ldap_sync](https://user-images.githubusercontent.com/47033449/58172609-b6cd5680-7ca1-11e9-872b-55aaa93c2f93.png)

[2019-05-22 21:43] timabbott commented on #695
Awesome, thanks for the confirmation!  Given that it may not be actually re-downloading the images, this may not be the root cause for your issue, but it's certainly possible that it is.  Certainly it confirms there's a major wasted resources bug here: https://github.com/zulip/zulip/issues/12381.  I'll try to get it fixed in a 2.0.4 release soon so that we can confirm whether that's the root cause

[2019-05-23 19:41] kanishk98 commented on #739
Abandoning the issue until we're clear on NLTM.

@zulipbot abandon

[2019-05-23 19:46] akashnimare commented on #741
@EpicEric please download the latest version v3.0.0 from [here](http://zulipchat.com/apps). We had a bug in v2.3.82 which broke the auto-update mechanism and this is why the app is crashing. More info [here](https://chat.zulip.org/#narrow/stream/1-announce/topic/Desktop-app). Let us know if v3.0.0 works for you.

[2019-05-23 19:46] #741 closed, assigned to nobody

[2019-05-23 19:50] akashnimare commented on #740
Works on Ubuntu 16.04 as well. The bug maybe related to platform limitations.

[2019-05-24 05:29] kanishk98 commented on #596
@zulipbot claim

[2019-05-24 17:42] ghost commented on #662
Still occurring in 3.0.0

[2019-05-24 17:49] ghost opened #749 "No spellcheck on Centos7 3.0.0"
Linux/Centos7 Zulip App 3.0.0

The spellcheck module does not underline words on Centos7. Possibly related to #662 , but I figured I'd open a separate ticket for this issue.

Centos:
![image](https://user-images.githubusercontent.com/32879218/58347041-9e7c4980-7e11-11e9-9e8b-9eaefc958ffb.png)
webapp on centos:
![image](https://user-images.githubusercontent.com/32879218/58347049-a6d48480-7e11-11e9-

[2019-05-25 11:02] abhigyank commented on #662
We should open an upstream issue in Electron regarding this issue as this is a Centos specific issue and we don't have much to do here to fix this. There seems no existing issue nor can I find any explicit docs for Centos regarding right click context issue.

[2019-05-25 11:06] abhigyank commented on #740
Works for me on Gnome Desktop in Ubuntu 16.04.
Could be OS/Environment/User_Settings specific.

[2019-05-25 11:13] abhigyank commented on #739
@schrej  I am not familiar with NLTM proxy, but can you try this (some nltm modules seems to get it working by doing this) -
Below [this](https://github.com/zulip/zulip-desktop/blob/6f74fea0f3/app/renderer/js/utils/request-util.js#L48 ) line add two parameters -
[code]
This should probably authenticate the domain addition requests.

[2019-05-25 11:19] ngoldbaum commented on #740
I’m using Ubuntu 18.04

[2019-05-25 14:50] rhythm-sharma commented on #749
@swallitsch  can you please tell us, what is your Default language(setting->display setting->Default language) it's because the spellchecker language now automatically enable for default language

[2019-05-25 15:09] ghost commented on #749
Zulip Preferences: English
Centos 7 language set to English (United States)

Spellchecker is on in the app settings

[2019-05-25 15:14] ghost commented on #662
Understood, would it be worth investigating electron apps without this issue? Postman for example still has a right click menu

[2019-05-25 20:19] akashnimare commented on #662
Okay, let me install Centos and debug this issue.

[2019-05-26 20:01] kanishk98 commented on #646
@amahoneyLIT we've released a new version of our [desktop app](https://zulipchat.com/apps). Please install this app and let us know if the spellchecker works in this version.

[2019-05-26 23:07] akashnimare commented on #542
@timabbott thoughts on this? Our current model auto-detects the language `Settings > Display settings > Default language`. This works well for most of the users though a few users have requested a feature to change this language setting option. Should we change it and implement [this](https://github.com/zulip/zulip-desktop/issues/542#issuecomment-416322224)?

[2019-05-27 05:47] snomos commented on #542
Please do. In multilingual scenarios the present solution does not work at all, and in all cases where the preferred speller language is different from the UI language it does not work either (recall that macOS is available in ~30 languages, Windows and Linux in a few more, whereas there are about 7000 languages in the world – even if just 1% of these where preferred by Zulip users, that would sti

[2019-05-27 08:45] schrej commented on #739
One of the core features with NTLM is, that it uses the windows credentials automatically. Also, request doesn't support NTLM (https://github.com/request/request/issues/808).
Adding the request options doesn't help.

[2019-05-27 13:48] amahoneyLIT commented on #646
@akashnimare  Checking the version of the desktop app I had, it says v2.3.82
@kanishk98 our organization has just stopped using Zulip, so I won't have the opportunity to test this out.

[2019-05-28 02:41] timabbott commented on #542
Yes, I think we should implement an option for this.  We can just have the default value be "auto-detect" (doing the current behavior), but users should definitely be able to override that.

We probably need this to be a per-organization setting, too, since some users may use a different language in one organization from another.

[2019-05-28 03:17] rhythm-sharma commented on #542
@akashnimare can I start working on this

[2019-05-29 16:56] akashnimare commented on #646
This should work as expected in v3.0.0. Please reopen if it occurs again.

[2019-05-29 16:56] #646 closed, assigned to nobody

[2019-05-29 16:59] akashnimare commented on #724
Ping @stone212.

[2019-05-30 05:41] stone212 commented on #724
@akashnimare I am sorry I went down another path for this: https://github.com/zulip/zulip/issues/12345  Closing because I can not help de-bug.

[2019-05-30 05:41] #724 closed, assigned to nobody

[2019-05-31 19:19] kanishk98 commented on #749
@swallitsch thanks for reporting the issue. I'm using Ubuntu, not CentOS, but the spellchecker takes some time to kick in for me as compared to Windows/macOS. Does this issue persist after a while/typing erratically in the text box?

(Sorry if this seems like a silly question, just doing a sanity check)

[2019-05-31 23:12] ghost commented on #749
No matter how long I wait, spellchecker never underlines anything. I've left misspelled words up for a few hours before.

If I expand the AppImage, are there a few choice files I can add some logging to to see why spellchecker isn't initializing?

[2019-06-03 20:36] kanishk98 commented on #464
@zulipbot claim

[2019-06-04 05:46] abhigyank commented on #573
@timabbott  if we get a 404 from /server_settings and a 200 from zulip.ogg, from where should we fetch the server settings like realm_icon?

[2019-06-04 06:15] timabbott commented on #573
If one gets a 404 from `/server_settings` and a 200 from `zulip.ogg`, then the server is running a very old version of Zulip.  However, this issue is more than a year old, and the situation has changed, both in terms of how ancient Zulip 1.6.0 (the first version with `/server_settings`) and also the fact that our master branch won't be auto-updated to from old versions of the app on macOS and Wind

[2019-06-04 11:39] schrej commented on #312
This sound similar to #591 and might get fixed by #723 as well

[2019-06-04 15:57] akashnimare commented on #573
@kanishk98 ^^ FYI.

[2019-06-10 17:24] itsalexschwartz opened #767 "Zulip drafts discarded when wifi drops"
When wifi drops out while working in the OSX Zulip client, a refresh occurs and any WIP drafts are discarded. Video showing the issue here: https://www.dropbox.com/s/2r5xz7x64yytncn/zulip_deletes_drafts.mp4

[2019-06-11 17:14] #341 closed, assigned to vsvipul

[2019-06-12 18:56] #573 closed, assigned to nobody

[2019-06-12 18:56] #596 closed, assigned to nobody

[2019-06-13 12:23] vsvipul commented on #518
@zulipbot claim

[2019-06-14 09:58] santherics commented on #695
Yes, we are

[2019-06-15 10:33] #430 closed, assigned to nobody

[2019-06-15 14:05] abhigyank commented on #727
Is this something we would be able to do easily? Like we would have to edit the text already in the log file I suppose for this.

[2019-06-16 13:28] priyank-p commented on #727
Yes, it should be relatively easy to do given that the code won't be super easy to understand that's why we'll want a test along with it. If someone can do the code for this, I can easily take care of testing part.

[2019-06-16 13:28] priyank-p commented on #727
For now though this is low priority given we fixed the file growing uncontrollably issue.

[2019-06-18 16:29] akashnimare commented on #464
@kanishk98 we can get back to this after #752, #744, #527.

[2019-06-18 16:50] kanishk98 commented on #464
Sure. Looks like zulipbot was working with the incorrect repo URL when I tried to claim it, so it's all good.

[2019-06-18 17:41] sebastianelsner opened #758 "Help > Help Center does not point to help of on-premise installation"
---

- **Operating System**:
  - [ ] Windows
  - [x ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:

We  have installed Zulip server on premise in a network not connected to internet.
Going through "Help > Help Center" opens a browser opening the online help. Being offline, the help cannot be displayed.
Opening the actual help of the servers used would be the solution. This

[2019-06-20 00:49] timabbott commented on #695
Great, thanks for the confirmation.  I expect we'll have a fix to #12381 soon, which seems likely to be the root cause of this issue.

[2019-06-20 19:32] #758 closed, assigned to nobody

[2019-06-20 19:33] akashnimare commented on #758
@sebastianelsner this is fixed and will add this in next stable release.

[2019-06-20 20:59] sebastianelsner commented on #758
Amazing! Thank you!

[2019-06-21 15:46] sebastianelsner opened #766 "display the hostname a user is logged in on"
Story:
As a support person I would like to be able to see on which host a user chatting with me via Zulip is logged in to. This information is important for me in subsequent support steps. Having worked with Jabber clients before, I am used to having the information of the user's hostname.

Concerns:
Sending the hostname should be disabled by default due to privacy concerns. This means there needs

[2019-06-21 22:19] timabbott commented on #767
@itsalexschwartz this appears to be a bug specific to the Zulip desktop app, where it isn't calling the `beforeunload` event listener.  Transferring to the desktop repository.

@akashnimare we should see if we can reproduce a simple `beforeunload` handler not being called in the desktop app; if we have that bug, it likely causes other problems too.

[2019-06-22 06:04] abhigyank commented on #766
I suppose this would only be possible if the user is using the desktop app and not via browser.

[2019-06-22 08:14] sebastianelsner commented on #766
Yes, I guess browsers do not support this.

[2019-06-22 20:39] akashnimare commented on #767
@itsalexschwartz can you reproduce this issue while reloading the app using `CMD + R` ?

[2019-06-24 14:30] akashnimare commented on #767
Okay, so spent some time on this issue and found out -
* The drafts get saved if I reload/hard-reload/refresh the app.
* If I switch off and on the wifi, the drafts get lost.

To fix this maybe we should send an event to the electron app just before we reload the webview using the electron bridge. The electron does have some issues with `beforeunload` events.

[2019-06-25 16:59] #542 closed, assigned to nobody

[2019-06-25 17:00] akashnimare commented on #542
@tom-sonnox we have improved this behaviour in https://github.com/zulip/zulip-desktop/commit/427c86afafaa048e189c3593afeb962c021e79a0. The next stable release will have this fix.

[2019-06-25 18:41] snomos commented on #542
May I ask why the issue was closed? Even though it is an improvement for some/many users, it is not a working solution for users writing in languages not supported by the UI or by autodetection (and autodetection is never reliable in my experience). Having an explicit override/manual speller language setting is the only working solution in this scenario, as has been pointed out - including with an

[2019-06-25 19:16] kanishk98 commented on #542
@snomos thanks for reaching out. Let me try to address your concerns here:

We've included all languages supported by Chromium in the auto-detection feature. Since we cannot include a hard override for a language that doesn't fall into this category, we're not missing out on anything here.

We had similar concerns when working on this feature, but it's worked fairly well for us so far, and you can

[2019-07-01 18:05] #767 closed, assigned to nobody

[2019-07-01 18:08] akashnimare commented on #767
@itsalexschwartz the issue has been fixed and the fix will be included in the next release. Thanks for reporting this.

[2019-07-01 20:04] akashnimare commented on #766
@sebastianelsner can you attach a screenshot of how it looks in the Jabber client?

[2019-07-02 14:00] sebastianelsner commented on #766
I have added the places as they would transfer from Psi jabber client.

![hostname1](https://user-images.githubusercontent.com/902798/60518731-63a7e400-9ce2-11e9-9758-29ed72995997.jpg)
![hostname2](https://user-images.githubusercontent.com/902798/60518737-66a2d480-9ce2-11e9-8e2b-f931472b1461.jpg)

[2019-07-03 00:56] timabbott commented on #695
I just merged the fix to #12381.  Because it involves a database migration, this won't be a commit that is convenient to cherry-pick, so we won't be able to include it in a 2.0.x release.

I expect we'll post a 2.1.0-beta1 next week; if you'd like you can wait for that, but I'm also happy to support either of you folks upgrading to master to verify the fix works for you.  (`/home/zulip/deployments

[2019-07-03 15:11] kanishk98 commented on #766
@zulipbot claim

[2019-07-04 12:17] akashnimare commented on #749
@swallitsch does the right-click context menus works for you?

![image](https://user-images.githubusercontent.com/2263909/60666069-c684b100-9e83-11e9-82aa-fc8ea03ef767.png)

[2019-07-04 12:20] akashnimare commented on #696
@vsvipul can you test this against master? I think https://github.com/zulip/zulip-desktop/pull/783 should fix this.

[2019-07-04 19:12] develar opened #786 "UI is not so good as Slack — font is too small by default"
---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [* ] macOS
- **Clear steps to reproduce the issue**:
- **Relevant error messages and/or screenshots**:

I am not really happy that electron-builder migrated from slack to zulip because of zulip UI.
In short, UI looks a little bit outdated and not modern. Not so attractive.

To be more specific,

1. I find font too small and not

[2019-07-04 19:45] akashnimare commented on #786
Hey :)

I didn't know that electron-builder moved to Zulip. Great news.

We are aware of the issue and I think we do have some open PRs which fixes this. @rishig would have more idea about this. We have made a lot of changes in the UI recently. Would be very helpful if you can post your feedback/suggestions etc [here](https://chat.zulip.org/#narrow/stream/101-design).

[2019-07-04 19:50] vsvipul commented on #786
@develar Also, regarding the font size, you can Zoom In on the app (Ctrl+=) as a temporary fix, while this is discussed and improved upon.

[2019-07-04 23:57] timabbott commented on #786
We do have plans to increase the default font size of Zulip, first as an option and then as the default.  Zoom is a pretty good workaround in the meantime.

[2019-07-05 11:44] schrej opened #787 "macOS dock icon is too large"
The icon used on the macOS dock is too large and looks out of place compared to other round icons in the dock.
![image](https://user-images.githubusercontent.com/1710904/60720384-e91dd500-9f2a-11e9-8f7c-de96a96e7a00.png)

---
- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS

[2019-07-07 16:21] kanishk98 commented on #787
Hmm, this seems to be a problem with Linux too, so the app icon we use is simply too large. Thanks for bringing notice to this!

@rishig is this intentional or just an accident?

[2019-07-09 04:38] timabbott commented on #787
It's definitely not intentional on our part.

[2019-07-09 11:45] akashnimare opened #789 "Many temp node files on user PC"
---

- **Operating System**:
  - [X] Windows
  - [ ] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
- **Relevant error messages and/or screenshots**:

A user reported -

More details [here](https://chat.zulip.org/#narrow/stream/31-production-help/topic/Many.20temp.20node.20files.20on.20user.20PC).

[2019-07-09 19:48] vsvipul commented on #696
@akashnimare will test it right now. Didn't get any notification for this message.

[2019-07-09 19:52] vsvipul commented on #696
@akashnimare Works fine for me now. This issue can be closed. Great work @priyank-p !!

[2019-07-09 19:58] priyank-p commented on #696
Closing since it's definitely same as #767 and is fixed in master.

[2019-07-09 19:58] #696 closed, assigned to nobody

[2019-07-10 14:27] vsvipul commented on #786
@develar Also, in the desktop app, you can inject custom CSS, so that the look gets changed. For example, a user made a custom CSS file [here](https://chat.zulip.org/#narrow/stream/101-design/topic/ideas.20for.20a.20new.20theme/near/738589), which you can try out. Looks great and you can also change it according to your requirements, meanwhile. Thanks for this @schrej .

[2019-07-10 14:38] develar commented on #786
@vsvipul Yes, it looks much better than default (because sidebar is gray and you can focus on content). I find content blocks a little bit aggressive (too more blocks, slack approach is better suited, because opposite to Github, chat platform messages in most cases are not so long, and so, no need to use so many separators — it only adds visual noise).

Great, that on this front there is some prog

[2019-07-10 19:30] ghost commented on #749
@akashnimare negative, which is why #662 was the first ticket I filed. I opened this up later as we're not getting the red underlines either.

[2019-07-11 08:39] Synatics opened #790 "[feature request]Change Icon for Desktop app"
Can we get a way to change the icon at the top of the desktop app and the title? It would be nice if our logo could be there instead of "zulip". Attached is a picture of what i mean. Thanks
![60954942-26ee7500-a300-11e9-8c0c-1a505181e3f2](https://user-images.githubusercontent.com/51437569/61035796-1a355400-a3c8-11e9-816e-7a75fff9bb84.png)

[2019-07-15 13:15] #789 closed, assigned to akashnimare

[2019-07-16 09:22] jnnkB opened #792 "macos title bar does not adopt dark theme"
On mac os the zulip desktop app does not adopt to the dark mode (see screenshot below).

---

- **Operating System**:
  - [ ] Windows
  - [ ] Linux/Ubuntu
  - [x] macOS
- **Clear steps to reproduce the issue**:
Enable dark mode of mac os in System Preferences/General:
<img width="755" alt="image" src="https://user-images.githubusercontent.com/29376715/61282629-facd6b00-a7bb-11e9-8403-84628a72f9e1.

[2019-07-16 15:45] #792 closed, assigned to nobody

[2019-07-16 15:49] akashnimare commented on #792
@jnnkB added in https://github.com/zulip/zulip-desktop/commit/6b1a55c7e4cc89908b9a04910857d49a8c394722 -

![image](https://user-images.githubusercontent.com/2263909/61308963-fe3e1200-a80e-11e9-8537-0dd1d251c1ab.png)

[2019-07-16 18:52] #518 closed, assigned to vsvipul

[2019-07-16 22:04] #600 closed, assigned to nobody

[2019-07-16 22:06] akashnimare commented on #601
@pspiller can you update the app to [v3.0.0](http://zulipchat.com/apps) and see if you can reproduce this?

[2019-07-16 22:09] akashnimare commented on #305
@timabbott this is fixed in https://github.com/zulip/zulip/pull/12677, right?

[2019-07-17 02:04] mwgamble commented on #601
I'm using v3.0.1 of the desktop application, and the issue is very much still happening.

[2019-07-17 23:29] pspiller commented on #601
I'm also on v3.0.1 and I'm still seeing the issue.

[2019-07-18 14:17] ewoutkramer commented on #305
If I understand it correctly, #12677 would restrict the count to private msgs/mentions, not the pinned channels.  Anyway, that's an improvement that I would certainly use!

[2019-07-18 14:41] akashnimare opened #794 "Broken inline reply on macOS"
Details - https://chat.zulip.org/#narrow/stream/16-desktop/topic/inline.20reply.20on.20macOS

[2019-07-23 16:38] #794 closed, assigned to priyank-p

[2019-07-23 16:51] akashnimare commented on #601
@pspiller, @mwgamble are you folks using Debian installer or snap/AppImage?

[2019-07-25 05:14] abhigyank commented on #689
Should be fixed in the v3.1-beta release. @skewty Can you check?
Can be closed if works for everyone.

[2019-07-25 05:17] abhigyank commented on #559
@penCsharpener Title bar and right click menus support dark theme now. You may test in the latest beta release.

@akashnimare This can probably be closed.

[2019-07-25 15:21] skewty commented on #689
Sorry, the company I work for purchased on-site Mattermost and we moved to that platform so I no longer have Zulip around for testing.

[2019-07-25 15:25] #689 closed, assigned to nobody

[2019-07-25 15:26] #559 closed, assigned to nobody

[2019-07-25 16:32] CodeDoctorDE opened #797 "German translation"
There is no space between the text and the topic name.

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS
- Click on a message in the german translation
- **Relevant error messages and/or screenshots**:
![Bildschirmfoto vom 2019-07-25 18-31-31](https://user-images.githubusercontent.com/20452814/61891676-7fca2a00-af0a-11e9-9f2f-44e4c17ff8de.png)

[2019-07-25 16:35] CodeDoctorDE opened #798 "Try not button doesn't reconnect to network"
The offline screen does not disappear when I have wifi.
- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
Disconnect with the wifi and reconnect.

[2019-07-25 16:46] akashnimare commented on #797
@timabbott can you transfer the issue to webapp?

[2019-07-25 16:49] akashnimare commented on #798
@CodeDoctorDE it should auto-reload the app. Can you attach a gif/video of the issue?

[2019-07-25 16:55] CodeDoctorDE commented on #797
yes

[2019-07-25 20:31] timabbott commented on #797
I just fixed it in the translation data.

[2019-07-25 20:31] #797 closed, assigned to nobody

[2019-07-25 22:28] akashnimare opened #799 "Disable window menu sub-items"
We should disable the following option when there is only one server

![image](https://user-images.githubusercontent.com/2263909/61912919-1a515a00-af59-11e9-9ec9-ddd96ff58fcf.png)

[2019-07-25 23:44] #799 closed, assigned to nobody

[2019-07-26 03:16] CodeDoctorDE commented on #798
The reload button in the left bottom corner works perfect.
But the screen does not appear. You must click on the organisation to go away from this. But the screen is there in the sidebar!

[2019-07-26 06:50] akashnimare commented on #798
Would be really helpful if you can attach a gif/video of the issue.

[2019-07-26 11:34] CodeDoctorDE commented on #798
My pc is private, sorry.
You can reproduce this error with disconnect with the wifi

[2019-07-30 22:18] vsvipul opened #801 "Fix alignment and look of Delete CSS Button in Settings"
---

- **Operating System**:
  - [ ] Windows
  - [x] Linux/Ubuntu
  - [ ] macOS
- **Clear steps to reproduce the issue**:
- **Relevant error messages and/or screenshots**:
Here, we can see the the Delete button is not aligned with other options and is also bigger than other buttons.
![Screenshot from 2019-07-31 03-46-01](https://user-images.githubusercontent.com/21038781/62169492-ff5e5b80-b345-11e

[2019-07-30 23:17] akashnimare commented on #527
@swallitsch, @ygini we just added this feature in https://github.com/zulip/zulip-desktop/pull/681. Docs [here](https://github.com/zulip/zulip-desktop/blob/master/docs/Enterprise.md). Please test it and let us know if you have any feedbacks etc.

[2019-07-30 23:17] #527 closed, assigned to nobody

[2019-07-30 23:18] akashnimare commented on #672
This should work now. @ftribrunn please check again.

[2019-07-30 23:18] #672 closed, assigned to nobody

[2019-07-30 23:19] #686 closed, assigned to nobody

[2019-07-30 23:36] akashnimare commented on #719
Feel free to re-open this if the above solution doesn't work.

[2019-07-30 23:36] #719 closed, assigned to nobody

[2019-07-31 06:12] ygini commented on #527
Hello

The implementation for macOS is bad, as said on my original post it must be MCX Based (so you must read NSUserDefaults on your specific domain of preferences).

This is the only way to provide management feature on macOS.

Your file based implementation will not be used because not compatible with MDM, and MDM is what everyone use for macOS management.

Your current solution does not answer

[2019-07-31 13:07] #718 closed, assigned to nobody

[2019-07-31 15:55] priyank-p commented on #527
@ygini Hello there!

The reason we did not provide the MCX based enterprise support for macos, and Windows Group Policy for windows is because we can't access those on our side. [electron](https://electronjs.org), the framework we use to build our desktop app doesn't provide such ability as of now.

The next step if you want to see this thing moving will be to [file a issue upstream to electron](h

[2019-08-01 07:30] ygini commented on #527
Administrators with MCX and MDM will provide values readable only via NSUserDefaults API, you can't try to directly read anything on the system because it's composed of multiple different plist.

And it's already supported by Electron for what I see in the documentation: https://github.com/electron/electron/blob/master/docs/api/system-preferences.md#systempreferencesgetuserdefaultkey-type-macos

S

[2019-08-01 19:16] #407 closed, assigned to nobody

[2019-08-01 23:27] priyank-p commented on #527
Given that electron supports it, can you give us details on how one would set values to `NSUserDefaults` API (this is the steps one needs to do in macos to set the values up), that will help us to effectively document it and test it one the feature is ready.

[2019-08-02 04:52] ygini commented on #527
Here is a sample profile

Save it as `zulip.mobileconfig` and open it on macOS, it will set for you the keys in NSUserDefaults.

This kind of profile can be installed manually for testing purpose or deployed via MDM. Behavior for you are the same.

[code]

[2019-08-02 04:54] ygini commented on #527
Also, the same exist for iOS (look at Mattermost doc here https://docs.mattermost.com/mobile/mobile-appconfig.html) but this one will require that you own a MDM to test it.

The main difference between iOS and macOS is here: with macOS the IT directly manage your preference domain so simply reading NSUserDefault will do the job.

On iOS, all managed keys are stored in a specific dictionary accessi

[2019-08-06 02:11] pspiller commented on #601
I'm using the Debian package.

[2019-08-07 05:38] mwgamble commented on #601
I am also using the Debian package.

[2019-08-07 15:27] #801 closed, assigned to nobody

[2019-08-08 17:38] sebastianelsner opened #807 "custom css not working any more with versions 3.x"
The following custom css is working with 2.3.82, but not with 3.0/3.1

[code]
The css will expand the height of the private messages section.

Tested on CentOS 7.5 with aforementioned Zulip Desktop versions. Zulip Server is 2.0.3.